page-backup-needed-modal {
  .popup-modal {
    background: #fff;
    top: 50% !important;
    left: 50%;
    width: 90%;
    height: 360px;
    max-width: 350px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    .modal-img {
      position: absolute;
      width: 100%;
      background-color: color($colors, danger);
      padding: 1rem;
      border-radius: 12px 12px 0px 0px;
      min-height: 120px;
      img {
        height: 90px;
      }
    } 
    .modal-content {
      padding-top: 2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 14rem;
      .modal-heading {
        font-size: 18px;
      }
      .modal-message {
        padding: 1rem 2rem 0rem 2rem;
        font-size: 12.5px;
        line-height: 22px;
      }
    }
  }
}
