body {
  letter-spacing: normal !important;
}

figure.bg-logo {
  height: 170px;
  width: 166px;
  background: rgba(44,62,80,0.15);
  margin: 0 0 10rem;
  padding-top: 105px;
  text-align: center;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

h2 {
  font-weight: 100;
  color: #535A6C;
}

p {
  font-weight: 100;
  color: #95A5A6;
  font-size: 1.2rem;
}

.line-dashed-v {
  border-right: 1px dashed #E3E3E3;
}

.header-modal {
  background: #2C3E50;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
}

button.warning, 
.button.warning { 
  background-color: #C0392A;
  color: #fff;
}

.box-download {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background: #f8f8f8;
  padding: 5rem 0;
  margin: 0;
}

.backstretch {
  left: 0px;
  top: 0px; 
  overflow: hidden; 
  margin: 0px; 
  padding: 0px; 
  width: 100%; 
  z-index: -999998; 
  position: absolute;
}

.backstretch img {
  min-width: 1440px;
}

.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.p5h {padding: 0 5rem;}
.m2r {margin-right: 2rem;}
.m4b {margin-bottom: 4rem;}
.p5t {padding-top: 5rem;}

.row {
  max-width: 100%;
  padding: 0 4%;
}

.feature {
  padding-top: 150px;
}

button {
  padding: 0.7rem 2rem !important;
}

button p {
  margin: 0;
  font-size: 1rem;
  color: #FFFFFF;
}

button small {
  font-weight: 100;
  font-size: 1rem;
  color: rgba(255,255,255,0.70);
}

.container {
  background: #F1F1F1;
}

.icon-button {
  font-size: 2rem;
  padding: 12% 0%;
  opacity: 0.2;
  height: 100%;
  width: 3.5rem;
  top: 0;
  left: 0;
  position: absolute;
  background: #342423;
}

.ribbon a {
  -webkit-transform: rotate(45deg);
  -moz-trans`form: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #2C3E50;
  position: absolute;
  top: 55px;
  right: -85px;
  display: block;
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  height: 42px;
  width: 326px;
  padding: 9px 83px;
}

header { 
  height: 81%;
  overflow: hidden;
  position: relative;
  min-height: 700px;
  display: block;
}

header h3, header p, header h4 {
  color: #fff;
  font-weight: 100;
}

header h3 {
  font-size: 2.7rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.btn-download {
    text-align: left;
    line-height: 20px;
    margin: 0 2rem 0 50px;
}

.source {
  overflow: hidden;
}

.source a {
  border-top: 2px solid #fff;
  background: #DFDFDF;
  padding: 1.5rem 0;
  height: 76px;
}

.source a:hover {
  background: #C0C0C0;
}

.sub-footer {
  background: #fff;
  overflow: hidden;
}

figure {
  margin: 1em 0;
}

footer {
  background-color: #2C3E50;
  overflow: hidden;
}



@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  header h3 {
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 40em) {

  figure.bg-logo {
    margin: 0 auto 5rem;
  }

  header h3 {
    font-size: 1.7rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    text-align: center;
  }

  .ribbon-phone a {
    background: #fff;
    color: #2C3E50;
    display: block;
    font-weight: 300;
    font-size: 20px;
    width: 60%;
    padding: 8px;
    margin: 40px auto;
    border-radius: 5px;
    text-align: center;
  }

  .icon-button {
    padding: 0.5rem 0;
    width: 4.5rem;
  }

  .ribbon-phone a:hover, .ribbon a:hover {
    background: #2C3E50;
    color: #fff;
    font-weight: 300;
  }

  .download {
    text-align: center;
  }

  .btn-download {
    text-align: left;
    line-height: 20px;
    margin: 0 0 0 7rem;
  }
}
