body {
	font-family: ubuntu, helvetica, arial;
	background-color: #F4F4F4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: ubuntu, helvetica, arial;
}

h4.visible-xs {
	color: #2C3E50;
	line-height: 1.5em;
}

h2 {
	font-weight: 100;
	font-size: 40px;
	color: #111;
	line-height: 51px;
	margin-top: 80px;
}

p {
	margin: 1.3em 0;
	font-weight: 100;
	font-size: 15px;
	color: #333;
	line-height: 23px;
}

.bg-black a {background: none;}

a {
	background: #EED216;
	color: #111;
	padding: 0.1em 0.3em;
	font-weight: 400;
}

a:hover {
	color: #111;
}

.ribbon-phone a {
	background: #FAE448;
	display: block;
	font-weight: 100;
	font-size: 20px;
	width: 60%;
	padding: 8px;
	margin: 40px auto;
	border-radius: 5px;
}

.ribbon-phone a:hover, .ribbon a:hover {
	background: #fff;
}

.ribbon a {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #FAE448;
	position: absolute;
	top: 75px;
	right: -71px;
	display: block;
	font-weight: 100;
	font-size: 20px;
	color: #111;
	height: 45px;
	width: 330px;
	padding: 8px;
}

pre {
	padding: 10px 15px;
	background: #111;
	font-family: 'Ubuntu Mono', sans-serif;
  	font-weight: 400;
	font-size: 18px;
	color: #fff;
	line-height: 30px;
	white-space: pre;
	margin-bottom: 3em;
}

.container {
	margin-bottom: 100px;
	margin-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

.bg-black {
	background: black;
	height: 90%;
	padding: 7% 4%;
	overflow: hidden;
	position: relative;
}

.bg-black h3 {
	color: #fff;
	margin-bottom: 20px;
}

.bg-black p {
	font-weight: 100;
	font-size: 20px;
	color: #ccc;
	line-height: 30px;
}

.line-negative-b {
	padding-bottom: 30px;
	margin: 57px auto;
	width: 60%;
	border-bottom: 1px dashed #ccc;
}

ul.list-unstyled {
	margin-bottom: 3em;
}

ul.list-unstyled li {
	line-height: 2em;
	margin-left: 2em;
	color: #999;
}

.black-text {
	padding-bottom: 30px;
	margin: 57px auto;
	width: 50%;
}

.line-negative-t {
	padding-top: 30px;
	border-top: 1px dashed #ccc;
}

.btn-default {
	border: 1px solid #fff;
	display: inline-block;
	font-weight: 100;
	font-size: 25px;
	color: #fff;
	line-height: 30px;
	padding: 16px; 
	border-radius: 5px;
	background: transparent;
	height: 63px;
	width: 300px;
}

.btn-default:hover {
	color: black;
	background: white;
}

input.btn-default {
	font-size: 14px;
	width: auto;
	height: auto;
	padding: 4px 20px;
	border: 0 !important;
	color: #C1C8CF;
}

footer {
	background: #111;
	padding: 5px 0;
}

footer .container, .sub-footer .container {
	margin-bottom: 20px;
}

footer p {
	margin: 0 10px;
	color: #ccc;
}
