/*
 *
 * Copay main CSS
 *
 */

* {
  margin:0;
  padding:0;
}

body, html{
  height:100%;
  width:100%;
  background: #F8F8FB;
}

.page, .main, .sidebar {
  height:100%;   
}

.sidebar {
  position: fixed;
  width: 250px;
  padding: 15px;
  background-color: #2C3E50;
  color: #fff;
}

.sidebar a {
  color: #fff;
}

.main {
  margin-left: 250px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.dn {display: none;}
.pr {position: relative;}
.m0 {margin: 0;}
.db {display: block;}
.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.m5t {margin-top: 5px;}
.m10t {margin-top: 10px;}
.m5b {margin-bottom: 5px;}
.m10b {margin-bottom: 10px;}
.m15b {margin-bottom: 20px;}
.m10r {margin-right: 10px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.p10t {padding-top: 10px;}
.p0r {padding-right: 0;}
.p70r {padding-right: 70px;}
.p70l {padding-left: 70px;}
.p5h {padding: 0 5px;}
.p20h {padding: 0 20px;}
.m30v {margin: 30px 0;}
.m10h {margin:0 10px;}
.m30a {margin: 30px auto;}
.br100 {border-radius: 100%;}
.lh {line-height: 0;}
.oh {overflow:hidden;}
.lh {line-height: 0;}

.panel.input {
  padding: 0.7rem 1rem;
  margin-bottom: 0;
  border-radius: 5px;
  background: #F8F8F8;
  -moz-box-shadow:    inset 0px 0px 3px 0px rgba(0,0,0,0.10);
  box-shadow:         inset 0px 0px 3px 0px rgba(0,0,0,0.10);
}

.text-gray.active {
  color: #111;
  font-weight: 700;
}

.logo {
  display: block;
  height: 51px;
}

.panel {
  border:0;
}

.panel.status {
  margin: 0;
}

.addresses .panel {
  font-size: 0.9rem;
}

.transactions .panel {
  border: 1px solid #eee;
}

.transactions .panel {
  padding: 0;
}

.pending table {
  width: 100%;
  border: none;
}

.line-dashed-v {
  border-right: 2px dashed #E3E3E3;
}

.line-dashed-h {
  border-bottom: 1px dashed #E3E3E3;
}

.panel p {
  margin-bottom: 0;
}

span.panel-res {
  float: right;
  padding: 0.4rem 0.55rem;
  margin: 0 1rem;
  border-radius: 1rem;
}

.pending button {
  margin: 0 10px 0 0;
}

.line {
  border-top: 1px solid #f2f2f2;
  margin: 0.5rem 0 1rem;
}

.line-dashed {
  border-top: 1px dashed #ccc;
  margin: 1rem 0;
  padding: 1rem 0;
  overflow: hidden;
}

small.is-valid {
  font-weight: bold;
}

small.has-error {
  font-weight: bold;
}

.totalAmount {
  line-height: 120%;
  margin-top:2px;
}


/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.small {
  font-size: 60%;
  line-height: inherit;
}

.new-address {
  width: 220px;
}
 
.transactions button, .transactions .button {
  padding: 0.5rem 2rem;
}
 
hr { margin: 2.25rem 0;}

.video-small {
  width: 50px;
  height: 50px;
  border-radius: 0.3rem;
  display: inline;
  float: right;
}

.setup .video-small {
  float: none !important;
}

.online {
  background-color: black;
  border: 3px solid #1ABC9C;
}
.online:hover {
  border-color: #16A085;
}
.offline {
  border: 3px solid gray;
  opacity: 0.4;
}

.tx-copayers {
  overflow: hidden;
  padding: 10px;
}

.box-copayers {
  padding: 0.5rem 2rem 0.5rem 1rem;
  float: left;
}

.box-copayers figure {
  width: 51px;
  height: 63px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  overflow: hidden;
  margin-right: 0.8px;
}

.box-status {
  width: 16px;
  height: 55px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  float: left;
  overflow: hidden;
}

.icon-status {
  background: #2C3E50;
  width: 16px;
  float: left;
  text-align: center;
  display: block;
  margin: 0.8px;
  padding: 2.7px;
}

.box-setup {
  margin-bottom: 25px;
}

.box-setup-copayers {
	position: relative;
	background: #ffffff;
	border: 2px solid #eee;
}

.box-setup-copayers:after, .box-setup-copayers:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.box-setup-copayers:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}

.box-setup-copayers:before {
	border-color: rgba(238, 238, 238, 0);
	border-bottom-color: #eee;
	border-width: 23px;
	margin-left: -23px;
}

.box-setup-copayers-fix {
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

.box-setup-copay {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 3px solid #eee;
  opacity: 0.3;
  border-radius: 0.3rem;
}

.box-setup-copay-required {
  border: 3px solid #1ABC9C;
  opacity: 1;
}

.tx-copayers {
  background: #F8F8F8;
  -moz-box-shadow:    inset 0px 0px 4px 0px rgba(0,0,0,0.05), inset 0px 1px 1px 0px rgba(0,0,0,0.05);
  box-shadow:         inset 0px 0px 4px 0px rgba(0,0,0,0.05), inset 0px 1px 1px 0px rgba(0,0,0,0.05);
}

.box-copayers .icon-inactive {
  color: #4C5B69;
}

.box-copayers .icon-active {
  color: #fff;
}

.box-copayers .icon-active-check {
  color: #fff;
  background: #3FBC9C;
}

.box-copayers .icon-active-x {
  color: #fff;
  background: #C0392B;
}

.box-note {
  text-align: center;
  clear: both;
  font-style: italic;
  color: gray;
  margin-bottom: 10px;
}

.box-signin {
  padding: 20px 40px;
  border: 1px solid #eee;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.box-signin h3 {
  margin-bottom: 20px;
}

.box-signin .button {
  margin: 20px 0;
  width: 200px;
}

a.loading {
  background: #fff;
}

#qr-canvas { display: none; }
#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

.icon-rotate {
	animation-name: rotateThis;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.spinner {
  display:inline-block; 
  width: 1em; 
  text-align:center; 
  line-height:1em; 
  vertical-align:middle;
}

@-webkit-keyframes yellow-flash {
  0% {
    background-color: #FFFFE0;
    opacity:1;
  }
  22% {
    background-color: #FFFFE0;
  }
  100% {
    background-color: none;
  }
}

.highlight{
  -webkit-animation-name: yellow-flash;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: yellow-flash;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
}

/* notifications */

.dr-notification-container {
  position: absolute;
  z-index: 10000;
}

.dr-notification-container.bottom {
  bottom: 20px;
}

.dr-notification-container.right {
  right: 20px;
}

.dr-notification-container.left {
  left: 20px;
}

.dr-notification-container.top {
  top: 20px;
}

.dr-notification-container.center {
  left: 50%;
  margin-left: -190px;
}

.dr-notification-wrapper {
  width: 380px;
  position: relative;
  margin: 10px 0;
}

.dr-notification {
  width: 380px;
  clear: both;
  min-height: 80px;
  max-height: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.dr-notification-close-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 3px;
  font-size: 12px;
  position: absolute;
  right: -8px;
  top: -8px;
  -webkit-transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  -moz-transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  cursor: pointer;
  z-index: 10;
}
.dr-notification-close-btn i {
  padding-left: 3px;
}
.dr-notification-close-btn:hover {
  -webkit-transform: scale3d(1.25, 1.25, 1);
  -moz-transform: scale3d(1.25, 1.25, 1);
  -ms-transform: scale3d(1.25, 1.25, 1);
  transform: scale3d(1.25, 1.25, 1);
}

.dr-notification-image {
  width: 80px;
  height: 80px;
  border-right: 1px solid rgba(4, 94, 123, 0.85);
  float: left;
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
}
.dr-notification-image i {
  display: block;
  width: 100%;
  padding-top: 20px;
}
.dr-notification-image img {
  margin: 15px;
  max-width: 70px;
  min-width: 48px;
}

.dr-notification-content {
  padding-left: 90px;
  padding-right: 10px;
  padding-top: 5px;
}

.dr-notification-title {
  color: white;
  padding: 0px;
  font-size: 16px;
}

p.dr-notification-text {
  margin-top: -5px;
  font-size: 12px;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.pagination li.current a {
  background: #1ABC9C;
}

ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #16A085;
}

.alert-box a { 
  color:white;
}

.input-note {
  margin-top: -10px;
  display: block;
  margin-bottom: 1rem;
}
.addressbook-disabled td {
  color: #ccc;
}
.addressbook-disabled td a {
  color: #7A9FB6;
}

.back-button {
  padding-top: 15px;
  display: block;
  float: left;
}

/*
 *
 * Copay Default Template
 *
 */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../font/ubuntu-light.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../font/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../font/ubuntu-bold.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(../font/ubuntu-bold-italic.woff) format('woff');
}

* {
  font-family: 'Ubuntu', Helvetica, sans-serif !important;
}

.logo {
  background: transparent url('../img/logo-negative-beta.svg') no-repeat;
  background-size: 130px 51px;
}

.panel {
  color: #333;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
}

.transactions .panel {
  background: #f5f5f5;
}

.transactions .panel.pending {
  background-color: #fff; 
}

.btransactions .panel {
  background: #fff;
}

.addresses .panel:hover, .addresses .panel.selected {
  background: #efefef;
}

a.box-backup {
  color: #111;
}

a.box-backup:hover {
  background-color: #16A085;
}

a.box-backup:hover i, a.box-backup:hover p {
  color: #fff;
}

.panel-sign {
  color: #111;
  background: #FAE448;
}

.panel-ignore {
  color: #fff;
  background: #111;
}

.share-wallet.panel {
  background-color: #111;
  color: #FBE500;
}

.alert-box.success {
  background-color: #CDEFE6;
  color: #16A085;
  border:none;
}
.alert-box.info {
  background-color: #DEE6EF;
  border:none;
  color: #2C3E50;
}

.alert-box.error {
  background-color: #E8D7D7;
  border:none;
  color: #C0392B;
}

.text-warning {
  color:#C0392A;
}

small.is-valid {
  color: #04B404;
}

small.has-error {
  color: #f04124;
}

.radius {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

button.radius, .button.radius {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* SECONDARY */
button.secondary, 
.button.secondary { 
  background-color: #1ABC9C;
  color: #fff;
}
button.secondary:hover, 
button.secondary:focus, 
.button.secondary:hover, 
.button.secondary:focus {
  background-color: #16A085;
  color: #e6e6e6;
}
button.disabled.secondary, 
button[disabled].secondary, 
.button.disabled.secondary, 
.button[disabled].secondary,
button.disabled.secondary:hover, 
button.disabled.secondary:focus, 
button[disabled].secondary:hover, 
button[disabled].secondary:focus, 
.button.disabled.secondary:hover, 
.button.disabled.secondary:focus, 
.button[disabled].secondary:hover, 
.button[disabled].secondary:focus {
  background-color: #1ABC9C;
  color: #E6E6E6;
}

/* PRIMARY */
button.primary, 
.button.primary { 
  background-color: #E67E22;
  color: #fff;
}
button.primary:hover, 
button.primary:focus, 
.button.primary:hover, 
.button.primary:focus {
  background-color: #D86601;
  color: #e6e6e6;
}
button.disabled.primary, 
button[disabled].primary, 
.button.disabled.primary, 
.button[disabled].primary,
button.disabled.primary:hover, 
button.disabled.primary:focus, 
button[disabled].primary:hover, 
button[disabled].primary:focus, 
.button.disabled.primary:hover, 
.button.disabled.primary:focus, 
.button[disabled].primary:hover, 
.button[disabled].primary:focus {
  background-color: #E67E22;
  color: #E6E6E6;
}

/* WARNING */
button.warning, 
.button.warning { 
  background-color: #C0392A;
  color: #fff;
}
button.warning:hover, 
button.warning:focus, 
.button.warning:hover, 
.button.warning:focus {
  background-color: #82251A;
  color: #e6e6e6;
}
button.disabled.warning, 
button[disabled].warning, 
.button.disabled.warning, 
.button[disabled].warning,
button.disabled.warning:hover, 
button.disabled.warning:focus, 
button[disabled].warning:hover, 
button[disabled].warning:focus, 
.button.disabled.warning:hover, 
.button.disabled.warning:focus, 
.button[disabled].warning:hover, 
.button[disabled].warning:focus {
  background-color: #C0392A;
  color: #E6E6E6;
}

.text-gray { color: #999 !important;}

#footer {
  background: #2C3E50;
  color: #fff;
}

fieldset legend {
  background: #F8F8FB;
}

input.ng-invalid-wallet-secret {
  background: #FFB6C1;
}

.dr-notification {
  background-color: #2C3E50;
  color: #bfe2de;
  border: 1px solid rgba(4, 94, 123, 0.85);
  opacity: 0.9;
}
.dr-notification-close-btn {
  background-color: #2C3E50;
  color: #fff;
  border: 1px solid rgba(4, 94, 123, 0.85);
}

.dr-notification-image.dr-notification-type-info {
  color: #FFF;
}

.dr-notification-image.dr-notification-type-warning {
  color: #FFA226;
}

.dr-notification-image.dr-notification-type-error {
  color: #FF4B4F;
}

.dr-notification-image.dr-notification-type-success {
  color: #B4D455;
}

.dr-notification-image.success {
  color: #B4D455;
}

.success {
  color: #3FBC9C;
}

.box-setup fieldset {
  background: #fff;
}

.tooltip { 
  background: #16A085; 
  color: #fff; 
  font-weight: normal; 
  font-size: 14px; 
  padding: 3px 5px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  border: 1px solid #16A085; 
}

.tooltip>.nub {
  border-color:transparent transparent #16A085 transparent;
}
.tooltip.tip-top>.nub {
  border-color:#16A085 transparent transparent transparent;
}
.tooltip.tip-right>.nub {
  border-color:transparent #16A085 transparent transparent;
}
.tooltip.tip-left>.nub {
  border-color:transparent transparent transparent #16A085;
}


