/*
 *
 * Copay main CSS
 *
 */

* {
  margin:0;
  padding:0;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  overflow:auto;
	padding-bottom: 91px;}  /* must be same height as the footer */

.main-home {
  padding-bottom: 28px !important;
}

.panel.input {
  padding: 0.7rem 1rem;
  margin-bottom: 0;
  border-radius: 5px;
  background: #F8F8F8;
  -moz-box-shadow:    inset 0px 0px 3px 0px rgba(0,0,0,0.10);
  box-shadow:         inset 0px 0px 3px 0px rgba(0,0,0,0.10);
}

.text-gray.active {
  color: #111 !important;
  font-weight: 700;
}

#footer {
  position: fixed;
	margin-top: -96px; /* negative value of footer height */
	
  height: 80px;
	clear:both;
  padding: 5px 2rem;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.footer-home {
  position: relative !important;
  margin-top: -28px !important;
	height: 28px !important;
}

.bottom-copay {
  width: 50px;
  text-align: center;
  position: relative;
  float: right;
  margin-left: 20px;
  /* height: 551px; */
}

.logo {
  display: block;
  height: 51px;
  margin: 0 auto;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 60px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  line-height: 60px;
  font-weight: 700;
}

.top-bar-section ul li>a {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9rem;
}

.top-bar-section ul li {
  width: 25%;
}

.top-bar-section .label.alert {
  vertical-align: super;
  margin-left: 5px;
}

.header {
  margin-bottom: 30px;
}

.header-content {
  padding: 2rem;
  overflow: hidden;
}

.header a.button.small-icon {
  padding: 0.1rem 0.3rem;
  font-size: 0.9rem;
  margin-left: 5px;
}

.header h1, h5, p {
  font-weight: 100;
  margin-bottom: 0;
}

.header button, .button {
  margin-bottom: 0;
}

.header h6 {
  font-weight: 100;
}

.top-bar {
  height: auto;
  width: 100%;
}

.panel {
  border:0;
}

.panel.status {
  margin: 0;
}

.addresses .panel {
  font-size: 0.9rem;
}

.transactions .panel {
  border: 1px solid #eee;
}

.transactions .panel {
  padding: 0;
}

.pending table {
  width: 100%;
  border: none;
}

.box-backup {
  margin: 0.6rem 0;
  padding: 2rem 1rem;
}

a.box-backup {
  display: block;
}

.box-backup i {
  margin-bottom: 2rem;
  display: block;
}

h3 {
  font-weight: 100;
  font-size: 25px;  
}

.line-dashed-v {
  border-right: 2px dashed #E3E3E3;
}

@media (max-width: 640px) {
  .line-dashed-v {
    border: none;
  }
}

.line-dashed-h {
  margin: 1rem 0;
  border-bottom: 2px dashed #E3E3E3;
}

.panel p {
  margin-bottom: 0;
}

span.panel-res {
  float: right;
  padding: 0.4rem 0.55rem;
  margin: 0 1rem;
  border-radius: 1rem;
}

.pending button {
  margin: 0 10px 0 0;
}

.line {
  border-top: 1px solid #f2f2f2;
  margin: 0.5rem 0 1rem;
}

.line-dashed {
  border-top: 2px dashed #ccc;
  margin: 1rem 0;
  padding: 1rem 0;
}


small.is-valid {
  font-weight: bold;
}

small.has-error {
  font-weight: bold;
}


.totalAmount {
  line-height: 120%;
  margin-top:2px;
}


/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.small {
  font-size: 60%;
  line-height: inherit;
}

@media (max-width: 641px) {
  .hide_menu {
    display: none;
  }
  .show_menu {
    display: block;
  }
  .top-bar-section ul li {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .top-bar-section ul li>a {
    font-size: 70%;
  }
}

.new-address {
  width: 220px;
}
 
 
hr { margin: 2.25rem 0;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.dn {display: none;}
.pr {position: relative;}
.m0 {margin: 0 !important;}
.db {display: block;}
.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.m5t {margin-top: 5px;}
.m10t {margin-top: 10px;}
.m5b {margin-bottom: 5px;}
.m10b {margin-bottom: 10px;}
.m15b {margin-bottom: 20px !important;}
.m10r {margin-right: 10px;}
.m10 {margin: 10px !important;}
.m15 {margin: 15px !important;}
.p10t {padding-top: 10px;}
.p0r {padding-right: 0;}
.p70r {padding-right: 70px;}
.p70l {padding-left: 70px;}
.p5h {padding: 0 5px;}
.p20h {padding: 0 20px;}
.m30v {margin: 30px 0;}
.m10h {margin:0 10px;}
.m30a {margin: 30px auto;}
.br100 {border-radius: 100%;}
.lh {line-height: 0;}
.oh {overflow:hidden;}
.lh {line-height: 0;}

.video-small {
  width: 50px;
  height: 50px;
  border-radius: 0.3rem;
  display: inline;
  float: right;
}
.online {
  background-color: black;
  border: 3px solid #1ABC9C;
}
.online:hover {
  border-color: #16A085;
}
.offline {
  border: 3px solid gray;
  opacity: 0.4;
}

.tx-copayers {
  overflow: hidden;
  padding: 10px;
}

.box-copayers {
  padding: 0.5rem 2rem 0.5rem 1rem;
  float: left;
}

.box-copayers figure {
  width: 51px;
  height: 63px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  overflow: hidden;
  margin-right: 0.8px;
}

.box-status {
  width: 16px;
  height: 55px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  float: left;
  overflow: hidden;
}

.icon-status {
  background: #2C3E50;
  width: 16px;
  float: left;
  text-align: center;
  display: block;
  margin: 0.8px;
  padding: 2.7px;
}

.box-setup {
  margin-bottom: 25px;
}

.box-setup-copayers {
	position: relative;
	background: #ffffff;
	border: 2px solid #eee;
}

.box-setup-copayers:after, .box-setup-copayers:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.box-setup-copayers:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}

.box-setup-copayers:before {
	border-color: rgba(238, 238, 238, 0);
	border-bottom-color: #eee;
	border-width: 23px;
	margin-left: -23px;
}

.box-setup-copayers-fix {
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

.box-setup-copay {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 3px solid #eee;
}

.box-setup-copay-required {
  border: 3px solid green;
}

.tx-copayers {
  background: #F8F8F8;
  -moz-box-shadow:    inset 0px 0px 4px 0px rgba(0,0,0,0.05), inset 0px 1px 1px 0px rgba(0,0,0,0.05);
  box-shadow:         inset 0px 0px 4px 0px rgba(0,0,0,0.05), inset 0px 1px 1px 0px rgba(0,0,0,0.05);
}

.box-copayers .icon-inactive {
  color: #4C5B69;
}

.box-copayers .icon-active {
  color: #fff;
}

.box-copayers .icon-active-check {
  color: #fff;
  background: #3FBC9C;
}

.box-copayers .icon-active-x {
  color: #fff;
  background: #C0392B;
}

.box-note {
  text-align: center;
  clear: both;
  font-style: italic;
  color: gray;
  margin-bottom: 10px;
}

.box-signin {
  padding: 20px 40px;
  border: 1px solid #eee;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.box-signin h3 {
  margin-bottom: 20px;
}

.box-signin .button {
  margin: 20px 0;
  width: 200px;
}

a.loading {
  background: #fff;
}

#qr-canvas { display: none; }
#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

.icon-rotate {
	animation-name: rotateThis;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.spinner {
 display:inline-block; 
 width: 1em; 
 text-align:center; 
 line-height:1em; 
 vertical-align:middle
}

@-webkit-keyframes yellow-flash {
    0% {
        background-color: #FFFFE0;
        opacity:1;
    }
    22% {
        background-color: #FFFFE0;
    }
    100% {
        background-color: none;
    }
}

.highlight{
  -webkit-animation-name: yellow-flash;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  -moz-animation-name: yellow-flash;
    -moz-animation-duration: 400ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}



/* notifications */

.dr-notification-container {
  position: absolute;
  z-index: 10000;
}

.dr-notification-container.bottom {
  bottom: 20px;
}

.dr-notification-container.right {
  right: 20px;
}

.dr-notification-container.left {
  left: 20px;
}

.dr-notification-container.top {
  top: 20px;
}

.dr-notification-container.center {
  left: 50%;
  margin-left: -190px;
}

.dr-notification-wrapper {
  width: 380px;
  position: relative;
  margin: 10px 0;
}

.dr-notification {
  width: 380px;
  clear: both;
  min-height: 80px;
  max-height: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.dr-notification-close-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 3px;
  font-size: 14px;
  position: absolute;
  right: -11px;
  top: 5px;
  -webkit-transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  -moz-transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  transition: all 0.35s cubic-bezier(0.31, 0.39, 0.21, 1.65);
  cursor: pointer;
}
.dr-notification-close-btn i {
  padding-left: 3px;
}
.dr-notification-close-btn:hover {
  -webkit-transform: scale3d(1.25, 1.25, 1);
  -moz-transform: scale3d(1.25, 1.25, 1);
  -ms-transform: scale3d(1.25, 1.25, 1);
  transform: scale3d(1.25, 1.25, 1);
}

.dr-notification-image {
  width: 80px;
  height: 80px;
  border-right: 1px solid rgba(4, 94, 123, 0.85);
  float: left;
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
}
.dr-notification-image i {
  display: block;
  width: 100%;
  padding-top: 25px;
}
.dr-notification-image img {
  margin: 15px;
  max-width: 70px;
  min-width: 48px;
}

.dr-notification-content {
  padding-left: 100px;
  padding-right: 15px;
  padding-top: 10px;
}

.dr-notification-title {
  color: white;
  padding: 0px;
  font-size: 20px;
}

p.dr-notification-text {
  margin-top: -5px;
  font-size: 12px;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.pagination li.current a {
  background: #1ABC9C;
}

ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #16A085;
}

.alert-box a { 
  color:white;
}

@media only screen and (max-width: 40em) { 

  #main, .header-content {
    font-size: 80%;
    line-height: 140%;
  }

  .top-bar {
    background: #1ABC9C;
  }

  .header-content {
    padding: 0.3rem 0rem 1rem 0.4rem;
  }

  .logo {
    background-size: 90px 44px !important;
    float: left;
    margin-top: 0.7rem;
    width: 130px;
  }

  .header-content .small-9 {
    text-align: right !important;
  }

  .header-content .line-dashed-v {
    border: none !important;  
  }

  .box-backup {
    margin: 0.6rem 0;
  }

  #footer {
    font-size: 80%;
    padding: 0.2rem 0.5rem;
  }

  .box-status {
    height: 71px;
  }

  .box-copayers figure {
    height: 71px;
    width: 71px;
  }

}
