html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font: 12px arial;
}

svg {
  display: block;
  font: 10px arial;
}

.chart svg {
  width: 640px;
  height: 300px;
}

ul#totals {
  list-style:none;
}

#totals li {
  display:inline-block;
  text-align: center;
  padding: 20px;
  margin: 8px;
  border: 1px lightgray solid;
  height: 60px;
  width: 140px;
}

#totals .label {
  font-size: 12px;
  color: #888;
}

#totals .value {
  color: #555;
  font-size: 30px;
  font-weight: bold;
  display: block;
  padding: 10px 0 0 0;
}
