html, body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

h3 {
  margin-top: 4rem;
}

.panel {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}

svg {
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.top-bar {
  background: #35495D;
  padding: 1.5rem;
  height: auto;
  overflow: hidden;
  margin-bottom: 3rem;
}

.top-bar .row {
  max-width: 62.5em;
}

footer a {
  color: #7A8C9E;
  text-transform: uppercase;
  margin-top: 28px;
}

footer a:hover {
  color: #2C3E50;
}

.m20t {margin-top: 20px;}
.m10 {margin: 10px;}

section.download {
  background: #00BD9C;
  padding: 4rem;
  margin-top: 3rem;
}

section.download h2 {
  color: #FFFFFF;
  line-height: 2.3;
}

section.download button {
  text-transform: uppercase;
}

section.download button.outline {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

#totals li {
  display:inline-block;
  padding: 20px;
}

#totals li:first-child {
  margin-left: 0;
}

#totals li:last-child {
  margin-right: 0;
}

#totals span {
  font-size: 12px;
  color: #888;
}

#totals .value {
  color: #555;
  font-size: 30px;
  font-weight: bold;
  display: block;
  padding: 10px 0 10px 0;
}



/* --------------------------------------------- */

.nvd3 text {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
