html, body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

h3 {
  margin-top: 4rem;
}

.panel {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}

svg {
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.top-bar {
  background: #35495D;
  padding: 1.5rem;
  height: auto;
  overflow: hidden;
  margin-bottom: 3rem;
}

.top-bar .row {
  max-width: 62.5em;
}

.top-bar label  {
  color: #A5B2BF;
}

.top-bar button {
  vertical-align: top;
}

.top-bar input {
  width: 140px;
  height: 30px;
  border-radius: 3px;
}

.spinner {
  margin: 20% 50%;
}

footer a {
  color: #7A8C9E;
  text-transform: uppercase;
  margin-top: 2.1rem;
  font-size: 0.8rem;
}

footer a:hover {
  color: #2C3E50;
}

.m20t {margin-top: 20px;}
.m10 {margin: 10px;}
.oh {overflow: hidden;}

section.download {
  background: #00BD9C;
  padding: 4rem 0;
  margin-top: 3rem;
}

section.download h3 {
  color: #FFFFFF;
  margin: 0 0 2rem;
}

section.download a {
  text-transform: uppercase;
}

section.download a.outline {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

section.download a.outline:hover {
  background: #fff;
  color: #00BD9C;
}

#totals li {
  display:inline-block;
  padding: 10px;
}

#totals li:hover {
  background-color: #f1f3f5;
}

#totals li:first-child {
  margin-left: 0;
}

#totals li:last-child {
  margin-right: 0;
}

#totals span {
  font-size: 12px;
  color: #888;
}

#totals .value {
  color: #555;
  font-size: 30px;
  font-weight: bold;
  display: block;
  padding: 10px 0 10px 0;
}



/* --------------------------------------------- */

.nvd3 text {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.Zebra_DatePicker {
  background-color: #213140;
  border: 3px solid #213140;
}

.Zebra_DatePicker td.dp_selected {
  background: #1ABC9C;
}

.Zebra_DatePicker td.dp_current {
  color: #1ABC9C;
}

.Zebra_DatePicker td.dp_hover {
  background: #2C3E50;
}

.Zebra_DatePicker .dp_header .dp_hover {
  background: #2C3E50;
}

.Zebra_DatePicker .dp_footer .dp_hover {
  background: #2C3E50;
}

button.Zebra_DatePicker_Icon {
  background: url('../img/calendar.svg') no-repeat left top;
}
