/*
 *
 * Copay Clean Template
 *
 */

.logo {
  background: transparent url('../img/logo.png') no-repeat;
}

#footer {
  background: #333;
  color: #fff;
}

.dr-notification {
  background-color: #000;
  color: #fff;
  border: 1px solid #eee;
}
