body {
  background: #F5F5F5;
}

.logo {
  background: transparent url('../img/logo-negative.png');
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #FAE448;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #f5f5f5;
  color: #111;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover, .top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #111;
  color: white;
}

.top-bar-section ul li>a {
  color: #111;
}

.header {
  background: #111;
  color: white;
}

.header h1, h5 {
  color: #fff;
}

.panel {
  color: #333;
  background: #FFFFFF;
}

.transactions .panel {
  background: #f5f5f5;
}

.transactions .panel.pending {
  background-color: #fff; 
}

.pending .txbottom {
  border-top: 1px solid #eee;
}

.btransactions .panel {
  background: #fff;
}

.addresses .panel:hover {
  background: #efefef;
}

a.box-backup {
  color: #111;
}

.panel-sign {
  color: #111;
  background: #FAE448;
}

.panel-ignore {
  color: #fff;
  background: #111;
}

.share-wallet.panel {
  background-color: #111;
  color: #FBE500;
}

.alert-box.warning, .alert-box.error {
  background-color: #C0392A;
  border-color: #C0392A;
  color: #fff;
}

.text-warning {
  color:#C0392A;
}

small.is-valid {
  color: #04B404;
}

small.has-error {
  color: #f04124;
}

button.primary { background-color: #111; }
button.secondary { background-color: #FAE448 !important; }

button.primary:hover { background-color: #333;}
button.secondary:hover { background-color: #FFDF00 !important;}

.text-gray { color: #999;}

