<action-sheet>
  <div class="info-container" [ngSwitch]="sheetType">
    <info-sheet-template *ngSwitchCase="'address-copied'" type="success">
      <span sheet-title-text>{{'Copied {coin} address' | translate: {coin: params.coin | uppercase } }}</span>
      <span sheet-text class="text-address">{{params.address}}</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'custom-amount'" type="success">
      <span sheet-title-text translate>Copied</span>
      <span sheet-text>{{params.qrAddress}}</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'copayers'" type="success">
      <span sheet-title-text translate>Copied</span>
      <span sheet-text>
        {{params.secret}}
      </span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>
    <info-sheet-template *ngSwitchCase="'receiving-bitcoin'" type="info">
      <span sheet-title-text>{{'Receiving {coinName} address' | translate: {coinName: params.coinName } }}</span>
      <span sheet-text>
        {{'Your wallet address is similar to a bank account number. You can add funds to your wallet by withdrawing funds you may
        have stored on an exchange to your wallet address. Or other {coinName} users can send you money by scanning your
        QR code.' | translate: {coinName: params.coinName} }}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-needed-with-activity'" type="info">
      <span sheet-title-text translate>Needs Backup</span>
      <span sheet-text translate>
        Congratulations! It looks like you've recently received money. It's highly advised that you verify your recovery phrase so
        that your funds can be recovered in case your phone was lost or stolen.</span>
      <span sheet-button-text translate>Continue</span>
      <span sheet-second-button-text translate>Not right now</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'miner-fee-notice'" type="warning">
      <span sheet-title-text translate>Miner Fee Notice</span>
      <span sheet-text>
        {{'Because you are sending the maximum amount contained in this wallet, the {coinName} miner fee ({fee} {coin}) will be deducted
        from the total. {msg}' | translate: {coinName: params.coinName, fee: params.fee, coin: params.coin, msg: params.msg}
        }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'miner-fee'" type="danger">
      <span sheet-title-text>{{ '{coinName} miner fees unusually high' | translate: {coinName: params.coinName } }}</span>
      <span sheet-text>
        {{ '{coinName} miner fees are high due to record demand for limited space on the {coinName} network. BitPay does not receive
        and does not control {coinName} miner fees.' | translate: {coinName: params.coinName } }}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'insufficient-funds'" type="danger">
      <span sheet-title-text translate>Not enough funds</span>
      <span sheet-text>
        {{ 'You are trying to send ({amount} {coin}) more than what your wallet contains. Please enter a lower amount or send max.'
        | translate: {amount: params.amount, coin: params.coin | uppercase} }}</span>
      <span sheet-button-text translate>Change Amount</span>
      <span sheet-second-button-text translate>Send Max</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'default-error'" type="danger">
      <span sheet-title-text>{{params.title}}</span>
      <span sheet-text>{{params.msg}}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-warning'" type="warning">
      <span sheet-title-text translate>Screenshots are not secure</span>
      <span sheet-text translate>
        If you take a screenshot, your backup may be viewed by other apps. You can make a safe backup with physical paper and a pen.
      </span>
      <span sheet-button-text translate>I understand</span>
      <span sheet-second-button-text translate>Go Back</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-ready'" type="success">
      <span sheet-title-text>{{'Your {walletType} wallet is backed up!' | translate : {walletType: params.walletType} }}</span>
      <span sheet-text translate>
        Be sure to store your recovery phrase in a secure place. If this app is deleted, your money cannot be recovered without it.
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'sensitive-info'" type="warning">
      <span sheet-title-text translate>Sensitive Data</span>
      <span sheet-text translate>
        The information you are about to share/export may contain sensitive data such us wallet IDs, addresses, balances, etc. Please
        be sure you trust the person or entity with whom you are sharing this information.
      </span>
      <span sheet-button-text translate>I understand</span>
      <span sheet-second-button-text translate>Go Back</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'copy-to-clipboard'" type="success">
      <span sheet-title-text translate>Copied to Clipboard</span>
      <span sheet-text>{{params?.msg}}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'copied-gift-card-claim-code'" type="info">
      <span sheet-title-text translate>{{'Copied: {claimCode}' | translate: {claimCode: params.claimCode} }}</span>
      <span sheet-text translate>{{'Paste this code on {website}. This gift card cannot be recovered if your claim code is lost.' | translate: {website:
        params.website} }}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'archive-gift-card'" type="warning">
      <span sheet-title-text translate>Archive this Card?</span>
      <span sheet-text translate>Have you redeemed the entire balance of this gift card?</span>
      <span sheet-button-text translate>YES</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'gift-card-archived'" type="success">
      <span sheet-title-text translate>Card Archived</span>
      <span sheet-text translate>You can continue to view your archived cards here if you need to access them.</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'legacy-address-info'" type="info">
      <span sheet-title-text>{{'{appName} BCH wallets use the CashAddr format by default' | translate: {appName: params.appName} }}</span>
      <span sheet-text translate>
        If you need to send to "old" addresses (like the one you just pasted), and you are SURE those are BCH addresses, you can
        "translate" them using the BCH Translator tool and paste the corresponding address in CashAddr format for that "old"
        address.
      </span>
      <span sheet-button-text translate>Translate address</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'appreciate-review'" type="love">
      <span sheet-title-text translate>We appreciate your review</span>
      <span sheet-text translate>5-star ratings help us get BitPay Wallet into more hands, and more users means more resources can be committed to the
        app!
      </span>
      <span sheet-button-text>{{'Rate on the {storeName}' | translate: {storeName: params?.storeName} }}</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-failed'" type="warning">
      <span sheet-title-text translate>Uh oh...</span>
      <span sheet-text translate>
        It's important that you write your backup phrase down correctly. If something happens to your wallet, you'll need this backup
        to recover your money. Please review your backup and try again.
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'payment-request'" type="info">
      <span sheet-title-text translate>Payment Request info</span>
      <span sheet-text>
        {{'Share this QR code to receive {amount} in your wallet {name}.' | translate: {amount: params.amount, name: params.name}
        }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>
  </div>
</action-sheet>