<div class="confirm-sheet">
  <div class="sheet-title">
    <div class="title-icon">
      <img *ngIf="type === 'success'" src="assets/img/green-check-circled.svg">
      <img *ngIf="type === 'info'" src="assets/img/icon-info-blue.svg">
      <img *ngIf="type === 'warning'" src="assets/img/icon-warning-circled.svg">
      <img *ngIf="type === 'danger'" src="assets/img/icon-danger.svg">
    </div>
    <ng-content select="[sheet-title-text]"></ng-content>
  </div>
  <div class="sheet-text">
    <ng-content select="[sheet-text]"></ng-content>
  </div>
  <div class="sheet-btn-group">
    <div class="sheet-btn" [ngClass]="{blue: type === 'info', yellow: type == 'warning', red: type == 'danger'}" (click)="dismiss(option)">
      <ng-content select="[sheet-button-text]"></ng-content>
    </div>
    <div class="sheet-second-btn" (click)="dismiss(false)">
      <ng-content select="[sheet-second-button-text]"></ng-content>
    </div>
  </div>
</div>