info-sheet {
  .info-container {
    width: 100%;
    height: 100%;
    background-color: white;
    .confirm-sheet {
      padding: 25px;
      padding-bottom: 15px;
      .sheet-title {
        color: #060606;
        font-size: 19px;
        font-weight: 500;
        .title-icon {
          vertical-align: middle;
          padding-right: 15px;
          display: inline-block;
        }
      }
      .sheet-text {
        font-size: 16px;
        color: rgb(46, 46, 46);
        font-weight: 300;
        padding: 25px 0px;
      }
      .text-address {
        letter-spacing: 1px;
      }
      .sheet-btn-group {
        color: rgb(105, 202, 167);
        font-size: 16px;
        padding-top: 15px;
        border-top: 1px solid #ebebeb;
        cursor: pointer;
        display: flex;
        .sheet-btn {
          color: rgb(105, 202, 167);
          margin-right: auto;
        }
        .sheet-btn.blue {
          color: rgb(84, 118, 235);
        }
        .sheet-btn.yellow {
          color: rgb(253, 180, 85);
        }
        .sheet-btn.red {
          color: rgb(223, 82, 100);
        }
        .sheet-second-btn {
          color: rgb(70, 76, 94);
          margin-left: auto;
        }
      }
    }

    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      padding-bottom: 20px;
    }
  }
}
