page-onboarding {
  & > ion-content {
    background-image: $onboarding-welcome-bg, $onboarding-background-image;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .logo-tagline {
    margin-top: calc(5vh + 5vw);
    text-align: center;
    img {
      max-width: 150px;
      margin: 5rem 0;
    }
    p {
      line-height: 1.6;
      font-size: 1.6rem;
    }
  }
  .primary-color {
    color: $onboarding-primary-color;
  }
  .comment-color {
    color: $onboarding-comment-color;    
  }
}
