page-onboarding {
  @extend %onboarding;
  & > ion-content {
    background-image: $onboarding-welcome-bg, $onboarding-background-image;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .logo-tagline {
    margin-top: calc(5vh + 5vw);
    text-align: center;
    img {
      max-width: 200px;
      margin: 5rem 0;
    }
    p {
      line-height: 1.6;
      font-size: 18px;
      color: color($colors, blank);
    }
  }
  .onboarding-description {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
}

%onboarding {
  .content {
    color: $onboarding-color;
  }
}
.btn-transparent {
  border: 0px !important;
  background-color: rgba(155, 155, 171, 0.1);
  color: #ffffff;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;  
}

.bottom-absolute{
  padding: 0px;
  .button-footer{
    max-width: 100%;
    margin:0;
    font-size: 1.2rem;
  }
}
