page-crypto-order-summary {
  .bp-list {
    ion-item {
      cursor: pointer;
    }
    .item-label {
      width: 92%;
      margin: 0px auto;
      color: #9ba3ae;
      line-height: 18px;
    }
    .card {
      margin-top: 4px;
      padding-bottom: 0px;
      ion-note.note {
        ion-icon.item-img.icon {
          &.icon-md,
          &.icon-ios {
            img {
              width: 35px;
            }
          }
        }
      }
      .item {
        &.item-ios,
        &.item-md {
          &.item-block,
          &:last-child {
            height: 74px;
          }
        }
      }
    }
    .item-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      .warn-msg {
        color: color($colors, warning);
      }
    }
    .address-label {
      margin-right: 9px;
    }
  }
}
