<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="close()" ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div *ngIf="type === 'url'">
    <div class="settings-explanation">
      <div class="settings-heading" translate>Website</div>
      <div class="settings-description">{{data}}</div>
      <button ion-item (click)="close('OpenExternalLink', data)">
        <ion-icon item-start>
          <img *ngIf="!https" src="assets/img/icon-lock-x.svg">
          <img *ngIf="https" src="assets/img/icon-lock-green.svg">
        </ion-icon>
        <h2 translate>Open website</h2>
      </button>
    </div>
  </div>

  <div *ngIf="type === 'bitcoinAddress'">
    <div class="settings-explanation">
      <div class="settings-heading" translate>Bitcoin Address</div>
      <img src="assets/img/icon-bitcoin-small.svg">
      <div class="settings-description">{{data}}</div>
      <button ion-item (click)="close('AddressBookPage', data)">
        <ion-icon item-start>
          <img src="assets/img/icon-contacts.svg">              
        </ion-icon>
        <h2 translate>Add as a contact</h2>
      </button>
      <button ion-item (click)="close('AmountPage', data)">
        <ion-icon item-start>
          <img src="assets/img/icon-send-alt.svg">              
        </ion-icon>
        <h2 translate>Send payment to this address</h2>
      </button>
      <button ion-item copy-to-clipboard="{{ data }}">
        <ion-icon item-start>
          <img src="assets/img/icon-paperclip.svg">       
        </ion-icon>
        <h2 translate>Copy to clipboard</h2>
      </button>
    </div>
  </div>

  <div *ngIf="type === 'text'">
    <div class="settings-explanation">
      <div class="settings-heading" translate>Text</div>
      <div class="settings-description">{{data}}</div>
      <button ion-item copy-to-clipboard="{{ data }}">
        <ion-icon item-start>
          <img src="assets/img/icon-paperclip.svg">
        </ion-icon>
        <h2 translate>Copy to clipboard</h2>
      </button>
    </div>
  </div>

  <div *ngIf="type === 'privateKey'">
    <div class="settings-explanation">
      <div class="settings-heading" translate>Private Key</div>
      <div class="settings-description">{{data}}</div>
      <button ion-item (click)="close('PaperWalletPage', data)">
        <ion-icon item-start>
            <img src="assets/img/icon-import.svg">
        </ion-icon>
        <h2 translate>Sweep paper wallet</h2>
      </button>
      <button ion-item copy-to-clipboard="{{ data }}">
        <ion-icon item-start>
          <img src="assets/img/icon-paperclip.svg">
        </ion-icon>
        <h2 translate>Copy to clipboard</h2>
      </button>
    </div>
  </div>
</ion-content>