page-incoming-data-menu {
  .settings-explanation {
    padding: 0 1rem;
    margin: 1rem 0;
    .settings-heading {
      font-size: 17px;
      padding-bottom: 1rem;
    }
    .settings-description {
      color:color($colors,dark);
      margin: 1rem 0;
      font-size: 0.9em;
    }
  }
}
