page-amount {
  .amount-pane {
    .title {
      padding: 18px 16px 0;
      font-size: 18px;
    }
    .amount-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 15% 16px 0 16px;
      @media(max-height: 640px) {
        padding-top: 10%;
      }
      @media(max-height: 500px) {
        padding-top: 5%;
      }
      .expression{
        font-size: 40px;
        @media(max-height: 640px) {
          font-size: 35px;
        }
        @media(max-height: 500px) {
          font-size: 25px;
        }
        display: flex;
        a.unit-button {
          font-size: 19px;
          color: color($global-colors, light-grey);
          border: 1px solid color($global-colors, light-grey);
          padding: 0 5px;
          margin: 14px 0 8px 10px;
          cursor: pointer;
          @media(max-height: 500px) {
            font-size: 16px;
          }
        }
      }
      .amount {
        color: #A5A4A4;
        margin-left: 5px;
      }
      .result {
        color: gray;
        margin-left: 5px;
      }
    }
  }

  .keypad {
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    width: 100%;
    .row {
      padding: 0 !important;
      margin: 0 !important;
    }
    .col {
      line-height: 40px;
    }
    .operator {
      cursor: pointer;
    }
    .operator-row {
      width: 25%;
      margin-left: 75%;
      .operator-send {
        color: #fff;
        background-color: color($colors, primary);
        font-size: 16px;
        cursor: pointer;
        &:active {
          color: color($colors, primary);
          background-color: #fff;
        }
      }
    }
    .digit{
      cursor: pointer;
    }
    @media(max-height: 500px) {
      font-size: 12px;
    }
  }
}
