<ion-view>
  <ion-nav-bar class="bar-royal" ng-controller="backController">
    <ion-nav-buttons side="secondary">
      <button class="button no-border" ng-click="onboardingMailSkip()">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-controller="collectEmailController">
    <span translate>Wallet Created </span>
    <span translate>Where would you like to receive email notifications about payments </span>
    <form name="emailForm" ng-submit="save(emailForm)" novalidate>
      <input type="email" id="email" name="email" ng-model="email" required></input>
      <input type="submit" class="button button-block button-positive" value="{{'Save'|translate}}" ng-disabled="emailForm.$invalid">
    </form>
  </ion-content>
</ion-view>
