<ion-view>
  <ion-content ng-controller="disclaimerController" ng-init="accept1 = accept2 = accept3 = false">
    <h1 translate>Almost done! Let's review</h1>
    <span transalate>Bitcoin is different - it cannot be safely held with a bank or web service </span>
    <ion-list class="disclaimer">
      <ion-checkbox ng-model="accept1"><span translate>I undestand my funds are held securely on this device, not by company.</span></ion-checkbox>
      <ion-checkbox ng-model="accept2"><span translate>I understand if this wallet is lost or deleted, my bitcoin can onlt be recovered with the backup phrase</span></ion-checkbox>
      <ion-checkbox ng-model="accept3"><span translate>I have read, understood, and agree with the Terms of use.</span></ion-checkbox>
    </ion-list>
    <div class="text-center">
      <a ui-sref="onboarding.terms" translate>Terms of use</a>
    </div>
    <button
      ng-disabled="!accept1 || !accept2 || !accept3"
      class="button button-block button-positive"
      ng-click="confirm()"
      translate>Confirm & Finish
    </button>
  </ion-content>
</ion-view>
