<ion-view ng-controller="tourController" ng-init="init()" class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-show="data.index == 0" ng-click="createDefaultWallet()">{{'Skip' | translate}}</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <h2 class="onboarding-topic" translate>Bitcoin is secure,<br/>digital money.</h2>
        <p class="onboarding-description" translate>You can spend bitcoin at millions of websites and stores worldwide.</p>
        <div class="onboarding-illustration-secure"></div>
        <div class="cta-buttons">
          <p class="onboarding-tldr" translate>Just scan the code to pay.</p>
          <button class="button button-block button-secondary" ng-click="slideNext()">
            Got it
            <i class="icon ion-ios-arrow-thin-right"></i>
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <h2 class="onboarding-topic" translate>Bitcoin is a currency.</h2>
        <p class="onboarding-description" translate>You can trade it for other currencies like US Dollars, Euros, or Pounds.</p>
        <div class="onboarding-illustration-currency">
          <div id="onboarding-illustration-currency-exchange-rate">1 BTC = $1,000</div>
        </div>
        <div class="cta-buttons">
          <p class="onboarding-tldr" translate>The exchange rate changes with the market.</p>
          <button class="button button-block button-secondary" ng-click="slideNext()">
            Makes sense
            <i class="icon ion-ios-arrow-thin-right"></i>
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <h2 translate class="onboarding-topic">You control your bitcoin.</h2>
        <p translate class="onboarding-description">The BitPay wallet stores your bitcoin with cutting-edge security.</p>
        <div class="onboarding-illustration-control"></div>
        <div class="cta-buttons">
          <p class="onboarding-tldr" translate>Not even BitPay can access it.</p>
          <button class="button button-block button-primary" ng-click="createDefaultWallet()">
            Create bitcoin wallet
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
