<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<div class="size-14">
  <h1 class="m30v">Payment Protocol Request</h1>

    <p>
      <b translate>Signature:</b>
      <span ng-show="!!$root.merchant.pr.ca"><i class="fi-lock green"></i> {{$root.merchant.pr.ca}}</span>
      <span ng-show="!$root.merchant.pr.ca"><i class="fi-unlock red"></i> Untrusted</span>
    <p>
      <b translate>Merchant Message:</b>
      {{$root.merchant.pr.pd.memo || address}}
    </p>

    <p>
      <b translate>Merchant Message:</b>
      <i>{{amount}} {{$root.wallet.settings.unitName}}</i>
      <span class="text-gray" ng-if="isRateAvailable">
                    {{ alternative }} {{ alternativeIsoCode }}
                  </span>
      <p ng-show="!!$root.merchant">
        Expires {{$root.merchant.expiration | amTimeAgo }} [{{$root.merchant.domain}}]
      </p>
  </div>

</div>


