<div class="text-center">
  <qrcode size="250" data="{{address.address}}"></qrcode>

  <div class="m10t">
    <h4>{{address.address}} <span class="btn-copy" clip-copy="address.address"></span></h4>
    <span ng-if="$root.updatingBalance">
      <i class="fi-bitcoin-circle icon-rotate spinner"></i>
    </span>
    <p class="m15b" ng-if="!$root.updatingBalance">
      {{address.balance || 0|noFractionNumber}} {{$root.unitName}}
    </p>
    <button class="m15t button secondary" open-external address="{{address.address}}">
      <i class="fi-link">&nbsp;</i> Open in external aplication
    </button>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
