<div class="text-center">
  <qrcode size="220" data="bitcoin:{{address.address}}"></qrcode>

  <div class="m10t">
    <h4 class="size-12">{{address.address}} <span class="btn-copy" clip-copy="address.address"></span></h4>
    <span ng-if="$root.updatingBalance">
      <i class="fi-bitcoin-circle icon-rotate spinner"></i>
    </span>
    <p class="m15b size-18" ng-if="!$root.updatingBalance">
      {{address.balance || 0|noFractionNumber}} {{$root.wallet.settings.unitName}}
    </p>
    <div class="small-10 columns small-centered">
      <button class="m15t button secondary hide-for-large-up" ng-show="isMobile" ng-click="mobileCopy(address.address)">
        <i class="fi-link">&nbsp;</i> <span translate>Copy to clipboard</span>
      </button>
      <a class="m15t secondary" open-external address="{{address.address}}">
        <span translate>Open in external application</span>
      </a>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
