<div class="header-modal text-center">
  <div ng-if="btx.addressTo" class="m10v">
    <span class="ellipsis">
      <i>To:</i>
      <span ng-if="btx.merchant">
        <span ng-show="btx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{btx.merchant.domain}}</span>
    <span ng-show="!btx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{btx.merchant.domain}}</span>
    </span>

    <span ng-if="!btx.merchant">
        <span class="text-gray"> {{btx.labelTo || btx.addressTo}}</span>
    </span>
    </span>
  </div>
  <div class="size-48"  ng-class="{
        'text-primary' : btx.action == 'received',
        'text-warning': btx.action == 'sent', 
        'text-gray': btx.action == 'moved'}">
    <span ng-if="btx.action == 'received'">+</span><span ng-if="btx.action == 'sent'">-</span>{{btx.amount}}
      {{$root.wallet.settings.unitName}}
  </div>
  <div class="size-18 m5t text-gray" ng-show="btx.alternativeAmount">
    {{btx.alternativeAmount}} {{$root.wallet.settings.alternativeIsoCode}}
  </div>
  <a class="close-reveal-modal" ng-click="cancel()"><i class="fi-x size-18"></i></a>
</div>

<div ng-if="btx.ts || btx.createdTs " class="m20v line-b">
  <i>Date:</i>
  <time >{{ (btx.ts || btx.createdTs ) | amCalendar}}</time>
</div>

<div ng-show="btx.comment" class="line-b m20v lh140">
  <i>Note:</i> 
  <span>{{btx.comment}}</span>
</div>

<div ng-if="btx.merchant" class="lh140 m10v line-b">
  <i>Merchant Message:</i>  
  <p class="text-gray size-14">{{btx.merchant.pr.pd.memo}}</p>
</div>

<div class="m10v line-b">
  <span class="label alert" ng-show="!btx.ts && (!btx.confirmations || btx.confirmations == 0)">
    <span translate>Unconfirmed</span>
  </span>
  <span ng-show="btx.confirmations>0" class="m10v">
    <i translate>Confirmations:  </i>
    <p class="label radius">{{btx.confirmations}}</p>
  </span>
</div>

<div ng-if="btx.actionList[0]" class="m10v">
  <i>Signatures:</i>
  <ul class="tx-copayers m10t" ng-if="btx.actionList[0]">
    <li ng-repeat="c in btx.actionList" ng-class="{'bottom-line-copayers':!$last}" ng-if="c.actions.rejected || c.actions.sign || c.actions.create">
      <span>
        <i ng-if="c.actions.rejected" class="fi-x icon-sign x"></i>
        <i ng-if="c.actions.sign" class="fi-check icon-sign check"></i>
      </span>
      <span>
        <i ng-if="c.actions.create" class="fi-crown icon-status icon-active m10r"></i>
      </span>
      <span>{{c.cId === $root.wallet.getMyCopayerId() ? 'Me' : $root.wallet.publicKeyRing.nicknameForCopayer(c.cId)}}</span>
    </li>
  </ul>
</div>

<small class="ellipsis text-gray m10v"  ng-if="btx.txid" > ID: {{btx.txid}} </small>

<div class="oh">
  <a class="button-setup right" ng-click="$root.openExternalLink('http://' + getShortNetworkName() + '.insight.is/tx/' + btx.txid)"  ng-if="btx.txid">
      See it on the blockchain <i class="icon-arrow-right2 vm"></i>
  </a>
</div>


