
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<div class="size-14">
  <div class="text-center size-72">
    <div ng-class="{
              'text-primary' : btx.action == 'received',
              'text-warning': btx.action == 'sent', 
              'text-gray': btx.action == 'moved'}">
      <i ng-class="{
                'fi-arrow-left' : btx.action == 'received',
                'fi-arrow-right': btx.action == 'sent', 
                'fi-loop': btx.action == 'moved'}"></i>
    </div>
  </div>


  <div class="text-center" class="m10v">
    <div class="tx-amount" ng-class="{
              'text-primary' : btx.action == 'received',
              'text-warning': btx.action == 'sent', 
              'text-gray': btx.action == 'moved'}">
      <b>{{btx.amount}} {{$root.wallet.settings.unitName}}</b>
      <span class="alt-currency" ng-class="{
              'green' : btx.action == 'received',
              'red': btx.action == 'sent', 
              'gray': btx.action == 'moved'}" ng-show="btx.alternativeAmount != null">
                {{btx.alternativeAmount}} {{$root.wallet.settings.alternativeIsoCode}}
              </span>
    </div>
  </div>
  <div class="line-b m10t"></div>
  <h1 class="m30v">Transaction Details</h1>
  <div class="ellipsis"> <b>ID:</b> <span class="text-gray"> {{btx.txid}} </span></div>
  <div ng-if="btx.ts" class="m10v">
    <time><b>{{btx.ts | amTimeAgo}}</b></time>
    :
    <time> <span class="text-gray">{{btx.ts | amCalendar}}</span></time>
  </div>

  <div class="m10v">
    <span class="label alert" ng-show="!btx.ts && (!btx.confirmations || btx.confirmations == 0)">
      <span translate>Unconfirmed</span>
    </span>
    <span ng-show="btx.confirmations>0" class="m10v">
      <b translate>Confirmations:</b>
      <span class="text-gray">{{btx.confirmations}}</span>
    </span>
  </div>

  <div ng-if="btx.addressTo" class="m10v">
    <span class="ellipsis">
      <b>To:</b>
      <span class="text-gray"> {{btx.labelTo || btx.addressTo}}</span>
    </span>
  </div>

  <div ng-if="!!btx.merchant" class="m10v">
    Payment Protocol Information:
    <br>{{btx.merchant.pr.pd.memo}}</b>
    <br>{{btx.paymentAckMemo}}
    <span ng-show="tx.merchant.domain">[{{btx.merchant.domain}}]</span>
  </div>

  <div ng-if="btx.actionList[0]" class="m10v">
    <b>Copayers Signatures</b>
    <ul class="tx-copayers m10t" ng-if="btx.actionList[0]">
      <li ng-repeat="c in btx.actionList" ng-class="{'bottom-line-copayers':!$last}">
        <span>
          <i ng-if="c.actions.rejected" class="fi-x icon-sign x"></i>
          <i ng-if="c.actions.sign" class="fi-check icon-sign check"></i>
          <i ng-if="!c.actions.sign && !c.actions.rejected && tx.missingSignatures" class="m10r fi-loop icon-rotate"></i>
        </span>
        <span>
          <i ng-if="c.actions.create" class="fi-crown icon-status icon-active m10r"></i>
        </span>
        <span>{{c.cId === $root.wallet.getMyCopayerId() ? 'Me' : $root.wallet.publicKeyRing.nicknameForCopayer(c.cId)}}</span>
      </li>
    </ul>
  </div>

  <div class="m10t oh">
    <a class="right button-setup" 
      ng-click="openExternalLink('http://' + getShortNetworkName() + '.insight.is/tx/' + btx.txid)">
      See it on the blockchain <i class="icon-arrow-right2 vm"></i>
    </a>
    </p>
  </div>
</div>


