
<div class="text-right">
  <a class="close-reveal-modal" ng-click="cancel()">Close</a>
</div>

<div ng-repeat="out in tx.outs">
  <div class="m20t text-center ">
    <div class="size-48">
    {{out.value}} {{$root.wallet.settings.unitName}}
    </div>
    <div class="size-18 m5t text-gray">
      {{out.alternativeAmount}} {{out.alternativeIsoCode}}
    </div>
  </div>
  <div class="line-b m10v"></div>

  <div class="ellipsis m10v">
    To:
    <span ng-if="tx.merchant">
    <span ng-show="tx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{tx.merchant.domain}}</span>
    <span ng-show="!tx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{tx.merchant.domain}}</span>
    </span>
    </span>
    <contact address="{{out.address}}" ng-hide="tx.merchant"></contact>
  </div>
</div>

<div ng-if="tx.ts || tx.createdTs " class="m10v">
  <time>{{ (tx.ts || tx.createdTs ) | amCalendar}}</time>
  <time class="text-gray">[ {{ (tx.ts || tx.createdTs ) | amTimeAgo}} ]</time>
</div>

<div class="m10v" ng-show="tx.comment">
  <i>Note:</i> {{tx.comment}}
</div>


<div ng-if="tx.merchant" class="lh140">
  <i>Merchant Message:</i>  <span class="text-gray">{{tx.merchant.pr.pd.memo}}</span>
</div>
<div ng-if="tx.merchant && tx.merchant.expirationDate" class="m10v">
  <i>Expires</i>: {{tx.merchant.expirationDate | amTimeAgo }}
</div>

<div ng-if="tx.actionList[0]" class="m10v">
  <i>Signatures:</i>
  <ul class="tx-copayers m10t" ng-if="tx.actionList[0]">
    <li ng-repeat="c in tx.actionList" ng-class="{'bottom-line-copayers':!$last}">
      <span>
          <i ng-if="c.actions.rejected" class="fi-x icon-sign x"></i>
          <i ng-if="c.actions.sign" class="fi-check icon-sign check"></i>
          <i ng-if="!c.actions.sign && !c.actions.rejected && tx.missingSignatures" class="m10r fi-loop icon-rotate"></i>
        </span>
      <span>
          <i ng-if="c.actions.create" class="fi-crown icon-status icon-active m10r"></i>
        </span>
      <span>{{c.cId === $root.wallet.getMyCopayerId() ? 'Me' : $root.wallet.publicKeyRing.nicknameForCopayer(c.cId)}}</span>
    </li>
  </ul>
</div>
</div>

<div class="box-notification" ng-show="error">
  <div class="box-icon error">
    <i class="fi-x size-24"></i>
  </div>
  <span class="text-warning size-14">
    {{error}}
  </span>
  <a class="close-notification text-warning" ng-click="error=null">&#215;</a>
</div>

<div class="row collapse" 
  ng-init="hideSign = false; hideReject = false"
  ng-show="!tx.signedBy[$root.wallet.getMyCopayerId()] && !tx.rejectedBy[$root.wallet.getMyCopayerId()]">
  <div class="large-6 medium-6 small-6 columns">
    <button class="button warning m0" ng-click="hideSign = true; reject(tx.ntxid);" 
      ng-disabled="loading" ng-show="!hideReject">
      <i class="fi-x icon-sign x" ng-show="!loading"></i>  
      <i class="fi-bitcoin-circle icon-rotate spinner" ng-show="loading"></i>
      <span translate>Reject</span>
    </button>
  </div>
  <div class="large-6 medium-6 small-6 columns text-right">
    <button class="button primary m0" ng-click="hideReject = true; sign(tx.ntxid)" 
      ng-disabled="loading" ng-show="!hideSign">
      <i class="fi-check icon-sign check" ng-show="!loading"></i>  
      <i class="fi-bitcoin-circle icon-rotate spinner" ng-show="loading"></i>
      <span translate>Sign</span>
    </button>
  </div>
</div>


