
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<div class="last-transactions-header row collapse" ng-init="txIndex = $index" ng-show="tx.comment">
  <i class="fi-comment-quotes size-18 vm"></i> 
  <span class="text-light">{{tx.comment}}</span>
</div>

<div class="sign-action">
  <div ng-show="tx.signedBy[myId]">
    <button class="secondary left m10r tiny m0 radius" ng-disabled="true"> <i class="fi-check icon-sign check"></i>
      <span translate>Signed by me</span>
    </button>
  </div>
  <div ng-show="tx.rejectedBy[myId]">
    <button class="warning left m10r tiny m0 radius" ng-disabled="true"> <i class="fi-x icon-sign x"></i>
      <span translate>Rejected by me</span>
    </button>
  </div>
</div>

<div ng-if="tx.createdTs " class="p15 line-b size-10">
  <time class="left"> <span>{{tx.createdTs | amCalendar}}</span></time>
  [<time class="right">{{tx.createdTs | amTimeAgo}}</time>]
</div>

<div class="text-center p15 m10t line-b" ng-repeat="out in tx.outs">
  <div class="size-18 m10b">
    <b>{{out.value}} {{$root.wallet.settings.unitName}}</b>
    <span ng-show="out.alternativeAmount" class="alt-currency gray">
      {{out.alternativeAmount}} {{out.alternativeIsoCode}}
    </span>
  </div>
  <i class="fi-arrow-down m10b db"></i>
  <div class="size-12 m20b">
      <div ng-if="tx.merchant" class="ellipsis">
      <span ng-show="tx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{tx.merchant.domain}}</span>
      <span ng-show="!tx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{tx.merchant.domain}}</span>
      </span>
    </div>
    <contact address="{{out.address}}" tooltip-popup-delay="500" tooltip tooltip-placement="right" ng-hide="tx.merchant" />
  </div>
</div>

  <div ng-if="tx.merchant" class="p15 line-b">
    {{tx.merchant.pr.pd.memo}}
    <div ng-if="tx.merchant && tx.merchant.expirationDate" class="m10v">
      <i>Expires</i>: {{tx.merchant.expirationDate | amTimeAgo }}
    </div>
  </div>


  <div ng-if="tx.addressTo" class="m10v">
    <span class="ellipsis">
      <i>To:</i>
      <span ng-if="tx.merchant">
        <span ng-show="tx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{tx.merchant.domain}}</span>
        <span ng-show="!tx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{tx.merchant.domain}}</span>
      </span>

      <span ng-if="!tx.merchant">
        <span class="text-gray"> {{tx.labelTo || tx.addressTo}}</span>
      </span>
    </span>
  </div>



  <div ng-if="tx.actionList[0]" class="p15">
    <i>Signatures</i>
    <ul class="tx-copayers m10t" ng-if="tx.actionList[0]">
      <li ng-repeat="c in tx.actionList" ng-class="{'bottom-line-copayers':!$last}">
        <span>
          <i ng-if="c.actions.rejected" class="fi-x icon-sign x"></i>
          <i ng-if="c.actions.sign" class="fi-check icon-sign check"></i>
          <i ng-if="!c.actions.sign && !c.actions.rejected && tx.missingSignatures" class="m10r fi-loop icon-rotate"></i>
        </span>
        <span>
          <i ng-if="c.actions.create" class="fi-crown icon-status icon-active m10r"></i>
        </span>
        <span>{{c.cId === $root.wallet.getMyCopayerId() ? 'Me' : $root.wallet.publicKeyRing.nicknameForCopayer(c.cId)}}</span>
      </li>
    </ul>
  </div>


