 <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<h3>Select a wallet to make the payment</h3>
<span ng-show="!wallets[0]">Loading...</span>
<ul class="w-popup-menu" ng-show="wallets[0]" ng-class="{'large':wallets.length > 4, 'medium':wallets.length > 2 && wallets.length < 5}">
  <li data-ng-repeat="item in wallets track by $index" class="nav-item" ng-click="ok(item)">
    <div class="w-popup-icon">
      <div class="avatar-wallet">{{(item.name || item.id) | limitTo: 1}}</div>
    </div>
    <div class="w-popup-content">
      <div class="">
        <a class="size-12 wallet-item">
          <div class="">
            <div class="w-popup-main">[ {{item.requiredCopayers}} of {{item.totalCopayers}} ]</div>
            <div class="w-popup-sub size-18">{{item.name || item.id}}</div>
          </div>
          <div class="w-popup-sub">
            <span ng-if="item.balanceInfo.updatingBalance"><i class="fi-bitcoin-circle icon-rotate spinner"></i></span>
            <div ng-if="!item.balanceInfo.updatingBalance" data-options="disable_for_touch:true">
              <b class="m5r size-12">{{item.balanceInfo.totalBalance || 0}} {{item.settings.unitName}}</b>
              <span class="alt-currency size-10">{{item.balanceInfo.totalBalanceAlternative}} {{item.balanceInfo.alternativeIsoCode}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </li>
</ul>

