<div id="backup-needed-modal" class="popup-modal">
  <div class="popup-modal-header popup-modal-header-warning">
    <div class="popup-modal-header-img-warning popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content popup-modal-content-warning">
    <div>
      <div class="popup-modal-heading" translate>Backup Needed</div>
      <div class="popup-modal-message" translate>Now is a good time to backup your wallet. If this device is lost, it is impossible to access your funds without a backup.</div>
      <button class="button button-clear" ng-click="doBackup()" translate>Backup now</button>
      <button class="button button-secondary button-clear" ng-click="close()" translate>Do it later</button>
    </div>
  </div>
</div>
