<div class="item activity" ng-class="{'sent': tx.price.toString().indexOf('-') > -1 && !tx.pending, 'receive': tx.price.toString().indexOf('-') == -1 && !tx.pending, 'pending': tx.pending}">
  <div class="tx-icon">
    <div class="houston" ng-class="{'no-border': tx.icon.includes('topup')}">
      <img class="svg" ng-src="img/mcc-icons/{{tx.icon}}.svg">
    </div>
  </div>

<!-- TESTING ICONS
  <div class="tx-icon">
    <div class="houston" ng-class="{'no-border': tx.icon.includes('topup')}">
      <img class="svg" ng-src="img/mcc-icons/airplane.svg">
      <img class="svg" ng-src="img/mcc-icons/art.svg">
      <img class="svg" ng-src="img/mcc-icons/bicycle.svg">
      <img class="svg" ng-src="img/mcc-icons/bitcoin-topup.svg">
      <img class="svg" ng-src="img/mcc-icons/boat.svg">
      <img class="svg" ng-src="img/mcc-icons/books.svg">
      <img class="svg" ng-src="img/mcc-icons/bowling.svg">
      <img class="svg" ng-src="img/mcc-icons/bug.svg">
      <img class="svg" ng-src="img/mcc-icons/bus.svg">
      <img class="svg" ng-src="img/mcc-icons/camera.svg">
      <img class="svg" ng-src="img/mcc-icons/car.svg">
      <img class="svg" ng-src="img/mcc-icons/clean.svg">
      <img class="svg" ng-src="img/mcc-icons/clock.svg">
      <img class="svg" ng-src="img/mcc-icons/cocktail.svg">
      <img class="svg" ng-src="img/mcc-icons/coins.svg">
      <img class="svg" ng-src="img/mcc-icons/computer.svg">
      <img class="svg" ng-src="img/mcc-icons/default.svg">
      <img class="svg" ng-src="img/mcc-icons/diamond-ring.svg">
      <img class="svg" ng-src="img/mcc-icons/dollar-topup.svg">
      <img class="svg" ng-src="img/mcc-icons/euro-topup.svg">
      <img class="svg" ng-src="img/mcc-icons/film.svg">
      <img class="svg" ng-src="img/mcc-icons/food.svg">
      <img class="svg" ng-src="img/mcc-icons/football.svg">
      <img class="svg" ng-src="img/mcc-icons/furniture.svg">
      <img class="svg" ng-src="img/mcc-icons/game.svg">
      <img class="svg" ng-src="img/mcc-icons/gas.svg">
      <img class="svg" ng-src="img/mcc-icons/golf.svg">
      <img class="svg" ng-src="img/mcc-icons/hotel.svg">
      <img class="svg" ng-src="img/mcc-icons/law.svg">
      <img class="svg" ng-src="img/mcc-icons/mail.svg">
      <img class="svg" ng-src="img/mcc-icons/medical.svg">
      <img class="svg" ng-src="img/mcc-icons/money.svg">
      <img class="svg" ng-src="img/mcc-icons/motorcycle.svg">
      <img class="svg" ng-src="img/mcc-icons/music.svg">
      <img class="svg" ng-src="img/mcc-icons/newspaper.svg">
      <img class="svg" ng-src="img/mcc-icons/park.svg">
      <img class="svg" ng-src="img/mcc-icons/people.svg">
      <img class="svg" ng-src="img/mcc-icons/pet.svg">
      <img class="svg" ng-src="img/mcc-icons/plant.svg">
      <img class="svg" ng-src="img/mcc-icons/purchase.svg">
      <img class="svg" ng-src="img/mcc-icons/repair.svg">
      <img class="svg" ng-src="img/mcc-icons/sadface.svg">
      <img class="svg" ng-src="img/mcc-icons/scissors.svg">
      <img class="svg" ng-src="img/mcc-icons/search.svg">
      <img class="svg" ng-src="img/mcc-icons/shirt.svg">
      <img class="svg" ng-src="img/mcc-icons/shoes.svg">
      <img class="svg" ng-src="img/mcc-icons/smiley-face.svg">
      <img class="svg" ng-src="img/mcc-icons/suitcase.svg">
      <img class="svg" ng-src="img/mcc-icons/telephone.svg">
      <img class="svg" ng-src="img/mcc-icons/television.svg">
      <img class="svg" ng-src="img/mcc-icons/tent.svg">
      <img class="svg" ng-src="img/mcc-icons/ticket.svg">
      <img class="svg" ng-src="img/mcc-icons/toy.svg">
      <img class="svg" ng-src="img/mcc-icons/truck.svg">
      <img class="svg" ng-src="img/mcc-icons/watch.svg">
    </div>
  </div>
-->

  <div class="tx-content">
    <div class="tx-title">
      <div class="ellipsis">
        <div class="tx-message ellipsis">{{tx.merchant.name || 'Unknown Merchant'}}</div>
        <div class="tx-location ellipsis" ng-show="tx.merchant.city && tx.merchant.state">{{tx.merchant.location}}</div>
        <div ng-show="tx.pending && tx.transactionId" class="size-12 tx-amount--pending">
          <div ng-click="bitpayCard.viewOnBlockchain(tx.transactionId)">View Confirmation Status</div>
        </div>
      </div>
    </div>
    <span class="item-note text-right">
      <span class="tx-amount" ng-class="{'tx-amount--sent': tx.price.toString().indexOf('-') > -1 && !tx.pending, 'tx-amount--received': tx.price.toString().indexOf('-') == -1 && !tx.pending, 'tx-amount--pending': tx.pending}">
        {{tx.price | currency:bitpayCard.currencySymbol:2 }}
      </span>
      <div>
        <time class="tx-time" ng-if="createdWithinPastDay(tx)">{{tx.timestamp | amTimeAgo}}</time>
        <time class="tx-time" ng-if="!createdWithinPastDay(tx)">{{tx.timestamp | amDateFormat:'MMM D, YYYY'}}</time>
      </div>
    </span>
  </div>
</div>
