<div class="item activity" ng-class="{'sent': tx.price.toString().indexOf('-') > -1 && !tx.pending, 'receive': tx.price.toString().indexOf('-') == -1 && !tx.pending, 'pending': tx.pending}">
  <div class="tx-icon">
    <div class="houston" ng-class="{'no-border': tx.icon.includes('topup')}">
      <img class="svg" ng-src="img/mcc-icons/{{tx.icon}}.svg">
    </div>
  </div>
  <div class="tx-content">
    <div class="tx-title">
      <div class="ellipsis">
        <div class="tx-message ellipsis">{{tx.merchant.name || 'Unknown Merchant'}}</div>
        <div class="tx-location ellipsis" ng-show="tx.merchant.city && tx.merchant.state">{{tx.merchant.location}}</div>
        <div ng-show="tx.pending && tx.transactionId" class="size-12 tx-amount--pending">
          <div ng-click="bitpayCard.viewOnBlockchain(tx.transactionId)">View Confirmation Status</div>
        </div>
      </div>
    </div>
    <span class="item-note text-right">
      <span class="tx-amount" ng-class="{'tx-amount--sent': tx.price.toString().indexOf('-') > -1 && !tx.pending, 'tx-amount--received': tx.price.toString().indexOf('-') == -1 && !tx.pending, 'tx-amount--pending': tx.pending}">
        {{tx.price | currency:bitpayCard.currencySymbol:2 }}
      </span>
      <div>
        <time class="tx-time" ng-if="createdWithinPastDay(tx)">{{tx.timestamp | amTimeAgo}}</time>
        <time class="tx-time" ng-if="!createdWithinPastDay(tx)">{{tx.timestamp | amDateFormat:'MMM D, YYYY'}}</time>
      </div>
    </span>
  </div>
</div>
