<div class="check-slider list">
  <div class="filling-bar with"></div>
  <div class="base-bar"></div>
  <div class="custom-checkbox">
    <label>Info</label>
    <ion-checkbox ng-model="filterInfo"></ion-checkbox>
  </div>
  <div class="custom-checkbox">
    <label>Warning</label>
    <ion-checkbox ng-model="filterWarning"></ion-checkbox>
  </div>
  <div class="custom-checkbox">
    <label>Error</label>
    <ion-checkbox ng-model="filterError"></ion-checkbox>
  </div>
  <div class="custom-checkbox">
    <label>Debug</label>
    <ion-checkbox ng-model="filterDebug"></ion-checkbox>
  </div>
</div>
