<div id="backup-confirm-modal" class="popup-modal">
  <div class="popup-modal-header popup-modal-header-success">
    <div class="popup-modal-header-img-success popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content popup-modal-content-success">
      <div class="popup-modal-heading" translate>Your Nav Coin wallet is backed up!</div>
      <div class="popup-modal-message" translate>Be sure to store your recovery phrase in a secure place. If this app is deleted, your money cannot be recovered without it.</div>
      <button class="button button-clear" ng-click="closeBackupResultModal()" translate>Got it</button>
  </div>
</div>
