<action-sheet
  action-sheet-show="showMenu">

  <div ng-if="type === 'url'">
    <div class="incoming-data-menu__item head">
      <div class="incoming-data-menu__header" translate>Website</div>
      <div class="incoming-data-menu__url">
        <div class="incoming-data-menu__url__icon">
          <img ng-hide="https" src="img/icon-lock-x.svg" style="height: 22px;">
          <img ng-show="https" src="img/icon-lock-green.svg" style="height: 22px;">
        </div>
        <div class="incoming-data-menu__url__text">
          {{data}}
        </div>
      </div>
    </div>
    <a class="incoming-data-menu__item item item-icon-right" ng-click="goToUrl(data)">
      <img src="img/icon-link-external.svg">
      <div class="incoming-data-menu__item__text" translate>Open website</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__cancel item" ng-click="hide()" translate>
      Cancel
    </a>
  </div>

  <div ng-if="type === 'bitcoinAddress'">
    <div class="incoming-data-menu__item head">
      <div class="incoming-data-menu__header" translate>Nav Coin Address</div>
      <div class="incoming-data-menu__url">
        <div class="incoming-data-menu__url__icon">
          <img src="img/icon-bitcoin-small.svg">
        </div>
        <div class="incoming-data-menu__url__text">
          {{data}}
        </div>
      </div>
    </div>
    <a class="incoming-data-menu__item item item-icon-right" ng-click="addToAddressBook(data)">
      <img src="img/icon-contacts.svg">
      <div class="incoming-data-menu__item__text" translate>Add as a contact</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__item item item-icon-right" ng-click="sendPaymentToAddress(data)">
      <img src="img/icon-send-alt.svg">
      <div class="incoming-data-menu__item__text" translate>Send payment to this address</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__item item item-icon-right" copy-to-clipboard="data">
      <img src="img/icon-paperclip.svg">
      <div class="incoming-data-menu__item__text" translate>Copy to clipboard</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__cancel item" ng-click="hide()" translate>
      Cancel
    </a>
  </div>

  <div ng-if="type === 'text'">
    <div class="incoming-data-menu__item head">
      <div class="incoming-data-menu__header" translate>Text</div>
      <div class="incoming-data-menu__url">
        <div class="incoming-data-menu__url__text" style="border: 0;">
          {{data}}
        </div>
      </div>
    </div>
    <a class="incoming-data-menu__item item item-icon-right" copy-to-clipboard="data">
      <img src="img/icon-paperclip.svg">
      <div class="incoming-data-menu__item__text" translate>Copy to clipboard</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__cancel item" ng-click="hide()" translate>
      Cancel
    </a>
  </div>

  <div ng-if="type === 'privateKey'">
    <div class="incoming-data-menu__item head">
      <div class="incoming-data-menu__header" translate>Private Key</div>
      <div class="incoming-data-menu__url">
        <div class="incoming-data-menu__url__text" style="border: 0;">
          {{data}}
        </div>
      </div>
    </div>
    <a class="incoming-data-menu__item item item-icon-right" ng-click="scanPaperWallet(data)">
      <img src="img/icon-import.svg">
      <div class="incoming-data-menu__item__text" translate>Sweep paper wallet</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__item item item-icon-right" copy-to-clipboard="data">
      <img src="img/icon-paperclip.svg">
      <div class="incoming-data-menu__item__text" translate>Copy to clipboard</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__cancel item" ng-click="hide()" translate>
      Cancel
    </a>
  </div>

</action-sheet>
