<action-sheet
  action-sheet-show="showMenu">

  <div ng-show="type === 'url'">
    <div class="incoming-data-menu__item head">
      <div class="incoming-data-menu__header">Website</div>
      <div class="incoming-data-menu__url">
        <div class="incoming-data-menu__url__icon">
          <img src="img/icon-lock-green.svg">
        </div>
        <div class="incoming-data-menu__url__text">
          {{data}}
        </div>
      </div>
    </div>
    <a class="incoming-data-menu__item item item-icon-right" ng-href="{{data}}" target="_blank">
      <img src="img/icon-link-external.svg">
      <div>Open website</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__cancel item" ng-click="hide()">
      Cancel
    </a>
  </div>

  <div ng-show="type === 'bitcoinAddress'">
    <div class="incoming-data-menu__item head">
      <div class="incoming-data-menu__header">Bitcoin Address</div>
      <div class="incoming-data-menu__url">
        <div class="incoming-data-menu__url__icon">
          <img src="img/icon-bitcoin-small.svg">
        </div>
        <div class="incoming-data-menu__url__text">
          {{data}}
        </div>
      </div>
    </div>
    <a class="incoming-data-menu__item item item-icon-right" ng-click="addToAddressBook(data)">
      <img src="img/icon-contacts.svg">
      <div>Add as a contact</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__item item item-icon-right" ng-click="sendPaymentToAddress(data)">
      <img src="img/icon-send-alt.svg">
      <div>Send payment to this address</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__item item item-icon-right" copy-to-clipboard="data">
      <img src="img/icon-paperclip.svg">
      <div>Copy to clipboard</div>
      <i class="icon bp-arrow-right"></i>
    </a>
    <a class="incoming-data-menu__cancel item" ng-click="hide()">
      Cancel
    </a>
  </div>
</action-sheet>
