<action-sheet
  action-sheet-show="showMenu">
  <div class="incoming-data-menu__item head">
    <div class="incoming-data-menu__header">Website</div>
    <div class="incoming-data-menu__url">
      <div class="incoming-data-menu__url__icon">
        <img src="img/icon-lock-green.svg">
      </div>
      <div class="incoming-data-menu__url__text">
        https://bitpay.com
      </div>
    </div>
  </div>
  <a class="incoming-data-menu__item item item-icon-right">
    <img src="img/icon-link-external.svg">
    <div>Open website</div>
    <i class="icon bp-arrow-right"></i>
  </a>
  <a class="incoming-data-menu__cancel item">
    Cancel
  </a>
</action-sheet>
