  <div class="list card" ng-controller="nextStepsController"> 
    <div class="item item-icon-right item-heading" ng-click="toggle()" >
      <span translate>Next steps</span>
      <i class="icon bp-arrow-up" ng-show="!hide"></i>
      <i class="icon bp-arrow-down" ng-show="hide"></i>
    </div>
    <div ng-show="!hide">
      <div ng-repeat="service in services">
        <a ui-sref="{{service.sref}}" class="item item-sub item-icon-left item-big-icon-left item-icon-right next-step">
          <i class="icon big-icon-svg">
            <div class="bg {{service.icon}}"></div>
          </i>
          <span>{{service.title ||  service.name}}</span>
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

      <!--  -->
      <!-- <a ui&#45;sref="tabs.bitpayCardIntro" ng&#45;if="!externalServices.BitpayCard &#38;&#38; bitpayCardEnabled" class="item item&#45;sub item&#45;icon&#45;left item&#45;big&#45;icon&#45;left item&#45;icon&#45;right next&#45;step"> -->
      <!--   <i class="icon big&#45;icon&#45;svg"> -->
      <!--     <div class="bg icon&#45;bitpay&#45;card"></div> -->
      <!--   </i> -->
      <!--   <span translate>Add BitPay Visa&#38;reg; Card</span> -->
      <!--   <i class="icon bp&#45;arrow&#45;right"></i> -->
      <!-- </a> -->

