
  <div class="columns m20t">
    <label class="size-14 text-center" for="password" ng-if="isSetup">
      <span ng-show="!isVerification" translate>Set up a spending password</span>
      <span ng-show="isVerification" translate>Repeat the spending password</span>
    </label>
    <label class="size-14 text-center" for="password" ng-if="!isSetup">
      <span translate>Enter your spending password</span>
    </label>

    <div class="input m20t">
      <input type="password" placeholder="{{'Your spending password'|translate}}"
      id="passwordInput" name="password" ng-model="data.password" ng-keypress="keyPress($event)" autofocus>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <button
        class="round small-6 columns outline dark-gray expand"
        ng-click="cancel()"
        ng-disabled="loading">
        <span class="size-12" translate>Cancel</span>
      </button>
    </div>

    <div class="small-6 columns">
      <button class="round expand"
              ng-click="set()"
              ng-disabled="!data.password || loading"
        ng-style="{'background-color':index.backgroundColor}">
        <span ng-if="isSetup" class="size-12" translate>SET</span>
        <span ng-if="!isSetup" class="size-12">OK</span>
      </button>
    </div>
  </div>

    <p class="text-warning size-12 columns m20t text-center" ng-show="isSetup">
      <i class="fi-alert"></i>
      <span ng-show="!error" translate> Your wallet key will be encrypted. The Spending Password cannot be recovered. Be sure to write it down</span>

      <span ng-show="error">{{error|translate}}</span>
    </p>
