<action-sheet action-sheet-show="show" class="max-selector">
  <div class="header" translate>Shortcuts</div>
  <a class="item item-icon-left item-icon-right" ng-click="setSendMax()">
    <i class="icon ion-ios-navigate-outline"></i>
    <span translate>Send max amount</span>
    <span class="item-note">{{wallet.status.availableBalanceStr}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <div class="button button-block" ng-click="hide()">
    <span translate>Cancel</span>
  </div>
</action-sheet>
