<div
  class="slide-success__background"
  ng-class="{'fill-screen': fillScreen, 'slide-success__windows-background': isWindowsPhoneApp}">
</div>

<div ng-disabled="wallet" class="slide-success__content">
  <img src="img/onboarding-success.svg" ng-class="{reveal: fillScreen}">
  <div class="slide-success__content__header" ng-class="{reveal: fillScreen}">
    <ng-transclude>Payment Sent</ng-transclude>
  </div>
</div>

<div class="slide-success__footer" ng-class="{reveal: fillScreen}">
  <a class="slide-success__footer__btn" ng-click="onConfirmButtonClick()">OK</a>
</div>
