<div class="wallet-details__item__marker"></div>
<div style="padding-right: 25px">
  <img src="img/icon-proposal-pending.svg" width="40">
</div>

<div class="wallet-details__tx-content" ng-class="{'no-border': $last}">

  <div class="wallet-details__tx-title">
    <span ng-show="!tx.merchant">
      <span ng-if="tx.message" class="ellipsis">{{tx.message}}</span>
      <span ng-if="!tx.message && addressbook[tx.toAddress]"  class="ellipsis">{{addressbook[tx.toAddress].name || addressbook[tx.toAddress]}}</span>
      <span ng-if="!tx.message && !addressbook[tx.toAddress]"  class="ellipsis" translate>Sending</span>
    </span>
    <span ng-show="tx.merchant">
      <span ng-show="tx.merchant.pr.ca" class="ellipsis"><i class="fi-lock"></i> {{tx.merchant.domain}}</span>
      <span ng-show="!tx.merchant.pr.ca" class="ellipsis"><i class="fi-unlock"></i> {{tx.merchant.domain}}</span>
    </span>
  </div>

  <span class="item-note text-right wallet-details__tx-amount">
    <span class="wallet-details__tx-amount wallet-details__tx-amount--sent">
      <span ng-if="tx.action == 'sent'">–</span>
      <span class="size-12" ng-if="tx.action == 'invalid'" translate>
      (possible double spend)
      </span>
      <span ng-if="tx.action != 'invalid'">
      – {{tx.amountStr}}
      </span>
    </span>
    <div>
      <time class="wallet-details__tx-time" ng-if="tx.createdOn && createdWithinPastDay(tx.createdOn * 1000)">{{tx.createdOn * 1000 | amTimeAgo}}</time>
      <time class="wallet-details__tx-time" ng-if="tx.createdOn && !createdWithinPastDay(tx.createdOn * 1000)">{{tx.createdOn * 1000 | date:'MMMM d, y'}}</time>
    </div>
  </span>
</div>
