<action-sheet action-sheet-show="show" class="wallet-selector">
  <img class="back-arrow" src="img/icon-back-arrow.svg" ng-click="hide()">
  <div class="header">{{title}}</div>
  <a
    ng-repeat="wallet in wallets track by $index"
    class="item item-icon-left item-big-icon-left item-icon-right wallet"
    ng-click="selectWallet(w)"
  >
      <i class="icon big-icon-svg">
        <wallet-icon></wallet-icon>
      </i>
      <div class="wallet-inner">
        <div class="wallet-details">
          <div class="wallet-name">
            {{wallet.name}}
          </div>
          <p class="wallet-balance">
            <span ng-if="!wallet.isComplete()" class="assertive" translate>
              Incomplete
            </span>
            <span ng-if="wallet.isComplete()">
              <span ng-if="!wallet.balanceHidden">{{wallet.status.availableBalanceStr}}</span>
              <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
            </span>
          </span>
          &nbsp;
          </p>
        </div>
        <img class="check" src="img/icon-check-selected.svg" ng-show="selectedWallet === w">
      </div>
    </a>
</action-sheet>
