<span class="wallet-activity">
  <div ng-if="notification.type == 'NewCopayer' && notification.wallet.n>1" translate>
    Copayer joined
  </div>

  <div ng-if="notification.type == 'NewCopayer' && notification.wallet.n==1" translate>
    Wallet created
  </div>

  <div ng-if="notification.type == 'NewOutgoingTx'">
      <span translate>Payment Sent </span>
      <div class="wallet-activity-amount">
      {{notification.amountStr}}
      </div>
  </div>



  <div ng-if="notification.type == 'NewIncomingTx'">
      <span translate>Payment Received</span>
      <div class="wallet-activity-amount">
      {{notification.amountStr}}
      </div>
  </div>

  <div ng-if="notification.type == 'TxProposalRemoved'">
    <span translate>Proposal Deleted</span>:
    <b>{{notification.message}}</b>
    <div class="wallet-activity-amount">
      {{notification.amountStr}}:
    </div>
  </div>

  <div ng-if="notification.type == 'TxProposalRejectedBy'">
    <span translate>Proposal Rejected</span>:
    <b>{{notification.message}}</b>
    <div class="wallet-activity-amount">
      {{notification.amountStr}}:
      </div>
  </div>

  <span ng-if="notification.type == 'NewTxProposal'">
    <span translate>New Proposal</span>:
    <b>{{notification.message}}</b>
    <div class="wallet-activity-amount">
    {{notification.amountStr}}
    </div>
  </span>

  <span ng-if="notification.type == 'TxProposalAcceptedBy'">
    <span translate>Proposal Accepted</span>:
    <b>{{notification.message}}</b>
    <div class="wallet-activity-amount">
    {{notification.amountStr}}
    </div>
  </span>

  <p class="wallet-activity-note">
<!-- {{notification.types}} -->
    <i class="icon ion-record wallet-activity-note-child" ng-class="{'wallet-color-default': !notification.wallet.color}" ng-style="{'color':notification.wallet.color}"></i>
    <span ng-if="notification.creatorName" class="wallet-activity-note-child">{{ notification.creatorName}}@</span>
    <span class="wallet-activity-note-child">{{notification.wallet.name}}</span>
    <time class="wallet-activity-note-child">{{ notification.createdOn * 1000 | amTimeAgo}}</time>
  </p>
</span>
