<div class="wallets" ng-show="wallets[0]">
  <ion-slides class="slides" slider="data.slider">
    <ion-slide-page ng-repeat="wallet in wallets track by $index">
      <div class="card" ng-click="slider.slideTo($index)">
        <div class="item item-icon-left text-right">
          <i class="icon big-icon-svg">
            <img src="img/icon-wallet.svg" ng-style="{'background-color': wallet.color}" class="bg"/>
          </i>
          <span>{{wallet.name || wallet.id}}</span>
          <span class="item-note m10l" ng-show="wallet.n > 1 && wallet.isComplete()">
            {{wallet.m}}-of-{{wallet.n}}
          </span>
        </div>
      </div>
    </ion-slide-page>
  </ion-slides>
</div>
