
  <img src="img/icon-wallet-bitlox.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"

  ng-show="wallet.getPrivKeyExternalSourceName().indexOf('bitlox') > -1"
  />
  <img src="img/aureus.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"
  ng-show="wallet.network === 'aureus'"
  />
  <img src="img/deuscoin.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"
  ng-show="wallet.network === 'deuscoin'"
  />
  <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"
  ng-show="wallet.network === 'livenet'"
  />
  <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"
  ng-show="wallet.network === 'testnet'"
  />