<div class="wallets" ng-show="wallets[0]">
  <ion-slides class="slides" slider="data.slider" options="sliderOptions">
    <ion-slide-page ng-repeat="wallet in wallets track by $index">
      <div class="card" ng-click="slider.slideTo($index)">
        <div class="item item-icon-left text-right" ng-class="{'noBalance': !wallet.status.availableBalanceStr}">
          <i class="icon big-icon-svg">
            <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg"/>
          </i>
          <span class="wallet-name">{{wallet.name || wallet.id}}</span>
          <span class="item-note m10l" ng-if="!wallet.balanceHidden">
            {{wallet.status.availableBalanceStr}}
          </span>
          <span class="item-note m10l" ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
        </div>
      </div>
    </ion-slide-page>
  </ion-slides>
</div>
