<action-sheet action-sheet-show="show" class="wallet-selector">
  <img class="back-arrow" src="img/icon-back-arrow.svg" ng-click="hide()">
  <div class="header">{{title}}</div>
  <a
    ng-repeat="w in wallets track by $index"
    class="item item-icon-left item-big-icon-left item-icon-right wallet"
    ng-click="selectWallet(w)"
  >
      <i class="icon big-icon-svg">
        <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !w.color}" ng-style="{'background-color': w.color}" class="bg">
      </i>
      <div class="wallet-inner">
        <div class="wallet-details">
          <div class="wallet-name">
            {{w.name}}
          </div>
          <p class="wallet-balance">
            <span ng-if="!w.isComplete()" class="assertive" translate>
              Incomplete
            </span>
            <span ng-if="w.isComplete()">
              <span ng-if="!w.balanceHidden">{{w.status.availableBalanceStr}}</span>
              <span ng-if="w.balanceHidden" translate>[Balance Hidden]</span>
            </span>
          </span>
          &nbsp;
          </p>
        </div>
        <img class="check" src="img/icon-check-selected.svg" ng-show="selectedWallet === w">
      </div>
    </a>
</action-sheet>
