.options-container {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-bottom: calc(env(safe-area-inset-bottom));
  cursor: pointer;

  .option {
    border-bottom: 1px solid rgb(237, 237, 237);
    display: flex;
    padding: 22px;

    .option-icon {
      display: flex;
      padding-right: 15px;
    }

    .option-text {
      display: inline-block;
      color: black;
      font-size: 18px;
      vertical-align: middle;
    }

    .danger {
      color: color($colors, danger);
    }
  }

  .cancel-btn {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
}
