<action-sheet>
  <div class="options-container" [ngSwitch]="sheetType">
    <div *ngSwitchCase="'address-options'">
      <div class="option" (click)="optionClicked('request-amount')">
        <div class="option-icon">
          <img src="assets/img/specific-amount.svg">
        </div>
        <div translate class="option-text">Request Specific Amount</div>
      </div>
      <div *ngIf="params.showShare" class="option" (click)="optionClicked('share-address')">
        <div class="option-icon">
          <img src="assets/img/icon-share.svg">
        </div>
        <div translate class="option-text">Share Address</div>
      </div>
    </div>
    <div *ngSwitchCase="'gift-card-options'">
      <div class="option" (click)="optionClicked('archive')" *ngIf="!params.card.archived">
        <div class="option-icon">
          <img src="assets/img/notebook.svg">
        </div>
        <div translate class="option-text">Archive Card</div>
      </div>
      <div class="option" (click)="optionClicked('unarchive')" *ngIf="params.card.archived">
        <div class="option-icon">
          <img src="assets/img/notebook.svg">
        </div>
        <div translate class="option-text">Unarchive Card</div>
      </div>
      <div class="option" (click)="optionClicked('view-invoice')">
        <div class="option-icon">
          <img src="assets/img/invoice-icon.svg">
        </div>
        <div translate class="option-text">View Invoice</div>
      </div>
      <div *ngIf="params.showShare" class="option" (click)="optionClicked('share-code')">
        <div class="option-icon">
          <img src="assets/img/icon-share.svg">
        </div>
        <div translate class="option-text">Share Claim Code</div>
      </div>
    </div>
    <div (click)="dismiss()" class="cancel-btn" translate>Cancel</div>
  </div>
</action-sheet>