page-simplex-buy {
  .spinner {
    text-align: center;
    margin: 15px 0;
  }
  ion-spinner {
    * {
      stroke: #0d172c !important;
    }
  }

  .wallet {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .multiple-length {
      display: flex;
    }
    .coin-img {
      &-btc,
      &-bch {
        width: 12px;
      }
      &-eth {
        width: 20px;
      }
    }
    .text-address {
      display: flex;
      width: 25px;
      justify-content: space-between;
    }
    .address-with-divider {
      border-left: 1px solid rgb(227, 227, 227);
      margin-left: 1rem;
      padding-left: 1rem;
    }
  }
  .total-amount ion-note {
    text-align: right;
  }
  .terms {
    padding: 0 3rem 3rem 3rem;
    color: color($colors, light-grey);
    a {
      cursor: pointer;
    }
  }
  .simplex-logo {
    display: flex;
    margin: 0 auto;
  }
}

.simplex-currency-3 {
  .alert-radio-group {
    button:nth-child(3) {
      border-bottom: 1px solid #dedede;
    }
  }
}

.simplex-currency-4 {
  .alert-radio-group {
    button:nth-child(4) {
      border-bottom: 1px solid #dedede;
    }
  }
}
