.notification-modal-panel {
  position: absolute;
  top: 1%;
  max-height: 15%;
  width: 100%;
  transition: opacity 300ms ease;
  background-color: transparent;
  text-align: center;
  .notification-content {
    display: inline-block;
    padding: 0 1%;
    width: 95%;
    height: 97%;
    background-color: darkcyan;
    border-radius: 10px;
    .notification-title {
      text-align: left;
    }
    .notification-message {
      text-align: left;
    }
    .notification-button {
      text-align: right;
      ion-button {
        background-color: steelblue;
        border-radius: 10px;
      }
    }
  }
}
