page-fee-policy {
  .explanation {
    padding: 0 1rem;
    margin: 1rem 0;
  }
  .heading {
    font-size: 17px;
    margin: 1rem 0;
  }
  .description {
    margin: 1rem 0;
    font-size: 0.9em;
  }
  .estimates {
    font-size: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .fee-minutes, .fee-rate {
    font-weight: bold;
  }
  .error {
    color: color($colors, danger);
  }
}
