page-fee-policy {
  .explanation {
    margin: 1rem 0;
  }
  .description {
    margin: 1rem 0;
    font-size: 12px;
    color: color($colors, grey);
  }
  .estimates {
    padding-bottom: 10px;
  }
  .fee-minutes,
  .fee-rate {
    font-weight: bold;
  }
  .error {
    color: color($colors, danger);
  }
}
