.stable-slider.rzslider .rz-bar {
  background: $v-light-gray;
  height: 2px;
}
.stable-slider.rzslider .rz-selection {
  background: $v-accent-color;
}

.stable-slider.rzslider .rz-pointer {
  width: 20px;
  height: 20px;
  top: -9px;
  bottom: 0;
  background-color: $v-accent-color;
}

.stable-slider.rzslider .rz-pointer:after {
  display: none;
}

.stable-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.stable-slider.rzslider .rz-limit {
  font-weight: bold;
  color: $v-accent-color;
}

.stable-slider.rzslider .rz-tick {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  border-radius: 50%;
  background: $v-light-gray;
  top: -1px;
}

.stable-slider.rzslider .rz-tick.rz-selected {
  background: $v-accent-color;
}

.stable-slider.rzslider .rz-tick-legend {
	top: 20px;
	font-size: 12px;
	color: $v-dark-gray;
}