<div class="row collapse">
    <div class="medium-3 small-3 columns text-center bottombar-item" ng-repeat="item in menu" ui-route="{{item.link}}" ng-if="item.link!='more'">
      <a ng-click="$root.go(item.link)" ng-class="{active: isActive(item)}"> 
        <i class="size-36 {{item.icon}} db"></i> 
        <div class="size-10 tu">
          {{item.title}} 
          <span class="label alert round" ng-if="item.link=='homeWallet' && $root.wallet.pendingTxProposalsCountForUs > 0">{{$root.wallet.pendingTxProposalsCountForUs}}</span>
        </div>
      </a>
    </div> 

</div>

