<ul class="no-bullet m0">
  <li class="oh m15t" ng-repeat="copayer in $root.wallet.getRegisteredPeerIds()">
    <div class="left m10r" >
      <div class="photo-container">
        <img gravatar-src="'{{copayer.nick}}'" gravatar-size="35">
      </div>
    </div>
    <div class="left" tooltip="ID: {{copayer.peerId}}" tooltip-placement="bottom">
      <span class="size-12" ng-show="copayer.index == 0">
        <i class="fi-check m5r"></i> {{'Me'|translate}}
      </span>
      <span class="size-12 text-gray" ng-show="copayer.index > 0">
        <i class="fi-check m5r"></i> {{copayer.nick}}
      </span>
    </div>
  </li>
</ul>
