<div class="title">
  <h1>{{$root.title}}</h1>
</div>



<div class="menu" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
  ng-click="hoverMenu = !hoverMenu">
  <a class="dropdown ellipsis text-gray" ng-class="{'hover': hoverMenu}">
    <span ng-include="'views/includes/photo.html'"></span>
    <span class="m15t">{{username}} </span>
    <i class="icon-arrow-down size-16 vm"></i> 
  </a>
  <ul ng-show="hoverMenu" ng-class="{'hover': hoverMenu}">
    <li><a class="text-gray size-16" href="#!/" title="Close" ng-click="signout()">
      <i class="fi-power m10r"></i> {{'Close'|translate}}</a></li>
  </ul>
</div>
<div class="right">
  <a class="button tiny secondary radius oh" href="#!/manage" title="Manage wallets"><i class="fi-plus"></i> {{'Manage wallets' | translate }}</a>
</div>
<div class="right m20r m5t">
  <a ng-click="refresh()" class="size-18 text-gray">
    <i class="fi-refresh right"></i>
  </a>
</div>

