<div class="title">
  <h1>
    {{$root.title}} 
    <small>
      <a class="text-gray" ng-click="refresh()" ng-if="!$root.updatingBalance">
        <i class="fi-refresh"></i>
      </a>
      <span ng-if="$root.updatingBalance">
        <i class="fi-bitcoin-circle icon-rotate spinner"></i>
      </span>
    </small>
  </h1> 
</div>



<div class="menu" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
  ng-click="hoverMenu = !hoverMenu">
  <a class="dropdown ellipsis text-gray" ng-class="{'hover': hoverMenu}">
    <div class="photo-container">
      <img gravatar-src="'{{username}}'" gravatar-size="35">
    </div>
    <span class="m15t">{{username}} </span>
    <i class="icon-arrow-down size-16 vm"></i> 
  </a>
  <ul ng-show="hoverMenu" ng-class="{'hover': hoverMenu}">
    <li><a class="text-gray size-16" href="#!/profile" title="Profile">
      <i class="fi-torso m10r"></i> {{'Profile'|translate}}</a></li>
    <li><a class="text-gray size-16" href="#!/createWallet" title="Create Wallet">
      <i class="fi-plus m10r"></i> {{'Create Wallet'|translate}}</a></li>
    <li><a class="text-gray size-16" href="#!/" title="Close" ng-click="signout()">
      <i class="fi-power m10r"></i> {{'Close'|translate}}</a></li>
  </ul>
</div>

