<div class="title">
  <h1>{{$root.title}}</h1>
</div>

<div class="menu" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
  ng-click="hoverMenu = !hoverMenu">
  <a class="dropdown ellipsis" ng-class="{'hover': hoverMenu}">{{username}}</a>
  <ul ng-show="hoverMenu" ng-class="{'hover': hoverMenu}">
    <li>
      <a href="#!/manage" title="Manage wallets">
        <i class="fi-plus"></i> {{'Manage wallets' | translate }}</a></li>
    <li><a href="#!/" title="Close" ng-click="signout()">
      <i class="fi-power"></i> {{'Close'|translate}}</a></li>
  </ul>
</div>

