<div class="loading-screen">
  <div class="loading-screen-content">
  <div class="hide-for-large-up loading-screen-small">
    <img src="img/ajax-loader.gif" alt="Loading...">
  </div>
  <div class="show-for-large-up loading-screen-large">
    <div class="contener_general">
      <div class="contener_mixte"><div class="ballcolor ball_1">&nbsp;</div></div>
      <div class="contener_mixte"><div class="ballcolor ball_2">&nbsp;</div></div>
      <div class="contener_mixte"><div class="ballcolor ball_3">&nbsp;</div></div>
      <div class="contener_mixte"><div class="ballcolor ball_4">&nbsp;</div></div>
    </div>
  </div>
  <span class="text-gray size-12" ng-show="title">{{title}}...</span>
  </div>
</div>
