<div ng-controller="CopayersController" class="copayers">
  <h3>
    <i class="fi-torsos-all size-21 m20r"></i>
    Copayers
    <small class="m15l">
      {{$root.wallet.requiredCopayers}} of {{$root.wallet.totalCopayers}}
    </small>
  </h3>

  <div class="copay-box-small" ng-repeat="copayer in copayers">
    <img
      class="br100"
      ng-class="online"
      src="./img/satoshi.gif"
      alt="{{copayer.peerId}}"
      width="30">

    <div class="ellipsis">
      <small class="text-gray" ng-show="copayer.index == 0">Me</small>
      <small class="text-gray" ng-show="copayer.index > 0">{{copayer.nick}}</small>
    </div>
  </div> 
</div>
