<div class="text-centered">
  <canvas id="qr-canvas" width="200" height="150"></canvas>
  <div ng-show="isMobile">
    <div id="file-input-wrapper" class="btn btn-primary">
      <span class="pull-left text-centered">
        <i class="glyphicon glyphicon-refresh icon-rotate"></i>
        <span translate>Get QR code</span>
      </span>
      <input id="qrcode-camera" type="file" capture="camera" accept="image/*">
    </div>
  </div>
  <div ng-hide="isMobile">
    <video id="qrcode-scanner-video" width="300" height="225" ng-hide="isMobile"></video>
  </div>
</div>
