<header ng-click="$root.go('profile')" class="text-center">
  <div class="photo-container">
    <img gravatar-src="'{{$root.iden.getName()}}'" gravatar-size="45">
  </div>
  <div class="m5t">
    <div class="text-white text-bold ellipsis size-14">{{$root.iden.getName()}}</div>
    <div class="text-gray size-10"> {{'View My Profile' | translate }} </div>
  </div>
</header>
  <div class="scroll-section">
    <ul class="sidebar-mobile-wallets oh off-canvas-list m10b" ng-show="wallets[0]">
      <li 
      ng-repeat="item in wallets track by $index"
      ng-class="{'selected': item.id == $root.wallet.id}"
      class="nav-item" ng-click="switchWallet(item.id)" >
      <div class="col1">
        <div class="avatar-wallet">{{(item.name || item.id) | limitTo: 1}}</div>
      </div>
      <div class="col2">
        <a class="size-12 wallet-item">
          <div class="ellipsis name-wallet text-black">{{item.name || item.id}}</div>
          <div class="size-12">  {{item.requiredCopayers}} of {{item.totalCopayers}}  </div> 
        </a>
      </div>
      </li> 
      <li>
        <div class="buttons-sidebar" title="Add wallet" ng-click="$root.go('add')">
          <div class="col1">
            <i class="fi-plus size-21"></i> 
          </div>
          <div class="col2">
            <i class="icon-arrow-right3 size-18 right m10t"></i>
            <span class="tu text-bold">Add wallet</span> <br>
            <span class="text-light">Create, join or import</span>
          </div>
        </div>
      </li>
      <li>
        <div ng-if="!$root.hasPin" class="buttons-sidebar" title="Close" ng-click="signout()">
          <div class="col1">
            <i class="fi-power size-21"></i> 
          </div>
          <div class="col2 m5t m15b">
            <span class="tu text-bold">Close</span> <br>
          </div>
        </div>
        <div ng-if="$root.hasPin" class="buttons-sidebar" title="Close" ng-click="signout()">
          <div class="col1">
            <i class="fi-lock size-21"></i> 
          </div>
          <div class="col2">
            <span class="tu text-bold">Lock</span> <br>
            <span class="text-light"> Require pin to unlock</span>
          </div>
        </div>
      </li>
    </ul>

      


    <div class="text-gray size-12 text-center columns">
      <div ng-include="'views/includes/version.html'"></div>
    </div>
  </div>

