<div class="header-message">
  <span class="date-message">{{tx.createdTs | amCalendar}}</span>
</div>
<div class="last-transactions-header" ng-init="txIndex = $index">
  <div class="private-message" ng-show="tx.comment">
    <i class="fi-comment-quotes"></i> 
    <span class="text-light">{{tx.comment}}</span>
  </div>
  <div class="row" ng-repeat="out in tx.outs">
    <div class="large-3 medium-3 small-4 columns">
      <div class="size-12">
        <span>{{out.value}} {{$root.wallet.settings.unitName}}</span>
        <span class="label secondary round">
          {{out.alternativeAmount}} {{out.alternativeIsoCode}}
        </span>
      </div>
    </div>
    <div class="large-1 medium-1 small-1 columns fi-arrow-right"></div>
    <div class="large-8 medium-8 small-7 columns ellipsis">
      <contact address="{{out.address}}" tooltip-popup-delay="500" tooltip tooltip-placement="right" />
    </div>
  </div>

  <div class="line-t m5t" ng-show="!!tx.merchant">
    <div class="send-note">
      <p>
      <b>{{tx.merchant.pr.pd.memo}}</b>
      <p>
      Expires {{tx.merchant.pr.pd.expires * 1000 | amTimeAgo }} 
      <span ng-show="tx.merchant.domain">[{{tx.merchant.domain}}]</span>
      <span ng-show="!!tx.merchant.pr.ca"><i class="fi-lock"></i> {{tx.merchant.pr.ca}}</span>
      <span ng-show="!tx.merchant.pr.ca" style="color:red;weight:bold;"><i class="fi-unlock"></i> Untrusted</span>
    </div>
  </div>
</div>

<table class="last-transactions-content">
  <tbody>
  <tr ng-repeat="c in tx.actionList">
    <td width="100%">{{c.cId === $root.wallet.getMyCopayerId() ? 'Me' : $root.wallet.publicKeyRing.nicknameForCopayer(c.cId)}}
    </td>
    <td>
      <i ng-if="c.actions.create" class="fi-crown icon-status icon-active"></i>
      <i ng-if="!c.actions.create" class="fi-crown icon-status"></i>
    </td>
    <td>
      <i ng-if="c.actions.seen" class="fi-eye icon-status icon-active"></i>
      <i ng-if="!c.actions.seen" class="fi-eye icon-status"></i>
    </td>
    <td>
      <i ng-if="c.actions.rejected" class="fi-x icon-status icon-active-x"></i>
      <i ng-if="c.actions.sign" class="fi-check icon-status icon-active-check"></i>
      <i ng-if="!c.actions.sign && !c.actions.rejected && tx.missingSignatures" class="fi-loop icon-rotate"></i>
    </td>
  </tr>
  </tbody>
</table>

<div class="last-transactions-footer">
  <div class="row collapse">
    <div class="large-5 medium-7 small-12 columns" ng-show="!tx.sentTs">
      <div ng-show="!tx.signedBy[myId] && !tx.rejectedBy[myId]">
        <div class="hide-for-small-only">
          <button class="primary tiny m0 m15r"  ng-click="sign(tx.ntxid)" ng-disabled="loading">
            <i class="fi-check"></i> <span translate>Sign</span>
          </button>
          <button class="warning tiny m0" ng-click="reject(tx.ntxid)" ng-disabled="loading">
            <i class="fi-x" ></i> <span translate>Reject</span>
          </button>
        </div>
        <div class="show-for-small-only row">
          <button class="primary tiny small-5 columns m10b"  ng-click="sign(tx.ntxid)" ng-disabled="loading">
            <i class="fi-check"></i> <span translate>Sign</span>
          </button>
          <button class="warning tiny small-5 columns m10b" ng-click="reject(tx.ntxid)" ng-disabled="loading">
            <i class="fi-x" ></i> <span translate>Reject</span>
          </button>
        </div>
      </div>
      <div ng-show="!tx.missingSignatures && !tx.sentTs">
        <button class="primary tiny m0"  ng-click="send(tx.ntxid)" ng-disabled="loading"> <i class=".fi-upload-cloud"></i>
          <span translate>Broadcast Transaction</span>
        </button>
      </div>
    </div>

    <div class="large-7 medium-5 small-12 columns text-right">
      <div translate ng-show="tx.finallyRejected" class="has-error">
        Transaction finally rejected
      </div>
      <div ng-show="!tx.missingSignatures && tx.sentTs">
        <div class="is-valid">
          <strong translate>Sent</strong>  <span class="text-gray" am-time-ago="tx.sentTs"></span>
        </div>
        <div class="ellipsis small m10t">
          <span translate>Transaction ID</span>:
          <a href="http://{{getShortNetworkName()}}.insight.is/tx/{{tx.sentTxid}}" target="_blank">
            {{tx.sentTxid}}
          </a>
        </div>
      </div>
      <div translate class="text-gray" ng-show="!tx.finallyRejected && tx.missingSignatures==1">
        One signature missing
      </div>
      <div translate class="text-gray" ng-show="!tx.finallyRejected && tx.missingSignatures>1">
        {{tx.missingSignatures}} signatures missing
      </div>
      <div class="ellipsis small text-gray show-for-large-up m5t">
        <strong translate>Fee</strong>: {{tx.fee}} {{$root.wallet.settings.unitName}}
        <strong translate>Proposal ID</strong>: {{tx.ntxid}}
      </div>
    </div>
  </div>
</div>
