<div ng-controller="VideoController">
  <div  class="video-box" ng-repeat="copayer in copayersList()">
    <video
      ng-if="hasVideo(copayer)"
      peer="{{copayer}}" avatar autoplay
      ng-class="isConnected(copayer) ? 'online' : 'offline'"
      ng-src="{{getVideoURL(copayer)}}"></video>

    <img
      class="no-video"
      ng-if="!hasVideo(copayer)"
      ng-class="isConnected(copayer) ? 'online' : 'offline'"
      src="./img/satoshi.gif"
      alt="{{copayer}}">

    <div
      tooltip="ID: {{copayer.peerId}}"
      tooltip-placement="bottom">
      <span ng-show="copayer.index == 0">you</span>
      <span ng-show="copayer.index > 0">{{copayer.nick}}</span>
    </div>

    <div class="success label" ng-show="isBackupReady(copayer)">
      Backup ready
    </div>
  </div>
</div>
