<div 
  class="video-box"
  ng-controller="VideoController"
  ng-repeat="c in $root.wallet.getRegisteredPeerIds()">
  <video 
    ng-if="$root.videoInfo[c.peerId]"
    avatar 
    peer="{{c}}"
    autoplay
    ng-class="($root.wallet.getOnlinePeerIDs().indexOf(c.peerId) != -1) ? 'online' : 'offline'"
    ng-src="{{getVideoURL(c.peerId)}}"
    ></video>
  <img 
    class="no-video"
    ng-if="!$root.videoInfo[c.peerId]"
    avatar 
    peer="{{c}}"
    ng-class="($root.wallet.getOnlinePeerIDs().indexOf(c.peerId) != -1) ? 'online' : 'offline'"
    src="./img/satoshi.gif"
    alt="{{c}}">
  <div 
    tooltip="ID: {{c.peerId}}" 
    tooltip-placement="bottom">
    <span ng-show="c.index==0">you</span>
    <span ng-show="c.index>0">{{c.nick}}</span>
  </div>
  <div class="success label" ng-show="$root.wallet.publicKeyRing.isBackupReady(c.copayerId)">
    Backup ready
  </div>
</div>
