<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bitpay.copay" 
  version="0.8.3" 
  android-versionCode="17"
  ios-CFBundleVersion="0.8.3">
    <name>Copay</name>
    <description>
      A secure bitcoin wallet for friends and companies.
    </description>
    <author email="support@bitpay.com" href="http://copay.io">
        BitPay Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="SplashScreen" value="copayscreen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="BackgroundColor" value="#2C3E50" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#3C4E60" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="BackupWebStorage" value="none"/>
    <feature name="App">
      <param name="android-package" value="com.bitpay.copay" />
    </feature>
    <feature name="WebIntent">
      <param name="android-package" value="com.borismus.webintent.WebIntent" />
    </feature>
    <feature name="BarcodeScanner">
      <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner" />
    </feature>
    <feature name="SplashScreen">
      <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <feature name="StatusBar">
      <param name="android-package" onload="true" value="org.apache.cordova.statusbar.StatusBar" />
    </feature>
</widget>
