<ion-content no-bounce>
  <ion-slides #newDesignTourSlides pager="true" class="new-design-slides">
    <ion-slide>
      <div class="page-title" translate>What changed?</div>
      <div class="img-container">
        <img src="assets/img/new-design-tour1.png">
      </div>
      <div class="slide-info">
        <div class="info">
          <div class="title" translate>New look and feel</div>
          <div class="text" translate>A more spacious and simplified design inspired by physical wallets. Your funds should be easily accesible with all the important details summarized in a glance.</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="page-title" translate>What changed?</div>
      <div class="img-container">
        <img src="assets/img/new-design-tour2.png">
      </div>
      <div class="slide-info">
        <div class="info">
          <div class="title" translate>Swipe to Send/Receive</div>
          <div class="text" translate>Quickly send a payment to show your receive address by swiping right to send a payment or swipe left to see view your wallet address.</div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <button ion-button clear class="next-slide-button" (click)="nextSlide()" *ngIf="newDesignTourSlides.getActiveIndex() < 1" translate>Next</button>
  <button ion-button clear class="next-slide-button" (click)="close()" *ngIf="newDesignTourSlides.getActiveIndex() == 1" translate>Done</button>
</ion-content>