page-new-design-tour {
  .new-design-tour-slides {
    .slide-zoom {
      height: 100%;
    }
    ion-slide {
      background: linear-gradient(to bottom, #ffffff, #ebedf8 80%);
      .page-title {
        text-align: center;
        width: 100%;
        font-weight: 500;
        position: absolute;
        color: color($colors, primary);
        top: 4%;
      }
      .img-container {
        height: 65%;
        @media (max-height: 650px) and (max-width: 768px) {
          height: 60%;
        }
        @media (min-height: 600px) and (min-width: 768px) {
          height: 55%;
        }
        @media (max-height: 550px) and (max-width: 768px) {
          height: 50%;
        }
        img {
          padding-top: 6rem;
          @media (max-height: 650px) and (max-width: 768px) {
            padding-top: 5rem;
          }
          @media (min-height: 600px) and (min-width: 768px) {
            padding-top: 3rem;
          }
          @media (max-height: 550px) and (max-width: 768px) {
            padding-top: 4rem;
          }
          width: auto;
          height: 100%;
          justify-content: center;
          align-self: center;
          margin: 0 auto;
          &.gif {
            padding-top: 0;
            padding-bottom: 6rem;
            @media (max-height: 650px) and (max-width: 768px) {
              padding-bottom: 5rem;
            }
            @media (min-height: 600px) and (min-width: 768px) {
              padding-bottom: 3rem;
            }
            @media (max-height: 550px) and (max-width: 768px) {
              padding-bottom: 4rem;
            }
          }
        }
      }
      .slide-info {
        background: white;
        height: 100%;
        .info {
          padding: 4rem;
          .title {
            align-items: center;
            color: #060606;
            font-weight: 500;
            text-align: center;
          }
          .text {
            font-size: 16px;
            text-align: center;
            color: rgb(46, 46, 46);
            font-weight: 300;
            padding-top: 15px;
          }
        }
      }
    }
  }
  .next-slide-button {
    z-index: 1;
    position: absolute;
    bottom: 2rem;
    bottom: calc(2rem + env(safe-area-inset-bottom));
    bottom: -webkit-calc(2rem + env(safe-area-inset-bottom));
    right: 0;
    color: color($colors, primary);
    cursor: pointer;
    text-transform: uppercase;
  }
}
