page-addressbook {
  .zero-state {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &-icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 13px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-heading {
      font-size: 20px;
      margin: 1rem;
    }
    &-description {
      font-size: 0.9em;
      margin-top: 0;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 120px;
      opacity: 0.6;
      max-width: 300px;
    }
  }
}

.addressbook ion-item-sliding.item-wrapper {
  button.item.item-block .item-inner {
    align-items: start;
  }
}

.addressbook ion-item-sliding.reorder-active {
  box-shadow: none;

  button.item.item-block {
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.06);
    transform: scale3d(1.05, 1.05, 1.05);
    transition: box-shadow 300ms ease, transform 300ms ease;
  }
}

.sortContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 5px;
}

.reorder-done {
  color: color($colors, primary);
}

.reorder-button {
  display: flex;
  position: relative;

  &:after {
    // For easier tappability
    content: '';
    position: absolute;
    height: 30px;
    width: 40px;
    top: -10px;
    left: -10px;
  }
}
