page-addressbook {
  .zero-state {
    margin-top: 30%;
    text-align: center;
    &-icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 13px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-heading {
      font-size: 20px;
      margin: 1rem;
    }
    &-description {
      font-size: 0.9em;
      margin-bottom: 90px;
      opacity: 0.6;
    }
  }
  .add-button {
    font-size: 16px;
    background: none;
    color: black;
    ion-icon {
      vertical-align: text-bottom;
      margin-left: 3px;
    }
  }
}
