.contact {
  ion-label {
    display: flex;
    align-items: center;
    gravatar {
      margin-right: 1.5rem;
    }
  }
  .contact-info {
    overflow: hidden;
    .item-title {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
