footer-menu {
  .item-md [item-left] {
    margin: 0px 15px 0px 0px;
  }
  padding-bottom: calc(env(safe-area-inset-bottom));
  .bp-header {
    margin: 32px 0 20px 3px;
  }
  .item-close {
    ion-icon {
      margin-left: -5px;
    }
  }
  .scan-button {
    width: 35%;
    max-width: 300px;
    margin: 20px auto 25px auto;
    display: flex;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: none;
    font-weight: 400;
    font-size: 18px;
    background-color: #edf0fe;
    color: black;

    &.activated,
    &:hover:not(.disable-hover) {
      background-color: #edf0fe;
      color: black;
      box-shadow: none;
    }

    img {
      vertical-align: middle;
    }

    .button-inner {
      padding: 2px;
    }

    span {
      @extend .two-lines;
    }
  }
}
