page-backup-warning {
  text-align: center;
  ion-header {
    .toolbar-title, ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  p {
    line-height: 1.6;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
  }

  @extend %onboarding;
  & > ion-content {
    background-image: $onboarding-background-image !important;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .scroll-content {
    overflow-y: hidden !important;
  }

  .img-container {
    height: 100%;
    img {
      max-height: 100%;
      padding-bottom: 22rem;
      min-height: 25rem;
    }
  }

  .description {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    &.bottom {
      padding: 1rem;
      position: absolute;
      bottom: 2rem;
      text-align: center;
      width: 100%;
    }
  }
}

