page-fingerprint {
  ion-content {
    background-color: white !important;
  }
  .fingerprint-header {
    height: 140px;
    border-bottom: 1px solid #dad7d7;
    position: relative;
    background-color: color($colors, light);;    
    .title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon-container {
      position: absolute;
      bottom: -2.3rem;
      text-align: center;
      width: 100%;
      border-radius: 50%;
      .app-icon {
        width: 4.5rem;
        height: 4.5rem;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
  .button-standard {
    margin-top: 9rem;
    ion-icon {
      margin-left: 1rem;
    }
  }
  .rounded {
    border-radius: 50%;
  }
}