<ion-modal-view ng-controller="scannerController">
  <ion-header-bar align-title="center" class="tab-bar">
    <div class="left-small">
      <a ng-click="cancel()" class="p10">
        <span class="text-close" translate>Close</span>
      </a>
    </div>
    <h1 class="title ellipsis" translate>QR-Scanner</h1>
  </ion-header-bar>
  <ion-content class="modal-content text-center fix-modals-touch" ng-init="init()">
    <canvas id="qr-canvas" width="200" height="150"></canvas>
    <video id="qrcode-scanner-video" width="300" height="225"></video>
  </ion-content>
</ion-modal-view>
