<ion-header>
  <ion-navbar>
    <ion-title *ngIf="wallet">{{ wallet.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div *ngIf="wallet" [hidden]="wallet.notAuthorized">
    <ion-list class="copayers-secret">
      <ion-item class="list-title">
        {{ 'Share this invitation with your copayers' | translate }}
      </ion-item>
      <ion-item>
        <div class="qr-code-container" copy-to-clipboard="{{ secret }}">
          <ngx-qrcode *ngIf="secret" qrc-value="{{secret}}" qrc-class="aclass" qrc-errorCorrectionLevel="L"></ngx-qrcode>
          <div [hidden]="secret" class="spinner">
            <ion-spinner></ion-spinner>
          </div>
          <div class="secret" text-wrap>
            {{ secret || ('Loading...'|translate) }}
          </div>
        </div>
        <button ion-button clear color="danger" type="button" *ngIf="secret" (click)="showDeletePopup()">
          {{'Cancel invitation' | translate}}
        </button>
      </ion-item>
    </ion-list>

    <div [hidden]="!secret">
      <ion-card class="copayers-card">
        <ion-card-header>
          <span translate>Waiting for copayers</span>
          <span class="gray-color">
            [
            <span translate>{{wallet.m}}-of-{{wallet.n}}</span> ]
          </span>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <div *ngFor="let copayer of copayers">
              <ion-item [hidden]="copayer.id != wallet.copayerId">
                <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
                {{'Me'|translate}}
              </ion-item>
              <ion-item [hidden]="copayer.id == wallet.copayerId">
                <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
                {{copayer.name}}
              </ion-item>
            </div>
            <div>
              <ion-item *ngIf="!wallet.isComplete()">
                <ion-icon ios="ios-repeat" md="md-repeat" item-start></ion-icon> {{'Waiting...'|translate}}
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card [hidden]="!wallet.notAuthorized" class="errors-card">
        <h1 translate>Wallet incomplete and broken</h1>
        <h4 translate>Delete it and create a new one</h4>
      </ion-card>
    </div>
  </div>
</ion-content>