page-copayers {
  .copayers-secret {
    ion-item {
      text-align: center;
    }
    .qr-code-container {
      cursor: pointer;
      .secret {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      .aclass >img {
        width: 220px;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
      }
    }
  }
  .copayers-card {
    ion-card-header {
      display: flex;
      justify-content: space-between;
    }
  }
  .errors-card {
    color: red;
  }
  .gray-color{
    color: color($colors, grey);
  }
  .list-title{
    padding-left: 0px;
    .item-inner{
      padding-left: 16px;
    }
  }
}
