#onboarding-backup-warning{
  .warning{
    margin:4rem auto 1rem;
  }
  button{
    color:#fff;
  }
  #arrow-down{
    font-size: 4.2rem;
  }
  .cta-buttons{
    float:none;
    bottom:46px;
    position: absolute;
    width:100%;
    button{
      max-width: 400px;
    }
  }
}

@media (max-width: 400px){
  #onboarding-backup-warning{
    .warning{
      margin: 2rem auto 1rem;
      height: 8rem;
    }
    h3{
      font-size:1.3rem;
    }
    p{
      font-size:.9rem;
      max-width: 80%;
      flex: 0 0 80%;
    }
    .warning-image{
      height: 11rem;
    }
    .cta-buttons{
      float:none;
      bottom:65px;
      position: absolute;
    }
  }
}
@media (max-height: 540px){
  #onboarding-backup-warning{
    .cta-buttons{
      float:left;
      position: relative;
    }
  }
}