$relish-success: 1.3s;

#onboarding-collect-email {
  background: rgb(17, 209, 166);

  #success-container {
    top: 41vh;
    position: relative;
    animation-name: emailCollectSlideUp;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
    animation-delay: $relish-success;
    animation-fill-mode: forwards;
  }
  #success-image {
    width: 13vh;
    margin: 0 auto 2vh;
  }
  #success-message {
    font-size: 3vh;
  }
  .collect-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 4;
    animation-name: emailCollectOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .2s;
    animation-delay: $relish-success;
    animation-fill-mode: forwards;
    opacity: 0;
    button {
      position: absolute;
      right: 0;
    }
  }
  .heading {
    color: $dark-gray;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 3rem 0 1rem;
  }
  .prompt {
    margin: 1rem 1.5rem;
    color: $mid-gray;
  }
  #email-form {
    margin: 0 1.5rem 1rem;
  }
  #email-label {
    border-radius: $visible-radius;
    background: rgba(200, 200, 200, 0.20);
    height: 3rem;
    margin-top:0;
  }
  #collect-email {
    opacity: 1;
    background: #fff;
    height: 25rem;
    animation-name: topBottom;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
    animation-delay: $relish-success + .2s;
    position: absolute;
    bottom: -100%;
    animation-fill-mode: forwards;
    z-index: 5;
    margin-top: 0;
    width: 100%;
  }
  #collect-email-inner {
    max-width: 400px;
    margin: 0 auto;
  }



  #news-updates {
    padding-top: 0;
  }
  .item {
    border: none;
    label {
      background: none;
    }
    .checkbox input:before,
    .checkbox .checkbox-icon:before {
      border-radius: 50% !important;
      background: none;
      border-width: 2px;
      padding: 12px;
      position: relative;
      right: 5px;
      bottom: 5px;
    }
    .checkbox input:checked:after,
    input:checked + .checkbox-icon:after {
      border-color: rgb(19, 229, 182);
      top: 4px;
      left: 6px;
    }
    .item-content {
      color: $mid-gray;
      text-align: left;
      margin-left: 75px;
      white-space: initial;
    }
  }
  .item-checkbox {
    padding: 1rem 0;
    margin: 1rem 0;
  }
  .item-checkbox .checkbox {
    margin-left: 15px;
  }
  .checkbox input:before,
  .checkbox .checkbox-icon:before{
    border-color: $soft-blue;
  }
  .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    border-color: rgb(19, 229, 182);
  }
}

@keyframes topBottom {
  0% { bottom: -100%; }
  100% { bottom: 0; }
}

@keyframes emailCollectOpacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emailCollectSlideUp {
  0% { top: 41vh; }
  100% { top: calc((100vh - 20rem) / 2 - 11vh);}
}
