#onboard-tour {
  &-secure {
    #cta {
      background-image: url(../img/onboarding-tour-phone.svg);
      height: 17rem;
      margin-bottom:-1.5rem;
    }
  }
  &-currency {
    #cta {
      background-image: url(../img/onboarding-tour-currency-bg.svg);
      height:18rem;
    }
    .next-slide {
      margin-top: 3rem;
    }
  }
  &-control {
    #cta {
      background-image: url(../img/onboarding-tour-control.svg);
      margin-bottom: .05rem;
      height: 15rem;
      background-position: top;
    }
  }
}

@media (max-width: 400px){
  #onboard-tour{
    &-secure, &-currency, &-control{
      #cta{
        height: 14rem;
      }
    }
  }
}
