.onboarding {
  background: #1e3186;
  color: #fff;
  background-image: linear-gradient(to bottom, #1e3186 0%, #111b49 100%);
  height: 100%;
  text-align: center;
  .bar.bar-header {
    background: none;
    border: 0 none transparent;
    color: #fff;
    button {
      color: #fff;
    }
  }
  ion-content {
    height: 100%;
    .scroll{
      height: 100%;
    }
  }
  .onboarding-topic,
  .onboarding-description,
  .onboarding-tldr {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .onboarding-topic {
    font-size: 24px;
    margin-top: .5rem;
    line-height: 1.3;
  }
  .onboarding-description {
    margin-top: 1rem;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    line-height: 1.5;
  }
  .onboarding-tldr {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1em;
    line-height: 1.3;
  }
}

@media (min-width: 415px){
  //
}

%cta-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@import "terms-of-use";
@import "onboarding-buttons";
@import "onboard-welcome";
@import "onboard-tour";
@import "onboard-collect-email";
@import "onboard-backup-request";
@import "../backup-warning";
@import "onboard-disclaimer";
@import "onboard-push-notifications";

%onboarding-illustration {
  position: absolute;
  width: 100%;
  height: 40%;
  margin-top: 25vh;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.onboarding-illustration {
  &-secure {
      @extend %onboarding-illustration;
      background-image: url(../img/onboarding-tour-phone.svg);
  }
  &-currency {
    @extend %onboarding-illustration;
      background-image: url(../img/onboarding-tour-currency-bg.svg);
  }
  &-control {
    @extend %onboarding-illustration;
      background-image: url(../img/onboarding-tour-control.svg);
  }
  &-notifications {
    @extend %onboarding-illustration;
      background-image: url(../img/onboarding-push-notifications.svg);
  }
}
