#onboard-welcome {
  & > ion-content {
    background: $v-onboarding-welcome-bg;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #qrcode {
    content: url("../img/onboarding-welcome-qrcode.png");
    position: absolute;
    top: 5%;
    right: 5%;
    width: 20px;
    height: auto;
  }
  #logo-tagline {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #logo {
    width: 40%;
    max-width: 200px;
    margin: 5rem auto 0;
  }
  #lead {
    line-height: 1.6;
    font-size: 18px;
  }
  #cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 4vw;
  }
}
