#onboarding-tour {
  &-currency {
    .next-slide {
      margin-top: 3rem;
    }
  }
  .cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 12vh;
  }
  #onboarding-illustration-currency-exchange-rate {
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 38px;
    margin: 10px auto 0;
    position: relative;
    width: 140px;
    z-index: 1;
  }
  .swiper-pagination {
    &-bullet {
      background: $v-onboarding-tour-swiper-pagination-bg;
      &-active {
        background: $v-onboarding-tour-swiper-pagination-bg;
      }
    }
  }
}
