#onboard-tour {
  &-secure {
    #cta {
      background-image: url(../img/onboarding-tour-phone.svg);
      height: 17rem;
      margin-bottom:-1.5rem;
    }
  }
  &-currency {
    #cta {
      background-image: url(../img/onboarding-tour-currency-bg.svg);
      height:18rem;
    }
    .next-slide {
      margin-top: 3rem;
    }
  }
  &-control {
    #cta {
      background-image: url(../img/onboarding-tour-control.svg);
      margin-bottom: .05rem;
      height: 15rem;
      background-position: top;
    }
  }
  .cta-button{
    position: absolute;
    bottom: 85px;
  }
}

@media (max-width: 359px){
  #onboard-tour{
    &-secure, &-currency, &-control{
      #cta{
        height: 14rem;
      }
    }
  }
}

@media (min-width: 450px){
  #onboard-tour{
    &-secure, &-currency, &-control{
      #cta{
        height: 26rem;
      }
    }
  }
}

@media (min-width: 1000px){
  #onboard-tour{
    p, h2, h3{
      max-width: 600px;
    }
    button{
      max-width: 400px;
    }
    #cta{
      margin: 2rem 0 0;
    }
    &-control{
      #cta{
        margin-bottom: 2rem;
      }
    }
  }
}
