#terms-of-use{
  ion-header-bar{
    background: #fff;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.2);
  }
  ion-content{
    padding-top: 1.5rem;
    color: rgba(86, 86, 86, 0.77);
    p{
      padding:0 2.5%;
      margin:2rem auto;
      &:first-child{
        margin-top:0;
      }
    }
  }
}
