page-wallet-export {
  .qrCode {
    text-align: center;
    padding: 10px;
    .aclass >img {
      width: 220px;
      border: 1px solid #e9e9e9;
      border-radius: 4px;
    }
  }
  .not-supported-message {
    margin-top: 5rem;
    text-align: center;
  }
}