<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>509510359428-o2pqmt4vt8scu5v5p97fll1jv9t31cst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509510359428-o2pqmt4vt8scu5v5p97fll1jv9t31cst</string>
	<key>API_KEY</key>
	<string>AIzaSyAdGSB08QrOvtG0a5DcbktbJ-wljdqw4OI</string>
	<key>GCM_SENDER_ID</key>
	<string>509510359428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.terracoin.trcpay</string>
	<key>PROJECT_ID</key>
	<string>trcpay-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>trcpay-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509510359428:ios:1f39ad9850fca6c9</string>
	<key>DATABASE_URL</key>
	<string>https://trcpay-wallet.firebaseio.com</string>
</dict>
</plist>