
.button, button {
  padding: 1rem 1.2rem 1.0625rem;
  border: 1px solid transparent;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button.outline {
  background: transparent;
  &:hover, &:focus {
    background: transparent;
  }
}

button.outline {
  background: transparent;
  &:hover, &:focus {
    background: transparent;
  }
}

.button.outline.tiny {
  background: transparent;
  &:hover, &:focus {
    background: transparent;
  }
}

button.outline.tiny {
  background: transparent;
  &:hover, &:focus {
    background: transparent;
  }
}

.button.outline.dark-gray {
  background-color: transparent;
  border: 1px solid #A5B2BF;
  color: #A5B2BF;
  &:hover, &:focus {
    background-color: transparent;
    border: 1px solid #A5B2BF;
    color: #A5B2BF;
  }
}

button.outline.dark-gray {
  background-color: transparent;
  border: 1px solid #A5B2BF;
  color: #A5B2BF;
  &:hover, &:focus {
    background-color: transparent;
    border: 1px solid #A5B2BF;
    color: #A5B2BF;
  }
}

.button.outline.light-gray {
  background-color: transparent;
  border: 1px solid #CED5DC;
  color: #7A8C9E;
  font-size: 12px;
  &:hover, &:focus {
    background-color: transparent;
    border: 1px solid #CED5DC;
    color: #7A8C9E;
  }
}

button.outline.light-gray {
  background-color: transparent;
  border: 1px solid #CED5DC;
  color: #7A8C9E;
  &:hover, &:focus {
    background-color: transparent;
    border: 1px solid #CED5DC;
    color: #7A8C9E;
  }
}

.button.outline.white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  &:hover, &:focus {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
}

button {
  &.outline.white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    &:hover, &:focus {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }
  &.secondary {
    background-color: #008CC1;
    color: #fff;
    &:hover, &:focus {
      background-color: #008CC1;
      color: #fff;
    }
  }
}

/* SECONDARY */

.button.secondary {
  background-color: #008CC1;
  color: #fff;
  &:hover, &:focus {
    background-color: #008CC1;
    color: #fff;
  }
}

/* PRIMARY */

button.primary {
  background-color: #1ABC9C;
  color: #fff;
  &:hover, &:focus {
    background-color: #1ABC9C;
    color: #fff;
  }
}

.button.primary {
  background-color: #1ABC9C;
  color: #fff;
  &:hover, &:focus {
    background-color: #1ABC9C;
    color: #fff;
  }
}

/* WARNING */

button.warning, .button.warning {
  background-color: #ED4A43;
  color: #fff;
}

button.warning {
  &:hover, &:focus {
    background-color: #ED4A43;
    color: #fff;
  }
}

.button.warning {
  &:hover, &:focus {
    background-color: #ED4A43;
    color: #fff;
  }
}

/* WHITE */

button.white {
  background-color: #fff;
  color: #2C3E50;
  &:hover, &:focus {
    background-color: #fff;
    color: #2C3E50;
  }
}

.button.white {
  background-color: #fff;
  color: #2C3E50;
  &:hover, &:focus {
    background-color: #fff;
    color: #2C3E50;
  }
}

/* BLACK */

button.black {
  background-color: #2C3E50;
  color: #fff;
  &:hover, &:focus {
    background-color: #2C3E50;
    color: #fff;
  }
}

.button.black {
  background-color: #2C3E50;
  color: #fff;
  &:hover, &:focus {
    background-color: #2C3E50;
    color: #fff;
  }
}

/* GRAY */

button.gray {
  background-color: #A9B2B8;
  color: #2C3E50;
  &:hover, &:focus {
    background-color: #A9B2B8;
    color: #2C3E50;
  }
}

.button.gray {
  background-color: #A9B2B8;
  color: #2C3E50;
  &:hover, &:focus {
    background-color: #A9B2B8;
    color: #2C3E50;
  }
}

button {
  &.disabled, &[disabled] {
    border-color: transparent !important;
    background-color: #A5B2BF !important;
    color: #fff !important;
  }
}

.button {
  &.disabled, &[disabled] {
    border-color: transparent !important;
    background-color: #A5B2BF !important;
    color: #fff !important;
  }
  text-transform: uppercase;
  transition: none !important;
}

button {
  text-transform: uppercase;
  transition: none !important;
}

.button:focus, button:focus {
  outline: 0;
}

.postfix.button, .prefix.button {
  position: absolute;
  width: 35px;
  height: 22px;
  right: 7px;
  top: 5px;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  border-radius: 2px;
  line-height: 2;
  padding: 0;
  font-weight: 500;
}

.postfix.button i, .prefix.button i {
  left: 12px;
  top: 0;
  border: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

a {
  &.postfix {
    height: 34px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: #7A8C9E;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    padding-top: 7px;
  }
  &.button.postfix {
    color: #fff;
  }
}

.backup {
  .panel {
    padding: 0.5rem;
  }
  button {
    &.words {
      background: #FFFFFF;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
      color: #4B6178;
      text-transform: lowercase;
      font-size: 0.8rem;
      margin: 5px;
      padding: 0.5rem;
    }
    &[disabled] {
      box-shadow: none;
    }
  }
}

button.radius, .button.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.button.small.side-bar {
  padding: 0rem 0.4rem;
}

.button-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem;
  z-index: 1;
}

.backup .button-box {
  background: #F6F7F9;
}

.splash .button-box {
  background: #2C3E50;
}
