/*
 * Wallet colors
 */

$wallet-color-map: (
   0: (color: #DD4B39, name: 'Cinnabar'),
   1: (color: #F38F12, name: 'Carrot Orange'),
   2: (color: #FAA77F, name: 'Light Salmon'),
   3: (color: #D0B136, name: 'Metallic Gold'),
   4: (color: #9EDD72, name: 'Feijoa'),
   5: (color: #29BB9C, name: 'Shamrock'),
   6: (color: #019477, name: 'Observatory'),
   7: (color: #77DADA, name: 'Turquoise Blue'),
   8: (color: #4A90E2, name: 'Cornflower Blue'),
   9: (color: #484ED3, name: 'Free Speech Blue'),
  10: (color: #9B59B6, name: 'Deep Lilac'),
  11: (color: #E856EF, name: 'Free Speech Magenta'),
  12: (color: #FF599E, name: 'Brilliant Rose'),
  13: (color: #7A8C9E, name: 'Light Slate Grey')
);

.wallet-color-count {
  content: '14';
}

@each $id, $map in $wallet-color-map {
  .wallet-color-#{$id} {
    background: map-get($map, color);
  }
  .wallet-color-#{$id}:before {
    content: map-get($map, name);
    margin-left: 2.4rem;
  }
}
