.icon.nav-item-arrow-right {
  color: #666;
  font-size: 26px;
  @extend .ion-ios-arrow-right;
}

.item.item-heading {
  font-weight: bold;
}

.item.item-footer {
  font-weight: lighter;
}

.icon.list-add-button {
  color: #666;
  font-size: 38px;
}

.item.item-big-icon-left {
  padding-left: 74px;
}

.item-no-bottom-border + .item {
    border-top: 0;
}

.icon.big-icon-svg {
  padding: 0 7px;
  > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  }
}
.overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 4;
}
.back-button {
  border: 0;
  .icon:before {
    color: #fff;
    font-size: 30px !important;
    font-weight: bold;
    margin-left: 5px;
  }
}

.search-button {
  .icon:before {
    color: #fff;
    font-size: 30px !important;
    margin-left: 5px;
  }
}

.button-block {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

ion-header-bar{
  button{
    border:none;
  }
}

.border-top{
  border-top:1px solid rgb(228,228,228);
}
