.icon.bp-arrow-right {
  @extend .ion-ios-arrow-right;
  @extend .just-a-hint;
}

.icon.bp-arrow-down {
  @extend .ion-ios-arrow-down;
  @extend .just-a-hint;
}

.icon.bp-arrow-up {
  @extend .ion-ios-arrow-up;
  @extend .just-a-hint;
}

.just-a-hint {
  opacity: 0.2;
}

.item.item-big-icon-left {
  padding-left: 74px;
}


.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    background-repeat:no-repeat;
    background-clip: padding-box;
    background-size: contain;
    height: 18px;
  }
}

.big-icon-svg {
  padding: 0 7px;
  > .bg {
    border-radius: $v-icon-border-radius;
    width: 40px;
    height: 40px;
    box-shadow: $v-hovering-box-shadow;
    background-repeat:no-repeat;
    background-clip: padding-box;
    background-size: 103%;
    &.green{
      background: $wallets-and-icons-color;
    }
  }
}


.wallet-item {
  padding: 1rem 0 2rem 0;
  .name {
    color: #445;
    text-align:center;
  }
  .big-icon-svg {
    &.circle{
      left:8px;
      .bg {
        border-radius: $v-icon-border-radius;
        width: 70px;
        height: 70px;
        padding:.1rem;
        margin: 0.2rem;
        box-shadow: 0px 1px 5px rgba($v-mid-gray, .1);
        display:flex;
        margin:auto;
      }
    }
  }
  &:before {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(221, 221, 221, 0.3);
    top: 0;
    right: 0;
    content: '';
  }
}
