// This file is for changes to the standard Ionic Framework which cannot be made
// in variables.scss.

@import "../../bower_components/ionic/scss/ionic";

/* Ionic Overrides and Workarounds */
// Please include a description of the problem solved by the workaround.

// class to dynamically hide the ion-nav-bar for v1 Amazon flow
ion-nav-bar.hide { display: block !important; }

// the ion tabs element never needs it's own background (backgrounds are
// rendered by the tabs), and the default background would cover the scanner
ion-tabs.ion-tabs-transparent {
  background: none transparent;
}

// .placeholder-icon padding cannot be modified by a variable
$placeholder-icon-padding: 10px;
.placeholder-icon {
  &:first-child {
    padding-right: $placeholder-icon-padding;
  }
  &:last-child {
    padding-left: $placeholder-icon-padding;
  }
}

// .item-input-wrapper background cannot be modified by a variable
.item-input-wrapper {
  background: none transparent;
}
