/* This is for rules that don't yet have a home.
 * Our goal is to delete this file. Search the regex: /class=".*CLASS.*?"/
 */

 .enable_text_select {
   -webkit-user-select: auto;
   -moz-user-select: auto;
   -ms-user-select: auto;
   user-select: auto;
 }

.box-notification {
  padding: 0.5rem;
  border: 1px solid;
  margin: 10px;
  a {
    color: #fff;
  }
  &.notice {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
  }
  &.warning {
    border-color: #e6b500;
    background-color: #ffc900;
    color: #fff;
    &.warning-red{
      border-color: #EB475A;
      background-color: $warning-red;
    }
  }
  &.error {
    background-color: #ef473a;
    border-color: #e42112;
    color: #fff;
  }
}

.text-warn {
  .popup-sub-title {
    margin-top: 15px;
    color: #e42112 !important;
  }
}

.item-toggle, .item {
  white-space: normal;
}

.input-label {
  max-width: none;
  width: inherit;
}

.wallets {
  height: 110px;
}

// No looks likes locked
input[type="number"] {
  &[readonly] {
    background-color: #F6F7F9;
    padding-left: 0;
  }
}

/* Turn Off Number Input Spinners */

input[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Spinner */

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
  height: 24px;
}

/* Wrap text from item-note */
.item-note{
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}

.back-button {
  border: 0;
  .icon:before {
    color: #fff;
    font-size: 30px !important;
    font-weight: bold;
    margin-left: 5px;
  }
}

.search-button {
  .icon:before {
    color: #fff;
    font-size: 30px !important;
    margin-left: 5px;
  }
}

.name-wallet {
  font-size: 14px;
  font-weight: 400;
  padding-top: 0 !important;
  line-height: 14px;
}

.header-modal {
  background: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.updating {
  div {
    text-align: center;
  }
  .spinner {
    margin: auto;
    height: 2em;
    text-align: center;
  }
}

.postfix {
  position: absolute;
  right: 10px;
  background-color: $subtle-gray;
  color: $dark-gray;
  border-radius: 4px;
  padding: 2px 10px;
  cursor: pointer;
  label &{
    top: 38px;
    padding: 0 5px;
  }
}

#qr-canvas {
  display: none;
}

#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}

.input-notification {
  float: right;
  margin-right: 25px;
}

.pr {
  position: relative;
}

.m0 {
  margin: 0;
}

.p0i {
  padding: 0 !important;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.size-10 {
  font-size: 10px;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}


.size-20 {
  font-size: 21px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-28 {
  font-size: 28px;
}

.size-36 {
  font-size: 36px;
}

.size-42 {
  font-size: 42px;
}

.m5t {
  margin-top: 5px;
}

.m5b {
  margin-bottom: 5px;
}

.m5r {
  margin-right: 5px;
}

.m10 {
  margin: 10px;
}

.m10b {
  margin-bottom: 10px;
}

.m10t {
  margin-top: 10px;
}

.m15b {
  margin-bottom: 15px;
}

.m15r {
  margin-right: 15px;
}

.m20b {
  margin-bottom: 20px;
}

.m10r {
  margin-right: 10px;
}

.m55r {
  margin-right: 55px;
}

.m10l {
  margin-left: 10px;
}

.m15l {
  margin-left: 15px;
}

.m15t {
  margin-top: 15px;
}

.m20t {
  margin-top: 20px;
}

.m20ti {
  margin-top: 20px !important;
}

.m20tp {
  margin-top: 20%;
}

.m30tp {
  margin-top: 30%;
}

.p10t {
  padding-top: 10px;
}

.p10h {
  padding-right: 10px;
  padding-left: 10px;
}

.p15h {
  padding: 0 15px;
}

.p20h {
  padding: 0 20px;
}

.p20v {
  padding: 20px 0;
}

.p20b {
  padding-bottom: 20px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.p60b {
  padding-bottom: 60px;
}

.m30v {
  margin: 30px 0;
}

.m10h {
  margin: 0 10px;
}

.m10v {
  margin: 10px 0;
}

.m20v {
  margin: 20px 0;
}

.m30v {
  margin: 30px 0;
}

.oh {
  overflow: hidden;
}

.vm {
  vertical-align: middle;
}

.ma {
  margin: 0 auto;
}

.tu {
  text-transform: uppercase;
}

.tl {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-light {
  font-weight: 200;
}

.text-bold {
  font-weight: 700;
}

.text-gray {
  color: gray;
}

.text-italic {
  font-style: italic;
}

.no-border {
  border-style: none;
  background-color: transparent !important;
}

input[type=file] {
  margin-top: 10px;
  margin-bottom: -10px;
  line-height: 0px;
}

.w100p {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.keyboard-open .tabs {
   display: none;
 }

 .keyboard-open .has-tabs {
   bottom: 0;
}

.white-space-initial {
  white-space: initial;
}
