/*
 * App variables
 */

/* Fonts */
$v-font-family:                                      "Roboto", sans-serif;
$v-font-family-light:                                "Roboto-Light", sans-serif-light;

/* Colors */
$nav-fuschia: #c926b5;
$nav-fuschia-light: lighten($nav-fuschia, 20%);
$nav-fuschia-dark: darken($nav-fuschia, 20%);

$nav-purple: #7d59b5;
$nav-purple-light: lighten($nav-purple, 20%);
$nav-purple-dark: darken($nav-purple, 20%);

$nav-blue: #3DB4EB;
$nav-blue-light: lighten($nav-blue, 20%);
$nav-blue-dark: darken($nav-blue, 20%);

$v-bitcoin-orange:                                   #ff9900;

$v-dark-gray:                                        #445;
$v-mid-gray:                                         #667;
$v-light-gray:                                       #9b9bab;
$v-subtle-gray:                                      darken(#FFFFFF, 5%);

$v-primary-color:                                    $nav-purple-dark; // #1e3186;
$v-secondary-color:                                  $nav-blue; // #111b49;
$v-accent-color:                                     $nav-purple; // #647ce8;

$wallets-and-icons-color:                            $nav-purple;
$wallet-icon-color-alt:                              $nav-blue;
$wallet-backup-warning-color:                        red;

$v-text-primary-color:                               #1e3186;
$v-text-secondary-color:                             #FFFFFF;
$v-text-accent-color:                                $nav-blue; //#647ce8;

$v-success-color:                                    $nav-blue;//#13e5b6;
$v-warning-color:                                    $nav-blue;// #ffa500;
$v-error-color:                                      #ef473a;

$v-wallet-color-map: (
   0: (color: #dd4b39, name: 'Cinnabar'),
   1: (color: #f38f12, name: 'Carrot Orange'),
   2: (color: #faa77f, name: 'Light Salmon'),
   3: (color: #d0b136, name: 'Metallic Gold'),
   4: (color: #9edd72, name: 'Feijoa'),
   5: (color: #29bb9c, name: 'Shamrock'),
   6: (color: $nav-purple, name: 'Nav Purple'),
   7: (color: #77dada, name: 'Turquoise Blue'),
   8: (color: #484ed3, name: 'Free Speech Blue'),
  9: (color: #e856ef, name: 'Free Speech Magenta'),
  10: (color: #ff599e, name: 'Brilliant Rose'),
  11: (color: #7a8c9e, name: 'Light Slate Grey')
);

/* Theme */
$v-default-wallet-color-index:                       6; // See $v-wallet-color-map
$v-subtle-box-shadow:                                0 1px 2px rgba(0, 0, 0, 0.25);
$v-hovering-box-shadow:                              0px 6px 12px 0px rgba(0, 0, 0, 0.3);
$v-subtle-radius:                                    3px;
$v-visible-radius:                                   6px;
$v-unmistakable-radius:                              12px;
$v-scanner-background-color:                         $v-primary-color;
$v-scanner-guide-color:                              $v-accent-color;
$v-top-tabs-color:                                   $v-primary-color;

$v-wallet-backup-bg:                                 #FFFFFF;
$v-wallet-backup-phrase-bg:                          $v-subtle-gray;
$v-wallet-backup-phrase-color:                       $v-dark-gray;
$v-wallet-backup-select-phrase-color:                $v-subtle-gray;
$v-wallet-backup-select-word-bg:                     #FFFFFF;
$v-wallet-backup-select-word-color:                  $v-dark-gray;
$v-wallet-backup-select-word-disabled-color:         $v-light-gray;
$v-tou-bg:                                           #FFFFFF;
$v-tou-color:                                        $v-dark-gray;
$v-icon-color:                                       $nav-blue;
$v-icon-negative-color:                              $nav-blue;
$v-icon-border-radius:                               10%;
$v-bitcoin-icon:                                     url('../img/icon-bitcoin.svg');

$v-button-primary-bg:                                $v-accent-color;
$v-button-primary-color:                             #FFFFFF;
$v-button-primary-border:                            transparent;
$v-button-primary-active-bg:                         darken($v-accent-color, 10%);
$v-button-primary-active-border:                     transparent;
$v-button-primary-clear-bg:                          none;
$v-button-primary-clear-color:                       $v-accent-color;
$v-button-primary-outline-bg:                        transparent;
$v-button-primary-outline-border:                    $v-accent-color;
$v-button-primary-outline-color:                     $v-accent-color;
$v-button-primary-outline-active-bg:                 $v-accent-color;
$v-button-primary-outline-active-color:              #FFFFFF;

$v-button-secondary-bg:                              $nav-blue;
$v-button-secondary-color:                           #FFFFFF;
$v-button-secondary-border:                          transparent;
$v-button-secondary-active-bg:                       $nav-blue-dark;
$v-button-secondary-active-border:                   transparent;
$v-button-secondary-clear-bg:                        none;
$v-button-secondary-clear-color:                     $v-dark-gray;
$v-button-secondary-outline-border:                  $v-dark-gray;
$v-button-secondary-outline-bg:                      transparent;
$v-button-secondary-outline-color:                   $v-dark-gray;
$v-button-secondary-outline-active-bg:               $v-dark-gray;
$v-button-secondary-outline-active-color:            #FFFFFF;

/* Slide */

$v-slide-bg-color:                                   $v-accent-color;
$v-slider-bg-color:                                  #5063B9;
$v-slide-text-color:                                 #FFFFFF;
$v-success-bg-color:                                 $v-accent-color;

/* Onboarding */
$v-onboarding-pane-bg:                               $v-primary-color;
$v-onboarding-gradient-top-color:                    $nav-purple-dark;
$v-onboarding-gradient-bottom-color:                 $nav-blue;
$v-onboarding-welcome-bg:                            url(../img/onboarding-welcome-bg.png);
$v-onboarding-color:                                 #FFFFFF;
$v-onboarding-bar-header-color:                      #FFFFFF;
$v-onboarding-bar-header-button-color:               #FFFFFF;
$v-onboarding-tour-swiper-pagination-bg:             $v-accent-color;
$v-onboarding-backup-alert-icon-color:               $nav-blue-light;
$v-onboarding-checkbox-off-border:                   $nav-blue-light;
$v-onboarding-checkbox-on-border:                    $nav-blue-light;

$v-onboarding-tour-phone-bg:                         url(../img/onboarding-tour-phone.svg);
$v-onboarding-tour-currency-bg:                      url(../img/onboarding-tour-currency-bg.svg);
$v-onboarding-tour-control-bg:                       url(../img/onboarding-tour-control.svg);
$v-onboarding-push-notification-bg:                  url(../img/app/onboarding/push-notifications.svg);
$v-onboarding-backup-warning-bg:                     url(../img/backup-warning.svg);

$v-onboarding-button-back-color:                     #FFFFFF;

$v-onboarding-button-secondary-bg:                   $nav-purple;
$v-onboarding-button-secondary-color:                #FFFFFF;
$v-onboarding-button-secondary-border:               transparent;
$v-onboarding-button-secondary-active-bg:            $nav-purple-dark;
$v-onboarding-button-secondary-active-border:        transparent;
$v-onboarding-button-secondary-clear-bg:             transparent;
$v-onboarding-button-secondary-clear-color:          #FFFFFF;
$v-onboarding-button-secondary-outline-border:       #FFFFFF;
$v-onboarding-button-secondary-outline-bg:           transparent;
$v-onboarding-button-secondary-outline-color:        #FFFFFF;
$v-onboarding-button-secondary-outline-active-bg:    #FFFFFF;
$v-onboarding-button-secondary-outline-active-color: #FFFFFF;


/* Main tabs */
$v-tab-home-icon:                                    url('../img/tab-icons/ico-home.svg');
$v-tab-home-selected-icon:                           url('../img/tab-icons/ico-home-selected.svg');
$v-tab-receive-icon:                                 url('../img/tab-icons/ico-receive.svg');
$v-tab-receive-selected-icon:                        url('../img/tab-icons/ico-receive-selected.svg');
$v-tab-settings-icon:                                url('../img/tab-icons/ico-settings.svg');
$v-tab-settings-selected-icon:                       url('../img/tab-icons/ico-settings-selected.svg');
$v-tab-scan-icon:                                    url('../img/tab-icons/ico-scan.svg');
$v-tab-scan-selected-icon:                           url('../img/tab-icons/ico-scan-selected.svg');
$v-tab-send-icon:                                    url('../img/tab-icons/ico-send.svg');
$v-tab-send-selected-icon:                           url('../img/tab-icons/ico-send-selected.svg');

/*
 * Ionic variables
 */
$royal:                                              $v-primary-color;
$positive:                                           $v-accent-color;

$font-size-base:                                     16px;
$font-size-small:                                    12px;
$font-family-sans-serif:                             $v-font-family;
$font-family-light-sans-serif:                       $v-font-family-light;

$link-color:                                         $v-accent-color;

$button-border-radius:                               $v-subtle-radius;
$button-height:                                      52px;
$button-padding:                                     16px;

$base-background-color:                              $v-subtle-gray;

$item-default-active-bg:                             $v-subtle-gray;
$item-icon-font-size:                                24px;

$input-color:                                        $v-dark-gray;
$input-border:                                       $v-light-gray;
$input-label-color:                                  $v-mid-gray;
$input-color-placeholder:                            lighten($v-dark-gray, 40%);

$item-default-bg:                                    #FFFFFF;
$item-default-border:                                $v-subtle-gray;
$item-default-text:                                  $v-dark-gray;
$item-default-active-bg:                             darken(#FFFFFF, 7%);
$item-default-active-border:                         darken($v-subtle-gray, 7%);
$item-divider-bg:                                    $v-subtle-gray;

$bar-default-border:                                 $v-subtle-gray;
$bar-royal-bg:                                       $v-primary-color;
$bar-royal-border:                                   $v-primary-color;
$bar-royal-text:                                     #FFFFFF;

$tabs-icon-size:                                     22px;

$ios-transition-duration:                            200ms;

$card-box-shadow:                                    $v-subtle-box-shadow;

$toggle-on-positive-border:                          $v-accent-color;
$toggle-on-positive-bg:                              $v-accent-color;
