<ion-header class="wide-header" [ngClass]="{cordova: platformProvider.isCordova}">
  <ion-navbar [navbar-bg]="headerColor">
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{title}}
      </div>
    </ion-title>
    <ng-content select="[right]"></ng-content>
  </ion-navbar>
</ion-header>
<ion-content #scrollArea [fixed-scroll-bg-color]="headerColor" [ion-content-background-color]="headerColor">
  <div class="wrapper">
    <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
      <ion-toolbar [navbar-bg]="headerColor" class="wide-header__title">
        <expandable-header-primary>
          {{title}}
        </expandable-header-primary>
      </ion-toolbar>
    </expandable-header>

    <search-bar [scrollArea]="wideHeaderPage?.scrollArea" (search)="onSearch($event.target.value)"
      placeholder="Search Gift Cards"></search-bar>
    <ion-list class="settings-list" [virtualScroll]="allCards" [approxItemHeight]="'87px'" [virtualTrackBy]="trackBy"
      [headerFn]="getHeaderFn" [hidden]="searchQuery">

      <ion-item-divider *virtualHeader="let header">
        {{ header }}
      </ion-item-divider>

      <button ion-item class="card-list-item" *virtualItem="let card" (click)="buyCard(card)">
        <ion-icon item-start>
          <img-loader class="card-list-item__icon" [src]="cardConfigMap[card.name]?.icon" [fallbackAsPlaceholder]="true"
            [fallbackUrl]="giftCardProvider.fallbackIcon"></img-loader>
        </ion-icon>
        <ion-label>

          <div *ngIf="cardConfigMap">
            <div class="card-list-item__label ellipsis">
              {{ cardConfigMap[card.name].displayName }}
            </div>
            <ion-note class="card-list-item__note" *ngIf="!cardConfigMap[card.name].supportedAmounts">
              {{ cardConfigMap[card.name].minAmount | formatCurrency: cardConfigMap[card.name].currency:0 }} —
              {{ cardConfigMap[card.name].maxAmount | formatCurrency: cardConfigMap[card.name].currency:0 }}
            </ion-note>
            <ion-note class="card-list-item__note ellipsis" *ngIf="cardConfigMap[card.name].supportedAmounts">
              <span *ngFor="
                    let amount of cardConfigMap[card.name].supportedAmounts;
                    let last = last
                  ">
                {{ amount | formatCurrency: cardConfigMap[card.name].currency:'minimal'
                }}<span *ngIf="!last">,</span>
              </span>
            </ion-note>
          </div>
        </ion-label>
        <ion-note item-end class="discount" *ngIf="hasPercentageDiscount(card)">Save
          {{card.discounts[0].amount}}%</ion-note>

      </button>

    </ion-list>

    <ion-list class="settings-list" [virtualScroll]="visibleCards" [approxItemHeight]="'87px'"
      [virtualTrackBy]="trackBy">

      <button ion-item class="card-list-item" *virtualItem="let card" (click)="buyCard(card)">
        <ion-icon item-start>
          <img-loader class="card-list-item__icon" [src]="cardConfigMap[card.name]?.icon" [fallbackAsPlaceholder]="true"
            [fallbackUrl]="giftCardProvider.fallbackIcon"></img-loader>
        </ion-icon>
        <ion-label>

          <div *ngIf="cardConfigMap">
            <div class="card-list-item__label ellipsis">
              {{ cardConfigMap[card.name].displayName }}
            </div>
            <ion-note class="card-list-item__note" *ngIf="!cardConfigMap[card.name].supportedAmounts">
              {{ cardConfigMap[card.name].minAmount | formatCurrency: cardConfigMap[card.name].currency:0 }} —
              {{ cardConfigMap[card.name].maxAmount | formatCurrency: cardConfigMap[card.name].currency:0 }}
            </ion-note>
            <ion-note class="card-list-item__note ellipsis" *ngIf="cardConfigMap[card.name].supportedAmounts">
              <span *ngFor="
                    let amount of cardConfigMap[card.name].supportedAmounts;
                    let last = last
                  ">
                {{ amount | formatCurrency: cardConfigMap[card.name].currency:'minimal'
                }}<span *ngIf="!last">,</span>
              </span>
            </ion-note>
          </div>
        </ion-label>
        <ion-note item-end class="discount" *ngIf="hasPercentageDiscount(card)">Save
          {{card.discounts[0].amount}}%</ion-note>
      </button>

    </ion-list>

  </div>
</ion-content>