# from https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
tags
pids
logs
results
build

node_modules

# extras
*.swp
*.swo
*~
.project
peerdb.json

npm-debug.log
.nodemonignore

.DS_Store
public/lib/*
public/js/angularjs-all.js
public/js/main.js
public/js/vendors.js

public/css/main.css

README.html

lib/*
!lib/socket.io.js

js/copayBundle.js

webapp/copay-webapp
webapp/download
chrome/copay-chrome-extension
chrome/copay-chrome-extension.zip
firefox/firefox-addon
version.js

android/package
android/*.apk
