<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Cosign - Multisignature Wallet</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="banner" ng-controller="HeaderController" ng-init="init()">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">Cosign</a>
        </div>
        <div class="collapse navbar-collapse" ng-if="$root.isLogged">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="signout()"><i class="glyphicon glyphicon-log-out"></i> Signout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-view></div>
    </div>

    <!-- Templates -->
    <script type="text/ng-template" id="signin.html">
      <div class="text-center" ng-controller="SigninController">
        <div ng-if="!peerReady">Opening peers...</div>
        <div ng-if="peerReady">
          <h1>Join or Create a New Connection</h1>
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Peer ID" ng-model="connectionId" autofocus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="join(connectionId)"><i class="glyphicon glyphicon-log-in"></i> Join</button>
              </span>
            </div>
            <hr>
            <button class="btn btn-primary btn-block" ng-click="join()"><i class="glyphicon glyphicon-plus"></i> Create a New Connection</button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="join.html">
      <div ng-controller="JoinController" ng-init="init()">
        <h1>Joined to <span class="text-muted">{{connectionId}}</span></h1>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Cosigners ({{cosigners.length}}/5)</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li ng-repeat="cosigner in cosigners">
                <span ng-if="cosigner == $root.peerId">You ({{$root.peerId}})</span>
                <span ng-if="cosigner != $root.peerId">{{cosigner}}</span>
              </li>
            </ul>
          </div>
        </div>
        <a href="#/home">Skip</a>
      </div>
    </script>

    <script type="text/ng-template" id="home.html">
      <h1>home</h1>
    </script>

    <script type="text/ng-template" id="404.html">
      <h1>404</h1>
    </script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/peerjs/peer.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

    <script src="js/services/network.js"></script>

    <script src="js/controllers/header.js"></script>
    <script src="js/controllers/signin.js"></script>
    <script src="js/controllers/join.js"></script>

    <script src="js/init.js"></script>
  </body>
</html>
