<!doctype html>
<html lang="en" ng-csp>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Copay - Multisignature Wallet</title>
  <style type="text/css">
    .loadingpage {
      height:100%;
      overflow-y: auto;
      overflow-x: none;
      background: #2C3E50;
      padding-top: 20%;
      text-align: center;
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none;
    }
  </style>
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
  <div id="loading" class="loadingpage">
    <img src="img/ajax-loader.gif" alt="Loading...">
  </div>
  <div ng-cloak class="page ng-cloak">
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <span class="status" ng-if="$root.reconnecting">
          <i class="fi-loop icon-rotate m10r"></i>
          <span translate> Network Error. Attempting to reconnect...</span>
        </span>
        <nav class="tab-bar" ng-if="$root.wallet &&
          $root.wallet.isReady() && !$root.wallet.isLocked">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
          <section class="right-small text-center top-balance">
            <span ng-if="$root.updatingBalance">
              <i class="fi-bitcoin-circle icon-rotate spinner"></i>
            </span>
            <span class="size-14" ng-if="!$root.updatingBalance">
              {{totalBalance || 0|noFractionNumber}} {{$root.wallet.settings.unitName}}
            </span>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title ellipsis">
              {{$root.wallet.getName()}}
            </h1>
          </section>
        </nav>


        <!-- <aside class="left&#45;off&#45;canvas&#45;menu"> -->
        <!--   <div ng&#45;include="'views/includes/sidebar&#45;mobile.html'"></div> -->
        <!-- </aside> -->
        <!--  -->
        <div notifications="right top"></div>

        <div 
          ng-include="'views/includes/sidebar.html'" 
          role='navigation'
          class="sidebar"
          ng-if="$root.iden"></div>

        <section ng-class="{'main' : $root.iden && $root.iden.listWallets().length>0}" ng-view></section>

        <a class="exit-off-canvas"></a>

      </div>
    </div>
  </div>
 
  <link rel="stylesheet" href="css/vendors.min.css">
  <link rel="stylesheet" href="css/copay.min.css">

  <script src="lib/vendors.js"></script>
  <script src="lib/angularjs-all.js"></script>

  <!-- DO NOT DELETE THIS COMMET  -->
  <!-- PLACEHOLDER: CORDOVA SRIPT -->

  <script src="init.js"></script>
  <script src="config.js"></script>
  <script src="js/copayBundle.js"></script>
  <script src="js/copayMain.js"></script>

</body>
</html>
