.wallet-info {
  font-weight: 500;
  color: color($colors, light);
  height: 2.5rem;
  padding-left: 0.5rem;
  span {
    margin: 0 3px;
    padding-top: 2px;
    float: left;
  }
  img {
    float: left;
  }
  .testnet {
    height: 2.5rem;
    width: 2.5rem;
  }
  .testnet-text {
    height: 2.5rem;
    width: 4.5rem;
    margin-right: 5px;
  }
  .read-only {
    height: 2.5rem;
    width: 1.5rem;
    margin-right: 5px;
  }
  .read-only-text {
    height: 2.5rem;
    width: 5rem;
    margin-right: 5px;
  }
  .auditable-text {
    height: 2.5rem;
    width: 5rem;
  }
  ion-spinner {
    float: right;
    width: 20px;
    height: 20px;
    &.spinner-crescent circle {
      stroke: color($colors, light);
    }
  }
}
