.wallet-info {
  font-weight: 500;
  color: color($colors, light);
  height: 25px;
  span {
    margin: 0 3px;
    padding-top: 2px;
    float: left;
  }
  img {
    float: left;
  }
  .testnet {
    height: 3rem;
    width: 3rem;
  }
  .testnet-text {
    height: 3rem;
    width: 5rem;
  }
  .read-only {
    height: 3rem;
    width: 2rem;
  }
  .read-only-text {
    height: 3rem;
    width: 6rem;
  }
  .auditable-text {
    height: 3rem;
    width: 5rem;
  }
  ion-spinner {
    float: right;
    width: 20px;
    height: 20px;
    &.spinner-crescent circle {
      stroke: color($colors, light);
    }
  }
}
