<div class="notification-modal-panel" >
    <div #notificationSlide (swipe)="swipeEvent($event)" class="notification-content">
      <div class="notification-info">
        <div class="notification-title" *ngIf="title">
          <strong>
            {{title}}
          </strong>
        </div>
        <div class="notification-message">
          {{message}}
        </div>
      </div>
      <div class="notification-button" *ngIf="customButton">
        <ion-label *ngIf="customButton" (click)="dismiss(9999, customButton.data)">
          {{ customButton.closeButtonText }}
        </ion-label>
      </div>
  </div>
</div>