<ion-view id="onboarding-backup-request" class="onboarding">
  <ion-content scroll="false">
    <div id="warning">
      <img class="svg" src="img/onboarding-warning.svg" id="alert-icon">
      <div class="onboarding-topic" translate>No backup, no Nav Coin.</div>
      <div class="onboarding-description" id="backup-description" translate>Since only you control your money, you’ll need to save your backup phrase in case this app is deleted.</div>
    </div>
    <div class="cta-buttons">
      <i class="ion-ios-arrow-thin-down" id="arrow-down"></i>
      <div class="onboarding-tldr" id="backup-tldr" translate>Your wallet is never saved to cloud storage or standard device backups.</div>
      <button class="button button-standard button-primary" ui-sref="onboarding.backupWarning({from: 'onboarding', walletId: walletId})" translate>Backup wallet</button>
      <button class="button button-standard button-secondary" ng-click="openPopup()" translate>Do it later</button>
    </div>
  </ion-content>
</ion-view>
