<ion-view id="onboarding-collect-email" class="onboarding">
  <ion-content>
    <div id="success-container">
      <img src="img/onboarding-success.svg" id="success-image" />
      <div id="success-message" translate>Wallet Created</div>
    </div>
    <div id="collect-email">
      <div id="collect-email-no">
        <button class="button button-standard button-primary" ng-click="goNextView()">
          Continue &rarr;
        </button>
      </div>
    </div>
    <!--
    <div id="collect-email">
      <div id="collect-email-inner" ng-if="!confirmation">
        <div translate class="heading" translate>Notifications by email</div>
        <div translate class="prompt" translate>Where would you like to receive email notifications about payments?</div>
        <form id="email-form" name="emailForm" ng-submit="confirm(emailForm)" novalidate>
          <label class="item item-input" id="email-label">
            <input type="email" name="email" ng-model="data.email" placeholder="{{'Enter your email'|translate}}" required></input>
          </label>
          <ion-checkbox ng-model="data.accept"><span translate>Get news and updates from Nav Coin</span></ion-checkbox>
          <button class="button button-standard button-primary" ng-disabled="emailForm.$invalid">
            Continue &rarr;
          </button>
        </form>
      </div>
      <div id="collect-email-confirm" ng-if="confirmation">
        <p translate class="confirm">Is this email address correct?</p>
        <p class="user-email">{{data.email}}</p>
        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-stable" ng-click="cancel()">
              {{'Edit' | translate}}
            </button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-stable" ng-disabled="disableButton" ng-click="save()">
              {{'Confirm' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="overlay collect-overlay">
      <button class="button button-stable button-clear" ng-click="goNextView()">
        {{'Skip' | translate}}
      </button>
    </div>
  </ion-content>
</ion-view>
