<ion-pane class="pane-onboarding">
  <ion-view id="onboarding-disclaimer" class="onboarding" ng-class="{'shrink': shrinkView}">
    <ion-nav-bar class="bar-stable" ng-if="!backedUp">
      <ion-nav-title></ion-nav-title>
      <ion-nav-buttons side="primary">
        <button class="button back-button button-clear" ng-click="goBack()">
          <i class="icon ion-ios-arrow-thin-left"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" ng-class="{'has-header': !backedUp}">
      <div id="onboarding-disclaimer-container">
        <div ng-show="resume" class="onboarding-topic" id="disclaimer-topic" translate>Quick review!</div>
        <div ng-show="!resume" class="onboarding-topic" id="disclaimer-topic" translate>Almost done! Let's review.</div>
        <div class="onboarding-description" id="disclaimer-description" translate>Nav Coin is different &ndash; it cannot be safely held with a bank or web service.</div>
        <ion-list>
          <ion-checkbox ng-model="accepted.first">
            <span translate>I understand that my funds are held securely on this device, not by a company.</span>
          </ion-checkbox>
          <ion-checkbox ng-model="accepted.second">
            <span translate>I understand that if this app is moved to another device or deleted, my Nav Coin can only be recovered with the backup phrase.</span>
          </ion-checkbox>
        </ion-list>
      </div>
    </ion-content>
  </ion-view>
  <div id="terms-of-use" ng-class="{'slideUp': shrinkView}">
    <ion-nav-bar>
      <ion-nav-title>{{'Terms of Use' | translate}}</ion-nav-title>
      <ion-nav-buttons side="primary">
        <button class="button no-border" ng-click="openTerms()">
          <i class="ion-ios-arrow-down"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="has-header">
      <div ng-include="'views/includes/terms.html'" direction="y"></div>
    </div>
  </div>
  <div id="agree-to-terms" ng-if="accepted.first && accepted.second" ng-class="{'header-present': !backedUp}">
    <div id="agree-to-terms-content" class="center-block">
      <ion-checkbox ng-model="terms.accepted"></ion-checkbox>
      <p translate>I have read, understood, and agree to the <a ng-click="openTerms()" translate>Terms of Use</a>.</p>
      <button ng-disabled="!accepted.first || !accepted.second || !terms.accepted" class="button button-block button-primary" ng-click="confirm()" translate>Confirm &amp; Finish</button>
    </div>
  </div>
</ion-pane>
