<ion-view id="onboarding-disclaimer" class="onboarding" ng-controller="disclaimerController" ng-init=init()>
  <ion-nav-bar class="bar-stable" ng-if="backedUp == 'false'">
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false" ng-class="{'has-header': backedUp == 'false'}">
    <div id="onboarding-disclaimer-container">
      <div class="onboarding-topic" id="disclaimer-topic">Almost done! Let's review.</div>
      <div class="onboarding-description" id="disclaimer-description">Bitcoin is different &ndash; it cannot be safely held with a bank or web service.</div>
      <ion-list>
        <ion-checkbox ng-model="accept1">
          <span translate>I understand that my funds are held securely on this device, not by a company.</span>
        </ion-checkbox>
        <ion-checkbox ng-model="accept2">
          <span translate>I understand that if this app is moved to another device or deleted, my bitcoin can only be recovered with the backup phrase.</span>
        </ion-checkbox>
      </ion-list>
    </div>
    <div id="agree-to-terms" ng-if="accept1 && accept2" ng-class="{'header-present': backedUp == 'false'}">
      <div id="agree-to-terms-content" class="center-block">
        <ion-checkbox ng-model="terms.accept3"></ion-checkbox>
        <p translate>I have read, understood, and agree to the <a ng-click="openTermsModal()" translate>Terms of Use</a>.</p>
        <button ng-disabled="!accept1 || !accept2 || !terms.accept3" class="button button-block button-positive" ng-click="confirm()" translate>Confirm &amp; Finish</button>
      </div>
    </div>
  </ion-content>
</ion-view>
