<ion-view class="onboarding" id="onboarding-push-notifications">
  <ion-content ng-controller="notificationsController" scroll="false">
    <div class="onboarding-topic" id="notifications-topic" translate>Push Notifications</div>
    <div class="onboarding-description" translate>Would you like to receive push notifications about payments?</div>
    <div class="onboarding-illustration-notifications"></div>
    <div id="cta-buttons">
      <button class="button button-standard button-primary" ng-click="allowNotif()" translate>Allow notifications</button>
      <button class="button button-standard button-secondary button-clear" ng-click="disableNotif()" translate>Not now</button>
    </div>
  </ion-content>
</ion-view>
