<ion-view class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-show="data.index == 0" ng-click="createDefaultWallet()">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <div class="onboarding-topic" translate>Bitcoin is secure,<br/>digital money.</div>
        <div class="onboarding-description" translate>You can spend bitcoin at millions of websites and stores worldwide.</div>
        <div class="onboarding-illustration-secure"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Just scan the code to pay.</div>
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Got it
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <div class="onboarding-topic" translate>Bitcoin is a currency.</div>
        <div class="onboarding-description" translate>You can trade it for other currencies like US Dollars, Euros, or Pounds.</div>
        <div class="onboarding-illustration-currency">
          <div id="onboarding-illustration-currency-exchange-rate">1 BTC = {{localCurrencySymbol}}{{localCurrencyPerBtc}}</div>
        </div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>The exchange rate changes with the market.</div>
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Makes sense
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <div class="onboarding-topic" translate>You control your bitcoin.</div>
        <div class="onboarding-description" translate>This app stores your bitcoin with cutting-edge security.</div>
        <div class="onboarding-illustration-control"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Not even BitPay can access it.</div>
          <button class="button button-standard button-primary" ng-click="createDefaultWallet()" translate>
            Create bitcoin wallet
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
