<ion-view>
  <ion-nav-bar>
    <ion-nav-title>{{'Add wallet' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button no-border" ng-click="$ionicGoBack()">
        {{'Close' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ui-sref="tabs.create.personal">
        <h2 translate>Create new wallet</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ui-sref="tabs.join">
        <h2 translate>Join shared wallet</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ui-sref="tabs.import.phrase">
        <h2 translate>Import wallet</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
