<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Add wallet'; closeToHome = true; noColor = true">
</div>



<div class="content">
<ul class="no-bullet manage size-12">
	<li>
		<a title="Create new wallet" ng-click="$root.go('create')">
			<i class="fi-plus circle plus-fixed"></i>	
			<i class="icon-arrow-right3 size-18 right m20t"></i>  
			<span translate>Create new wallet</span>
		</a>
	</li>
	<li>
		<a title="Join shared wallet" ng-click="$root.go('join')">
			<i class="icon-people circle"></i>	  
			<i class="icon-arrow-right3 size-18 right m20t"></i>  
			<span translate>Join shared wallet</span>
		</a>
	</li>
	<li>
		<a title="Import wallet" ng-click="$root.go('import')">
			<i class="icon-download circle"></i>	  
			<i class="icon-arrow-right3 size-18 right m20t"></i>  
			<span translate>Import wallet </span>
		</a>
	</li>

</ul>
</div>
