
<div class="topbar-container">
  <nav ng-controller="topbarController as topbar"
       ng-style="{'background-color': index.backgroundColor}"
       class="tab-bar">
    <section class="left-small">
      <a class="p10"
         ng-click="topbar.goHome()">
        <span class="text-close">Close</span>
      </a>
    </section>

    <section class="right-small">
      <a class="p10" ng-click="$root.go('buyAmazon')">
        <i class="fi-shopping-cart size-24"></i>
      </a>
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title ellipsis">
        Gift cards
      </h1>
    </section>
  </nav>
</div>

<div class="content amazon p20b" ng-controller="amazonController as amazon">

  <div class="onGoingProcess" ng-show="amazon.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color': index.backgroundColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span ng-show="amazon.loading">{{amazon.loading}}</span>
    </div>
  </div>

  <div ng-init="amazon.init()">

    <div class="m20t text-center" ng-click="amazon.init()">
      <img src="img/GCs-logo-cllb.png" alt="Amazon.com Gift Card" width="200">
    </div>

    <div class="m20t text-center size-12">
      <div class="text-left p10h">
        Amazon.com Gift Cards* never expire and can be redeemed towards millions of items at 
        <a ng-click="$root.openExternalLink('https://www.amazon.com')">www.amazon.com</a>.
      </div>

      <button class="m10t button black round tiny" 
              ng-style="{'background-color': index.backgroundColor}"
              ng-click="$root.go('buyAmazon')">
        Buy now
      </button>
    </div> 

    <div ng-if="amazon.giftCards" ng-init="showCards == false">
      <div class="size-16 white p10 pointer" ng-click="showCards = !showCards">
        <span class="right m10r text-gray">
          <i ng-show="!showCards" class="icon-arrow-down3"></i>
          <i ng-show="showCards" class="icon-arrow-up3"></i>
        </span>
        Your cards
      </div>
      <div ng-repeat="(id, item) in amazon.giftCards | orderObjectBy:'date':true track by $index"
           ng-show="showCards"
           ng-click="amazon.openCardModal(item)"
        class="row collapse last-transactions-content size-12">
        <div class="large-2 medium-2 small-2 columns">
          <img src="img/a-smile_color_btn.png" alt="{{id}}" width="40">
        </div>
        <div class="large-4 medium-4 small-4 columns m5t size-18">
          {{item.cardInfo.value.amount | currency : '$ ' : 2}}
        </div>
        <div class="large-5 medium-5 small-5 columns text-right m10t">
          <span class="text-warning" ng-if="item.status == 'FAILURE'">Error</span>
          <span class="text-secondary" ng-if="item.status == 'RESEND'">Resend is required</span>
          <span class="text-gray" ng-if="item.status == 'SUCCESS'">{{item.date * 1000 | amTimeAgo}}</span>
        </div>
        <div class="large-1 medium-1 small-1 columns text-right m10t">
          <i class="icon-arrow-right3 size-18"></i>
        </div>
      </div>
    </div>

    <div class="size-12 white p15 m20t">
      *Amazon.com Gift Cards (&quot;GCs&quot;) sold by BitPay, Inc., an authorized and independent
      reseller of Amazon.com Gift Cards. Except as required by law, GCs cannot be transferred for value or redeemed for cash.
      GCs may be used only for purchases of eligible goods at Amazon.com or certain of its affiliated websites. Purchases are
      deducted from the GC balance. To redeem or view a GC balance, visit &ldquo;Your Account&rdquo; at Amazon.com. Amazon is
      not responsible if a GC is lost, stolen, destroyed or used without permission. See 
      <a ng-click="$root.openExternalLink('https://www.amazon.com/gc-legal')">www.amazon.com/gc-legal</a> for complete terms, 
      restrictions and exceptions. For any other questions, see 
      <a ng-click="$root.openExternalLink('https://www.amazon.com/gc')">www.amazon.com/gc</a>. GCs are issued 
      by ACI Gift Cards, Inc., a Washington corporation. All Amazon &reg;, &trade; &amp; &copy; are IP of 
      Amazon.com, Inc. or its affiliates. No expiration date or service fees.
    </div>

  </div>

  <div class="extra-margin-bottom"></div>
</div>
