<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Backup'; goBackToState = 'preferences'">
</div>



<div class="content p20v" ng-controller="wordsController as wordsC">

  <div ng-show="wordsC.mnemonicWords">
    <div class="row"  ng-show="index.n==1">
      <div class="m10t columns size-14 text-gray">
        <span translate>
          You need the wallet seed to restore this personal wallet.
        </span>
        <span translate class="text-bold">
          Write it down and keep them somewhere safe.
        </span>
      </div>
    </div>
    <div class="row" ng-show="(index.n>1 && index.m != index.n )">
      <div class="m10t columns size-14 text-gray">
        <span translate>
          To restore this {{index.m}}-{{index.n}} shared wallet you will need
        </span>:
  <ol class="m10t columns size-14 text-gray">
    <li translate>Your wallet seed and access to the wallet service where your wallet is registered</li>
    <li translate><b>OR</b> the wallet seed of <b>all</b>  copayers in the wallet</li>
    <li translate><b>OR</b> 1 wallet export file and the remaining quorum of wallet seeds (e.g. in a 3-5 wallet: 1 wallet export file + 2 wallet seeds of any of the other copayers).</li>
  </ol>
        </span>
      </div>
    </div>
    <div class="row" ng-show="(index.n>1 && index.m == index.n )">
      <div class="m10t columns size-14 text-gray">
        <span translate>
          To restore this {{index.m}}-{{index.n}} <b>shared</b> wallet you will need
        </span>:
  <ol class="m10t columns size-14 text-gray">
    <li translate> Your wallet seed and access to the wallet service where wallet is registered</li>
    <li translate><b>OR</b> the wallet seeds of <b>all</b> copayers in the wallet</li>
  </ol>
        </span>
      </div>
    </div>
  </div>
 
  <div class="row m20t" ng-show="!wordsC.mnemonicWords">
    <div class="columns size-14 text-gray text-center" translate>
        Wallet seed not available. You can still export it from Advanced &gt; Export.
    </div>
  </div>
 
  <div ng-show="wordsC.mnemonicWords">
    <div class="row">
        <div class="m10t oh" ng-init="show=false">
          <a class="button outline light-gray expand tiny" ng-click="show=!show">
            <i class="fi-widget m3r"></i>
            <span translate ng-hide="show" ng-click="wordsC.done()">Show Wallet Seed</span>
            <span translate ng-hide="!show">Hide Wallet Seed</span>
            <i ng-if="!show" class="icon-arrow-down4"></i>
            <i ng-if="show" class="icon-arrow-up4"></i>
          </a>
        </div>
    </div>

    <div class="row enable_text_select" ng-show="show">


        <div class="small-centered p10t p10b large-centered medium-centered large-8 medium-8 small-10 columns enable_text_select" style="border:1px solid gray; background:#eee;
">
          <span class="m10r" ng-repeat="word in wordsC.mnemonicWords">{{word}} </span> 
        </div>

        <div class="box-notification large-centered medium-centered small-centered large-8 medium-8 small-10 columns m10t" ng-show="wordsC.mnemonicHasPassphrase">
          <span class="text-warning size-14">
            <i class="fi-alert"></i>
            <span translate>
            WARNING: This seed was created with a passphrase. To recover this wallet both the mnemonic and passphrase are needed.
            </span>
          </span>
        </div>





        <div class="m10 text-center columns">
          <div class="m10 size-14 text-gray">
            <span translate>
              Once you have copy your wallet seed, it is recommended to delete it from this device.
            </span>
          </div>
          <button class="button outline round dark-gray tiny" ng-click="wordsC.delete()">
            <i class="fi-trash"></i> 
            <span translate>
              DELETE WORDS
            </span>
          </button>
        </div>
    </div>

    <!-- hide this in multisig just to show less text -->
    <div class="row m20t"  ng-show="index.n==1">
      <div class="columns size-14 text-gray">
        <span translate>You can safely install your wallet on another device and use it from multiple devices at the same time.</span> 
        <a href="#" ng-click="$root.openExternalLink('https://github.com/bitpay/copay#backups')" translate>
          Learn more about Copay backups
        </a>
      </div>
    </div>

  </div>

</div>
<div class="extra-margin-bottom"></div>
