<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Backup'; goBackToState = 'backupWords'">
</div>

<div class="content preferences" ng-controller="backupConfirmController as backupConfirmC">
  <h4></h4>
  <div ng-show="backupConfirmC.mnemonicWords || (backupConfirmC.credentialsEncrypted && !backupConfirmC.deleted)">

    <div class="row m10t m10b">
      <div class="small-centered  text-gray columns size-14 text-center" translate>
        Congratulations
      </div>
    </div>

    <div class="columns text-center m20t">
      <button 
        ng-style="{'background-color':index.backgroundColor}" 
        class="button black round expand" 
        ng-click="backupConfirmC.confirm(); $root.go('walletHome');"
        translate>Finish
      </button>
    </div>

    <div class="row m20t"  ng-show="index.n==1">
      <div class="columns size-12 text-gray">
        <div class="p10t"  style="border-top:1px solid #ccc">
          <span translate>You can safely install your wallet on another device and use it from multiple devices at the same time.</span> 
          <a href="#" ng-click="$root.openExternalLink('https://github.com/bitpay/copay/blob/master/README.md#copay-backups-and-recovery')" translate>
            Learn more about Copay backups
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="extra-margin-bottom"></div>
