<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Backup'; goBackToState = 'backup'">
</div>


<div class="content preferences" ng-controller="wordsController as wordsC">
  <h4></h4>

  <div class="box-notification" ng-show="wordsC.error">
    <span class="text-warning">
    {{wordsC.error|translate}}
    </span>
  </div>
 
  <div ng-show="wordsC.mnemonicWords || (wordsC.credentialsEncrypted && !wordsC.deleted)">

    <div class="row m10t m10b">
      <div class="small-centered  text-gray columns size-14 text-center" translate>
          Your Wallet Seed
      </div>
    </div>

    <div class="row m10b">
      <div class="columns">
        <div class="p10 panel" ng-class="{'enable_text_select': index.network == 'testnet'}">
          <div id="addWord"></div>
        </div>
        <div class="p10" style="background:white" ng-class="{'enable_text_select': index.network == 'testnet'}">
          <span ng-repeat="word in wordsC.mnemonicWords track by $index">
            <button class="button radius tiny" style="white-space:nowrap" ng-click="wordsC.disableButton(word)" id="{{word}}">{{word}}</button>
          </span>
        </div>
      </div>
    </div>

    <div class="columns text-center m20t">
      <button 
        ng-disabled="!wordsC.sorted"
        ng-style="{'background-color':index.backgroundColor}" 
        class="button black round expand" 
        ng-click="$root.go('backupConfirm');" 
        translate>Continue
      </button>
    </div>

    <div class="row m20t"  ng-show="index.n==1">
      <div class="columns size-12 text-gray">
        <div class="p10t"  style="border-top:1px solid #ccc">
          <span translate>You can safely install your wallet on another device and use it from multiple devices at the same time.</span> 
          <a href="#" ng-click="$root.openExternalLink('https://github.com/bitpay/copay/blob/master/README.md#copay-backups-and-recovery')" translate>
            Learn more about Copay backups
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="extra-margin-bottom"></div>
