<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Backup'; goBackToState = 'preferences'">
</div>



<div class="content p20v" ng-controller="backupController as backup">
  <div class="row m20t">
    <div class="columns" ng-show="!backup.backupWalletPlainText && !backup.error">
      <div class="text-warning size-14 m10v" ng-show="backup.isEncrypted">
        <i class="fi-alert size-12"></i>
        <span translate> The private key for this wallet is encrypted. Exporting a backup will keep the private key encrypted in the backup archive.</span>

      </div>

      <label for="password" translate>Set up a Password for your backup</label>
      <div class="input">
        <input type="password" class="form-control"
        placeholder="{{'Your backup password'|translate}}"
        name="password" ng-model="backup.password">
      </div>

      <label for="password" translate>Repeat password</label>
      <div class="input">
        <input type="password" class="form-control"
        placeholder="{{'Repeat password'|translate}}"
        name="password" ng-model="backup.repeatpassword">
      </div>

      <button class="black round expand" ng-click="backup.downloadWalletBackup()"
        ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
        ng-style="{'background-color':index.backgroundColor}"
        ng-show="!backup.isSafari && !backup.isCordova"><i class="fi-download"></i>
        <span translate>Download backup</span></button>
      <button class="black round expand" ng-click="backup.viewWalletBackup()"
        ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
        ng-style="{'background-color':index.backgroundColor}"
        ng-show="backup.isSafari && !backup.isCordova"><i class="fi-eye"></i>
        <span translate>View backup</span></button>
      <div ng-show="backup.isCordova">
        <h4 translate>Backup options</h4>
        <button class="black round expand"  ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
          ng-style="{'background-color':index.backgroundColor}"
          ng-click="backup.copyWalletBackup()"><i class="fi-clipboard-pencil"></i>
          <span translate>Copy to clipboard</span></button>
        <button class="black round expand"  ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
          ng-style="{'background-color':index.backgroundColor}"
          ng-click="backup.sendWalletBackup()"><i class="fi-mail"></i>
          <span translate>Send by email</span></button>
      </div>
    </div>
  </div>
  <div class="row m20b" ng-show="backup.backupWalletPlainText">
    <div class="large-12 columns">
      <h3 translate>Copy backup to a safe place</h3>
      <div class="input">
        <textarea rows="12">{{backup.backupWalletPlainText}}</textarea>
      </div>
      <div class="size-12 text-gray text-right">
        <i class="icon-compose"></i>
        <span translate>Copy this text as it is to a safe place (notepad or email)</span>
      </div>
    </div>
  </div>

  <div class="m10 size-14 text-gray" translate>
    * You can safely install your backup on another device and use your wallet from multiple devices at the same time.
  </div>

</div>
