<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="primary">
      <button class="button no-border" ui-sref="tabs.home">
        Close
      </button>
    </ion-nav-buttons>
    <ion-nav-title translate>Buy and sell</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item" ui-sref="glidera.main">
        <img src="img/glidera-logo.png" width="100">
      </ion-item>
      <ion-item class="item" ui-sref="coinbase.main">
        <img src="img/coinbase-logo.png" width="100"> TODO
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
