<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="primary">
      <button class="button back-button" ui-sref="tabs.home">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-title translate>Buy and sell</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-right" ui-sref="tabs.buyandsell.glidera">
        <img src="img/glidera-logo.png" width="90">
        <i class="icon nav-item-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
