<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Buy'; goBackToState = 'amazon'; noColor = true">
</div>


<div class="content amazon" ng-controller="buyAmazonController as buy">

  <div class="onGoingProcess" ng-show="buy.loading">
    <div class="onGoingProcess-content">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span>{{buy.loading}}</span>
    </div>
  </div>

  <div class="row m20t" ng-show="!buy.giftCard" ng-init="buy.init()">
    <div class="columns">

      <div class="box-notification m20b" ng-show="buy.error" ng-click="buy.error = null">
        <span class="text-warning">
          {{buy.error}}
        </span>
        <div class="m10t size-12" ng-show="buy.errorInfo">
          There was an error when trying to buy gift card, but the funds were sent to BitPay Invoice. Please, contact
          BitPay to refund your bitcoin
          <div class="p10 m10t">
            Amount: {{buy.errorInfo.amount}} {{buy.errorInfo.currencyCode}}<br>
            BitPay Invoice ID: {{buy.errorInfo.bitpayInvoiceId}}.
          </div>
          <div class="text-center">
            <a ng-click="$root.openExternalLink(buy.errorInfo.bitpayInvoiceUrl)">Open invoice</a>
          </div>
        </div>
      </div>     

      <div class="text-center">
        <img src="img/a_generic.jpg" alt="Amazon.com Gift Card" width="200">
        <div class="text-left size-12 m10t">
          Use your Amazon.com Gift Card* to shop from a huge selection of books, electronics, music, movies, software, apparel, toys, and more.
        </div>
      </div>
      <form
         name="buyAmazonForm" 
         ng-submit="buy.createTx()" 
         novalidate>

        <div class="m20v text-center">
          <a class="amazon-select-amount" ng-click="buy.setAmount()">-</a>
          <span class="amazon-amount">$ {{fiat}}</span>
          <a class="amazon-select-amount" ng-click="buy.setAmount(1)">+</a>
        </div>

        <div  
         class="m10b"
         ng-click="openWalletsModal(buy.allWallets)">
          <label>Pay From Copay Wallet</label>
          <div class="input">
            <input type="text" id="address" name="address" ng-disabled="buy.selectedWalletId" 
            ng-attr-placeholder="{{'Choose your source wallet'}}" 
            ng-model="buy.selectedWalletName" required>
            <a class="postfix size-12 m0 text-gray">
              <i class="icon-wallet size-18"></i>
            </a>
          </div>
        </div> 

        <div class="input m20t">
          <input class="button black round expand" 
                   ng-disabled="!buy.selectedWalletId || buy.loading || !fiat"
                   type="submit" value="Buy now">
        </div>
      </form>
    </div>
  </div>

  <div class="m20t" ng-show="buy.giftCard">
    <div class="m10h" ng-show="buy.giftCard.status != 'SUCCESS'">
      <h1 class="text-center">Gift card could not be created</h1>
      <div class="box-notification m20b">
        <span class="text-warning">
          There was an error when trying to create the Amazon.com Gift Card. Status: {{buy.giftCard.status}}
        </span>
      </div>
      <div class="text-gray size-12 m20t">
        <span ng-show="buy.giftCard.status == 'RESEND'">
          This is a temporary/recoverable system failure that can be
          resolved retrying the request from your list of cards
        </span>
        <span ng-show="buy.giftCard.status == 'FAILURE'">
          This failure could not be recoverable. Request your refund from your list of cards 
        </span>
        <button class="m20t button outline round dark-gray expand" ng-click="$root.go('amazon')">
          Back 
        </button>
      </div>
    </div>
    <div ng-show="buy.giftCard.status == 'SUCCESS'">
      <div class="size-12 m10h">
        Thank you for participating in the BitPay offer. It is our pleasure to send 
        you this Amazon.com Gift Card* that can be redeemed towards millions of items at 
        <a ng-click="$root.openExternalLink('https://www.amazon.com')">www.amazon.com</a>. You may want to print this screen 
        for easy reference later--you&rsquo;ll need the gift card claim code below
      </div>

      <div class="oh m20t size-12 text-center">
        <img class="m10h" src="img/a_generic.jpg" alt="Amazon.com Gift Cards" width="230">
        <div class="m10t size-14">
          Gift Card Amount: 
          <span class="text-bold">
            {{buy.giftCard.cardInfo.value.amount | currency : '$ ' : 2 }}
          </span>
        </div>
        <div class="size-14">
          Claim code: <span class="text-bold enable_text_select">{{buy.giftCard.gcClaimCode}}</span>
        </div>
        <div class="m10t">
          <button class="button black round tiny" 
                  ng-click="$root.openExternalLink('https://www.amazon.com/gc/redeem?claimCode=' + buy.giftCard.gcClaimCode, '_system')">
            Redeem Now
          </button>
        </div>
      </div>

      <div class="size-12 m10t text-center">
        | <a 
        ng-click="$root.openExternalLink('https://www.amazon.com/gp/css/gc/payment/view-gc-balance?claimCode=' + buy.giftCard.gcClaimCode, '_system')">
          Apply to Account
        </a> | 
        <a ng-click="$root.openExternalLink('http://www.amazon.com/gc-redeem')">How to Use</a> |
      </div>


      <div class="m20t size-12 white line-t p10">
        <div class="text-bold m10b">To redeem your gift card, follow these steps:</div>
        <ol class="size-12">
          <li>Visit <a ng-click="$root.openExternalLink('https://www.amazon.com/gc')">www.amazon.com/gc</a>.</li>
          <li>Click Apply to Account and enter the claim code when prompted.</li>
          <li>Gift card funds will be applied automatically to eligible orders during the checkout process.</li>
          <li>You must pay for any remaining balance on your order with another payment method.</li>
        </ol>
        <p class="size-12">Your gift card claim code may also be entered when prompted during checkout. 
        To redeem your gift card using the Amazon.com 1-Click&reg; service, first add the gift card 
        funds to Your Account.</p>
        <p class="size-12">If you have questions about redeeming your gift card, please visit 
        <a ng-click="$root.openExternalLink('https://www.amazon.com/gc-redeem')">www.amazon.com/gc-redeem</a>. 
        If you have questions regarding the BitPay offer, please contact BitPay.</p>
      </div>

    </div>
  </div>

  <div class="size-12 white p15 m20t">
    *Amazon.com Gift Cards (&quot;GCs&quot;) sold by BitPay, Inc., an authorized and independent
    reseller of Amazon.com Gift Cards. Except as required by law, GCs cannot be transferred for value or redeemed for cash.
    GCs may be used only for purchases of eligible goods at Amazon.com or certain of its affiliated websites. Purchases are
    deducted from the GC balance. To redeem or view a GC balance, visit &ldquo;Your Account&rdquo; at Amazon.com. Amazon is
    not responsible if a GC is lost, stolen, destroyed or used without permission. See 
    <a ng-click="$root.openExternalLink('https://www.amazon.com/gc-legal')">www.amazon.com/gc-legal</a> for complete terms, 
    restrictions and exceptions. For any other questions, see 
    <a ng-click="$root.openExternalLink('https://www.amazon.com/gc')">www.amazon.com/gc</a>. GCs are issued 
    by ACI Gift Cards, Inc., a Washington corporation. All Amazon &reg;, &trade; &amp; &copy; are IP of 
    Amazon.com, Inc. or its affiliates. No expiration date or service fees.
  </div>

</div>
<div class="extra-margin-bottom"></div>
