<ion-view>

  <ion-pane>
    <ion-nav-bar class="bar-stable">
      <ion-nav-title>Confirm</ion-nav-title>

      <ion-nav-buttons side="primary">
        <button class="button"   href ui-sref="tabs.send">
          <i class="ion-arrow-left-c"></i> Back
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content scroll="false" ng-controller="confirmController" ng-init="init()">



    <ion-content ng-style="{'background-color':'#f6f7f9'}">
              



      <div class="card">
        <div class="item item-text-wrap">
          <i class="icon ion-arrow-up-c"></i> <span class="text-bold size-16">Sending</span>
          <div class="text-bold size-28 m15t">{{amount}} {{unitName}}</div>
          <div class="text-light size-20 m5t">{{alternativeAmount || '...'}} {{alternativeIsoCode}}</div>
        </div>
      </div>

      <div class="list card">
        <div class="item">Fee: {{feeLevel}} ({{fee || '...'}} {{unitName}})</div>

        <div class="item item-icon-left">
          <i class="icon ion-ios-person-outline"></i>
          <label translate>To</label>
          <p>{{toName || toAddress}}</p>
        </div>

        <div class="item item-icon-left">
          <i class="icon icon-wallet size-21" ng-style="{'color':recipientColor}"></i>
          <label translate>From</label>
        </div>

        <div class="item item-text-wrap" ng-style="{'height' : '200px'}">
          <ion-slides class="slides" options="options" slider="data.slider">
            <ion-slide-page ng-repeat="item in wallets track by $index" >
              <div class="list card">
                <ul class="pr">
                  <li ng-show="wallets[0]" class="item item-icon-left">
                      <i class="icon ion-briefcase size-21" ng-style="{'color':item.color}"></i>
                      {{item.name || item.id}}
                      <span class="item-note" ng-show="item.n > 1 && item.isComplete()">
                        {{item.m}}-of-{{item.n}}
                      </span>
                      <span class="badge badge-assertive" ng-show="!item.isComplete()" translate>
                        Incomplete
                      </span>

                  </li>
                </ul>
              </div>
            </ion-slide-page>
          </ion-slides>
        </div>


        <div class="item item-icon-right">
          Add Description (not yet working...)
          <i class="icon ion-ios-arrow-right size-21"></i>
        </div>
      </div>

      <div class="card">
        <button class="item button button-full button-positive" ng-click="approve()" ng-disabled="!txp">
          Approve
        </button>
      </div>
    </ion-content>

</ion-view>
