<ion-view>

  <ion-pane>
    <ion-nav-bar class="bar-stable">
      <ion-nav-title>Confirm</ion-nav-title>
      <ion-nav-buttons side="primary">
        <button class="button no-border" ui-sref="tabs.send">
          <i class="icon ion-chevron-left"></i> Back
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="false" ng-controller="confirmController" ng-init="init()">

      <div class="card">
        <div class="item item-text-wrap">
          <i class="icon ion-arrow-up-c"></i> <span class="text-bold size-16">Sending</span>
          <div class="text-bold size-28 m15t">{{amountStr}} </div>
          <div class="text-light size-20 m5t">{{alternativeAmountStr}} </div>
        </div>
      </div>

      <div class="list card">
        <div class="item">Fee: {{feeLevel}}
          <span class="item-note">
            {{fee || '...'}}
          </span>
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-ios-person-outline"></i>
          <label translate>To</label> {{toAddress}}
          <p ng-show="toName">{{toName}}</p>

          <div ng-show="_paypro" ng-click="openPPModal(_paypro)">
              <i ng-show="_paypro.verified && _paypro.caTrusted" class="ion-locked" style="color:green"></i>
              <i ng-show="!_paypro.caTrusted" class="ion-unlocked" style="color:red"></i>
                {{_paypro.domain}}
          </div>
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-briefcase size-21"></i>
          <label translate>From</label>
          <span class="badge badge-assertive" ng-show="notAvailable" translate>Not available</span>
        </div>

        <wallets ng-if="wallets[0]" wallets="wallets"></wallets>

        <div class="item item-icon-left item-icon-right" ng-click="showDescriptionPopup()">
          <span ng-show="!description">Add Description</span>
          <span ng-show="description">{{description}}</span>
          <i class="icon ion-ios-chatbubble-outline size-21"></i>
          <i class="icon ion-ios-plus-empty size-21"></i>
        </div>
      </div>

      <button class="item button button-block button-balanced" ng-click="approve()" ng-disabled="!txp">
        <span ng-show="wallet.canSign()" translate>Approve</span>
        <span ng-show="!wallet.canSign()" translate>Send</span>
      </button>
    </ion-content>
</ion-view>
