<ion-view>
  <ion-content class="padding" ng-controller="disclaimerController" ng-init="init()">
      <h1 translate>WELCOME TO COPAY</h1>
      <h3 translate>A multisignature bitcoin wallet</h3>

      <h4 translate>Terms of Use</h4>
      <p ng-include="'views/includes/terms.html'"></p>

      <div class="padding-vertical" ng-show="lang != 'en'">
      <a ng-click="$root.openExternalLink('https://copay.io/disclaimer')" translate>Official English Disclaimer</a>
      </div>

      <p translate>I affirm that I have read, understood, and agree with these terms.</p>

      <button ng-click="accept()" class="button button-block button-positive" translate>
        I AGREE. GET STARTED
      </button>

  </ion-content>
</ion-view>

