<div class="splash content text-center"
  ng-controller="disclaimerController as disclaimer" ng-init="disclaimer.init()">
  <div class="row">
    <div class="container-image large-2 medium-2 small-2 medium-centered small-centered large-centered columns">
    <img src="img/icon-splash.png" alt="icon" width="100%">
  </div>
  <div class="row">
    <div class="medium-centered small-centered large-centered columns">
      <span class="text-bold size-16 text-white" translate>WELCOME TO COPAY</span>
      <p class="text-gray size-14 m0 text-light" translate>A multisignature bitcoin wallet</p>
    </div>
  </div>
  <div class="row">
    <div class="scrollArea">
      <p class="enable_text_select m0">
        <div class="size-16 text-gray" translate>Terms of Use</div>
        <div ng-include="'views/includes/terms.html'"></div>
      </p>
    </div>
  </div>
  </div>

  <div class="row">
    <p ng-show="disclaimer.lang != 'en'">
      <a class="center" ng-click="$root.openExternalLink('https://copay.io/disclaimer')" translate>Official English Disclaimer</a>
    </p>
  </div>
  <div>
      <p class="text-gray columns" translate>I affirm that I have read, understood, and agree with these terms.</p>
  </div>
  <div class="row">

    <div class="text-center size-12 text-warning" ng-show="error">
      {{(error)|translate}}. <span translate>Retrying...</span>
    </div>
    <div class="onGoingProcess" ng-show="creatingProfile">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <span translate>Creating Profile...</span>
    </div>
  </div>
    <div class="start-button columns">
      <button ng-disabled="creatingProfile" ng-click="index.acceptDisclaimer()" class="button black expand round size-12 text-spacing" translate>
        I AGREE. GET STARTED
      </button>
    </div>
  </div>
</div>
