<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Export'; goBackToState = 'preferencesAdvanced'">
</div>

<div class="content preferences" ng-controller="exportController as exportC">
  <h4></h4>
  <div ng-show="!exportC.backupWalletPlainText">
      <div class="text-warning size-14 m20b" ng-show="exportC.error">
        <i class="fi-alert size-12"></i>
        <span translate> Failed to export </span>
      </div>

      <div class="row">
        <div class="columns">
          <div class="text-warning size-14 m20b" ng-show="exportC.isEncrypted">
            <i class="fi-alert size-12"></i>
            <span translate> A spending password is set for this wallet. Exporting keeps the spending password in the export archive.</span>
          </div>
        </div>
      </div>

      <form>
        <div class="row">
          <div class="columns">
            <label for="password" translate>Set up a password </label>
            <div class="input">
              <input type="password" class="form-control" placeholder="{{'Your password'|translate}}" name="password" ng-model="exportC.password">
            </div>

            <label for="password" translate>Repeat the password</label>
            <div class="input">
              <input type="password" class="form-control" placeholder="{{'Repeat password'|translate}}" name="password" ng-model="exportC.repeatpassword">
            </div>
          </div>
        </div>
      </form>

      <h4></h4>

      <ion-toggle ng-model="metaDataEnabled" toggle-class="toggle-balanced" class="r0">
        <span class="toggle-label" translate>Include address book and history cache</span>
      </ion-toggle>

      <ion-toggle ng-model="noSignEnabled" toggle-class="toggle-balanced" class="r0">
        <span class="toggle-label" translate>Do not include private key</span>
      </ion-toggle>

      <div class="box-notification"  ng-show="!index.canSign">
        <span class="text-warning size-14">
          <i class="fi-alert"></i>
          <span translate>
          WARNING: The private key of this wallet is not available. The export allows to check the wallet balance, transaction history, and create spend proposals from the export. However, does not allow to approve (sign) proposals, so <b>funds will not be accessible from the export</b>.
          </span>
        </span>
      </div>


      <div class="box-notification" ng-show="noSign">
        <span class="text-warning size-14">
          <i class="fi-alert"></i>
          <span translate>
          WARNING: Not including the private key allows to check the wallet balance, transaction history, and create spend proposals from the export. However, does not allow to approve (sign) proposals, so <b>funds will not be accessible from the export</b>.
          </span>
        </span>
      </div>

      <div class="row">
        <div class="columns">
          <button class="black round expand m20t" ng-click="exportC.downloadWalletBackup()"
            ng-disabled="(!exportC.password || exportC.password != exportC.repeatpassword)"
            ng-style="{'background-color':index.backgroundColor}"
            ng-show="!index.isSafari && !index.isCordova"><i class="fi-download"></i>
            <span translate>Download</span></button>
          <button class="black round expand m20t" ng-click="exportC.viewWalletBackup()"
            ng-disabled="(!exportC.password || exportC.password != exportC.repeatpassword)"
            ng-style="{'background-color':index.backgroundColor}"
            ng-show="index.isSafari && !index.isCordova"><i class="fi-eye"></i>
            <span translate>View</span></button>
          <div ng-show="index.isCordova">
            <h4 translate>Export options</h4>
            <button class="black round expand" ng-disabled="(!exportC.password || exportC.password != exportC.repeatpassword)"
              ng-style="{'background-color':index.backgroundColor}"
              ng-click="exportC.copyWalletBackup()"><i class="fi-clipboard-pencil"></i>
              <span translate>Copy to clipboard</span></button>
            <button class="black round expand" ng-disabled="(!exportC.password || exportC.password != exportC.repeatpassword)"
              ng-style="{'background-color':index.backgroundColor}"
              ng-click="exportC.sendWalletBackup()"><i class="fi-mail"></i>
              <span translate>Send by email</span></button>
          </div>
        </div>
      </div>

  </div>

  <div class="row" ng-show="exportC.backupWalletPlainText">
    <div class="large-12 columns">
      <h3 translate>Wallet Export</h3>
      <div class="input">
        <textarea rows="12">{{exportC.backupWalletPlainText}}</textarea>
      </div>
      <div class="size-12 text-gray text-right">
        <i class="icon-compose"></i>
        <span translate>Copy this text as it is to a safe place (notepad or email)</span>
      </div>
    </div>
  </div>

</div>
<div class="extra-margin-bottom"></div>
