<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Export'; goBackToState = 'preferences'">
</div>



<div class="content p20v" ng-controller="backupController as backup">
  <div class="row">
    <div class="columns" ng-show="!backup.backupWalletPlainText">
      <div class="text-warning size-14 m20b" ng-show="backup.error">
        <i class="fi-alert size-12"></i>
        <span translate> Failed to export </span>
      </div>

      <div class="text-warning size-14 m20b" ng-show="backup.isEncrypted">
        <i class="fi-alert size-12"></i>
        <span translate> The private key for this wallet is encrypted. Exporting  keep the private key encrypted in the export archive.</span>

      </div>

      <label for="password" translate>Set up a Export Password </label>
      <div class="input">
        <input type="password" class="form-control"
        placeholder="{{'Your export password'|translate}}"
        name="password" ng-model="backup.password">
      </div>

      <label for="password" translate>Repeat password</label>
      <div class="input">
        <input type="password" class="form-control"
        placeholder="{{'Repeat password'|translate}}"
        name="password" ng-model="backup.repeatpassword">
      </div>


      <div class="m10t oh" ng-init="hideAdv=true">
        <a class="button outline light-gray expand tiny" ng-click="hideAdv=!hideAdv">
          <i class="fi-widget m3r"></i>
          <span translate ng-hide="!hideAdv">Show Advanced options</span>
          <span translate ng-hide="hideAdv">Hide Advanced options</span>
          <i ng-if="hideAdv" class="icon-arrow-down4"></i>
          <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
        </a>
      </div>
      <div ng-hide="hideAdv" class="row">
        <div class="large-12 columns">
          <label for="no-sign" class="line-b oh">
            <span translate>Do not include private key</span>
            <switch id="no-sign" name="noSign" ng-model="noSign" class="green right m5t m10b"></switch>
          </label>
        </div>

        <div class="m10 size-14 text-gray" translate>
          Not including the private key will allow the user to see the wallet balance, transactions, and create spend proposals. However, it will not be able to approve (sign) proposals.

        </div>
      </div>


      <button class="black round expand m0" ng-click="backup.downloadWalletBackup()"
        ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
        ng-style="{'background-color':index.backgroundColor}"
        ng-show="!backup.isSafari && !backup.isCordova"><i class="fi-download"></i>
        <span translate>Download backup</span></button>
      <button class="black round expand m0" ng-click="backup.viewWalletBackup()"
        ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
        ng-style="{'background-color':index.backgroundColor}"
        ng-show="backup.isSafari && !backup.isCordova"><i class="fi-eye"></i>
        <span translate>View backup</span></button>
      <div ng-show="backup.isCordova">
        <h4 translate>Backup options</h4>
        <button class="black round expand" ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
          ng-style="{'background-color':index.backgroundColor}"
          ng-click="backup.copyWalletBackup()"><i class="fi-clipboard-pencil"></i>
          <span translate>Copy to clipboard</span></button>
        <button class="black round expand m0" ng-disabled="(!backup.password || backup.password != backup.repeatpassword)"
          ng-style="{'background-color':index.backgroundColor}"
          ng-click="backup.sendWalletBackup()"><i class="fi-mail"></i>
          <span translate>Send by email</span></button>
      </div>
    </div>
  </div>

  <div class="row" ng-show="backup.backupWalletPlainText">
    <div class="large-12 columns">
      <h3 translate>Copy backup to a safe place</h3>
      <div class="input">
        <textarea rows="12">{{backup.backupWalletPlainText}}</textarea>
      </div>
      <div class="size-12 text-gray text-right">
        <i class="icon-compose"></i>
        <span translate>Copy this text as it is to a safe place (notepad or email)</span>
      </div>
    </div>
  </div>

  <div class="row m10t">
    <div class="columns size-14 text-gray" translate>
      * You can safely install your backup on another device and use your wallet from multiple devices at the same time.
    </div>
  </div>

</div>
<div class="extra-margin-bottom"></div>
