<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="primary">
      <button class="button no-border" ui-sref="tabs.home">
        Close
      </button>
    </ion-nav-buttons>
    <ion-nav-title>Glidera</ion-nav-title>
  </ion-nav-bar>

  <ion-content ng-controller="glideraUriController" ng-init="checkCode()">

    <div class="box-notification warning" ng-show="network == 'testnet'">
      Testnet wallets only work with Glidera Sandbox Accounts
    </div>

    <div class="text-center">
      <img src="img/glidera-logo.png" width="100">
      <div class="m20t" translate>
        Connecting...
      </div>
    </div>
  </ion-content>
</ion-view>
