<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Glidera'; closeToHome = true">
</div>

<div class="content glidera" ng-controller="glideraUriController as glidera" ng-init="glidera.checkCode()">

  <div class="onGoingProcess" ng-show="glidera.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span ng-show="glidera.loading">Connecting to Glidera...</span>
    </div>
  </div>

  <div class="row m20t">
    <div class="large-12 columns">
      <div class="text-center">
        <img src="img/glidera-logo.png" 
        ng-click="index.updateGlidera(index.glideraToken, index.glideraPermissions)" width="100">
      </div>
      
      <div class="m10t text-center" ng-show="glidera.error">
        <div class="notification m10b size-12 text-warning">{{glidera.error}}</div>
        <button class="outline dark-gray tiny round" ng-click="glidera.submitOauthCode(glidera.code)">Try again</button>
      </div>
    </div>
  </div>
</div>
