<div class="history" ng-controller="historyController as history" ng-init="history.getTxHistory()"
  ng-show="!index.isOffLine">
  <div class="row" ng-show="history.updatingTxHistory || !history.txHistory[0]">
    <div class="large-12 columns">
      <div class="oh text-center">
        <span ng-if="history.updatingTxHistory" class="text-gray" translate>Getting transactions...</span>
        <span ng-if="!history.txHistory[0] && !history.updatingTxHistory">No transactions yet</span>
      </div>
    </div>
  </div>
  <div ng-show="history.txHistory[0]" class="row">
      <div class="oh" ng-show="!history.updatingTxHistory">
        <div ng-repeat="btx in history.txHistory | limitTo:history.limit" 
          ng-click="history.openTxModal(btx)" 
          ng-class="{'line-b':!$last}" 
          class="row last-transactions-content">
          <div class="large-3 medium-3 small-3 columns">
            <span class="label tu success" ng-show="btx.action == 'received'">Received</span>
            <span class="label tu alert" ng-show="btx.action == 'sent'">Sent</span>
            <span class="label tu gray" ng-show="btx.action == 'moved'">Moved</span>
          </div>

          <div class="large-5 medium-5 small-5 columns" ng-class="{
              'text-primary' : btx.action == 'received',
              'text-warning': btx.action == 'sent', 
              'text-black': btx.action == 'moved'}">
            <span class="size-18">
              <span ng-if="btx.action == 'received'">+</span><span ng-if="btx.action == 'sent'">-</span>{{history.formatAmount(btx.amount)}}
              {{history.getUnitName()}}
            </span>
          </div>
          <div class="large-4 medium-4 small-4 columns text-right">
            <div class="m5t size-12 text-gray">
              <time ng-if="btx.time">{{btx.time * 1000 | amTimeAgo}}</time>
              <span translate class="text-warning" 
                ng-show="!btx.time && (!btx.confirmations || btx.confirmations == 0)">
                Unconfirmed
              </span>
            </div>
          </div>
          <div class="size-14 text-gray columns m5t" ng-if="btx.message || btx.addressTo">
            {{btx.message || btx.addressTo}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 small-6 columns">
          <button class="primary expand" ng-disabled="history.updatingTxHistory"
            ng-click="history.skip = history.skip - history.limit; history.getTxHistory()" 
            ng-show="history.skip > 0">Previous</button>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <button class="primary expand" ng-disabled="history.updatingTxHistory"
            ng-click="history.skip = history.skip + history.limit; history.getTxHistory()" 
            ng-show="history.txHistory[history.limit]">Next</button>
        </div>
      </div>
  </div>
</div>
<div ng-if="index.isOffLine" class="m20tp text-center" translate>Checking your internet connection...</div>
<div class="extra-margin-bottom"></div>
