<div class="history" ng-controller="historyController as history" ng-init="history.update()">
  <div class="row" ng-show="index.updatingTxHistory || !index.txHistory[0]">
    <div class="large-12 columns">
      <div class="panel oh text-center">
        <span ng-if="index.updatingTxHistory" class="text-gray" translate>Getting transactions...</span>
        <span ng-if="!index.txHistory[0] && !index.updatingTxHistory">No transactions yet</span>
      </div>
    </div>
  </div>
  <div ng-show="index.txHistory[0]" class="row">
    <div class="large-12 columns">
      <div class="panel oh">
        <div ng-repeat="btx in index.txHistory | orderBy:'-time'" 
          ng-click="history.openTxModal(btx)" 
          ng-class="{'line-b':!$last}" 
          class="row last-transactions-content">

          <div class="large-6 medium-6 small-5 columns">
            <div class="ellipsis" ng-if="btx.message || btx.addressTo">
              {{btx.message || btx.addressTo}}
            </div>
            <div class="m5t size-14 text-gray">
              <time ng-if="btx.time">{{btx.time * 1000 | amTimeAgo}}</time>
              <span translate class="text-warning" 
                ng-show="!btx.time && (!btx.confirmations || btx.confirmations == 0)">
                Unconfirmed
              </span>
            </div>
          </div>

          <div class="large-6 medium-6 small-7 columns">
            <div class="text-right" 
              ng-class="{
              'text-primary' : btx.action == 'received',
              'text-warning': btx.action == 'sent', 
              'text-gray': btx.action == 'moved'}">
              <span class="size-18">
                <span ng-if="btx.action == 'received'">+</span><span ng-if="btx.action == 'sent'">-</span>{{history.getAmount(btx.amount)}}
                {{history.getUnitName()}}
              </span>
              <span class="size-14 db m5t text-gray" ng-show="btx.alternativeAmount">
                {{btx.alternativeAmount}} {{history.getAlternativeIsoCode()}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
