<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Manage identities'; closeToHome = true; noColor = true">
</div>

<div class="content">
  <div class="m20b box-notification" ng-if="index.identityError">
    <div class="text-warning">
      <span>{{index.identityError}}</span>
    </div>
  </div>
	<ul class="no-bullet manage size-12">
		<li>
			<a title="Create new identity" ng-click="$root.go('createIdentity')">
				<i class="fi-plus circle plus-fixed"></i>	
				<i class="icon-arrow-right3 size-18 right m20t"></i>  
				<span translate>Create new identity</span>
			</a>
		</li>
		<li>
			<a title="Link existing identity" ng-click="$root.go('linkIdentity')">
				<i class="icon-people circle"></i>	  
				<i class="icon-arrow-right3 size-18 right m20t"></i>  
				<span translate>Link external identity</span>
			</a>
		</li>
		<li>
			<a title="Share identity" ng-click="$root.go('shareIdentity')">
				<i class="icon-paperplane circle"></i>	  
				<i class="icon-arrow-right3 size-18 right m20t"></i>  
				<span translate>Share identity</span>
			</a>
		</li>
	</ul>
  <ul class="no-bullet manage size-12">
    <h4 class="title m0" translate>Identities</h4>
    <div ng-repeat="identity in index.identities"
      ng-include="'views/includes/identity.html'"
      ng-click="index.viewIdentity(identity.id)"
      class="row collapse last-transactions-content">
    </div>
  </ul>
</div>
