<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Import legacy wallet'; goBackToState = 'import'; noColor = true">
</div>

<div class="content p20v" ng-controller="importLegacyController as importLegacy">
  <div class="row m20t">
    <div class="large-12 columns">
      <div ng-show="importLegacy.importing">
        <h1 class="m20b animated infinite flash" translate>Importing...</h1>
        <ul>
          <li ng-repeat="m in importLegacy.messages">
          <span ng-style="{'opacity':m.opacity}">{{m.message|translate}}</span>
        </ul>
      </div>

      <div class="box-notification" ng-show="importLegacy.error">
        <span class="text-warning size-14">
          {{importLegacy.error|translate}}
        </span>
      </div>

      <div ng-show="!importLegacy.importing">
        <form name="importForm" ng-submit="importLegacy.import(importForm)" novalidate>

          <label for="fromCloud" class="line-b oh m20b">
            <span translate>Import from the Cloud?</span>
            <switch id="fromCloud" name="fromCloud" ng-model="importLegacy.fromCloud" class="green right m5t m10b"></switch>
          </label>

          <label for="username">
            <span ng-show="importLegacy.fromCloud" translate>Email</span>
            <span ng-show="!importLegacy.fromCloud" translate>Username</span>
            <input type="text" class="form-control" 
            placeholder="{{importLegacy.fromCloud ? ('Email'|translate): ('Username'|translate)}}"
            name="username" ng-model="importLegacy.username" autocapitalize="off" required>
          </label>

          <label for="password">
            <span translate>Password</span>
            <input type="password" class="form-control" placeholder="{{'Your profile password'|translate}}"
            name="password" ng-model="importLegacy.password" required>
          </label>

          <label for="server" ng-show="importLegacy.fromCloud">
            <span translate>Server</span>
            <input type="text" class="form-control" placeholder="{{'Server URL'}}"
            name="server" ng-model="importLegacy.server" required>
          </label>

          <button translate type="submit"
            class="button black round expand m0"
            ng-disabled="importForm.$invalid">
            Import
          </button>
        </form>

        <div class="text-center p20v">
          <a class="m20t tiny button outline round light-gray " ng-click="$root.openExternalLink('https://github.com/bitpay/copay/releases/tag/v0.10.0')" translate>
            Learn more about Wallet Migration
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
