<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Join shared wallet'; goBackToState = 'add'; noColor = true">
</div>


<div class="content p20v" ng-controller="joinController as join">
  <div class="onGoingProcess" ng-show="join.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Joining Wallet...</span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">

      <div class="box-notification" ng-show="join.error ">
        <span class="text-warning size-14">
          {{join.error|translate}}
        </span>
      </div>

      <form name="joinForm" ng-submit="join.join(joinForm)" novalidate>
          <label><span translate>Your nickname</span>
            <div class="input">
              <input type="text" placeholder="{{'John'|translate}}" class="form-control" name="myName" ng-model="myName" ng-required="true">
            </div>
          </label>

          <div class="row collapse">
            <label for="secret" class="left"><span translate>Wallet Invitation</span>
              <small translate ng-show="joinForm.secret.$pristine">Required</small>
            </label>
            <span class="has-error right size-12" ng-show="joinForm.secret.$invalid
              && !joinForm.secret.$pristine">
              <span class="icon-input"><i class="fi-x"></i></span>
              <span translate>Wallet Invitation is not valid!</span>
            </span>
            <small class="icon-input right" ng-show="joinForm.secret.$valid
              && !joinForm.secret.$pristine"><i class="fi-check"></i></small>
          </div>

          <div class="input">
            <input id="secret" type="text" placeholder="{{'Paste invitation here'|translate}}" name="secret" ng-model="secret" wallet-secret required>
            <div ng-hide="showScanner || disableScanner">
              <a class="postfix text-right" ng-click="join.openScanner()"><i class="icon-scan size-18">&nbsp;</i></a>
            </div>
            <div ng-show="showScanner">
              <a class="postfix button warning" ng-click="cancelScanner()"><i class="fi-x">&nbsp;</i></a>
            </div>
          </div>

          <div id="scanner"
            class="row"
            ng-if="showScanner"
            ng-include="'views/includes/scanner.html'">
          </div>

          <a class="button outline light-gray tiny expand" ng-click="join.hideAdv=!join.hideAdv">
            <i class="fi-widget m3r"></i>
            <span translate ng-show="!join.hideAdv">Show Advanced options</span>
            <span translate ng-show="join.hideAdv">Hide Advanced options</span>
            <i ng-show="!join.hideAdv" class="icon-arrow-down4"></i>
            <i ng-show="join.hideAdv" class="icon-arrow-up4"></i>
          </a>
          <div ng-show="join.hideAdv" class="row">
            <div class="large-12 columns">
              <label for="ext-master">{{'Master extended private key'|translate}}
              <small translate>If not given, a secure key will be generated</small>
                <input id="ext-master"
                type="text"
                placeholder="{{'BIP32 master extended private key'|translate}}"
                name="privateKey" ng-model="privateKey">
              </label>
            </div>
          </div>
          <button translate type="submit" class="button expand black m0 round" 
            ng-disabled="joinForm.$invalid || join.loading">Join</button>
      </form>
    </div>
  </div>
</div>

<div class="extra-margin-bottom"></div>
