<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="primary">
      <button class="button no-border" ui-sref="bitpayCard.main">
        <i class="icon ion-chevron-left"></i> Back
      </button>
    </ion-nav-buttons>
    <ion-nav-title>Preferences</ion-nav-title>
  </ion-nav-bar>

  <ion-content ng-controller="preferencesBitpayCardController as bitpay">
    <ul class="list">
      <li class="item assertive" ng-click="bitpay.logout()">
        Log out
      </li>
    </ul>
  </ion-content>
</ion-view>

