<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Transaction History</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button no-border" ui-sref="wallet.preferencesAdvanced">
        <i class="icon ion-chevron-left"></i> Back
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content   ng-controller="preferencesHistory" cache-view="false" ng-init="index.updatingTxHistory ? null : csvHistory()">
    <div class="item item-divider"></div>
    <div class="item" ng-show="csvReady && !index.isCordova" ng-csv="csvContent" csv-header="csvHeader" filename="Copay-{{index.alias || index.walletName}}.csv">
      <span translate>Export to file</span>
    </div>
    <div class="item" ng-show="!csvReady && !index.isCordova">
      <span translate>Export to file</span>
      <span class="item-note" translate>
        preparing...
      </span>
    </div>
    <div class="item" ng-click="clearTransactionHistory()">
      <span translate>Clear cache</span>
    </div>
  </ion-content>
</ion-view>
