
<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Global preferences'; closeToHome = true; noColor = true">
</div>


<div class="content preferences" ng-controller="preferencesGlobalController as prefGlobal" ng-init="prefGlobal.init()">
  <h4></h4>
  <ul class="no-bullet m0 ">
    <li ng-click="$root.go('preferencesLanguage')">
      <div class="right text-gray">
        {{prefGlobal.currentLanguageName|translate}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Language</div>
    </li>
  </ul>
  <h4></h4>
  <ul class="no-bullet m0 ">
    <li ng-click="$root.go('preferencesUnit')">
      <div class="right text-gray">
        {{prefGlobal.unitName}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Unit</div>
    </li>
    <li ng-click="$root.go('preferencesAltCurrency')">
      <div class="right text-gray">
        {{prefGlobal.selectedAlternative.name}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Alternative Currency</div>
    </li>
  </ul>
  <h4></h4>
  <ul class="no-bullet m0 ">
    <li ng-click="$root.go('preferencesFee')">
      <div class="right text-gray">
        {{prefGlobal.feeOpts[prefGlobal.currentFeeLevel]|translate}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Bitcoin Network Fee Policy</div>
    </li>
    <li>
      <switch id="spend-unconfirmed" name="spendUnconfirmed" ng-model="spendUnconfirmed" class="green right"></switch>
      <div translate>Use Unconfirmed Funds</div>
    </li>
  </ul>
  <div ng-show="prefGlobal.usePushNotifications && PNEnabledByUser">
    <h4></h4>
    <ul class="no-bullet m0">
      <li>
        <switch id="push-notifications" name="pushNotifications" ng-model="pushNotifications" class="green right"></switch>
        <div translate>Enable push notifications</div>
      </li>
    </ul>
  </div>
  <h4></h4>
  <ul class="no-bullet m0 ">
    <li>
      <switch id="glidera-enabled" name="glideraEnabled" ng-model="glideraEnabled" class="green right"></switch>
      <div>Enable Glidera Service</div>
    </li>
  </ul>
  <h4></h4>
  <ul class="no-bullet m0">
    <li>
      <switch id="coinbase-enabled" name="coinbaseEnabled" ng-model="coinbaseEnabled" class="green right"></switch>
      <div>Enable Coinbase Service</div>
    </li>
  </ul>
  <h4></h4>
  <ul class="no-bullet m0">
    <li ng-click="$root.go('about')">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>
      <div translate>About Copay</div>
    </li>
  </ul>
  <div ng-show="prefGlobal.usePushNotifications && !PNEnabledByUser && isIOSApp">
    <div class="text-centered text-gray size-12 m10" translate>Push notifications for Copay are currently disabled. Enable them in the Settings app.</div>
    <ul class="no-bullet m0" ng-click="prefGlobal.openSettings()">
      <li ng-style="{'color':index.backgroundColor}" translate>Open Settings app</li>
    </ul>
  </div>
  <h4></h4>
</div>
<div class="extra-margin-bottom"></div>
