<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Alias'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form name="aliasForm" ng-submit="save(aliasForm)" novalidate>
      <div class="card list">
        <label class="item item-input item-stacked-label">
          <span class="input-label" transalate>Alias for {{walletName}}</span>
          <input type="text" id="alias" name="alias" ng-model="alias.value" placeholder="John" required>
        </label>
      </div>
      <button type="submit"
              class="button button-block button-positive"
              ng-disabled="aliasForm.$invalid" translate>
        Save
      </button>
    </form>
    <div class="text-center" translate>Changing wallet alias only affects the local wallet name.</div>
  </ion-content>
</ion-view>
