<div ng-controller="preferencesSkinPreviewController as p">

  <div class="preview-container">
    <div class="preview-image-sm" style="background-image: url({{theme.skins[previewSkinId].header.galleryImage}})"></div>
    <div class="preview-header-text">    
      <div class="size-14">{{theme.skins[previewSkinId].header.name}}</div>
      <div class="size-11">
        <div>{{theme.skins[previewSkinId].header.author}}</div>
        <div>Version {{theme.skins[previewSkinId].header.version}}, {{theme.skins[previewSkinId].header.date}}</div>
      </div>
    </div>
    <div class="preview-description size-12">{{theme.skins[previewSkinId].header.description}}</div>
    <div class="preview-image-lg" style="background-image: url({{theme.skins[previewSkinId].header.previewImage}})"></div>
  </div>

  <div class="bottom-bar preview-button-bar">
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="$root.go('preferencesSkin')">
      <i class="fi-x size-24"></i>
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="p.delete(previewSkinId)" ng-show="p.canDeleteSkin(previewSkinId)">
      <i class="fi-trash size-24"></i>
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-show="!p.canDeleteSkin(previewSkinId)">
      &nbsp; <!-- this div is a hack to take up space and preserve the button/column layout when the delete option is hidden -->
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="p.like(previewSkinId)" ng-show="index.brand.features.theme.socialLike.enabled">
      <i class="fi-like size-24" ng-show="!theme.skins[previewSkinId].header.social.iLikeThis"></i>
      <i class="fi-like size-24 text-black" ng-show="theme.skins[previewSkinId].header.social.iLikeThis"></i>
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="p.save(previewSkinId)">
      <i class="fi-check size-24"></i>
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
