<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Email Notifications'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form name="emailForm" ng-submit="save(emailForm)" novalidate>
      <div class="card list">
        <label class="item item-input item-stacked-label">
          <span class="input-label" transalate>Email for wallet notifications</span>
          <input type="email" id="email" name="email" ng-model="email" required></input>
        </label>
      </div>
      <button type="submit"
              class="button button-block button-positive"
              ng-disabled="emailForm.$invalid" translate>
        Save
      </button>
    </form>
    <div class="text-center" translate>Setting up email notifications could weaken your privacy, if the wallet service provider is compromised. Information available to an attacker would include your wallet addresses and its balance, but no more.
    </div>
  </ion-content>
</ion-view>
