<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Wallet Alias'; goBackToState = 'preferences'">
</div>

<div class="content preferences" ng-controller="preferencesAliasController as prefAlias">


  <h4></h4>
  <form name="settingsAliasForm" ng-submit="prefAlias.save()" class="columns">
    <label><span translate>Alias for <i>{{index.walletName}}</i></span></label>
    <input type="text" id="alias2" type="text" name="alias2" ng-model="prefAlias.alias">
    <input type="submit" class="button expand black round" value="{{'Save'|translate}}"
    ng-style="{'background-color':index.backgroundColor}">
  </form>
    <div class="text-gray size-12 text-center" translate>Changing wallet alias only affects the local wallet name.
  </div>
</div>
<div class="extra-margin-bottom"></div>
