<div ng-controller="preferencesThemePreviewController as p">

  <div class="preview-container">
    <div class="preview-image-sm" style="background-image: url({{themes[previewThemeId].header.galleryImage}})"></div>
    <div class="preview-header-text">    
      <div class="size-14">{{themes[previewThemeId].header.name}}</div>
      <div class="size-10">
        <div>{{themes[previewThemeId].header.author}}</div>
        <div>Version {{themes[previewThemeId].header.version}}, {{themes[previewThemeId].header.date}}</div>
      </div>
    </div>
    <div class="preview-description size-12">{{themes[previewThemeId].header.description}}</div>
    <div class="preview-image-lg" style="background-image: url({{themes[previewThemeId].header.previewImage}})"></div>
  </div>

  <div class="bottom-bar preview-button-bar">
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="$root.go('preferencesTheme')">
      <i class="fi-x size-24"></i>
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="p.delete(previewThemeId)" ng-show="p.canDeleteTheme(previewThemeId)">
      <i class="fi-trash size-24"></i>
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="p.like(previewThemeId)" ng-show="index.brand.features.theme.socialLike.enabled">
      <i class="fi-like size-24" ng-show="!themes[previewThemeId].header.social.iLikeThis"></i>
      <i class="fi-like size-24 text-black" ng-show="themes[previewThemeId].header.social.iLikeThis"></i>
    </div>
    <div class="preview-button columns large-3 medium-3 small-3 text-center" ng-click="p.save(previewThemeId)">
      <i class="fi-check size-24"></i>
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
