<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Delete Wallet'; goBackToState = 'preferencesAdvanced'">
</div>


<div class="content preferences" ng-controller="preferencesDeleteWalletController as preferences">

  <div class="text-center text-gray m20t size-12">
    <div class="text-warning size-18 m10b" translate>Warning!</div>
    <div class="m20b" translate>Permanently delete this wallet. THIS ACTION CANNOT BE REVERSED</div>
  </div>
  <ul class="no-bullet m0">
    <li ng-click="preferences.deleteWallet()">
      <div class="right" ng-style="{'color':index.backgroundColor}">
        {{index.walletName}} <span ng-show="index.alias">({{index.alias}})</span>
      </div>
      <div translate>Delete wallet</div>
    </li>
  </ul>
</div>
