<div ng-controller="preferencesThemeDiscoveryPreviewController as p">

  <div class="preview-container">
    <div class="preview-image-sm" style="background-image: url({{discoveredThemeHeaders[discoveredThemeId].galleryImage}})"></div>
    <div class="preview-header-text">    
      <div class="size-14">{{discoveredThemeHeaders[discoveredThemeId].name}}</div>
      <div class="size-11">
        <div>{{discoveredThemeHeaders[discoveredThemeId].author}}</div>
        <div>Version {{discoveredThemeHeaders[discoveredThemeId].version}}, {{discoveredThemeHeaders[discoveredThemeId].date}}</div>
      </div>
    </div>
    <div class="preview-description size-12">{{discoveredThemeHeaders[discoveredThemeId].description}}</div>
    <div class="preview-image-lg" style="background-image: url({{discoveredThemeHeaders[discoveredThemeId].previewImage}})"></div>
  </div>

  <div class="onGoingProcess" ng-show="p.inProgress">
    <div class="onGoingProcess-content" ng-style="{'background':theme.view.progressBackground, 'color':theme.view.progressTextColor}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <span translate>{{p.progressMessage}}</span>
    </div>
  </div>

  <div class="bottom-bar preview-button-bar">
    <div class="preview-button columns large-6 medium-6 small-6 text-center" ng-click="$root.go('preferencesThemeDiscovery')">
      <i class="fi-x size-24"></i>
    </div>
    <div class="preview-button columns large-6 medium-6 small-6 text-center" ng-click="p.import(discoveredThemeId)">
      <i class="fi-download size-24"></i>
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
