<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Language'; goBackToState = 'preferences'; noColor = true">
</div>



<div class="content preferences" ng-controller="preferencesLanguageController as prefLang">
  <div class="animated infinite flash text-center m20t text-gray" ng-show="prefLang.loading" translate>Applying changes</div>
  <div ng-show="!prefLang.loading"
    ng-repeat="lang in index.availableLanguages" 
    ng-click="prefLang.save(lang.isoCode)" class="line-b p20 size-14">
    <span>{{lang.name|translate}}</span>
    <i class="fi-check size-16 right" ng-show="index.defaultLanguageIsoCode == lang.isoCode"></i>
  </div>
</div>
<div class="extra-margin-bottom"></div>
