
<ion-view>
  <ion-nav-bar class="bar-stable">
  <ion-nav-title>Wallet Information</ion-nav-title>
    <ion-nav-buttons side="primary">
       <button class="button" href ui-sref="preferencesAdvanced">
         <i class="ion-arrow-left-c"></i> Back
       </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" ng-controller="preferencesInformation" cache-view="false" ng-init="init()">
    <div class="list">
      <div class="item item-divider">
        Wallet Information
      </div>
      <div class="item">
        <span translate>BETA: Android Key Derivation Test:</span>
        <span class="item-note">
          {{androidTest}}
        </span>
      </div>
      <div class="item" ng-click="saveBlack()">
        <span translate>Wallet Name (at creation)</span>
        <span class="item-note">
          {{walletName}}
        </span>
      </div>
      <div class="item" ng-click="copyToClipboard(walletId)">
        <span translate>Wallet Id</span>
        <span class="item-note">
          {{walletId}}
        </span>
      </div>
      <div class="item">
        <span translate>Wallet Configuration (m-n)</span>
        <span class="item-note">
          {{M}}-{{N}}
        </span>
      </div>
      <div class="item">
        <span translate>Wallet Network</span>
        <span class="item-note">
          {{network}}
        </span>
      </div>
      <div class="item">
        <span translate>Address Type</span>
        <span class="item-note">
          {{addressType}}
        </span>
      </div>
      <div class="item">
        <span translate>Derivation Strategy</span>
        <span class="item-note">
          {{derivationStrategy}}
        </span>
      </div>
      <div class="item" ng-show="index.externalSource">
        <span translate>Hardware Wallet</span>
        <span class="item-note">
        {{index.externalSource}}
        </span>
      </div>
      <div class="item" ng-show="!index.externalSource && !index.canSign">
        <span translate></span>
        <span class="item-note">
          No private key
        </span>
      </div>
      <div class="item" ng-show="index.account">
        <span translate>Account</span>({{derivationStrategy}})
        <span class="item-note">
          #{{index.account}}
        </span>
      </div>

      <div class="item item-divider">
        Copayers
      </div>

      <div class="item item-icon-right" ng-repeat="copayer in index.copayers">
        <span ng-show="copayer.id == index.copayerId" translate>{{copayer.name}} ({{'Me'|translate}})</span>
        <span ng-style="{'color': 'grey';}" ng-show="copayer.id != index.copayerId" translate>{{copayer.name}}</span>
        <i class="icon ion-ios-checkmark-outline"></i>
      </div>

      <div class="item item-divider">
        Extended Public Keys
      </div>

      <div class="item" ng-repeat="pk in pubKeys" ng-click="copyToClipboard(pk)">
        <span translate>Copayer {{$index}}<</span>
        <i class="icon ion-ios-checkmark-outline"></i>
        <span class="item-note">
          <span>Copayer {{$index}}</span>
          <span>{{pk}}</span>
          <span ng-if="$index == 0">({{basePath}})</span>
        </span>
      </div>

      <div ng-show="addrs">
        <div class="item item-divider">
          Last Wallet Addresses
        </div>

        <div class="item" ng-repeat="a in addrs" class="oh" ng-click="copyToClipboard(a.address)">
        <span>{{a.address}}</span>
        <span>{{a.path}} &middot;  {{a.createdOn *1000  | amDateFormat:'MMMM Do YYYY, h:mm a' }}</span>
        <i class="icon ion-ios-checkmark-outline"></i>
        </div>
        <div translate>
          Only Main (not change) addresses are shown. The addresses on this list were not verified locally at this time.
        </div>
        <ul class="no-bullet m0">
          <li ng-style="{'color':index.backgroundColor}" href ui-sref="walletHome" ng-click="index.retryScan()" translate>
            Scan addresses for funds
          </li>
          <li ng-style="{'color':index.backgroundColor}" ng-show="index.isCordova" ng-click="sendAddrs()" translate>
            Send addresses by email
          </li>
        </ul>
      </div>

      <div ng-show="index.balanceByAddress" ng-if="index.balanceByAddress[0]">
        <div class="item item-divider">
          Balance By Address
        </div>
        <div class="item" ng-repeat="a in index.balanceByAddress" ng-click="copyToClipboard(a.address)">
          <span>{{a.address}}</span>
          <span class="item-note">
            {{(a.amount/1e8).toFixed(8)}} BTC
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
