<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Delete Recovery Phrase</ion-nav-title>
    <ion-nav-buttons side="primary">
     <button class="button" href ui-sref="wallet.preferences">
       <i class="ion-arrow-left-c"></i> Back
     </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" ng-controller="preferencesDeleteWordsController" cache-view="false">
    <div ng-show="!deleted">
      <div ng-show="error">
        {{error|translate}}
      </div>
      <div translate>Warning!</div>
      <div ng-show="!needsBackup" translate>Once you have copied your wallet recovery phrase down, it is recommended to delete it from this device.</div>
      <div ng-show="needsBackup" translate>Need to do backup</div>
      <div ng-show="!needsBackup">
          <button class="button button-block button-stable" ng-click="delete()" translate>Delete Recovery Phrase</button>
      </div>
    </div>
    <div ng-show="deleted" translate>
      Wallet recovery phrase not available. You can still export it from Advanced &gt; Export.
    </div>
  </ion-content>
</ion-view>
