<ion-view >
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Advanced Preferences' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesAdvancedController">
    <div class="list">
      <div class="item item-divider">
      </div>
      <a class="item item-icon-right" ui-sref="tabs.preferences.information">
        <span translate>Wallet Information</span>
        <i class="icon nav-item-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ng-show="network == 'livenet'" ui-sref="tabs.preferences.paperWallet">
        <span translate>Sweep paper wallet</span>
        <i class="icon nav-item-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ui-sref="tabs.preferences.export">
        <span translate>Export Wallet</span>
        <i class="icon nav-item-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ui-sref="tabs.preferences.preferencesBwsUrl">
        <span translate>Wallet Service URL</span>
        <i class="icon nav-item-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ui-sref="tabs.preferences.preferencesHistory">
        <span translate>Transaction History</span>
        <i class="icon nav-item-arrow-right"></i>
      </a>
      <a class="item item-icon-right" ui-sref="tabs.preferences.delete">
        <span translate>Delete Wallet</span>
        <i class="icon nav-item-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
