<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Alternative Currency</ion-nav-title>
    <ion-nav-buttons side="primary">
     <button class="button" href ui-sref="tabs.settings">
         <i class="ion-arrow-left-c"></i> Back
       </button>
     </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesAltCurrencyController" ng-init="init()" cache-view="false">
    <ion-radio ng-repeat="altCurrency in altCurrencyList" ng-value="altCurrency.isoCode" ng-model="currentCurrency"
      ng-click="save(altCurrency)">{{altCurrency.name}}
    </ion-radio>
    <ion-infinite-scroll
      ng-if="!listComplete"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
