<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Delete Wallet'; goBackToState = 'preferencesAdvanced'">
</div>


<div class="content preferences" ng-controller="preferencesDeleteWalletController as preferences">
  <div class="onGoingProcess" ng-show="isDeletingWallet">
    <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Deleting Wallet...</span>
    </div>
  </div>

  <div class="text-center text-gray m20t size-12">
    <div class="text-warning size-18 m10b" translate>Warning!</div>
    <div class="m20b" translate>Permanently delete this wallet. THIS ACTION CANNOT BE REVERSED</div>
  </div>
  <ul class="no-bullet m0">
    <li ng-click="isDeletingWallet || preferences.deleteWallet()">
      <div class="right" ng-style="{'color':index.backgroundColor}" ng-show="!isDeletingWallet">
        {{index.walletName}} <span ng-show="index.alias">({{index.alias}})</span>
      </div>
      <div translate>Delete wallet</div>
    </li>
  </ul>
</div>
