<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
      <i class="icon ion-ios-arrow-thin-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesController" ng-init="init()">
    <div class="list">
      <div class="item item-divider">
        Preferences
      </div>
      <div class="item item-icon-right" href ui-sref="tabs.preferences.preferencesAlias">
        <span translate>Wallet Name</span>
        <span class="item-note">
          {{alias||wallet.walletName}}
        </span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item">
        <span translate>Wallet Type</span>
        <span class="item-note">
          {{wallet.m}}-of-{{wallet.n}}
        </span>
      </div>
      <div class="item" ng-show="wallet.isPrivKeyExternal()">
        <span translate>Hardware wallet</span>
        <span class="item-note">
          {{wallet.externalSource}}
        </span>
      </div>
      <div class="item item-icon-right"  href ui-sref="tabs.preferences.preferencesColor">
        <span ng-style="{'color': wallet.color}">&block;</span>
        <span translate>Wallet Color</span>
        <span class="item-note">
          {{wallet.alias||wallet.walletName}}
        </span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" href ui-sref="tabs.preferences.preferencesEmail">
        <span translate>Email Notifications</span>
        <span class="item-note">
          <span ng-if="!wallet.email" translate>Disabled</span>
          <span ng-if="wallet.email">{{wallet.email}}</span>
        </span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-divider" translate>
        Security
      </div>
      <div class="item item-icon-right" href ui-sref="tabs.preferences.backup" ng-hide="wallet.isPrivKeyExternal()">
        <span translate>Backup</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div ng-show="wallet.canSign()">
        <ion-toggle ng-model="encryptEnabled" toggle-class="toggle-balanced" ng-change="encryptChange()">
          <span class="toggle-label" translate>Request Spending Password</span>
        </ion-toggle>
      </div>
      <div ng-show="wallet.canSign() && touchIdAvailable">
        <ion-toggle  ng-model="touchIdEnabled" toggle-class="toggle-balanced" ng-change="touchIdChange()">
          <span class="toggle-label" translate>Request Fingerprint</span>
        </ion-toggle>
      </div>
      <div class="item item-icon-right" href ui-sref="tabs.preferences.deleteWords" ng-show ="!deleted">
        <span translate>Delete recovery phrase</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-divider" translate>
        Advanced
      </div>
      <div class="item item-icon-right" href ui-sref="tabs.preferences.preferencesAdvanced">
        <span translate>Advanced</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
