<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Unit'; goBackToState = 'preferencesGlobal'; noColor = true">
</div>




<div class="content preferences" ng-controller="preferencesUnitController as prefUnit">
  <h4></h4>
  <ul class="no-bullet m0 ">
  <li ng-repeat="unit in prefUnit.unitOpts" ng-click="prefUnit.save(unit)" class="line-b p20 size-14">
    <span>{{unit.shortName}}</span>
    <i class="fi-check size-16 right" ng-show="prefUnit.unitName == unit.shortName"></i>
  </li>
  </ul>
</div>
<div class="extra-margin-bottom"></div>
