<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Email Notifications</ion-nav-title>
    <ion-nav-buttons side="primary">
     <button class="button" href ui-sref="wallet.preferences">
       <i class="ion-arrow-left-c"></i> Back
     </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" ng-controller="preferencesEmailController" cache-view="false">
    <form name="emailForm" ng-submit="save(emailForm)" novalidate>
      <label class="item item-input item-stacked-label">
        <span class="input-label" transalate>Email for wallet notifications</span>
        <input type="email" id="email" name="email" ng-model="email" required></input>
      </label>
      <input type="submit" class="button button-block button-stable" value="{{'Save'|translate}}" ng-disabled="emailForm.$invalid">
    </form>
    <div translate>Setting up email notifications could weaken your privacy, if the wallet service provider is compromised. Information available to an attacker would include your wallet addresses and its balance, but no more.
    </div>
  </ion-content>
</ion-view>
