<div ng-controller="preferencesSkinPreviewController as p">
  <div class="preview-image" style="background-image: url({{theme.skins[previewSkinId].header.previewImage}}),
    -webkit-linear-gradient(-45deg, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 50%,rgba(40,52,59,1) 100%),
    linear-gradient(135deg, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 50%,rgba(40,52,59,1) 100%)">
  </div>
  <div class="bottom-bar preview-button-bar">
    <a class="preview-button columns large-4 medium-4 small-4 text-center" ng-click="$root.go('preferencesSkin')">
      <i class="fi-x size-24"></i>
    </a>
    <a class="preview-button columns large-4 medium-4 small-4 text-center" ng-click="p.save(previewSkinId)">
      <i class="fi-check size-24"></i>
    </a>
    <a class="preview-button columns large-4 medium-4 small-4 text-center" ng-click="p.delete(previewSkinId)" ng-show="p.canDeleteSkin(previewSkinId)">
      <i class="fi-trash size-24"></i>
    </a>
  </div>
</div>
<div class="extra-margin-bottom"></div>
