<ion-view cache-view="false">
  <ion-nav-bar class="bar-stable">
  <ion-nav-title>Advanced Preferences</ion-nav-title>
    <ion-nav-buttons side="primary">
       <button class="button" href ui-sref="wallet.preferences">
         <i class="ion-arrow-left-c"></i> Back
       </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-divider">
      </div>
      <div class="item item-icon-right" href ui-sref="wallet.information">
        <span translate>Wallet Information</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ng-show="index.network == 'livenet'" href ui-sref="wallet.paperWallet">
        <span translate>Sweep paper wallet</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" href ui-sref="wallet.export">
        <span translate>Export Wallet</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" href ui-sref="wallet.preferencesBwsUrl">
        <span translate>Wallet Service URL</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" href ui-sref="wallet.preferencesHistory">
        <span translate>Transaction History</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" href ui-sref="wallet.delete">
        <span translate>Delete Wallet</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
