<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
      <i class="icon ion-ios-arrow-thin-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesAliasController" >
    <form name="aliasForm" ng-submit="save(aliasForm)" novalidate>
      <label class="item item-input item-stacked-label">
        <span class="input-label" transalate>Alias for {{walletName}}</span>
        <input type="text" id="alias" name="alias" ng-model="alias" placeholder="John" required></input>
      </label>
      <input type="submit" class="button button-block button-stable" value="{{'Save'|translate}}" ng-disabled="aliasForm.$invalid">
    </form>
    <div translate>Changing wallet alias only affects the local wallet name.</div>
  </ion-content>
</ion-view>
