<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
      {{'Back' | translate}}
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesHistory" ng-init="index.updatingTxHistory ? null : csvHistory()">
    <div class="item item-divider"></div>
    <div class="item" ng-show="csvReady && !index.isCordova" ng-csv="csvContent" csv-header="csvHeader" filename="Copay-{{index.alias || index.walletName}}.csv">
      <span translate>Export to file</span>
    </div>
    <div class="item" ng-show="!csvReady && !index.isCordova">
      <span translate>Export to file</span>
      <span class="item-note" translate>
        preparing...
      </span>
    </div>
    <div class="item" ng-click="clearTransactionHistory()">
      <span translate>Clear cache</span>
    </div>
  </ion-content>
</ion-view>
