<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
      <i class="icon ion-ios-arrow-thin-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesAltCurrencyController" ng-init="init()" >
    <ion-radio ng-repeat="altCurrency in altCurrencyList" ng-value="altCurrency.isoCode" ng-model="currentCurrency"
      ng-click="save(altCurrency)">{{altCurrency.name}}
    </ion-radio>
    <ion-infinite-scroll
      ng-if="!listComplete"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
