<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Delete Wallet</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button no-border" ui-sref="wallet.preferencesAdvanced">
        <i class="icon ion-chevron-left"></i> Back
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" ng-controller="preferencesDeleteWalletController" >
    <div translate>Warning!</div>
    <div translate>Permanently delete this wallet. THIS ACTION CANNOT BE REVERSED</div>
    <div class="right" ng-style="{'color':backgroundColor}" ng-show="!isDeletingWallet">
      <span ng-show="alias">{{alias}}</span>{{walletName}}
    </div>
    <button class="button button-block button-stable" ng-click="showDeletePopup()"translate>Delete wallet</button>
  </ion-content>
</ion-view>
