<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="primary">
      <button class="button back-button" ui-sref="bitpayCard.main">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-title>Preferences</ion-nav-title>
  </ion-nav-bar>

  <ion-content ng-controller="preferencesBitpayCardController">
    <ul class="list">
      <li class="item assertive" ng-click="logout()">
        Log out
      </li>
    </ul>
  </ion-content>
</ion-view>
