<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="primary">
      <button class="button button-stable no-border" ui-sref="tabs.settings">
        <i class="icon ion-chevron-left"></i> {{'Back' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-controller="preferencesAbout">
    <div class="item item-divider" translate>
      Release information
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-ios-film-outline"></i>
      <span translate>Version</span>
      <span class="item-note">
        v{{v.version}}
      </span>
    </div>
    <div class="item item-icon-left" ng-click="$root.openExternalLink('https://github.com/bitpay/copay/tree/'+v.commitHash)">
      <i class="icon ion-ios-film-outline"></i>
      <span translate>Commit hash</span>
      <span class="item-note">
        #{{v.commitHash}}
      </span>
    </div>
    <div class="item item-divider">
    </div>
    <div class="item item-icon-left" href ui-sref="tabs.termsOfUse">
      <i class="icon ion-ios-bell-outline"></i>
      <span translate>Terms of Use</span>
    </div>
    <div class="item item-icon-left" href ui-sref="tabs.translators">
      <i class="icon ion-ios-bell-outline"></i>
      <span translate>Translators</span>
    </div>
    <div class="item item-icon-left" href ui-sref="tabs.logs">
      <i class="icon ion-ios-bell-outline"></i>
      <span translate>Session log</span>
    </div>
  </ion-content>
</ion-view>
