<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Transaction history'; goBackToState = 'preferencesAdvanced'">
</div>
<div class="content preferences" ng-controller="preferencesHistory as history">
  <h4></h4>
  <ul class="no-bullet m0">
    <li ng-style="{'color':index.backgroundColor}" ng-show="!index.isCordova" id="export_file" type="file"
      nwsaveas="Copay-{{index.alias || index.walletName}}.csv" accept=".csv"  ng-click="index.csvHistory();" translate>
      Export to file
    </li>
    <li ng-style="{'color':index.backgroundColor}" ng-click="history.clearTransactionHistory();" translate>
      Clear cache
    </li>
  </ul>
</div>
