
<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Pending Proposals'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding" ng-controller="proposalsController" ng-init="init()">

   <div class="list card">
      <a ng-repeat="tx in txps" class="item" ng-click="openTxpModal(tx)">
        <span ng-include="'views/includes/txp.html'"></span>
      </a>

      <div class="item" ng-show="!txps[0]">
        <span translate>No pending proposals</span>
      </div>
    </div>
  </ion-content>
</ion-view>
