<div class="receive" ng-controller="receiveController as receive" ng-init="receive.getAddress()">
  <div class="row" ng-show="receive.generatingAddress">
    <div class="large-12 columns">
      <div class="oh text-center">
        <span class="text-gray" translate>Generating a new address...</span>
      </div>
    </div>
  </div>
  <div class="row" ng-show="receive.addr">
    <!-- Address-->
    <div class="large-12 columns">
        <h2 class="text-center m10t" translate>My Bitcoin address:</h2>
        <div class="text-center" ng-click="receive.copyAddress(receive.addr)">
          <qrcode size="220" data="bitcoin:{{receive.addr}}"></qrcode>
          <div class="m10t">
            <h4 ng-class="{'enable_text_select': !index.isCordova}" class="size-12">{{receive.addr}}</h4>
          </div>
        </div>
        <div class="m10t text-center" ng-show="index.isCordova">
          <span class="button outline dark-gray tiny" 
            ng-click="receive.shareAddress(receive.addr)">
            <i class="fi-share"></i> 
            <span translate>Share address</span>
          </span>
        </div>
        <div class="line-t size-12" translate>
          Share this with anyone to have them send you payments. To protect your privacy, new addresses are generated automatically once you use them.
        </div>
    </div>
  </div>
  <div class="row" ng-show="receive.addr && !index.isOffLine">
    <div class="large-12 columns" ng-if="receive.addresses[0]">
      <div ng-repeat="addr in receive.addresses" ng-click="receive.openAddressModal(addr)" class="pointer">
        <div class="panel">
          <div class="row">
            <div class="large-3 medium-4 small-5 columns">
              <div class="size-12 ellipsis">{{::addr.address}}</div>
            </div>
            <div class="large-1 medium-1 small-2 columns">
              <span translate class="text-secondary size-10" ng-show="::addr.isChange">change</span>
            </div>
            <div class="large-8 medium-7 small-5 columns text-right">
              <span class="size-12" ng-show="!$root.updatingBalance">
                <b>{{addr.balance || '0'}} {{index.unitName}}</b>
              </span>
            </div>
          </div>
          <!-- end of panel mobile -->
        </div>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 medium-6 small-6 columns text-left">
          <a class="button secondary tiny" ng-click="receive.toggleShowAll()">
            <span ng-show="!receive.showAll" translate>Show all my addresses</span>
            <span ng-show="receive.showAll" translate>Hide them</span>
          </a>
        </div>
        <div class="large-6 medium-6 small-6 columns text-right">
          <a class="button secondary tiny" ng-click="receive.newAddress()" translate>
            Generate new address
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="extra-margin-bottom"></div>
