<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Security'; goBackToState = 'preferences'">
</div>


<div class="content preferences" ng-controller="securityPreferencesController as security" >

<h4></h4>

<ul class="no-bullet m0" ng-show="!index.noFocusedWallet">

  <li ng-click="$root.go('deleteWords')" ng-show ="!security.deleted">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>  
      <div translate>Delete seed words</div>
    </li>

 </ul>
