<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Sell'; goBackToState = 'coinbase'; noColor = true">
</div>


<div class="content coinbase" ng-controller="sellCoinbaseController as sell">

  <div class="onGoingProcess" ng-show="sell.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color': '#2b71b1'}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span>{{sell.loading}}</span>
    </div>
  </div>


  <div class="row m20t" ng-show="!sell.sellInfo">
    <div class="columns">
      <div class="box-notification m20b" ng-show="sell.error">
        <ul class="no-bullet m0 size-12 text-warning">
          <li ng-repeat="err in sell.error.errors" ng-bind-html="err.message"></li>
        </ul>
      </div>
      <form
          name="sellCoinbasePriceForm" 
          ng-submit="sell.sellRequest(index.coinbaseToken, index.coinbaseAccount)" novalidate>
        <label>Amount in BTC</label>
          <div class="input">
            <input type="number" id="amount" 
            name="amount" ng-attr-placeholder="{{'Amount'}}"
            ng-minlength="0.00000001" ng-maxlength="10000000000" 
            ng-model="amount" autocomplete="off">
            
            <a class="postfix">BTC</a>

            <input class="button black expand round" 
            ng-style="{'background-color': '#2b71b1'}"
            type="submit" value="{{'Continue'}}">
          </div>
      </form>
    </div>
  </div>

  <div ng-show="sell.sellInfo && !sell.success">
    <h4 class="title">Confirm transaction</h4>

    <ul class="no-bullet m10t size-12 white">
      <li class="line-b line-t p15">
        <span class="m10 text-normal text-bold">Amount</span>
        <span class="right text-gray">{{sell.sellInfo.amount.amount}} {{sell.sellInfo.amount.currency}}</span>
      </li>
      <li class="line-b oh p15">
        <span class="m10 text-normal text-bold">Fees</span>
        <span class="right text-gray">
          <div ng-repeat="fee in sell.sellInfo.fees">
            <b>{{fee.type}}</b> {{fee.amount.amount}} {{fee.amount.currency}}
          </div>
        </span>
      </li>
      <li class="line-b p15">
        <span class="m10 text-normal text-bold">Subtotal</span>
        <span class="right text-gray">{{sell.sellInfo.subtotal.amount}} {{sell.sellInfo.subtotal.currency}}</span>
      </li>
      <li class="line-b p15">
        <span class="m10 text-normal text-bold">Total</span>
        <span class="right text-gray">{{sell.sellInfo.total.amount}} {{sell.sellInfo.total.currency}}</span>
      </li> 
      <li class="line-b p15">
        <span class="m10 text-normal text-bold">Payout at</span>
        <span class="right text-gray">{{sell.sellInfo.payout_at | amCalendar}}</span>
      </li> 
    </ul>
    <div class="row">
      <div class="columns">
        <button class="button black round expand" 
                ng-style="{'background-color': '#2b71b1'}"
                ng-click="sell.confirmSell(index.coinbaseToken, index.coinbaseAccount, sell.sellInfo)">
          Sell
        </button>
      </div>
    </div>
  </div>
  <div class="m20t row text-center" ng-show="sell.success">
    <div class="columns">
      <h1>Sale initiated</h1>
      <p class="text-gray">
      A transfer has been initiated to your bank account and should arrive at {{sell.success.payout_at | amCalendar}}.
      </p>

      <button class="outline dark-gray round expand"
              ng-click="$root.go('coinbase')">OK</button>
    </div>
  </div>
     
</div>
<div class="extra-margin-bottom"></div>
