<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Send'; goBackToState = 'coinbase'; noColor = true">
</div>


<div class="content coinbase" ng-controller="sendCoinbaseController as send">

  <div class="onGoingProcess" ng-show="send.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color': '#2b71b1'}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span>{{send.loading}}</span>
    </div>
  </div>

  <div class="row m20t" ng-show="send.error" ng-click="send.error = null">
    <div class="columns">
      <div class="box-notification">
        <ul class="no-bullet m0 size-12 text-warning">
          <li ng-repeat="err in send.error.errors" ng-bind-html="err.message"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row m20t" ng-show="!send.success && index.coinbaseAccount">
    <div class="columns">
      <form name="sendForm" 
        ng-submit="send.createTx(index.coinbaseToken, index.coinbaseAccount)" novalidate>

        <div ng-if="index.coinbaseToken" 
          ng-init="send.init(index.coinbaseTestnet)"
          ng-click="openWalletsModal(send.otherWallets)">
          <label>Copay Wallet</label>
          {{send.selectedWalletName}} -- 
          <div class="input">
            <input type="text" id="address" name="address" ng-disabled="send.selectedWalletId" 
            ng-attr-placeholder="{{'Choose your source wallet'}}" 
            ng-model="send.selectedWalletName" required>
            <a class="postfix size-12 m0 text-gray">
              <i class="icon-wallet size-18"></i>
            </a>
          </div>
        </div>

        <label>Amount</label>
        <div class="input">
          <input 
             type="number" 
             id="amount" 
             name="amount" 
             ng-attr-placeholder="{{'Amount'}}"
             ng-minlength="0.00000001" 
             ng-maxlength="10000000000" 
             ng-model="amount" 
             autocomplete="off"
             ng-disabled="send.loading">

          <a class="postfix button" style="background-color: #2b71b1">BTC</a>
        </div>

        <div class="text-center">
          <i class="db fi-arrow-down size-24 m10v"></i>
        </div>

        <label>Coinbase Account</label>
        <div class="disabled-input">
          {{index.coinbaseAccount.name}}
        </div>
          
        <div class="input m20t">
          <input class="button black expand round" 
          ng-disabled="send.loading || !amount"
          ng-style="{'background-color': '#2b71b1'}"
          type="submit" value="{{'Continue'}}">
        </div>
      </form> 
    </div>
  </div>

  <div class="m20t row text-center" ng-show="send.success">
    <div class="columns">
      <h1>Sent</h1>
      <p class="text-gray">
        A transfer has been initiated to your Coinbase account.
      </p>

      <button class="outline dark-gray round expand"
              ng-click="$root.go('coinbase')">OK</button>
    </div>
  </div>

</div>
<div class="extra-margin-bottom"></div>
