<div class="signin" ng-controller="signinController as signin" ng-init="signin.init()">


  <div ng-if="askForPin || ($root.hasPin && !$root.iden)">
    <div ng-include="'views/includes/pin-number.html'"></div>
  </div>

  <div ng-show="$root.starting">
    <div ng-include="'views/includes/loading.html'" ng-init="title = 'Accessing your profile'"></div>
  </div>

  <div class="row" ng-show="signin.showDisclaimer">
    <div class="large-8 medium-10 small-12 large-centered medium-centered columns">
      <h1 class="text-white text-center" translate>Disclaimer</h1>
      <p class="text-white" translate>
      The software you are about to use is free, open source, and unsupported beta software. It is important to understand
      that beta software refers to software that is undergoing testing and has not officially been released, could have
      bugs, and may not act in a reliable fashion. Because the software is currently in beta, it is possible but not certain
      that you may lose bitcoin or the value of your bitcoin. It is recommended that you store only nominal amounts of
      bitcoins. You acknowledge that your use of this software is at your own discretion and in compliance with all
      applicable laws. You are responsible for safekeeping your login IDs, passwords, private key pairs, PINs and any other
      codes you use to access the software. IF YOU HAVE NOT SEPARATELY STORED A BACKUP OF ANY WALLET ADDRESSES AND PRIVATE
      KEY PAIRS MAINTAINED IN YOUR ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT ANY BITCOINS YOU HAVE ASSOCIATED WITH SUCH WALLET
      ADDRESSES WILL BECOME INACCESSIBLE IF YOU DO NOT HAVE YOUR ACCOUNT PASSWORD AND/OR PIN.  All transaction requests are
      irreversible.  The authors of the software, employees and affiliates of Bitpay, copyright holders, and BitPay, Inc.
      cannot retrieve your private keys or passwords if you lose or forget them and cannot guarantee transaction
      confirmation as they do not have control over the Bitcoin network. You agree to provide accurate and complete
      information in connection with your use of the account. You assume any and all risk associated with the use of the
      software. To the fullest extent permitted by law, this software is provided “as is” and no representations or
      warranties can be made of any kind, express or implied, including but not limited to the warranties of
      merchantability, fitness or a particular purpose and noninfringement. In no event shall the authors of the software,
      employees and affiliates of Bitpay, copyright holders, or BitPay, Inc. be held liable for any claim, damages or other
      liability, whether in an action of contract, tort, or otherwise, arising from, out of or in connection with the
      software or the use or other dealings in the software. We reserve the right to modify this disclaimer from time to
      time.
      </p>
      <button class="success expand" ng-click="signin.agreeDisclaimer()">
        {{'I read and agree with these terms'|translate}}
      </button>
    </div>
  </div>

  <div class="row">
  <div class="large-5 large-centered medium-7 medium-centered columns" ng-show="!$root.starting && !signin.showDisclaimer">

    <div class="logo-setup" ng-show="!$root.iden && !signin.hideForWP && !$root.hasPin">
      <img src="img/logo-negative-beta.svg" alt="Copay" width="100">
      <div ng-include="'views/includes/version.html'"></div>
    </div>

    <div ng-if='askForPin || ($root.hasPin && !$root.iden)'>
      <h2 ng-show="$root.hasPin && !$root.iden" translate>Enter PIN</h2>
      <h2 ng-show="signin.askForPin && signin.askForPin !=2" translate>Set up a PIN</h2>
      <h2 ng-show="signin.askForPin == 2" translate>Repeat PIN</h2>
      <div class="box-notification" ng-show="signin.error">
        <div class="box-icon error">
          <i class="fi-x size-24"></i>
        </div>
        <span class="text-warning size-14">
          {{signin.error|translate}}
        </span>
      </div>
      <div ng-include="'views/includes/pin.html'"></div>
    </div>

    <div ng-if='!$root.hasPin && !signin.askForPin && !$root.iden'>
      <h2 translate>Signin</h2>
      <div class="p10 bg-success m20b text-white" ng-show="signin.pendingPayment">
        <div class="left">
          <i class="size-36 m10r"></i>
        </div>
        <div class="size-14" translate>
          Please sign in to make the payment
        </div>
      </div>
      <form name="loginForm" ng-submit="signin.openWithCredentials(loginForm)" novalidate>
        <div class="box-notification" ng-show="error">
          <div class="box-icon error">
            <i class="fi-x size-24"></i>
          </div>
          <span class="text-warning size-14">
            {{error|translate}}
          </span>
        </div>

        <div class="input">
          <input type="text" ng-model="email" class="form-control" name="email" placeholder="{{'Username'|translate}}" 
          required show-focus="!isMobile"  ng-focus="formFocus()">
          <i class="icon-person"></i>
        </div>
        <div class="input">
          <input type="password" ng-model="password" class="form-control" name="password"
          placeholder="{{'Password'|translate}}" required ng-focus="formFocus()">
          <i class="icon-locked"></i>
        </div>



        <button type="submit" class="button primary radius expand m0" 
          ng-disabled="loginForm.$invalid">
          {{'Sign in'|translate}}
        </button>
      </form>

      <div class="box-setup-footer">

        <div class="right">
          <a class="button outline dark-gray tiny"  ng-click="$root.go('settings')">
            <i class="icon-wrench show-for-large-up size-14"></i> 
            <span translate>Settings</span>
          </a>
        </div>

        <div class="left m10r">
          <a class="button outline dark-gray tiny"  ng-click="$root.go('createProfile')">
            <i class="icon-person show-for-large-up size-14"></i> 
            <span translate>Create profile</span>
          </a>
        </div>
        <div class="left">
          <a class="button outline dark-gray tiny"  ng-click="$root.go('importProfile')">
            <i class="icon-upload show-for-large-up size-14"></i> 
            <span translate>Import</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


