
<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Home</ion-nav-title>
  </ion-nav-bar>

  <ion-content class="padding" ng-controller="tabHomeController" ng-init="updateAllWallets(); nextStep()">

    <div class="card">
      <div class="item item-divider">
        Recent Activity
      </div>
      <div ng-if="fetchingNotifications" class="item text-center">
        <ion-spinner icon="lines"></ion-spinner>
        <div translate>Updating activity. Please stand by</div>
      </div>
      <div ng-if="!fetchingNotifications">
        <a class="item item-icon-left" ng-repeat="x in notifications" ng-click="x.action()">
          <span ng-include="'views/includes/walletActivity.html'"></span>
        </a>

        <a class="item text-center" ui-sref="activity" ng-show="notificationsMore">

          <span translate>More</span> ({{notificationsMore}})
<span style="font-size:12px;color:gray">(ToDo: Cache, refresh & seft not. 1-1 no here yet)</span>
        </a>

        <div class="item" ng-show="!notifications[0]">
          <span translate>Nothing to show here.</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider item-icon-right">
        Wallets
        <i class="icon ion-ios-plus-empty" ui-sref="add.main"></i>
      </div>
      <div class="item" ng-if="!wallets[0]">
        <span translate>No Wallet</span>
      </div>
      <a ng-repeat="item in wallets track by $index"
         class="item item-icon-left"
         ui-sref="wallet.details({'walletId': item.id})">
        <i class="icon ion-briefcase size-21" ng-style="{'color':item.color}"></i>
        {{item.name || item.id}}
        <span  ng-show="item.n > 1" class="text-light">
          {{item.m}}-of-{{item.n}}
        </span>
        <span class="badge badge-assertive" ng-show="!item.isComplete()" translate>
          Incomplete
        </span>
        <span class="item-note"  ng-show="item.isComplete() && !item.balanceHidden">
          {{item.status.availableBalanceStr}}
        </span>
        <span class="item-note"  ng-show="item.isComplete() && item.balanceHidden">
          <strong class="size-12" translate>[Balance Hidden]</strong>
        </span>
      </a>
      <a ui-sref="bitpayCard.main" ng-show="externalServices.BitpayCard" class="item item-icon-left">
        <i class="icon ion-card"></i>BitPay Card
      </a>
      <a ui-sref="amazon.main" ng-show="externalServices.AmazonGiftCards" class="item item-icon-left">
        <i class="icon ion-ios-cart"></i>Gift Cards
      </a>
    </div>

    <div class="card" ng-show="externalServices.BuyAndSell && (glideraEnabled || coinbaseEnabled)">
      <div class="item item-divider">
        Buy & Sell Bitcoin
      </div>
      <a ng-show="glideraEnabled" ui-sref="glidera.main" class="item">
        <img src="img/glidera-logo.png" width="90">
      </a>
      <a ng-show="coinbaseEnabled" ui-sref="exchange.coinbase" class="item">
        <img src="img/coinbase-logo.png" width="90"> TODO
      </a>
    </div>

    <div class="card" ng-show="!externalServices.AmazonGiftCards || !externalServices.BitpayCard || !externalServices.BuyAndSell">
      <div class="item item-divider">
        Next steps
      </div>
      <a ui-sref="bitpayCard.main" ng-show="!externalServices.BitpayCard" class="item item-icon-left">
        <i class="icon ion-card"></i>Add BitPay Card
      </a>
      <a ng-show="!externalServices.BuyAndSell" ui-sref="buyandsell" class="item item-icon-left">
        <i class="icon ion-bag"></i>Buy and Sell Bitcoin
      </a>
      <a ui-sref="amazon.main" ng-show="!externalServices.AmazonGiftCards" class="item item-icon-left">
        <i class="icon ion-ios-cart"></i>Buy a Gift Cards
      </a>
    </div>

  </ion-content>
</ion-view>
