<ion-view>

  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Send</ion-nav-title>
  </ion-nav-bar>

  <ion-content class="send" ng-controller="tabSendController" ng-init="init()">

    <div class="padding">
      <h2>Recipient</h2>

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Recipient" ng-model="search" ng-model-onblur ng-change="findContact(search)">
      </label>
    </div>

    <div class="row">
      <div class="col col-80">
        <h3>Contacts & Wallets</h3>
      </div>
      <div class="col col-20 text-right">
        <a class="button button-light" ng-click="openAddressbookModal()">
          <i class="size-36 icon ion-person-add"></i>
        </a>
      </div>
    </div>

    <div class="list card padding text-center" ng-if="!list[0]">
      <span translate>No Wallet - Contact</span>
    </div>

    <div class="list card" ng-if="list[0]">
      <a class="item item-icon-left" ng-repeat="item in list" ng-click="goToAmount(item)">
        <i ng-show="item.isWallet" class="icon ion-briefcase size-21" ng-style="{'color':item.color}"></i>
        <i ng-show="!item.isWallet" class="icon ion-ios-person-outline"></i>
        {{item.label}}
      </a>
    </div>
  </ion-content>
</ion-view>
