<ion-view id="tab-send">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Send' | translate}}</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div>
      <div class="item item-heading" translate>Recipient</div>
      <label class="item item-input bitcoin-address">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text"
               placeholder="Search or enter bitcoin address"
               ng-model="search"
               ng-change="findContact(search)"
               ng-model-onblur>
      </label>
    </div>

    <div class="card" ng-if="list[0]">
      <div class="item item-heading">
        <span translate>Contacts &amp; Wallets</span>
      </div>
      <div class="item text-center" ng-show="!list[0]" translate>No Wallet - Contact</div>
      <a class="item item-icon-left" ng-repeat="item in list" ng-click="goToAmount(item)">
        <i ng-show="item.isWallet" class="icon ion-briefcase size-21" ng-style="{'color':item.color}"></i>
        <gravatar class="send-gravatar" ng-show="!item.isWallet" name="{{item.name}}" width="30" email="{{item.email}}"></gravatar>
        {{item.name}}
      </a>
    </div>
  </ion-content>
</ion-view>
