
<ion-view view-title="Home">
  <ion-content class="padding home" ng-controller="tabHomeController">
    <a href="#/add"><i class="ion-ios-plus-outline right"></i></a>
    <h2>Wallets </h2>
    <div class="list card">
      <ul class="pr">

        <li ng-show="wallets[0]"
          ng-repeat="item in wallets track by $index" class="item item-icon-left"
          menu-toggle href ui-sref="walletDetails({'walletId': item.id})">
            <i class="icon ion-briefcase size-21" ng-style="{'color':item.color}"></i>
            {{item.name || item.id}}
            <span  ng-show="item.n > 1" class="text-gray">
              {{item.m}}-of-{{item.n}}
            </span>

            <span class="badge badge-assertive" ng-show="!item.isComplete()" translate>
              Incomplete
            </span>
            <span class="item-note"  ng-show="item.isComplete()">
              {{item.availableBalanceStr}}
            </span>
        </li>
      </ul>
    </div>


    <h2>Next steps </h2>
    <div class="list card">
      <ul class="pr">
      <li menu-toggle href ui-sref="bitpayCard" ng-show="bitpayCardEnabled" class="item item-icon-left">
        <i class="icon ion-card"></i>
          BitPay Card
      </li>
      <li ng-show="!index.isWindowsPhoneApp && (index.glideraEnabled || index.coinbaseEnabled)" menu-toggle href ui-sref="buyandsell"  class="item item-icon-left">
        <i class="icon ion-cash"></i>
            Buy and Sell
      </li>
      <li menu-toggle href ui-sref="amazon" class="item item-icon-left">
        <i class="icon ion-ios-cart"></i>
        Gift Cards
        <span class="item-note">
bla bla
        </span>
      </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
