<ion-view id="tab-receive">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Receive' | translate}}</ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="checkTips(true)">
        <i class="ion-help-circled"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <article id="address">
      <div class="row">
        <div class="m15t text-center col center-block" copy-to-clipboard="addr">
          <qrcode ng-if="addr" size="220" data="bitcoin:{{addr}}"></qrcode>
          <div ng-if="!addr" style="height:220px; width:220px; margin:auto; background: white; padding-top: 20%;">
            ...
          </div>
          <div ng-if="wallet.needsBackup" class="assertive m10t" translate>
            Before receiving funds, you must backup your wallet. If this device is lost, it is impossible to access your funds without a backup.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" ng-show="isCordova && addr">
          <div class="item item-icon-left" ng-click="shareAddress(addr)">
            <i class="icon ion-ios-upload-outline"></i>
            <span translate>Share</span>
          </div>
        </div>
        <div class="col" ng-class="{'center-block col-50': !isCordova || !addr}">
          <div class="item item-icon-left" ng-click="setAddress(true)">
            <i class="icon ion-ios-loop"></i>
            <span translate>Next Address</span>
          </div>
        </div>
      </div>
      <div class="row border-top">
        <div class="col col-90 center-block bit-address text-center">
          <div class="item item-icon-left">
            <i class="icon ion-social-bitcoin-outline"></i>
            <span ng-if="generatingAddress">...</span>
            <span class="bit-address-gen-address" ng-if="!generatingAddress" copy-to-clipboard="addr">{{addr}}</span>
          </div>
        </div>
      </div>
    </article>
    <article id="wallets">
      <div class="list card padding text-center" ng-if="!wallets[0]">
        <span translate>No Wallet</span>
      </div>
      <div class="list" ng-if="wallets[0]">
        <wallets wallets="wallets"></wallets>
      </div>
    </article>
  </ion-content>
  <div id="first-time-tip" ng-if="firstTime">
    <i class="ion-close close"></i>
    <div class="row">
      <h3 class="col col-60 center-block">Receive bitcoin by sharing your address</h3>
    </div>
    <div class="row">
      <p class="col col-60 center-block">
        Other bitcoin users can scan this code to send you money
      </p>
    </div>
  </div>
</ion-view>
