<div class="m20t text-gray" ng-show="formData.supported">
  <div class="text-center m20b">
    <qrcode size="220" version="8" error-correction-level="M" data="{{formData.exportWalletInfo}}"></qrcode>
  </div>
  <div class="text-center size-12 m10" translate>From the destination device, go to Add wallet &gt; Import wallet and scan this QR code</div>
</div>

<div class="m20t text-gray" ng-show="!formData.supported">
  <div class="text-center size-12 m10" translate>Exporting via QR not supported for this wallet</div>
</div>
