<ion-nav-bar class="bar-royal" ng-controller="backController">
  <ion-nav-buttons side="primary">
    <button class="button no-border" ng-click="importGoBack()">
      <i class="icon ion-chevron-left"></i> Back
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Import wallet</ion-nav-title>
</ion-nav-bar>

<ion-content ng-controller="importController" ng-init="type='file'">

  <div class="padding assertive" ng-show="error">
    {{error|translate}}
  </div>

  <form name="importForm" ng-submit="importBlob(importForm)" novalidate>

    <div class="list">

      <label class="item item-input item-stacked-label no-border" ng-show="!isSafari && !isCordova">
        <div class="input-label" translate>Choose a backup file from your computer</div>
        <div>
          <input type="file"
          placeholder="{{'Select a backup file'|translate}}"
          name="backupFile"
          ng-model="backupFile" ng-file-select>
        </div>
      </label>

      <label class="item item-input item-stacked-label" ng-show="isSafari || isCordova">
        <span class="input-label" translate>Paste the backup plain text code</span>
        <textarea name="backupText" ng-model="backupText" rows="5"></textarea>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label" translate>Password</span>
        <input type="password"
               placeholder="{{'Your password'|translate}}"
               name="password"
               ng-model="password">
      </label>

      <ion-toggle ng-model="showAdv" toggle-class="toggle-stable">
        <span translate ng-show="!showAdv">Show advanced options</span>
        <span translate ng-show="showAdv">Hide advanced options</span>
      </ion-toggle>

      <div ng-show="showAdv">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Wallet Service URL</span>
          <input type="text" id="bwsurl" name="bwsurl" ng-model="bwsurl">
        </label>

      </div>
    </div>

    <button type="submit"
            class="button round expand black"
            ng-disabled="importForm.$invalid || !password " translate>
      Import backup
    </button>
  </form>

</ion-content>
