<ion-view ng-controller="termOfUseController" cache-view="false">
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Terms of Use</ion-nav-title>
    <ion-nav-buttons side="primary">
     <button class="button" href ui-sref="about">
       <i class="ion-arrow-left-c"></i> Back
     </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
		<p>
			<div ng-include="'views/includes/terms.html'"></div>
		</p>
		<div class="row">
			<p ng-show="lang != 'en'">
				<a ng-click="$root.openExternalLink('https://copay.io/disclaimer')" translate>Official English Disclaimer</a>
			</p>
		</div>
  </ion-content>
</ion-view>
