	<div
	  class="topbar-container"
	  ng-include="'views/includes/topbar.html'"
	  ng-init="titleSection='Terms of use'; goBackToState = 'about'; noColor = true">
	</div>
	<div ng-controller="termOfUseController" class="content">
		<p class="enable_text_select m0">
			<div class="terms" ng-include="'views/includes/terms.html'"></div>
		</p>
		<div class="row text-center">
			<p ng-show="lang != 'en'">
				<a class="center" ng-click="$root.openExternalLink('https://copay.io/disclaimer')" translate>Official English Disclaimer</a>
			</p>
		</div>
	</div>
	<div class="extra-margin-bottom"></div>
