<ion-view>
  <ion-nav-bar>
    <ion-nav-title>{{'Translators' | translate}}</ion-nav-title>
    <ion-nav-back-button>
      {{'Back' | translate}}
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
      <h4 translate>Translation Credits</h4>
      <ul>
        <li >kinoshitajona<span translate>Japanese</span></li>
        <li >Kirvx<span translate>French</span></li>
        <li >saschad<span translate>German</span></li>
        <li >cmgustavo83<span translate>Spanish</span></li>
        <li >RussianNeuroMancer<span translate>Russian</span></li>
        <li >HostFat<span translate>Italian</span></li>
        <li >xm2hi<span translate>Chinese</span></li>
        <li >Pirx1618<span translate>Polish</span></li>
        <li >mareksip<span translate>Czech</span></li>
      </ul>
      <div class="row">
        <div class="columns">
          <p>
            <span translate>All contributions to Copay's translation are welcome. Sign up at crowdin.com and join the Copay project at</span>
            <a ng-click="$root.openExternalLink('https://crowdin.com/project/copay', '_system')">https://crowdin.com/project/copay</a>.
          </p>
          <spantranslate>
            Don't see your language on Crowdin? Contact the Owner on Crowdin! We'd love to support your language.
          </span>
        </div>
      </div>
  </ion-content>
</ion-view>
