<div class="home-wallet" ng-controller="walletHomeController as home" ng-init="home.init()">
  <div class="row" ng-show="!index.noFocusedWallet">
        <div class="amount" style="background-color:{{index.backgroundColor}}">
          <div class="size-36">
            <strong>
              <span ng-show="!index.hideBalance">
                <span ng-class="{'animated pulse':!index.hideBalance}">{{index.totalBalanceStr || '...'}}</span> 
              </span>
              <span ng-show="index.hideBalance">...</span>
            </strong>
          </div>
          <div class="size-14" ng-show="!index.hideBalance">
            <span ng-if="index.alternativeBalanceAvailable" ng-class="{'animated fadeIn':!index.hideBalance}">{{index.totalBalanceAlternative}} {{index.alternativeIsoCode}}</span>
            <span ng-if="!index.alternativeBalanceAvailable">N/A</span>
          </div>
          <div class="size-14" ng-show="index.hideBalance">
            &nbsp;
          </div>
        </div>
        <div class="pr columns line-b">
          <div class="avatar-wallet left"  style="background-color:{{index.backgroundColor}}">{{index.walletName | limitTo: 1}}</div>      
          <div class="right">
            <a ng-click="$root.go('preferences')" class="button outline light-gray tiny m0">
              <i class="fi-widget size-18 vm"></i>
              <span class="show-for-medium-up" translate>Preferences</span>
            </a>
          </div>
          <div class="wallet-info" ng-click="openCopayersModal(index.copayers, index.copayerId)">
              <p class="m0">
              {{index.m}} <span translate>of</span>  {{index.n}}  
              </p>
            <div class="size-12 text-gray">
              <span ng-if="index.n > 1" translate>Multisignature wallet </span>
              <span ng-if="index.n == 1" translate>Personal Wallet</span> 
              <span ng-if="index.network != 'livenet'" translate> - Testnet</span>
            </div>
          </div> 
        </div>
  </div>


  <div ng-show="index.notAuthorized"> 
  <div class="text-center text-warning"> 
      <i class="fi-alert"></i>
<span translate>
      WARNING: Wallet not registered
</span>
  </div>
  <div class="text-center text-gray m15r m15l" translate>
This wallet is not registered at the given Bitcore Wallet Service (BWS). 
You can recreate it from the local information.
  </div>
  <div class="text-center m10t ">
    <span class="button outline dark-gray tiny" 
      ng-click="index.recreate()"
      <span translate>Recreate</span>
    </span>
 </div>
  </div>


  <div ng-show="index.requiresMultipleSignatures  && index.txps[0]">
    <h4 class="title m0" translate>Spend proposals</h4>
    <div class="last-transactions pr" ng-repeat="tx in index.txps  | orderBy:'-createdTs'" 
      ng-include="'views/includes/transaction.html'">
    </div>

    <div class="text-gray text-center size-12 p10t" 
      ng-show="index.lockedBalance && !index.updatingStatus">
      <span translate>Total Locked Balance</span>:
      <b>{{index.lockedBalance}} {{index.unitName}} </b> 
      <span> {{index.lockedBalanceAlternative}} 
        {{index.alternativeIsoCode}} </span>
    </div>

    <div class="pr" ng-if="!index.txps[0]">
      <p translate>No pending spend proposals at the moment.</p>
    </div>
  </div>

  <div ng-if="!index.requiresMultipleSignatures && index.txps[0]">
    <div class="row">
      <div class="large-12 columns">
        <div class="panel oh">
          <h2 class="line-b" translate>Unsent transactions</h2>
          <div class="last-transactions pr" ng-repeat="tx in index.txps"
            ng-include="'views/includes/transaction.html'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row columns m20tp" ng-show="index.noFocusedWallet">
    <div class="text-center text-warning m20b">
      <i class="fi-alert"></i> <span translate>You do not have any wallet</span>
    </div>
    <button class="button black expand" ng-click="$root.go('add')" translate>Create</button>
  </div>

  <div class="text-gray text-center m10t animated infinite flash" ng-show="index.anyOnGoingProcess" > 
    <span translate ng-show="index.onGoingProcessName == 'openingWallet'">Opening Wallet...</span>
    <span translate ng-show="index.onGoingProcessName == 'updatingStatus'">Updating Status...</span>
    <span translate ng-show="index.onGoingProcessName == 'updatingBalance'">Updating Balance...</span>
    <span translate ng-show="index.onGoingProcessName == 'updatingPendingTxps'">Updating Pending Transactions...</span>
    <span translate ng-show="index.onGoingProcessName == 'scanning'">Scanning Wallet funds...</span>
    <span translate ng-show="index.onGoingProcessName == 'recreating'">Recreating Wallet on BWS...</span>
  </div>


 
</div>
<div class="extra-margin-bottom"></div>

