<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{wallet.name}}</ion-nav-title>
    <ion-nav-back-button>
      {{'Back' | translate}}
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content ng-controller="walletDetailsController" ng-init="init()" delegate-handle="my-handle">
    <div ng-show="!wallet" translate>
      No Wallet
      <a href ui-sref="tabs.home" class="button" translate>
        Go home
      </a>
    </div>


    <div ng-show="!wallet.isComplete()">
      <a class="button button-block button-assertive"  href ui-sref="wallet.copayers" class="button" translate>
        Wallet Incomplete
      </a>
    </div>


    <div class="oh pr" ng-show="wallet &&  wallet.isComplete()">
      <div ng-style="{'background-color':wallet.color}" class="amount">
        <div ng-if="!notAuthorized && !updatingStatus">

          <div class="m20t" ng-show="updateStatusError" ng-click='update()'>
            <span class="size-12 db m10b">{{updateStatusError|translate}}</span>
            <button class="outline white tiny round" translate>Tap to retry</button>
          </div>

          <div ng-show="wallet.walletScanStatus == 'error'" ng-click='retryScan()'>
            <span translate>Scan status finished with error</span>
            <br><span translate>Tap to retry</span>
          </div>


          <div ng-click='updateAll()' ng-show="!updateStatusError && wallet.walletScanStatus != 'error' && !wallet.balanceHidden" on-hold="hideToggle()">
            <strong class="size-36">{{status.totalBalanceStr}}</strong>
            <div class="size-14" ng-if="status.totalBalanceAlternative">{{status.totalBalanceAlternative}} {{status.alternativeIsoCode}}</div>
            <div class="size-14" ng-if="status.pendingAmount">
              <span translate>Pending Confirmation</span>: {{status.pendingAmountStr}}
            </div>
          </div>

          <div ng-show="!updateStatusError && wallet.walletScanStatus != 'error' && wallet.balanceHidden" on-hold="hideToggle()">
            <strong class="size-24" translate>[Balance Hidden]</strong>
            <div class="size-14" translate>
              Tap and hold to show
            </div>
          </div>
        </div>
        <div ng-if="updatingStatus">
            <div class="size-36">
              <strong>...</strong>
            </div>
          </div>
      </div> <!-- amount -->

      <div class="wallet-info">
        <span ng-include="'views/includes/walletInfo.html'"></span>
      </div>
    </div> <!-- oh -->

    <div class="p60b" ng-show="wallet &&  wallet.isComplete()">
      <div class="oh pr m20t" ng-show="wallet.incorrectDerivation">
        <div class="text-center text-warning">
          <i class="fi-alert"></i>
          <span translate>
            WARNING: Key derivation is not working on this device/wallet. Actions cannot be performed on this wallet.
          </span>
        </div>
      </div>
      <div class="oh pr m20t" ng-show="notAuthorized && !updatingStatus">
        <div class="text-center text-warning">
          <i class="fi-alert"></i>
          <span translate>
            WARNING: Wallet not registered
          </span>
        </div>
        <div class="text-center text-gray m15r m15l" translate>
          This wallet is not registered at the given Bitcore Wallet Service (BWS). You can recreate it from the local information.
        </div>
        <div class="text-center m10t ">
          <span class="button outline round dark-gray tiny"
            ng-click="recreate()">
            <span translate>Recreate</span>
          </span>
        </div>
      </div>

      <div class="release size-12" ng-show="newRelease" ng-click="$root.openExternalLink('https://github.com/bitpay/copay/releases/latest')">
        <span>{{newRelease}}</span><i class="icon-arrow-right3 right size-18"></i>
      </div>


    <div ng-if="txps[0]">
      <h4 ng-show="requiresMultipleSignatures" class="title m0" translate>Payment Proposals</h4>
      <h4 ng-show="!requiresMultipleSignatures" class="title m0" translate>Unsent transactions</h4>
      <div class="list card">
        <ul>
          <li ng-repeat="tx in txps" class="item item-icon-left"
            ng-click="openTxpModal(tx)">
            <i class="icon ion-ios-circle-filled" ng-show="tx.pendingForUs" ng-style="{'color':tx.wallet.color}"></i>
            <span ng-show="!tx.merchant">
              <span ng-show="addressbook[tx.toAddress] && !tx.message">
                {{addressbook[tx.toAddress]}}
              </span>
              <span class="ellipsis" ng-show="!addressbook[tx.toAddress] && tx.message">
                {{tx.message}}
              </span>
              <span ng-show="!addressbook[tx.toAddress] && !tx.message" translate>
                Sending
              </span>
            </span>
            <span ng-show="tx.merchant">
              <span ng-show="tx.merchant.pr.ca"><i class="fi-lock"></i> {{tx.merchant.domain}}</span>
              <span ng-show="!tx.merchant.pr.ca"><i class="fi-unlock"></i> {{tx.merchant.domain}}</span>
            </span>
            <span>
              - {{tx.amountStr}}
            </span>
            <div class="item-note">
              {{tx.wallet.name}} &middot; <time>{{ (tx.ts || tx.createdOn ) * 1000 | amTimeAgo}}</time>
            </div>
          </li>
        </ul>


        <div ng-show="lockedBalanceSat">
          <span translate>Total Locked Balance</span>:
          <b>{{lockedBalanceStr}} </b>
          <span> {{lockedBalanceAlternative}} {{alternativeIsoCode}} </span>
        </div>
      </div>
    </div>


      <!-- Transactions -->
      <h4 class="title" ng-click="startSearch(); openSearchModal()" ng-show="!notAuthorized">
        <span translate>Activity</span>
        <i class="icon ion-ios-search-strong"></i>
      </h4>

      <div class="oh pr m20t text-gray size-12 text-center"
        ng-show="!txHistory[0] && !updatingTxHistory && !txHistoryError && !updateStatusError && !notAuthorized"
        translate>No transactions yet {{status.totalBalanceStr}}
      </div>

      <div ng-show="updatingTxHistory" class="updatingHistory">
        <div  class="row" >
            <ion-spinner class="spinner-dark" icon="lines"></ion-spinner>
        </div>
        <div  class="row" >
          <div  class="col" translate>Updating transaction history. Please stand by.</div>
        </div>
        <div  class="row" ng-show="updatingTxHistoryProgress>0" >
          <div class="col" translate>{{updatingTxHistoryProgress}} transactions downloaded</div>
        </div>
      </div>

      <div ng-if="txHistory[0] && updatingTxHistory && newTx" class="row collapse last-transactions-content animated fadeInDown">
        <div class="large-6 medium-6 small-6 columns size-14">
          <div class="m10r left">
            <img src="img/icon-new.svg" width="40">
          </div>
          <div class="m10t" style="background:#eee; width: 8em; margin-left: 52px; line-height:0.6em">
            <span>&nbsp;</span>
          </div>
          <div style="margin-top:5px; background:#eee; width: 6em; margin-left: 52px; line-height:0.6em">
            <span>&nbsp;</span>
          </div>
        </div>
      </div>

      <div class="list">
        <div class="row item" ng-repeat="btx in txHistory track by btx.txid" ng-click="openTxModal(btx)">
          <div class="col col-10">
            <img src="img/icon-receive-history.svg" alt="sync" width="40" ng-if="btx.action == 'received'">
            <img src="img/icon-sent-history.svg" alt="sync" width="40" ng-if="btx.action == 'sent'">
            <img src="img/icon-moved.svg" alt="sync" width="40" ng-if="btx.action == 'moved'">
          </div>

          <div class="col col-50">
            <div class="padding" ng-if="btx.action == 'received'">
              <span class="ellipsis">
                <h2 ng-if="btx.note.body">{{btx.note.body}}</h2>
                <h2 ng-if="!btx.note.body" translate> Received</h2>
              </span>
            </div>

            <div class="padding" ng-if="btx.action == 'sent'">
              <span class="ellipsis">
                <h2 ng-if="btx.message">{{btx.message}}</h2>
                <h2 ng-if="!btx.message && btx.note.body">{{btx.note.body}}</h2>
                <h2 ng-if="!btx.message && !btx.note.body && wallet.addressbook[btx.addressTo]">{{wallet.addressbook[btx.addressTo]}}</h2>
                <h2 ng-if="!btx.message && !btx.note.body && !wallet.addressbook[btx.addressTo]" translate> Sent</h2>
              </span>
            </div>

            <div class="padding" ng-if="btx.action == 'moved'">
              <span class="ellipsis">
                <h2 ng-if="btx.note.body">{{btx.note.body}}</h2>
                <h2 ng-if="!btx.note.body" translate>Moved</h2>
              </span>
            </div>
            <span class="label tu warning radius" ng-if="btx.action == 'invalid'" translate>Invalid</span>
          </div>

          <div class="col col-30 padding">
            <span class="size-16"  ng-class="{'text-bold': btx.recent}">
              <span ng-if="btx.action == 'received'">+</span>
              <span ng-if="btx.action == 'sent'">-</span>
              <span  class="size-12" ng-if="btx.action == 'invalid'" translate>
              (possible double spend)
              </span>
              <span  ng-if="btx.action != 'invalid'">
              {{btx.amountStr}}
              </span>
            </span>
            <p>
              <time ng-if="btx.time">{{btx.time * 1000 | amTimeAgo}}</time>
              <span translate class="text-warning"
                ng-show="!btx.time && (!btx.confirmations || btx.confirmations == 0)">
                Unconfirmed
              </span>
            </p>
          </div>

          <div class="col col-10 text-center">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>

        <ion-infinite-scroll
          ng-if="txHistoryShowMore"
          on-infinite="showMore()"
          distance="1%">
        </ion-infinite-scroll>
      </div>

  </ion-content>
</ion-view>
