page-amazon {
  .box-notification.warning {
    background: #f4a460;
    margin: 0rem;
  }
  .container {
    height: 100%;
  }
  .center-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .logo {
      display: inline-block;
      margin-bottom: 1em;
      img {
        max-width: 170px;
      }
    }
    .description {
      opacity: .6;
      max-width: 300px;
    }
    .button-standard{
      display: inline-block;
    }
  }

  .integration-giftCard {
    &-logo {
      width: 100%;
      display: inline-block;
      padding: 1em;
      text-align: center;
      img {
        max-width: 200px;
        margin-top: 1rem;
      }
      .subtitle {
        color: #bbbbbb;
      }
    }
    &-info {
      padding: 1rem;
      font-size: 12.5px;
      background-color: color($colors, light);
    }
  }

  .amazon-card {
    display: flex;
    align-items: center;
    .avatar {
      width: 40px;
      border-radius: 5rem;
    }
    .card-info {
      padding-left: 1rem;
      p {
        font-size: 12px;
      }
    }
  }
  .amazon-info {
    padding: 2rem;
  }
}
