page-amazon {
  font-family: 'Amazon Ember Display';
  .container {
    background-color: white;
    height: 100%;
  }
  .center-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .logo {
      display: inline-block;
      margin-bottom: 1em;
      .usa-logo {
        max-width: 170px;
      }
      .japan-logo {
        max-width: 240px;
      }
    }
    .description {
      opacity: 0.6;
      max-width: 300px;
    }
  }
  .short-disclaimer {
    font-size: 12px;
    text-align: left;
    color: color($colors, light-grey);
    padding: 0 20px;
    margin-top: 20px;
    width: 100%;
  }
  .integration-giftCard {
    &-logo {
      background-color: #ffffff;
      width: 100%;
      display: inline-block;
      padding: 1em;
      text-align: center;
      img {
        max-width: 200px;
        margin-top: 1rem;
      }
      .subtitle {
        font-size: 12.5px;
        color: color($colors, grey);
        margin: 10px 0;
      }
    }
    &-info {
      padding: 1rem;
      font-size: 12.5px;
      background-color: color($colors, light);
    }
  }

  .amazon-card {
    display: flex;
    align-items: center;
    .avatar {
      width: 32px;
      margin-right: 2rem;
    }
    .card-info {
      padding-left: 1rem;
      p {
        font-size: 12px;
      }
    }
  }
  .amazon-info {
    padding: 2rem;
  }
}
