wallet-selector {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  pointer-events: none;

  &.open {
    pointer-events: all;
    z-index: 99999;
  }

  .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wallet-selector {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 90vh;
    width: calc(100% + 1px);
    overflow-y: scroll;
    background: white;
    box-shadow: 0px 2px 13px 3px rgba(0, 0, 0, 0.3);
    .error {
      color: color($colors, danger);
    }
    .wallet-button {
      background: none;
    }
  }
  .title {
    font-weight: 500;
    > img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .no-wallets {
    text-align: center;
    padding: 20px;
    color: color($colors, danger);
  }
  .destination-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .back-button {
    background-color: $background-color;
    display: inline-block;
    width: 100%;
    ion-icon {
      padding: 1.5rem 20px 1.5rem 20px;
      cursor: pointer;
    }
  }
  .slider {
    /* only transition on transform properties which are hardware accelerated = way better performances */
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    transition: transform 0.2s ease;
  }
  .opened {
    /* visible */
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }
  .closed {
    /* completely offscreen */
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}
