<div class="wallets-container" *ngIf="listRecentTransaction && listRecentTransaction[0]">
  <div class="section-header">
    <ion-label class="key-name">
      <span>RECENT TRANSACTIONS</span>
    </ion-label>
  </div>
  <ion-list lines="none" class="bp-list custom-list" ng-class="{ 'disabled':itemTapped}">
    <ion-item button detail="false" *ngFor="let item of listRecentTransaction" (click)="close(item)">
      <div class="recent-contact-container">
        <div class="contact-logo-container" [ngClass]="{'account-logo-custom': item.isAccount}">
          <div class="contact-logo-content">
            {{item.name[0] | uppercase}}
          </div>
        </div>
        <div class="main-label">{{ item.name }}</div>
      </div>
    </ion-item>

  </ion-list>
</div>

<ion-segment (ionChange)="showContactTab= !showContactTab" value="1">
  <ion-segment-button value="1" layout="icon-start">
    <ion-label>MY ACCOUNTS</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2" layout="icon-start">
    <ion-label>ADDRESS BOOK</ion-label>
  </ion-segment-button>
</ion-segment>


<div class="wallets-container" *ngIf="showContactTab && contactsGroup && contactsGroup.length > 0; else noAccounts">
  <ion-list lines="none" class="bp-list" ng-class="{ 'disabled':itemTapped}">
    <div *ngFor="let contacts of contactsGroup">
      <div class="key-divider">
        <span>{{ contacts[0].firstLetter | uppercase}}</span>
      </div>
      <div class="wallet-item-content-container" *ngFor="let contact of contacts">
        <div class="contact-name" (click)="close(contact)">
          {{contact.name}}
        </div>
      </div>
    </div>
  </ion-list>
</div>

<ng-template #noAccounts>
  <ng-container *ngIf="showContactTab">
    <div class="no-info-container">
      <img src="assets/img/EmptyContact-{{currentTheme}}.svg">
      <div class="content">{{'No contact yet' | translate}}</div>
    </div>
  </ng-container>
</ng-template>

<div class="wallets-container" *ngIf="!showContactTab && walletsByKeys && walletsByKeys.length > 0; else noAddress">
  <ion-list lines="none" class="bp-list">
    <div *ngFor="let walletsByKey of walletsByKeys">
      <div class="key-divider" *ngIf="walletsByKey && walletsByKey[0]">
        <span>{{ walletsByKey[0].walletGroupName }}</span>
      </div>
      <div class="wallet-item-content-container" *ngFor="let wallet of walletsByKey; let i = index">
        <wallet-item-content [isCustomForAddressBook]="true" [wallet]="wallet" (click)="close(wallet)"
          [isLastChild]="i === walletsByKey.length - 1"></wallet-item-content>
      </div>
    </div>
  </ion-list>
</div>
<ng-template #noAddress>
  <ng-container *ngIf="!showContactTab">
    <div class="no-info-container">
      <img src="assets/img/EmptyWallet-{{currentTheme}}.svg">
      <div class="content">{{'No accounts' | translate}}</div>
    </div>
  </ng-container>
</ng-template>

<ng-container *ngIf="this.navParamsData?.isDonation && walletList[_wallet.donationCoin].length == 0">
  <create-new-wallet></create-new-wallet>
</ng-container>