page-disclaimer {
  .onboarding-slides {
    .slide-zoom {
      height: 100%;
    }
    ion-slide {
      .img-container {
        display: flex;
        height: 50%;
        @media (max-height: 650px) and (max-width: 768px) {
          height: 45%;
        }
        @media (max-height: 600px) and (max-width: 768px) {
          height: 40%;
        }
        @media (max-height: 550px) and (max-width: 768px) {
          height: 35%;
        }
        img {
          margin: auto;
          max-height: 23rem;
          @media (max-width: 350px) {
            max-height: 10rem;
          }
        }
        .tour-1 {
          padding-left: 4rem;
        }
        .tour-3 {
          padding-right: 4rem;
        }
      }
      .slide-info {
        background: white;
        height: 100%;
        .title {
          color: #060606;
          font-weight: 500;
          font-size: 25px;
          text-align: left;
          padding-left: 3rem;
          @media (max-width: 350px) {
            font-size: 17px;
          }
        }
        .info {
          padding: 4rem;
          .title {
            align-items: center;
            text-align: center;
            line-height: 34px;
            padding-left: 0;
            @media (max-width: 350px) {
              line-height: 20px;
            }
          }
          .text {
            font-size: 16px;
            text-align: center;
            color: rgb(46, 46, 46);
            font-weight: 300;
            padding-top: 15px;
            line-height: 25px;
            @media (max-width: 350px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
  .checkbox-list {
    padding: 30px 15px 15px 15px;
    text-align: center;
    ion-item {
      line-height: 25px;
      background: none;
    }
    .checkbox-icon {
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: color($colors, secondary);
      width: 30px;
      height: 30px;
      .checkbox-inner {
        left: 11px;
        top: 5px;
        width: 7px;
        height: 15px;
      }
    }
    .checkbox-checked {
      border-color: color($colors, success);
      background-color: color($colors, success);
      border-width: 0px;
    }
    .external-link {
      cursor: pointer;
      color: color($colors, secondary);
    }
    .text {
      font-size: 13px;
      line-height: 15px;
    }
  }
  .disclaimer-agreement {
    padding-top: 3rem; // Fix iOS 10.3
    padding-top: calc(3rem + env(safe-area-inset-top));
  }
  .next-slide-button {
    position: absolute;
    bottom: calc(2rem + env(safe-area-inset-bottom));
    bottom: -webkit-calc(2rem + env(safe-area-inset-bottom));
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }
}
