page-disclaimer {
  @extend %onboarding;
  & > ion-content {
    background-image: $onboarding-background-image !important;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  text-align: center;
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  .link {
    font-size: 2vh;
    cursor: pointer;
  }
  .checkbox-list {
    ion-item, .agree-to-terms ion-item {
      font-size: 14px;
      background: none;
      color: #fff;
    }
  }
  .agree-to-terms {
    background-color: $onboarding-welcome-bg;
    position: relative;
    ion-item {
      height: 6rem;
      .check {
        margin: 9px 15px 9px 4px !important;
      }
    }
    .terms {
      display: flex;
      align-items: center;
      height: 6rem;
      position: absolute;
      top: 0;
      left: 5rem;
      padding: 0rem;
      margin: 0rem;
      p {
        padding-right: 1rem;
        font-size: 14px;
      }
      a {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .description {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 4rem 1rem 4rem;
  }
}
