page-disclaimer {
  & > ion-content {
    background-image: $onboarding-background-image !important;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  text-align: center;
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  .link {
    font-size: 2vh;
    cursor: pointer;
  }
  .checkbox-list {
    ion-item {
      font-size: 14px;
      background: none;
      color: #fff;
    }
  }
  .top-description {
    font-size: 1.4rem;
    padding: 0 4rem 0 4rem;
    color: $onboarding-comment-color;
  }
  .title {
    color: color($colors, blank);
  }
  ion-footer {
    background-color: color($colors, secondary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  }
  a.externalLink {
    cursor: pointer;
    color: color($colors, light-grey);
  }
}
