page-disclaimer {
  .onboarding-slides {
    .slide-zoom {
      height: 100%;
    }
    ion-slide {
      background: linear-gradient(to bottom, #ffffff, #ebedf8 80%);
      .img-container {
        display: flex;
        padding-top: 10vh;
        @media (max-width: 350px) {
          padding-top: 0;
        }
        img {
          margin: auto;
          max-height: 23rem;
          @media (max-width: 350px) {
            max-height: 10rem;
          }
        }
        .tour-1 {
          padding-left: 8rem;
          @media (max-width: 350px) {
            padding-left: 4rem;
          }
        }
        .tour-3 {
          padding-right: 8rem;
          @media (max-width: 350px) {
            padding-left: 4rem;
          }
        }
      }
      .slide-info {
        background: white;
        height: 100%;
        .title {
          color: #060606;
          font-weight: 500;
          font-size: 25px;
          text-align: left;
          padding-left: 3rem;
          @media (max-width: 350px) {
            font-size: 17px;
          }
        }
        .info {
          padding: 4rem;
          .title {
            align-items: center;
            text-align: center;
            line-height: 34px;
            padding-left: 0;
            @media (max-width: 350px) {
              line-height: 20px;
            }
          }
          .text {
            font-size: 16px;
            text-align: center;
            color: rgb(46, 46, 46);
            font-weight: 300;
            padding-top: 15px;
            line-height: 25px;
            @media (max-width: 350px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
  .checkbox-list {
    padding: 30px 15px 15px 15px;
    text-align: center;
    ion-item {
      line-height: 25px;
      background: none;
    }
    .checkbox-icon {
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: color($colors, secondary);
      width: 30px;
      height: 30px;
      .checkbox-inner {
        left: 11px;
        top: 5px;
        width: 7px;
        height: 15px;
      }
    }
    .checkbox-checked {
      border-color: color($colors, success);
      background-color: color($colors, success);
      border-width: 0px;
    }
    .external-link {
      cursor: pointer;
      color: color($colors, secondary);
    }
    .text {
      font-size: 13px;
      line-height: 15px;
    }
  }
  .footer-container {
    padding-bottom: 0;
    background-color: color($colors, blank);
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    position: fixed;
    bottom: 15rem;
    @media (max-width: 350px) {
      bottom: 13rem;
    }
  }
  .next-slide-button {
    position: absolute;
    bottom: calc(2rem + env(safe-area-inset-bottom));
    bottom: -webkit-calc(2rem + env(safe-area-inset-bottom));
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }
}
