page-all-addresses {
  .address-container {
    padding-bottom: 15px;
  }
  .item {
    cursor: pointer;
    .info {
      color: color($colors, primary) !important;
      margin-top: 1px;
    }
  }
}
