page-all-addresses {
  .close-container.button-default {
    color: color($colors, dark);
  }
  .address-container {
    padding-bottom: 15px;
  }
  .item {
    cursor: pointer;
    .info {
      color: color($colors, primary) !important;
      margin-top: 1px;
    }
  }
}
