pin-pad {
  width: 100%;
  @media (min-height: 800px) {
    padding-bottom: 10px;
  }

  .amount-delete {
    margin-right: 10px;
  }

  .row {
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;

    .col {
      height: 9vh;
      min-height: 65px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media (max-height: 500px) {
        min-height: 60px;
      }

      .letters {
        color: #9b9b9b;
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 4px;
        height: 22px;
      }
    }
  }
}
