pin-pad {
  width: 100%;
  .row {
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;

    $bottom-spacing: 31px;

    &:last-child {
      .col {
        padding-bottom: $bottom-spacing;
      }
    }

    .col {
      height: 9vh;
      min-height: 65px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media (max-height: 500px) {
        min-height: 60px;
      }

      > div {
        &:nth-child(2) {
          color: #9b9b9b;
          font-size: 10px;
          letter-spacing: 2px;
          margin-top: 4px;
          height: 22px;
        }
      }
    }
  }
}
