.md [slot="start"] {
  margin: 0px 8px 0px 0px;
}
img {
  margin: 9px 15px 9px 0;
  justify-content: center;
  padding: 7px;
  width: 35px;
  height: 35px;
  &.rectangle {
    border-radius: 12px;
    justify-content: center;
  }
}
.ion-logo-usd:before {
  padding: 8px 11.5px;
}

::ng-deep page-confirm coin-icon {
  img {
    margin: 0 !important;
    width: 20px !important;
    height: 20px !important;
  }
}
