<ion-view id="tab-home">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>Attach a BitLox</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>


  <ion-content ng-controller="WalletCtrl" >
    <br /><br />
    <!-- <div ng-controller="BitLoxCtrl"> -->

      <div class="list card" ng-hide="bitlox.connected" ng-if="!bitlox.isMobile && timer">
          <span class="item">
              No BitLox device detected.<br /><br />
              Please turn on your BitLox, enter the device PIN, and select USB mode.<br/><br/>
              <button class="button button-standard button-primary" ng-click="reset()">Refresh</button>
              <button class="button button-standard button-secondary" ng-if="closeModal" ng-click="closeModal()">Cancel</button>              
          </span>
      </div>
      <div class="list card"  ng-if="timer" ng-show="bitlox.isMobile && !bitlox.connected">
        <a class="item item-remove-animate" ng-click="refreshBitlox($event)">
          <span  ng-if="api.getNumDevices() < 1">No devices found - </span><pre>Scan for Bitlox Hardware wallets</pre>
        </a>
        <a ng-repeat="device in api.getKnownDevices()"
           ng-click="connectBle(device.address, false)"
           style="padding-top: 2rem; padding-bottom: 2rem"
           class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet">
           <i class="icon big-icon-svg">
             <img src="img/icon-wallet-bitlox.svg" class="bg wallet icon-create-wallet"/>
           </i>
          <span>{{device.name}}</span>
          <i class="icon bp-arrow-right"></i>
          <!-- <pre>{{device}}</pre> -->
        </a>
        <button ng-if="closeModal" style="width:100%" class="button icon icon-left ion-ios-close-outline"
           ng-click = "closeModal()">Cancel</button>
      </div>
      <div
        ng-show="bitlox.connected">
        <!-- <h3 ng-show="readingWallets">Loading wallets</h3> -->

        <div class="list card"  ng-show="!readingWallets">
          <a
          style="padding-top: 2rem; padding-bottom: 2rem"
          class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet"
          type="item-text-wrap" ui-sref="tabs.add.create-bitlox">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" class="bg wallet icon-create-wallet"/>
            </i>
            <span class="add-type" translate>Create/Restore<br />BitLox Wallet</span>
            <i class="icon bp-arrow-right"></i>
          </a>
          <!-- <div class="item" ng-show="createToggle">
            <wallet-create available-numbers="availableWalletNumbers"
                           on-finish="onCreateFinished()"></wallet-create>
          </div> -->
          <!-- <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ng-click="ping()">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" class="bg"/>
            </i>
            <span class="add-type" translate>PING</span>
            <i class="icon bp-arrow-right"></i>
          </a>
          <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ng-click="getEntropy()">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" class="bg"/>
            </i>
            <span class="add-type" translate>ENTROPY 1024</span>
            <i class="icon bp-arrow-right"></i>
          </a> -->
          <a ng-repeat="wallet in wallets"
                ng-click="loadWallet(wallet)"
                ng-disabled="openWallet.number == wallet.number"
                style="padding-top: 2rem; padding-bottom: 2rem"
                class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet">

            <i class="icon big-icon-svg">
              <img src="img/icon-wallet-bitlox.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"/>
            </i>
            <span>#{{wallet.number}}&nbsp;&nbsp;{{wallet.name}}</span>
            <i class="icon bp-arrow-right"></i>
          </a>

        </div>
      </div>
    <!-- </div> -->

    <div class="list card"  ng-hide="bitlox.connected" ng-if="!bitlox.isMobile && timer">
      <a ng-click="openBitlox();"  ng-click="openBitlox($event)" class="open-bitlox item item-sub item-icon-left item-big-icon-left">
       <i class="icon big-icon-svg">
         <img src="img/icon-wallet-bitlox.svg" class="bg wallet icon-create-wallet"/>
       </i>
        <span style="text-decoration: none" translate>Buy a BitLox Now</span>
      </a>
    </div>    
  </ion-content>
</ion-view>
