page-coinbase-tx-details {
  ion-note {
    max-width: 70%;
  }
  .coinbase-amount {
    font-size: 3.5rem;
    .coinbase-coin {
      font-size: 14px;
      font-weight: 200;
      vertical-align: super;
      opacity: 0.7;
      letter-spacing: 1px;
    }
  }
  .coinbase-subtitle {
    margin-left: 20px;
  }
}
