page-create-wallet {
  .line-divider {
    margin: 0 !important;
  }
  mat-form-field {
    padding: unset !important;
  }
  .toolbar-title {
    color: #edeff0;
  }
  form {
    margin: 18px;
    margin-bottom: 120px;
    .wallet-info-container {
      background: #fafafb;
      padding: 23px 1rem 8px 1rem;
      border-radius: 12px;
      .your-name-mat-form-field {
        margin-top: 43px;
        margin-bottom: 32px;
      }
    }
    ion-item {
      margin-left: 0px;
      --background: transparent;
      --padding-start: 0;
    }
    .advance-button {
      width: 100%;
      --background: #fafafb;
      --background-activated: none;
      color: #001e2e;
      margin: 0px;
      margin-top: 32px;
      --border-radius: 8px;
      --padding-top: 16px;
      --padding-bottom: 16px;
      --padding-start: 16px;
      --box-shadow: none !important;
      span {
        text-align: left;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
      }
      ion-icon {
        width: 12px;
      }
    }
    .open-advance {
      --border-radius: 8px 8px 0px 0px;
    }
    .show-advance-option {
      padding: 0px 16px;
      padding-bottom: 8px;
      background: #fafafb;
      border-radius: 0px 0px 8px 8px;

      ion-item {
        // padding-bottom: 23px;
        --inner-padding-bottom: 16px !important;
        --inner-padding-top: 16px !important;
        --border-color: #dae0e5;
      }
      .wallet-key-ion-item {
        --inner-padding-bottom: 0 !important;
      }
      .set-padding-bottom {
        padding-bottom: 28px;
      }
      .wallet-service-url-mat-form-field {
        padding-top: 23px !important;
      }
      .mat-form-field {
        padding-bottom: 28px !important;
      }
    }
  }

  .custom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    .label {
      font-size: 14px;
      color: rgba(0, 30, 46, 0.6);
    }
    .buttons-container {
      display: flex;
      justify-content: space-between;
      min-width: 110px;
      .number-copayer {
        font-weight: 600;
        font-size: 22px;
        flex-flow: column;
        display: flex;
        justify-content: center;
      }
      .add-button {
        height: 32px;
        width: 32px;
        font-size: 20px;
        border: 1px solid #70818a;
        box-shadow: none;
        justify-content: center;
        display: flex;
      }
      .remove-button {
        opacity: 50%;
        height: 33px;
        width: 33px;
        border-radius: 50%;
        font-size: 14px;
        border: 1px solid grey;
        box-shadow: none;
        ion-icon {
          color: grey;
        }
      }
    }
  }

  // .advance-button{
  //   width: 100%;
  //   --background:linear-gradient(0deg, rgba(126, 208, 255, 0.11), rgba(126, 208, 255, 0.11)), #001E2E;
  //   margin: 0px;
  //   margin-top: 32px;
  //   --border-radius: 8px;
  //   --padding-top: 16px;
  //     --padding-bottom: 16px;
  //     --padding-start: 16px;
  //     span{
  //       text-align:left;
  //       width:100%;
  //       font-size: 16px;
  //       font-weight: 400;
  //     }
  //     ion-icon{
  //       width: 12px;
  //     }
  // }

  // .open-advance{
  //   --border-radius: 8px 8px 0px 0px;
  // }

  // .show-advance-option{
  //   padding: 0px 16px;
  //   padding-bottom: 23px;
  //   background: linear-gradient(0deg, rgba(126, 208, 255, 0.11), rgba(126, 208, 255, 0.11)), #001E2E;
  //   border-radius: 0px 0px 8px 8px;

  //   ion-item{
  //     padding-top: 23px;
  //   }
  // }

  .option-container {
    &::part(native) {
      flex-flow: column;
      align-items: normal;
    }

    .option-line {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      p {
        font-size: 16px;
        margin: 0px;
      }
      ion-toggle {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .option-line-info {
      font-size: 12px;
      font-weight: 400;
      color: rgba(0, 30, 46, 0.6);
      // padding-bottom: 10px;
      a {
        padding-top: 13px;
        font-size: 14px;
        color: #00658d;
      }
    }
  }

  .set-padding-top {
    padding-top: 23px;
  }

  .notification-container {
    display: flex;
    padding: 12px 18px;
    background: #ffddb6;
    border-radius: 8px;
    color: #482a00;
    font-size: 14px;
    margin-top: 24px;
    img {
      align-self: flex-start;
      margin-top: 6px;
    }
    // .icon-img-container{
    //   display: flex;
    //   flex-flow: column;
    //   justify-content: flex-start;
    //   font-size: 14px;
    // }
    .notification-content {
      margin-left: 10px;
    }
  }

  .linked-wallet {
    .item-inner {
      border-bottom: 0px;
    }
  }
  .last-item {
    margin-left: auto;
  }
}
