page-coinbase {
  .wide-header__title.toolbar {
    padding-bottom: 10px;
  }
  .wide-header__title {
    padding-left: 0;
  }
  ion-spinner {
    position: absolute;
    bottom: 16px;
    right: 25px;
    * {
      stroke: #0667d0 !important;
    }
  }
}
