page-coinbase {
  .center-header {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .button-standard{
      display: inline-block;
    }
  }

  .main-header {
    position: relative;
    padding: 20px 0;
    text-align: center;
    background: #0667D0;
    ion-spinner {
      position: absolute;
      bottom: 5px;
      right: 5px;
      * {
        stroke: color($colors, light);
      }
    }
  }
}
