page-coinbase {
  .center-header {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-header {
    padding: 20px 0;
    text-align: center;
    background: #0667D0;
  }
}
