<ion-header>

  <ion-navbar>
    <ion-title>{{'Lock'|translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list radio-group>
    <ion-item *ngFor="let opt of options">
      <ion-label>{{opt.method}}</ion-label>
      <ion-radio (click)="select(opt.method)" value="{{opt.method}}" checked="{{opt.enabled}}" disabled="{{opt.disabled}}"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item-divider *ngIf="needsBackupMsg" text-wrap>
    <span class="assertive">{{needsBackupMsg}}</span>
  </ion-item-divider>
</ion-content>
