page-mercado-libre-card-details {
  .header-modal {
    text-align: center;
    padding: 2rem;
    img {
      width: 230px;
    }
    &-amount {
      padding: 1rem;
    }
    .redeem {
      margin-top: 2rem;
    }
    .invoice {
      margin: 1.5rem 0 3rem 0;
    }
  }
  .links {
    text-align: center;
    span {
      color: color($colors, primary);
    }
  }
}
