<ion-list class="bp-list">
  <ion-item *ngFor="let coin of coins">
    <ion-icon class="item-img" item-start>
      <img src="assets/img/currencies/{{coin.unitCode}}.svg">
    </ion-icon>
    <ion-label>
      <div class="main-label">{{coin.name}}</div>
      <div class="secondary-label">{{coin.unitCode | uppercase}}</div>
    </ion-label>
    <ion-note item-end>
      <div class="main-note">
        <span *ngIf="isoCode === 'USD' && isIsoCodeSupported">$</span>{{ coin.currentPrice | number: getDigitsInfo(coin.unitCode) }}
        <span class="unit" *ngIf="isoCode !== 'USD' && isIsoCodeSupported">{{ isoCode }}</span>
        <span class="unit" *ngIf="!isIsoCodeSupported">USD</span>
      </div>
      <div class="average-container" [ngClass]="coin.averagePrice > 0 ? 'possitive-avg' : 'negative-avg'">
        <span class="average"><span *ngIf="coin.averagePrice > 0">+</span>{{ coin.averagePrice | number:'1.2-2' }}%</span>
      </div>
    </ion-note>
  </ion-item>
</ion-list>