.message {
  &-background {
    width: 90%;
    border-radius: 8px;
    background-color: #f9f9fb;
    background: url(../../../../assets/img/bg-donate-card.svg) no-repeat;
    background-size: cover;
    margin: 1rem 1rem 2rem 1rem;
    &.no-margin {
      margin-top: 0;
    }
    .line-divider {
      margin: 0px 15px;
    }
  }

  &-header {
    &.no-dismissible {
      height: 30px;
    }
    .button[icon-only] {
      font-size: 10px;
    }
  }
  &-icon {
    display: flex;
    position: absolute;
    right: 0;
    top: -1rem;
    img {
      width: 18px;
      height: 18px;
    }
  }

  &-title {
    text-align: left;
    font-size: 16px;
    width: 65%;
    margin: 1rem 0 0 1rem;
    font-weight: 600;
  }

  &-body {
    color: rgba(237, 239, 240, 0.6);;
    font-weight: 400;
    width: 78%;
    text-align: left;
    white-space: normal;
    font-size: 12px;
    padding: 1rem 1rem 20px 1rem;
    letter-spacing: 0.4px;
    line-height: 16px;
    &-adv {
      padding: 0px 15px 7px 0px;
    }
    a{
      color: var(--color-primary);
    }
  }

  &-button {
    cursor: pointer;
    padding-left: 15px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #4f6ef7;
    height: 45px;
  }
  &-img {
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
    img.card-img {
      border-radius: 0;
      width: 60px;
      height: 60px;
    }
  }
}

.message-background--donate {
  .message-icon {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.message-header {
  margin-bottom: -15px;
}
.message-content {
  .title-container {
    align-items: center;
    position: relative;
    display: flex;
  }
}
.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: contain;
    height: 44px;
    margin-bottom: 5px;
  }
}

.icons-row {
  padding: 22px 0;
}

.opacity-low {
  opacity: 0.42;
}

.donate-btn {
  text-align: end;
  ion-button {
    --border-radius: 100px;
    --background: #7ED0FF;
    --color: #00344B;
    min-width: 110px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-top: 0;
  }
}
