<div class="mini-modal" [ngSwitch]="modalTitle">

  <mini-modal-content *ngSwitchCase="'backup-needed'">
    <img modal-icon src="assets/img/icon-warning.svg">
    <div class="modal-heading" translate>Backup Needed</div>
    <div class="modal-message" translate>
      Now is a good time to backup your wallet. If this device is lost, it is impossible to access your funds without a backup.
    </div>
    <modal-cancel-text translate>Do it later</modal-cancel-text>
    <div modal-confirm-text translate>I understand</div>
  </mini-modal-content>

  <mini-modal-content *ngSwitchCase="'backup-ready'" type="success">
    <img modal-icon src="assets/img/onboarding-success.svg">
    <div class="modal-heading" translate>Your bitcoin wallet is backed up!</div>
    <div class="modal-message" translate>
      Be sure to store your recovery phrase in a secure place. If this app is deleted, your money cannot be recovered without it.
    </div>
    <div modal-confirm-text translate>Got it</div>
  </mini-modal-content>

  <mini-modal-content *ngSwitchCase="'backup-warning'">
    <img modal-icon src="assets/img/no-screenshot.svg">
    <div class="modal-heading" translate>Screenshots are not secure</div>
    <div class="modal-message" translate>
      If you take a screenshot, your backup may be viewed by other apps. You can make a safe backup with physical paper and a pen.
    </div>
    <modal-cancel-text translate>Go Back</modal-cancel-text>
    <div modal-confirm-text translate>I understand</div>
  </mini-modal-content>

  <mini-modal-content *ngSwitchCase="'fee-warning'" type="danger">
    <img modal-icon src="assets/img/icon-warning.svg">
    <div class="modal-heading" translate>Bitcoin miner fees unusually high</div>
    <div class="modal-message" translate>Miner fees are high due to record demand for limited space on the network. BitPay does not receive and does not control miner fees.</div>
    <div modal-confirm-text translate>I understand</div>
  </mini-modal-content>

  <mini-modal-content *ngSwitchCase="'sensitive-info'">
    <img modal-icon src="assets/img/icon-warning.svg">
    <div class="modal-heading" translate>Sensitive Data</div>
    <div class="modal-message" translate>
      The information you are about to share/export may contain sensitive data such us wallet IDs, addresses, balances, etc. Please be sure you trust the person or entity with whom you are sharing this information.
    </div>
    <modal-cancel-text translate>Go Back</modal-cancel-text>
    <div modal-confirm-text translate>I understand</div>
  </mini-modal-content>

</div>