page-bitpay-settings {
  .no-cards {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .remove-card {
    text-align: center;
    font-size: 12.5px;
    color: color($colors, danger);
  }
}
