<ion-header>
  <ion-navbar>
    <ion-title>{{'Card Settings'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content> 

  <ion-list>
    <div *ngIf="!bitpayCard">
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>{{'Show in tab Home' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="showAtHome" (ionChange)="integrationChange()"></ion-toggle>
      </ion-item>
    </div>
    
    <div *ngIf="bitpayCard">
      <ion-item-divider>
        <span translate>BitPay Visa&reg; Cards</span>
      </ion-item-divider>
      <ion-item>
        <div>
          xxxx-xxxx-xxxx-{{bitpayCard.lastFourDigits}}
        </div>
        <ion-note>
          {{bitpayCard.email}}
        </ion-note>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <button class="remove-card" ion-item (click)="unlinkCard(bitpayCard)">
        <span translate>Remove</span>
      </button>
    </div>
  </ion-list>
</ion-content>
