page-backup-key {
  ::ng-deep {
    expandable-header-primary {
      text-align: left !important;
    }
  }

  ion-content.content {
    background: white;
  }

  .page-container {
    padding-top: unset;
  }

  .main-header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .sub-header {
    font-size: 14px;
    color: rgba(0, 30, 46, 0.6);
    margin-bottom: 16px;
  }

  .notification-container {
    display: flex;
    margin-bottom: 36px;
    padding: 12px 18px;
    background: #ffddb6;
    border-radius: 8px;
    color: #482a00;
    font-size: 14px;
    .notification-content {
      margin-left: 10px;
    }
  }

  .word-container {
    .word-title {
      font-size: 18px;
      padding: 20px;
      color: var(--color-dark);
    }
  }
}
