<div class="small-12 columns">
	<h1>Add Wallet</h1>
	<a class="panel db oh" title="Create new wallet" ng-click="$root.go('create')">
		<span class="text-black left">Create new wallet</span>
	  <i class="icon-arrow-right3 right text-gray"></i>
	</a>

	<a class="panel db oh" title="Join shared wallet" ng-click="$root.go('join')">
		<span class="text-black left">Join shared wallet</span>
	  <i class="icon-arrow-right3 right text-gray"></i>
	</a>

	<a class="panel db oh" title="Import wallet" ng-click="$root.go('import')">
		<span class="text-black left">Import wallet</span>
	  <i class="icon-arrow-right3 right text-gray"></i>	  
	</a>
</div>