<div class="row manage text-center">
	<h1 class="show-for-large-up text-left columns">Add Wallet</h1>
	<div class="large-4 small-12 columns">
		<a class="db oh panel" title="Create new wallet" ng-click="$root.go('create')">
			<i class="fi-plus"></i>	  
			<span>Create new wallet</span>
		</a>
	</div>
	<div class="large-4 small-12 columns">
		<a class="db oh panel join" title="Join shared wallet" ng-click="$root.go('join')">
			<i class="icon-people"></i>	  
			<span>Join shared wallet</span>
		</a>
	</div>
	<div class="large-4 small-12 columns">
		<a class="db oh panel import" title="Import wallet" ng-click="$root.go('import')">
			<i class="icon-upload"></i>	  
			<span>Import wallet</span>
		</a>
	</div>
</div>