<div class="small-12 columns add-wallet">
	<a class="button-setup db oh" title="Create new wallet" ng-click="$root.go('create')">
		<i class="fi-plus"></i>	  
		<span>Create new wallet</span>
	</a>

	<a class="button-setup db oh" title="Join shared wallet" ng-click="$root.go('join')">
		<i class="icon-people"></i>	  
		<span>Join shared wallet</span>
	</a>

	<a class="button-setup db oh" title="Import wallet" ng-click="$root.go('import')">
		<i class="icon-upload"></i>	  
		<span>Import wallet</span>
	</a>
</div>