<div class="waiting-copayers" ng-controller="CopayersController">
  <div ng-if='$root.wallet && $root.wallet.isReady()' ng-init="goToWallet()"></div>
  <div class="row" ng-if='$root.wallet && !$root.wallet.isReady() && !loading'>
    <div class="large-4 columns logo-setup">
      <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
      <div ng-include="'views/includes/version.html'"></div>
    </div>
    <div class="large-8 columns line-dashed-setup-v">
      <div class="box-setup oh">
        <div ng-if="!$root.wallet.publicKeyRing.isComplete()">
          <img ng-if="$root.fromSetup && !isMobile" class="right m15t" src="img/step-3.svg" alt="Step 3">
          <h1 translate class="text-primary line-sidebar-b">Waiting copayers</h1>
          <h3 translate>Share this secret with your other copayers</h3>
          <div class="panel">
            <qrcode size="350" data="{{$root.wallet.getSecret()}}"></qrcode>
            <div class="secret text-gray size-14">
              {{$root.wallet.getSecret()}} 
              <span class="btn-copy" clip-copy="$root.wallet.getSecret()"></span>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <h1 class="text-white line-sidebar-b" ng-if="$root.wallet &&
          $root.wallet.publicKeyRing.isComplete()" translate>New Wallet Created</h1>
        <div class="row" ng-show="$root.wallet.publicKeyRing.isComplete()">
          <div class="large-4 small-6 columns text-left">
            <h3 translate>Download Backup</h3>
          </div>
          <div class="large-8 small-6 columns text-right">
            <h3 class="ellipsis">
              <small class="text-gray">
                <b>{{$root.wallet.getName()}}</b> : 
                {{$root.wallet.requiredCopayers}}-{{'of'|translate}}-{{$root.wallet.totalCopayers}}
              </small>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="large-10 small-9 columns text-left">
            <h4 translate class="ellipsis" ng-show="!$root.wallet.publicKeyRing.isComplete()">
              Waiting Copayers for {{$root.wallet.getName()}}
            </h4>
          </div>
          <div class="large-2 small-3 columns text-right">
            <h4 ng-show="$root.wallet && !$root.wallet.publicKeyRing.isComplete()">
              <small class="text-gray">
                {{$root.wallet.requiredCopayers}}-{{'of'|translate}}-{{$root.wallet.totalCopayers}}
              </small>
            </h4>
          </div>
        </div>

        <div class="box-setup-copayers p20">
          <span translate>Creating and storing a backup will allow to restore funds of the wallet</span>
          <div class="oh">
            <div ng-include="'views/includes/copayer.html'"></div> 
            <div ng-if="!$root.wallet.publicKeyRing.isComplete()">
              <img
              class="waiting br100"
              ng-if="!hasVideo(copayer)"
              src="./img/satoshi.gif"
              alt="Waiting Copayer"
              width="70">
              <p class="size-12 text-white text-light m0">
              <i class="fi-loop icon-rotate spinner"></i>
              <span translate>Waiting...</span>
              </p>
            </div>
          </div>
          <div ng-show="$root.wallet.publicKeyRing.remainingCopayers() > 1">
          <div class="line-sidebar-b" ng-if="$root.wallet && $root.wallet.publicKeyRing.isComplete()"></div>
          <div class="text-gray m10t" ng-if="$root.wallet && $root.wallet.publicKeyRing.isComplete()">
            <i class="text-white fi-loop icon-rotate spinner"></i> 
            <span translate>Waiting for other copayers to make a Backup</span>
          </div>
          </div>
        </div>

<!--         <div class="text-right">
          <button class="button secondary m0"
            ng-click="skipBackup()"
            ng-show="!$root.wallet.publicKeyRing.isBackupReady()"
            ng-disabled="!$root.wallet.publicKeyRing.isComplete()">
            <span translate ng-show="$root.wallet.publicKeyRing.isComplete()" >
              Skip Backup
            </span>
          </button> -->

          <a class="small"  ng-click="skipBackup()"      
            ng-show="!$root.wallet.publicKeyRing.isBackupReady()"
            ng-disabled="!$root.wallet.publicKeyRing.isComplete()">
             <span translate ng-show="$root.wallet.publicKeyRing.isComplete()" >
              Skip Backup
            </span>
          </a>
          <button class="button primary m0"
            ng-click="backup()"
            ng-show="!$root.wallet.publicKeyRing.isBackupReady()"
            ng-disabled="!$root.wallet.publicKeyRing.isComplete()">
            <span translate ng-show="$root.wallet.publicKeyRing.isComplete()" >
              Backup wallet
            </span>
            <span ng-show="!$root.wallet.publicKeyRing.isComplete()" >
              <span ng-show="$root.wallet.publicKeyRing.remainingCopayers() > 1">
                {{ $root.wallet.publicKeyRing.remainingCopayers() }} <span
                  translate>people have</span>
              </span>
              <span translate ng-show="$root.wallet.publicKeyRing.remainingCopayers() == 1">
                One person has
              </span>
              <span translate>yet to join.</span>
            </span>
          </button>
          <button class="button primary"
            disabled="disabled"
            ng-show="$root.wallet.publicKeyRing.isBackupReady()">
            <span ng-show="$root.wallet.publicKeyRing.remainingBackups() > 1">
              {{ $root.wallet.publicKeyRing.remainingBackups() }} <span
                translate>people have</span>
            </span>
            <span translate ng-show="$root.wallet.publicKeyRing.remainingBackups() == 1">
              One person has
            </span>
            <span translate>yet to backup the wallet.</span>
          </button>
        </div>
      </div>
    </div>
  </div> <!-- end of row -->
</div>

