<div ng-controller="CreateController">
  <div data-alert ng-show="loading">
    <div ng-include="'views/includes/loading.html'" ng-init="title = 'Creating wallet'"></div>
  </div>
  <div class="setup" ng-show="!loading && !$root.starting">
    <form name="setupForm" ng-submit="create(setupForm)" novalidate>
      <div class="row">
        <div class="large-12 columns">
          <div class="box-notification" ng-show="error">
            <div class="box-icon error">
              <i class="fi-x size-24"></i>
            </div> 
            <span class="text-warning size-14">
              {{error|translate}}
            </span>
          </div>
    

          <div class="panel">
            <label><span translate>Wallet name</span>
              <div class="input">
                  <input type="text" placeholder="{{'Family vacation funds'|translate}}" class="form-control" ng-model="walletName" ng-required="true">
              </div>
            </label>
            <div class="row">
              <div class="large-6 medium-6 columns">
                <label><span translate>Select total number of copayers</span>
                  <select ng-model="totalCopayers" ng-options="totalCopayers as totalCopayers for totalCopayers in TCValues">
                  </select>
                </label>
              </div>
              <div class="large-6 medium-6 columns">
                <label><span translate>Select required signatures</span>
                  <select ng-model="requiredCopayers" ng-options="requiredCopayers as requiredCopayers for requiredCopayers in RCValues" ng-disabled="totalCopayers == 1">
                  </select>
                </label>
              </div>
            </div>
            <div class="box-setup-copayers">
              <div class="box-setup-copayers p10 oh">
                <div class="copay-box" ng-class="{'box-setup-copay-required': ($index+1) <= requiredCopayers}" ng-repeat="i in getNumber(totalCopayers) track by $index">
                  <span ng-include="'views/includes/photo.html'"></span>
                </div>
              </div>
            </div>

            <div class="line-dashed-h m20b"></div>

            <div class="m20b oh">
              <a class="small left button-setup" ng-click="hideAdv=!hideAdv">
                <i class="fi-widget m3r"></i>
                <span translate ng-hide="!hideAdv">Show</span> 
                <span translate ng-hide="hideAdv">Hide</span> 
                <span translate>advanced options</span>
                <i ng-if="hideAdv" class="icon-arrow-down4"></i>
                <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
              </a>
            </div>
            <div ng-hide="hideAdv" class="row">
              <div class="large-12 columns">

                <label for="network-name">
                  <input id="network-name" type="checkbox" ng-model="networkName" ng-true-value="'testnet'"
                  ng-false-value="'livenet'" class="form-control" ng-checked="networkName == 'testnet' ? true : false">
                  Use test network
                </label>

                <label for="ext-master">Master extended private key
                <input id="ext-master" 
                  type="text" 
                  placeholder="BIP32 master extended private key (hex)" 
                  name="private" ng-model="private">
              </div>
            </div>


            <div class="text-right">
              <button translate  type="submit" class="button primary expand m0" ng-disabled="setupForm.$invalid || loading">
                Create {{requiredCopayers}}-of-{{totalCopayers}} wallet
              </button>
            </div>
            <div ng-show="showNetwork()"><p translate class="size-12">Using network: {{networkName}} at <a href="{{networkUrl}}" target="_blank">{{networkUrl}}</a></p></div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
