<div ng-controller="CreateController">
  <div data-alert class="loading-screen" ng-show="loading">
    <i class="size-60 fi-bitcoin-circle icon-rotate spinner"></i>
    <span translate>Creating wallet...</span>
  </div>
  <div class="setup" ng-show="!loading">
    <form name="setupForm" ng-submit="create(setupForm)" novalidate>

      <h1>{{'Create Wallet'|translate}}</h1>
      <div class="row collapse m0">
      <div class="large-6 columns">
          <div class="box-setup oh">
            <img src="img/step-1.png" alt="Step 1" width="157" class="right m15t" ng-if="!isSetupWalletPage && !isMobile">
            <h1 translate class="text-secondary line-sidebar-b">Create new wallet</h1>
            <label><span translate>Wallet name</span>
              <input type="text" placeholder="{{'Family vacation funds'|translate}}" class="form-control" ng-model="walletName">
            </label>
            <div class="row">
              <div class="large-6 medium-6 columns">
                <label><span translate>Select total number of copayers (*)</span>
                  <select ng-model="totalCopayers" ng-options="totalCopayers as totalCopayers for totalCopayers in TCValues">
                  </select>
                </label>
              </div>
              <div class="large-6 medium-6 columns">
                <label><span translate>Select required signatures (*)</span>
                  <select ng-model="requiredCopayers" ng-options="requiredCopayers as requiredCopayers for requiredCopayers in RCValues" ng-disabled="totalCopayers == 1">
                  </select>
                </label>
              </div>
            </div>
            <div class="box-setup-copayers">
              <div class="box-setup-copayers p10">
                <img class="br100 oh box-setup-copay m10" ng-repeat="i in getNumber(totalCopayers) track by $index" src="./img/satoshi.gif" title="Copayer {{$index+1}}-{{totalCopayers}}" ng-class="{'box-setup-copay-required': ($index+1) <= requiredCopayers}" width="50px">
              </div>
            </div>
            <p translate class="comment" ng-show="totalCopayers>1">(*) The limits are imposed by the bitcoin network.</p>
            <div class="text-right">
              <button translate  type="submit" class="button secondary m0" ng-disabled="setupForm.$invalid || loading">
                Create {{requiredCopayers}}-of-{{totalCopayers}} wallet
              </button>
            </div>
            <div ng-show="showNetwork()"><p translate class="size-12">Using network: {{networkName}} at <a href="{{networkUrl}}" target="_blank">{{networkUrl}}</a></p></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
