<div class="transactions" data-ng-controller="HistoryController" data-ng-init="update()">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h1 class="hide-for-large-up">{{$root.title}}</h1> 
      <div ng-if="loading" class="m20b">
        <i class="fi-bitcoin-circle icon-rotate spinner"></i> 
        <span translate>Loading...</span>
      </div>
      <div ng-if="!blockchain_txs[0].txid && !loading">
        <em><strong translate>No transactions yet.</strong></em>
      </div>
    </div>
  </div>
  <div class="row" ng-if="blockchain_txs[0].txid">
    <div class="large-12 columns">
      <div class="panel" ng-repeat="btx in blockchain_txs | orderBy:'-ts'">
        <div class="row size-14" ng-click="openTxModal(btx)">

          <div class="large-2 medium-3 small-4 columns">
            <div class="tx-date oh">
              <time  ng-if="btx.ts">{{btx.ts | amTimeAgo}}</time>
              <span class="label alert" ng-show="!btx.ts && (!btx.confirmations || btx.confirmations == 0)">
                  <span translate>Unconfirmed</span>
              </span>
            </div>
          </div>

          <div class="large-4 medium-9 small-8 columns text-right">
            <span class="tx-amount " ng-class="{
                'text-primary' : btx.action == 'received',
                'text-warning': btx.action == 'sent', 
                'text-gray': btx.action == 'moved'}">
              <b>{{btx.amount}} {{$root.wallet.settings.unitName}}</b>
              <span class="alt-currency" ng-class="{
                'green' : btx.action == 'received',
                'red': btx.action == 'sent', 
                'gray': btx.action == 'moved'}" ng-show="btx.alternativeAmount != null">
                  {{btx.alternativeAmount}} {{$root.wallet.settings.alternativeIsoCode}}
                </span>
            </span>
            <span ng-class="{
                'text-primary' : btx.action == 'received',
                'text-warning': btx.action == 'sent', 
                'text-gray': btx.action == 'moved'}">
              <i class="m15h" ng-class="{
                  'fi-arrow-left' : btx.action == 'received',
                  'fi-arrow-right': btx.action == 'sent', 
                  'fi-loop': btx.action == 'moved'}"></i>
            </span>
          </div>

          <div class="large-6 medium-12 small-12 columns text-gray">
            <div class="tx-comment" ng-show="btx.comment">
              <i class="fi-comment-quotes"></i> {{btx.comment}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div ng-show="blockchain_txs[0].txid">
    <div class="row">
      <div class="large-9 columns">
        <pagination page="currentPage" total-items="totalItems" items-per-page="itemsPerPage" on-select-page="selectPage(page)" max-size="10" />
      </div>
      <div class="large-3 columns m5t text-right size-12 show-for-large-up">
        <div ng-if="generating">
          <i class="fi-bitcoin-circle icon-rotate spinner"></i> 
          <span translate>Generating file...</span>
        </div>
        <div ng-if="!generating">
          <a class="text-gray" href="#!/history" ng-click="downloadHistory();">
            <i class="fi-page-export-csv"></i> 
            <span translate>Download CSV file</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
