<div class="home-wallet" ng-controller="HomeWalletController" ng-init="initHome()">
  <div class="row hide-for-large-up">
    <div class="medium-12 small-12 columns">
      <h1 translate>Home</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel oh">
        <div class="row">
          <div class="large-8 medium-6 small-12 columns">
            <div class="ellipsis oh">
              <div class="avatar-wallet left">{{$root.wallet.getName() | limitTo: 1}}</div>
              <h2 class="m10t left">{{$root.wallet.getName()}}</h2>
            </div>
          </div>
          <div class="large-4 medium-6 small-12 columns">
            <div class="text-right">
              <span class="size-21">
                <strong>
                  <span ng-if="!$root.updatingBalance">{{$root.wallet.balanceInfo.totalBalance || 0}}</span>
              <span ng-if="$root.updatingBalance"><i class="fi-bitcoin-circle icon-rotate spinner"></i></span>
              {{$root.wallet.settings.unitName}}
              </strong>
              </span>
              <span class="size-14 db m5t text-gray">
                <span ng-if="!$root.wallet.balanceInfo.updatingBalance && $root.wallet.balanceInfo.alternativeBalanceAvailable">{{$root.wallet.balanceInfo.totalBalanceAlternative}} {{$root.wallet.balanceInfo.alternativeIsoCode}}</span>
              <span ng-if="!$root.wallet.balanceInfo.updatingBalance && !$root.wallet.balanceInfo.alternativeBalanceAvailable">N/A</span>
              <span ng-if="$root.wallet.balanceInfo.updatingBalance"><i class="fi-bitcoin-circle icon-rotate spinner"></i></span>
              </span>
            </div>
          </div>
        </div>


        <div class="row ">
          <div class="large-12 columns line-t m10t">
            <div class="right size-12">
              <span ng-if="!isShared">Personal Wallet</span>
              <span ng-if="isShared">
                Multisignature wallet [{{$root.wallet.requiredCopayers}} of {{$root.wallet.totalCopayers}} ]
              </span>
              <span ng-if="$root.wallet.isTestnet()"> in TESTNET</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div ng-show="requiresMultipleSignatures">
    <div class="row">
      <div class="large-12 columns">
        <div class="panel oh">
          <h2 class="line-b" translate>Spend proposals</h2>
          <div class="last-transactions pr" ng-repeat="tx in  $root.wallet.pendingTxProposals  | orderBy:'-createdTs'" ng-include="'views/includes/transaction.html'" ng-if="$root.wallet.pendingTxProposals[0]">
          </div>

          <div class="text-right size-12 line-t p10t" ng-show="$root.wallet.balanceInfo.lockedBalance && !$root.wallet.balanceInfo.updatingBalance">
          Total Locked Balance:
          <b>{{$root.wallet.balanceInfo.lockedBalance}} {{$root.wallet.settings.unitName}} </b> 
          <span class="text-gray"> {{$root.wallet.balanceInfo.lockedBalanceAlternative}} {{$root.wallet.balanceInfo.alternativeIsoCode}} </span>
          </div>


          <div class="pr" ng-if="!$root.wallet.pendingTxProposals[0]">
              <p> No pending spend proposals at the moment.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="isShared">
    <!-- List of copayers -->
    <div class="large-12 columns">
      <div class="panel oh">
        <h2 class="line-b" translate>Copayers</h2>
        <div ng-include="'views/includes/copayers.html'"></div>
      </div>
    </div>
  </div>
</div>
