<div class="home" ng-controller="HomeController">

<P>( TODO: only show this login form if there is any profile:: key)

<p>( TODO: if user has wallets (wallet::) show message: Copay now needs a profile to ... , you can import your wallets after creating your profile )
  <div data-alert class="loading-screen" ng-show="retreiving">
    <i class="size-60 fi-bitcoin-circle icon-rotate spinner"></i>
    Retreiving information from storage...
  </div>
  <div class="row" ng-show="!loading && !retreiving">
    <div class="large-4 columns logo-setup">
      <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
      <div ng-include="'views/includes/version.html'"></div>
    </div>
    <div class="large-8 columns line-dashed-setup-v">
      <div class="button-setup">
        <h1 class="text-white line-sidebar-b" translate >Login </h1>
        <form  name="loginForm" ng-submit="openProfile(loginForm)" novalidate>
          <fieldset>
            <label for="email">Email</label>
            <input type="text" ng-model="email" class="form-control" name="email">
            <label for="password">Password</label>
            <input type="text" ng-model="password" class="form-control" name="password">
          </fieldset>
          <div class="text-right">
            <button translate type="submit" class="button primary m0 ng-binding" ng-disabled="setupForm.$invalid || loading" disabled="disabled" ng-click="save()">
             Login 
            </button>
          </div>
        </form>
      </div>




      <div class="button-setup">
        <a translate class="text-secondary" href="#!/createProfile">Create a profile</a>
      </div>
      <div class="footer-setup">
        <a class="right size-12 text-gray" href="#!/settings"><i class="m10r
            size-14 fi-wrench"></i><span translate>Settings</span></a>
      </div>
    </div>
  </div>
</div>


