<div class="import" ng-controller="ImportController">
  <div ng-show="$root.starting">
    <div ng-include="'views/includes/loading.html'" ng-init="title = importStatus"></div>
  </div>

  <div ng-show="!$root.starting">
    <div class="row hide-for-large-up">
      <div class="large-12 medium-12 small-12 columns">
        <h1>{{$root.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <form name="importForm" ng-submit="import(importForm)" novalidate>
            <div class="box-notification" ng-show="error">
              <div class="box-icon error">
                <i class="fi-x size-24"></i>
              </div>
              <span class="text-warning size-14">
                {{error|translate}}
              </span>
            </div>

            <div ng-show="!isSafari && !isCordova && !backupOldWallet">
              <legend for="backupFile" class="m10b">
                <span translate>Choose backup file from your computer</span>  <i class="fi-laptop"></i>
              </legend>
              <input type="file" class="form-control" placeholder="{{'Select a backup file'|translate}}" name="backupFile" ng-model="backupFile" ng-file-select>
            </div>

            <div ng-show="isSafari || isCordova && !backupOldWallet">
              <label for="backupText" class="m10b">
                <span translate>Paste backup plain text code</span>  <i class="fi-clipboard"></i>
              </label>
              <textarea class="form-control" name="backupText" ng-model="backupText" rows="5"></textarea>
            </div>

            <div ng-show="anyWallet && (!backupFile || !backupText)">
              <label for="backupOldWAllet" class="m10b size-14">
                <span translate>You have old wallets in your localStorage. Choose one to import</span>  <i class="fi-bitcoin"></i>
              </label>
              <select ng-model="backupOldWallet" name="backupOldWallet" ng-options="wallet.name for wallet in oldWallets">
                <option value="">-- choose wallet --</option>
              </select>
            </div>


            <label for="password"><span translate>Password</span>  <small translate>Required</small>
            </label>
            <div class="input">
              <input type="password" class="form-control" placeholder="{{'Your wallet password'|translate}}" name="password" ng-model="password" required>
            </div>

            <div class="line-dashed-h m20b"></div>

            <div class="m20b oh">
              <a class="small left button-setup" ng-click="hideAdv=!hideAdv">
                <i class="fi-widget m3r"></i>
                <span translate ng-hide="!hideAdv">Show</span> 
                <span translate ng-hide="hideAdv">Hide</span> 
                <span translate>advanced options</span>
                <i ng-if="hideAdv" class="icon-arrow-down4"></i>
                <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
              </a>
            </div>

            <div ng-hide="hideAdv" class="m10t">
              <label>
                <input type="checkbox" class="form-control" name="skipPublicKeyRing" ng-model="skipPublicKeyRing">
                <span translate>Skip public keys</span>
              </label>

              <label>
                <input type="checkbox" class="form-control" name="skipTxProposals" ng-model="skipTxProposals">
                <span translate>Skip transaction proposals</span>
              </label>
            </div>


            <div data-alert ng-show="skipFields">
              <i class="size-18 fi-alert"></i> 
              <span translate>Skipping fields: {{skipFields}}</span>
            </div>


            <div class="text-right m20t">
              <button translate type="submit" class="button expand black m0" 
                ng-disabled="importForm.$invalid || $root.starting">
                Import backup
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="extra-margin-bottom"></div>
