
<div class="import-profile" ng-controller="ImportProfileController">
  <div class="loading-screen" ng-show="loading">
    <div class="spinner">
      <div class="contener_general">
          <div class="contener_mixte"><div class="ballcolor ball_1">&nbsp;</div></div>
          <div class="contener_mixte"><div class="ballcolor ball_2">&nbsp;</div></div>
          <div class="contener_mixte"><div class="ballcolor ball_3">&nbsp;</div></div>
          <div class="contener_mixte"><div class="ballcolor ball_4">&nbsp;</div></div>
      </div>
      <span class="text-gray size-12">{{ importStatus|translate }}</span>
    </div>
  </div>

  <div ng-show="!loading">
    <div class="large-4 large-centered medium-6 medium-centered columns">
      <div class="logo-setup">
        <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
        <div ng-include="'views/includes/version.html'"></div>
      </div>
      <div>
        <h2 translate>Import Profile</h2>
        <form name="importProfileForm" ng-submit="import(importProfileForm)" novalidate>
          <div class="box-notification" ng-show="error">
            <div class="box-icon error">
              <i class="fi-x size-24"></i>
            </div> 
            <span class="text-warning size-14">
              {{error|translate}}
            </span>
          </div>

          <div ng-show="!is_iOS">
            <div class="input">
              <input type="file" class="db form-control" 
            placeholder="{{'Select a backup file'|translate}}" name="backupFile" ng-model="backupFile" ng-file-select>
            </div>
          </div>

          <div ng-show="is_iOS">
            <div class="input"> 
            <textarea 
              placeholder="Paste backup plain text code" 
              class="form-control" 
              name="backupText" 
              ng-model="backupText" 
              rows="5"></textarea>
            <i class="icon-compose"></i>
            </div>
          </div>
          <div class="input">
            <input type="password" class="form-control" placeholder="{{'Your wallet password'|translate}}" name="password" ng-model="password" required>
            <i class="icon-locked"></i>
          </div>

          <button translate type="submit" 
            class="button primary radius expand m0" 
            ng-disabled="importProfileForm.$invalid || loading">
            Import backup
          </button>
        </form>
        <div class="box-setup-footer">
          <a class="text-gray" href="#!/">
            <i class="icon-arrow-left4"></i> 
            <span translate>Back</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

