<div class="join" ng-controller="JoinController">
  <div data-alert class="loading-screen" ng-show="loading">
    <i class="size-60 fi-bitcoin-circle icon-rotate spinner"></i>
    <span translate>Connecting to Insight Wallet Server...</span> 
  </div>

  <div ng-show="!loading">
    <h1 class="hide-for-large-up">{{$root.title}}</h1>
      <div class="row">
        <div class="large-12 columns">
        <form name="joinForm" ng-submit="join(joinForm)" novalidate>
          <div class="panel">
            <div class="row collapse">
              <label for="connectionId" class="left"><span translate>Wallet Secret</span> 
                <small translate data-options="disable_for_touch:true" ng-show="joinForm.connectionId.$pristine" class="has-tip
                  text-gray" tooltip="Paste wallet secret here">Required</small>
              </label>
              <span translate class="has-error right size-12" ng-show="joinForm.connectionId.$invalid
                  && !joinForm.connectionId.$pristine">
                <span class="icon-input"><i class="fi-x"></i></span>
                Wallet Secret is not valid!
              </span>
              <small class="icon-input right" ng-show="joinForm.connectionId.$valid
                    && !joinForm.connectionId.$pristine"><i class="fi-check"></i></small>


              <div class="pr">
                <input id="connectionId" type="text" class="small-9 columns" placeholder="{{'Paste wallet secret here'|translate}}" name="connectionId" ng-model="connectionId" wallet-secret required>
                <div ng-hide="showScanner || disableScanner">
                  <a class="postfix button black" ng-click="openScanner()"><i class="fi-camera">&nbsp;</i></a>
                </div>
                <div ng-show="showScanner">
                  <a class="postfix button warning" ng-click="cancelScanner()"><i class="fi-x">&nbsp;</i></a>
                </div>
              </div>

              <div id="scanner" class="row" ng-if="showScanner">
                <div class="text-centered">
                  <canvas id="qr-canvas" width="200" height="150"></canvas>
                  <div ng-show="isMobile">
                    <div id="file-input-wrapper" class="btn btn-primary">
                      <span class="pull-left text-centered">
                        <i class="glyphicon glyphicon-refresh icon-rotate"></i>
                        <span translate>Get QR code</span>
                      </span>
                      <input id="qrcode-camera" type="file" capture="camera" accept="image/*">
                    </div>
                  </div>
                  <div ng-hide="isMobile">
                    <video id="qrcode-scanner-video" width="300" height="225" ng-hide="isMobile"></video>
                  </div>
                </div>
              </div>
            </div>

            <div class="line-dashed-h"></div>

            <div class="m20t m20b left">
              <a class="expand small" ng-click="hideAdv=!hideAdv">
                <i class="fi-widget m3r"></i>
                <span translate ng-hide="!hideAdv">Show</span> 
                <span translate ng-hide="hideAdv">Hide</span> 
                <span translate>advanced options</span>
                <i ng-if="hideAdv" class="icon-arrow-down4"></i>
                <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
              </a>
            </div>
            <div ng-hide="hideAdv">
              <p>
              <input type="text" placeholder="BIP32 master extended private key (hex)" name="private" ng-model="$parent.private">
            </div>

            <div class="text-right m20t">
              <button translate type="submit" class="button secondary m0" ng-disabled="joinForm.$invalid">Join</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End !loading -->
</div>


