<div class="backup" ng-controller="ManageController">
  <h1 translate>Manage Wallets</h1>
  <div class="oh large-12 columns panel">
    <h3><i class="fi-download m10r"></i> <span translate>Manage Wallets</span> </h3>
    <p translate class="large-8 columns text-gray">It's important to backup your profile so that you can recover it in case of disaster. The backup will include all your profile's wallets</p>
    <div class="large-4 columns">
      <a translate class="button primary m0" ng-click="downloadBackup()"
        ng-show="!isSafari">Backup profile</a>
      <a translate class="button primary m0" ng-click="viewBackup()"
        ng-show="isSafari && !hideViewBackup">View profile backup</a>
    </div>
    <div ng-show="backupPlainText">
      <textarea readonly rows="5">{{backupPlainText}}</textarea>
      <div class="show-for-large-up">
        <span translate class="size-12">Copy to clipboard</span> <span class="btn-copy" clip-copy="backupPlainText"> </span>
      </div>
      <div class="hide-for-large-up">
        <span translate class="size-12">Copy this text as it is in a safe place (notepad or email)</span>
      </div>
    </div>
  </div>
  <div class="large-12 columns line-dashed-h m15b"></div>
  <div class="row collapse">
    <ul>
      <li class="nav-item" ui-route="{{create}}">
        <a href="#!/create" class="db p20h" title="Create"><i class="size-21 m20r fi-plus"></i> {{'Create' | translate }} </a>
      </li>
      <li class="nav-item" ui-route="{{create}}">
        <a href="#!/join" class="db p20h" title="Join"><i class="size-21 m20r fi-torsos-all"></i> {{'Join' | translate }} </a>
      </li>
      <li class="nav-item" ui-route="{{create}}">
        <a href="#!/import" class="db p20h" title="Create"><i class="size-21 m20r fi-download"></i> {{'Import wallet' | translate }} </a>
      </li>
    </ul>
  </div>
</div>
