<div class="backup" ng-controller="ManageController">
  <h1 class="hide-for-large-up">{{$root.title}}</h1>
  <div class="row">
    <div class="large-4 columns" >
      <div class="panel text-center" ui-route="{{create}}">
        <div><i class="size-72 fi-plus text-gray"></i></div>
        <p class="text-gray">Create a new Wallet</p>
        <a href="#!/create" class="button primary radius" title="Create"> {{'Create' | translate }} </a>
      </div>    
    </div>
    <div class="large-4 columns" ui-route="{{create}}">
      <div class="panel text-center">
        <div><i class="size-72 fi-torsos-all text-gray"></i></div>
        <p class="text-gray">Join an existent Wallet</p>
        <a href="#!/join" class="button secondary radius" title="Join"> {{'Join' | translate }} </a>
      </div>    
    </div>
    <div class="large-4 columns" ui-route="{{create}}">
      <div class="panel text-center">
        <div><i class="size-72 fi-download text-gray"></i></div>
        <p class="text-gray">Import a Wallet to Copay</p>
        <a href="#!/import" class="button black radius" title="Import"> {{'Import wallet' | translate }}</a>
      </div>    
    </div>
  </div>

  <div class="line-dashed-h m30v"></div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-download m10r"></i> <span translate>Backup Profile</span></h2>
        <p translate class="text-gray">It's important to backup your profile so that you can recover it in case of disaster. The backup will include all your profile's wallets</p>
        <a translate class="button primary m0" ng-click="downloadBackup()"
          ng-show="!isSafari">Backup profile</a>
        <a translate class="button primary m0" ng-click="viewBackup()"
          ng-show="isSafari && !hideViewBackup">View profile backup</a>
        <div ng-show="backupPlainText">
          <textarea rows="5">{{backupPlainText}}</textarea>
          <div class="show-for-large-up">
            <span translate class="size-12">Copy to clipboard</span> <span class="btn-copy" clip-copy="backupPlainText"> </span>
          </div>
          <div class="hide-for-large-up">
            <span translate class="size-12">Copy this text as it is in a safe place (notepad or email)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
