<div class="backup" ng-controller="ManageController">
  <h1 translate>Manage Wallets</h1>
  <div class="row collapse">
    <div class="large-12 columns">
      <div class="large-4 columns" >
        <div class="panel text-center" ui-route="{{create}}">
          <div><i class="size-72 fi-plus text-gray"></i></div>
          <p class="text-gray">Create a new Wallet</p>
          <a href="#!/create" class="button primary radius" title="Create"> {{'Create' | translate }} </a>
        </div>    
      </div>
      <div class="large-4 columns" ui-route="{{create}}">
        <div class="panel text-center">
          <div><i class="size-72 fi-torsos-all text-gray"></i></div>
          <p class="text-gray">Join an existent Wallet</p>
          <a href="#!/join" class="button secondary radius" title="Join"> {{'Join' | translate }} </a>
        </div>    
      </div>
      <div class="large-4 columns" ui-route="{{create}}">
        <div class="panel text-center">
          <div><i class="size-72 fi-download text-gray"></i></div>
          <p class="text-gray">Import a Wallet to Copay</p>
          <a href="#!/import" class="button black radius" title="Import"> {{'Import wallet' | translate }}</a>
        </div>    
      </div>
    </div>
  </div>


  <div class="large-12 columns line-dashed-h m30v"></div>
  <div class="oh large-12 columns panel">
    <h3><i class="fi-download m10r"></i> <span translate>Manage Wallets</span> </h3>
    <p translate class="large-8 columns text-gray">It's important to backup your profile so that you can recover it in case of disaster. The backup will include all your profile's wallets</p>
    <div class="large-4 columns">
      <a translate class="button primary m0" ng-click="downloadBackup()"
        ng-show="!isSafari">Backup profile</a>
      <a translate class="button primary m0" ng-click="viewBackup()"
        ng-show="isSafari && !hideViewBackup">View profile backup</a>
    </div>
    <div ng-show="backupPlainText">
      <textarea readonly rows="5">{{backupPlainText}}</textarea>
      <div class="show-for-large-up">
        <span translate class="size-12">Copy to clipboard</span> <span class="btn-copy" clip-copy="backupPlainText"> </span>
      </div>
      <div class="hide-for-large-up">
        <span translate class="size-12">Copy this text as it is in a safe place (notepad or email)</span>
      </div>
    </div>
  </div>
</div>
