<div class="backup" ng-controller="MoreController">
  <div class="row show-for-large-up">
    <div class="large-12 medium-12 small-12 columns">
      <h1>{{$root.title}}</h1>
    </div>
  </div>
  <form name="settingsForm">
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="panel">
          <label translate>Wallet Unit</label>
          <select class="form-control" ng-model="selectedUnit" ng-options="o.name for o in unitOpts" ng-change="save()">
          </select>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="panel">
          <label translate>Alternative Currency</label>
          <select class="form-control" ng-model="selectedAlternative" ng-options="alternative.name for alternative in alternativeOpts" ng-change="save()">
          </select>
        </div>
      </div>
    </div>
  </form>

  <div class="row" ng-init="isComplete = wallet.isComplete(); networkName = wallet.getNetworkName()">
    <div class="large-12 columns">
      <h4>Wallet info</h4>
      <table>
        <tr>
          <td><strong>Name:</strong></td>
          <td>{{wallet.name || wallet.id }}</td>
        </tr>
        <tr>
          <td><strong>Status:</strong></td>
          <td>{{isComplete ? 'Complete' : 'Waiting for copayers...'}}</td>
        </tr>
        <tr>
          <td><strong>Type:</strong></td>
          <td>{{wallet.requiredCopayers}} of {{wallet.totalCopayers}} - {{networkName}}</td>
        </tr>
        <tr>
          <td><strong>Balance:</strong></td>
          <td><span ng-if="isComplete">{{wallet.balanceInfo.totalBalance || 0}} {{wallet.settings.unitName}}</span></td>
        </tr>
        <tr>
          <td><strong>Aprox. size:</strong></td>
          <td>{{wallet.kb}} kB <span ng-if="wallet.usage">({{wallet.usage}}%)</span></td>
        </tr>
      </table> 
    </div>
  </div>

  <div class="row" ng-show="!backupWalletPlainText && !error">
    <div class="large-12 medium-12 small-12 columns">
      <button class="primary expand" ng-click="downloadWalletBackup()" ng-disabled="loading"
        ng-show="!isSafari && !isCordova"><i class="fi-download"></i> Download backup</button>
      <button class="primary expand" ng-click="viewWalletBackup()" ng-disabled="loading"
        ng-show="isSafari && !isCordova"><i class="fi-eye"></i> View backup</button> 
      <div ng-show="isCordova">
        <h4>Backup options</h4>
        <button class="primary expand" 
          ng-click="copyWalletBackup()"><i class="fi-clipboard-pencil"></i> Copy to clipboard</button>
        <button class="primary expand" 
          ng-click="sendWalletBackup()"><i class="fi-mail"></i> Send by email</button>
      </div>
    </div>
  </div>

  <div class="row m20b" ng-show="backupWalletPlainText">
    <div class="large-12 columns">
      <h3>Copy backup in a safe place</h3>
      <div class="input">
        <textarea class="show-for-large-up" readonly rows="7">{{backupWalletPlainText}}</textarea>
        <textarea class="hide-for-large-up" rows="12">{{backupWalletPlainText}}</textarea>
      </div>
      <div translate class="size-12 text-gray text-right">
        <i class="icon-compose"></i> 
        Copy this text as it is in a safe place (notepad or email)
      </div>
    </div>
  </div>

  <div class="m20b row">
    <div class="large-12 columns">
      <a class="small left button-setup" ng-click="hideAdv=!hideAdv">
        <i class="fi-widget m3r"></i>
        <span translate ng-hide="!hideAdv">Show</span> 
        <span translate ng-hide="hideAdv">Hide</span> 
        <span translate>advanced options</span> 
        <i ng-if="hideAdv" class="icon-arrow-down4"></i>
        <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
      </a>
    </div>
  </div>

  <div ng-hide="hideAdv" class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> 
          <span translate>Delete wallet</span>
        </h2>
        <div class="box-notification" ng-show="error">
          <div class="box-icon error">
            <i class="fi-x size-24"></i>
          </div>
          <span class="text-warning size-14">
            {{error|translate}}
          </span>
        </div>
        <p translate class="text-gray">Permanently delete this wallet. WARNING: this action cannot be reversed.</p>
        <div ng-show="!confirmDelete">
          <a translate class="button warning m0" ng-click="confirmDelete=!confirmDelete">Delete wallet
          </a>
        </div>
        <div class="text-center" ng-show="confirmDelete">
          <h2>Are you sure you want to delete this wallet?</h2>
          <div class="row">
            <div class="large-6 medium-6 small-6 columns">
              <button class="gray" ng-disabled="loading" 
                ng-click="confirmDelete=!confirmDelete">Cancel</button>
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <button class="warning" ng-disabled="loading" ng-click="deleteWallet()">
                <i class="fi-trash"></i> Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> 
          <span translate>Master Private Key</span> </h2>
        <p translate class="text-gray">
        Your master private key contains the information to sign <b>any</b> transaction on this wallet. Handle with care.
        </p>
        <a class="button primary m0" ng-click="hidePriv=!hidePriv">
          <span translate ng-hide="!hidePriv">Show</span>
          <span translate ng-hide="hidePriv">Hide</span>
        </a>
        <textarea class="m10t" ng-hide="hidePriv">{{priv}}</textarea>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> <span translate>Scan Wallet Addresses</span></h2>
        <p translate class="text-gray">
        This will scan the blockchain looking for addresses derived from your wallet, in case you have funds in addresses not yet generated (e.g.: you restored an old backup). This will also trigger a synchronization of addresses to other connected peers.
        </p>
        <a translate class="button primary m0" ng-click="updateIndexes()">
          Scan
        </a>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> <span translate>Purge Pending Transaction Proposals</span></h2>
        <p translate class="text-gray">
        Pending Transactions Proposals will be discarded. This needs to be done on <b>ALL</b> peers of a wallet, to prevent the old proposals to be resynced again.
        </p>
        <a translate class="button warning m0"  ng-click="purge()">
          Purge
        </a>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> <span translate>Purge ALL Transaction Proposals</span></h2>
        <p translate class="text-gray">
        ALL Transactions Proposals will be discarded. This needs to be done on <b>ALL</b> peers of a wallet, to prevent the old proposals to be resynced again.
        </p>
        <a translate class="button warning m0"  ng-click="purge(true)">
          Purge All
        </a>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> 
          <span translate>Join Secret</span>
        </h2>
        <p translate class="text-gray">
        This is the initial secret join string. Since your wallet it is already complete, this is only useful to rejoin peers that lost their backup BUT have the extended private key stored (they will be rejected on other case). They need to enter their extended private key during the join process (in advanced options).
        </p>
        <a class="button primary m0" ng-click="hideSecret=!hideSecret">
          <span translate ng-hide="!hideSecret">Show</span>
          <span translate ng-hide="hideSecret">Hide</span>
        </a>
        <textarea class="m10t" ng-hide="hideSecret">{{secret}}</textarea>
      </div>
    </div>
  </div>

</div>
<div class="extra-margin-bottom"></div>
