<div class="backup" ng-controller="MoreController">
  <div class="row hide-for-large-up">
    <div class="large-12 medium-12 small-12 columns">
      <h1>{{$root.title}}</h1>
    </div>
  </div>
  <form name="settingsForm">
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="panel">
          <label translate>Wallet Unit</label>
          <select class="form-control" ng-model="selectedUnit" ng-options="o.name for o in unitOpts" ng-change="save()">
          </select>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="panel">
          <label translate>Alternative Currency</label>
          <select class="form-control" ng-model="selectedAlternative" ng-options="alternative.name for alternative in alternativeOpts" ng-change="save()">
          </select>
        </div>
      </div>
    </div>
  </form>
  
  <div class="m20b row">
    <div class="large-12 columns">
      <a class="small left button-setup" ng-click="hideAdv=!hideAdv">
        <i class="fi-widget m3r"></i>
        <span translate ng-hide="!hideAdv">Show</span> 
        <span translate ng-hide="hideAdv">Hide</span> 
        <span translate>advanced options</span> 
        <i ng-if="hideAdv" class="icon-arrow-down4"></i>
        <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
      </a>
    </div>
  </div>

  <div ng-hide="hideAdv" class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> 
          <span translate>Master Private Key</span> </h2>
        <p translate class="text-gray">
        Your master private key contains the information to sign <b>any</b> transaction on this wallet. Handle with care.
        </p>
        <a class="button primary m0" ng-click="hidePriv=!hidePriv">
          <span translate ng-hide="!hidePriv">Show</span>
          <span translate ng-hide="hidePriv">Hide</span>
        </a>
        <textarea class="m10t" ng-hide="hidePriv">{{priv}}</textarea>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> <span translate>Scan Wallet Addresses</span></h2>
        <p translate class="text-gray">
        This will scan the blockchain looking for addresses derived from your wallet, in case you have funds in addresses not yet generated (e.g.: you restored an old backup). This will also trigger a synchronization of addresses to other connected peers.
        </p>
        <a translate class="button primary m0" ng-click="updateIndexes()">
          Scan
        </a>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> <span translate>Purge Pending Transaction Proposals</span></h2>
        <p translate class="text-gray">
        Pending Transactions Proposals will be discarded. This needs to be done on <b>ALL</b> peers of a wallet, to prevent the old proposals to be resynced again.
        </p>
        <a translate class="button warning m0"  ng-click="purge()">
          Purge
        </a>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> <span translate>Purge ALL Transaction Proposals</span></h2>
        <p translate class="text-gray">
        ALL Transactions Proposals will be discarded. This needs to be done on <b>ALL</b> peers of a wallet, to prevent the old proposals to be resynced again.
        </p>
        <a translate class="button warning m0"  ng-click="purge(true)">
          Purge All
        </a>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="panel">
        <h2><i class="fi-minus-circle m10r"></i> 
          <span translate>Join Secret</span>
        </h2>
        <p translate class="text-gray">
        This is the initial secret join string. Since your wallet it is already complete, this is only useful to rejoin peers that lost their backup BUT have the extended private key stored (they will be rejected on other case). They need to enter their extended private key during the join process (in advanced options).
        </p>
        <a class="button primary m0" ng-click="hideSecret=!hideSecret">
          <span translate ng-hide="!hideSecret">Show</span>
          <span translate ng-hide="hideSecret">Hide</span>
        </a>
        <textarea class="m10t" ng-hide="hideSecret">{{secret}}</textarea>
      </div>
    </div>
  </div>

</div>
