<div class="open" ng-controller="OpenController">
  <div data-alert class="loading-screen" ng-show="loading && !failure">
    <i class="size-60 fi-bitcoin-circle icon-rotate spinner"></i>
    Authenticating and looking for peers...
  </div>
  <div class="row" ng-show="!loading">
    <div class="large-4 columns logo-setup">
      <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
      <div ng-include="'views/includes/version.html'"></div>
    </div>
    <div class="large-8 columns line-dashed-setup-v">
      <div class="box-setup">
        <h1 class="text-white line-sidebar-b">Open Wallet</h1>
        <form name="openForm" ng-submit="open(openForm)" novalidate>
          <select class="form-control" ng-model="selectedWalletId" ng-options="w.id as w.show for w in wallets" required>
          </select>
          <input type="password" class="form-control" placeholder="Your password" name="openPassword" ng-model="openPassword" required>
          <div class="text-right">
            <a href="#!/" class="back-button text-white m20r">&laquo; Back</a>
            <button type="submit" class="button white m0" ng-disabled="openForm.$invalid || loading" loading="Opening">Open</button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- End !loading -->
</div>


