<div class="addresses" ng-controller="ReceiveController" ng-init="setAddressList()">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h1 class="hide-for-large-up">{{$root.title}}</h1> 
        <div ng-show="!addresses[0]">
          <i class="fi-bitcoin-circle icon-rotate spinner"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" ng-if="addresses.length">
        <div ng-repeat="addr in addresses">
          <div class="panel">
            <div class="row show-for-large-up">
              <div class="large-7 medium-9 columns">
                <div class="list-addr">
                  <contact address="{{::addr.address}}" tooltip-popup-delay="500" tooltip tooltip-placement="right">
                  <small translate class="label" ng-if="::addr.isChange">change</small>
                </div>
              </div>
              <div class="large-3 medium-3 columns text-right">
                <span ng-show="$root.updatingBalance">
                  <i class="fi-bitcoin-circle icon-rotate spinner"></i>
                </span>
                <span class="size-14" ng-show="!$root.updatingBalance">
                  <b>{{addr.balance || '0'}} {{$root.wallet.settings.unitName}}</b>
                </span>
              </div>
              <div class="large-2 columns show-for-large-up text-right">
                <a class="size-12" ng-click="openAddressModal(addr)"> Show QR</a>
              </div>
            </div>
            <div class="row hide-for-large-up" ng-click="openAddressModal(addr)">
              <div class="small-12 columns">
                <div class="list-addr">
                  <div class="ellipsis">
                    <span><contact address="{{::addr.address}}"></span>
                    <small translate class="label" ng-if="::addr.isChange">change</small>
                  </div>
                  <div class="text-right m10t">
                    <span class="size-14" ng-show="$root.updatingBalance">
                      <i class="fi-bitcoin-circle icon-rotate spinner"></i>
                    </span>
                    <span class="size-14" ng-show="!$root.updatingBalance">
                      <b>{{addr.balance || '0'}} {{$root.wallet.settings.unitName}}</b>
                    </span>
                  </div>
                </div>
              </div>
            </div> <!-- end of panel mobile --> 
          </div>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="m20b text-right">
          <a class="size-12" ng-click="toggleShowAll()" ng-show="addrLength > 3">
            <span translate ng-if="!showAll">Show all</span>
            <span translate ng-if="showAll">Show less</span>
          </a>
        </div>
        <a class="button tiny primary text-center" ng-click="newAddr()" ng-disabled="loading">
          <i class="fi-plus m5r"></i> Add
        </a>
      </div>
    </div>
</div>

