<div class="send" data-ng-controller="SendController">
  <div class="row" ng-show='$root.wallet.isReady()'>
    <div class="medium-8 medium-centered large-6 large-centered columns">
      <h3>{{title}}</h3>
      <form name="sendForm" ng-submit="submitForm(sendForm)" novalidate>
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <label for="address">To address
                <small ng-hide="!sendForm.address.$pristine || address">required</small>
                <small class="is-valid" ng-show="!sendForm.address.$invalid && address">valid!</small>
                <small class="has-error" ng-show="sendForm.address.$invalid && address">
                  not valid</small>
              </label>
              <div class="small-10 columns">
                <input type="text" id="address" name="address" ng-disabled="loading"
                placeholder="Send to" ng-model="address" valid-address required>
              </div>
              <div class="small-2 columns" ng-hide="showScanner || !isHttp">
                <a class="postfix button secondary" ng-click="openScanner()"><i class="fi-camera"></i></a>
              </div>
              <div class="small-2 columns" ng-show="showScanner && isHttp">
                <a class="postfix button warning" ng-click="cancelScanner()">Cancel</a>
              </div>
            </div>
            <div id="scanner" class="row" ng-if="showScanner">
              <div class="text-centered">
                <canvas id="qr-canvas" width="200" height="150"></canvas>
                <div ng-show="isMobile">
                  <div id="file-input-wrapper" class="btn btn-primary">
                    <span class="pull-left text-centered">
                      <i class="glyphicon glyphicon-refresh icon-rotate"></i>
                      Get QR code
                    </span>
                    <input id="qrcode-camera" type="file" capture="camera" accept="image/*">
                  </div>
                </div>
                <div ng-hide="isMobile">
                  <video id="qrcode-scanner-video" width="300" height="225" ng-hide="isMobile"></video>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="row collapse">
              <label for="amount">Amount
                <small ng-hide="!sendForm.amount.$pristine">required</small>
                <small class="is-valid" ng-show="!sendForm.amount.$invalid && !sendForm.amount.$pristine">Valid</small>
                <small class="has-error" ng-show="sendForm.amount.$invalid && !sendForm.amount.$pristine && !notEnoughAmount">
                  Not valid
                </small>
                <small ng-show="notEnoughAmount" class="has-error">Insufficient funds</small>
              </label>
              <div class="small-9 columns">
                <input type="number" id="amount" ng-disabled="loading"
                name="amount" placeholder="Amount" ng-model="amount"
                min="0.0001" max="10000000000" enough-amount required
                autocomplete="off"
                >
                <a class="small input-note" title="Send all funds"
                  ng-show="$root.availableBalance > 0" 
                  ng-click="topAmount(sendForm)">
                  Use all funds ({{getAvailableAmount()}} {{$root.unitName}})
                </a>                      
              </div>
              <div class="small-3 columns">
                <span class="postfix">{{$root.unitName}}</span>
              </div>
            </div>
          </div>
          <div class="large-6 medium-6 columns m10t" ng-show="amount>0">
            <small>
              Total amount for this transaction:
            </small>
            <div class="totalAmount">
              <b>{{amount + defaultFee |noFractionNumber}}</b> {{$root.unitName}}
              <small>
                {{ ((amount + defaultFee) * unitToBtc)|noFractionNumber:8}} BTC
              </small>
            </div>
            <small>
              Including fee of {{defaultFee|noFractionNumber}} {{$root.unitName}}
            </small>
          </div>
        </div>

        <div class="row" ng-show="wallet.totalCopayers > 1">
          <div class="large-12 columns">
            <div class="row collapse">
              <label for="comment">Note
                <small ng-hide="!sendForm.comment.$pristine">optional</small>
                <small class="is-valid" ng-show="!sendForm.comment.$invalid && !sendForm.comment.$pristine">valid!</small>
                <small class="has-error" ng-show="sendForm.comment.$invalid && !sendForm.comment.$pristine">too long!</small>
              </label>
              <div class="large-12 columns">
                <textarea id="comment" ng-disabled="loading"
                  name="comment" placeholder="Leave a private message to your copayers" ng-model="commentText" ng-maxlength="100"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-5 columns">
            <button type="submit" class="button secondary radius text-center" ng-disabled="sendForm.$invalid || loading" loading="Sending">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="large-6 medium-8 columns large-centered medium-centered line-dashed-h"> </div>
    <div class="medium-8 medium-centered large-6 large-centered columns">
      <h3>Address Book</h3>
      <p class="text-gray" ng-hide="showAddressBook()">Empty. Create an alias for your addresses</p>
      <table ng-show="showAddressBook()">
        <thead>
          <tr>
            <th>Label</th>
            <th>Address</th>
            <th>Creator</th>
            <th>Date</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <tr 
          ng-repeat="(addr, info) in $root.wallet.addressBook" 
          ng-class="{'addressbook-disabled': info.hidden}">
          <td><a ng-click="copyAddress(addr)" title="Copy address">{{info.label}}</a></td>
          <td width="100" class="ellipsis">{{addr}}</td>
          <td>{{$root.wallet.publicKeyRing.nicknameForCopayer(info.copayerId)}}</td>
          <td><time>{{info.createdTs | amCalendar}}</time></td>
          <td><a ng-click="toggleAddressBookEntry(addr)">{{info.hidden ?
              'Enable' : 'Disable'}}</a></td>
        </tr>
        </tbody>
      </table>
      <button class="m10t button tiny secondary radius text-center" ng-click="openAddressBookModal()">Add New Entry</button>
    </div>
  </div>
</div>

