<div class="settings" ng-controller="SettingsController">
  <div class="large-4 large-centered medium-6 medium-centered columns">
    <div class="logo-setup" id="top">
      <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
      <div ng-include="'views/includes/version.html'"></div>
    </div>
      <h2>{{title|translate}}</h2>
      <form name="settingsForm">
        <div class="box-notification" ng-show="message">
          <div class="box-icon">
            <i class="fi-check size-24"></i>
          </div> 
          <span class="text-primary size-14">
            {{message|translate}}
          </span>
        </div>
        <fieldset>
          <legend translate>Language</legend>
          <select class="form-control" ng-model="selectedLanguage" ng-options="o.name for o in availableLanguages" required>
          </select>
        </fieldset>
        <fieldset>
          <legend translate>Insight API server</legend>
          <div class="row collapse">
            <label class="left" for="insightLivenet">Livenet</label>
            <div translate class="has-error right size-12" ng-show="settingsForm.insightLivenet.$invalid">
              <span class="icon-input"><i class="fi-x"></i></span>
              Not valid
            </div>
          </div>
          <div class="input">
            <input type="text" ng-model="insightLivenet" class="form-control" name="insightLivenet" valid-url required>
            <i class="fi-link"></i>
          </div>
          
          <div class="row collapse">
            <label class="left" for="insightTestnet">Testnet</label>
            <div translate class="has-error right size-12" ng-show="settingsForm.insightTestnet.$invalid">
              <span class="icon-input"><i class="fi-x"></i></span>
              Not valid
            </div>
          </div>
          <div class="input">
            <input type="text" ng-model="insightTestnet" class="form-control" name="insightTestnet" valid-url required>
            <i class="fi-link"></i>
          </div>

          <div translate class="small text-gray">
          Insight API server is open-source software. You can run your own instances, check <a href="http://insight.is" target="_blank">Insight API Homepage</a>
          </div>
        </fieldset>
        <fieldset>
          <legend translate>Storage</legend>
          <label for="insightTestnet">Read and Store Profiles:</label>
          <select class="form-control" ng-model="selectedStorage" ng-options="o.name for o in availableStorages" required>
          </select>
          <div translate class="small text-gray">
          Wallets and profiles are stored encrypted using your password as a key. You can store the encrypted data locally, on this device, or remotely on the cloud (Insight Server). <a target="_blank" href="https://github.com/bitpay/copay/tree/master/js/plugins">More pluggins are welcomed!</a>
          </div>
        </fieldset>
        <fieldset>
          <legend translate>Log level</legend>
          <select class="form-control" ng-model="selectedLogLevel" ng-options="o.name for o in availableLogLevels" required>
          </select>
          <div translate class="small text-gray">
          Log level shows information on the console. This is useful to find bugs and to help users. 'debug' is the most verbose level while 'fatal' only shows unexpected errors</a>
          </div>
        </fieldset>
        <button translate type="submit" class="button primary radius expand m0" ng-disabled="settingsForm.$invalid || loading" ng-click="save()">
          Save
        </button>
      </form>
      <div class="box-setup-footer">
        <a class="text-gray" href="#!/">
          <i class="icon-arrow-left4"></i> 
          <span translate>Back</span>
        </a>
        <div class="right m10r">
          <a class="button-setup text-gray" href="" ng-click="reset()">
            <i class="fi-page-delete"></i> 
            <span translate>Reset settings</span>
          </a>
        </div>
 
      </div>
  </div>
</div>
