<div class="transactions" data-ng-controller="TransactionsController" data-ng-init="update()">
  <div ng-show='$root.wallet.isReady()'>
    <h1 ng-show="wallet.isShared()"> 
      <span translate>Transaction Proposals</span> <small>({{txs.length}})</small></h1>
    <div class="large-12" ng-show="wallet.isShared()">

      <div class="last-transactions" ng-repeat="tx in txs | paged">
        <div class="row collapse">
          <div ng-include="'views/includes/transaction.html'"></div>
        </div>
      </div>
      <p ng-show="txs.length == 0"><span translate>No transactions proposals yet.</span>
      </p>
      <pagination ng-show="txs.length > txpItemsPerPage" total-items="txs.length" items-per-page="txpItemsPerPage" page="txpCurrentPage" on-select-page="show()" class="pagination-small primary"></pagination>
    </div>

    <h1 ng-class="{'line-dashed': wallet.isShared()}">
      <span translate>Last transactions</span> 
      <small ng-hide="wallet.isShared() || !loading">
        <i class="fi-bitcoin-circle icon-rotate spinner"></i>
      </small>   
    </h1>

    <div class="large-12">
      <div class="m10b size-12" ng-hide="wallet.totalCopayers == 1">
        <a class="text-gray active" ng-click="toogleLast()" ng-disabled="loading" loading="Updating" ng-hide="lastShowed && !loading">[ <span translate>Show</span> ]</a>
        <a class="text-gray" ng-click="toogleLast()" ng-disabled="loading" loading="Updating" ng-show="lastShowed && !loading">[ <span translate>Hide</span> ]</a>
      </div>

      <div class="btransactions" ng-if="lastShowed">
        <div ng-if="!blockchain_txs[0].txid && !loading">
        <em><strong translate>No transactions yet.</strong></em></div>
        <div class="last-transactions" ng-repeat="btx in blockchain_txs | orderBy: 'time':true">
          <div class="last-transactions-header size-14">
            <div class="row collapse">
              <div class="large-8 medium-7 small-4 columns ellipsis">
                <a href="http://{{getShortNetworkName()}}.insight.is/tx/{{btx.txid}}" target="_blank" translate>
                  Show more
                </a> 
                <span class="btn-copy" clip-copy="btx.txid"></span>
              </div>
              <div class="large-4 medium-5 small-8 columns text-right">
                <div data-ng-show="btx.firstSeenTs">
                  <span translate>first seen at</span>
                  <time>{{btx.firstSeenTs * 1000 | amCalendar}}</time>
                </div>
                <div data-ng-show="btx.time && !btx.firstSeenTs">
                  <span translate>mined</span>
                  <time>{{btx.time * 1000 | amCalendar}}</time>
                </div>
              </div>
            </div>
          </div>
          <div class="last-transactions-content">
          {{btx.action}} <span ng-show="btx.labelTo">to {{btx.labelTo}}</span>
          <span ng-show="btx.comment">{{btx.comment}}</span>
          </div>
          <div class="last-transactions-footer">
            <div class="row collapse">
              <div class="large-6 medium-6 small-6 columns">
                <div class="size-12" ng-show="!btx.confirmations || btx.confirmations == 0"><span translate>Unconfirmed</span></div>
                <div class="size-12" ng-show="btx.confirmations > 0 && btx.confirmations <= 6">{{btx.confirmations || 0}} <span translate>Confirmations</span></div>
                <div class="size-12" ng-show="btx.confirmations > 6"><span translate>Confirmed</span></div>
              </div>
              <div class="large-6 medium-6 small-6 columns text-right">
                <p class="label size-14"><span translate>Amount</span>: {{btx.amount| noFractionNumber}} {{$root.wallet.settings.unitName}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
