<div class="wide-page" ng-controller="UnsupportedController">
  <div class="text-center">
    <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 translate class="text-center text-white">Browser unsupported</h1>
  <h3 class="text-center text-white">
    Copay does not support your browser. 
    Please use a current version of Google Chrome, Mozilla Firefox, Internet Explorer, Safari, or Opera. 
    <br>
    Note that localStorage should also be enabled (enabled by default in most cases).
  </h3>
</div>

