<div class="wide-page">
  <div class="text-center">
    <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 class="text-center text-white">Browser unsupported</h1>
  <h3 class="text-center text-white">
    Copay uses webRTC for peer-to-peer communications,
    but your browser does not support it.
    Please use
    a current version of Google Chrome, Mozilla Firefox, or Opera.
    <br><br>

    For more information
    on supported browsers please check <a href="http://www.webrtc.org/">http://www.webrtc.org/</a>
  </h3>
</div>

