<div class="wide-page" ng-controller="UnsupportedController">
  <div class="text-center">
    <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 translate class="text-center text-white">Browser unsupported</h1>
  <h3 class="text-center text-white">
    Copay uses WebStorage to save wallet data,
    but your browser does not support it.
    Please use
    a current version of Internet Explorer, Safari, Google Chrome, Mozilla Firefox, or Opera.
    <br><br>

    Check if your browser support WebStorage <a
      href="http://caniuse.com/#feat=namevalue-storage" target="_blank">here</a>
  </h3>
</div>

