<div data-ng-init="" data-ng-controller="UriPaymentController">

	<div class="loading-screen" data-alert>
      <div class="spinner">
        <div class="contener_general">
            <div class="contener_mixte"><div class="ballcolor ball_1">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_2">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_3">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_4">&nbsp;</div></div>
        </div>
        <span class="text-gray size-12" translate>Preparing payment...</span>
      </div>
    </div>

</div>

