<div class="wide-page" ng-controller="WarningController"
  ng-init="checkLock()">
  <div class="text-center">
    <img src="img/logo-negative-beta.svg" alt="Copay" width="146" height="59">
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 class="text-center text-warning">Warning!</h1>
  <h3 class="text-center text-white">
    This wallet appears to be currently open.
    <br>
    Opening the wallet in multiple browser tabs could lead to unexpected results
  </h3>
  <div class="text-center m30v large-12 columns">
    <div class="row">
      <div class="large-12 columns medium-12 small-12 text-center">
        <a href class="button sucess" ng-click="signout()">Go back</a> 
        <br>
        <br>
        <a href ng-click="ignoreLock()">Continue anyways</a> 
      </div>
    </div>
  </div>
  <div class="text-center text-gray small cb">
  </div>
</div>

