/*
 *
 * Copay main CSS
 *
 */

body, div, .row {
  -webkit-overflow-scrolling: touch;
};

::-webkit-input-placeholder {
  color: #B7C2CD;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B7C2CD;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #B7C2CD;
}

:-ms-input-placeholder {  
  color: #B7C2CD;
}


#qr-canvas { display: none; }
#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}

* {
  font-family: 'Ubuntu', Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .panel h2 {
  color: #2C3E50;
}

h1 {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

h3 {
  font-weight: 300;
  font-size: 16px;
}

h4 {
  font-size: 0.875rem;
}

body, html{
  height:100%;
  width:100%;
  color: #2C3E50;
  -webkit-user-select: text;
}

header {
  background-color: #1ABC9C;
  overflow: hidden;
  height: 62px;
}

header .creation {
  color: white;
  background: red;
  font-weight: bold;
}

header .alt-currency {
  background: #16A085;
  color: #fff;
}

.panel h3 {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
  text-transform: uppercase;
  border-bottom: 1px solid #E5E7EA;
  margin-bottom: 1.5rem;
  padding: 0 0 0.8rem;
}

.alt-currency {
  padding: 0.05rem 0.2rem;
  border-radius: 2px;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
}

.color-greeni {
  color: #1abc9c !important;
}

.color-yellowi {
  color: yellow !important;
}


.color-alert {
  color: #C0392A;
}

.alt-currency.green {
  background: #1abc9c;
}

.alt-currency.red {
  background: #A02F23;
}

.alt-currency.black {
  background: #213140;
}

.alt-currency.gray {
  background: #7A8C9E;
}

.head {
  padding: 0.9rem 0;
  -moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.10);
  box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.10);
  background-color: #FFF;
  height: 62px;
  position: fixed;
  z-index: 10;
  left: 250px;
  right: 0;
}

.head .title {
  float: left;
  padding-left: 2rem;
}

.head .title h1 {
  margin: 0;
}

.head .menu {
  float: right;
  position: relative;
}

.head .menu a.dropdown {
  display: block;
  margin: 0 1rem 0 2rem;
  height: 48px;
  text-align: center;
}

.head .menu ul {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  right: 14px;
  width: 220px;
  list-style-type: none;
  top: 47px; 
  z-index: 10001;
}

.head .menu ul li.divider {
  border-bottom: 1px solid #eee;
}

.head .menu ul li a {
  display: block;
  padding: 5px 10px;
  color: #8597A7;
}

.col1 {
  width: 56px;
  float: left;
}

.col2 {
  width: 164px;
  float: left;
}

.col2_full {
  width: 194px;
  height: 62px;
}

.col3 a {
  font-size: 20px;
  display: block;
  height: 62px;
  width: 30px;
  float: right;
  background-color: #23C9A9;
  padding: 16px 6px;
  color: #B6E9DF;
}

.col3 a.selected {
  background-color: #213140;
  color: #3C4E60;
}

.off-canvas-wrap, .inner-wrap{
    height:100%;   
}


.tab-bar {
  display: none;
}

.bottom-bar {
  display: none;
}

a {
  color: #3498DB;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, input:-webkit-autofill:focus, textarea:-webkit-autofill:focus, select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.home-wallet .avatar-wallet {
  background: #1ABC9C;
  margin: 0;
  width: 45px;
  height: 45px;
  font-size: 30px;
  padding-top: 10px;
  margin-right: 15px;
  color: #FFF;
}

.side-nav.wallets .avatar-wallet, 
.wallet-selection.wallets .avatar-wallet
{
  background-color: #1ABC9C;
  color: #fff;
  padding: 0.35rem 0.5rem;
  text-align: center;
  margin-top: 3px;
  width: 35px;
}

.avatar-wallet {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 8px;
  padding: 0.5rem 0.65rem;
  background-color: #fff;
  color: #1ABC9C;
  border-radius: 3px;
  line-height: 24px;
  text-align: center;
}

.status {
  -moz-box-shadow:    inset 0px -1px 1px 0px rgba(159,47,34,0.30);
  box-shadow:         inset 0px -1px 1px 0px rgba(159,47,34,0.30);
  color: #FFFFFF;
  background-color: #A02F23;
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 10px 2rem;
  z-index: 9;
  font-size: 14px;
  text-align: left;
  line-height: 17px;
}

.status-first-line {

  z-index: 9;
  font-size: 16px;
}

.setup .comment {
  font-size: 0.875rem;
  color: #7A8C9E !important;
}

.page, .main {
  height:100%;
  overflow-y: auto;
  overflow-x: none;
  background-color: #2C3E50;
}

.sidebar {
  height:100%;
  overflow-x: none;
}

.sidebar {
  position: fixed;
  width: 250px;
  background-color: #2C3E50;
  color: #fff;
  line-height: 24px;
}

.button.small.side-bar {
  padding: 0rem 0.4rem;
}

.waiting {
  border: 2px solid #fff;
}


.online {
  border: 2px solid #1ABC9C;
}

.offline {
  border: 2px solid gray;
  opacity: 0.4;
}

.main {
  margin-left: 250px;
  padding: 95px 1.5rem;
  background-color: #E8ECEF;
}

.logo-setup {
  text-align: center;
  margin: 0 0 2rem 0;
  color: #8597A7;
}

.box-setup-footer {
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid #425467;
  font-size: 12px;
}

.box-notification {
  position: relative;
  font-size: 12px;
  padding: 0.7rem 3rem;
  border-radius: 4px;
  background: #F2F5F8;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.box-notification .box-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #1ABC9C;
  padding:0 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
}

.box-notification .box-icon i {
  position: relative;
  top: 20%;
  display: block
}

.box-notification .box-icon.error {
  background-color: #C0392A;
}

.box-notification .box-icon.secondary {
  background-color: #3498DB;
}




.box-notification a.close-notification {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 24px;
}

.panel.last-transactions {
  padding: 0;
  margin-bottom: 2.25rem;
  border-radius: 3px 3px 0 3px;
}

ul.tx-copayers {
  background: #E4E8EC;  
  padding: 0.3rem 0.8rem;
  margin-left: 0;
  box-shadow: inset 0 1px 1px 0 rgba(10,19,28,.12);
  border-radius: 0 0 3px 3px;
}

.tx-copayers li {
  list-style: none;
  padding: 0.3rem;
  font-size: 12px;
}

.tx-copayers li.bottom-line-copayers {
  border-bottom: 1px solid #CAD2DA;
}

.last-transactions-content {
  padding: 0.8rem 0.5rem;
  cursor:pointer;
}

.last-transactions-content.active {
  background-color: #F5F7F8;
}

.sign-action {
  background: #E4E8EC;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.icon-sign {
  padding: 0.2rem 0.3rem;
  border-radius: 100%;
  color: #fff;
  margin-right: 7px;
}

.icon-sign.check {
  background-color: #3FBC9C;
}

.icon-sign.x {
  background-color: #C0392B;
}

.date-message {
  background-color: #213140;
  border-radius: 3px;
  font-size: 12px;
  padding: 0.2rem 0.4rem;
  color: #7A8C9E;
}

.input-note {
  margin-top: -10px;
  display: block;
  margin-bottom: 1rem;
}

.send-note {
  background-color: #F8F8FB;
  padding: 10px;
}

.send-note span {
  margin-bottom: 5px;
  font-size: 12px;
  color: #2C3E50;
}

a.button-setup.add-wallet {
  opacity: .5;
  margin: 1rem auto;
  width: 125px;
  font-size: 14px;
  padding: .3rem 0.7rem;
  color: #fff;
}

a.button-setup {
  border-radius: 3px;
  border: 1px solid #E4E8EC;
  display: block;
  padding: 0.5rem;
  background: transparent;
  color: #A0A3A6;
}

.createProfile a.button-setup, .home a.button-setup, .settings a.button-setup, .import-profile a.button-setup {
  border-radius: 3px;
  border: 1px solid #3E5366;
  display: block;
  padding: 0.5rem;
  background: transparent;
}

.dn {display: none;}
.dni {display: none !important;}
.pr {position: relative;}
.pa {position: absolute;}
.m0 {margin: 0;}
.p0 {padding: 0 !important;}
.db {display: block;}  
.size-10 { font-size: 10px; }      
.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-42 { font-size: 42px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.m3r {margin-right: 3px;}
.m5t {margin-top: 5px;}
.m10t {margin-top: 10px;}
.m5b {margin-bottom: 5px;}
.m5r {margin-right: 5px;}
.m10b {margin-bottom: 10px;}
.m15b {margin-bottom: 15px;}
.m20b {margin-bottom: 20px;}
.m10r {margin-right: 10px;}
.m15l {margin-left: 15px;}
.m15t {margin-top: 15px;}
.m20r {margin-right: 20px;}
.m15r {margin-right: 15px;}
.m20t {margin-top: 20px;}
.m20tp {margin-top: 20%;}
.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m15h {margin: 0 15px;}
.p10t {padding-top: 10px;}
.p0r {padding-right: 0;}
.p70r {padding-right: 70px;}
.p70l {padding-left: 70px;}
.p5h {padding: 0 5px;}
.p20h {padding: 0 20px;}
.p25l {padding-left: 25px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.p10 {padding:10px;}
.p10b {padding-bottom:10px;}
.m30v {margin: 30px 0;}
.m10h {margin:0 10px;}
.m10v {margin:10px 0;}
.m20v {margin:20px 0;}
.m30a {margin: 30px auto;}
.m-negative-l {margin-left: -0.9375rem;}
.br100 {border-radius: 100%;}
.lh {line-height: 0;}
.lh140 {line-height: 140%;}
.oh {overflow:hidden;}
.vm {vertical-align: middle;}
.ma { margin: 0 auto;}
.tu {text-transform: uppercase;}

.small {
  font-size: 60%;
  line-height: inherit;
}

.line-dashed-setuph-v {
  border-left: 1px dashed #415970;
}

.line-dashed-v {
  border-right: 1px dashed #E3E3E3;
}

.line-dashed-h {
  border-bottom: 1px dashed #E3E3E3;
}

.line {
  border-top: 1px solid #F8F8FB;
  margin: 0.7rem 0;
}

.line-white {
  border-top: 1px solid #fff;
  margin: 0.7rem 0;
}

.line-t {
  border-top: 1px solid #E9E9EC;
  padding-top: 0.5rem;
}

.line-b {
  border-bottom: 1px solid #E9E9EC;
  padding-bottom: 0.5rem;
}

.p-dashed {
  border-top: 1px dashed #3C5269;
  margin: 1rem 0;
  padding: 1rem 0;
  overflow: hidden;
}

.name-wallet {
  font-size: 14px;
  width: 72%;
  float: left;
  color: #fff;
  text-transform: lowercase;
  font-weight: 500;
}

.name-wallet i {
  color: #B6E9DF;
}

.box-livenet {
  background: #213140;
  padding: 0rem 0.5rem 0.2rem;
  color: #7A8C9E;
}

.founds {
  font-weight: 100;
  color: #B6E9DF;
}

.locked {
  font-size: 11px;
  background-color: #213140;
  width: 100%;
  padding: 0.3rem 0.7rem;
  color: white;
}

.hidden {
  visibility: hidden;
}

/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.spinner {
  display: inline-block;
}

/* notifications */

.dr-notification-container {
  position: absolute;
  z-index: 10000;
}

.dr-notification-container.bottom {
  bottom: 20px;
}

.dr-notification-container.right {
  right: 0;
}

.dr-notification-container.left {
  left: 20px;
}

.dr-notification-container.top {
  top: 60px;
}

.dr-notification-container.center {
  left: 50%;
  margin-left: -190px;
}

.dr-notification-wrapper {
  width: 400px;
  position: relative;
  margin: 0 0 1px 0;
}

.dr-notification {
  width: 400px;
  clear: both;
  overflow: hidden;
}

.dr-notification-close-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 10;
}

.dr-notification-image {
  float: left;
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
  border-right: 1px dashed #415970;
}
.dr-notification-image i {
  display: block;
  width: 100%;
  padding: 20px;
}
.dr-notification-image img {
  margin: 15px;
  max-width: 70px;
  min-width: 48px;
}

.dr-notification-content {
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dr-notification-title {
  color: white;
  padding: 0px;
  font-size: 16px;
  margin-top: 0;
}

.dr-notification {
  background-color: #34495E;
  color: #eee;
  border: 1px solid #2C3E50;
}
.dr-notification-close-btn {
  background-color: #34495E;
  color: #fff;
  border: 1px solid #3C5269;
}

.dr-notification-image.dr-notification-type-info {
  color: #FFF;
}

.dr-notification-image.dr-notification-type-warning {
  color: #FFA226;
}

.dr-notification-image.dr-notification-type-error {
  color: #FF4B4F;
}

.dr-notification-image.dr-notification-type-success {
  color: #1ABC9C;
}

.dr-notification-image.success {
  color: #1ABC9C;
}

.success { 
  color: #1ABC9C;
}

.bg-success { 
  background-color: #1ABC9C;
}

.tx-proposal i { 
  padding: .1rem .3rem;
  background-color: #A5B2BF;
  border-radius: 100%;
  color: #fff;
}

.tx-proposal i.active {
  background-color: #A02F23;
}

.header-modal {
  background: #F3F5F6;
  width: 100%;
  padding: 0.8rem;
  position: relative;
}

.addresses .label {
  font-weight: normal;
  padding: .2rem .3rem;
  font-size: 8px;
}

.label.success { 
  background-color: #1ABC9C;
}

.label {
  font-weight: 700;
  padding: 0.3rem 0.4rem;
}

.label.alert {
  background-color: #C0392A;
}

.bg-alert {
  background-color: #C0392A;
}

.dr-notification-text {
  font-size: 12px;
  line-height: 120%;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.pagination li.current a {
  background: #1ABC9C;
}

.tooltip { 
  background-color: #1ABC9C; 
  color: #fff; 
  font-size: 12px; 
  border-color: #16A085;
}

.tooltip>.nub {
  border-color:transparent transparent #16A085 transparent;
}
.tooltip.tip-top>.nub {
  border-color:#16A085 transparent transparent transparent;
}
.tooltip.tip-right>.nub {
  border-color:transparent #16A085 transparent transparent;
}
.tooltip.tip-left>.nub {
  border-color:transparent transparent transparent #16A085;
}
.tooltip.tip-bottom>.nub {
  border-color:transparent transparent #16A085 transparent;
}

.has-tip {
  border-bottom: none;
  color: #7A8C9E;
  cursor: inherit;
}

.logo {
  background: transparent url('../img/logo-negative-beta.svg') no-repeat;
  background-size: 130px 51px;
}

input {
  border-radius: 2px;
  background: #EDEDED;
  -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.09), inset 1px 1px 0px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.09), inset 1px 1px 0px 0px rgba(0,0,0,0.05);
  color: #2C3E42;
  padding: 1.2rem 0.7rem;
  margin-bottom: 1.5rem;
  border: 0;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  color: #34495E;
  padding: 0 0.2rem 0.3rem;
}

button.radius, .button.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

label small.has-error {
  font-size: 11px;
}

table { 
  border-collapse: collapse; 
  text-align: left; 
  width: 100%; 
  border: none;
}

thead tr{ 
  text-transform: uppercase; 
}

table tr td, table tr th { 
  padding: 15px; 
}

table tfoot tr td, table tfoot tr th, table thead tr td, table thead tr th {
  background-color: #F5F5F8; 
  color:#949BAD; 
  font-weight: normal
}

table tbody td {
  color: #666; 
  border-bottom: 1px solid #F1F1F3; 
}

table tbody tr:last-child td { 
  border-bottom: none; 
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
  color: #343c43;
  margin-bottom: 1.3rem;
  height: 40px;
  background: #F2F5F8;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 13px;
}

/* SECONDARY */
button.secondary, 
.button.secondary { 
  background-color: #008CC1;
  color: #fff;
  border-radius: 3px;
}

button.disabled.secondary, 
button[disabled].secondary, 
.button.disabled.secondary, 
.button[disabled].secondary {
  background-color: #E4E8EC;
  color: #A5B2BF;
}

/* PRIMARY */
button.primary, 
.button.primary { 
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 3px;
}

button.disabled.primary, 
button[disabled].primary, 
.button.disabled.primary, 
.button[disabled].primary {
  background-color: #95a5a6;
  color: #E6E6E6;
}

/* WARNING */
button.warning, 
.button.warning { 
  background-color: #C0392A;
  color: #fff;
  border-radius: 3px;
}

button.disabled.warning, 
button[disabled].warning, 
.button.disabled.warning, 
.button[disabled].warning {
  background-color: #95a5a6;
  color: #E6E6E6;
}

/* WHITE */
button.white, 
.button.white { 
  background-color: #fff;
  color: #2C3E50;
}

button.disabled.white, 
button[disabled].white, 
.button.disabled.white, 
.button[disabled].white {
  background-color: #95a5a6;
  color: #E6E6E6;
}

/* BLACK */
button.black, 
.button.black { 
  background-color: #2C3E50;
  color: #fff;
}

button.disabled.black, 
button[disabled].black, 
.button.disabled.black, 
.button[disabled].black {
  background-color: #95a5a6;
  color: #E6E6E6;
}

/* GRAY */
button.gray, 
.button.gray { 
  background-color: #A9B2B8;
  color: #2C3E50;
}

.button, button {
  text-transform: uppercase;
}

.wallet-selection.wallets {
  background-color: #213140 ;
}

ul.wallet-selection.wallets {
  margin: 0;
  overflow: hidden;
}

.wallet-selection.wallets li {
  overflow: hidden;
  padding: 1rem;
}

.wallet-selection.wallets li a {
  display: block;
}

.side-nav.wallets li {
  margin: 1.2rem 0;
  padding: 0.3rem 0.1rem;
}

.side-nav.wallets {
  z-index: 100;
  background-color: #213140 ;
  border-bottom: 1px solid #3A4E61;
  overflow-y: auto;
  position: absolute;
  height: 0%;
  width: 100%;
  padding: 0;
}

.side-nav.wallets.pullDown {
  height: 100%;
}

.wallet-selection.wallets a.wallet-item, 
.side-nav.wallets a.wallet-item {
  color: #7A8C9E;
  line-height: 20px;
}

.wallet-selection.wallets .type-wallet,
.side-nav.wallets .type-wallet {
  color: #AAB1B9;
}

.side-nav .wallet-item {
  padding: 4px 0;
}

.side-nav li.nav-item {
  overflow: hidden;
}

.postfix.button, .prefix.button {
  position: absolute;
  width: 38px;
  height: 28px;
  right: 7px;
  top: 7px;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 1.7rem;
  border-radius: 2px;
}

.postfix.button i, .prefix.button i {
  left: 12px;
  top: 0;
  border: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

label.postfix, a.postfix {
  height: 100%;
  border: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  background: #7A8C9E;
  border-radius: 0 2px 2px 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.photo-container {
  margin-right: 3px;
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  background: #7A8C9E;
  border-radius: 100%;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
}

.photo-container.profile {
  width: 80px;
  height: 80px;
}

.need-backup {
  background: #C0392A;
  -moz-box-shadow:    1px 1px 0px 0px #A02F23;
  box-shadow:         1px 1px 0px 0px #A02F23;
  position: absolute;
  top: 22px;
  left: 0px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  font-size: 9px;
  padding-top: 2px;
  color: #fff;
}

.side-nav li {
  font-size: 16px;
  line-height: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

.side-nav li>a:first-child:not(.button) {
  padding-left: 40px;
}

.side-nav li.active>a:first-child:not(.button) {
  color: #2C3E50;
  background-color: #E8ECEF;
}

.side-nav li>a:first-child:not(.button), .side-nav li a:not(.button) {
  color: #fff;
}

.side-nav li>a:first-child:not(.button) i {
  opacity: 0.6;
}

.side-nav li.active>a:first-child:not(.button) i {
  opacity: 1;
}

.sidebar-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  overflow-y: hidden;
}

.addresses ul {
  margin-left: 0;
}

.addresses .list-addr contact {
  cursor: text;
}

.pointer {
  cursor: pointer;
}

.copay-box {
  width: 70px;
  text-align: center;
  margin-right: 10px;
  float: left;
}

.input { position: relative;}

.createProfile .input i, .home .input i, .import-profile .input i, .input.block i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #7A8C9E;
  border-right: 1px solid #ccc;
  padding-right: 8px;
  border-right: 1px solid #E5E8EB;
  -moz-box-shadow: 1px 0px 0px 0px #FFFFFF;
  box-shadow: 1px 0px 0px 0px #FFFFFF;
}

.input label {
  line-height: 0;
  padding: 0;
}

.createProfile input[type=email],
.createProfile input[type=text],
.createProfile input[type=password],
.home input[type=email],
.home input[type=text],
.home input[type=tel],
.home input[type=password],
.import-profile input[type=password] {
  padding-left: 45px;
}

.icon-input {
  font-size: 9px;
  color: #fff;
  vertical-align: middle;
  margin-right: 3px;
}

.icon-input .fi-check {
  padding: .2rem .3rem;
  background-color: #1ABC9C;
  border-radius: 100%;
  display: block;
}

.icon-input .fi-x {
  padding: .1rem .3rem;
  background-color: #C0392A;
  border-radius: 100%;
}

.box-status {
  float: right;
}

.has-error {
  color: #C0392A;
}

.is-valid {
  color: #1ABC9C;
}

input.ng-invalid-match, input.ng-invalid-match:focus {
  border-color: red;
}

.black {
  background-color: #2C3E50;
}

.text-light {font-weight: 100;}
.text-bold {font-weight: 700;}
.text-gray {color: #8597A7;}
.text-black {color: #2C3E50;}
.text-primary {color: #1ABC9C;}
.text-secondary {color: #3498DB;}
.text-white {color: #fff;}
.text-warning {color: #CA5649;}
.text-success {color: #1ABC9C;}

.box-setup-copayers {
  background: #F8F8FB;
  margin-bottom: 15px;
}

.box-setup-copay-required .photo-container {
  background-color: #1ABC9C;
}

.panel {
  background-color: #2C3E50;
  padding: 1rem;
  border: 0;
}

.panel qrcode {
  background-color: white;
}

.panel qrcode canvas {
  width: 250px;
  height: 250px;
}

.panel .secret {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
}

.panel {
  border-radius: 3px;
  background: #FFFFFF;
  border: none;
}

.copayer-list-small-height {
  display: none;
}

@media only screen and (min-width: 40.063em) {
  dialog.tiny, .reveal-modal.tiny,
  dialog.small, .reveal-modal.small,
  dialog.medium, .reveal-modal.medium,
  dialog.large, .reveal-modal.large {
    max-height: 70%;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 40em) {
  dialog.tiny, .reveal-modal.tiny,
  dialog.small, .reveal-modal.small,
  dialog.medium, .reveal-modal.medium,
  dialog.large, .reveal-modal.large {
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-height: 380px) {
  .sidebar-footer {
    display: none;
  }
}

.wide-page {
  background-color: #2C3E50;
  margin: 5% 0;
  padding: 50px;
}

.collapse {
  margin: auto;
  max-width: 100%;
}

.w-popup-menu{
    padding:0;
}

.w-popup-menu li {
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: relative;
    float: left;
    background: #213140;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin: 20px 26px 0 0;
}
.w-popup-menu li:last-child{
    margin-right: 0px;
}
.w-popup-menu li a{
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.w-popup-icon {
  color: #c5e4f4 ;
  font-size: 90px;
  text-shadow: 1px 0 1px rgba(255,255,255,.7);
  line-height: 150px;
  position: absolute;
  width: 58px;
  left: 60px;
  top: 14px;
  text-align: center;
}

.w-popup-content {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50%;
  top: 50%;
}
.w-popup-main {
  color: #FFFFFF;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 5px;
}
.w-popup-sub {
  text-align:center;
  color: #FFFFFF;
  line-height: 20px;
  opacity: 0.8;
}

/*///////////////////////// LOADING /////////////////////////*/
.contener_mixte {
  width:44px; height:44px; position:absolute;
}

.ballcolor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.contener_general {
  width:44px; height:44px;
  margin: 20px auto 20px;
}

.ball_1, .ball_2, .ball_3, .ball_4 {
  position: absolute;
}

.ball_1 {
  background-color:#3498DB;
  top:0; left:0;
}

.ball_2 {
  background-color:#C0392A;
  top:0; left:24px;
}

.ball_3 {
  background-color:#00a096;
  top:24px; left:0;
}

.ball_4 {
  background-color:#2C3E50;
  top:24px; left:24px;
}

.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;}

.loading-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #F2F5F8;
}

.loading-screen-content {
  margin-top: 20%;
  width: 100%;
  text-align: center;
}

/*/////////////////////////////////////////////////*/

.createProfile .icon-input {
  position: absolute;
  right: 10px;
  top: 11px;
}

.createProfile .icon-input i {
  font-size: 14px;
  position: relative;
  color: #fff;
  margin-right: 14px;
  border: none;
  box-shadow: none;
  top: 0;
}

.createProfile .input, 
.home .input,
.import-profile .input,
.settings .input {
  box-shadow: 0px 0px 0px 3px #213140, inset 1px 1px 0px 0px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.createProfile h2, 
.home h2,
.import-profile h2, 
.settings h2 {
  font-weight: 700;
  font-size: 14px;
  color: #A5B2BF;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #425467;
  margin-bottom: 2rem;
  text-align: center;
}

.home, .settings, .createProfile, .import-profile {
  overflow: hidden;
  padding: 2rem 0;
}

.tabbable {
  border: 2px solid #213140;
  border-radius: 3px;
  margin-bottom: 1.2rem;
}

.tabs dd.active a {
  color: #fff;
  background-color: transparent;
}

.tabs dd>a {
  background: #213140;
  text-transform: uppercase;
  color: #3E4F5D;
  padding: 1rem;
  text-align: center;
  height: 64px;
  font-size: 14px;
  line-height: 15px;
}

.tabs-content {
  margin-bottom: 0;
}

.tabs-content>.content {
  padding: 0;
}

.content-item {
  border-bottom: 1px solid rgba(32,48,64,0.30);
  box-shadow: 0px 1px 0px 0px rgba(121,140,158,0.10);
  margin: .5rem 1.3rem;
  padding: 0.3rem 0;
  font-size: 14px;
}

.bg-circle {
  background: #253547;
  border-radius: 100%;
  margin: 0 0.5rem 0.3rem 0;
  padding: .45rem 0.5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #7A8C9E;
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.session-expired {
  background: rgba(32,48,64,0.90);
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  z-index: 999;
  padding-top: 20%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.clipo {
  padding: 0 0 2rem;
  text-align: center;
}

.line-none {
  border: none;
  box-shadow: none;
}

.settings fieldset {
  border: 1px solid #425467;
}

.settings fieldset legend {
  background: transparent;
  color: #A5B2BF;
}

.settings label {
  color: #A5B2BF;
  font-weight: normal;
}

.reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
  padding: 0.8rem;
  position: absolute;
  background: #E4E8EC;
  top: 10px;
  right: 10px;
  line-height: 0;
  color: #7A8C9E;
  border-radius: 3px;
}

