/*
 *
 * Copay mobile CSS
 *
 */

@media (max-width: 1024px) {

  .line-dashed-setup-v, 
  .line-dashed-v,
  .line-dashed-h {
    border: none;
  }

  .status {
    left: 0;
    top: 45px;
    font-size: 13px;
    font-weight: 700;
    height: 55px;
  }

  .logo-setup {
    margin: 20px 0;
  }

  .home, .open, .join, .waiting-copayers, .setup, .import, .settings {
    margin-top: 0;
  }

  .sidebar {
    display: none;
  }

  .page, .main {
    height: auto;
  }

  .main {
    height: 100%;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: -40px;
    padding-bottom: 60px;
  }

  .tab-bar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #3C4E60;
  }

  .left-off-canvas-menu {
    background: #2C3E50;
  }

  .off-canvas-wrap,.inner-wrap{
    height:100%;   
  }

  .page{
    height:100%;   
  }
  
  .copayers {
    position: relative;
    padding: 0;
    overflow-y: none;
  }

  ul.copayer-list img {
    width: 30px;
    height: 30px;
  }

  .tab-bar-section {
    text-align: left;
  }

  .setup-page {
    height: 100%;
  }

  .hide-tab-bar {
    display: none;
  }


  .tab-bar h1 {
    font-weight: 100;
  }

  ul.off-canvas-list li a {
    border-bottom: 1px solid #425568;
    padding: 0.66667rem 1rem;
    color: #fff;
  }

  ul.off-canvas-list li a i {
    opacity: 0.6;
  }

  .box-founds {
    background-color: #213140;
  }

  .left-small {
    border-right: 1px solid #425568;
  }

  .right-small {
    border-left: 1px solid #425568;
  }

  .right-small a {
    color: white;
  }

  .panel .secret {
    padding-top: 0.5rem;
    display: block;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .panel qrcode {
    display: block;
    float: none;
    margin: 0 auto;
    width: 160px;
    height: 160px;
  }

  .panel qrcode canvas {
    width: 150px;
    height: 150px;
  }

  .addresses .panel {
    padding: 1rem 0.8rem;
  }

  .btn-copy {
    display: none;
  }

  .addresses .list-addr contact {
    margin-left: 0;
    font-size: 14px;
  }

  .top-balance {
    width: auto;
    padding: 0 5px;
  }

  table.last-transactions-content td {
    text-align: center;
  }

  table.last-transactions-content td.copayer-name {
    text-align: left;
  }

  table.last-transactions-content .icon-status { 
    border-radius: 0;
    padding: 0.1rem 0.3rem;
    margin-bottom: 0;
  }

  .button, button {
    padding: 1rem 1.2rem 1.0625rem;
  }

  form {
    margin: 0;
  }

  .box-setup {
    margin-bottom: 50px;
  }

  .footer-setup {
    margin-bottom: 50px;
  }

}

