/*
 *
 * Copay mobile CSS
 *
 */

@media (max-width: 1024px) {

  .line-dashed-setup-v, 
  .line-dashed-v,
  .line-dashed-h {
    border: none;
  }

  .logo-setup {
    margin: 20px 0;
  }

  .home, .open, .join, .waiting-copayers, .setup, .import, .settings {
    margin-top: 0;
  }

  .sidebar {
    display: none;
  }

  .page, .main {
    height: auto;
  }

  .main {
    height: 100%;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: -40px;
    padding-bottom: 60px;
  }

  .tab-bar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #3C4E60;
  }

  .left-off-canvas-menu {
    background: #2C3E50;
  }

  .off-canvas-wrap,.inner-wrap{
    height:100%;   
  }

  .page{
    height:100%;   
  }
  
  .copayers {
    position: relative;
    padding: 0;
    overflow-y: none;
  }

  ul.copayer-list img {
    width: 30px;
    height: 30px;
  }

  .tab-bar-section {
    text-align: left;
  }

  .setup-page {
    height: 100%;
  }

  .hide-tab-bar {
    display: none;
  }


  .tab-bar h1 {
    font-weight: 100;
  }

  ul.off-canvas-list li a {
    border-bottom: 1px solid #425568;
    padding: 0.66667rem 1rem;
    color: #fff;
  }

  ul.off-canvas-list li a i {
    opacity: 0.6;
  }

  .box-founds {
    background-color: #213140;
  }

  .left-small {
    border-right: 1px solid #425568;
  }

  .panel .secret {
    padding-top: 0.5rem;
    display: block;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .panel qrcode {
    display: block;
    float: none;
    margin: 0 auto;
    width: 210px;
    height: 210px;
  }

  .panel qrcode canvas {
    width: 200px;
    height: 200px;
  }

  .btn-copy {
    display: none;
  }

}

