@font-face {
	font-family: 'icomoon';
	src:url("../font/icomoon.eot?-5b2xva");
	src:url("../font/icomoon.eot?#iefix-5b2xva") format('embedded-opentype'),
		url("../font/icomoon.woff?-5b2xva") format('woff'),
		url("../font/icomoon.ttf?-5b2xva") format('truetype'),
		url("../font/icomoon.svg?-5b2xva#icomoon") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../font/ubuntu-light.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../font/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../font/ubuntu-bold.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(../font/ubuntu-bold-italic.woff) format('woff');
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-left2:before {
	content: "\e604";
}
.icon-arrow-down2:before {
	content: "\e605";
}
.icon-arrow-up2:before {
	content: "\e606";
}
.icon-arrow-right2:before {
	content: "\e607";
}
.icon-arrow-left3:before {
	content: "\e608";
}
.icon-arrow-down3:before {
	content: "\e609";
}
.icon-arrow-up3:before {
	content: "\e60a";
}
.icon-arrow-right3:before {
	content: "\e60b";
}
.icon-arrow-left4:before {
	content: "\e60c";
}
.icon-arrow-down4:before {
	content: "\e60d";
}
.icon-arrow-up4:before {
	content: "\e60e";
}

