card-details-page {
  $background-color: white;
  @include fix-ios-bg-scroll($background-color);

  .wrapper {
    padding: 0 $gift-card-page-padding;

    .header-extension {
      height: 150px;
    }
  }

  .main-content {
    flex-grow: 1;
  }

  .balance {
    color: $background-color;
    font-size: 25px;
    font-weight: 500;
    margin: 30px 0;
    margin-top: -110px;
  }

  .card-image {
    position: relative;
    z-index: 1;
    max-width: 82%;
    height: auto;
    width: 265px;

    + .actions-wrapper {
      margin-top: 55px;
    }
  }

  .card-info {
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 70px 30px 10px;
    margin-bottom: 25px;
    margin-top: -55px;
    max-width: $gift-card-content-max-width;
    margin-left: auto;
    margin-right: auto;

    &__title {
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
    }

    &__body {
      color: #060606;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0;
    }

    &__date {
      color: #4a4a4a;
      font-size: 14px;
      margin-bottom: 7px;

      &--outside-card-info {
        margin-top: 17px;
        margin-bottom: 25px;
      }
    }

    &.has-pin {
      margin-bottom: -2px;

      .card-info__body {
        margin: 15px 0;
        margin-top: 12px;
      }

      .separator {
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        height: 1px;
        margin: 18px 0;
      }

      .pin {
        margin-top: 10px;
      }
    }
  }

  ngx-barcode.card-info__body {
    margin: 12px 0 0px;

    .barcode {
      > svg {
        max-width: 100%;

        > g > text {
          font-weight: 500 !important;
        }
      }
    }
  }
}
