page-buy-amazon {
  .amazon-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    img {
      width: 3.5rem;
      margin-right: 1.5rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
      border-radius: $icon-border-radius;
    }
  }
  .amount-label {
    margin-bottom: 5rem;
    .amount {
      font-size: 38px;
      margin-bottom: .5rem;
    }
    .alternative {
      font-size: 12px;
      color: #9B9B9B;
    }
  }
  .wallets-list {
    .wallet {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .icon-wallet {
        background-color: color($colors, primary);
        margin-right: 1rem;
      }
    }
  }
  .amazon-info {
    * {
      white-space: normal;
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  .last-item{
    margin-left: auto !important;
  }
}
