<ion-header>
  <ion-navbar>
    <ion-title>Buy Gift Card</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <div class="amazon-title">
        <img src="assets/img/amazon/icon-amazon.svg">
        <span *ngIf="country == 'usa'">Amazon.com Gift Card</span>
        <span *ngIf="country == 'japan'">Amazon.co.jp Gift Card</span>
      </div>
      <div class="amount-label">
        <div class="amount">{{amountUnitStr}}</div>
        <div class="alternative">
          {{limitPerDayMessage}}
        </div>
      </div>
    </ion-item>

    <ion-item-group class="info">
      <button ion-item detail-none (click)="showWallets()" class="wallets-list">
        <div>From</div>
        <div class="wallet">
          <ion-icon item-start>
            <img *ngIf="network == 'testnet'" [ngStyle]="{'background-color': wallet && wallet.color}" src="assets/img/icon-wallet-testnet.svg" class="icon-wallet" />
            <img *ngIf="network != 'testnet'" [ngStyle]="{'background-color': wallet && wallet.color}" src="assets/img/icon-wallet.svg" class="icon-wallet" />
          </ion-icon>
          <div>{{wallet ? wallet.name : '...'}}</div>
          <div class="last-item" item-end>
            <button ion-button clear color="grey" icon-only>
              <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
              <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
            </button>
          </div>
        </div>
      </button>
      <div *ngIf="totalAmountStr">
        <ion-item-divider>
          Details
        </ion-item-divider>
        <ion-item>
          <span>Gift Card</span>
          <ion-note item-end>
            {{amount | currency:'$ ':2}}
            <span *ngIf="amount"> {{currencyIsoCode}}</span>
          </ion-note>
        </ion-item>
        <ion-item>
          <span>Network cost</span>
          <ion-note item-end>
            <span>{{invoiceFee | currency:'$ ':2}}
              <span *ngIf="invoiceFee"> {{currencyIsoCode}}</span>
            </span>
          </ion-note>
        </ion-item>
        <ion-item>
          <span>Miner fee</span>
          <ion-note item-end>
            <span>{{networkFee | currency:'$ ':2}}
              <span *ngIf="networkFee"> {{currencyIsoCode}}</span>
            </span>
          </ion-note>
        </ion-item>
        <ion-item>
          <span>Total</span>
          <ion-note item-end>
            <span *ngIf="totalAmount">{{totalAmount | currency:'$ ':2}} {{currencyIsoCode}}</span>
            <span *ngIf="totalAmountStr">({{totalAmountStr}})</span>
          </ion-note>
        </ion-item>
      </div>
      <ion-item-divider></ion-item-divider>
      <!-- USA -->
      <ion-item class="amazon-info" *ngIf="country == 'usa'">
        *
        <a (click)="openExternalLink('http://amazon.com')">Amazon.com</a> is not a sponsor of this promotion. Except as required by law,
        <a (click)="openExternalLink('http://amazon.com')">Amazon.com</a> Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods at
        <a (click)="openExternalLink('http://amazon.com')">Amazon.com</a> or certain of its affiliated websites. For complete terms and conditions, see
        <a (click)="openExternalLink('https://www.amazon.com/gc-legal')">www.amazon.com/gc-legal</a>. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. All Amazon &reg;, &trade; &amp; &copy; are IP of
        <a (click)="openExternalLink('http://amazon.com')">Amazon.com</a>, Inc. or its affiliates. No expiration date or service fees.
      </ion-item>

      <!-- Japan -->
      <ion-item class="amazon-info" *ngIf="country == 'japan'">
        Amazon Gift Cards Japan 株式会社 (「当社」) が発行するAmazonギフト券 (「ギフト券」)のご利用には、
        <a (click)="openExternalLink('http://amazon.co.jp')">Amazon.co.jp</a> (PC・モバイルを含み「アマゾンサイト」) のアカウント作成が必要です。ギフト券は、アマゾンサイトでのみご利用できますが、他のギフト券の購入又は一部の会費の支払等には利用できません。このギフト券の有効期限は発行日から10年間です。ギフト券の換金・返金等はできません。当社及び当社の関連会社は、ギフト券の紛失・盗難等について一切責任を負いません。ギフト券に関するお問合せは、カスタマーサービス(℡0120-999-373東京都目黒区下目黒1-8-1)までお願いします。詳細は、細則 (
        <a (click)="openExternalLink('https://www.amazon.co.jp/giftcard/tc')">www.amazon.co.jp/giftcard/tc</a>)　をご覧下さい。
        <br>To use
        <a (click)="openExternalLink('http://amazon.co.jp')">Amazon.co.jp</a> gift cards (“Gift Card” or “Gift Cards”) issued by Amazon Gift Cards Japan K.K. (“Amazon GC”), you need to create an account on
        <a (click)="openExternalLink('http://amazon.co.jp')">http://www.amazon.co.jp</a> (including PC and mobile sites. “Amazon Sites”). Gift Cards can only be redeemed through Amazon Sites, but cannot be used to purchase other Gift Cards or to pay certain membership fee available at Amazon Sites. Gift Card balance will expire at 11:59 p.m. (Japan Time) of the date specified as expiration date on each Gift Card. Gift Cards are non-refundable and non-exchangeable. Gift Card cannot be resold or transferred for value. Amazon GC or its affiliates are not responsible if Gift Card is lost, stolen, destroyed or used without your permission. If you want to know your Gift Card balance, expiration date or have any other questions regarding Gift Cards, please call Customer Service (TEL: 0120-999-373, Address: 1-8-1 Shimomeguro, Meguro-ku, Tokyo 153-0064, Japan). For more information, please read the full Terms and Conditions of Gift Cards (
        <a (click)="openExternalLink('http://www.amazon.co.jp/giftcard/tc')">http://www.amazon.co.jp/giftcard/tc</a>).
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <page-slide-to-accept #slideButton *ngIf="isCordova" [disabled]="!(wallet && totalAmountStr)" buttonText="Slide to confirm" (slideDone)="buyConfirm()"></page-slide-to-accept>
  <ion-toolbar *ngIf="!isCordova">
    <button ion-button full class="button-footer" (click)="buyConfirm()" [disabled]="!(wallet && totalAmountStr)">Confirm purchase</button>
  </ion-toolbar>
</ion-footer>