<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>   
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" ng-style="{'color':color}" translate>
      Advanced Send
    </h1>
  </section>
</nav>


<div class="modal-content fix-modals-touch">
  <ul class="no-bullet m0 size-14"> 
    <h4 class="title m0" translate>Fee Policy</h4>
    <li ng-repeat="fee in (network == 'livenet' ? feeLevels.livenet : feeLevels.testnet)" ng-click="save(fee.level)" class="line-b p20">
      <span class="text-capitalize">{{fee.level|translate}}</span>
      <i class="fi-check size-16 right" ng-show="currentFeeLevel == fee.level"></i>
    </li>
  </ul>

  <div class="row column m20t">
    <div class="text-gray size-12 text-center" ng-repeat="fee in (network == 'livenet' ? feeLevels.livenet :
      feeLevels.testnet)" ng-if="fee.level == currentFeeLevel">
      <span translate>Average confirmation time: {{fee.nbBlocks * 10}} minutes</span>. 
      <span class="size-12 text-light" translate>Current fee rate for this policy: {{fee.feePerKBUnit}}/kiB</span>
    </div>
  </div>

  <div class="extra-margin-bottom"></div>
</div>

