<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" ng-style="{'color':color}" translate>
      Copayers
    </h1>
  </section>
</nav>

<div class="modal-content">
  <ul class="no-bullet">
    <li class="line-b p10" ng-repeat="copayer in copayers">
      <span class="size-12" ng-show="copayer.id == copayerId">
        <i class="icon-contact size-24 m10r"></i> {{copayer.name}} ({{'Me'|translate}}) <i class="fi-check m5 right"></i>
      </span>
      <span class="size-12 text-gray" ng-show="copayer.id != copayerId">
        <i class="icon-contact size-24 m10r"></i> {{copayer.name}}<i class="fi-check m5 right"></i>
      </span>
    </li>
  </ul>
  <div class="extra-margin-bottom"></div>
</div>

