<ion-modal-view ng-controller="inputAmountController" ng-style="{'background-color':'#F6F7F9'}" ng-init=init()>
  <ion-header-bar align-title="center" class="tab-bar" ng-style="{'background-color':recipientColor}">
    <div class="buttons m3t" ng-click="cancel()">
      <button class="button text-white transform-none" ng-style="{'background-color':'transparent'}" translate>Close</button>
    </div>

    <h1 class="title ellipsis text-white" translate>Enter amount</h1>

    <div class="buttons m5r m3t" ng-if="!specificAmount && !sending" ng-click="toggleAlternative()">
      <button class="button black" ng-show="showAlternativeAmount">{{alternativeIsoCode}}</button>
      <button class="button text-whit transform-none" ng-show="!showAlternativeAmount">{{unitName}}</button>
    </div>

    <div class="right-small m10r" ng-if="specificAmount">
      <a ng-click="init()">
        <span class="text-close" translate>Cancel</span>
      </a>
    </div>
  </ion-header-bar>

  <ion-pane>
    <ion-content class="calculator" scroll="false" ng-show="!specificAmount && !sending">
      <div class="m5t">
        <label class="m15l">Recipient</label>
        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-person-outline"></i>
          {{recipientName}}
          <i class="icon ion-ios-close-empty"></i>
        </a>
      </div>

      <div class="header-calc">
        <div class="text-light text-black m15b" ng-class="{'size-28': smallFont, 'size-36': !smallFont}">{{amount || '-'}}</div>
        <div class="text-light text-black" ng-class="{'size-16': smallFont, 'size-17': !smallFont}" ng-show="!showAlternativeAmount">
          {{globalResult}} <span class="label gray text-white radius">{{amountResult || '0.00'}} {{alternativeIsoCode}}</span>
        </div>
        <div class="text-light text-black size-17" ng-show="showAlternativeAmount">
          {{globalResult}} <span class="label gray text-white radius">{{alternativeResult || '0.00'}} {{unitName}}</span>
        </div>
      </div>

      <div class="button-calc">
        <div class="row m5b">
          <button class="col columns col-25 text-center m0 operator" ng-click="resetAmount()">
            AC
          </button>
          <button class="col columns text-center text-white m0"
            ng-style="{'background-color':recipientColor || '#4b6178'}"
            ng-disabled="alternativeResult <= 0 && amountResult <= 0" ng-click="finish()" ng-show="!specificAmount">
            OK
          </button>
        </div>
        <div class="row text-center">
          <div class="col columns" ng-click="pushDigit('7')">7</div>
          <div class="col columns" ng-click="pushDigit('8')">8</div>
          <div class="col columns" ng-click="pushDigit('9')">9</div>
          <div class="col columns operator" ng-click="pushOperator('/')">/</div>
        </div>

        <div class="row text-center">
          <div class="col columns" ng-click="pushDigit('4')">4</div>
          <div class="col columns" ng-click="pushDigit('5')">5</div>
          <div class="col columns" ng-click="pushDigit('6')">6</div>
          <div class="col columns operator" ng-click="pushOperator('x')">x</div>
        </div>

        <div class="row text-center">
          <div class="col columns" ng-click="pushDigit('1')">1</div>
          <div class="col columns" ng-click="pushDigit('2')">2</div>
          <div class="col columns" ng-click="pushDigit('3')">3</div>
          <div class="col columns operator" ng-click="pushOperator('+')">+</div>
        </div>

        <div class="row text-center">
          <div class="col columns operator" ng-click="pushDigit('.')">.</div>
          <div class="col columns" ng-click="pushDigit('0')">0</div>
          <div class="col columns operator icon ion-arrow-left-a" ng-click="removeDigit()"></div>
          <div class="col columns operator" ng-click="pushOperator('-')">-</div>
        </div>
      </div>
    </ion-content>

    <ion-content ng-show="specificAmount && !sending" ng-style="{'background-color':'#f6f7f9'}">
      <section class="modal-content m20b">
        <h4 class="title m10l" translate>QR Code</h4>
        <ul class="no-bullet size-14 m0">
          <li class="line-b p10 oh text-center">
            <qrcode size="220" data="bitcoin:{{addr + '?amount=' + customizedAmountBtc}}"></qrcode>
            <div class="m10t text-center" ng-show="isCordova">
              <span class="button outline dark-gray tiny round"
                ng-click="shareAddress('bitcoin:' + addr + '?amount=' + customizedAmountBtc)">
                <i class="fi-share"></i>
                <span translate>Share address</span>
              </span>
            </div>
          </li>
        </ul>

        <h4 class="title m10l" translate>Details</h4>
        <ul class="no-bullet size-14 m0">
          <li class="line-b p10 oh">
            <span class="text-gray" translate>Address</span>:
            <span class="right">
              <span class="text-gray enable_text_select">{{addr}}</span>
            </span>
          </li>
          <li class="line-b p10 oh">
            <span class="text-gray" translate>Amount</span>:
            <span class="right">
              {{specificAmount}} {{unitName}}
              <span class="label gray radius">{{specificAlternativeAmount}} {{alternativeIsoCode}}</span>
            </span>
          </li>
        </ul>
        <div class="extra-margin-bottom"></div>
      </section>
    </ion-content>

    <ion-content ng-show="sending">
      <div class="card">
        <div class="item item-text-wrap">
          <i class="icon ion-arrow-up-c"></i> <span class="text-bold size-16">Sending</span>
          <div class="text-bold size-28 m15t">{{sendingAmount}} {{unitName}}</div>
          <div class="text-light size-20 m5t">{{sendingAlternativeAmount}} {{alternativeIsoCode}}</div>
        </div>
      </div>

      <div class="list card">
        <span class="item">Fee: Economy (97 bits)</span>

        <span class="item item-icon-left">
          <i class="icon ion-ios-person-outline"></i>
          <label translate>To</label>
          <p>{{recipientName}}</p>
        </span>

        <span class="item item-icon-left">
          <i class="icon icon-wallet size-21" ng-style="{'color':recipientColor}"></i>
          <label translate>From</label>
          <p>Focused Wallet (Default Wallet)</p>
        </span>

        <span class="item item-icon-right">
          Add Memo
          <i class="icon ion-ios-arrow-right size-21"></i>
        </span>
      </div>

      <div class="card">
        <div class="item item-text-wrap item-icon-right" ng-click="cancel()">
          Slide to complete
          <i class="icon ion-ios-arrow-thin-right size-21"></i>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-modal-view>
