<ion-modal-view ng-controller="inputAmountController" ng-style="{'background-color':'#F6F7F9'}" ng-init=init()>
  <ion-header-bar align-title="center" class="tab-bar" ng-style="{'background-color':color}">
    <div class="left-small">
      <a ng-click="cancel()" class="p10">
        <span class="text-close" translate>Close</span>
      </a>
    </div>
    <h1 class="title ellipsis" translate>Enter amount</h1>
    <div class="right-small m5r" ng-show="!specificAmount" ng-click="toggleAlternative()">
      <a class="postfix" ng-show="showAlternativeAmount">{{alternativeIsoCode}}</a>
      <a class="postfix" ng-show="!showAlternativeAmount">{{unitName}}</a>
    </div>
  </ion-header-bar>

  <ion-content>
    <div ng-show="!specificAmount">
      <div class="send-amount row" ng-style="{'background-color':index.backgroundColor}">
        <div class="size-48" ng-show="!showAlternativeAmount">{{amount}}</div>
        <div class="size-21 text-light" ng-show="!showAlternativeAmount">{{globalResult}} {{amountResult}} {{alternativeIsoCode}}</div>
        <div class="size-48" ng-show="showAlternativeAmount">${{alternativeAmount}}</div>
        <div class="size-21 text-light" ng-show="showAlternativeAmount">{{globalResult}} {{alternativeResult}} {{unitName}}</div>
      </div>

      <div class="button-content text-center size-10 df">
        <button class="button button-amount expand button-stable" ng-click="pushOperator('x')">x</button>
        <button class="button expand button-stable" ng-click="pushOperator('/')">/</button>
        <button class="button expand button-stable" ng-click="pushOperator('+')">+</button>
        <button class="button expand button-stable" ng-click="pushOperator('-')">-</button>
      </div>

      <div class="m10b">
        <div class="button-content text-center df">
          <button class="button expand button-light" ng-click="pushDigit('1')">1</button>
          <button class="button expand button-light" ng-click="pushDigit('2')">2</button>
          <button class="button expand button-light" ng-click="pushDigit('3')">3</button>
        </div>
        <div class="button-content text-center df">
          <button class="button expand button-light" ng-click="pushDigit('4')">4</button>
          <button class="button expand button-light" ng-click="pushDigit('5')">5</button>
          <button class="button expand button-light" ng-click="pushDigit('6')">6</button>
        </div>
        <div class="button-content text-center df">
          <button class="button expand button-light" ng-click="pushDigit('7')">7</button>
          <button class="button expand button-light" ng-click="pushDigit('8')">8</button>
          <button class="button expand button-light" ng-click="pushDigit('9')">9</button>
        </div>
        <div class="button-content text-center df">
          <button class="button expand button-light" ng-click="pushDigit('.')">.</button>
          <button class="button expand button-light" ng-click="pushDigit('0')">0</button>
          <button class="button expand button-light" ng-click="removeDigit()"><</button>
        </div>
      </div>

      <div class="row m20t">
        <div class="columns">
          <button class="round expand m0"
            ng-style="{'background-color':index.backgroundColor}"
            ng-disabled="alternativeResult <= 0 && amountResult <= 0"
            ng-click="finish()"
            ng-show="!specificAmount">
            <span translate ng-show="!address">Ok</span>
            <span translate ng-show="address">Generate QR Code</span>
          </button>
        </div>
      </div>
    </div>

    <div class="modal-content m20b" ng-show="specificAmount">
      <h4 class="title m10l" translate>QR Code</h4>
      <ul class="no-bullet size-14 m0">
        <li class="line-b p10 oh text-center">
          <qrcode size="220" data="bitcoin:{{address + '?amount=' + specificAmountBtc}}"></qrcode>
          <div class="m10t text-center" ng-show="isCordova">
            <span class="button outline dark-gray tiny round"
              ng-click="shareAddress('bitcoin:' + address + '?amount=' + specificAmountBtc)">
              <i class="fi-share"></i>
              <span translate>Share address</span>
            </span>
          </div>
        </li>
      </ul>

      <h4 class="title m10l" translate>Details</h4>
      <ul class="no-bullet size-14 m0">
        <li class="line-b p10 oh">
          <span class="text-gray" translate>Address</span>:
          <span class="right">
            <span class="text-gray enable_text_select">{{address}}</span>
          </span>
        </li>
        <li class="line-b p10 oh">
          <span class="text-gray" translate>Amount</span>:
          <span class="right">
            {{specificAmount}} {{unitName}}
            <span class="label gray radius">{{specificAlternativeAmount}} {{alternativeIsoCode}}</span>
          </span>
        </li>
      </ul>

      <div class="row">
        <div class="columns">
          <button class="round expand m20t"
            ng-style="{'background-color':index.backgroundColor}"
            ng-click="init()">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
