<nav class="tab-bar text-right hide-for-large-up">
  <span ng-click="cancel()" class="p10 text-white" translate>Close</span>
</nav>
<div class="modal-mobile text-center" ng-init="addr = address.address">
  <qrcode size="220" data="{{addr}}"></qrcode>

  <div class="m20t"
    ng-init="label = $root.wallet.addressBook[addr].label">
    <div class="size-12">
      {{addr}}
    </div> 
    <div class="m5t size-10 text-secondary" ng-show="address.isChange" translate>change</div>
    <div class="m10t" ng-show="label">
      ({{label}})
    </div>
    <div class="m5t" ng-show="address.balance && address.balance > 0">
      <b>{{address.balance}} {{$root.wallet.settings.unitName}}</b>
    </div>
  </div>
  <div class="text-center m10t" ng-if="isCordova">
    <button class="primary expand" ng-click="copyAddress(addr)">
      <i class="fi-clipboard-pencil"></i> <span translate>Copy to clipboard</span>
    </button>
  </div>
  <a class="close-reveal-modal show-for-large-up" ng-click="cancel()"><i class="fi-x size-18"></i></a>
</div>
