<ion-modal-view ng-style="{opacity: '0.9'}" ng-controller="receiveTipsController">
  <ion-nav-bar class="bar-ligt">
    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="close()">
        X
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="text-center">
      <h2>Receive bitcoin by sharing your address</h2>
      <h3>Other bitcoin users can scan this code to send you money</h3>
    </div>
  </ion-content>
</ion-modal-view>
