<ion-modal-view ng-style="{opacity: '0.9'}" ng-controller="scanTipsController">
  <ion-nav-bar class="bar-ligt">
    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="close()">
        X
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="text-center">
      <h2>Scan the code to pay with bitcoin</h2>
      <h3>QR codes could also contain a bitcoin wallet invitation, or an URL</h3>
    </div>
  </ion-content>
</ion-modal-view>
