<nav class="tab-bar" ng-style="{'background':skin.navBarBackground}">
  <section class="left-small">
    <a ng-click="cancel()" class="p10">
      <span class="text-close" ng-style="{'color':skin.navBarButtonTextColor}" translate>Close</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 translate class="title ellipsis" ng-style="{'color':skin.navBarTitleColor}">
      QR-Scanner
    </h1>
  </section>
</nav>
<div class="modal-content text-center fix-modals-touch" ng-init="init()">
  <canvas id="qr-canvas" width="200" height="150"></canvas>
  <video id="qrcode-scanner-video" width="300" height="225"></video>
</div>
