<nav class="tab-bar">
  <section class="left-small">
    <a class="p10" 
      ng-click="cancel()"><i class="fi-arrow-left size-24"></i> 
    </a>
  </section>
</nav>

<div class="row p60t">
  <div class="large-12 columns">
  <div class="header-modal text-center">
    <div ng-if="btx.addressTo" class="m10v">
      <span class="ellipsis">
        <i translate>To:</i>
        <span ng-if="btx.merchant">
          <span ng-show="btx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{btx.merchant.domain}}</span>
          <span ng-show="!btx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{btx.merchant.domain}}</span>
        </span>

        <span ng-if="!btx.merchant">
          <span class="text-gray"> {{btx.labelTo || btx.addressTo}}</span>
        </span>
      </span>
    </div>
    <div class="size-42"  ng-class="{
      'text-primary' : btx.action == 'received',
      'text-warning': btx.action == 'sent', 
      'text-gray': btx.action == 'moved'}">
      <span ng-if="btx.action == 'received'">+</span><span ng-if="btx.action == 'sent'">-</span>{{getAmount(btx.amount)}}
      {{getUnitName()}}
    </div>
    <div class="size-18 m5t text-gray" ng-show="btx.alternativeAmount">
      {{btx.alternativeAmount}} {{$root.wallet.settings.alternativeIsoCode}}
    </div>
  </div>

  <table>
    <tr ng-if="btx.time">
      <td width="30"><i translate>Date:</i></td>
      <td><time>{{ btx.time * 1000 | amCalendar}}</time></td>
    </tr>

    <tr ng-if="btx.message">
      <td width="30"><i translate>Note:</i></td> 
      <td class="">{{btx.message}}</td>
    </tr>

    <tr ng-if="btx.merchant">
      <td width="30"><i translate>Merchant Message:</i></td>  
      <td class="text-gray">{{btx.merchant.pr.pd.memo}}</td>
    </tr>

    <tr ng-if="btx.time">
      <td width="30"><i translate>Confirmations: </i></td>
      <td><span class="text-warning" ng-show="!btx.confirmations || btx.confirmations == 0" translate>
          Unconfirmed
        </span>
        <span class="text-secondary" ng-show="btx.confirmations>0">
          {{btx.confirmations}}
        </span>
      </td>
    </tr>

    <tr ng-if="btx.actions[0]">
      <td width="30"><i translate>Signatures:</i></td>
      <td>
        <ul class="no-bullet size-10 m0">
          <li ng-repeat="c in btx.actions" ng-class="{'m5b':!$last}">
          <span>
            <i ng-if="c.type == 'reject'" class="fi-x icon-sign x"></i>
            <i ng-if="c.type == 'accept'" class="fi-check icon-sign check"></i>
          </span>
          <span>{{c.copayerName}}</span>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <small class="ellipsis text-gray m20b text-right"  ng-if="btx.txid" > ID: {{btx.txid}} </small>

  <a class="button outline light-gray tiny right" ng-click="$root.openExternalLink('http://' + getShortNetworkName() + '.insight.is/tx/' + btx.txid)"  ng-if="btx.txid">
    <span translate>See it on the blockchain</span> <i class="icon-arrow-right2 vm"></i>
  </a>
</div>
</div>
<div class="extra-margin-bottom"></div>
