<ion-modal-view id="txp-details" ng-controller="txpDetailsController" ng-init="init()">
  <ion-header-bar align-title="center" class="bar-royal">
    <button class="button button-clear" ng-click="close()">
      Close
    </button>
    <div class="title" translate>
      Payment Proposal
    </div>
    <button class="button button-clear" ng-click="reject()" ng-disabled="loading" ng-if="isShared && tx.pendingForUs">
      Reject
    </button>
  </ion-header-bar>

  <ion-content ng-init="updateCopayerList()" ng-class="{'bottom': tx.pendingForUs && canSign}">
    <div class="list">
      <div class="item head">
        <div class="sending-label">
          <i class="icon ion-arrow-up-c"></i>
          <span translate>Sending</span>
        </div>
        <div class="amount-label">
          <div class="amount">{{tx.amountStr}}</div>
          <div class="alternative" ng-show="tx.alternativeAmountStr">{{tx.alternativeAmountStr}}</div>
        </div>
      </div>

      <div class="row" ng-if="tx.removed">
        <div class="column m20t text-center text-warning size-12" translate>
          The payment was removed by creator
        </div>
      </div>

      <div ng-show="tx.status != 'pending'">
        <div ng-show="tx.status=='accepted' && !tx.isGlidera">
          <div class="m10b" translate>Payment accepted, but not yet broadcasted</div>

          <button class="button button-balanced button-block" ng-style="{'background-color':color}" ng-click="broadcast(tx)" ng-disabled="loading">
            <i class="fi-upload-cloud"></i>
            <span translate>Broadcast Payment</span>
          </button>
        </div>
        <div ng-show="tx.status=='accepted' && tx.isGlidera" >
          <div class="m10h" translate>Payment accepted. It will be broadcasted by Glidera. In case there is a problem, it can be deleted 6 hours after it was created.</div>
        </div>
        <div class="balanced" ng-show="tx.status == 'broadcasted'" translate>Payment Sent</div>
        <div class="assertive" ng-show="tx.status=='rejected'" translate>Payment Rejected</div>
      </div>

      <div class="item" ng-show="!currentSpendUnconfirmed && tx.hasUnconfirmedInputs">
        <span class="text-warning" translate>Warning: this transaction has unconfirmed inputs</span>
      </div>

      <div class="info">
        <div class="item">
          <span translate>To</span>
          <span class="payment-proposal-to" copy-to-clipboard="tx.toAddress">
            <i class="icon ion-social-bitcoin"></i>
            <contact ng-if="!tx.hasMultiplesOutputs" class="enable_text_select ellipsis" address="{{tx.toAddress}}"></contact>
            <span ng-if="tx.hasMultiplesOutputs" translate>Multiple recipients</span>
          </span>
        </div>

        <div ng-show="tx.hasMultiplesOutputs" class="item" ng-click="showMultiplesOutputs = !showMultiplesOutputs">
          <span class="text-gray" translate>Recipients</span>
          <span class="right">{{tx.recipientCount}}
            <i ng-show="showMultiplesOutputs" class="icon ion-ios-arrow-up"></i>
            <i ng-show="!showMultiplesOutputs" class="icon ion-ios-arrow-up"></i>
          </span>
        </div>

        <div class="item" ng-show="tx.hasMultiplesOutputs && showMultiplesOutputs"
          ng-repeat="output in tx.outputs" ng-include="'views/includes/output.html'">
        </div>

        <div class="item">
          <span translate>From</span>
          <i class="icon big-icon-svg">
            <img src="img/icon-wallet.svg" ng-style="{'background-color': wallet.color}" class="bg"/>
          </i>
          <span>
            {{wallet.name}}
          </span>
        </div>
        <div class="item">
          <span translate>Created by</span>
          <span>
            {{tx.creatorName}} <time>{{ (tx.ts || tx.createdOn ) * 1000 | amDateFormat:'MM/DD/YYYY HH:mm a'}}</time>
          </span>
        </div>
        <div class="item" ng-show="tx.message">
          <span translate>Memo</span>
          <span>
            {{tx.message}}
          </span>
        </div>
        <div class="item">
          <span translate>Fee</span>
          <span>
            {{tx.feeStr}}
          </span>
        </div>

        <div ng-if="tx.paypro">
          <div class="item item-divider" translate>Payment details</div>
          <li class="item">
            <span class="text-gray" translate>To</span>
            <span class="right">
              <span>
                <span ng-show="tx.merchant.pr.ca"><i class="fi-lock"></i> {{tx.paypro.domain}}</span>
                <span ng-show="!tx.merchant.pr.ca"><i class="fi-unlock"></i> {{tx.paypro.domain}}</span>
              </span>
              <contact address="{{tx.toAddress}}" ng-hide="tx.merchant"></contact>
            </span>
          </li>
          <li class="item" ng-if="paymentExpired">
            <span class="text-gray" translate>Expired</span>
            <span class="right text-alert">
              <time>{{tx.paypro.expires * 1000 | amTimeAgo }}</time>
            </span>
          </li>
          <li class="item" ng-if="!paymentExpired">
            <span class="text-gray" translate>Expires</span>
            <span class="right">
              <time>{{expires}}</time>
            </span>
          </li>
          <li class="item">
            <span class="text-gray" translate>Merchant Message</span>
            <span class="db">{{tx.paypro.pr.pd.memo}}</span>
          </li>
        </div>
        <div ng-if="actionList[0]">
          <div class="item item-divider" translate>Timeline</div>

          <div class="item" ng-class="{'action-created' : a.type == 'created' || a.type == 'accept', 'action-rejected' : a.type == 'reject'}" ng-repeat="a in actionList track by $index">
            <div class="row">
              <div class="col col-10">
                <span id="timeline-icon">{{$index + 1}}</span>
              </div>
              <div class="col">
                <div>{{a.description}}</div>
                <div>
                  <span>{{a.by}}</span>
                  <span class="item-note">
                    <time>{{ a.time * 1000 | amDateFormat:'MM/DD/YYYY HH:mm a'}}</time>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m20t" ng-if="tx.canBeRemoved || (tx.status == 'accepted' && !tx.broadcastedOn)">
      <div class="size-12 padding" ng-show="!tx.isGlidera && isShared" translate>
        * A payment proposal can be deleted if 1) you are the creator, and no other copayer has signed, or 2) 24 hours have passed since the proposal was created.
      </div>
      <button class="button button-assertive button-block" ng-click="remove()" ng-disabled="loading">
        <i class="fi-trash size-14 m5r"></i>
        <span translate>Delete Payment Proposal</span>
      </button>
    </div>
  </ion-content>
  <accept class="accept-slide" ng-if="tx.pendingForUs && canSign && !loading && !paymentExpired"></accept>
</ion-modal-view>
