page-choose-fee-level {
  .testnet-warning {
    width: 100%;
    height: 3rem;
    background-color: #ffc900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .fee-info {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
    .fee-time, .fee-rate {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .fee-time {
      border-right: solid 1px black;
    }
  }
  .fee-custom {
    min-height: 12rem;
    .fee-error {
      color: red;
    }
  }
  .fee-level {
    margin-top: 2rem;
  }
}