<ion-view id="rate-app">
  <ion-content scroll="false">
    <a class="right skip" ng-click="skip()">Skip</a>
    <div class="title">
      <span translate>Thank you!</span>
      <div>
        <i class="icon icon-svg">
          <img src="img/ico-positive-feedback.svg" class="bg"/>
        </i>
      </div>
    </div>
    <div class="subtitle text-center">
        <span translate>5-star ratings help us get BitPay into more hands, and more users means more resoucers can be committed to the app!</span>
    </div>
    <div class="subtitle text-center">
      <span class="text-bold" translate>Would you be willing to rate BitPay in the app store?</span>
    </div>
    <div class="buttons">
      <button type="submit" class="button button-standard button-primary" ng-click="goAppStore()">
        <span translate>Rate on the app store</span>
      </button>
      <button type="submit" class="button button-standard button-primary button-clear" ng-click="sendFeedback()">
        <span translate>Send us feedback instead</span>
      </button>
    </div>
  </ion-content>
</ion-view>
