<div class="card" id="rate-card" ng-controller="rateCardController">
  <div class="item item-icon-right item-heading">
    <span translate>How do you like {{appName}}?</span>
    <a ng-click="hideCard()" ><i class="icon ion-ios-close-empty close-home-tip"></i></a>
  </div>
  <div class="row item item-sub" ng-class="{'row-margin': isModal}">
    <div class="col col-20" ng-click="setScore(1)">
      <i class="icon icon-svg">
        <img ng-if="1 <= score" src="img/ico-star-filled.svg"/>
        <img ng-if="1 > score" src="img/ico-star.svg"/>
      </i>
    </div>
    <div class="col col-20" ng-click="setScore(2)">
      <i class="icon icon-svg">
        <img ng-if="2 <= score" src="img/ico-star-filled.svg"/>
        <img ng-if="2 > score" src="img/ico-star.svg"/>
      </i>
    </div>
    <div class="col col-20" ng-click="setScore(3)">
      <i class="icon icon-svg">
        <img ng-if="3 <= score" src="img/ico-star-filled.svg"/>
        <img ng-if="3 > score" src="img/ico-star.svg"/>
      </i>
    </div>
    <div class="col col-20" ng-click="setScore(4)">
      <i class="icon icon-svg">
        <img ng-if="4 <= score" src="img/ico-star-filled.svg"/>
        <img ng-if="4 > score" src="img/ico-star.svg"/>
      </i>
    </div>
    <div class="col col-20" ng-click="setScore(5)">
      <i class="icon icon-svg">
        <img ng-if="5 ==  score" src="img/ico-star-filled.svg"/>
        <img ng-if="5 > score" src="img/ico-star.svg"/>
      </i>
    </div>
  </div>
  <div class="feedback-flow-button" ng-if="button_title">
    <button type="submit" class="button button-standard button-primary" ng-click="goFeedbackFlow()">
      <span>{{button_title}}</span>
    </button>
  </div>
</div>
