<ion-view id="rate-app" hide-tabs>
  <ion-content scroll="false">
    <a class="skip-rating" ng-click="skip()" translate>Not now</a>
    <div class="feedback-title" translate>Thank you!</div>
    <img src="img/ico-positive-feedback.svg" class="share-the-love-illustration"/>
    <div class="subtitle">
        <span translate>5-star ratings help us get {{appName}} into more hands, and more users means more resources can be committed to the app!</span>
    </div>
    <div class="subtitle">
      <span class="text-bold" translate>Would you be willing to rate {{appName}} in the app store?</span>
    </div>
    <div class="rate-buttons">
      <button type="submit" class="button button-standard button-primary" ng-click="goAppStore()">
        <span translate>Rate on the app store</span>
      </button>
      <button type="submit" class="button button-standard button-secondary button-clear" ng-click="sendFeedback()">
        <span translate>Send us feedback instead</span>
      </button>
    </div>
  </ion-content>
</ion-view>
