<ion-view id="send-feedback">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button ng-if="!score">
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-clear skip" ng-click="sendFeedback(null, true)" translate>
        Skip
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" scroll="false">
    <div class="row item item-sub feedback-heading">
      <div class="col col-50">
        <div class="title">
          <span>{{reaction}}</span>
        </div>
      </div>
      <div class="col col-50 rating">
        <img class="send-feedback-star" ng-if="1 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="1 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="2 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="2 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="3 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="3 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="4 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="4 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="5 ==  score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="5 > score" src="img/ico-star.svg"/>
      </div>
    </div>
    <div class="comment">
      <span translate>{{comment}}</span>
    </div>
    <textarea class="user-feedback" ng-model="feedback.value" placeholder="Your ideas, feedback, or comments"></textarea>
    <button ng-disabled="!feedback.value" type="submit" class="button button-full button-primary" ng-click="sendFeedback(feedback.value, false)" translate>
      Send
    </button>
  </ion-content>
</ion-view>
