<ion-view id="send-feedback">
  <ion-content scroll="false">
    <a class="right skip" ng-click="skip()">Skip</a>
    <div class="row">
      <div class="col col-40 title">
        <span>{{reaction}}</span>
      </div>
      <div class="col col-60 star">
        <a><i ng-class="{'gold': 1 <= score, 'subtle-gray': 1 > score}" class="icon ion-android-star"></i></a>
        <a><i ng-class="{'gold': 2 <= score, 'subtle-gray': 2 > score}" class="icon ion-android-star"></i></a>
        <a><i ng-class="{'gold': 3 <= score, 'subtle-gray': 3 > score}" class="icon ion-android-star"></i></a>
        <a><i ng-class="{'gold': 4 <= score, 'subtle-gray': 4 > score}" class="icon ion-android-star"></i></a>
        <a><i ng-class="{'gold': 5 == score, 'subtle-gray': 5 > score}" class="icon ion-android-star"></i></a>
      </div>
    </div>
    <div class="row comment">
      <span translate>{{comment}}</span>
    </div>
    <div>
      <textarea ng-model="feedback" placeholder="Is there anything we could do to improve your experience?" row="40"></textarea>
    </div>
    <div class="padding">
      <button ng-disabled="!feedback" type="submit" class="button button-full button-primary" ng-click="sendFeedback(feedback)" translate>
        Send
      </button>
    </div>
  </ion-content>
</ion-view>
