<ion-view id="send-feedback">
  <a class="right skip" ng-click="sendFeedback(null,true)" href translate>Skip</a>
  <ion-content class="has-header" scroll="false">
    <div class="row item item-sub">
      <div class="col col-50">
        <div class="title">
          <span>{{reaction}}</span>
        </div>
      </div>
      <div class="col col-50 rating">
        <img class="send-feedback-star" ng-if="1 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="1 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="2 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="2 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="3 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="3 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="4 <= score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="4 > score" src="img/ico-star.svg"/>
        <img class="send-feedback-star" ng-if="5 ==  score" src="img/ico-star-filled.svg"/>
        <img class="send-feedback-star" ng-if="5 > score" src="img/ico-star.svg"/>
      </div>
    </div>
    <div class="comment">
      <span translate>{{comment}}</span>
    </div>
    <div>
      <textarea ng-model="feedback" placeholder="Your ideas, feedback, or comments" row="40"></textarea>
    </div>
    <button ng-disabled="!feedback" type="submit" class="button button-full button-primary" ng-click="sendFeedback(feedback, false)" translate>
      Send
    </button>
  </ion-content>
</ion-view>
