<ion-view id="send-feedback">
  <a class="right skip" ng-click="sendFeedback(null,true)" href translate>Skip</a>
  <ion-content class="has-header" scroll="false">
    <div class="title">
      <span>{{reaction}}</span>
    </div>
    <div class="star">
      <a><i ng-class="{'gold': 1 <= score, 'subtle-gray': 1 > score}" class="icon ion-android-star"></i></a>
      <a><i ng-class="{'gold': 2 <= score, 'subtle-gray': 2 > score}" class="icon ion-android-star"></i></a>
      <a><i ng-class="{'gold': 3 <= score, 'subtle-gray': 3 > score}" class="icon ion-android-star"></i></a>
      <a><i ng-class="{'gold': 4 <= score, 'subtle-gray': 4 > score}" class="icon ion-android-star"></i></a>
      <a><i ng-class="{'gold': 5 == score, 'subtle-gray': 5 > score}" class="icon ion-android-star"></i></a>
    </div>
    <div class="comment">
      <span translate>{{comment}}</span>
    </div>
    <div>
      <textarea ng-model="feedback" placeholder="Is there anything we could do to improve your experience?" row="40"></textarea>
    </div>
    <div class="padding">
      <button ng-disabled="!feedback" type="submit" class="button button-full button-primary" ng-click="sendFeedback(feedback, false)" translate>
        Send
      </button>
    </div>
  </ion-content>
</ion-view>
