<ion-view id="thanks-feedback">
  <ion-content scroll="false">
    <div class="item item-icon-right item-heading">
      <a ui-sref="tabs.home()"><i class="icon ion-ios-close-empty close-home-tip"></i></a>
    </div>
    <div ng-show="skipped && isCordova">
      <div class="title" translate>Invite friends to BitPay Wallet!</div>
      <div>
        <i class="icon zero-state-icon">
          <img src="img/address-book-add.svg"/>
        </i>
      </div>
      <div class="text-center">
        <span translate>Share the love by inviting your friends.</span>
      </div>
    </div>
    <div ng-show="!skipped || !isCordova">
      <div class="title" translate>Thank you!</div>
      <div class="subtitle">
        <span translate>A member of the team will review your feedback as soon as possible.</span>
      </div>
      <div class="subtitle" ng-if="score <= 3 || !isCordova">
        <span translate>If you have additional feedback, please let us know by tapping the "Send feedback" option in the Settings tab.</span>
        <div class="image">
          <i class="icon zero-state-icon">
            <img src="img/address-book-add.svg"/>
          </i>
        </div>
      </div>
      <div class="text-center" ng-if="score > 3 && isCordova">
        <span translate>Share the love by inviting your friends.</span>
      </div>
    </div>
    <div class="share-buttons" ng-if="isCordova && score > 3">
      <div class="ng-hide" ng-show="socialsharing" ng-if="score >= 4">
        <div class="row">
          <div class="ng-hide" ng-show="facebook" ng-click="shareFacebook()">
            <i class="icon zero-state-icon">
              <img src="img/address-book-add.svg"/>
            </i>
            <span>Facebook</span>
          </div>
          <div class="ng-hide" ng-show="twitter" ng-click="shareTwitter()">
            <i class="icon zero-state-icon">
              <img src="img/address-book-add.svg"/>
            </i>
            <span>Twitter</span>
          </div>
          <div class="ng-hide" ng-show="googleplus" ng-click="shareGooglePlus()">
            <i class="icon zero-state-icon">
              <img src="img/address-book-add.svg"/>
            </i>
            <span>Google+</span>
          </div>
        </div>
        <div class="row">
          <div class="ng-hide" ng-show="email" ng-click="shareEmail()">
            <i class="icon zero-state-icon">
              <img src="img/address-book-add.svg"/>
            </i>
            <span>Email</span>
          </div>
          <div class="ng-hide" ng-show="whatsapp" ng-click="shareWhatsapp()">
            <i class="icon zero-state-icon">
              <img src="img/address-book-add.svg"/>
            </i>
            <span>Whatsapp</span>
          </div>
          <div ng-click="shareMessage()">
            <i class="icon zero-state-icon">
              <img src="img/address-book-add.svg"/>
            </i>
            <span>Message</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
