page-send-feedback {
  .send-feedback-star {
    height: 2rem;
    margin-left: 5px;
  }
  .rating {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 15px;
  }
  .comment {
    padding: 0 20px 20px;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 300;
    color: color($colors, dark);
  }
  .feedback-title {
    padding: 15px;    
    font-size: 20px;
    font-weight: bold;
    color: color($colors, dark);
  }
}