page-shapeshift-details {
  .header-modal {
    padding-top: 10px;
    .title-modal {
      font-size: 26px;
      text-align: center;
      img {
        vertical-align: middle;
      }
    }
    .subtitle-modal {
      font-size: 14px;
      text-align: center;
    }
    .status-modal {
      text-align: center;
      font-weight: bold;
      margin: 15px 0;
    }
  }
}
