page-shapeshift-details {
  .header-modal {
    background: white;
    padding: 25px 16px;
    .title-modal {
      color: color($colors, light-grey);
      .icon-service {
        border-radius: 50%;
        padding: 1px;
        width: 46px;
        height: 46px;
        box-shadow: none;
        border: 1px solid #d7d7d7;
      }
      img {
        float: right;
      }
    }
    .subtitle-modal {
      font-size: 2rem;
    }
  }
}
