<ion-header>
  <ion-navbar>
    <ion-title>{{'Shared Wallet' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="setOptsAndJoin()" [disabled]="!joinForm.valid">
        <span translate>Join</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <form [formGroup]="joinForm">
    <ion-item>
      <ion-label floating>{{'Wallet name' | translate}}</ion-label>
      <ion-input type="text" formControlName="walletName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Your name' | translate}}</ion-label>
      <ion-input type="text" formControlName="myName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Wallet invitation' | translate}}</ion-label>
      <ion-input type="text" formControlName="invitationCode" (ionChange)="processInvitation(joinForm.value.invitationCode)"></ion-input>

      <ion-icon *ngIf="joinForm.controls['invitationCode'].status == 'VALID'" name="ios-checkmark-circle" class="check success" item-right></ion-icon>

      <ion-icon class="scanner-icon" name="qr-scanner" item-right (click)="openScanner()"></ion-icon>
    </ion-item>

    <button ion-button class="button-standard button-secondary" (click)="showAdvOpts = !showAdvOpts">
      <span *ngIf="!showAdvOpts">{{'Show advanced options' | translate}}</span>
      <span *ngIf="showAdvOpts">{{'Hide advanced options' | translate}}</span>
    </button>

    <div *ngIf="showAdvOpts" padding-bottom>
      <ion-item>
        <ion-label floating>Wallet Service URL</ion-label>
        <ion-input type="text" formControlName="bwsURL"></ion-input>
      </ion-item>

      <ion-item *ngIf="!keyId">
        <ion-label stacked>{{'Wallet key' | translate}}</ion-label>
        <ion-select okText="{{okText}}" cancelText="{{cancelText}}" formControlName="selectedSeed" (ionChange)="seedOptionsChange(joinForm.value.selectedSeed)">
          <ion-option *ngFor="let opt of seedOptions" [value]="opt.id">{{opt.label}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="joinForm.value.selectedSeed == 'set' && !keyId">
        <ion-label stacked>{{'Wallet recovery phrase' | translate}}</ion-label>
        <ion-input type="text" formControlName="recoveryPhrase"></ion-input>
      </ion-item>

      <ion-item *ngIf="joinForm.value.selectedSeed == 'set' && !keyId">
        <ion-label stacked>{{'Derivation path' | translate}}</ion-label>
        <ion-input type="text" formControlName="derivationPath"></ion-input>
      </ion-item>
    </div>
  </form>
</ion-content>