page-paper-wallet {
  ion-content {
    .fixed-content, .scroll-content {
      margin-bottom: 90px;
    }
  }
  .message {
    text-align: center;
    background: color($colors, warning);
    color: white;
  }
  .title {
    padding: 10px;
  }
}
