page-paper-wallet {
  img {
    &.icon-wallet {
      width: 35px !important;
      background-color: color($colors, primary);
    }
  }
  @mixin wallets-list {
    height: 3.5rem;
    width: 3.5rem;
    content: " ";
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  }
  
  .wallet-livenet::before {
    @include wallets-list;
    background: color($colors, primary) url('../assets/img/icon-wallet.svg') no-repeat 0px 0px;
  }
   
  .wallet-testnet::before {
    @include wallets-list;
    background: color($colors, primary) url('../assets/img/icon-wallet-testnet.svg') no-repeat 0px 0px;
  }
  
  .action-sheet-container {
    .action-sheet-button {
      display: flex;
      justify-content: baseline;
      align-items: center;
      padding: 2.5rem;
      .button-inner {
        padding-left: 5rem;
      }
    }
  }
}