<div ng-init="$root.title = 'Page not found'"
  ng-class="{'wide-page':!$root.iden}">
  <div class="text-center">
    <img ng-show="$root.iden" src="img/logo.svg" alt="Copay">
    <img ng-show="!$root.iden" src="img/logo-negative.svg" alt="Copay">
  </div>
  <h1 class="text-center" ng-class="{'text-white': !$root.iden}">404</h1>
  <h3 translate class="text-center" ng-class="{'text-white': !$root.iden}">Page not found</h3>
  <p class="text-center"><a href="#!/">&laquo; <span translate>Back</span></a></p>
</div>
<div class="extra-margin-bottom"></div>
