page-txp-details {
  .margin-bottom {
    .fixed-content,
    .scroll-content {
      margin-bottom: 90px;
    }
  }
  $item-border-color: #efefef;
  $item-lateral-padding: 20px;
  .header-container {
    padding: 20px 0px 20px 0px;
    .sending-label {
      display: flex;
      align-items: center;
      span {
        font-size: 1.8rem;
      }
    }
  }
  .amount-label {
    padding-top: 1rem;
    .amount {
      display: flex;
      font-size: 3.5rem;
      justify-content: space-between;
      .unit {
        font-weight: 400;
      }
      img.sending-img {
        width: auto;
        height: 40px;
      }
      .amount-coin {
        font-size: 1.5rem;
        margin-top: 0.35rem;
        margin-left: 0.8rem;
      }
      div {
        display: flex;
      }
    }
  }
  .alternative {
    margin-top: 0.5rem;
    color: color($colors, light-grey);
  }

  .proposal-deletion {
    background-color: color($colors, blank);
    text-align: center;
    .proposal-deletion-help {
      text-align: left;
      color: color($colors, grey);
      font-size: 12.5px;
    }
  }

  .proposal-rejection {
    background-color: color($colors, blank);
    text-align: center;
  }

  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .container-to,
  .container-from {
    .wallet,
    .payment-proposal-to {
      justify-content: space-between;
      .text-address.ellipsis {
        flex: 0 0 47px;
        img {
          margin: 12px 0 12px 12px;
          vertical-align: middle;
        }
      }
      .address-coppied {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 3px;
        background-color: rgb(248, 248, 248);
      }
      .address-width {
        width: 92%;
      }
      @include row-flex;
      .icon-wallet {
        margin-right: 0.8rem;
        width: 25px;
        height: 25px;
        box-shadow: none;
        &.disabled {
          background-color: color($colors, grey);
        }
      }
      .icon-bitcoin {
        margin-right: 0.8rem;
        width: 25px;
        height: 25px;
        padding: 2px 7px;
        border: 1px solid color($colors, grey);
        border-radius: $icon-border-radius;
      }
    }
  }

  .item-fee {
    .fee-title {
      margin-bottom: 5px;
      color: color($colors, grey);
    }
    .fee-amount {
      font-weight: 400;
    }
    .fee-details {
      font-size: 12.5px;
      color: color($colors, light-grey);
    }
  }

  .item-memo {
    margin-top: 10px;
  }

  .timeline-item {
    background-color: color($colors, blank);
    border: 0;
    &:nth-child(2) {
      border-top: 1px solid $item-border-color;
    }
    &:last-child {
      border-bottom: 1px solid $item-border-color;
    }
    padding: 17px $item-lateral-padding;

    > * {
      padding-right: 0;
    }
  }

  .timeline-content {
    display: flex;
    align-items: center;

    &-icon {
      display: flex;
      align-items: center;
      min-width: 40px;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: 0.5rem;
      position: relative;
      img,
      .rejected {
        z-index: 12;
      }

      .line::before {
        content: '';
        background: #e8e8e8;
        height: 52px;
        width: 1px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
        top: 0;
      }

      > div {
        border: 3px solid color($colors, primary);
        border-radius: $icon-border-radius;
        display: flex;
        height: 26px;
        width: 26px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        vertical-align: middle;
        color: color($colors, primary);
        z-index: 10;

        &.rejected {
          background: #e15061;
          border-color: #e15061;
          color: #ffffff;
          font-family: 'Roboto-Bold';
          font-size: 19px;
        }
      }
    }

    &-label {
      flex-grow: 1;

      > .action {
        font-size: 16px;
      }

      > .name {
        color: #aaa;
        font-size: 14px;
      }
    }
  }
  .last-item {
    margin-left: auto !important;
    margin-right: 0px !important;
  }
  .output-info {
    color: color($colors, dark);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &.output-note {
      color: color($colors, grey);
    }
  }
  .proposal-container {
    border-left: 2px solid #ff9900;
  }
}
