#glidera {
  .glidera-lead {
    margin: 2rem 1rem;
    color: $dark-gray;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
  .glidera-text {
    margin: 2rem 1rem;
    color: $mid-gray;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
  }
  .disclosure {
    color: $light-gray;
    font-size: 12px;
    text-align: left;
    margin: 1rem;
  }
}
