#glidera {
  .glidera-lead {
    margin: 1rem;
    color: $mid-gray;
    font-size: 18px;
    text-align: center;
  }
  .disclosure {
    color: $mid-gray;
    font-size: 12px;
    text-align: left;
    margin: 1rem;
  }
}
