#shapeshift {
  $item-lateral-padding: 20px;
  $item-vertical-padding: 10px;
  $item-border-color: #EFEFEF;
  $item-label-color: #6C6C6E;
  .start-background {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background: url(../img/shapeshift_background.jpg) center center no-repeat #28394d;
    .start-buttons {
      position: absolute;
      bottom: 30px;
      width: 100%;
    }
    .start-description {
      margin-top: 0;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 130px;
      opacity: .6;
      max-width: 300px;
      font-size: 14px;
      h4 {
        color: white;
      }
    }
  }
  .main-header {
    height: 120px;
    background: url(../img/shapeshift_background.jpg) center center no-repeat #28394d;
    text-align: center;
    img {
      padding-top: 20px;
    }
  }
  .confirm-coin-logo {
    margin-top: 26px;
  }
  .confirm-coin-logo-cash {
    margin-top: 28px;
  }
  .wallet-coin-logo {
    vertical-align: middle;
    margin-right: 5px;
  }
  .wallet-details__item.item {
    padding-top: 0;
    padding-bottom: 0;

    .wallet-details__tx-icon {
      background: #fff;
      border-radius: 50px;
    }
  }
  .shift-button {
    margin-top: 20px;
  }
  .head {
    padding: 20px $item-lateral-padding 0;
    height: 165px;
    border-top: 0;

    .sending-label {
      display: flex;
      font-size: 18px;
      align-items: center;
      margin-bottom: 1.8rem;

      img {
        margin-right: 1rem;
        height: 35px;
        width: 35px;
      }

      .big-icon-svg {
        margin-right: 0.6rem;
      }

    }
    .amount-label{
      line-height: 30px;
      .amount{
        font-size: 38px;
        margin-bottom: .5rem;

        > .unit {
          font-family: "Roboto-Light";
        }
      }
      .alternative {
        font-size: 12px;
        font-family: "Roboto-Light";
        color: #9B9B9B;
      }
    }
  }
  .info {
    .badge {
      border-radius: 0;
      padding: .5rem;
    }
    .item {
      color: #4A4A4A;
      padding-top: $item-vertical-padding;
      padding-bottom: $item-vertical-padding;
      padding-left: $item-lateral-padding;

      &:not(.item-icon-right) {
        padding-right: $item-lateral-padding;
      }

      .label {
        font-size: 14px;
        color: $item-label-color;
        margin-bottom: 8px;
      }

      .capitalized {
        text-transform: capitalize;
      }

      .wallet .big-icon-svg > .bg {
        height: 24px;
        width: 24px;
        padding: 2px;
        box-shadow: none;
        vertical-align: middle;
      }

      .total-amount {
        font-weight: bold;
      }

      &.single-line {
        display: flex;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 17px;

        .label {
          margin: 0;
          flex-grow: 1;
        }
      }
    }
    .item-divider {
      padding-top: 1.2rem;
      color: $item-label-color;
      font-size: 15px;
    }
    .wallet {
      display: flex;
      align-items: center;
      padding: .2rem 0;
      margin-bottom: 5px;

      ~ .bp-arrow-right {
        top: 14px;
      }

      > i {
        padding: 0;
        position: static;

        > img {
          height: 24px;
          width: 24px;
          padding: 2px;
          margin-right: .7rem;
          box-shadow: none;
        }
      }
    }
  }
  .item-amount {
    float: right;
    font-weight: bold;
  }
  .has-bottom {
    bottom: 80px;
  }
  .text-confirm {
    font-size: 12px;
    padding: 20px;
  }
  .shift-sent {
    color: #fff;
    font-size: 26px;
    margin: 20px 10px;
  }
  .market-info {
    .item {
      font-size: 14px;
      padding: 10px;
      span {
        font-size: 12px;
      }
    }
  }
  .agree-to-terms {
    p {
      font-size: 12px;
    }
    a {
      font-weight: bold;
      cursor: pointer;
    }
    .item {
      position: relative;
      float: left;
      padding: 30px;
      background-color: transparent;
    }
  }
  .contact-support {
    text-align: center;
    font-size: 12px;
    padding: 10px;
  }
  .title-modal {
    font-size: 26px;
    text-align: center;
    img {
      vertical-align: middle;
    }
  }
  .subtitle-modal {
    font-size: 12px;
    text-align: center;
  }
  .status-modal {
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
  }
  .note-address {
    font-size: 12px;
    width: 70%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
