page-proposals {
  ion-content {
    .fixed-content,
    .scroll-content {
      margin-bottom: 90px;
    }
  }
  .wallet-divider {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    .wallet-icon {
      display: flex;
      align-items: center;
      .item-img {
        margin-right: 1rem;
      }
    }
    .multi-sign {
      color: color($colors, primary);
      ion-icon {
        font-size: 4rem;
        margin-right: 2rem;
      }
    }
  }
  .txp-container {
    display: flex;
    align-items: center;
    background-color: white;
    ion-checkbox {
      margin-left: 1.2rem;
      .checkbox-icon {
        border-color: color($colors, primary);
      }
    }
    page-txp {
      width: 100%;
    }
    .with-checkbox {
      margin-left: 16px;
      .proposal-container {
        padding-left: 0;
      }
    }
  }
  .no-margin-bottom {
    .fixed-content,
    .scroll-content {
      margin-bottom: 0px;
    }
  }
  .small-margin {
    .fixed-content,
    .scroll-content {
      margin-bottom: 71px;
    }
  }
}
