page-key-onboarding {
  .key-onboarding-slides {
    .slide-zoom {
      height: 100%;
    }
    ion-slide {
      background: linear-gradient(to bottom, #ffffff, #ebedf8 80%);
      .img-container {
        height: 68vh;
        @media (max-height: 550px) and (max-width: 768px) {
          height: 53vh;
        }
        @media (min-height: 600px) and (min-width: 768px) {
          height: 42vh;
        }
        @media (max-height: 650px) and (max-width: 768px) {
          height: 60vh;
        }
        @media (min-height: 768px) and (min-width: 768px) {
          height: 415px;
        }
        img {
          padding: 5rem;
          @media (max-height: 650px) and (max-width: 768px) {
            padding: 3rem;
          }
          @media (max-height: 550px) and (max-width: 768px) {
            padding: 2rem;
          }
          @media (min-height: 600px) and (min-width: 768px) {
            padding: 2rem;
          }
          width: 100%;
          height: 100%;
          justify-content: center;
          align-self: center;
          margin: 0 auto;
          box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
        }
      }
      .slide-info {
        background: white;
        height: 100%;
        .info {
          padding: 2rem;
          .title {
            align-items: center;
            color: #060606;
            font-weight: 500;
            text-align: left;
          }
          .text {
            font-size: 16px;
            text-align: left;
            color: rgb(46, 46, 46);
            font-weight: 300;
            padding-top: 15px;
          }
        }
      }
    }
  }
  .next-slide-button {
    z-index: 1;
    position: absolute;
    bottom: 0.5rem;
    right: 3rem;
    color: color($colors, primary);
    cursor: pointer;
    text-transform: uppercase;
  }
}
