page-key-onboarding {
  .key-onboarding-slides {
    ion-slide {
      background: linear-gradient(to bottom, #ffffff, #ebedf8 80%);
      .img-container {
        img {
          padding: 5rem;
          @media (max-height: 650px) and (max-width: 768px) {
            padding: 3rem;
          }
          @media (max-height: 550px) and (max-width: 768px) {
            padding: 2rem;
          }
          @media (min-height: 600px) and (min-width: 768px) {
            padding: 2rem;
          }
          width: 100%;
          height: 100%;
          justify-content: center;
          align-self: center;
          margin: 0 auto;
        }
      }
      .slide-info {
        .info {
          padding: 2rem;
          .title {
            align-items: center;
            color: #060606;
            font-weight: 500;
            text-align: left;
          }
          .text {
            font-size: 16px;
            text-align: left;
            color: rgb(46, 46, 46);
            font-weight: 300;
            padding-top: 15px;
          }
        }
      }
    }
  }
  .toolbar {
    .toolbar-background {
      background: #ebedf8;
    }
  }
}
