page-pin {
  ion-content {
    background-color: color($colors, blank) !important;
    .scroll-content {
      display: flex;
      flex-direction: column;
    }
  }
  .pin-header {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    background-color: color($colors, light);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-height: 600px) {
      padding-bottom: 25px;
    }
    .close-button {
      position: absolute;
      right: 2rem;
      top: 1rem;
    }
    .title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
    }
    .icon-container {
      $app-icon-radius: 42;
      position: absolute;
      text-align: center;
      width: 100%;
      border-radius: 50%;
      line-height: 0;
      bottom: $app-icon-radius * -1px;
      .app-icon {
        width: $app-icon-radius * 2px;
        height: $app-icon-radius * 2px;
      }
    }
  }
  .rounded {
    border-radius: 50%;
  }
  .content {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: color($colors, blank);
    .code-wrapper {
      display: flex;
      flex-direction: column;
      height: 60vh;
      min-height: 400px;

      @media (max-height: 500px) {
        min-height: 340px;
      }
    }
    .block-code {
      display: flex;
      justify-content: space-between;
      max-width: 145px;
      margin: auto;
      width: 50%;
      padding-top: 33px;
    }
    .block-buttons {
      width: 100%;
      .row {
        font-size: 32px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;

        $bottom-spacing: 31px;

        &:last-child {
          .col {
            padding-bottom: $bottom-spacing;
          }
        }

        .col {
          height: 9vh;
          min-height: 65px;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          @media (max-height: 500px) {
            min-height: 60px;
          }

          > div {
            &:nth-child(2) {
              color: #9b9b9b;
              font-size: 10px;
              letter-spacing: 2px;
              margin-top: 4px;
              height: 22px;
            }
          }
        }
      }
    }
    .circle {
      $circle-diameter: 18px;
      $transition-duration: 150ms;
      border-radius: 50%;
      transition: background-color $transition-duration ease,
        border $transition-duration ease;
      border: 1px solid color($colors, light-grey);
      height: $circle-diameter;
      width: $circle-diameter;
    }
    .filled {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
    }
  }
}
