page-pin {
  .messages {
    text-align: center;
    padding-bottom: 30px;
  }
  .block-code {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: auto;
  }
  .block-buttons {
    .row {
        font-size: 1.7rem;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        div {
          padding: 40px;
        }
    }
  }
  .circle {
    border-radius: 50%;
    box-shadow: 0 0 3px 0px #5b5b5b;
    transition: background-color .2s ease-in-out;
    width: 4rem;
    height: 4rem;
    margin: 10px;
    border: 1px solid $color-primary;
    max-height: 100px;
  }
  .filled {
    background-color: $color-primary;
  }
}