wallet-recover-page {
  .item {
    border: 0;
  }

  .wallet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
  }

  ion-item {
    padding: 12px 0 12px 22px;
    border-bottom: 0;
  }

  .wallet-name {
    margin: 5px;
    padding: 5px;
  }

  .icon-settings {
    width: 25px;
    height: 25px;
    border-radius: $icon-border-radius;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  }
}