page-wallet-addresses {
  .add-icon {
    font-size: 1.7rem !important;
    margin: 0 !important;
    padding: 20px !important;
  }
  .loading {
    display: flex;
    justify-content: center;
    padding: 30px;
    span {
      margin: auto 10px auto 10px;
    }
  }
  button {
    &.item {
      color: color($colors, primary) !important;
    }
  }
  .item {
    .info {
      color: color($colors, primary) !important;
      margin-top: 1px;
    }
  }
  .explanation {
    padding: 16px;
  }
}
