page-bitpay-card-intro {
  ion-header {
    .info {
      opacity: 0.22;
    }
  }

  .bitpayCard {
    &-header {
      background: linear-gradient(180deg, #ffffff 0%, #e2e5f2 100%);
      border-radius: 0 0 65% 25%;
      overflow: hidden;
      text-align: center;
    }
    &-img {
      height: 306px;
      img {
        margin-top: 38px;
        width: 232px;
      }
    }
    &-content {
      padding: 30px 40px;
      .title {
        margin-top: 20px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.2px;
        line-height: 33px;
      }
      p {
        color: #565d6d;
        font-size: 16px;
        line-height: 25px;
      }
    }
    &-item {
      margin-top: 50px;
      &-header {
        display: flex;
        align-items: center;
        img {
          height: 48px;
          width: 48px;
        }
      }
      &-title {
        width: 175px;
        font-size: 21px;
        font-weight: bold;
        line-height: 31px;
        margin-left: 1.5rem;
      }
      p {
        padding-left: 64px;
      }
    }
  }
}
