page-bitpay-card-intro {
  .scroll-content {
    margin-bottom: 0 !important;
    padding-bottom: 140px;
  }
  ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-toolbar {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: white;
    animation: fadein 500ms;

    box-shadow: 0 -5px 40px 0 rgba(0, 0, 0, 0.1);
    .toolbar-content {
      padding: 20px 0;
    }
  }
  ion-header {
    .info {
      opacity: 0.22;
    }
  }

  ion-segment {
    width: 40%;
    margin-left: 16px;
    margin-top: 50px;
    ion-segment-button.segment-activated.segment-button {
      border-bottom-width: 1px;
    }
    .segment-button {
      span {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        text-transform: none;
      }
    }
    .segment-activated {
      span {
        color: color($colors, primary);
      }
    }
  }
  .terms-content {
    border-bottom: 1px solid #f5f7f8;
    ion-list {
      margin: 0px;
    }
    ion-item {
      padding: 32px 16px;
      &.item-ios,
      &.item-md {
        .item-inner {
          padding-right: 0px;
        }
      }
    }
    .terms {
      &-label {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        width: 50%;
        text-align: left;
      }
      &-note {
        font-size: 14px;
        font-weight: 400;
        color: #252525;
        margin-right: 0px;
        width: 50%;
        text-align: right;
      }
      &-bg-color {
        background-color: #f5f7f8;
      }
    }
  }

  @keyframes fadein {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .bitpayCard {
    &-header {
      /*  TODO  border-radius: 0 0 65% 25%;*/
      overflow: hidden;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      margin: 0 16px;
      align-items: center;
      &-title {
        font-size: 25px;
        font-weight: 700;
        line-height: 34px;
        text-align: start;
      }
      &-img {
        height: 306px;
        justify-self: end;
        img {
          margin-top: 38px;
          /* TODO width: 232px; */
        }
      }
    }
    &-content {
      margin: 0 16px;
      .title {
        margin-top: 32px;
        font-size: 16px;
        font-weight: normal;
        line-height: 25px;
        color: #252525;
      }
      p {
        color: #252525;
        font-size: 16px;
        line-height: 25px;
      }
    }
    &-items-container {
      margin-bottom: 45px;
    }
    &-item {
      margin-top: 20px;
      &-header {
        display: flex;
        align-items: center;
        img {
          height: 45px;
          width: 45px;
        }
      }
      &-title {
        font-size: 21px;
        font-weight: bold;
        line-height: 31px;
        margin-left: 1.5rem;
      }
      p {
        padding-left: 60px;
        margin-top: 0px;
      }
    }
    &__agreement {
      margin: 26px 16px 150px 16px;
      font-size: 11px;
      color: #434d5a;
      .title {
        font-size: 14px;
        font-weight: 400;
        padding-top: 26px;
      }
    }
    &__link-button {
      cursor: pointer;
      padding-left: 15px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4f6ef7;
      height: 45px;
    }
  }
}
