page-txp{
  img {
    width: 40px;
  }
  .label {
    display: -webkit-inline-box;
  }
  .action {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .details {
    position: absolute;
    right: 16px;
    text-align: end;
    .amount {
    }
    .date {
      color: color($colors, grey);
      font-size: 12.5px;
    }
  }
}
