page-txp {
  .item-subtitle {
    .icon-container {
      vertical-align: middle;
      width: 18px;
      margin: 0 2px 0 0;
    }
  }
  .proposal-container {
    border-left: 2px solid #ff9900;
  }
  ion-note {
    text-align: end;
    .amount {
      color: color($colors, dark);
    }
    .date {
      font-size: 12.5px;
    }
  }
}
