page-txp{
  img {
    width: 40px;
    height: 40px;
    border-radius: $icon-border-radius;
  }
  .label {
    display: -webkit-inline-box;
  }
  .action {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .copayer {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12.5px;
      font-weight: 300;
    }
  }
  ion-note {
    text-align: end;
    .amount {
      color: color($colors, dark);
    }
    .date {
      font-size: 12.5px;
    }
  }
}
