<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Bitcoin Network Fee Policy'; goBackToState = 'preferencesGlobal'; noColor = true">
</div>
<div class="content preferences" ng-controller="preferencesFeeController">
  <h4></h4>
  <div class="preferences-fee" ng-show="loading">
    <div  class="row p20 text-center">
      <div class="columns large-12 medium-12 small-12 m10b">
        <ion-spinner class="spinner-dark" icon="lines"></ion-spinner>
      </div>
      <div class="size-12 text-gray m20t" translate>
        Loading...
      </div>
    </div>
  </div>

  <ion-radio class="libe-b size-12 radio-label" ng-repeat="fee in feeLevels.livenet" ng-value="fee.level" ng-model="currentFeeLevel"
    ng-click="save(fee)">{{feeOpts[fee.level]|translate}}
  </ion-radio>

  <div class="row m20t">
    <div class="text-gray size-12 text-center" ng-repeat="fee in feeLevels.livenet" ng-if="fee.level == currentFeeLevel">
      <div ng-show="fee.nbBlocks">
        <span class="text-bold" translate>Average confirmation time: {{fee.nbBlocks * 10}} minutes</span>.
      </div>
      <span class="text-bold" translate>Current fee rate for this policy: {{fee.feePerKBUnit}}/kiB</span>
    </div>
  </div>

  <div class="m15">
    <div class="text-gray size-12 text-center" translate>
      Bitcoin transactions may include a fee collected by miners on the network. The higher the fee, the greater the incentive a miner has to include that transaction in a block. Current fees are determined based on network load and the selected policy.
    </div>
  </div>
</div>

<div class="extra-margin-bottom"></div>
