<div class="row columns p20">
  <div class="text-center">
    <logo width="146"></logo>
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 translate class="text-center">Browser unsupported</h1>
  <h3 class="text-center">
    Sorry, Copay is not supported by your browser. 
    Please use a current version of Google Chrome, Mozilla Firefox, Internet Explorer, Safari, or Opera. 
    <br>
    Note that localStorage should also be enabled (enabled by default in most cases).
  </h3>
</div>

