page-session-log {
  .log-entry {
    font-size: 12px;
    line-height: 18px;
    border: none;
  }
  .log-timestamp {
    font-weight: bold;
  }
  .log-level {
    font-weight: bold;
  }
  .energized {
    color: color($colors, warning);
  }
  .dark {
    color: color($colors, dark);
  }
  .positive {
    color: color($colors, primary);
  }
  .assertive {
    color: color($colors,danger);
  }
}