bitpay-card-home {
  action-card {
    padding: 0 !important;

    .bitpay-card-header {
      background-color: #dbe1fa;
      overflow: hidden;
      width: 100%;
      height: 13.2rem;

      .bitpay-card-image {
        img {
          width: 100%;
          margin-top: -4px;
          max-width: 30rem;
        }
      }
    }

    .action-card__content {
      padding-left: 20px;
      padding-right: 20px;

      .action-card__title {
        margin: 0 !important;
        padding-top: 20px;
      }
    }
  }

  .bitpay-card {
    .card-item {
      background: white;
      &:not(:first-child) {
        margin-top: -35px;
      }
      .card-container {
        padding-top: 0.1rem;
        background: linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(100,100,100,0.2) 100%);
        .card {
          display: flex;
          border-radius: 11px;
          background: linear-gradient(45deg, #202036 -25%, #1a3b8b);
          justify-content: space-between;
          align-items: center;
          color: #FFFFFF;
          padding: 1rem 1.5rem 2.5rem 1.5rem;
          .funds {
            line-height: 29px;
            font-weight: bold;
            font-size: 20px;
          }
          .number {
            font-size: 15px;
            line-height: 22px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
