bitpay-card-home {
  action-card-v4 {
    .bitpay-card-header {
      background-color: #dbe1fa;
      overflow: hidden;
      width: 100%;
      height: 226px;
      position: relative;
      .bitpay-card-image {
        text-align: center;
        &--mc {
          transform: scale(1.2);
          position: absolute;
          bottom: 0;
          left:  0;
          right: 0;
        }
      }
    }
  }
}
