bitpay-card-home {
  action-card-v4 {
    .bitpay-card-header {
      background-color: #dbe1fa;
      overflow: hidden;
      width: 100%;
      height: 226px;
      position: relative;
      .bitpay-card-image {
        text-align: center;
        &--mc {
          transform: scale(1.2);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.card-loader {
  &__drawer {
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 8px;
    border-radius: 11px 11px 0 0;
    margin: 8px 20px 0 20px;
    height: 50px;
    box-shadow: none !important;
  }
  &__tile {
    background: #ebedf8;
    height: 226px;
  }
  &--box-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09) !important;
  }
}

.loading {
  &--line {
    height: 11px;
    margin: 8px 0;
    background-image: linear-gradient(90deg, #ddd 0px, #e7e7e7 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines 1.2s infinite linear;
    border-radius: 8px;

    & + & {
      height: 10px;
    }
    &-full {
      width: 100%;
    }

    @keyframes shine-lines {
      0% {
        background-position: -100px;
      }

      40%,
      100% {
        background-position: 140px;
      }
    }
  }
}

.card-spinner {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  animation: spin 1000ms cubic-bezier(0.5, 0, 0.25, 1) infinite;
  user-select: none;
  @keyframes spin {
    to {
      transform: rotate(720deg);
    }
  }
}
