bitpay-card-home {
  action-card-v4 {
    .bitpay-card-header {
      background-color: #dbe1fa;
      overflow: hidden;
      width: 100%;
      height: 226px;

      .bitpay-card-image {
        text-align: center;

        img {
          width: 192px;
          height: 305px;
          margin-top: 32px;
          max-width: 30rem;
          box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.07);
        }
      }
    }
  }
}
