<ion-header>

  <ion-navbar>
    <ion-title>{{'Recent Transactions'|translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div text-center *ngIf="fetchingNotifications">
    <ion-spinner></ion-spinner>
    <span translate>Updating... Please stand by</span>
  </div>

  <ion-list *ngIf="notifications && notifications[0] && !fetchingNotifications">
    <span *ngFor="let notification of notifications" (click)="openNotificationModal(notification)">
      <page-wallet-activity [notification]="notification"></page-wallet-activity>
    </span>
  </ion-list>

  <ion-list *ngIf="notifications && !notifications[0] && !fetchingNotifications">
    <ion-item text-center>
      <span translate>No pending proposals</span>
    </ion-item>
  </ion-list>
</ion-content>