token-info {
  .note-container {
    max-width: 200px;
  }

  --item-border-color: #efefef;
  --item-label-color: #6c6c6e;

  .header-container {
    padding: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    .sending-label {
      display: flex;
      align-items: center;

      img.sending-img {
        margin-right: 2rem;
        width: 40px;
        height: 40px;
      }

      span {
        font-size: 1.8rem;
      }
    }
  }

  .padded-input {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .last-item {
    margin-left: auto !important;
  }

  .bp-list {
    .sub-title {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }

    .item {

      &.item-ios,
      &.item-md {
        padding-left: 19px;

        .item-inner {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }

  .background-content {
    display: flex;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
  }

  .line-divider {
    margin: 0px 17px;
  }

  .background-button-content {
    height: 47px;
    background-color: #edf0fe;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 21px;
    margin: 25px auto;
  }


  .item.item-input span {
    width: auto;
  }

  .tx-detail-list{
    background: rgba(250, 250, 251, 1);
    border-radius: 16px;
    margin: 1rem;
    .amount-item{
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
    ion-item{
      box-shadow: unset !important;
      --background: transparent;
      background: transparent;
      background-color: unset !important;
    }
    .summary-item{
      color: rgba(0, 30, 46, 0.6);
    }
    ion-label, ion-note{
      align-self: center;
    }
    ion-label{
      flex: 0 0 fit-content;
    }
    ion-note{
      padding-top: 0;
      padding-bottom: 0;
      flex-grow: 1;
      margin-left: 32px;
      margin-right: 0;
      overflow: hidden;
    }
    ion-textarea{
      margin: 0;
      flex: 2;
      justify-content: flex-end;
      .native-textarea{
        padding: 0;
      }
      .textarea-wrapper{
        width: 100%;
        text-align: right;
      }
    }
    .summary-item-detail, .secondary-note{
      color: rgba(0, 30, 46, 1);
      font-weight: 600;
      font-size: 16px;
    }
  }
}