confirm-invoice-page {
  $short-screen: 500px;
  ion-content {
    .fixed-content,
    .scroll-content {
      margin-bottom: 90px;
    }
  }
  .no-margin-bottom {
    .fixed-content,
    .scroll-content {
      margin-bottom: 0px;
    }
  }
  .header-container {
    padding: 10px 0px 10px 0px;
  }
  .amount-label {
    padding-top: 1rem;
    .amount {
      display: flex;
      font-size: 3.5rem;
      justify-content: space-between;
      font-size: 3.5rem;
      img.sending-img {
        width: auto;
        height: 40px;
      }
      .amount-coin {
        font-size: 1.5rem;
        margin-top: 0.35rem;
        margin-left: 0.8rem;
      }
      div {
        display: flex;
      }
    }
    .alternative {
      margin-top: 0.5rem;
      color: color($colors, light-grey);
    }
  }
  .item-fee {
    line-height: 20px;
    .fee-title {
      margin-bottom: 5px;
      color: color($colors, grey);
    }
    .fee-loading {
      font-weight: 300;
      color: color($colors, light-grey);
    }
    .fee-amount {
      font-weight: 400;
    }
    .fee-details {
      margin-top: 3px;
      font-size: 12.5px;
      color: color($colors, light-grey);
    }
    ion-note {
      font-weight: 100;
    }
    &.btn-opacity {
      opacity: 1;
    }
  }
  .wallets-list {
    ion-label {
      margin-bottom: 8px;
    }
  }

  ion-item.item.confirm-header {
    border: none;
  }

  .confirm-header {
    padding-top: 25px;

    ion-label {
      display: flex;
      align-items: center;
    }

    &__amount {
      flex-grow: 1;
    }

    .card-list-item__icon {
      img {
        border: 1px #9ba3ae solid;
        border-radius: 50%;
        height: 45px;
        margin-top: 35px;
        width: 45px;
      }
    }
  }

  .gift-card-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.9rem;
    margin-top: 0.9rem;
    font-size: 20px;
    font-weight: 500;

    img {
      width: 3.5rem;
      margin-right: 1.5rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
      border-radius: $icon-border-radius;
    }
  }

  .amount-label {
    .amount {
      font-size: 38px;
      margin-bottom: 0.5rem;
    }

    .alternative {
      font-size: 12px;
      color: color($colors, grey);
    }
  }

  .wallets-list {
    .wallet {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
  }

  .last-item {
    margin-left: auto !important;
  }
}
