page-about {
  .item-without-title {
    margin-top: 0;
  }
  .ion-ios-download-outline:before {
    width: 20px;
    text-align: center;
  }
  .ion-logo-github:before {
    width: 20px;
    text-align: center;
  }
  .ion-ios-lock-outline:before {
    width: 20px;
    text-align: center;
  }
  .ion-ios-list-box-outline:before {
    width: 20px;
    text-align: center;
  }
  .ion-ios-copy-outline:before {
    width: 20px;
    text-align: center;
  }
}
