page-about {
  .item-without-title {
    margin-top: 0;
  }
  .settings-list {
    .item {
      border: 0;
    }

    ion-item.item,
    button.item {
      padding: 12px 0 12px 22px;
      border-bottom: 0;

      .item-inner {
        margin-left: 8px;

        ion-note.note {
          background: #f4f5fb;
          color: #565d6d;
          font-weight: 300;
          padding: 6px 10px;
          border-radius: 4px;
        }
      }

      &:last-child {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
