<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [src]="setIconHomeTab(selectedTab)"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="scan" class="no-boder-scan-tab" *ngIf="navigationType === 'scan' && isCordova">
      <div class="scan-container">
        <ion-icon src="assets/img/tab-scan-{{currentTheme}}.svg"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="wallets">
      <img [src]="setIconWalletsTab(selectedTab)">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
 