<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/img/tab-home-{{currentTheme}}.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <div class="scan-container">
        <ion-icon src="assets/img/tab-scan-{{currentTheme}}.svg"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="wallets">
      <ion-icon src="assets/img/tab-wallet-{{currentTheme}}.svg"></ion-icon>
      <ion-badge color="warning" class="custom-badge-number">{{ txpsN }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
