#backup-needed-modal{
  .button.button-secondary {
    font-size: 14px;
    margin-top: 0;
  }
  .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
}
