.popup-modal {
  background: #fff;
  top: 50%;
  left:50%;
  position: absolute;
  z-index: 10;
  width: 90%;
  max-width: 350px;
  transform: translate(-50%, -50%);
  border-radius: $unmistakable-radius;
  text-align: center;
  &-header {
    &-success {
      background: $success-green;
    }
    &-warning {
      background: $warning-orange;
    }
    padding: 2rem;
    border-radius: $unmistakable-radius $unmistakable-radius 0 0;
    min-height: 120px;
    &-img{
      height: 6rem;
      background-size: contain;
      margin-top: .3rem;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-img-success {
      background-image: url('../img/onboarding-success.svg');
      height: 6rem;
      background-size: contain;
      margin-top: .3rem;
    }
    &-img-warning {
      background-image: url('../img/warning.svg');
      height: 6rem;
      background-size: contain;
      margin-top: .3rem;
    }
  }
  &-content {
    padding: 1rem 2rem;
  }
  &-heading {
    margin:0 0 1rem;
    color: $dark-gray;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top:1rem;
  }
  &-message {
    color: $mid-gray;
    font-weight: 200;
  }
  .button {
    margin-top: 1rem;
  }
  &-content-success {
    .button {
      color: $success-green !important;
    }
  }
  &-content-warning {
    .button {
      color: $warning-orange !important;
    }
  }
}

.modal-backdrop.active {
  background: rgba(0, 0, 0, .8);
}

@import "backup-confirm-modal";
@import "screenshot-warning-model";
