page-survey-card {
  action-card {
    padding: 0 !important;
    .icon-right {
      display: flex;
      justify-content: flex-end;
    }
    .action-card__content {
      padding-left: 20px;
      padding-right: 20px;
      .action-card__title {
        margin: 0 !important;
      }
      .survey-button {
        color: #4f6ef7;
      }
    }
  }
}
