ion-content {
  --overflow: hidden;
}
  .recovery-key {
    height: 100%;

    &-info {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;

      .img-container {
       display: flex;

        img {
          margin: auto;
          max-height: 23rem;

          @media (max-width: 768px) {
            max-height: 18rem;
          }

          @media (max-width: 350px) {
            max-height: 10rem;
          }
        }
      }

      .info {
        padding: 20px 32px;

        .title {
          color: #060606;
          font-weight: 600;
          align-items: center;
          text-align: center;
          line-height: 34px;

          @media (max-width: 768px) {
            font-size: 20px;
            line-height: 20px;
          }

          @media (max-width: 350px) {
            font-size: 17px;
            line-height: 20px;
          }
        }

        .text {
          font-size: 16px;
          text-align: center;
          color: rgba(0, 30, 46, 0.6);
          font-weight: 300;
          padding-top: 2px;
          line-height: 25px;

          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 20px;
          }

          @media (max-width: 350px) {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }