#complete {
  background-color: #ffffff;
  .close-button {
    color: $dark-gray;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 15px;
    font-size: 36px;
  }
  .complete-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__expand {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: opacity .3s;
      &.fade-in {
        opacity: 1;
      }
    }
  }
  .share-the-love-illustration {
    width: 5rem;
    margin: 1rem;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    color: $dark-gray;
    margin: 20px 10px;
    text-align: center;
  }
  .subtitle {
    padding: 10px 30px 20px;
    text-align: center;
    color: $mid-gray;
  }
  .icon-svg > img {
    height: 16rem;
    width: 16rem;
    margin: 10px;
  }
  .socialsharing-icon {
    display: inline-block;
    width: 60px;
  }
  .addressbook-icon-svg {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .share-buttons {
    padding: 50px 10px 30px;
    background-color: $subtle-gray;
    text-align: center;
    transition: transform .3s cubic-bezier(0.4, 0.0, 0.2, 1) .2s, opacity .5s ease-in .2s;
    transform: translateY(100%);
    opacity: 0;
    &.slide-up {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .share-buttons__action {
    display: inline-block;
    color: #667;
    font-size: .9rem;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
}
