#rate-card {
  .stars {
    display: flex;
    border-bottom: none;
    .button {
      background-color: #fff;
      outline: none;
      border: none;
      height:10px;
      width:10px;
    }
    .gold {
      color: #ffd700;
    }
    .subtle-gray {
      color: $subtle-gray;
    }
  }
  .feedback-flow-button {
    padding: 20px;
  }
}
