#rate-card {
  .item-heading {
    font-weight: 700;
  }
  .row {
    border: none;
  }
  .item-icon-right {
    margin: 0;
  }
  .feedback-flow-button {
    margin-bottom: 20px;
  }
  .icon-svg > img {
    height: 1.8rem;
    margin-bottom: 5px;
  }
}
