#rate-app-store {
  .title {
    font-size: 20px;
    font-weight: bold;
    color: $dark-gray;
    margin: 20px 10px;
    text-align: center;
  }
  .subtitle {
    padding: 10px 30px 20px 40px;
  }
}
