#rate-card {
  .row {
    border: none;
  }
  .row.row-margin{
    margin: 20px 0px 20px 0px;
  }
  .item-icon-right {
    margin: 0;
  }
  .feedback-flow-button {
    margin-bottom: 20px;
  }
  .icon-svg > img {
    height: 1.8rem;
    margin-bottom: 5px;
  }
}
