#send-feedback {
  background-color: #ffffff;
  .row {
    border: none;
  }
  .skip {
    margin: 20px 20px 10px;
    color: #667;
    text-decoration: none;
  }
  .title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: $dark-gray;
  }
  .comment {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    color: $dark-gray;
  }
  textarea {
    padding: 20px;
    border-top: 1px solid $subtle-gray;
    padding: 20px;
    width: 100%;
  }
}
