#send-feedback {
  background-color: #ffffff;
  .row {
    border: none;
  }
  .skip {
    color: rgba(255, 255, 255, 0.3);
  }
  .feedback-heading {
    padding-top: 20px
  }
  .feedback-title {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: $v-dark-gray;
  }
  .rating {
    text-align: right;
    padding-right: 15px;
  }
  .comment {
    padding: 0 20px 20px;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    color: $v-dark-gray;
  }
  .user-feedback {
    border-top: 1px solid $v-subtle-gray;
    border-bottom: 1px solid $v-subtle-gray;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
  }
  .send-feedback-star {
    height: 1rem;
    margin-left: 5px;
  }
  .form-fade-in {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
