#send-feedback {
  background-color: #ffffff;
  .skip {
    margin: 10px;
    color: #667;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    color: $dark-gray;
    margin-left: 10px;
  }
  .star {
    a {
      font-size: 25px;
      padding: 12px;
      .gold {
        color: #ffd700;
      }
      .subtle-gray {
        color: $subtle-gray;
      }
    }
  }
  .comment {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    color: $dark-gray;
  }
  textarea {
    border-top: 1px solid $subtle-gray;
    padding: 20px;
    width: 100%;
  }
}
