.word-alignment {
  width: 100%;
  .notification-container {
    display: flex;
    margin-bottom: 36px;
    padding: 12px 18px;
    background: #ffddb6;
    border-radius: 8px;
    color: #482a00;
    font-size: 14px;
    .notification-content {
      margin-left: 10px;
    }
  }
  .word {
    background: white;
    color: black;
    border-radius: 4px;
    .mat-grid-tile-content {
      justify-content: flex-start !important;
    }

    width: 100px;
    .word-number {
      padding: 8px;
      font-size: 11px;
      position: relative;
      bottom: 2px;
      color: rgba(0, 30, 46, 0.6);
    }

    .word-letter {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .blur {
    filter: blur(3px);
  }
  .wrong {
    background: red !important;
  }
}
