page-home {
  .home-logo {
    height: 24px;
    position: relative;
    top: 3px;
  }
  .toolbar-title-ios {
    text-align: center;
  }
  .check{
    text-align: center;
    .title {
      font-weight: 700;
      font-size: 2rem;
    }
    .subtitle{
      padding: 10px;
    }
    .check-icon {
      cursor: pointer;
    }
  }
  .title {
    >img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .error {
    color: color($colors, danger);
  }
  .no-wallets {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .card {
    padding-top: 1px;
    width:92%;
    padding-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 20px auto;
    display: block;
    border-radius: 4px;
    background-color: #ffffff;
    .item-divider{
      background-color:#ffffff;
    }
  }
}
  
