page-home {
  .check{
    text-align: center;
    .title {
      font-weight: 700;
      font-size: 2rem;
    }
    .subtitle{
      padding: 10px;
    }
    .check-icon {
      cursor: pointer;
    }
  }
  .title {
    color: color($colors, dark);
    font-weight: 700;
    >img {
      width: 22px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .icons-add-reorder {
    justify-content: flex-end;
    display: flex;
    .add-icon {
      cursor: pointer;
    }
    .reorder-icon {
      cursor: pointer;
      margin-right: 15px;
    }
  }
  .error {
    color: color($colors, danger);
  }
  .has-refresher > .scroll-content {
    border-top: 0;
  }
}
