page-home {
  ion-slides {
    max-height: 220px;
    ion-slide.swiper-slide {
      justify-content: normal;
      align-items: normal;
    }
  }
  .total-amount-container {
    margin: 20px 0px 10px 20px;
    .section-header {
      margin-left: 0px;
    }
    .total-amount-value {
      color: #000000;
      font-size: 38px;
      line-height: 56px;
      font-weight: 700;
      ion-spinner {
        margin-left: 15px;
        * {
          stroke: color($colors, primary);
        }
      }
    }
    .average-container {
      display: flex;
      text-align: center;
      height: 21px;
      .negative-avg {
        color: #cf2f32;
        background-color: rgba(207, 47, 60, 0.1);
        border-radius: 50vh;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .possitive-avg {
        color: #2fcfa4;
        background-color: rgba(47, 207, 164, 0.1);
        border-radius: 50vh;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .average {
        font-size: 14px;
        line-height: 19px;
        height: 21px;
        font-weight: 500;
      }
      .date {
        font-weight: 500;
        color: #434d5a;
        opacity: 50%;
        margin-left: 1rem;
      }
    }
  }
  .balance-hidden {
    padding-top: 20px;
    padding-bottom: 20px;
    .title {
      cursor: pointer;
      font-size: 32px;
      font-weight: 500;
    }
    .subtitle {
      padding-top: 10px;
      font-size: 15px;
    }
  }
  .message {
    &-background {
      width: 90%;
      border-radius: 12px;
      background-color: #f9f9fb;
      margin: 2rem auto 0 auto;
      &.no-margin {
        margin-top: 0;
      }
      .line-divider {
        margin: 0px 15px;
      }
    }
    // padding-bottom: 0px;

    &-header {
      &.no-dismissible {
        height: 30px;
      }
      .button[icon-only] {
        font-size: 10px;
      }
    }
    &-icon {
      padding: 0 15px;
      display: flex;
      img {
        width: 18px;
        height: 18px;
      }
    }

    &-title {
      text-align: left;
      font-size: 18px;
      font-weight: 700;
      &-adv {
        padding: 0px 15px 7px 0px;
      }
      &-info {
        color: color($colors, info);
      }

      &-critical {
        color: color($colors, danger);
      }
    }

    &-body {
      color: color($colors, grey);
      font-weight: 400;
      text-align: left;
      white-space: normal;
      font-size: 16px;
      padding: 10px 15px 20px 15px;
      &-adv {
        padding: 0px 15px 7px 0px;
      }
    }

    &-button {
      cursor: pointer;
      padding-left: 15px;
      font-size: 16px;
      display: flex;
      justify-content: left;
      align-items: center;
      color: #4f6ef7;
      height: 45px;
    }
    &-img {
      img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
      img.card-img {
        border-radius: 0;
        width: 60px;
        height: 60px;
      }
    }
  }

  .services-list {
    &-label {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      margin-left: 6px;
    }
    &-arrow {
      margin-right: 10px;
    }
  }
  .date-label {
    display: inline-block;
    background: #f6f7fc;
    border-radius: 25vh;
    padding: 0 18px;
    color: #9ba3ae;
    font-size: 12px;
    cursor: default;
  }
}
