page-home {
  background: $toolbar-background;
  ion-content .fixed-content {
    background: $toolbar-background;
  }
  .home-logo {
    height: 24px;
    position: relative;
    top: 3px;
  }
  .toolbar-title-ios {
    text-align: center;
  }
  .check {
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 2rem;
      color: color($colors, grey);
    }
    .subtitle {
      padding: 10px;
    }
    .check-icon {
      margin-top: -40px;
    }
    .announcement-logo {
      width: 200px;
      margin: 10px auto;
    }
  }
  .title {
    font-weight: 500;
    > img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .error {
    color: color($colors, danger);
  }

  .wallet-ready {
    padding: 0rem;
    margin-bottom: 3rem;
    .row {
      justify-content: flex-end;
      button {
        font-size: 12px;
      }
    }
  }

  page-wallet-activity,
  page-txp {
    @media (max-width: 350px) {
      .item-title {
        font-size: 13px;
      }
      ion-note .date {
        font-size: 11.5px;
      }
    }
  }

  page-txp:first-child,
  page-wallet-activity:first-child {
    & .item-ios {
      border-top: 0.55px solid #f4f4f4;
    }
  }

  page-txp:last-child,
  page-wallet-activity:last-child {
    border: 0;

    & .item-inner {
      border: 0 !important;
    }
  }
  .card {
    z-index: 1;
    position: relative;
  }
  ion-refresher {
    height: 120px;
    background: $toolbar-background;
    &-content {
      margin-top: -25px;
    }
  }

  .new-release {
    padding-bottom: 0rem;
    &-icon {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    &-text {
      text-align: center;
      color: color($colors, dark);
      margin-bottom: 1rem;
    }
    &-button {
      padding: 0rem;
      div {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color($colors, light);
        color: color($colors, dark);
        height: 5rem;
      }
    }
  }

  .scroll-content {
    // This line prevents an ugly gap from appearing between the
    // navbar and page content when the user overscrolls on iOS
    background-image: linear-gradient(
      to bottom,
      $toolbar-background,
      $toolbar-background 50%,
      $background-color 50%,
      $background-color 50%,
      $background-color 50%
    );
  }

  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    ion-fab[right] {
      right: env(safe-area-inset-bottom);
    }
    ion-fab[bottom] {
      bottom: env(safe-area-inset-bottom);
    }
  }
}
