page-home {
  ion-item-divider {
    margin-top: 20px;
  }
  .home-logo {
    height: 24px;
    position: relative;
    top: 3px;
  }
  .toolbar-title-ios {
    text-align: center;
  }
  .check{
    text-align: center;
    .title {
      font-weight: 700;
      font-size: 2rem;
    }
    .subtitle{
      padding: 10px;
    }
    .check-icon {
      cursor: pointer;
    }
  }
  .title {
    color: color($colors, dark);
    font-weight: 700;
    &.col {
      padding: 0;
    }
    >img {
      width: 22px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .icons-add-reorder {
    justify-content: flex-end;
    display: flex;
    .add-icon {
      padding-left: 10px;
      cursor: pointer;
    }
    .reorder-icon {
      cursor: pointer;
      margin-right: 5px;
      padding-right: 10px;
    }
  }
  .error {
    color: color($colors, danger);
  }
  .no-wallets {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
