page-home {
  background: $toolbar-background;
  .home-logo {
    height: 24px;
    position: relative;
    top: 3px;
  }
  .toolbar-title-ios {
    text-align: center;
  }
  .check{
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 2rem;
    }
    .subtitle{
      padding: 10px;
    }
    .check-icon {
      cursor: pointer;
    }
  }
  .title {
    font-weight: 500;
    >img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .error {
    color: color($colors, danger);
  }
  .no-wallets {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  page-txp:last-child,
  page-wallet-activity:last-child {
    border:0;

    & .item-inner {
      border:0 !important;
    }
  }
  .header-extend{
    background: $toolbar-background;
    height: 222px;
    position: absolute;
    top: -100px;
    width: 100%;
    z-index: 0;
  }
  .wrapper{
    background-color:$background-color;
  }
  .card{
    z-index: 1;
    position: relative;
  }
  ion-refresher{
    height:120px;
    background: $toolbar-background;
  }
  
}
  
