account-selector {

  $border-color: #EFEFEF;
  text-align: left;

  .bp-action-sheet__sheet {
    padding-left: 2rem;
    padding-right: .75rem;
  }

  .account-selector {
    .account {
      border: 0;
      padding-right: 0;
      padding-top: 0;
      padding-left: 65px;
      padding-bottom: 0;
      margin-bottom: 1px;
      overflow: visible;

      > i {
        padding: 0;
        margin-left: -5px;

        > img {
          height: 39px;
          width: 39px;
          padding: 4px;
          background-color: $royal;

          &.icon-add {
            background-color: $v-light-gray;
          }

        }
      }
    }
    .account-inner {
      display: flex;
      position: relative;
      padding-top: 16px;
      padding-bottom: 16px;

      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: $border-color;
        bottom: 0;
        right: 0;
        content: '';
      }

      .check {
        padding: 0 1.2rem;
      }
    }
    .account-details {
      flex-grow: 1;

      .account-name {
        padding-bottom: 5px;
      }

      .account-email {
        color: #3A3A3A;
        font-family: "Roboto-Light";
      }

      .account-add {
        padding-bottom: 16px;
        padding-top: 11px;
      }

    }
  }

}
