click-to-accept {

  position: fixed;
  bottom: 0;
  height: 92px;
  width: 100%;

  .click-to-accept {

    &__button.button.button-primary.button-standard {
      height: 100%;
      max-width: 9999px;
      width: 100%;
    }

    &__button.disable {
      pointer-events: none;
    }

    &__status-text {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 4;
      -webkit-transform: translateY(2rem);
      transform: translateY(2rem);
      opacity: 0;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &.enter {
        transition: transform 250ms ease, opacity 250ms ease;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }

      > img {
        margin-right: 10px;
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

  }

  @keyframes spin {
    from {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
  }
}
