send-max-selector {

  .bp-action-sheet__sheet {
    padding-left: 2rem;
    padding-right: .75rem;
  }

  .max-selector {
    a.item {
      border: none;
      padding-top: 20px;
      padding-bottom: 20px;
      span {
        &.item-note {
          color: #3A3A3A;
          font-family: "Roboto-Light";
        }
      }
    }
  }
}
