slide-to-accept {
  position: fixed;
  bottom: 0;
  height: 92px;
  width: 100%;
  background: $v-slide-bg-color;

  @mixin center-vertically {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
  }

  .slide {
    &__listener {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
    }
    &__slider {
      @include center-vertically;
      height: 100%;
      width: 100%;
      background: $v-slider-bg-color;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      margin-left: -100%;
      z-index: 2;

      &::before {
        @include center-vertically;
        content: '';
        width: 10000px;
        left: -10000px + 1;
        background: $v-slider-bg-color;
      }

      &::after {
        @include center-vertically;
        content: '';
        width: 15px;
        right: -10px;
        background: $v-slider-bg-color;
      }

      &__tip {
        @include center-vertically;
        width: 124px;
        height: 116px;
        background: $v-slider-bg-color;
        right: -71px;
        border-radius: 50%;
        top: 50%;
        -webkit-transform: translateY(-47%);
        transform: translateY(-47%);
      }

    }
    &__bitcoin {
      @include center-vertically;
      left: 20px;
      z-index: 3;

      > img {
        -webkit-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
      }
    }
    &__button-text {
      @include center-vertically;

      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      color: $v-slide-text-color;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: .03rem;
      z-index: 1;

      .justify {
        width: 50%;
        text-align: center;
      }
    }

    &__status-text {
      @include center-vertically;
      justify-content: center;
      color: $v-slide-text-color;
      z-index: 4;
      width: 100%;
      font-size: 17px;
      letter-spacing: 0.02rem;
      -webkit-transform: translateY(2rem);
      transform: translateY(2rem);
      opacity: 0;

      &.enter {
        transition: transform 250ms ease, opacity 250ms ease;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }

      > img {
        margin-right: 10px;
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &__arrow {
      @include center-vertically;
      right: 20px;
    }
  }

  @keyframes spin {
    from {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
  }
}
