#tx-status {
   .address {
     display: flex;
     padding: 5px 15px;
     background-color: #f5f5f5;
     margin-top: 10px;
     i {
       color: grey;
       padding-right: 10px;
       border-right: 1px solid;
       border-color: grey;
       font-size: 20px;
     }
     contact {
       margin-left: 15px;
       margin-bottom: 3px;
       margin-top: 5px;
     }
   }
   .collect-address{
    bottom: 0;
    background: #fff;
    color: #6c6c6c;
    position: absolute;
    width: 100%;
   }
}
