.wallet-activity {

  &-not-pending {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  &-amount {
    float: right;
    font-size: 18px;
    @media(max-width: 320px) {
      text-align: right;
    }
  }

  &-note {
    margin-top: 3px;
    font-size: 12px!important;

    &-child {
      line-height: 30px;
      vertical-align: middle;
    }

    > i {
      font-size: 21px;
      margin-right: 8px;
    }

    > time {
      float: right;
    }
  }

}
