gravatar {
  .gravatar {
    display: grid;
    grid-template-rows: 1fr;
    &-img {
      filter: invert(0.5);
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
    &-coin {
      grid-column: 2 / span 1;
      grid-row: 2;
      width: 20px;
      ion-icon.item-img.icon {
        margin: 0;
        padding: 2px;
        img {
          width: 18px;
        }
        &.rectangle {
          border-radius: 12px;
        }
      }
    }
  }
}
