<ion-header [translucent]="true" class="bp-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showOptions(wallet?.coin) && !isDonation">
      <ion-button wide-header-bar-button fill="clear" class="option-button" (click)="showMoreOptions()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{titlePage | translate}}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" #scrollArea>
  <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
    <ion-toolbar class="wide-header__title" tappable>
      <expandable-header-primary>
        {{titlePage | translate}}
      </expandable-header-primary>
    </ion-toolbar>
  </expandable-header>

  <div class="content-wrapper">
    <div class="available-content">
      <span class="available-letter">Available: </span>
      <span class="balance-letter">{{getBalance()}}</span>
    </div>
    <div class="prompt-user-fullscreen-container" *ngIf="shouldShowZeroState() && !isDonation">
      <div>
        <div class="prompt-user">
          <div class="title-icon larger-icon">
            <img *ngIf="wallet.coin !== 'doge'" src="assets/img/ghost-straight-face.svg" />
            <img *ngIf="wallet.coin === 'doge'" src="assets/img/sad-doge.svg" />
          </div>
          <div class="title-info">
            <span translate>Mmm...</span>
          </div>
          <div class="subtitle-info" *ngIf="wallet.coin !== 'xrp'; else minXrp">
            <span translate>It appears that you do not have any money to send.</span>
          </div>
        </div>

        <ng-template #minXrp>
          <div class="subtitle-info">
            <p translate>You need a minimum of 20 XRP to send funds.</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="!shouldShowZeroState()">
      <p>{{search}}</p>
      <recipient-component *ngFor="let recipient of listRecipient" 
      [walletId]="walletId" 
      [recipient]="recipient"
      (deleteEvent)="deleteRecipient($event)" 
      [isShowSendMax]="isShowSendMax"
      [isShowDelete]="isShowDelete" 
      (sendMaxEvent)="sendMax()">
      </recipient-component>
      <div class="btn-function-group"> 
        <ion-button class="btn-add-more" fill="outline" (click)="addNewRecipient()">Add more recipient</ion-button>
        <ion-button [disabled]="checkBeforeGoToConfirmPage()" class="button-standard" (click)="goToConfirm()">Continue</ion-button>
      </div>
    </div>
  </div>
</ion-content>
