page-send {

  .content-wrapper{
    padding-left: 20px;
    padding-right: 20px;
    .available-content{
      font-size: 14px;
      .available-letter{
        color:  rgba(0, 30, 46, 0.6);
      }
      .balance-letter{
        font-weight: 600;
      }
    }
  }

  .title {
    font-weight: 500;

    img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }

  .prompt-user-fullscreen-container {
    height: 82vh;
  }

  .no-wallet-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }

  .send-header-wrapper {
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .search-wrapper {
    .item-inner {
      align-items: center;
      margin-left: 0rem !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .scan-icon {
      margin: 0;
      border-left: 1px solid rgba(151, 151, 151, 0.2);
      padding: 0rem 1rem 0.8rem 1.4rem;
      z-index: 999;
    }

    .backspace-icon {
      z-index: 999;
    }

    ion-input {
      --padding-start: 1rem !important;
      --padding-top: 12px !important;
    }

    &::part(native) {
      padding: 0px;
    }
  }

  .invalid {
    border: 1px solid var(--color-error);
    color: var(--color-error);
    background-color: #fff6f7;
  }

  .section-header {
    margin-bottom: 0px;
  }

  .btn-function-group{
    display: flex;
    flex-flow: column;
    .btn-add-more{
      --color: rgba(0, 101, 141, 1);
      --border-color: rgba(0, 30, 46, 1);
      width: 85%;
      margin: 5px auto 25px auto;
      --border-radius: 100px;
      font-size: 14px;
      font-weight: 600;
      --border-width: 1px;
    }
  }
}