<ion-header>
  <ion-navbar>
    <ion-title>Shift</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="fromWallets.length > 0 && toWallets.length > 0">
    <div *ngIf="fromWallets.length > 0">
      <div class="title">
        <span translate>From</span>
      </div>
      <button ion-item detail-none (click)="showWallets('from')">
        <wallet-item-content [wallet]="fromWallet"></wallet-item-content>
      </button>
    </div>
    <div *ngIf="toWallets.length > 0">
      <div class="title">
        <span translate>To</span>
      </div>
      <button ion-item detail-none (click)="showWallets('to')">
        <wallet-item-content [wallet]="toWallet"></wallet-item-content>
      </button>
    </div>

    <div padding></div>

    <ion-item>
      {{'Rate' | translate}}
      <ion-note item-end>
        <span *ngIf="!limit">...</span>
        <span *ngIf="limit">
          {{limit.rate}} {{toWallet.coin | uppercase}} per {{fromWallet.coin | uppercase}}
        </span>
      </ion-note>
    </ion-item>

    <ion-item>
      {{'Deposit Min' | translate}}
      <ion-note item-end>
        <span *ngIf="!limit">...</span>
        <span *ngIf="limit">
          {{limit.minimum}} {{fromWallet.coin | uppercase}}
        </span>
      </ion-note>
    </ion-item>

    <ion-item>
      {{'Deposit Max' | translate}}
      <ion-note item-end>
        <span *ngIf="!limit">...</span>
        <span *ngIf="limit">
          {{limit.limit}} {{fromWallet.coin | uppercase}}
        </span>
      </ion-note>
    </ion-item>

    <ion-item>
      {{'Miner fee' | translate}}
      <ion-note item-end>
        <span *ngIf="!limit">...</span>
        <span *ngIf="limit">
          {{limit.minerFee}} {{toWallet.coin | uppercase}}
        </span>
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="fromWallets.length > 0 && toWallets.length > 0" class="agree-to-terms">
    <ion-item>
      <ion-checkbox class="check" [(ngModel)]="termsAccepted"></ion-checkbox>
    </ion-item>
    <div class="terms">
      <p>
        <span translate>I agree to the Terms and certify that I am the beneficial owner of the input assets and the destination address.</span>
        <a (click)="openTerms()" translate>Click to open Terms</a>.
      </p>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="fromWallets.length > 0 && toWallets.length > 0">
    <button ion-button full class="button-footer" no-low-fee type="button" [disabled]="!fromWallet || !toWallet || !termsAccepted" (click)="setAmount()">
      {{'Continue' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>