page-custom-amount {
  .qr-card-amount {
    text-align: center;
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: bold;
    small {
      font-weight: normal;
    }
  }
  .receive-content {
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding-left: 15px;
      padding-right: 15px;
      .title {
        font-size: 18px;
        font-weight: 500;
      }
      ion-icon {
        width: 2rem;
      }
    }
  }
  .addr-container {
    margin: 0 15px 0 15px;
    text-align: center;
    font-size: 15px;
    .text-address {
      color: color($colors, light-grey);
      padding: 1.3rem 1rem;
      border-radius: 6px;
      position: relative;
      .address-text {
        width: 100%;
        vertical-align: middle;
        display: inline-block;
        opacity: 1;
        transition: opacity 500ms ease;
        padding-left: 30px;
        .address-placeholder {
          font-size: 14px;
          @media (max-height: 530px) {
            font-size: 11.5px;
          }
        }
      }
      .copy-to-clip {
        position: absolute;
        left: 10px;
        margin-top: 2px;
      }
    }
  }
}
