page-custom-amount {
  .qr-container {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  .wallet-label {
    align-items: center;
    display: flex;
    .wallet-name{
      padding-left: 10px;
    }
  }
  ion-item {
    ion-label {
      overflow: initial;
    }
    .address-note{
      font-size: 12px;
    }
  }
}
