page-custom-amount {
  .qr-container {
    text-align: center;
    margin: auto;
    .custom-info {
      position: absolute;
      bottom: 0px;      
      left: 0px;
      padding: 0px;
    }
  }
}
