<ion-header>

  <ion-navbar>
    <ion-title>{{'Custom Amount' | translate}}</ion-title>
    <ion-buttons end>
      <button *ngIf="showShareButton" ion-button icon-only (click)="shareAddress()" translate>
          <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="qr-container">
    <qr-code *ngIf="address" copy-to-clipboard="{{qrAddress}}" [value]="qrAddress" [level]="M" [size]="220" [foreground]="'#334'"></qr-code>
  </div>
  <ion-list>
    <ion-item>
      <ion-label translate>Address</ion-label>
      <ion-note class="address-note" item-end>
        {{address}}
      </ion-note>
    </ion-item>
    <ion-item>
      <span translate>Amount</span>
      <ion-note item-end>
        {{amount | satToUnit}}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="wallet" ion-item>
      <span translate>Receive in</span>
      <ion-note class="wallet-label" item-end>
        <ion-icon>
          <img *ngIf="wallet.network == 'testnet'" src="assets/img/icon-wallet-testnet.svg" class="icon-wallet" />
          <img *ngIf="wallet.network != 'testnet'" src="assets/img/icon-wallet.svg" class="icon-wallet" />
        </ion-icon>
        <span class="wallet-name">{{wallet.name}}</span>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>