/* Mixin */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {
  @content;
 } 
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  @content;
 } 
}

@mixin desktop { @media (min-width: #{$desktop-width}) {
  @content;
 } 
}
.modal-wrapper {
  @include tablet {
    opacity: 1;
    transform: translateY(0px);
    height: 42%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
  }
  @include desktop {
    opacity: 1;
    height: 42%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
  }
}

slider-captcha {
  #modalCaptcha {
    height: 100%; 
    display: flex; 
    justify-content: center;
    background-color: rgba(73, 73, 73, 0.1);
    #sliderContent {
      background: #fff;
      padding-bottom: 20px;
      @include mobile {
        padding-top: 15px;
      }
      @include tablet {
        padding-top: 20px;
      }
      @include desktop {
        padding-top: 20px;
      }
    }
    #footerCaptcha {
      background: #fff;
      color: dimgray;
      box-shadow: 0 4px 4px black;
      border-top: groove;
      @include mobile {
        padding-left: 17px;
      }
      @include tablet {
        padding-left: 124px;
      }
      @include desktop {
        padding-left: 124px;
      }
    }
  }
  .refreshIcon {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 1.5rem;
    width: 1.7rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
  }
  #ImgVerif {
    canvas:nth-of-type(2n) {
      position: absolute;
      left: 0;
      top: 0;
      cursor: grab;
    }
    div:nth-of-type(2n) {
      position: relative;
      text-align: center;
      width: 315px;
      height: 40px;
      line-height: 35px;
      margin-top: 13px;
      margin-left: -3px;
      background: #DFE1E2;
      color: #45494c;
      border-radius: 20px;
      border: 1px solid #e4e7eb;
      box-sizing: border-box;
      .sliderMask {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        border: 0 solid #1991FA;
        border-top-left-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        border-bottom-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomleft: 20px;
        background: #D1E9FE;
        .slider {
          z-index: 1000;
          position: absolute;
          top: -9px;
          left: 0;
          width: 56px;
          height: 56px;
          background: #fff;
          border-radius: 33px;
          box-shadow: 0 0 3px;
          transition: background .2s linear;
          cursor: grab;
          .sliderIcon {
            position: relative;
            line-height: 56px;
            font-size: 27px;
            color: #1E90FF;
          }
        }
      }
      .sliderText {
        position: relative;
        text-align: center;
        width: 315px;
        height: 40px;
        line-height: 35px;
        margin-top: 13px;
        margin-left: -3px;
        background: #DFE1E2;
        color: #45494c;
        border-radius: 20px;
        border: 1px solid #e4e7eb;
        box-sizing: border-box;
      }
    }
  }
}
