<ion-content class="popup-modal" no-bounce [ngSwitch]="modal">
  <div class="height-content" *ngSwitchCase="'fee-warning'">
    <div class="modal-img background-color-danger">
      <img src="assets/img/icon-warning.svg">
    </div>
    <div class="modal-content">
      <div class="modal-heading" translate>Bitcoin miner fees unusually high</div>
      <div class="modal-message" translate>Bitcoin (BTC) miner fees are high due to record demand for limited space on the Bitcoin network. BitPay does not receive
        and does not control bitcoin miner fees.</div>
      <ion-row justify-content-center>
        <ion-col>
          <button ion-button clear color="danger" (click)="close(true)">
            {{ 'I understand' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="height-content" *ngSwitchCase="'sensitive-info'">
    <div class="modal-img background-color-warning">
      <img src="assets/img/icon-warning.svg">
    </div>
    <div class="modal-content">
      <div class="modal-heading" translate>Sensitive Data</div>
      <div class="modal-message" translate>The information you are about to share/export may contain sensitive data such us wallet IDs, addresses, balances, etc.
        Although this is not critical, please be careful and make sure you trust the person or entity you are sharing this
        information with.</div>
      <ion-row justify-content-center>
        <ion-col>
          <button ion-button clear color="warning" (click)="close()">
            {{ 'Go Back' | translate }}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear color="warning" (click)="close(true)">
            {{ 'I understand' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="height-content" *ngSwitchCase="'backup-warning'">
    <div class="modal-img background-color-warning">
      <img src="assets/img/no-screenshot.svg">
    </div>
    <div class="modal-content">
      <div class="modal-heading" translate>Screenshots are not secure</div>
      <div class="modal-message" translate>If you take a screenshot, your backup may be viewed by other apps. You can make a safe backup with physical paper and
        a pen.</div>
      <ion-row justify-content-center>
        <ion-col>
          <button ion-button clear color="warning" (click)="close()">
            {{ 'Go Back' | translate }}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear color="warning" (click)="close(true)">
            {{ 'I understand' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="height-content" *ngSwitchCase="'backup-needed'">
    <div class="modal-img background-color-danger">
      <img src="assets/img/warning.svg">
    </div>
    <div class="modal-content">
      <div class="modal-heading" translate>Backup Needed</div>
      <div class="modal-message" translate>Now is a good time to backup your wallet. If this device is lost, it is impossible to access your funds without a backup.</div>
      <ion-row justify-content-center>
        <ion-col>
          <button ion-button clear color="danger" (click)="close()">
            {{ 'Do it later' | translate }}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear color="danger" (click)="close(true)">
            {{ 'Backup now' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="height-content" *ngSwitchCase="'backup-ready'">
    <div class="modal-img background-color-success">
      <img src="assets/img/warning.svg">
    </div>
    <div class="modal-content">
      <div class="modal-heading" translate>Your bitcoin wallet is backed up!</div>
      <div class="modal-message" translate>Be sure to store your recovery phrase in a secure place. If this app is deleted, your money cannot be recovered without
        it.
      </div>
      <ion-row justify-content-center>
        <ion-col>
          <button ion-button clear color="success" (click)="close(true)">
            {{ 'Got it' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>