<ion-content class="popup-modal" no-bounce>

  <div class="modal-img" [ngClass]="{'background-color-warning':modalClass == 'warning', 'background-color-danger':modalClass == 'danger', 'background-color-success':modalClass == 'success'}">
    <img src="{{imgPath}}">
  </div>
  <div class="modal-content">
    <div class="modal-heading" translate>{{title}}</div>
    <div class="modal-message" translate>{{message}}</div>
    <ion-row justify-content-center>
      <ion-col *ngIf="backButton.text">
        <button ion-button clear color="{{backButton?.color}}" (click)="close(backButton.data)">
          {{ backButton?.text | translate }}
        </button>
      </ion-col>
      <ion-col *ngIf="confirmButton.text">
        <button ion-button clear color="{{confirmButton?.color}}" (click)="close(confirmButton.data)">
          {{ confirmButton?.text | translate }}
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>