<img class="icon-wallet" [ngClass]="{ testnet: wallet.network === 'testnet' }" src="assets/img/currencies/{{wallet.coin}}.svg" />
<div class="wallet-item-content__left ellipsis">
  <div class="wallet-item-content__name ellipsis">{{ wallet.name }}</div>
  <div class="wallet-item-content__credentials">
    <span>{{ wallet.credentials.m }}/{{ wallet.credentials.n }}</span>
    <span *ngIf="!wallet.isComplete()"> - {{ 'Incomplete' | translate }}</span>
  </div>
</div>
<div class="wallet-item-content__right">
  <div *ngIf="!hasZeroBalance(wallet, wallet.coin.toUpperCase()) && !wallet.balanceHidden">
    <div class="wallet-item-content__amount">{{ getBalance(wallet, wallet.coin.toUpperCase()) }}</div>
    <div class="wallet-item-content__fiat" *ngIf="wallet.cachedStatus">
      {{ wallet?.cachedStatus.availableBalanceAlternative }}
      {{ wallet?.cachedStatus.alternativeIsoCode }}
    </div>
  </div>
  <div *ngIf="hasZeroBalance(wallet, wallet.coin.toUpperCase()) && !wallet.balanceHidden">
    <div class="wallet-item-content__amount">0</div>
    <div class="wallet-item-content__fiat" *ngIf="wallet.cachedStatus">
      0 {{ wallet?.cachedStatus.alternativeIsoCode }}
    </div>
  </div>
  <div *ngIf="wallet.balanceHidden">
    [<span translate>Hidden</span>]
  </div>
</div>