page-multi-send {
  .warning {
    color: color($colors, danger);
  }
  .card {
    ion-list {
      padding: 1rem 2rem 1rem 2rem;
    }
    .close-icon {
      padding-right: 1rem;
    }
    .wallet {
      display: flex;
      align-items: center;
      .name {
        padding-left: 1rem;
      }
      .coin-icon {
        width: 12px;
      }
    }
  }
  .title {
    font-weight: 500;
  }
  .no-wallet-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  .send-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    span {
      font-size: 15px;
      font-weight: 500;
    }
    .open-modal-icon {
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .send-header-wrapper {
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  }
  .search-wrapper {
    background-color: #f8f8f8;
    display: flex;
    align-items: baseline;
    border-radius: 8px;
    .item-inner {
      align-items: center;
      margin-left: 0rem !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .scan-icon {
      margin: 0;
      border-left: 1px solid rgba(151, 151, 151, 0.2);
      padding: 0rem 1rem 0.8rem 1.4rem;
      z-index: 999;
    }
    .backspace-icon {
      z-index: 999;
    }
  }
  .invalid {
    border: 1px solid color($colors, error);
    color: color($colors, error);
    background-color: #fff6f7;
  }
  .recipient-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 0 5px;
    button {
      border-radius: 5px;
      box-shadow: none;
    }
    .button-add {
      color: color($colors, primary);
      border-color: color($colors, primary);
    }
    .button-cancel {
      color: color($colors, danger);
      border-color: color($colors, danger);
    }
  }
}
