page-tx-details {
  .action {
    display: flex;
    height: 4rem;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  img {
    margin-right: 15px;
    &.icon-wallet {
      background-color: color($colors, primary);
    }
  }
  .amount-str {
    font-size: 30px;
    margin-bottom: .5rem;
  }
  .amount-alt-str {
    font-size: 16px;
    margin-left: 2px;
    margin-bottom: 1.5rem;
  }
}