page-tx-details {
  $item-border-color: #EFEFEF;
  $item-lateral-padding: 20px;
  $item-label-color: #6C6C6E;

  span.label {
    color: color($colors, grey);
  }
  .sending-label {
    display: flex;
    align-items: center;
    .sending-img {
      margin-right: 2rem;
      width: 40px;
      height: 40px;
    }
    span {
      font-size: 1.8rem;
    }
  }
  .amount-label {
    padding-top: 1rem;
    .amount {
      font-size: 3.5rem;
      .unit {
        font-weight: 100;
      }
    }
    .alternative {
      color: color($colors, grey);
    }
  }

  .payment-proposal-to, .wallet {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .icon-wallet {
      width: 25px;
      height: 25px;
      margin-right: 1rem;
      &.disabled {
        background-color: color($colors, light);
      }
    }
    .icon-bitcoin {
      margin: 9px 17px 9px 0;
      width: 25px;
      height: 25px;
      padding: 5px;
      border: 1px solid color($colors, grey);
      border-radius: $icon-border-radius;
    }
  }

  .low-fees {
    font-size: 14px;
    color: #777;
    padding: 1rem 2rem 1rem 2rem;
    img {
      margin-right: 0.1rem;
    }
  }

  .timeline-item {
    border: 0;
    &:nth-child(2) {
      border-top: 1px solid $item-border-color;
    }
    &:last-child {
      border-bottom: 1px solid $item-border-color;
    }
    padding: 17px $item-lateral-padding;

    > * {
      padding-right: 0;
    }
  }

  .timeline-content {
    display: flex;
    align-items: center;

    &-icon {
      display: flex;
      align-items: center;
      min-width: 40px;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: .5rem;
      position: relative;

      .line::before {
        content: '';
        background: #e8e8e8;
        height: 42px;
        width: 1px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
        top: 0;
      }

      > div {
        border: 3px solid color($colors, primary);
        border-radius: $icon-border-radius;
        display: flex;
        height: 26px;
        width: 26px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        vertical-align: middle;
        color: color($colors, primary);
        z-index: 10;

        &.rejected {
          background: #E15061;
          border-color: #E15061;
          color: #FFFFFF;
          font-family: "Roboto-Bold";
          font-size: 19px;
        }
      }
    }

    &-label {
      flex-grow: 1;

      > .action {
        font-size: 16px;
      }

      > .name {
        color: #aaa;
        font-size: 14px;
      }
    }
  }
  .btn-view {
    color: color($colors, primary);
  }
}
