page-coinbase-tx-details,
page-tx-details {
  .note-container {
    max-width: 200px;
  }
  $item-border-color: #efefef;
  $item-label-color: #6c6c6e;
  .header-container {
    padding: 20px 0px 20px 0px;
    .sending-label {
      display: flex;
      align-items: center;
      img.sending-img {
        margin-right: 2rem;
        width: 40px;
        height: 40px;
      }
      span {
        font-size: 1.8rem;
      }
    }
  }
  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .container-to,
  .container-from,
  .container-tx-info {
    .wallet,
    .tx-info {
      @include row-flex;
      .comment {
        color: color($colors, light-grey);
      }
      .id {
        font-size: 12.5px;
        color: color($colors, light-grey);
      }
    }
  }
  .unconfirmed-message {
    padding: 10px 10px 10px 16px;
    font-size: 1.6rem;
  }
  .timeline-item {
    background-color: color($colors, blank);
    border: 0;
    padding: 17px 17px;
    > * {
      padding-right: 0;
    }
  }
  .timeline-content {
    display: flex;
    align-items: center;
    &-icon {
      display: flex;
      align-items: center;
      min-width: 40px;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: 0.5rem;
      position: relative;
      img,
      .rejected {
        z-index: 12;
      }
      .line::before {
        content: '';
        background: #e8e8e8;
        height: 52px;
        width: 1px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
        top: 0;
      }
      > div {
        border: 3px solid color($colors, primary);
        border-radius: $icon-border-radius;
        display: flex;
        height: 26px;
        width: 26px;
        font-size: 12.5px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        vertical-align: middle;
        color: color($colors, primary);
        z-index: 10;
        &.rejected {
          background: #e15061;
          border-color: #e15061;
          color: #ffffff;
          font-family: 'Roboto-Bold';
          font-size: 19px;
        }
      }
    }
    &-label {
      flex-grow: 1;
      > .action {
        font-size: 16px;
        @media (max-width: 330px) {
          font-size: 14px;
        }
      }
      > .name {
        color: #aaa;
        font-size: 14px;
      }
    }
  }
}
