.bitpay-id {
  &__icon {
    margin: 20px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
  }

  &__container {
    ion-label {
      margin: 0;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }

  &__disconnect-button {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
  }

  &__settings-list {
    ion-item.item {
      padding-left: 25px;
      padding-right: 10px;
    }
  }
}
