page-receive {
  .header-extend {
    height: 179px;
  }
  .message-container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    .title {
      color: color($colors, danger);
      font-size: 20px;
      text-align: center;
    }
    .subtitle {
      padding: 20px;
      text-align: center;
    }
  }
  .backup {
    color: color($colors, light);
    cursor: pointer;
    background-color: color($colors, warning);
    padding: 10px 0;
    text-align: center;
    .icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .qr-container {
    text-align: center;
    .text-address {
      font-size: 10px;
      margin-bottom: 20px;
      color: color($colors, dark);
      @media (min-height: 525px) {
        font-size: 12px;
      }
      > img {
        vertical-align: middle;
        margin-right: 5px;
        width: 16px;
        display: inline-block;
      }
    }
    .aclass {
      @include center;
    }
    .aclass > img {
      width: 180px;
      @media (max-height: 500px) {
        margin-bottom: 0px;
      }
      @media (min-height: 525px) {
        width: 195px;
      }
      @media (min-height: 560px) {
        width: 220px;
      }
      @media (min-height: 620px) {
        width: 260px;
      }
    }
    .new-address {
      font-size: 10px;
      @media (min-height: 525px) {
        font-size: 12px;
      }
    }
    ion-list {
      margin: 20px 0 -14px 0;
      .item-block {
        padding: 0px;
        .item-inner {
          padding-right: 0px;
          ion-label {
            margin: 6px 0px 14px 0;
          }
        }
      }
    }
  }
  .wallets-container {
    padding-left: 2rem;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid color($colors, light);
    .wallet-text {
      padding-left: 24px;
      font-size: 1.7rem;
      > span {
        font-size: 12.5px;
        font-weight: 300;
      }
    }
  }
  .loading-address {
    margin: 0 auto;
    width: 220px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: middle;
    align-items: center;
    @media (min-height: 525px) {
      height: 260px;
    }
    ion-spinner {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
  }
  .card {
    z-index: 1;
    position: relative;
  }
}
