page-receive {
  .bar-button {
    margin-right: 10px;
    .horizontal-lg {
      font-size: 45px;
    }
    .horizontal-lg::before {
      content: '\f1c8';
    }
  }

  .scroll-content .wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .scroll-content {
    background-color: white;
  }

  .receive-content {
    padding-top: 2rem;
    .title {
      font-size: 18px;
      font-weight: 500;
      padding-left: 15px;
    }
    .address-container {
      bottom: 0;
      color: rgb(80, 80, 80);
      width: 100%;
      padding: 15px;
      text-align: center;
      font-size: 15px;
      display: flex;
      justify-content: center;
      .text-address {
        background: color($colors, light);
        color: color($colors, light-grey);
        padding: 1.5rem 1rem;
        border-radius: 3px;
        &.ellipsis img {
          vertical-align: middle;
        }
        .address-text {
          width: 70%;
          max-width: 300px;
          vertical-align: middle;
          display: inline-block;
          opacity: 1;
          transition: opacity 500ms ease;
        }
        .new-address-btn {
          width: 25px;
          height: 25px;
          padding: 0px;
          vertical-align: middle;
          padding-bottom: 3px;
          margin-left: 5px;
          background-color: transparent;
        }
      }
    }
  }
  .qr-container {
    height: 100%;
    position: relative;
    .card {
      z-index: 1;
      position: relative;
    }
    .lines-background {
      background: url(../assets/img/curved-lines-background.png) center center
        no-repeat #ececec;
      opacity: 0.1;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .qr-card {
      @media (max-height: 530px) {
        width: 60%;
      }
    }
  }

  .spin-backwards {
    animation: spin-backwards 0.5s ease-out 1;
  }
  @keyframes spin-backwards {
    from {
      transform: rotate(210deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  .loading-dots {
    display: inline-block;
  }
  .fade-in-out {
    opacity: 0.1;
  }
  .qr-code-bounce {
    animation: bounce-down 0.5s linear;
  }
  @keyframes bounce-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15%);
    }
    100% {
      transform: translateY(0);
    }
  }
  $spinner-height: 18px;
  .spin-icon {
    height: $spinner-height;
  }
  .spinner {
    float: right;
    padding-bottom: 0px;
    border: 1px solid #d0d5ef;
    border-top: 1px solid #5b7cea;
    border-radius: 50%;
    width: $spinner-height;
    height: $spinner-height;
    margin: 2px;
  }
  .spin-fast {
    animation: spin-fast 0.3s linear infinite;
  }
  @keyframes spin-fast {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
