page-receive {
  .header-extend {
    height: 179px;
  }
  .message-container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    .title {
      color: color($colors, danger);
      font-size: 20px;
      text-align: center;
    }
    .subtitle {
      padding: 20px;
      text-align: center;
    }
  }
  .backup {
    color: color($colors, light);
    cursor: pointer;
    background-color: color($colors, warning);
    padding: 10px 0;
    text-align: center;
    .icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .qr-container {
    padding: 4px;
    img {
      opacity: 0.715;
    }
    text-align: center;
    .text-address {
      font-size: 10px;
      margin-bottom: 20px;
      color: color($colors, dark);
      &.ellipsis {
        padding: 0 10px 0 4px;
      }
      @media (min-height: 525px) {
        font-size: 12px;
      }
      >img {
        vertical-align: middle;
        margin-right: 5px;
        width: 16px;
        display: inline-block;
      }
    }
    .aclass {
      @include center;
    }
    .aclass>img {
      filter: grayscale(100%);
      width: 180px;
      @media (max-height: 500px) {
        margin-bottom: 0px;
      }
      @media (min-height: 525px) {
        width: 195px;
      }
      @media (min-height: 560px) {
        width: 220px;
      }
      @media (min-height: 620px) {
        width: 290px;
      }
    }
    .new-address {
      display: inline-block;
      font-size: 10px;
      @media (min-height: 525px) {
        font-size: 12px;
      }
    }
    ion-list {
      margin: 20px 0 -14px 0;
      .item-block {
        padding: 0px;
        .item-inner {
          padding-right: 0px;
          ion-label {
            margin: 6px 0px 14px 0;
          }
        }
      }
    }
  }
  .wallets-container {
    padding-left: 2rem;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid color($colors, light);
    .wallet-text {
      padding-left: 24px;
      font-size: 1.7rem;
      >span {
        font-size: 12.5px;
        font-weight: 300;
      }
    }
  }
  .loading-address {
    margin: 0 auto;
    width: 220px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: middle;
    align-items: center;
    @media (min-height: 525px) {
      height: 260px;
    }
    ion-spinner {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
  }
  .card {
    z-index: 1;
    position: relative;
  }
  .receive-container {
    z-index: 1;
    position: relative;
  }
  .address-container {
    position: absolute;
    bottom: 0;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgb(229, 229, 229);
    color: rgb(80, 80, 80);
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 15px;
  }
  .address-divider {
    width: 2px;
    height: 25px;
    background-color: rgb(227, 227, 227);
    display: inline-block;
    margin-left: 10px;
    margin-right: 12px;
    vertical-align: middle;
  }
  .text-address.ellipsis img {
    vertical-align: middle;
  }
  .scroll-content .wrapper {
    background-color: rgb(251, 251, 251);
    height: -moz-calc(100% - (56px));
    height: -webkit-calc(100% - (56px));
    height: calc(100% - (56px));
  }
  .scroll-content {
    background-color: rgb(251, 251, 251);
  }
  .new-address-btn {
    width: 25px;
    height: 25px;
    padding: 0px;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 5px;
    background-color: transparent;
  }
  .spin-backwards {
    animation: spin-backwards 0.5s ease-out 1;
  }
  @keyframes spin-backwards {
    from {
      transform: rotate(210deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  .wallet-details {
    background: linear-gradient(#ececec, white);
    height: 100%;
  }
  .loading-dots {
    display: inline-block;
  }
  .qr-card {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 7px;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%);
    padding-bottom: 0px;
    width: 70%;
    max-width: 293px;
    box-shadow: none;
  }
  @media screen and (device-aspect-ratio: 2/3) {
    .qr-card {
      width: 60%;
    }
  }
  .address-text {
    width: 70%;
    max-width: 300px;
    vertical-align: middle;
    display: inline-block;
    opacity: 1;
    transition: opacity 500ms ease;
  }
  .fade-in-out {
    opacity: 0.1;
  }
  .qr-code-bounce {
    animation: bounce-down 0.5s linear;
  }
  @keyframes bounce-down {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -35%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  .spinner {
    float: right;
    padding-bottom: 0px;
    border: 1px solid #d0d5ef;
    border-top: 1px solid #5b7cea;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 2px;
  }
  .spin-fast {
    animation: spin-fast 0.3s linear infinite;
  }
  @keyframes spin-fast {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .clipboard-actionsheet {
    background-color: red;
    color: black;
    font-weight: 400;
  }
  .bar-button {
    margin-right: 10px;
    .horizontal-lg {
      font-size: 45px;
    }
    .horizontal-lg::before {
      content: '\f1c8';
    }
  }
}