<ion-header>
  <ion-navbar>
    <ion-title>{{'Receive'|translate}}</ion-title>
    <ion-buttons *ngIf="showShareButton" (click)="shareAddress()" end>
      <ion-icon name="share"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="wallet && wallet.isComplete() && wallet.needsBackup" (click)="goToBackup()" class="box-notification no-margin warn">
    <ion-icon name="warning"></ion-icon>
    <span translate>Wallet not backed up</span>
    <ion-icon name="arrow-forward"></ion-icon>
  </div>

  <div *ngIf="wallet && wallet.isComplete()" class="qr-container">
    <div *ngIf="loading" class="loading-address spinner">
      <ion-spinner></ion-spinner>
    </div>
    <qr-code *ngIf="!loading && address" copy-to-clipboard="{{ address }}" [value]="qrAddress" [level]="M" [size]="220" [foreground]="'#334'"></qr-code>
    <div *ngIf="!loading" class="text-address" copy-to-clipboard="{{ address }}">{{ address }}</div>
    <div *ngIf="loading" class="text-address">...</div>
    <button ion-button block clear [hidden]="!address" (click)="requestSpecificAmount()">
      <span translate>Request Specific amount</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button block clear [hidden]="!address" (click)="setAddress(true)">
      <span translate>Generate new address</span>
    </button>
  </div>

  <div *ngIf="wallet && !wallet.isComplete()" class="incomplete-wallet-container">
    <div class="title">
      <span translate>Incomplete wallet</span>
    </div>
    <div class="subtitle">
      <span translate>All signing devices must be added to this multisig wallet before bitcoin addresses can be created.</span>
    </div>
    <button ion-button (click)="goCopayers()" translate>Open wallet</button>
  </div>

  <div *ngIf="!wallet">
    <ion-card>
      <ion-item>
        <span translate>No Wallet</span>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="wallets[0]" class="wallets-container" (click)="showWallets()">
    <img src="assets/img/icon-wallet.svg" class="icon-wallet" [ngStyle]="{'background-color': wallet.color}" *ngIf="wallet.network == 'livenet'">
    <img src="assets/img/icon-wallet-testnet.svg" class="icon-wallet" [ngStyle]="{'background-color': wallet.color}" *ngIf="wallet.network == 'testnet'">
    <div class="wallet-text">
      <div>{{wallet.name}}</div>
    </div>
  </div>
</ion-footer>
