page-receive {
  .incomplete-wallet-container {
    text-align: center;
    .title {
      padding-top: 10%;
      font-size: 25px;
      color: #444;
      text-align: center;
    }
    .subtitle {
      padding: 20px;
      color: #444;
      margin-top: 10%;
      text-align: center;
    }
  }
  .backup {
    color: color($colors, light);
    cursor: pointer;
    background-color: color($colors, warning);
    padding: 10px 0;
    text-align: center;
    .icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .qr-container {
    text-align: center;
    margin: 10px auto;
    .icon {
      vertical-align: middle;
      margin: 0 10px;
    }
    .text-address {
      margin: 5px 0 10px 0;
      font-size: 12px;
      color: color($colors, dark);
    }
    img {
      width: auto;
      display: inherit;
    }
    .aclass >img {
      width: 220px;
    }
  }
  .wallets-container {
    padding-left: 2rem;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .wallet-text {
      padding-left: 24px;
    }
  }

  .loading-address {
    margin: 0 auto;
    width: 220px;
    height: 226px;
    display: flex;
    text-align: center;
    justify-content: middle;
    align-items: center;
    ion-spinner {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
  }
}
