price-chart {
  max-width: 350px;
  @media (max-width: 700px) {
    max-width: 250px;
  }
  @media (max-width: 500px) {
    max-width: 170px;
  }
  @media (max-width: 400px) {
    max-width: 120px;
  }
}
