page-multiple-outputs {
  .output-note {
    font-size: 12.5px;
    padding-top: 4px;
    color: color($colors, light-grey);
  }
  .misunderstood-msg {
    padding: 10px 10px 10px 16px;
    font-size: 1.2rem;
  }
}
