<action-sheet>
  <div class="bp-header">
    <ion-title>{{ title }}</ion-title>
  </div>
  <div class="line-divider"></div>
  <div *ngFor="let coin of availableCoins">
    <div class="no-wallets" *ngIf="(!wallets[coin] && !wallets[coin][0])" translate>
      No wallets available
    </div>
    <div *ngIf="wallets && wallets[coin][0]">
      <ion-list no-lines class="bp-list">
        <div *ngFor="let wallet of wallets[coin]" (click)="optionClicked(wallet)">
          <wallet-item-content [wallet]="wallet"></wallet-item-content>
        </div>
      </ion-list>
    </div>
  </div>
  <ion-item-divider></ion-item-divider>
</action-sheet>