wallet-selector {
  padding-bottom: calc(env(safe-area-inset-bottom));
  .error {
    color: color($colors, danger);
  }
  .wallet-button {
    background: none;
  }
  .title {
    font-weight: 500;
    > img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .no-wallets {
    text-align: center;
    padding: 20px;
    color: color($colors, danger);
  }
  .bp-header {
    margin: 32px 0 20px 3px;
  }
}
