<action-sheet>
  <ion-row align-items-center>
    <ion-col col-4 text-left>
      <button ion-button clear icon-only color="grey" (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4 text-center class="destination-title">{{ title }}</ion-col>
  </ion-row>
  <div class="no-wallets" *ngIf="!walletsGroups" translate>
    No wallets available
  </div>
  <div *ngIf="walletsGroups">
    <div *ngFor="let walletsGroup of walletsGroups | keys">
      <ion-item-divider>
        <div class="title">
          <span translate>{{walletsGroup.key}}</span>
        </div>
      </ion-item-divider>

      <ion-list>
        <button ion-item detail-none *ngFor="let wallet of walletsGroup.value | keys" (click)="optionClicked(wallet.value)">
          <wallet-item-content [wallet]="wallet.value"></wallet-item-content>
        </button>
      </ion-list>
    </div>
  </div>

  <ion-item-divider></ion-item-divider>
</action-sheet>