price-chart {
  .price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .amount-content {
      display: grid;
      justify-content: start;
      align-content: space-around;
      .expression-container {
        grid-row-start: 1;
        justify-self: start;
        align-self: center;
        display: grid;
        grid-template-columns: auto 40px;
        .expression {
          font-size: 32px;
          font-weight: 500;
          line-height: 50px;
          @media (max-width: 500px) {
            font-size: 28px;
          }
        }
        .unit {
          margin: 9px 0 0 2px;
          font-size: 12px;
          color: #4a4a4a;
          justify-self: start;
          @media (max-width: 500px) {
            font-size: 10px;
            margin-top: 10px;
          }
        }
      }
      .average-container {
        grid-row-start: 2;
        justify-self: start;
        align-self: start;
        .average {
          font-size: 16px;
          color: #4a4a4a;
        }
      }
    }
    .chart {
      justify-self: end;
      align-self: center;
      max-width: 200px;
    }
  }
}
