<ion-card>
  <ion-card-content>
    <div class="price">
      <div class="amount-content">
        <div class="expression-container">
          <span class="expression">
            {{ currentPrice | number:'1.2-2' }}
          </span>
          <span class="unit">{{ isoCode }}</span>
        </div>
        <div class="average-container">
          <ion-icon md="md-arrow-dropup" color="success" *ngIf="averagePrice > 0"></ion-icon>
          <ion-icon md="md-arrow-dropdown" color="danger" *ngIf="averagePrice < 0"></ion-icon>
          <span class="average">{{ averagePrice | number:'1.2-2' }} %</span>
        </div>
      </div>
      <div class="chart">
        <canvas #lineCanvas></canvas>
      </div>
    </div>
  </ion-card-content>
</ion-card>