page-settings {
  ion-label,
  .item-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }

  .icon-settings {
    width: 25px;
    height: 25px;
    border-radius: $icon-border-radius;
    padding: 0rem;
  }

  .subtitle {
    color: #aaaeb6;
    font-size: 13px;
    margin-top: 5px;
  }

  .icon-card {
    width: 25px;
    height: 25px;
  }

  .wallet-group-header {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .settings-icon.item-img {
    opacity: 0.5;
  }

  .merchant-directory-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .merchant-directory-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    top: 0px;
    margin-left: 22px;
  }

  .merchant-directory-message {
    font-size: 16px;
    font-weight: bold;
  }

  .no-padding {
    padding: 0px !important;
  }

  .merchant-directory-link {
    cursor: pointer;
  }

  .hairline {
    border-top: 0.125px solid #f4f5fb;
    border-bottom: 0.125px solid #f4f5fb;
  }

  .gumball-image {
    margin-top: 0px;
    margin-right: -1px;
  }

  .gumball {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .add-card-button {
    @include center;
    background: #f4f5fb;
    color: #5f7bf7;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 92%;
    margin: 15px auto;
    margin-top: 0;
    height: 73px;
  }

  .generic-list {
    ion-item-divider {
      margin-top: 0px;
      padding: 0px 0px 0px 0px;
      background: #f8f8f9;
    }
  }

  .bp-list {
    ion-item-divider {
      margin-top: 0px;
      padding: 12.5px 0px 12.5px 20px;
      background: #f8f8f9;
    }
  }

  .create-button {
    background: white;
    color: color($colors, primary);
    margin-left: -12px;
    text-align: center;
  }
}
