page-settings {
  ion-label,
  .item-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }

  .icon-settings {
    width: 25px;
    height: 25px;
    border-radius: $icon-border-radius;
    padding: 0rem;
  }

  .subtitle {
    color: #aaaeb6;
    font-size: 13px;
    margin-top: 5px;
  }

  .icon-card {
    width: 25px;
    height: 25px;
  }

  .wallet-group-header {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .settings-icon.item-img {
    opacity: 0.5;
  }

  .add-card-button {
    @include center;
    background: #f4f5fb;
    color: #5f7bf7;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 92%;
    margin: 15px auto;
    margin-top: 0;
    height: 73px;
  }

  .bp-list {
    ion-item-divider {
      margin-top: 0px;
      padding: 12.5px 0px 12.5px 20px;
      background: #f8f8f9;
    }
  }
}
