page-settings {
  .wallet-warning {
    font-size: 11px;
    color: color($colors, danger);
    ion-label {
      white-space: inherit;
    }
  }
  .icon-wallet {
    width: 27px;
    height: 27px;
  }
  ion-item {
		cursor: pointer;
	}
}
