page-settings {
  ion-label,
  .item-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }
  .icon-wallet,
  .icon-services {
    width: 25px;
    height: 25px;
  }
  .icon-card {
    width: 25px;
    height: 25px;
  }
  .icon-services {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 0rem;
  }
}
