page-key-settings {
  coin-icon[slot='start'] {
    margin: 0px !important;
    ion-icon {
      margin: 0;
      padding: 0;
      margin-right: 1rem;
    }
  }

  .bp-list {
    .main-label {
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 23px !important;
      color: #001E2E;
    }
  }

  label-tip {
    margin: 0 !important;
    padding: 0.5rem 1rem 0 1rem !important;
    width: 100%;
    div [label-tip-body] {
      font-size: 12px;
      color: rgba(0, 30, 46, 0.6);
    }
    .label-header {
      margin: 0 !important;
    }
    .label-tip-link {
      color: var(--color-primary);
    }
  }

  ion-list {
    margin-top: 2rem !important;
  }

  .container-account {
    --inner-padding-end: 0;
    ion-icon {
      color: rgba(0, 30, 46, 0.6);
      padding: 0 !important;
      margin: 0 !important;
      width: 24px;
      height: 24px;
    }
  }

  .color-danger {
    color: var(--color-danger) !important;
  }
}