<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="contact-view-header">
    <gravatar [name]="name" [height]="80" [width]="80" [email]="email"></gravatar>
  </div>
  <ion-list>
    <ion-item>
      {{'Name' | translate}}
      <ion-note item-end>
        {{ name }}
      </ion-note>
    </ion-item>
    <ion-item>
      {{'Email' | translate}}
      <ion-note item-end>
        {{ email }}
      </ion-note>
    </ion-item>
    <ion-item copy-to-clipboard="{{ address }}">
      {{'Address' | translate}}
      <ion-note item-end>
        {{ address }}
      </ion-note>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="btn-send" (click)="sendTo()" translate>Send Money</button>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item class="btn-remove" (click)="remove()" translate>Remove</button>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-list>
</ion-content>
