wallet-detail-card {
  width: 100%;
  .wallet-card {
    width: 100%;
    border-radius: 16px;
    color: #edeff0;
    box-shadow: 0px 2px 6px 2px rgb(0 0 0 / 15%);
    .wallet-card-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      .wallet-icon {
        display: flex;
        align-items: center;
        .icon {
          position: relative;
          margin-top: 6px;
          img {
            width: 40px !important;
            height: 40px !important;
          }
          .audit {
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: 5px;
            right: 0;
          }
        }
        .wallet-name {
          margin-left: 0.5rem;
          max-width: 240px;
          p {
            margin: 0;
          }
          img {
            width: 20px;
            height: 20px;
          }
          .wallet-info {
            display: flex;
            align-items: baseline;
            .audit-table {
              background: rgba(0, 30, 46, 0.24);
              padding: 0 4px;
              color: rgba(237, 239, 240, 0.6);
              border-radius: 6px;
              font-size: 12px;
              letter-spacing: 0.4px;
              margin-right: 5px;
            }
            .secondary-label {
              display: flex;
              align-items: center;
              background: rgba(0, 30, 46, 0.24);
              color: rgba(237, 239, 240, 0.6);
              padding: 0 4px;
              border-radius: 6px;
              font-size: 12px;
              letter-spacing: 0.4px;
              img {
                margin-left: 5px;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
      .ngx-qrcode-address {
        opacity: 0.8;
        width: 55px !important;
        height: 40px !important;
        img {
          border-radius: 4px;
        }
      }
    }
    .balance-content {
      padding: 20px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-flow: column;
      .eye {
        margin-left: 0;
        margin-left: 4px;
        width: 20px;
        height: 20px;
        opacity: 0.6;
      }
      balance-to-show {
        font-weight: 600;
        font-size: 28px;
        .unit {
          font-size: 16px;
          font-weight: 600;
          margin-top: 0px;
          opacity: 0.6 !important;
          margin-left: 4px;
        }
      }
      .balance-str {
        cursor: pointer;
        font-size: 38px;
        font-weight: 500;
        display: flex;
        align-items: center;
        img {
          margin-left: 6px;
        }
      }

      .balance-alt-str {
        padding-top: 0.5rem;
        font-size: 16px;
        font-weight: 600;
        opacity: 0.6 !important;
        line-height: 24px;
      }
    }
    &.bg {
      &-bch {
        background: url(../../../assets/img/wallet-details/bg-bch.svg) no-repeat;
        background-size: cover;
      }
      &-xec {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
      &-xpi {
        background: url(../../../assets/img/wallet-details/bg-xpi.svg) no-repeat;
        background-size: cover;
      }
      &-doge {
        background: url(../../../assets/img/wallet-details/bg-doge.svg)
          no-repeat;
        background-size: cover;
      }
      &-ltc {
        background: url(../../../assets/img/wallet-details/bg-ltc.svg) no-repeat;
        background-size: cover;
      }
      &-bcPro {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
      &-EAT {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
      &-ABCSLP {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
      &-DoC {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
      &-default {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
    }
  }

  .wallet-address {
    text-align: end;
    background: linear-gradient(270deg, rgba(0, 30, 46, 0.24) 2.04%, rgba(0, 30, 46, 0) 100%);
    border-radius: 0px 8px 0px 0px;
    padding: 5px 20px 5px 8px;
    .wallet-add {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      color: rgba(237, 239, 240, 0.6);
      letter-spacing: 0.4px;
      margin: 0;
      font-weight: 500;
      span {
        margin-left: 5px;
      }
      .addr-update {
        margin-left: 18px;
      }
    }
    ion-icon {
      color: #edeff0;
      width: 13px;
      height: 13px;
      &.icon-refresh {
        width: 20px;
        height: 20px;
      }
    }
    .addr-update {
      --padding-start: 0;
      --padding-end: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      .spin-backwards {
        animation: spin-backwards 0.5s ease-out 1;
      }
      @keyframes spin-backwards {
        from {
          transform: rotate(210deg);
        }
        to {
          transform: rotate(-360deg);
        }
      }
      .fade-in-out {
        opacity: 0.1;
      }
      @keyframes bounce-down {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(15%);
        }
        100% {
          transform: translateY(0);
        }
      }
      
      .spin-icon {
        height: 18px;
      }
      .spinner {
        float: right;
        padding-bottom: 0px;
        border: 1px solid orange;
        border-top: 1px solid red;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin: 2px;
        color: red;
        background-color: red;
      }
      .spin-fast {
        animation: spin-fast 0.3s linear infinite;
      }
      @keyframes spin-fast {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .wallet-setting {
    display: flex;
    margin-left: 5px;
    ion-icon {
      width: 16px;
      height: 16px;
    }
  }

  @media screen and (max-width: 376px) {
    .wallet-name {
      max-width: 200px !important;
    }
  }
}
