/*
 * BitPay Distribution SCSS overrides
 */

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$color-primary: #647ce8;
$color-secondary: #111b49;
$icon-border-radius: 50%;
$txp-icon-border-radius: 2rem;
$toolbar-background: #1e3186;
$toolbar-scanner: rgba(30, 49, 134, 0.8);
