/*
 * BitPay Distribution SCSS overrides
 */

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$color-primary: #4f6ef7;
$color-secondary: #1a3a8b;
$color-secondary-dark: #002855;
$icon-border-radius: 50%;
$txp-icon-border-radius: 2rem;
$toolbar-background: white;
$toolbar-scanner: rgba(30, 49, 134, 0.8);
$onboarding-welcome-bg: url(../assets/img/onboarding-welcome-bg.svg);
$onboarding-comment-color: rgba(255, 255, 255, 0.5);
$onboarding-primary-color: #fff;
$onboarding-gradient-top-color: #2a3f90;
$slider-bg-color: linear-gradient(
  90deg,
  rgba(79, 110, 247, 1) 0%,
  rgba(69, 98, 226, 1) 100%
);
$slider-bg-button: linear-gradient(
  180deg,
  rgba(50, 83, 181, 1) 0%,
  rgba(42, 66, 154, 1) 100%
);
