page-email {
  .buttons {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 15px 15px 4vh 15px;
  }
  .email-title {
    margin: 5vh 0;
    text-align: center;
    font-size: 3vh;
  }
  .email-content {
    text-align: center;
    padding: 0 4vh;
  }
}
