page-choose-fee-level {
  .testnet-warning {
    width: 100%;
    height: 3rem;
    background-color: #ffc900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .fee-error {
    font-size: 12.5px;
    color: red;
  }

  .fee {
    &-check {
      font-size: 28px;
      &.success {
        color: color($colors, success);
      }
    }
    &-row {
      display: flex;
      align-items: baseline;
    }
    &-container {
      .slide-zoom {
        height: 80%;
        width: 80%;
        display: flex;
        text-align: left;
      }
    }
    &-speed-name {
      font-weight: 700;
      font-size: 20px;
      color: #434d5a;
      line-height: 29px;
    }
    &-speed-satByte {
      color: #434d5a;
      font-size: 17px;
      font-weight: 400;
    }
    &-avg-label {
      font-weight: 400;
      font-size: 15px;
      color: #434d5a;
    }
    &-avg-time {
      font-weight: 500;
      font-size: 16px;
      color: #434d5a;
    }
    &-card {
      height: 207px;
      margin: 15px 0px 20px 0px;
      border-radius: 9px;
      background-color: #ffffff;
      box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.14);
      .apply-button {
        padding-bottom: 10px;
      }
      .line-divider {
        margin: 0px 15px;
      }
    }
  }
}
