<action-sheet>
  <ion-row class="addr-header" align-items-center>
    <ion-col col-10 text-left>
      <span class="addr-title" translate>
        Transaction speed
      </span>
    </ion-col>
    <ion-col col-2 text-right>
      <button ion-button clear icon-only color="primary" (click)="openExternalLink('https://support.bitpay.com/hc/en-us/articles/115003393863-What-are-bitcoin-miner-fees-Why-are-miner-fees-so-high-')">
        <ion-icon name="md-help-circle"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <div class="testnet-warning" *ngIf="network!='livenet'">
    Testnet
  </div>
  <div class="fee-container">
    <ion-slides #feeSlides slidesPerView="2" slidesPerView="2" spaceBetween="20" centeredSlides="true" pager="false" radio-group [(ngModel)]="feeLevel">
      <ion-slide *ngFor="let fee of feeOpts" class="fee-card" (click)="changeSelectedFee(fee.level)">
        <ion-grid no-padding>
          <ion-row class="fee-row">
            <ion-col col-10>
              <div class="fee-speed-name">{{ feeProvider.getFeeOpts()[fee.level] | translate }}</div>
              <div class="fee-speed-satByte">{{fee.feePerSatByte}} {{ feeUnit }}</div>
            </ion-col>
            <ion-col text-right col-2>
              <ion-icon *ngIf="fee.level === feeLevel" name="ios-checkmark-circle" class="fee-check success" item-right></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row padding-top margin-top>
            <ion-col col-12 item-start>
              <div class="fee-avg-label" translate>Average confirmation time:</div>
              <div class="fee-avg-time">
                <span *ngIf="loadingFee">...</span>
                <span *ngIf="fee.avgConfirmationTime">
                  {{ fee.avgConfirmationTime | amDuration: 'minute' }}
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide class="fee-card">
        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              <div class="fee-speed-name">{{ 'Custom fee' | translate }}</div>
            </ion-col>
            <ion-col text-right col-2>
              <ion-icon *ngIf="'custom' === feeLevel" name="ios-checkmark-circle" class="fee-check success" item-right></ion-icon>
            </ion-col>
          </ion-row>
          <ion-item no-margin no-padding>
            <ion-label padding-bottom stacked>{{'Enter custom fee in {feeUnit}' | translate: { feeUnit: feeUnit } }}:</ion-label>
            <ion-input type="number" min="minFee" max="maxFee" (ionChange)="checkFees(customSatPerByte)" [(ngModel)]="customSatPerByte" required></ion-input>
          </ion-item>
          <div class="fee-error" *ngIf="showError">
            <span translate>Transactions without fee are not supported.</span>
          </div>
          <div class="fee-error" *ngIf="showMinWarning || showMaxWarning" text-wrap>
            <span *ngIf="showMinWarning" translate>Your fee is lower than recommended.</span>
            <span *ngIf="showMaxWarning" translate>You should not set a fee higher than {{maxFeeRecommended}} {{feeUnit}}.</span>
          </div>
          <button class="apply-button" ion-button clear color="primary" (click)="setCustomFee()" [disabled]="!customSatPerByte || customSatPerByte >= maxFeeAllowed || showError">
            {{'Apply changes' | translate}}
          </button>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="line-divider"></div>
  <div class="close-btn" text-center>
    <button ion-button clear icon-only color="dark" (click)="dismiss()">
      {{'CLOSE' | translate }}
    </button>
  </div>
</action-sheet>