
// Position
// --------------------------------------------------

$global-colors: (
  light-grey: #9B9B9B,
  labels:     #6C6C6E,
  warning: #BB331A
);

.bottom-absolute {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 15px 15px 1vw 15px;
  .button {
    margin: 1.2rem 0.2rem;
  }
}

.footer .button-footer {
  margin: 0;
  height: 40px;
}

// This style prevents the names of the tabs from disappear
.tabbar .tab-button .tab-button-text {
  display: block;
}

.icon-wallet {
  background-color: color($colors, primary);
  border-radius: $icon-border-radius;
  width: 37px;
  height: 37px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  background-repeat:no-repeat;
  background-clip: padding-box;
  background-size: 103%;
}

.icon-services {
  background-color: none;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 103%;
}

.icon-contact {
  width: 35px;
}

.box-notification {
  padding: 0.5rem;
  border: 1px solid;
  margin: 10px;
  a {
    color: #fff;
  }
  &.notice {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
  }
  &.warning {
    border-color: #e6b500;
    background-color: #ffc900;
    color: #fff;
    &.warning-red{
      border-color: #EB475A;
      background-color: color($global-colors, warning);;
    }
  }
  &.error {
    background-color: #ef473a;
    border-color: #e42112;
    color: #fff;
  }
}

/*
 * Wallet selector
 */

@mixin wallets-list {
  height: 3.5rem;
  width: 3.5rem;
  content: " ";
  position: absolute;
  top: 6px;
  border-radius: $icon-border-radius;
}

.wallet-livenet::before {
  @include wallets-list;
  background: color($colors, primary) url('../assets/img/icon-wallet.svg') no-repeat 0px 0px;
}

.wallet-testnet::before {
  @include wallets-list;
  background: color($colors, primary) url('../assets/img/icon-wallet-testnet.svg') no-repeat 0px 0px;
}

