@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fix-ios-bg-scroll($bottom-color: $background-color) {
  .scroll-content,
  .fixed-content {
    // This line prevents an ugly gap from appearing between the
    // navbar and page content when the user overscrolls on iOS
    background-image: linear-gradient(
      to bottom,
      $toolbar-background,
      $toolbar-background 50%,
      $bottom-color 50%,
      $bottom-color 50%,
      $bottom-color 50%
    );
  }
}
