.wallet-details-modal,
.fullscreen-modal {
  .modal-wrapper {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
  ion-backdrop {
    visibility: visible !important;
  }
}

button.modal-close-button.bar-button {
  font-size: 20px;
  margin-left: 0.3rem;
}
