// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Override - Homogenized ionic component styles
@import 'overrides';

/* filled button */
$button-ios-background-color: color($colors, accent);
$button-md-background-color: color($colors, accent);
$button-wp-background-color: color($colors, accent);

/* outline button */
$button-ios-outline-text-color: color($colors, accent) !important;
$button-md-outline-text-color: color($colors, accent) !important;
$button-wp-outline-text-color: color($colors, accent) !important;

/* pagination bullets */
.swiper-pagination-bullet-active {
  background: color($colors, accent) !important;
}

/* checkbox */
$checkbox-ios-icon-border-color-off: color($colors, accent);
$checkbox-md-icon-border-color-off: color($colors, accent);
$checkbox-wp-icon-border-color-off: color($colors, accent);

$checkbox-ios-icon-border-color-on: color($colors, accent);
$checkbox-md-icon-border-color-on: color($colors, accent);
$checkbox-wp-icon-border-color-on: color($colors, accent);

$checkbox-ios-background-color-on: color($colors, accent);
$checkbox-md-icon-background-color-on: color($colors, accent);
$checkbox-wp-icon-background-color-on: color($colors, accent);

$checkbox-md-icon-border-radius: 50%;
$checkbox-wp-icon-border-radius: 50%;

$checkbox-md-icon-size: 21px;
$checkbox-wp-icon-size: 21px;

$checkbox-md-item-start-margin-end: 20px;

.checkbox-md, .checkbox-wp {
  .checkbox-checked .checkbox-inner {
    margin-top: 2px;
    margin-left: 2px;
  }
}

/* alert buttons */
$alert-ios-button-text-color: color($colors, accent);
$alert-md-button-text-color: color($colors, accent);

/* tabs */
$tabs-ios-tab-color-active: color($colors, accent);
$tabs-md-tab-color-active: color($colors, accent);
$tabs-wp-tab-color-active: color($colors, accent);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$item-md-detail-push-show: true;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$item-wp-detail-push-show: true;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
