// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

$v-primary-color:                                    #192c3a;
$v-secondary-color:                                  #31465b;
$v-accent-color:                                     #1abb9b;

$v-dark-gray:                                        #445 !default;
$v-mid-gray:                                         #667 !default;
$v-light-gray:                                       #9b9bab !default;
$v-title-gray:                                       #c2c9d1 !default;
$v-subtle-gray:                                      darken(#ffffff, 5%) !default;
$v-btn-active-color:                                 #148e76;
$v-background-warning:                               #ffa500;
$v-background-success:                               #1abb9b;

$v-onboarding-color:                                 #ffffff !default;
$v-onboarding-bar-header-color:                      #ffffff !default;
$v-onboarding-bar-header-button-color:               #ffffff !default;
$v-onboarding-gradient-top-color:                    $v-primary-color !default;
$v-onboarding-gradient-bottom-color:                 $v-secondary-color !default;
$v-onboarding-checkbox-on-border:                    $v-accent-color;

$v-button-primary-bg:                                $v-accent-color !default;


$v-visible-radius:                                   6px !default;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Onboarding ---------------------------------------
.checkbox .checkbox-icon {
  border-color: $v-accent-color !important;
  position: relative !important;
  width: 28px !important;
  height: 28px !important;
  display: block !important;
  background: transparent !important;
  -webkit-appearance: none !important;
  border-radius: 50% !important;
}

.checkbox .checkbox-checked .checkbox-inner {
  left: 40% !important;
  top: 15% !important;
  height: 15px !important;
  border-color: $v-accent-color !important;
}

.onboarding {
  color: $v-onboarding-color !important;
  background: $v-onboarding-gradient-top-color;
  background-image: linear-gradient(to bottom, $v-onboarding-gradient-top-color 0%, $v-onboarding-gradient-bottom-color 100%);
  height: 100%;
  text-align: center;

  .onboarding-topic,
  .onboarding-description,
  .onboarding-tldr {
    color: $v-title-gray;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .onboarding-topic {
    font-size: 24px;
    margin-top: .5rem;
    line-height: 1.3;
    @media(max-width: 350px) {
      font-size: 20px;
    }
  }
  .onboarding-description {
    margin-top: 1rem;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    line-height: 1.5;
    @media(max-width: 350px) {
      line-height: 1.3;
    }
    @media(max-height: 480px) {
      font-size: 16px;
    }
  }
  .onboarding-tldr {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1em;
    line-height: 1.3;
    @media(max-width: 350px) {
      font-size: 16px;
    }
    @media(max-height: 480px) {
      font-size: 14px;
    }
  }
  button {
    &.primary {
      border-color: transparent;
      background-color: $v-accent-color;
      color: $v-onboarding-color;
    }
    &.secondary {
      background-color: transparent;
      border-color: transparent;
      color: $v-accent-color;
    }
  }
  .swiper-pagination-bullet {
    background-color: $v-accent-color;
  }
}
