.prompt-user {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background-color: rgb(251, 251, 251);
  .title-info {
    font-weight: 600;
    color: black;
    font-size: 22px;
    margin: 30px;
  }
  .subtitle-info {
    color: rgb(74, 74, 74);
    width: 77%;
    max-width: 310px;
    font-size: 18px;
    margin: auto;
    min-height: 150px;
    height: 30%;
  }
  .title-icon {
    margin: auto;
    img {
      width: 100%;
    }
    width: 80px;
  }
  .larger-icon {
    width: 150px;
    margin-top: 14px;
  }
  button {
    margin-top: 50px;
  }
}

.activity-fix {
  background-color: rgb(245, 245, 245);
  padding-top: 60px;
  margin-top: -1.3em;
}
