.prompt-user-fullscreen-container {
  @include center;
  min-height: 100%;
  padding: 1rem;
}

.prompt-user {
  text-align: center;
  width: 100%;
  .title-info {
    font-weight: 500;
    color: #060606;
    font-size: 18px;
    margin: 30px;
  }
  .subtitle-info {
    color: rgba(0, 0, 0, 0.8);
    width: 77%;
    max-width: 310px;
    font-size: 16px;
    margin: auto;
    font-weight: 300;
  }
  .title-icon {
    margin: auto;
    img {
      height: 100%;
      vertical-align: bottom;
    }
    width: 80px;
    height: 115px;
    vertical-align: bottom;
  }
  .larger-icon {
    width: 150px;
  }
  button {
    margin-top: 30px;
  }
}

.activity-fix {
  position: relative;
  top: 0%;
  transform: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .prompt-user {
    .subtitle-info {
      font-size: 16px;
    }
    .title-info {
      font-size: 20px;
      margin: 20px;
    }
    button {
      width: 75%;
    }
  }
}

@media screen and (device-aspect-ratio: 2/3) {
  .prompt-user {
    .subtitle-info {
      font-size: 15px;
    }
    .title-info {
      font-size: 19px;
      margin: 16px;
    }
    .title-icon {
      width: 40px;
      height: 60px;
    }
    .larger-icon {
      width: 140px;
    }
    button {
      margin-top: 20px;
      width: 75%;
    }
  }
}
