page-coinbase-settings {
  .wide-header__title.toolbar {
    padding-bottom: 10px;
  }
  .wide-header__title {
    padding-left: 0;
  }
  ion-spinner {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -1em;
    * {
      stroke: #0667d0 !important;
    }
  }
}
