<div id="backup-needed-modal" class="popup-modal">
  <div class="popup-modal-header popup-modal-header-warning">
    <div class="popup-modal-header-img-warning popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content popup-modal-content-warning">
    <div class="text-center">
      <h5 translate>Backup Needed</h5>
      <p translate>Now is a good time to backup your wallet. If this device is lost, it is impossible to access your funds without a backup.</p>
      <div class="row">
        <div class="col">
          <button
            class="button button-clear expand"
            ng-click="closeBackupNeededModal()"
            translate>Not now
          </button>
        </div>
        <div class="col">
          <button
            class="button button-clear expand"
            ng-click="goToBackupFlow()"
            translate>Backup wallet now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
