
<div class="passModalMask">
 </div>

<div class="alertModal">
  <div class="row">
    <div class="columns">
      <h4 class="text-center m10v size-18" translate>Confirm transaction</h4>

      <ul class="no-bullet size-14 m0"> 
        <li class="line-b p10">
          <span class="text-gray" translate>Amount</span>
          <span class="right">{{home.confirmTxPopup.amountStr}}
            <span ng-show="txp.alternativeAmountStr" class="label gray radius">{{home.confirmTxPopup.alternativeAmountStr}}</span>
          </span>
        </li>
        <li class="line-b p10" ng-show="txp.action != 'received'">
          <span class="text-gray" translate>Fee</span>
          <span class="right">{{home.confirmTxPopup.feeStr}}</span>
        </li>
      </ul>

    </div>
  </div>
  <div class="row m20t">
    <div class="small-6 columns">
      <button 
        ng-click="home.closeConfirmTx()"
        class="round small-6 columns outline dark-gray expand" translate>
        Cancel
      </button>
    </div>
    <div class="small-6 columns">
      <button 
         ng-click="home.acceptConfirmTx()"
         class="round expand" 
         ng-style="{'background-color':index.backgroundColor}" translate>
        Accept
      </button>
    </div>
  </div>
</div>
