<div id="backup-confirm-modal" class="popup-modal">
  <div class="popup-modal-header">
    <div ng-class="{'popup-modal-header-img-success': !backupError, 'popup-modal-header-img-fail': backupError}" class="popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content" ng-class="{'popup-modal-content-success': !backupError, 'popup-modal-content-fail': backupError}">
    <div class="text-center" ng-show="!backupError">
      <h5 translate>Your bitcoin wallet is backed up!</h5>
      <p translate> Be sure to store your recovery phrase in a secure place. If this app is deelted, you money cannot be recoved with out it.</p>
      <button
        class="button button-clear expand"
        ng-click="closeBackupResultModal()"
        translate>I Understand
      </button>
    </div>
  </div>
</div>
