<a ng-click="index.setTab(item, false, 0, true)" 
   ng-style="{'background-color': index.tab == item.link ? skin.view.tabBarSelectedBackground : '#A5B2BF', 'border-top-color':skin.view.tabBarSelectedBackground}" 
   id="menu-{{item.link}}">
    <i class="size-18 {{item.icon}} db"></i>
    <span class="size-10 tu">
        {{ item.title|translate }}
        <span class="label round" 
          ng-if="item.link=='walletHome' && index.pendingTxProposalsCountForUs > 0">
            {{ index.pendingTxProposalsCountForUs }}
        </span>
    </span>
    <div ng-if="item.link == 'walletHome'" class="menu-wallet-home"></div>
</a>
