<li class="p10 oh" ng-click="copyToClipboard(output.toAddress, $event)">
  <span class="text-gray" translate>To</span>:
  <span class="right enable_text_select">{{output.toAddress || output.address}}</span>
</li>
<li class="p10" ng-click="copyToClipboard(output.amountStr, $event)">
  <span class="text-gray" translate>Amount</span>:
  <span class="right enable_text_select">{{output.amountStr}}
    <span ng-show="output.alternativeAmountStr" class="label gray radius">{{output.alternativeAmountStr}}</span>
  </span>
</li>
<li class="p10 oh" ng-click="copyToClipboard(output.message, $event)">
  <span class="text-gray" translate>Note</span>:
  <span class="right enable_text_select">{{output.message}}</span>
</li>
