<li class="p10 oh" ng-click="copyAddress(output.toAddress)">
  <span class="text-gray" translate>To</span>:
  <span class="right enable_text_select">{{output.toAddress || output.address}}</span>
</li>
<li class="p10">
  <span class="text-gray" translate>Amount</span>:
  <span class="right">{{output.amountStr}}
    <span ng-show="output.alternativeAmountStr" class="label gray radius">{{output.alternativeAmountStr}}</span>
  </span>
</li>
<li class="p10 oh">
  <span class="text-gray" translate>Note</span>:
  <span class="right">{{output.message}}</span>
</li>
