
<div class="passModalMask">
 </div>

<div  ng-controller="passwordController as pass" class="passModal"
          ng-class="{'animated  bounceInDown':index.askPassword}"
>
  <div class="columns m20t">
    <label class="size-14 text-center" for="password" ng-if="index.askPassword.isSetup">
      <span ng-show="!pass.isVerification" translate>Set up a password</span>
      <span ng-show="pass.isVerification" translate>Repeat password</span>
    </label>
    <label class="size-14 text-center" for="password" ng-if="!index.askPassword.isSetup">
      <span translate>Enter your password</span>
    </label>

    <div class="input m20t">
      <input type="password" placeholder="{{'Your password'|translate}}"
      id="passwordInput" name="password" ng-model="pass.password">
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <button class="round small-6 columns outline dark-gray expand"  ng-click="pass.close(index.askPassword.callback)" translate>
        CANCEL
      </button>
    </div>

    <div class="small-6 columns">
      <button class="round expand" ng-click="pass.set(index.askPassword.isSetup, index.askPassword.callback)" ng-disabled="!pass.password"
        ng-style="{'background-color':index.backgroundColor}">
        <span ng-if="index.askPassword.isSetup" translate>SET</span>
        <span ng-if="!index.askPassword.isSetup">OK</span>
      </button>
    </div>
  </div>

    <p class="text-warning size-12 columns m20t text-center" ng-show="index.askPassword.isSetup">
      <i class="fi-alert"></i>
      <span translate ng-show="!pass.error"> Your wallet key will be encrypted. Password cannot be recovered. Be sure to write it down</span>

      <span ng-show="pass.error">{{pass.error|translate}}</span>
    </p>
 </div>
