<div class="pin" ng-show="!error">
  <div class="pin-box">
    <i class="icon-circle" ng-show="!defined[0]"></i>
    <i class="icon-circle-active" ng-show="defined[0]"></i>
  </div>
    
  <div class="pin-box">
    <i class="icon-circle" ng-show="!defined[1]"></i>
    <i class="icon-circle-active" ng-show="defined[1]"></i>
  </div>

  <div class="pin-box">
    <i class="icon-circle" ng-show="!defined[2]"></i>
    <i class="icon-circle-active" ng-show="defined[2]"></i>
  </div>

  <div class="pin-box">
    <i class="icon-circle" ng-show="!defined[3]"></i>
    <i class="icon-circle-active" ng-show="defined[3]"></i>
  </div>
</div>
