<nav class="sidebar" ng-controller="sidebarLeftController as sidebar">
  <div class="sidebar-bg" ng-style="{'background':theme.view.sidebarLBackground}">
    <header ng-style="{'border-bottom-color':theme.view.sidebarLListSeparatorColor}">
      <div ng-style="{'color':theme.view.sidebarLVersionTextColor, 'padding-top':theme.view.sidebarLVersionTextPaddingTop}" ng-include="'views/includes/version.html'"></div>
    </header>

    <ul>
      <li ng-show="sidebar.wallets[0]"
      ng-repeat="item in sidebar.wallets track by $index"
      ng-style="{
        'border-bottom-color':theme.view.sidebarLListSeparatorColor,
        'background': item.id == index.walletId ? theme.view.sidebarLListSelectedItemBackground : 'none'}">
        <a menu-toggle ng-click="sidebar.switchWallet(item.id, index.walletId)" class="oh">
          <div class="avatar-wallet"
            ng-style="{'color':item.avatarColor, 'background':item.avatarBackground, 'border':item.avatarBorder}">
            <i class="icon-wallet size-20"></i>
          </div>
          <div class="name-wallet" ng-class="{'m8t':item.n == 1}"
            ng-style="{'color': item.id == index.walletId ? theme.view.sidebarLListSelectedItemColor : theme.view.sidebarLListItemColor}">{{item.name || item.id}}</div>
          <div class="size-12" ng-show="item.n > 1" translate>{{item.m}}-of-{{item.n}}</div>
        </a>
      </li>
      <li ng-style="{'border-bottom-color':theme.view.sidebarLListSeparatorColor}">
        <a menu-toggle ng-click="$root.go('add')" class="oh" ng-style="{'color':theme.view.sidebarLListItemColor}">
          <i class="icon-arrow-right3 size-18 right m10t"></i>
          <i class="fi-plus size-24 icon"></i>
          <div class="tu text-bold">
            <span class="size-12" translate>Add wallet</span>
          </div>
          <div translate>Create, join or import</div>
        </a>
      </li>
      <li ng-style="{'border-bottom-color':theme.view.sidebarLListSeparatorColor}" ng-show="index.brand.features.glidera.enabled && index.glideraVisible">
        <a menu-toggle ng-click="$root.go('glidera')" class="oh" ng-style="{'color':theme.view.sidebarLListItemColor}">
          <i class="icon-arrow-right3 size-18 right m10t"></i>
          <i class="icon-bank size-24 icon"></i>
          <div class="tu text-bold">
            <span class="size-12">Buy &amp; Sell Bitcoin</span>
          </div>
          <div>Glidera</div>
        </a>
      </li>
      <li ng-style="{'border-bottom-color':theme.view.sidebarLListSeparatorColor}">
        <a menu-toggle ng-click="$root.go('preferencesGlobal')" class="oh" ng-style="{'color':theme.view.sidebarLListItemColor}">
          <i class="icon-arrow-right3 size-18 right m10t"></i>
          <i class="fi-widget size-24 icon"></i>
          <div class="tu text-bold">
            <span class="size-12">Settings</span>
          </div>
          <div>Global preferences</div>
        </a>
      </li>
    </ul>
  </div> <!-- sidebar-bg -->
</nav>
