<nav class="sidebar left-off-canvas-menu" ng-controller="sidebarController as sidebar">
  <div class="sidebar-bg" ng-style="{'background':theme.sidebarBackground}">
    <header ng-style="{'border-bottom-color':theme.sidebarListSeparatorColor}">
      <div ng-style="{'color':theme.sidebarVersionTextColor, 'padding-top':theme.sidebarVersionTextPaddingTop}" ng-include="'views/includes/version.html'"></div>
    </header>
    <ul class="off-canvas-list">
      <li ng-show="sidebar.wallets[0]"
      ng-repeat="item in sidebar.wallets track by $index"
      ng-style="{
        'border-bottom-color':theme.sidebarListSeparatorColor,
        'background': item.id == index.walletId ? theme.sidebarSelectedWalletBackground : 'none'}">
      <a ng-click="sidebar.switchWallet(item.id, index.walletId)" class="oh">
        <div ng-if="item.avatarIsWalletName == 'true'" class="avatar-wallet"
          ng-style="{'background':item.avatarBackground, 'border':item.avatarBorder}">{{(item.name || item.id) | limitTo: 1}}</div>
        <div ng-if="item.avatarIsWalletName == 'false'" class="avatar-wallet"
          ng-style="{'background':item.avatarBackground, 'border':item.avatarBorder}"></div>
        <div class="name-wallet" ng-class="{'m8t':item.n == 1}"
          ng-style="{'color': item.id == index.walletId ? theme.sidebarSelectedWalletNameColor : theme.sidebarWalletNameColor}">{{item.name || item.id}}</div>
        <div class="size-12" ng-show="item.n > 1" translate>{{item.m}}-of-{{item.n}}</div>
      </a>
    </li>
    <li ng-style="{'border-bottom-color':theme.sidebarListSeparatorColor}">
      <a ng-click="$root.go('add')" class="oh">
        <i class="icon-arrow-right3 size-18 right m10t"></i>
        <i class="fi-plus size-24 icon"></i>
        <div class="tu text-bold">
          <span class="size-12" translate>Add wallet</span>
        </div>
        <div translate>Create, join or import</div>
      </a>
    </li>
    <li ng-style="{'border-bottom-color':theme.sidebarListSeparatorColor}" ng-show="index.glideraEnabled">
      <a ng-click="$root.go('glidera')" class="oh">
        <i class="icon-arrow-right3 size-18 right m10t"></i>
        <i class="icon-bank size-24 icon"></i>
        <div class="tu text-bold">
          <span class="size-12">Buy &amp; Sell Bitcoin</span>
        </div>
        <div>Glidera</div>
      </a>
    </li>
    <li>
      <a ng-click="$root.go('preferencesGlobal')" class="oh">
        <i class="icon-arrow-right3 size-18 right m10t"></i>
        <i class="fi-widget size-24 icon"></i>
        <div class="tu text-bold">
          <span class="size-12">Settings</span>
        </div>
        <div>Global preferences</div>
      </a>
    </li>
  </ul>
  </div> <!-- sidebar-bg -->
</nav>
