<nav ng-controller="topbarController as topbar" 
  class="tab-bar" 
  ng-style="{'background': (useTheme ? theme.view.navBarBackground : skin.view.navBarBackground), 'border-bottom': (useTheme ? theme.view.navBarBorderBottom : skin.view.navBarBorderBottom)}">

  <section class="left-small">
    <a id="hamburger" class="p10" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet" ng-click="index.openMenu()">
      <i class="fi-list size-24" ng-style="{'color': useTheme ? theme.view.navBarButtonIconColor : skin.view.navBarButtonIconColor}"></i>
    </a>
    <a ng-show="goBackToState" ng-click="$root.go(goBackToState); goBackToState = null">
      <i class="icon-arrow-left3 icon-back" ng-style="{'color': useTheme ? theme.view.navBarButtonTextColor : skin.view.navBarButtonTextColor}"></i>
      <span class="text-back" ng-style="{'color': useTheme ? theme.view.navBarButtonTextColor : skin.view.navBarButtonTextColor}">{{'Back'|translate}}</span>
    </a>
    <a ng-show="closeToHome" class="p10" ng-click="topbar.goHome(); closeToHome = null">
      <span class="text-close" ng-style="{'color': useTheme ? theme.view.navBarButtonTextColor : skin.view.navBarButtonTextColor}">{{'Close'|translate}}</span>
    </a>
  </section>

  <section class="right-small">
    <a id="layout" class="p10" ng-show="showLayout" ng-click="topbar.changeLayout(layoutEvent)">
      <i class="fi-list-thumbnails size-24" ng-style="{'color': useTheme ? theme.view.navBarButtonIconColor : skin.view.navBarButtonIconColor}"></i>
    </a>
    <a id="plus" class="p10" style="line-height: 3rem" ng-show="showPlus" ng-click="$root.go(plusState);">
      <i class="fi-plus size-24" ng-style="{'color': useTheme ? theme.view.navBarButtonIconColor : skin.view.navBarButtonIconColor}"></i>
    </a>
    <a id="prefs" class="p10" style="line-height: 3rem" ng-show="showPreferences" ng-click="topbar.goPreferences()">
      <i class="fi-widget size-24" ng-style="{'color': useTheme ? theme.view.navBarButtonIconColor : skin.view.navBarButtonIconColor}"></i>
    </a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" style="line-height: 3rem">
      {{(titleSection|translate) || (index.alias || index.walletName)}}
    </h1>
  </section>

</nav>
