<div class="last-transactions-content" 
  ng-class="{'line-b':!$last, 'active':tx.pendingForUs}" 
  ng-click="openTxModal(tx, index.copayers)">
    <div class="ellipsis p10b size-16 m20r">
      <span class="tx-proposal size-12 m5r"> <i ng-class="{'active':tx.pendingForUs}" class="fi-arrow-right"></i> </span>
      <span class="text-gray">
        <span translate>To</span>:
        <span ng-if="tx.merchant">
          <span ng-show="tx.merchant.pr.ca"><i class="fi-lock"></i> {{tx.merchant.domain}}</span>
          <span ng-show="!tx.merchant.pr.ca"><i class="fi-unlock"></i> {{tx.merchant.domain}}</span>
        </span>
        <contact address="{{tx.toAddress}}" ng-hide="tx.merchant"> </contact>
{{tx.toAddress}}
      </span>
    </div>

    <div class="p25l m10b" ng-class="{'text-gray':!tx.pendingForUs}">
      <div class="size-21 text-bold m10b">
          <span ng-if="!$root.updatingBalance">
            {{tx.amountStr}}
          </span>
          <i class="icon-arrow-right3 size-24 text-gray right"></i>
      </div>
      <span class="alt-currency black size-12" ng-class="{'gray':!tx.pendingForUs}">
        {{tx.alternativeAmount}} {{tx.alternativeIsoCode}}
      </span>
    </div>
  </div>
</div>

