<div class="wallets" ng-show="wallets[0]">
  <ion-slides class="slides" slider="data.slider">
    <ion-slide-page ng-repeat="wallet in wallets track by $index">
      <div class="list card">
        <ul class="pr">
          <li ng-show="wallets[0]" class="item item-icon-left">
            <i class="icon ion-briefcase size-21" ng-style="{'color':wallet.color}"></i>
            {{wallet.name || wallet.id}}
            <span class="item-note" ng-show="wallet.n > 1 && wallet.isComplete()">
              {{wallet.m}}-of-{{wallet.n}}
            </span>
            <span class="badge badge-assertive" ng-show="!wallet.isComplete()" translate>
              Incomplete
            </span>
          </li>
        </ul>
      </div>
    </ion-slide-page>
  </ion-slides>
</div>
