<span class="wallet-activity">

  <div ng-if="x.type ==  'NewCopayer' && x.wallet.n>1">
    Copayer joined 
  </div>

  <div ng-if="x.type == 'NewCopayer' && x.wallet.n==1">
    Wallet created
  </div>

  <div ng-if="x.type == 'NewOutgoingTx'">
      <span translate>Payment Sent </span>
      <div class="wallet-activity-amount">
      {{x.amountStr}}
      </div>
  </div>



  <div ng-if="x.type == 'NewIncomingTx'">
      <span translate>Payment Received</span>
      <div class="wallet-activity-amount">
      {{x.amountStr}}
      </div>
  </div>

  <div ng-if="x.type == 'TxProposalRemoved'">
    <i class="icon ion-ios-close-empty size-21" ng-style="{'color':x.wallet.color}"></i>
    <span translate>Proposal Deleted</span>: 
    <i>{{x.message}}</i>
    <div class="wallet-activity-amount">
      {{x.amountStr}}:
    </div>
  </div>

  <div ng-if="x.type == 'TxProposalRejected'">
    <i class="icon ion-ios-close-empty size-21" ng-style="{'color':x.wallet.color}"></i>
    <span translate>Proposal Rejected</span>:
    <i>{{x.message}}</i>
    <div class="wallet-activity-amount">
      {{x.amountStr}}:
      </div>
  </div>

  <span ng-if="x.type == 'NewTxProposal'">
    <i class="icon ion-arrow-up-c size-21" ng-style="{'color':x.wallet.color}"></i>
    <span translate>New Proposal</span>:
    <i>{{x.message}}</i>
    <div class="wallet-activity-amount">
    {{x.amountStr}} 
    </div>
  </span>

  <span ng-if="x.type == 'TxProposalAcceptedBy'">
    <i class="icon ion-checkmark-round size-21" ng-style="{'color':x.wallet.color}"></i>
    <span translate>Proposal Accepted</span>
    <i>{{x.message}}</i>
    <div class="wallet-activity-amount">
    {{x.amountStr}}
    </div>
  </span>

  <p class="wallet-activity-note">
<!-- {{x.types}} -->
    <i class="icon ion-record wallet-activity-note-child" ng-style="{'color':x.wallet.color}"></i>
    <span ng-if="x.creatorName" class="wallet-activity-note-child">{{ x.creatorName}}@</span>
    <span class="wallet-activity-note-child">{{x.wallet.name}}</span>
    <time class="wallet-activity-note-child">{{ x.createdOn * 1000 | amTimeAgo}}</time>
  </p>
</span>
