
<span ng-show="index.isShared"><span translate>{{index.m}}-of-{{index.n}}</span></span>
<img style="height:1em"  ng-show="index.network != 'livenet'" src="img/icon-testnet.svg">
<img style="height:1em"  ng-show="!index.canSign && !index.isPrivKeyExternal" src="img/icon-view.svg">

<img style="height:1em"  ng-show="index.externalSource == 'trezor'" src="img/icon-trezor.svg">
<span style="height:1em" ng-show="index.account">#{{index.account || 0}} </span>

<img style="height:1em"  ng-show="index.isPrivKeyEncrypted" src="img/icon-lock.svg">

<img style="height:1em"  ng-show="index.preferences.email" src="img/icon-email.svg">
