page-bitpay-card {
  $bitpay-card-primary-color: #0c204e;

  ion-refresher {
    .refresher-pulling ion-icon {
      color: white;
    }

    .refresher-refreshing {
      .spinner-crescent circle,
      .spinner-ios line {
        stroke: white;
      }
    }
  }

  ion-title {
    .bitpay-card-header {
      text-align: left;
    }
  }

  .toolbar-background {
    background: $bitpay-card-primary-color;
  }

  .initial-message {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .balance-card {
    //background: $bitpay-card-primary-color;
    background: linear-gradient(180deg, #0c204e -0%, #1c4386);
  }

  .balance-header {
    position: relative;
    margin-top: 15px;
    margin-left: 5rem;
    height: 17rem;
    color: color($colors, light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .balance-str {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
  }

  .add-funds-button {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    ion-icon {
      vertical-align: text-bottom;
      margin-left: 3px;
    }
  }

  .card-info {
    ion-spinner {
      position: absolute;
      bottom: 0;
      margin: 8px;
      right: 0;
      width: 20px;
      height: 20px;

      * {
        stroke: color($colors, light);
      }
    }
  }
}
