page-bitpay-card {
  .initial-message {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  .balance-card {
    background: $toolbar-background;
  }
  .balance-header {
    position: relative;
    color: color($colors, light);
    height: 14rem;
    text-align: center;
  }
  .balance-str {
    cursor: pointer;
    padding-top: 2rem;
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: 600;
  }
  .card-info {
    .card-type {
      font-weight: 300;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 8px;
      color: color($colors, grey);
    }
    ion-spinner {
      position: absolute;
      bottom: 0;
      margin: 8px;
      right: 0;
      width: 20px;
      height: 20px;
      * {
        stroke: color($colors, grey);
      }
    }
  }
}
