// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Position
// --------------------------------------------------
ion-alert.alert-top{
  align-items: center;
}

.bottom-absolute {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 15px 15px calc(5vw + 1vh) 15px;
  .button {
    margin: 1.2rem auto;
    max-width: 360px;
  }
}

.button-footer {
  margin: 0;
  height: 70px;
}

// Hide border when refresh
.has-refresher > .scroll-content {
  border-top: none !important;
  ion-spinner * {
    stroke: color($colors, light);
  }
}

// Item font size
.item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
//  font-size: 1.4rem;
}
.item-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 12.5px;
  ion-icon {
    vertical-align: text-bottom;
    margin-left: 5px;
  }
}

// This style prevents the names of the tabs from disappear
.tabbar .tab-button .tab-button-text {
  display: block;
}

.icon-wallet {
  background-color: color($colors, primary);
  border-radius: $icon-border-radius;
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 103%;
  padding: 4px;
}

.icon-card {
  border-radius: $icon-border-radius;
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 103%;
}

.big-icon-svg {
  padding: 10px;
  .bg {
    padding: 0 7px;
    border-radius: $icon-border-radius;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 103%;
    &.green {
      background: rgb(1, 209, 162);
    }
  }
}

.logo-services {
  width: 100px;
}

.icon-services {
  background-color: none;
  border-radius: $icon-border-radius;
  padding: 3px;
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 103%;
}

.icon-contact {
  width: 35px;
}

.box-notification {
  cursor: pointer;
  padding: 10px 0;
  border: none;
  margin: 10px;
  text-align: center;
  color: color($colors, light);
  a {
    display: block;
    color: color($colors, light);
  }
  .icon {
    vertical-align: middle;
    margin: 0 5px;
  }
  &.no-margin {
    margin: 0;
  }
  &.notice {
    background-color: color($colors, dark);
  }
  &.warn {
    background-color: color($colors, warning);
  }
  &.error {
    background-color: color($colors, danger);
  }
}

.gravatar {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: $icon-border-radius;
}

// Compatibility Ionic 1

.light,
a.light,
.stable,
a.stable {
  color: color($colors, light);
}

.positive,
a.positive {
  color: color($colors, secondary);
}

.calm,
a.calm {
  color: color($colors, grey);
}

.positive,
a.positive {
  color: color($colors, primary);
}

.energized,
a.energized {
  color: color($colors, primary);
}

.assertive,
a.assertive {
  color: color($colors, danger);
}

.balanced,
a.balanced {
  color: color($colors, success);
}
.royal,
a.royal {
  color: color($colors, dark);
}

.text-gray {
  color: gray;
}

.text-bold {
  font-weight: 700;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}
ion-content.content{
  background-color: $app-bg-color;
}


// ios overrides
.list-ios .item-block:last-child{
  border:0;

  & .item-inner {
    border:0;
  }
}

.wallet-warning {
  font-size: 11px;
  color: color($colors, danger);
}
.card{
  padding-top: 1px;
  width:92%;
  padding-bottom: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
  background-color: #ffffff;

    .item-divider{
      background-color:#ffffff;
    }
  }

  ion-icon {
    &[class*="tab-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 2rem;
        height: 2rem;
    }
    // custom icons
    &[class*="tab-home"] {
        mask-image: url(../assets/img/tab-icons/ico-home.svg);
    }
    &[class*="tab-receive"] {
        mask-image: url(../assets/img/tab-icons/ico-receive.svg);
    }
    &[class*="tab-scan"] {
        mask-image: url(../assets/img/tab-icons/ico-scan.svg);
        width: 3rem;
    }
    &[class*="tab-send"] {
      mask-image: url(../assets/img/tab-icons/ico-send.svg);
  }
    &[class*="tab-settings"] {
      mask-image: url(../assets/img/tab-icons/ico-settings.svg);
  }
}
