// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Position
// --------------------------------------------------

body {
  line-height: 22px;
}

ion-alert.alert-top{
  align-items: center;
}

.bottom-absolute {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 15px 15px calc(5vw + 1vh) 15px;
  .button {
    margin: 1.2rem auto;
    max-width: 360px;
  }
}

.button-footer {
  margin: 0px;
  height: 70px;
  width: 100%;
  font-size: 1.6rem;
}

// Prevent uppercase on buttons
.button {
  text-transform: none;
}

// Hide border when refresh
.has-refresher > .scroll-content {
  border-top: none !important;
  ion-spinner * {
    stroke: color($colors, light);
  }
}

// Item font size
.item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
//  font-size: 1.4rem;
}
.item-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 12.5px;
  ion-icon {
    vertical-align: text-bottom;
    margin-left: 5px;
  }
}

// This style prevents the names of the tabs from disappear
.tabbar .tab-button .tab-button-text {
  display: block;
}

.icon-wallet {
  background-color: color($colors, primary);
  border-radius: $icon-border-radius;
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 103%;
  padding: 4px;
}

.icon-card {
  border-radius: $icon-border-radius;
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-color: #2A3F90;
  background-size: 103%;
}

.big-icon-svg {
  padding: 10px;
  .bg {
    padding: 0 7px;
    border-radius: $icon-border-radius;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 103%;
    &.green {
      background: rgb(1, 209, 162);
    }
  }
}

.logo-services {
  width: 100px;
}

.icon-services {
  background-color: none;
  border-radius: $icon-border-radius;
  width: 32px;
  height: 32px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 103%;
}

.custom-icon {
  color: rgb(169, 169, 169);
}

.icon-contact {
  width: 35px;
}

.box-notification {
  cursor: pointer;
  padding: 10px 0;
  border: none;
  margin: 10px;
  text-align: center;
  color: color($colors, light);
  a {
    display: block;
    color: color($colors, light);
  }
  .icon {
    vertical-align: middle;
    margin: 0 5px;
  }
  &.no-margin {
    margin: 0;
  }
  &.success {
    background-color: color($colors, success);
  }
  &.notice {
    background-color: color($colors, dark);
  }
  &.warn {
    background-color: color($colors, warning);
  }
  &.error {
    background-color: color($colors, danger);
  }
}

.gravatar {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: $icon-border-radius;
}

// Compatibility Ionic 1

.light,
a.light,
.stable,
a.stable {
  color: color($colors, light);
}

.positive,
a.positive {
  color: color($colors, secondary);
}

.calm,
a.calm {
  color: color($colors, grey);
}

.positive,
a.positive {
  color: color($colors, primary);
}

.energized,
a.energized {
  color: color($colors, primary);
}

.assertive,
a.assertive {
  color: color($colors, danger);
}

.balanced,
a.balanced {
  color: color($colors, success);
}
.royal,
a.royal {
  color: color($colors, dark);
}

.text-gray {
  color: color($colors,grey);
}

.text-bold {
  font-weight: 700;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.wallet-warning {
  font-size: 11px;
  color: color($colors, danger);
}

.card{
  padding-top: 1px;
  width:92%;
  padding-bottom: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
  background-color: #ffffff;

  .item-divider{
    background-color: #ffffff;
    margin-bottom: 5px;
  }
}

// Fix Camera
html , body, .back-transparent, ion-app, .nav-decor {
  background: none transparent !important;
}

ion-icon {
  &[class*="tab-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 2rem !important;
    height: 2rem !important;
  }
  // custom icons
  &[class*="tab-home"] {
    mask-image: url(../assets/img/tab-icons/ico-home.svg);
  }
  &[class*="tab-receive"] {
    mask-image: url(../assets/img/tab-icons/ico-receive.svg);
  }
  &[class*="tab-scan"] {
    mask-image: url(../assets/img/tab-icons/ico-scan.svg);
    width: 3rem !important;
  }
  &[class*="tab-send"] {
    mask-image: url(../assets/img/tab-icons/ico-send.svg);
  }
  &[class*="tab-settings"] {
    mask-image: url(../assets/img/tab-icons/ico-settings.svg);
  }
}

.button-standard {
  width: 90%;
  max-width: 300px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 57px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-transparent {
  border: 0px !important;
  background-color: color($colors, secondary);
  color: color($colors, primary);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}

ion-note {
  font-size: 12px;
  color: color($colors, light-grey);
}
