<div class="header">
  <div class="header-content">
    <img class="bitpay-logo" src="assets/img/bitpay-logo-negative.svg" alt="Bitpay">
    <div class="header-center">
      <h3 class="header-title">Statistics</h3>
      <div class="repository-link">
        <a href="https://github.com/bitpay/copay" target="blank">
          <img src="assets/img/github.png" alt="Github">
        </a>
      </div>
    </div>
    <img class="copay-logo" src="assets/img/copay-logo-negative.svg" alt="Copay">
  </div>
</div>
<div class="sub-header">
  <div>
    <form class="form-inline" (ngSubmit)="onSubmitNgModel()">
      <label class="mr-sm-2">From:</label>
      <my-date-picker name="dateFrom" [options]="datePickerOptions" [selector]="selector" [(ngModel)]="dateFrom" required></my-date-picker>
      <label class="mr-sm-2">To:</label>
      <my-date-picker name="dateTo" [options]="datePickerOptions" [selector]="selector" [(ngModel)]="dateTo" required></my-date-picker>
      <button type="submit" class="btn btn-outline-primary dates-search">Search</button>
    </form>
  </div>
  <div>
    <select class="large-2 left" name="list" (change)="getStatsFromCoin($event.target.value)">
      <option value="btc" selected>Bitcoin - BTC</option>
      <option value="bch">Bitcoin Cash - BCH</option>
      <option value="eth">Ethereum - ETH</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="container-fluid">
    <div class="row panels">
      <div class="col card">
        <span class="total-label">Wallets</span>
        <span class="value">{{totals.totalWallets}}</span>
      </div>
      <div class="col card">
        <span class="total-label">Proposal</span>
        <span class="value">{{totals.totalTxps}}</span>
      </div>
      <div class="col card">
        <span class="total-label">Amount ({{coin}})</span>
        <span class="value">{{totals.totalAmount}}</span>
      </div>
      <div class="col card">
        <span class="total-label">Amount (USD)</span>
        <span class="value">{{totals.totalUSDAmount}}</span>
      </div>
    </div>
  </div>
</div>
<div class="panels">
  <div class="card">
    <div class="selector-container">
      <select class="large-2 left" name="list" (change)="walletsInterval($event.target.value)">
        <option value="perDay" selected>Per day</option>
        <option value="perWeek">Per week</option>
        <option value="perMonth">Per month</option>
      </select>
    </div>
    <h3 id="wallets" class="graphs-label">New Wallets</h3>
    <div id="chart-wallets" class="chart panel"></div>
  </div>
</div>
<div class="panels">
  <div class="card">
    <div class="selector-container">
      <select class="large-2 left" name="list" (change)="proposalsInterval($event.target.value)">
        <option value="perDay" selected>Per day</option>
        <option value="perWeek">Per week</option>
        <option value="perMonth">Per month</option>
      </select>
    </div>
    <h3 id="proposals" class="graphs-label">Proposals</h3>
    <div id="chart-txps" class="chart panel"></div>
  </div>
</div>
<div class="panels">
  <div class="card">
    <div class="selector-container">
      <select class="large-2 left" name="list" (change)="amountInterval($event.target.value)">
        <option value="perDay" selected>Per day</option>
        <option value="perWeek">Per week</option>
        <option value="perMonth">Per month</option>
      </select>
    </div>
    <h3 id="amount" class="graphs-label">Amount ({{coin}})</h3>
    <div id="chart-amount" class="chart panel"></div>
  </div>
</div>
<div class="panels">
  <div class="card">
    <div class="selector-container">
      <select class="large-2 left" name="list" (change)="USDAmountInterval($event.target.value)">
        <option value="perDay" selected>Per day</option>
        <option value="perWeek">Per week</option>
        <option value="perMonth">Per month</option>
      </select>
    </div>
    <h3 id="usd-amount" class="graphs-label">Amount (USD)</h3>
    <div id="chart-usd-amount" class="chart panel"></div>
  </div>
</div>