page-exchange-crypto {
  .history-btn {
    height: 42px;
  }
  ion-spinner {
    * {
      stroke: color($colors, primary) !important;
    }
  }
  .bp-list {
    margin-top: 40px;
    @media (max-height: 620px) {
      margin-top: 20px;
    }
    @media (max-height: 580px) {
      margin-top: 10px;
    }
    .row {
      flex-wrap: nowrap;
    }
  }
  .item-card {
    ion-row {
      padding: 6px 16px 6px 16px;
    }
  }
  .wallet {
    display: flex;
    align-items: center;
    coin-icon {
      ion-icon.item-img.icon {
        padding: 5px;
        img {
          min-width: 24px;
        }
      }
    }
    .name-balance {
      max-width: 300px;
      @media (max-width: 480px) {
        max-width: 220px;
      }
      @media (max-width: 380px) {
        max-width: 120px;
      }
      .balance {
        opacity: 0.5;
      }
    }
  }
  .amount {
    text-align: end;
    .amount-container {
      border: 1px solid color($colors, light);
      border-radius: 5px;
      min-width: 10rem;
      height: 4.5rem;
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 1.6rem;
      cursor: pointer;
    }
  }
  .divider {
    height: 2px;
    border-bottom: 1px solid color($colors, light);
    margin: 4rem 1.8rem;
    .arrow {
      text-align: center;
      img {
        margin-top: -20px;
      }
    }
    @media (max-height: 620px) {
      margin: 2.5rem 1.8rem;
    }
    @media (max-height: 580) {
      margin: 2rem 1.8rem;
    }
  }
  .bp-list {
    ion-item {
      cursor: pointer;
    }
    .item-label {
      width: 92%;
      margin: 0px auto;
      color: #9ba3ae;
      line-height: 18px;
    }
  }
  .rate-container {
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 20px;
    .rate {
      color: color($colors, light-grey);
    }
  }
  .partner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    .oneInch-img {
      margin-right: -5px;
    }
    .changelly-img {
      margin-left: 7px;
    }
  }
  .slippage-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 1.5rem;
    ion-icon {
      font-size: 20px;
      margin-left: 1rem;
    }
  }
  .slippage-container {
    display: flex;
    padding: 1rem 1rem 1rem 1.5rem;
    margin-bottom: 2rem;
    .slippage-item {
      border: 1px solid color($colors, light-grey);
      min-width: 6rem;
      margin: 0rem 0.4rem;
      border-radius: 15px;
      padding: 0rem 1rem;
      font-size: 16px;
      height: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.selected {
        background-color: color($colors, primary);
        border: 1px solid color($colors, primary);
        color: white;
      }
    }
  }
  .bottom-buttons {
    margin-top: 3rem;
  }

  ion-icon.item-img.icon {
    margin: 9px 15px 9px 0;
    justify-content: center;
    padding: 7px;
    img {
      width: 35px;
    }
    &.rectangle {
      border-radius: 12px;
      justify-content: center;
    }
    &.background {
      &_default {
        background-color: #e6f8e9;
      }
    }
  }
}
