<ion-content [ngClass]="{'bg-dark': currentTheme === 'dark'}" forceOverflow="false" [fullscreen]="true">
  <div class="pin-header">
    <div class="title">
      <div *ngIf="!disableButtons">
        <span class="message" *ngIf="action === 'checkPin' && !incorrect" translate>Please enter your PIN</span>
        <span class="message" *ngIf="!confirmingPin && !incorrect && action === 'pinSetUp'" translate>Create your passcode</span>
        <span class="message" *ngIf="!confirmingPin && !incorrect && action === 'lockSetUp'" translate>Please enter your passcode</span>
        <span class="message" *ngIf="confirmingPin && !incorrect" translate>Re-type passcode</span>
        <span class="message" *ngIf="incorrect" translate>Incorrect passcode, try again.</span>
      </div>
      <div *ngIf="disableButtons">
        <span class="message" *ngIf="expires" translate>Try again in {{expires}}</span>
      </div>
    </div>
  </div>
  <div class="code-wrapper">
    <pin-dots [pin]="currentPin" animate></pin-dots>
    <pin-pad (keystroke)="newEntry($event)" type="pin"></pin-pad>
  </div>
</ion-content>