<ion-header class="ion-no-border">
  <ion-toolbar transparent>
    <ion-buttons slot='start'>
      <!-- <ion-button (click)="close(true)" color="primary" *ngIf="(action === 'pinSetUp' || action === 'lockSetUp')">
        {{'Cancel' | translate}}
      </ion-button> -->
      <ion-back-button *ngIf="(action === 'pinSetUp' || action === 'lockSetUp')" (click)="close(true)" icon="chevron-back-outline" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content forceOverflow="false" [fullscreen]="true">
  <div class="pin-header">
    <div class="title">
      <div *ngIf="!disableButtons">
        <span class="message" *ngIf="!confirmingPin && !incorrect && action === 'pinSetUp'" translate>Create your passcode</span>
        <span class="message" *ngIf="!confirmingPin && !incorrect && action === 'lockSetUp'" translate>Please enter your passcode</span>
        <span class="message" *ngIf="confirmingPin && !incorrect" translate>Re-type passcode</span>
        <span class="message" *ngIf="incorrect" translate>Incorrect passcode, try again.</span>
      </div>
      <div *ngIf="disableButtons">
        <span class="message" *ngIf="expires" translate>Try again in {{expires}}</span>
      </div>
    </div>
  </div>
  <div class="code-wrapper">
    <pin-dots [pin]="currentPin" animate></pin-dots>
    <pin-pad (keystroke)="newEntry($event)" type="pin"></pin-pad>
  </div>
</ion-content>