page-addressbook-view {
  ion-list {
    margin-top: 1rem;
  }
  ion-item {
    ion-label {
      font-weight: 400;
      font-size: 14px !important;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: rgba(0, 30, 46, 0.6) !important;
      .comment {
        font-weight: 400;
        font-size: 16px !important;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #001E2E;
        margin-bottom: 4px;
      }
    }
  }

  .btn-container {
    margin: 0.5rem 0 !important;
    .btn-send-container {
      border: 1px solid #DAE0E5 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      ion-label {
        font-size: 16px !important;
        line-height: 24px !important;
        color: var(--color-primary) !important;
        &.text-danger {
          color: #BA1B1B !important;
        }
      }
    }
  }
}