<wide-header-page title="{{ name }}">
  <ion-buttons slot="end">
    <ion-button wide-header-bar-button fill="clear" class="option-button">
      <ion-icon name="pencil-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div page-content>
    <ion-list class="settings-list bp-list">
      <ion-item class="ion-margin-top ion-margin-bottom" copy-to-clipboard="{{ address }}">
        <ion-label>
          <div class="comment ellipsis">
            {{ address }}
          </div>
          {{'Address' | translate}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="comment ellipsis">
            {{ coin.toUpperCase() }}
          </div>
          {{'Coin' | translate}}
        </ion-label>
      </ion-item>
      <ion-item class="item-end">
        <ion-label>
          <div class="comment ellipsis">
            {{ network }}
          </div>
          {{'Network' | translate}}
        </ion-label>
      </ion-item>
      <div class="btn-container">
        <ion-item detail="true" class="btn-send-container item-end" (click)="send()">
          <ion-label>
            {{'Send' | translate}} {{coin.toUpperCase()}}
          </ion-label>
        </ion-item>
      </div>
      <div class="btn-container">
        <ion-item class="btn-send-container" (click)="remove()">
          <ion-label class="text-danger">
            {{'Delete contact' | translate}}
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
</wide-header-page>