page-shapeshift-confirm {
  ion-content {
    .fixed-content,
    .scroll-content {
      margin-bottom: 90px;
    }
  }
  .header-label {
    height: 162px;
  }
  .sending-label {
    font-size: 1.6rem; 
    font-weight: 400;
  }
  .amount-label {
    .icon-service {
      border-radius: 50%;
      padding: 1px;
      width: 46px;
      height: 46px;
      box-shadow: none;
      border: 1px solid #d7d7d7;
    }
    img {
      float: right;
    }
    .amount {
      font-size: 3.3rem;
    }
    .alternative {
      margin-top: 0.5rem;
      color: color($colors, grey);
    }
  }
  .info {
    .wallet-selector {
      ion-label {
        display: flex;
        align-items: center;
      }
      .wallet-balance {
        margin-left: 1.5rem;
      }
    }
  }
  .text-confirm {
    margin-left: 2rem;
  }
  .item-description {
    .label {
      font-size: 12.5px;
    }
  }
}
