page-shapeshift-confirm {
  ion-content {
    .fixed-content, .scroll-content {
      margin-bottom: 90px;
    }
  }
  .sending-label {
    display: flex;
    font-size: 18px;
    align-items: center;
    margin-bottom: 1.8rem;

    img {
      margin-right: 1rem;
      height: 35px;
      width: 35px;
    }

    .big-icon-svg {
      margin-right: 0.6rem;
    }

  }
  .amount-label{
    line-height: 30px;
    .amount{
      font-size: 38px;
      margin-bottom: .5rem;
    }
    .alternative {
      font-size: 12px;
      color: color($colors, grey);
    }
  }
  .info {
    .wallet-selector {
      ion-label {
        display: flex;
        align-items: center;
      }
      .wallet-balance {
        margin-left: 1.5rem;
      }
    }
  }
  .text-confirm {
    margin-left: 2rem;
  }
  .item-description {
    .label {
      font-size: 12.5px;
    }
  }
}
