wide-header-page,
card-catalog-page {
  ion-buttons[right] {
    .button {
      margin-right: 13px;
    }
  }
  expandable-header-primary {
    line-height: 1.2;
  }

  .wide-header {
    .toolbar-background {
      background: white;
    }

    ion-title .toolbar-title {
      font-weight: 700 !important;
    }

    &__title {
      color: black;
      font-size: 25px;
      font-weight: 700;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
    }

    ion-navbar {
      .ios & {
        padding-top: 3rem; // Fix iOS 10.3
        padding-top: calc(4px + env(safe-area-inset-top));

        ion-title {
          padding-top: 3rem; // Fix iOS 10.3
          padding-top: env(safe-area-inset-top);
        }
      }
    }

    &.cordova {
      ion-navbar {
        .ios & {
          padding-bottom: 7px;
        }
      }
    }
  }
}

card-catalog-page,
page-add,
page-add-wallet,
page-settings,
page-confirm,
page-key-settings,
page-coinbase,
page-coinbase-settings,
purchased-cards-page {
  @include toolbar-button-color();

  ion-title .toolbar-title {
    color: black;
    font-weight: 400;
  }

  ion-navbar {
    .ios & {
      padding-top: 3rem; // Fix iOS 10.3
      padding-top: calc(4px + env(safe-area-inset-top));

      ion-title {
        padding-top: 3rem; // Fix iOS 10.3
        padding-top: env(safe-area-inset-top);
      }
    }
  }

  &.cordova {
    ion-navbar {
      .ios & {
        padding-bottom: 7px;
      }
    }
  }
}

@include toolbar-button-color();

ion-title .toolbar-title {
  color: black;
}
