page-addressbook-add {
  .scanner-icon {
    z-index: 99;
    font-size: 28px;
    color: var(--ion-color-primary);
  }
  .check {
    font-size: 22px;
    padding-top: 1rem;
    &.success {
      color: var(--ion-color-success);
    }
    &.fail {
      color: var(--ion-color-danger);
    }
  }
  
  label-tip {
    margin-top: 1.8rem;
  }
  
  .add-address-book-container {
    background: #FAFAFB;
    padding: 24px;
    .slide-title {
      h3 {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #001E2E;
        margin-bottom: 2rem;
      }
    }
    form {
      ion-item {
        margin: 2rem 0;
        border: 2px solid rgba(0, 30, 46, 0.38);
        --inner-padding-start: 1rem;
        --inner-padding-end: 1rem;
        --inner-padding-end: 0;
        --padding-start: 0;
        --padding-end: 0;
        --color: #001E2E;
        --background: #FAFAFB;
        border-radius: 4px;
        ion-input {
          font-weight: 400;
          font-size: 16px !important;
          line-height: 24px;
          letter-spacing: 0.5px;
        }
        ion-icon {
          padding: 0;
        }
      }
      .form-field {
        margin-bottom: 3rem !important;
      }
      .mat-form-field-subscript-wrapper {
        margin-top: 2rem !important;
        padding: 0 !important;
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      .button-standard {
        --padding-start: 0;
        --padding-end: 0;
        width: 28%;
        margin: 1rem 0;
        color: var(--color-primary);
        --background: transparent;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 20px;
        letter-spacing: 0.1px;
        &[disabled] {
          --background: transparent !important;
          color: rgba(28, 55, 69, 0.38) !important;
        }
      }
    }
  }
}
