page-confirm {
  .item-md {
    padding: 0rem;
  }
  ion-label {
    padding: 1rem 1rem 1rem 3rem;
  }
  span.label {
    color: color($global-colors, labels);
    margin-bottom: 0.5rem;
  }
  .sending-label {
    display: flex;
    align-items: center;
    .sending-img {
      margin-right: 2rem;
    }
    span {
      font-size: 1.8rem;
    }
  }
  .amount-label {
    padding-top: 2rem;
    .amount {
      font-size: 3.5rem;
      .unit {
        font-weight: 100;
      }
    }
    .alternative {
      margin-top: 1rem;
      color: color($global-colors, light-grey);
    }
  }

  .no-wallet-message {
    ion-item {
      text-align: center;
      text-transform: uppercase;
    }
  } 

  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .container-to, .container-from {
    .wallet, .payment-proposal-to {
      @include row-flex;
      .icon-wallet {
        margin-right: 1rem;
        &.disabled {
          background-color: color($global-colors, light-grey);
        }
      }
      .icon-bitcoin {
        margin-right: 1rem;
      }
    }
  }

  @mixin wallets-list {
    height: 3.5rem;
    width: 3.5rem;
    content: " ";
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  }

  .wallet-livenet::before {
    @include wallets-list;
    background: color($colors, primary) url('../assets/img/icon-wallet.svg') no-repeat 0px 0px;
  }

  .wallet-testnet::before {
    @include wallets-list;
    background: color($colors, primary) url('../assets/img/icon-wallet-testnet.svg') no-repeat 0px 0px;
  }

  .action-sheet-container {
    .action-sheet-button {
      display: flex;
      justify-content: baseline;
      align-items: center;
      padding: 2.5rem;
      .button-inner {
        padding-left: 5rem;
      }
    }
  }
}
