page-confirm,
confirm-card-purchase {
  .wallet-details-header {
    button {
      font-weight: 100;
      font-size: 16px;
    }
  }
  ion-content {
    .fixed-content,
    .scroll-content {
      margin-bottom: 90px;
    }
  }
  .no-margin-bottom {
    .fixed-content,
    .scroll-content {
      margin-bottom: 0px;
    }
  }
  .header-container {
    padding: 20px 0px 20px 0px;
    .sending-label {
      display: flex;
      align-items: center;
      span {
        font-size: 1.8rem;
      }
    }
  }
  .amount-label {
    padding-top: 1rem;
    .amount {
      display: flex;
      font-size: 3.5rem;
      justify-content: space-between;
      font-size: 3.5rem;
      img.sending-img {
        width: auto;
        height: 40px;
      }
      .amount-coin {
        font-size: 1.5rem;
        margin-top: 0.35rem;
        margin-left: 0.8rem;
      }
      div {
        display: flex;
      }
    }
    .alternative {
      margin-top: 0.5rem;
      color: color($colors, light-grey);
    }
  }
  .item-fee {
    line-height: 20px;
    .fee-title {
      margin-bottom: 5px;
      color: color($colors, grey);
    }
    .fee-loading {
      font-weight: 300;
      color: color($colors, light-grey);
    }
    .fee-amount {
      font-weight: 400;
    }
    .fee-details {
      margin-top: 3px;
      font-size: 12.5px;
      color: color($colors, light-grey);
    }
    &.warn {
      color: color($colors, error);
      .fee-details {
        color: color($colors, error);
      }
    }
    ion-note {
      font-weight: 100;
    }
    &.btn-opacity {
      opacity: 1;
    }
  }
  .item-gravatar {
    img {
      margin-right: 1rem;
    }
  }
  .padded-input {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .paypro {
    width: 100%;
    cursor: pointer;
  }
  .no-wallet-message {
    ion-item {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .container-to,
  .container-from {
    .wallet,
    .payment-proposal-to {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .multiple-length {
        display: flex;
      }
      .coin-img {
        &-btc,
        &-bch {
          width: 12px;
        }
        &-eth {
          width: 20px;
        }
      }
      .text-address {
        display: flex;
        width: 25px;
        justify-content: space-between;
      }
      .address-with-divider {
        border-left: 1px solid rgb(227, 227, 227);
        margin-left: 1rem;
        padding-left: 1rem;
      }
    }
    &.not-clickable {
      pointer-events: none;
    }
  }
  .last-item {
    margin-left: auto !important;
  }
}
