page-confirm {
  .header-container {
    padding: 20px 0px 20px 0px;
    .sending-label {
      display: flex;
      align-items: center;
      img.sending-img {
        margin-right: 2rem;
        width: auto;
        display: inherit;
      }
      span {
        font-size: 1.8rem;
      }
    }
    .amount-label {
      padding-top: 1rem;
      .amount {
        font-size: 3.5rem;
        .unit {
          font-weight: 100;
        }
      }
      .alternative {
        margin-top: 0.5rem;
        color: color($colors, light-grey);
      }
    }
  }
  .item-fee {
    line-height: 20px;
    .fee-title {
      margin-bottom: 5px;
      color: color($colors, grey);
    }
    .fee-loading {
      font-weight: 300;
      color: color($colors, light-grey);
    }
    .fee-amount {
      font-weight: 400;
    }
    .fee-details {
      font-size: 12.5px;
      color: color($colors, light-grey);
    }
    .warn {
      color: color($colors, danger);
    }
  }

  .item-gravatar {
    img {
      margin-right: 1rem;
    }
  }

  .paypro {
    width: 100%;
    cursor: pointer;
  }

  .item-memo {
    margin-top: 10px;
  }

  .no-wallet-message {
    ion-item {
      text-align: center;
      text-transform: uppercase;
    }
  }

  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .container-to, .container-from {
    .wallet, .payment-proposal-to {
      @include row-flex;
      .icon-wallet {
        margin-right: 1rem;
        &.disabled {
          background-color: color($colors, grey);
        }
      }
      .icon-bitcoin {
        margin: 9px 2rem 9px 0;
        width: 35px;
        height: 35px;
        padding: 5px 10px;
        border: 1px solid color($colors, grey);
        border-radius: $icon-border-radius;
      }
    }
  }
}
