<ion-header class="wallet-details-header">
  <ion-navbar>
    <ion-title>{{ 'Confirm' | translate }}</ion-title>
    <ion-buttons right *ngIf="isWithinWalletTabs()">
      <button (click)="close()" ion-button>
        {{'Cancel' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea [ngClass]="{'no-margin-bottom': memoFocused}" no-bounce>
  <ion-list *ngIf="tx">
    <ion-item>
      <div class="header-container">
        <div class="sending-label">
          <span translate *ngIf="!tx.sendMax">Sending</span>
          <span translate *ngIf="tx.sendMax">Sending maximum amount</span>
        </div>
        <div class="amount-label">
          <div class="amount">
            <div>
              {{amount}}
              <span class="amount-coin">{{tx.coin | uppercase}}</span>
            </div>
            <img class="sending-img" src="assets/img/icon-tx-sent-outline.svg">
          </div>
          <div class="alternative">{{tx.amount | satToFiat: tx.coin}}</div>
        </div>
      </div>
    </ion-item>
    <button ion-item class="item-fee" [attr.detail-none]="usingMerchantFee ? '' : null" (click)="chooseFeeLevel()" [ngClass]="{'warn': wallet && tx.txp[wallet.id] && tx.txp[wallet.id].feeTooHigh, 'btn-opacity': usingMerchantFee}" [disabled]="usingMerchantFee">
      <div class="fee-title">
        <span translate>Bitcoin miner fee:</span>
        <br>
        <b>{{tx.feeLevelName}}</b>
      </div>
      <div class="fee-loading" *ngIf="!wallet || !tx.txp[wallet.id]">
        <div>...</div>
        <div>...</div>
      </div>
      <div *ngIf="wallet && tx.txp[wallet.id]">
        <span class="fee-amount">{{tx.txp[wallet.id].fee | satToUnit: tx.coin}}</span>
        <div class="fee-details">
          {{tx.txp[wallet.id].fee | satToFiat: tx.coin}}
          <span *ngIf="tx.txp[wallet.id].feeRatePerStr">
            &middot;
            <span>
              <ion-icon *ngIf="tx.txp[wallet.id].feeTooHigh" name="warning"></ion-icon>
              {{tx.txp[wallet.id].feeRatePerStr}}
              <span translate> of total amount</span>
            </span>
          </span>
        </div>
      </div>
    </button>

    <ion-item *ngIf="tx.paypro">
      <span translate>Payment Expires:</span>
      <ion-note *ngIf="!paymentExpired" item-end>{{remainingTimeStr}}</ion-note>
      <ion-note *ngIf="paymentExpired" [ngStyle]="{'color': 'red'}" item-end>{{'Expired' | translate}}</ion-note>
    </ion-item>

    <ion-item class="container-to">
      <span translate>To</span>

      <div class="payment-proposal-to address-coppied" *ngIf="!tx.recipientType">
        <div class="text-address ellipsis">
          <img src="assets/img/icon-bitcoin-small.svg" alt="BTC" width="12" />
          <span class="address-divider"></span>
        </div>
        <div class="ellipsis" *ngIf="!tx.paypro" copy-to-clipboard="{{ tx.origToAddress }}">
          <!--TODO: <contact *ngIf="tx.origToAddress && !tx.name" address="{{tx.origToAddress}}"></contact>-->
          <span *ngIf="!tx.name">{{tx.origToAddress}}</span>
          <span *ngIf="tx.name">{{tx.name}}</span>
        </div>

        <div class="paypro" *ngIf="tx.paypro" (click)="openPPModal(tx.paypro)">

          <ion-icon *ngIf="tx.paypro.verified && tx.paypro.caTrusted" name="lock" color="success"></ion-icon>
          <ion-icon *ngIf="!tx.paypro.verified && tx.paypro.caTrusted" name="unlock" color="warning"></ion-icon>
          <ion-icon *ngIf="!tx.paypro.caTrusted" name="unlock" color="danger"></ion-icon>

          <span [hidden]="tx.name">{{tx.paypro.domain || tx.paypro.toAddress}}</span>
          <span [hidden]="!tx.name">{{tx.name}}</span>
        </div>
      </div>

      <div class="wallet" *ngIf="tx.recipientType == 'wallet'">
        <ion-icon item-start>
          <img *ngIf="tx.network == 'testnet'" [ngStyle]="{'background-color': tx.color}" src="assets/img/icon-wallet-testnet.svg" class="icon-wallet" />
          <img *ngIf="tx.network != 'testnet'" [ngStyle]="{'background-color': tx.color}" src="assets/img/icon-wallet.svg" class="icon-wallet" />
        </ion-icon>
        <div class="ellipsis" copy-to-clipboard="{{ tx.origToAddress }}">
          <!--TODO: <contact ng-if="tx.origToAddress && !tx.name" address="{{tx.origToAddress}}"></contact>-->
          <span *ngIf="!tx.name">{{tx.origToAddress}}</span>
          <span *ngIf="tx.name">{{tx.name}}</span>
        </div>
      </div>

      <div class="wallet" *ngIf="tx.recipientType == 'contact'" (longPress)="toggleAddress()">
        <ion-icon class="item-gravatar" item-left>
          <gravatar [name]="tx.name" [height]="35" [width]="35" [email]="tx.email"></gravatar>
        </ion-icon>
        <div class="ellipsis">
          <span *ngIf="tx.name && !showAddress">{{tx.name}}</span>
          <span *ngIf="tx.name && showAddress" copy-to-clipboard="{{ tx.toAddress }}">{{tx.toAddress}}</span>
        </div>
      </div>

      <div class="wallet" (click)="showMultiplesOutputs = !showMultiplesOutputs">
        <div class="address-coppied" *ngIf="fromMultiSend" [ngClass]="{'address-width': fromMultiSend}">
          <div class="text-address ellipsis">
            <img src="assets/img/icon-bitcoin-small.svg" width="12">
            <span class="address-divider"></span>
          </div>
          <div class="ellipsis">
            <span>
              <span translate>Multiple recipients: </span>
              <span>{{recipients?.length}}</span>
            </span>
          </div>
        </div>
        <div class="last-item" *ngIf="fromMultiSend" item-end>
          <button ion-button clear color="grey" icon-only>
            <ion-icon *ngIf="showMultiplesOutputs" name="ios-arrow-up-outline"></ion-icon>
            <ion-icon *ngIf="!showMultiplesOutputs" name="ios-arrow-down-outline"></ion-icon>
          </button>
        </div>
      </div>
      <ion-list detail-none *ngIf="tx && fromMultiSend && showMultiplesOutputs">
        <ion-item class="proposal-container" *ngFor="let recipient of recipients" copy-to-clipboard="{{recipient.toAddress}}">
          <div item-left>
            <h2>
              <span translate>To</span>:
            </h2>
            <h3>
              <span translate>Amount</span>:
            </h3>
          </div>
          <ion-note item-right text-end col-11>
            <h2 class="output-info ellipsis">{{recipient.addressToShow || recipient.toAddress || recipient.address}}</h2>
            <h3 class="output-info ellipsis">{{recipient.amountToShow}} {{coin | uppercase}}
              <span *ngIf="recipient.altAmountStr">({{recipient.altAmountStr}})</span>
            </h3>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-item>
    <button class="container-from" ion-item detail-none (click)="showWallets()" [ngClass]="{'not-clickable': isWithinWalletTabs()}">
      <span translate>From</span>
      <div class="wallet" *ngIf="wallet">
        <ion-icon item-start>
          <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg" class="icon-wallet" />
          <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg" class="icon-wallet" />
        </ion-icon>
        <div>{{wallet.name}}</div>
        <div class="last-item" item-end *ngIf="!isWithinWalletTabs()">
          <button ion-button clear color="grey" icon-only>
            <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
            <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
          </button>
        </div>
      </div>
      <div class="wallet" *ngIf="!wallet">
        <ion-icon item-start>
          <img class="icon-wallet disabled" src="assets/img/icon-wallet.svg" />
        </ion-icon>
        <div translate>Select a wallet</div>
        <div class="last-item" item-end>
          <button ion-button clear color="grey" icon-only>
            <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
            <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
          </button>
        </div>
      </div>
    </button>

    <editable-item [scrollArea]="scrollArea" (focus)="hideSlideButton = $event" (valChange)="tx.description = $event" [value]="tx.description" [itemPlaceholder]="'Enter a transaction memo' | translate">
      <span item-label translate>Memo</span>
    </editable-item>

  </ion-list>


</ion-content>

<ion-footer>
  <page-slide-to-accept #slideButton *ngIf="isCordova" [ngClass]="{'slide-confirm-fast slide-confirm-down': hideSlideButton, 'slide-confirm-slow': !hideSlideButton}" [disabled]="!wallet || !tx?.txp[wallet.id]" [buttonText]="buttonText" (slideDone)="approve(tx, wallet)"></page-slide-to-accept>
  <ion-toolbar *ngIf="!isCordova">
    <button ion-button full class="button-footer" (click)="approve(tx, wallet)" [disabled]="!wallet || !tx.txp[wallet.id]">{{buttonText}}</button>
  </ion-toolbar>
</ion-footer>