page-confirm,
confirm-card-purchase-page,
page-txp-details,
page-tx-details {
  .add-padding-bottom {
    height: 90vh;
  }
  .amount-label {
    padding-top: 1rem;
    .amount {
      display: flex;
      font-size: 3.5rem;
      justify-content: space-between;
      font-size: 3.5rem;
      img.sending-img {
        width: auto;
        height: 40px;
      }
      .amount-coin {
        font-size: 1.5rem;
        margin-top: 0.35rem;
        margin-left: 0.8rem;
      }
      div {
        display: flex;
      }
    }
    .alternative {
      margin-top: 0.5rem;
      color: color($colors, light-grey);
    }
  }
  .item-fee {
    .fee-loading {
      font-weight: 300;
      color: color($colors, light-grey);
    }
    &.warn {
      color: color($colors, error);
      .fee-details {
        color: color($colors, error);
      }
    }
    &.btn-opacity {
      background-color: #fbfbfb;
    }
  }
  .item-gravatar {
    img {
      margin-right: 1rem;
    }
  }
  .padded-input {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .paypro {
    width: 100%;
    cursor: pointer;
  }
  .no-wallet-message {
    ion-item {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .payment-proposal-to {
    padding: 10px;
    height: 39px;
    max-width: 150px;
    border-radius: 19.5px;
    background-color: #f6f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    .multiple-length {
      display: flex;
    }
    .coin-img {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
    .text-address {
      display: flex;
      width: 25px;
      justify-content: space-between;
    }
  }
  &.not-clickable {
    pointer-events: none;
  }
  .last-item {
    margin-left: auto !important;
  }

  .bp-list {
    .sub-title {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }
    .item {
      &.item-ios,
      &.item-md {
        padding-left: 19px;
        .item-inner {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }
  .background-content {
    display: flex;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .note-container {
    max-width: 100px;
  }

  .wallet,
  .multi-recip-title {
    span {
      height: 19px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      text-align: right;
    }
    ion-icon.item-img.icon {
      &.icon-md,
      &.icon-ios {
        margin: 9px 0px 9px 0;
        justify-content: center;
        padding: 7px;
        img {
          width: 20px;
        }
        &.rectangle {
          border-radius: 7px;
          justify-content: center;
        }
        .coin-img {
          width: 18px;
          height: 18px;
          margin: 0px;
        }
        &.background {
          &_btc {
            background-color: #f7931a;
          }
          &_bch {
            background-color: #2fcf6e;
          }
          &_eth {
            background-color: #6b71d6;
          }
          &_xrp {
            background-color: #000000;
          }
        }
      }
    }
  }
  .multi-recip-title {
    display: flex;
    align-items: center;
  }
  .line-divider {
    margin: 0px 17px;
  }
  .background-button-content {
    height: 47px;
    background-color: #edf0fe;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 21px;
    margin: 25px auto;
  }
}
