page-send-feedback {
  .send-feedback-star {
    height: 2rem;
    margin-left: 5px;
  }
  .rating-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 36px;
    }
  }
  .feedback-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    max-width: 200px;
    line-height: 32px;
  }
  .feedback-msg {
    font-size: 16px;
    color: rgb(16, 16, 16);
    font-weight: 300;
    margin-top: 12px;
  }
  .msg-to-user {
    background-color: var(--color-inner-item-light-theme);
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .user-feedback-card {
    background-color: var(--color-inner-item-light-theme);
    margin: 12px;
    margin-top: 20px;
    border-radius: 3px;
    padding: 22px;
    padding-bottom: 18px;
    cursor: pointer;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.06);
  }

  ion-list {
    margin-top: 2rem;
    ion-item {
      ion-label {
        color: var(--color-primary) !important;
      }
    }
  }
  
  a {
    text-decoration: none;
  }

  .feedback-form {
    margin: -12px 12px 12px 12px;
    ion-item {
      .item-inner {
        border-bottom: none !important;
        box-shadow: none !important;
      }
    }
    ion-textarea {
      textarea {
        font-size: 16px;
        margin: 0px;
      }
    }
  }
  
}
