page-wallet-activity {
  .input-wrapper {
    overflow: initial;
  }
  .wallet-color-default {
    background-color: color($colors, primary);
  }
  ion-note {
    .amount {
      color: color($colors, dark);
    }
  }
  .wallet-icon-container {
    width: 37px;
  }
  .item-subtitle {
    .date {
      color: color($colors, grey);
    }
  }
  .icon-color {
    width: 2rem;
    height: 2rem;
    border-radius: $txp-icon-border-radius;
    margin: 8px auto;
  }
}
