page-wallet-activity {
  .wallet-color-default {
    background-color: color($colors, primary);
  }
  ion-note {
    text-align: end;
    .amount {
      color: color($colors, dark);
    }
    .date {
      font-size: 12.5px;
    }
  }

  .wallet-icon-container {
    width: 37px;
  }

  .icon-color {
    width: 2rem;
    height: 2rem;
    border-radius: $txp-icon-border-radius;
    margin: 8px auto;
  }
}
