<ion-content>
  <swiper #swiper [config]="config" (slideChange)="slideChanged()" class="onboarding-slides">
    <ng-template swiperSlide>
      <ion-content>
        <div class="slide-info">
          <div class="img-container">
            <img src="assets/img/onboarding/feature-education-{{selectedTheme}}-3.svg" />
          </div>
          <div class="info">
            <h3 class="title" translate>Control your money without an account</h3>
            <div class="text" translate>AbcPay allows you to privately store, manage, and use your crypto funds without having to trust a centralized bank or exchange</div>
          </div>
        </div>
      </ion-content>
    </ng-template>
    <ng-template swiperSlide>
        <ion-content class="final-slide">
          <div class="slide-info">
            <div class="img-container">
              <img src="assets/img/onboarding/feature-education-{{selectedTheme}}-2.svg" />
            </div>
            <div class="info">
              <h3 class="title" translate>Leverage multi-factor security</h3>
              <div class="text" translate>
                Use multi-factor wallets to split payment authorization across up to 6 devices or trusted copayers for enhanced security.
              </div>
            </div>
          </div>
        </ion-content>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-no-border custom-footer">
  <ion-toolbar class="button-group" [ngClass]="{'show-button': !slideEnd && !isCordova}" *ngIf="!slideEnd && !isCordova">
    <ion-button class="button-standard button-next" (click)="swiper.swiperRef.slideNext(400)">
      {{'Next' | translate}} <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar class="button-group" [ngClass]="{'show-button': slideEnd}" *ngIf="slideEnd">
    <ion-button  class="button-standard ion-no-margin-bottom" (click)="goToNextPage('SelectCurrencyPage')">
      {{'Create a new account' | translate}}
    </ion-button>
    <ion-button fill="clear" class="button-standard" (click)="goToNextPage('ImportWalletPage')">
      {{'Import from backup' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>