page-shapeshift {
  @include toolbar-button-color(white);
  ion-title .toolbar-title {
    color: white;
    img {
      padding-top: 5px;
    }
  }
  .wide-header__title.toolbar {
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .wide-header__title {
    color: white;
    padding-left: 0;
  }
  .center-header {
    margin-top: 10%;
    padding: 0 20px;
    text-align: center;
    p {
      font-weight: 300;
      margin-bottom: 20px;
    }
    .bottom-position {
      margin-bottom: 20px;
    }
  }
  .shift-button {
    font-size: 16px;
    background: none;
    color: white;
  }
  .shift-problems {
    padding: 5px;
    text-align: center;
    white-space: normal;
    font-size: 11px;
  }
  .status,
  .date {
    font-size: 12.5px;
  }
  .form-container {
    text-align: left;
    width: 100%;
  }
  ion-spinner {
    width: 16px;
    height: 16px;
    * {
      stroke: #0d172c !important;
    }
  }

  .shift-history {
    .shift-history-header {
      height: 5rem;
      border-bottom: 0;

      &.item {
        min-height: 26px;
        background: $feather-dark;

        ion-label {
          margin: 0;
          font-size: 18px;
          font-weight: 600;
          color: #444444;
        }

        .item-inner {
          padding: 0 !important;
          border: none;
        }
      }
    }

    .item-wrapper {
      &:last-child {
        .item-inner {
          border-bottom: 0;
        }
      }
    }

    .item {
      font-size: 16px;
      padding-left: 19px;

      .item-icon {
        margin-right: 15px;
      }

      .item-inner {
        background-image: none;
        padding: 11px 10px 11px 0;
        margin-left: 3px;
        border-bottom: 1px solid color($colors, light);
      }
    }
  }
}
