page-shapeshift {
  ion-title .toolbar-title {
    color: white;
  }
  .wide-header__title.toolbar {
    padding-bottom: 10px;
  }
  .wide-header__title {
    color: white;
    padding-left: 0;
  }
  .center-header {
    margin-top: 10%;
    padding: 0 20px;
    text-align: center;
    p {
      font-weight: 300;
      margin-bottom: 20px;
    }
    .bottom-position {
      margin-bottom: 20px;
    }
  }
  .shift-button {
    font-size: 16px;
    background: none;
    color: white;
    ion-icon {
      vertical-align: text-bottom;
      margin-left: 3px;
    }
  }
  .shift-problems {
    padding: 10px;
    text-align: center;
    white-space: normal;
    font-size: 12.5px;
  }
  .status,
  .date {
    font-size: 12.5px;
  }
  .form-container {
    text-align: left;
    width: 100%;
  }
  ion-spinner {
    * {
      stroke: #0d172c !important;
    }
  }
}
