page-shapeshift {
  .container {
    height: 100%;
  }
  .center-header {
    h4 {
      color: color($colors, light);
    }
    p {
      color: color($colors, light);
      font-weight: 300;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../assets/img/shapeshift/shapeshift_background.jpg') center center no-repeat #28394d;
  }
  .main-header {
    padding: 15px 0;
    background: url('../assets/img/shapeshift/shapeshift_background.jpg') center center no-repeat #28394d;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .shift-problems {
    padding: 10px;
    text-align: center;
    white-space: normal;
    font-size: 12.5px;
  }
  .status, .date {
    font-size: 12.5px;
  }
}
