::ng-deep pin-pad {
  padding: 5px 5px 4rem 5px;
  width: 100%;
  --short-screen-pin: 600px;
  .amount-delete {
    margin-right: 10px;
  }

  .buttons-container {
    text-align: center;
    width: 100%;
    font-size: 25px;
  }

  ion-row {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    @media (max-height: var(--short-screen-pin)) {
      font-size: 24px;
    }

    ion-col {
      background: var(--bg-color-inner-item-light-theme);
      color: var(--color-light-on-surface-theme);
      height: 6.5vh;
      min-height: 46px;
      margin: 3.5px;
      border-radius: 5px;
      @media (max-height: var(--short-screen-pin)) {
        height: 7vh;
        min-height: 38px;
      }
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .letters {
        color: var(--color-light-on-surface-theme);
        font-style: normal;
        font-weight: bold;
        line-height: 12px;
        text-align: center;
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 4px;
        height: 12px;
      }

      &.disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  .no-background  {
    background: none !important;
  }

  .prevent-dot-pin {
    pointer-events: none;
  }
}
