page-wallet-settings {
  .assertive {
    color: var(--color-danger);
  }
  
  .item-text {
    font-size: 12.5px;
  }

  label-tip {
    background: linear-gradient(0deg, rgba(0, 93, 141, 0.05), rgba(0, 93, 141, 0.05)), #FAFAFB !important;
    margin: 0 !important;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 100%;
    div[label-tip-body] {
      font-size: 12px !important;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: rgba(0, 30, 46, 0.6);
    }
  }
  
  .item-without-title {
    margin-top: 0;
  }
  
}