/*
 * PaymentCS
 */

.my-slider  {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 0;
  margin: auto;
}

.center-slider {
  margin: auto;
}

/* Start of round slider modifications. */
/*
 * Move start and end bars below the handle.
 */
.rs-control .rs-bar {
  z-index: 4;
}
/* End of round slider modifications. */

