page-wallet-transaction-history {
	button {
    &.item {
      color: color($colors, primary) !important;
    }
  }
  .comment {
    padding: 20px 20px 20px;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 300;
    color: color($colors, dark);
  }
}