<ion-header>
  <ion-navbar [navbar-bg]="wallet?.color">
    <ion-title>{{'Transaction History' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="settings-list">
    <button ion-item (click)="downloadCSV()" [disabled]="!csvReady">
      <ion-label *ngIf="csvReady">{{'Export to file' | translate}}</ion-label>
      <ion-label *ngIf="!csvReady && !err">
        {{'preparing...' | translate}}
      </ion-label>
      <ion-label *ngIf="!csvReady && err">
        {{err}}
      </ion-label>
    </button>
    <button ion-item class="with-label" (click)="clearTransactionHistory()">
      <ion-label>{{'Clear cache' | translate}}</ion-label>
    </button>
    <label-tip class="info" type="info" header="no-header">
      <div label-tip-body translate>
        The transaction history and every new incoming transaction are cached in the app. This feature clean this up and synchronizes again from the server
      </div>
    </label-tip>
  </ion-list>
</ion-content>