<ion-header>
  <ion-navbar>
    <ion-title>{{'Transaction History' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <page-wallet-item [wallet]="wallet"></page-wallet-item>
  
  <ion-item-divider *ngIf="!isCordova" color="light"></ion-item-divider>

  <button ion-item *ngIf="csvReady && !isCordova" (click)="downloadCSV()">
    <span translate>Export to file</span>
  </button>

  <ion-item *ngIf="!csvReady && !isCordova">
    <span translate>Export to file</span>
    <ion-note *ngIf="!err" item-end>
      {{'preparing...' | translate}}
    </ion-note>
    <ion-note *ngIf="err" item-end>
      {{err | translate}}
    </ion-note>
  </ion-item>
  
  <button ion-item (click)="clearTransactionHistory()">
    <span translate>Clear cache</span>
  </button>
  
  <div translate>
    The transaction history and every new incoming transaction are cached in the app. This feature clean this up and synchronizes
    again from the server
  </div>
</ion-content>