<ion-view id="view-add" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Add wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ui-sref="tabs.add.create-personal">
       <i class="icon big-icon-svg">
          <img src="img/icon-wallet.svg" class="bg"/>
        </i>
        <span class="add-type" translate>New personal wallet</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ui-sref="tabs.add.create-shared">
        <i class="icon big-icon-svg">
          <img src="img/icon-wallet.svg" class="bg"/>
        </i>
        <span class="add-type" translate>Create shared wallet</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ui-sref="tabs.add.join">
        <i class="icon big-icon-svg">
          <img src="img/item-ico-addwallet.svg" class="bg join"/>
        </i>
        <span class="add-type" translate>Join shared wallet</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ui-sref="tabs.add.import">
        <i class="icon big-icon-svg">
          <img src="img/item-ico-import.svg" class="bg"/>
        </i>
        <span class="add-type" translate>Import wallet</span>
        <i class="icon bp-arrow-right"></i>
      </a>
    </ion-list>

  </ion-content>
</ion-view>
