<ion-view id="address-book-view" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span>{{addressbookEntry.name}}</span>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="gravatar-content">
      <i class="icon big-icon-svg" ng-if="isChromeApp">
        <img src="img/contact-placeholder.svg" class="bg"/>
      </i>
      <gravatar name="{{addressbookEntry.name}}" width="80" email="{{addressbookEntry.email}}" ng-if="!isChromeApp"></gravatar>
    </div>
    <div class="list">
      <div class="item item-text-wrap">
        <span class="address-book-field-label" translate>Name</span>
        <span>{{addressbookEntry.name}}</span>
      </div>
      <div class="item item-text-wrap" ng-show="addressbookEntry.email">
        <span class="address-book-field-label" translate>Email</span>
        <span>{{addressbookEntry.email}}</span>
      </div>
      <div class="item item-text-wrap" copy-to-clipboard="addressbookEntry.address">
        <span class="address-book-field-label" translate>Address</span>
        <span>{{addressbookEntry.address}}</span>
      </div>
      <div class="item item-divider"></div>
      <div class="item item-icon-right has-click" ng-click="sendTo()">
        <span class="positive" translate>Send Money</span>
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item item-divider"></div>
      <div class="item has-click" ng-click="remove(addressbookEntry.address)">
        <span class="assertive" translate>Remove</span>
      </div>
    </div> 
  </ion-content>
</ion-view>
