<ion-view id="advanced-settings" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Advanced Settings' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="settings-list list">

      <ion-toggle class="has-comment" ng-model="spendUnconfirmed.value" toggle-class="toggle-balanced" ng-change="spendUnconfirmedChange()">
        <span class="toggle-label" translate>Use Unconfirmed Funds</span>
      </ion-toggle>
      <div class="comment" translate>
        If enabled, wallets will also try to spend unconfirmed funds. This option may cause transaction delays.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle class="has-comment" ng-model="useLegacyAddress.value" toggle-class="toggle-balanced" ng-change="useLegacyAddressChange()">
        <span class="toggle-label" translate>Use Bitcoin Cash Copay Style Addresses</span>
      </ion-toggle>
      <div class="comment" translate>
        If enabled, Bitcoin Cash addresses will be shown using Copay style address, and not the new cashaddr format.
      </div>

      <div class="item item-divider"></div>



      <ion-toggle class="has-comment" ng-model="recentTransactionsEnabled.value" toggle-class="toggle-balanced" ng-change="recentTransactionsChange()">
        <span class="toggle-label" translate>Recent Transaction Card</span>
      </ion-toggle>
      <div class="comment" translate>
        If enabled, the Recent Transactions card - a list of transactions occuring across all wallets - will appear in the Home tab.
      </div>

      <div class="item item-divider"></div>

      <ion-toggle ng-model="hideNextSteps.value" ng-if="!isWindowsPhoneApp" toggle-class="toggle-balanced" ng-change="nextStepsChange()">
        <span class="toggle-label" translate>Hide Next Steps Card</span>
      </ion-toggle>
    </div>
  </ion-content>
</ion-view>
