<ion-view show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Amazon.com Gift Cards</ion-nav-title>
  </ion-nav-bar>

  <ion-content scroll="false" class="ng-hide" ng-show="!giftCards">
    <div class="box-notification warning" ng-show="network == 'testnet'">
      Sandbox version. Only for testing purpose.
    </div>
    <div class="integration-onboarding">
      <div class="integration-onboarding-logo">
        <img src="img/GCs-logo-cllb.png">
      </div>
      <div class="integration-onboarding-description">Gift Cards are only redeemable on Amazon.com (US website). Cards never expire and can be redeemed towards millions of items.</div>
      <div class="integration-onboarding-cta" ng-show="!showOauthForm">
        <button class="button button-standard button-primary" ui-sref="tabs.giftcards.amazon.amount" no-low-fee>Buy a Gift Card</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://www.amazon.com')">Visit Amazon.com &rarr;</button>
      </div>
    </div>
  </ion-content>
  <ion-content class="ng-hide" ng-show="giftCards">
    <div class="box-notification warning" ng-show="network == 'testnet'">
      Sandbox version. Only for testing purpose.
    </div>

    <div class="m20t text-center">
      <img src="img/GCs-logo-cllb.png" alt="Amazon.com Gift Card" width="200">
      <div class="size-12 m10t"><b>Only</b> redeemable on www.amazon.com (US website).</div>
    </div>

    <div class="m20t" ng-if="giftCards">
      <div class="list card">
        <a class="item item-icon-left item-icon-right" href
          ui-sref="tabs.giftcards.amazon.amount"  no-low-fee>
          <i class="icon ion-ios-pricetags-outline"></i>
          Buy Gift Card
          <i class="icon bp-arrow-right"></i>
        </a>

        <a class="item item-icon-right item-icon-left"
           ui-sref="tabs.giftcards.amazon.cards">
          <i class="icon ion-ios-folder-outline"></i>
          Your cards
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>

      <div class="size-12 p15h">
        * <a ng-click="openExternalLink('http://amazon.com')">Amazon.com</a> is not a sponsor of this promotion.
          Except as required by law, <a ng-click="openExternalLink('http://amazon.com')">Amazon.com</a>
          Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of
          eligible goods at <a ng-click="openExternalLink('http://amazon.com')">Amazon.com</a> or certain of its
          affiliated websites. For complete terms and conditions, see
          <a ng-click="openExternalLink('https://www.amazon.com/gc-legal')">www.amazon.com/gc-legal</a>.
          GCs are issued by ACI Gift Cards, Inc., a Washington corporation. All Amazon &reg;, &trade; &amp; &copy; are IP
          of <a ng-click="openExternalLink('http://amazon.com')">Amazon.com</a>, Inc. or its affiliates.
          No expiration date or service fees.
      </div>
    </div>
  </ion-content>
</ion-view>
