<ion-view id="backup-warning" class="onboarding" hide-tabs>
  <ion-nav-bar>
    <ion-nav-buttons side="primary">
      <button class="button button-back button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="onboarding-topic" translate>Are you being watched?</div>
    <div class="onboarding-description" translate>Now is a perfect time to assess your surroundings. Nearby windows? Hidden cameras? Shoulder-spies?</div>
    <div class="onboarding-illustration-backup-warning"></div>
    <div id="cta-buttons">
      <div class="onboarding-tldr" translate>Anyone with your backup phrase can access or spend your Nav Coin.</div>
      <button class="button button-standard button-primary" ng-click="openPopup()" translate>Got it</button>
    </div>
  </ion-content>
</ion-view>
