<ion-view id="bitpayCard-intro" class="onboarding" hide-tabs>
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="bitPayCardInfo()">
        <i class="icon ion-ios-information-outline bitpayCard__info"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="bitpayCard__illustration">
      <img class="bitpayCard__illustration__img" src="img/bitpay-card-visa.svg">
    </div>
    <ion-slide-box>
      <ion-slide>
        <p class="slider__text" translate>
        Turn Nav Coin into dollars, swipe anywhere Visa<sup>&reg;</sup> is accepted.
        </p>
      </ion-slide>
      <ion-slide>
        <p class="slider__text" translate>
        Get local cash anywhere you go, from any Visa<sup>&reg;</sup> compatible ATM. ATM bank fees may apply.</span>
        </p>
      </ion-slide>
      <ion-slide>
        <p class="slider__text" translate>
        Pay 0% fees to turn Nav Coin into dollars.
        </p>
      </ion-slide>
    </ion-slide-box>
    <div class="cta-button">
      <button class="button button-standard button-primary" ng-click="orderBitPayCard()" translate>
        Order the BitPay Card
      </button>
      <button class="button button-standard button-secondary button-clear" ng-click="connectBitPayCard()" translate>
        Connect my BitPay Card
      </button>
    </div>
  </ion-content>
  <account-selector
    account-selector-title="accountSelectorTitle"
    account-selector-accounts="accounts"
    account-selector-selected-account="account"
    account-selector-show="showAccounts"
    account-selector-on-select="onAccountSelect">
  </account-selector>
</ion-view>
