<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title translate>Buy and sell</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider"></div>

      <div class="item item-icon-right" ui-sref="tabs.buyandsell.coinbase" ng-show="isCoinbaseEnabled">
        <img src="img/coinbase-logo.png" width="90">
        <i class="icon bp-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ui-sref="tabs.buyandsell.glidera" ng-show="isGlideraEnabled">
        <img src="img/glidera-logo.png" width="90">
        <i class="icon bp-arrow-right"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
