<ion-view id="mercadolibre" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      {{'Buy'|translate}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="add-bottom-for-cta">
    <!-- BUY -->
    <div class="list">

      <div class="item head">
        <div class="sending-label">
          <i class="icon big-icon-svg">
            <div class="bg icon-amazon"></div>
          </i>
          <span>Vale-Presente do Mercado Livre Brasil</span>
        </div>
        <div class="amount-label">
          <div class="amount">{{amountUnitStr}}</div>
        </div>
      </div>

      <div class="info">
        <div class="item item-icon-right" ng-click="showWalletSelector()">
          <div class="label" translate>From</div>
          <div class="wallet">
            <i class="icon big-icon-svg">
              <img ng-src="img/{{wallet.network == 'testnet' ? 'icon-wallet-testnet' : 'icon-wallet'}}.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg">
            </i>
            {{wallet ? wallet.name : '...'}}
          </div>
          <i class="icon bp-arrow-right"></i>
        </div>
        <div ng-show="totalAmountStr">
          <div class="item item-divider" translate>
            Details
            <i class="icon ion-ios-help-outline details" ng-click="openExternalLink('https://support.bitpay.com/hc/en-us/articles/203076826-What-fees-will-I-pay-when-I-pay-a-BitPay-merchant-with-bitcoin-or-load-the-BitPay-Card-')"></i>
          </div>
          <div class="item">
            <span translate>Gift Card</span>
            <span class="item-note">
              {{amount | currency:'$ ':2}}<span ng-if="amount"> {{currencyIsoCode}}</span>
            </span>
          </div>
          <div class="item">
            <span translate>Network Cost</span>
            <span class="item-note">
              <span>{{invoiceFee | currency:'$ ':2}}<span ng-if="invoiceFee"> {{currencyIsoCode}}</span>
            </span>
          </div>
          <div class="item">
            <span translate>Miner Fee</span>
            <span class="item-note">
              <span>{{networkFee | currency:'$ ':2}}<span ng-if="networkFee"> {{currencyIsoCode}}</span>
            </span>
          </div>
          <div class="item">
            <span translate>Total</span>
            <span class="item-note">
              <span ng-if="totalAmount">{{totalAmount | currency:'$ ':2}} {{currencyIsoCode}}</span>
              <span ng-if="totalAmountStr">({{totalAmountStr}})</span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

  <click-to-accept
    is-disabled="!wallet || !totalAmountStr"
    ng-click="buyConfirm()"
    ng-if="!isCordova"
    click-send-status="sendStatus">
    Confirmar a compra
  </click-to-accept>
  <slide-to-accept
    ng-if="isCordova && wallet && totalAmountStr"
    slide-on-confirm="buyConfirm()"
    slide-send-status="sendStatus">
    Deslize para comprar
  </slide-to-accept>
  <slide-to-accept-success
    slide-success-show="sendStatus === 'success'"
    slide-success-on-confirm="goBackHome()"
    slide-success-hide-on-confirm="true">
    <div class="assertive" ng-show="mlGiftCard.status == 'FAILURE'">
      Sua compra não pôde ser concluída
    </div>
    <div ng-show="mlGiftCard.status == 'PENDING'">
      Sua compra foi adicionada à lista de pendentes
    </div>
    <div ng-show="mlGiftCard.status == 'SUCCESS' || mlGiftCard.status == 'active'">
      Comprou {{mlGiftCard.amount}} {{mlGiftCard.currency}}
    </div>
    <div ng-show="mlGiftCard.status == 'SUCCESS' || mlGiftCard.cardStatus == 'active'">
      Vale-Presente gerado e pronto para usar
    </div>
  </slide-to-accept-success>

  <wallet-selector
    wallet-selector-title="walletSelectorTitle"
    wallet-selector-wallets="wallets"
    wallet-selector-selected-wallet="wallet"
    wallet-selector-show="showWallets"
    wallet-selector-on-select="onWalletSelect">
  </wallet-selector>
</ion-view>
