<ion-view id="cash-scan" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      <span translate>Bitcoin Cash (BCH) Balances</span>
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

<div class="list card">
  <div ng-if="!availableWallets[0]">
    <div class="item">
      <span class="assertive" translate>No wallets eligible for Bitcoin Cash support</span>
    </div>
  </div>

  <div class="item" ng-if="error">
    <span class="assertive">{{error}}</span>
  </div>

  <div ng-if="availableWallets[0]">
    <div class="item heading">
      <span translate>BTC wallets</span>
    </div>

    <div ng-repeat="wallet in availableWallets track by $index" class="item wallet supported">
      <i class="icon big-icon-svg">
        <img ng-src="img/{{wallet.network == 'testnet' ? 'icon-wallet-testnet' : (wallet.coin == 'btc' ? 'icon-btc' : 'icon-bch')}}.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"/>
      </i>
      <div class="wallet-content">
        <div>{{wallet.name || wallet.id}}</div>
        <div class="balanced">{{wallet.bchBalance  || ('Checking...' | translate)}} </div>
        <div class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1" translate>{{wallet.m}}-of-{{wallet.n}}</div>
      </div>

      <div class="duplicate-button">
        <button ng-click="duplicate(wallet)" class="button button-small button-outline button-primary" translate>Duplicate for BCH</button>
      </div>
    </div>
  </div>

  <div ng-if="nonEligibleWallets[0]">
    <div class="item item-divider"></div>

    <div class="item heading">
      <span translate>Non eligible BTC wallets</span>
    </div>

    <div ng-repeat="wallet in nonEligibleWallets track by $index" class="item item-sub item-icon-left item-big-icon-left item-button-right wallet">
      <i class="icon big-icon-svg">
        <img ng-src="img/{{wallet.network == 'testnet' ? 'icon-wallet-testnet' : (wallet.coin == 'btc' ? 'icon-btc' : 'icon-bch')}}.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': walletDisabled}" class="bg wallet"/>
      </i>
      <div class="text-disabled">{{wallet.name || wallet.id}}</div>
      <div class="text-disabled">{{wallet.excludeReason}}</div>
    </div>

    <div class="item">
      <span class="comment" translate>Some of you wallets are not eligible for Bitcon Cash support because both there where created before Copay v1.2 or are not available to sign. To access the funds from these wallets please use our</span>
      <a ng-click="openRecoveryToolLink()" translate>recovery tool.</a>
    </div>
  </div>
</div>

</ion-content>
