<ion-view id="view-confirm">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Confirm'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content ng-class="{'slide-to-pay': isCordova}">

    <div class="list card">
      <div class="item item-text-wrap">
        <i class="icon ion-arrow-up-c"></i> <span class="text-bold size-16">Sending</span>
        <div class="text-bold size-28 m15t">{{amountStr}} </div>
        <div class="text-light size-20 m5t">{{alternativeAmountStr}} </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">Fee: {{feeLevel}}
        <span class="item-note">
          {{fee || '...'}}
        </span>
      </div>

      <div class="item item-icon-left">
        <i ng-if="isWallet" class="icon ion-briefcase size-21"></i>
        <div ng-if="!isWallet">
          <gravatar ng-if="!isCard" class="send-gravatar" name="{{toName}}" width="30" email="{{toEmail}}"></gravatar>
          <i ng-if="isCard" class="icon big-icon-svg">
            <div class="bg icon-bitpay-card"></div>
          </i>
        </div>
        <div ng-class="{'m10l':isCard}">
          <span translate>To</span>: {{toAddress}}
          <p ng-show="toName">{{toName}}</p>

          <div ng-show="_paypro" ng-click="openPPModal(_paypro)">
              <i ng-show="_paypro.verified && _paypro.caTrusted" class="ion-locked" style="color:green"></i>
              <i ng-show="!_paypro.caTrusted" class="ion-unlocked" style="color:red"></i>
                {{_paypro.domain}}
          </div>
        </div>
      </div>
    </div>

    <div class="text-center" ng-show="notAvailable">
      <span class="badge badge-assertive" translate>No wallet with enough funds</span>
    </div>

    <wallets ng-if="wallets[0]" wallets="wallets"></wallets>

    <div class="list card">
      <div class="item item-icon-left item-icon-right" ng-click="showDescriptionPopup()">
        <i class="icon ion-ios-chatbubble-outline size-21"></i>
        <span ng-show="!description" translate>Add description</span>
        <span ng-show="description">{{description}}</span>
        <i ng-show="!description" class="icon ion-ios-plus-empty size-21"></i>
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="approve()" ng-if="!isCordova" translate>Click to pay</button>
  </ion-content>
  <slide-to-accept
    ng-if="isCordova || true"
    slide-on-confirm="onConfirm()"
    slide-send-status="sendStatus">
    Slide to pay
  </slide-to-accept>
  <slide-to-accept-success
    slide-success-show="sendStatus === 'success'"
    slide-success-on-confirm="onSuccessConfirm()"
    >
    Payment Sent
  </slide-to-accept-success>
</ion-view>
