<ion-view id="export">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Export wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content ng-init="file = true">
    <div class="row text-center top-tabs">
      <div class="col" ng-click="file = true" ng-style="file && {'border-bottom-style': 'solid'}">
        <span class="" translate>File/Text</span>
      </div>
      <div class="col" ng-click="file = false" ng-style="!file && {'border-bottom-style': 'solid'}">
        <span class="" translate>QR Code</span>
      </div>
    </div>

    <div ng-include="'views/tab-export-file.html'" ng-if="file"></div>
    <div ng-include="'views/tab-export-qrCode.html'" ng-if="!file"></div>
  </ion-content>
</ion-view>
