<ion-view show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Glidera</ion-nav-title>
  </ion-nav-bar>

  <ion-content>

    <div class="box-notification warning" ng-show="network == 'testnet'">
      Testnet wallets only work with Glidera Sandbox Accounts
    </div>

    <div class="text-center">
      <img src="img/glidera-logo.png" width="100">
      <div class="m20t">
        Connecting...
      </div>
    </div>
  </ion-content>
</ion-view>
