<ion-view id="locked-view">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{title}}</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div ng-if="appName == 'copay'" class="img-container-copay">
      <i class="icon big-icon-svg"><div class="bg"></div></i>
    </div>
    <div ng-if="appName == 'bitpay'" class="img-container-bitpay">
      <i class="icon big-icon-svg"><div class="bg"></div></i>
    </div>
    <div class="comments">
      <div class="header" translate>One-touch Sign In</div>
      <div class="text-content" translate>Please place your fingertip on the scanner to verify your identity</div>
    </div>
    <button type="submit" style="margin-top: 15%"
      class="button button-standard button-primary" ng-click="requestFingerprint()" translate>Scan again
    </button>
  </ion-content>
</ion-view>
