<ion-view id="pin-code" ng-controller="pincodeController" hide-tabs hide-back-button="!fromSettings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Pin Code' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div ng-if="fromSettings" ng-click="close()" class="close" translate>Close</div>
  <div class="content">
    <div class="block-code">
      <div class="row">
        <div class="col">
            {{currentPincode.substring(0, 1)}}
        </div>
        <div class="col">
            {{currentPincode.substring(1, 2)}}
        </div>
        <div class="col">
            {{currentPincode.substring(2, 3)}}
        </div>
        <div class="col">
            {{currentPincode.substring(3, 4)}}
        </div>
      </div>
    </div>
    <div class="block-buttons">
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('1')">1</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('2')">2</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('3')">3</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('4')">4</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('5')">5</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('6')">6</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('7')">7</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('8')">8</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('9')">9</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch icon ion-checkmark" ng-click="save()" ng-disabled=""></button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="updatePinCode('0')">0</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch icon ion-arrow-left-a" ng-click="delete()"></button>
        </div>
      </div>
    </div>
  </div>
</ion-view>
