<ion-view class="settings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Wallet Name'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="settings-explaination">
      <div class="settings-heading" translate>What do you call this wallet?</div>
      <div class="settings-description" translate>When this wallet was created, it was called "{{walletName}}". You can change how the name is displayed on this device below.</div>
    </div>
    <form name="aliasForm" ng-submit="save(aliasForm)" novalidate>
      <div class="list settings-list">
        <label class="item item-input item-stacked-label">
          <span class="input-label" transalate>Name</span>
          <input type="text" id="alias" name="alias" ng-model="alias.value" placeholder="Personal Wallet" required>
        </label>
      </div>
      <button type="submit"
              class="button button-standard button-primary"
              ng-disabled="aliasForm.$invalid" translate>
        Save
      </button>
    </form>
  </ion-content>
</ion-view>
