<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Transaction History' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div ng-include="'views/includes/walletItem.html'"></div>

    <a class="item ng-hide" href ng-show="csvReady && !isCordova" ng-csv="csvContent" csv-header="csvHeader" filename="{{appName}}-{{wallet.name}}.csv">
      <span translate>Export to file</span>
    </a>
    <a class="item ng-hide" href ng-show="!csvReady && !isCordova">
      <span translate>Export to file</span>
      <span class="item-note ng-hide" ng-show="!err" translate>
        preparing...
      </span>
      <span class="item-note ng-hide" ng-show="err">
        {{err | translate}}
      </span>
    </a>
    <div ng-show="!isCordova" class="item item-divider"></div>
    <a class="item" ng-click="clearTransactionHistory()">
      <span translate>Clear cache</span>
    </a>
    <div class="settings-explanation">
      <div class="settings-description" translate>
        The transaction history and every new incoming transaction are cached in the app. This feature clean this up and synchronizes again from the server
      </div>
    </div>
  </ion-content>
</ion-view>
