<ion-view hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span translate>Extended Private Key</span>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div ng-show="wallet && !credentialsEncrypted">
      <div ng-include="'views/includes/walletItem.html'"></div>
      <h1 class="text-center assertive" translate>Warning!</h1>
      <div class="padding text-center">
        <p translate>WARNING: Your extended private keys are all that is needed to access your bitcoin funds. Be sure to protect your private keys and store them only on secure devices. BitPay does not have access to your private keys, so you alone are responsible for your keys. If you share key access with external services, you take responsibility for the risk of theft or breach. Only advanced users should handle extended private keys directly.
        </p>
      </div>
      <div class="item" copy-to-clipboard="xPrivKey">
        <span class="item-note">
          <span>{{xPrivKey}}</span>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
