<ion-view id="tab-notifications" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Notifications' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div ng-if="PNEnabledByUser">
        <ion-toggle ng-model="pushNotifications.value" toggle-class="toggle-balanced" ng-change="pushNotificationsChange()" ng-if="usePushNotifications">
          <span class="toggle-label" translate>Enable push notifications</span>
        </ion-toggle>
      </div>

      <div ng-if="!PNEnabledByUser && isIOSApp">
        <div class="padding text-light" translate>
          Push notifications for {{appName}} are currently disabled. Enable them in the Settings app.
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
