<ion-view id="bitpayServicesPreferences">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>BitPay</ion-nav-title>
  </ion-nav-bar>
  <ion-content>

    <!-- Cards -->
    <div class="list" ng-if="cards.length > 0">
      <div class="item item-divider" translate>
        BitPay Visa&reg; Cards
      </div>
      <div class="item item-icon-right" ng-repeat="card in cards">
        <span class="item-title">
          xxxx-xxxx-xxxx-{{card.lastFourDigits}}
        </span>
        <span class="item-subtitle">
          {{card.email}}
        </span>
        <div class="icon icon-unlink icon-hotspot" ng-click="removeCard(card)"></div>
      </div>
    </div>

    <!-- Payroll records -->
    <div class="list" ng-if="payrollRecords.length > 0">
      <div class="item item-divider" translate>
        Payroll
      </div>
      <div class="item item-icon-right" ng-repeat="record in payrollRecords">
        <span class="item-title">
          {{record.employer.name}}
        </span>
        <span class="item-subtitle">
          {{record.email}}
        </span>
        <div class="icon icon-unlink icon-hotspot" ng-click="removePayrollRecord(record)"></div>
      </div>
    </div>

    <!-- Accounts -->
    <div class="list">
      <div class="item item-divider" translate>
        Accounts
      </div>
      <div class="item item-icon-right" ng-repeat="account in accounts">
        <span class="item-title">
          {{account.givenName}} {{account.familyName}}
        </span>
        <span class="item-subtitle">
          {{account.email}}
        </span>
        <div class="icon icon-unlink icon-hotspot" ng-click="removeAccount(account)"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
