<ion-view class="settings" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Session Log' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button back-button" ng-click="showOptionsMenu()">
        <i class="icon ion-ios-more"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="log-bg">
    <div class="list">
      <div class="item item-text-wrap enable_text_select log-entry">
        <div class="centered" ng-show="filteredLogs.length == 0">
          <span translate>No entries for this log level</span>.
          <a ng-click="showOptionsMenu()" translate>Filter setting</a>.
        </div>
        <ul ng-show="filteredLogs.length > 0">
          <li ng-repeat="l in filteredLogs">
            <span ng-class="{'energized': l.level=='warn', 'dark': l.level=='debug', 'positive': l.level=='info', 'assertive': l.level=='error'}">
              <span class="log-timestamp">[{{l.timestamp}}]</span>
              <span class="log-level">[{{l.level}}]</span>
              {{l.msg}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
  <log-options
    log-options-show="showOptions"
    log-options="logOptions"
    log-options-fill-class="fillClass"
    log-options-on-select="setOptionSelected"
    log-options-on-copy="prepareLogs"
    log-options-on-send="sendLogs">
  </log-options>
</ion-view>
