<ion-view id="preferences-language" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Language'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <ion-radio ng-repeat="lang in availableLanguages" ng-value="lang.isoCode" ng-model="currentLanguage"
        ng-click="save(lang.isoCode)">{{lang.name}}
      </ion-radio>
    </div>
    <div class="settings-explanation">
      <div class="settings-description" translate>
        We’re always looking for translation contributions! You can make corrections or help to make this app available in your native language by joining our community on Crowdin.
      </div>
    </div>
    <div class="settings-explanation">
      <div class="settings-description" translate>
        Don't see your language on Crowdin? Contact the Owner on Crowdin! We'd love to support your language.
      </div>
    </div>
    <div class="padding">
      <a class="button button-standard button-primary" ng-click="openExternalLink()" translate>Contribute Translations</a>
    <div>
  </ion-content>
</ion-view>
