<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Delete Wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="padding">
      <h1 class="text-center assertive" translate>Warning!</h2>
      <div class="padding text-center">
        <p translate>
          Permanently delete this wallet.
        </p>
        <p translate>
          THIS ACTION CANNOT BE REVERSED
        </p>
      </div>
    </div>
    <div class="padding">
      <button class="button button-standard button-assertive" ng-click="showDeletePopup()">
        {{'Delete'|translate}} <span ng-show="alias">{{alias}}</span>{{walletName}}
      </button>
    </div>
  </ion-content>
</ion-view>
