<ion-view id="bitpayCardPreferences">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>BitPay Visa&reg; Cards</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div class="item item-divider" translate>
        Cards
      </div>
      <div class="item item-icon-right" ng-repeat="card in bitpayCards">
        <span class="item-title">
          xxxx-xxxx-xxxx-{{card.lastFourDigits}}
        </span>
        <span class="item-subtitle">
          {{card.email}}
        </span>
        <i class="icon ion-trash-b icon-hotspot assertive" ng-click="remove(card)"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
