<ion-view id="settings-fee" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Bitcoin Network Fee Policy'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="settings-explanation">
      <div class="settings-heading" translate>Bitcoin transactions include a fee collected by miners on the network.</div>
      <div class="settings-description" translate>The higher the fee, the greater the incentive a miner has to include that transaction in a block. Current fees are determined based on network load and the selected policy.</div>
      <div class="estimates">
        <div>
          <span translate>Average confirmation time</span>:
          <span class="fee-minutes" ng-if="avgConfirmationTime">{{avgConfirmationTime | amDurationFormat: 'minute'}}</span>
          <span ng-if="loadingFee">...</span>
        </div>
        <div>
          <span translate>Current fee rate for this policy</span>:
          <span class="fee-rate" ng-if="feePerSatByte">{{feePerSatByte}} satoshis/byte</span>
          <span ng-if="loadingFee">...</span>
        </div>
      </div>
    </div>
    <div class="fee-policies">
      <ion-radio ng-repeat="(fee, level) in feeOpts" ng-if="fee != 'custom'" ng-value="fee" ng-model="currentFeeLevel" ng-click="save(fee)">
        {{level|translate}}
      </ion-radio>
    </div>
  </ion-content>
</ion-view>
