<ion-view show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Delete Wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list" ng-show="wallet">
      <div ng-include="'views/includes/walletItem.html'"></div>

      <h1 class="text-center assertive" translate>Warning!</h1>
      <div class="padding text-center">
        <p translate>
          Permanently delete this wallet.
        </p>
        <p translate>
          THIS ACTION CANNOT BE REVERSED
        </p>
      </div>
      <button class="button button-standard button-assertive" ng-click="showDeletePopup()">
        {{'Delete'|translate}} {{walletName}}
      </button>
    </div>
  </ion-content>
</ion-view>
