<ion-view class="settings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Alternative Currency'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list" ng-if="lastUsedAltCurrencyList[0]">
      <ion-radio ng-repeat="lastUsedAltCurrency in lastUsedAltCurrencyList" ng-value="lastUsedAltCurrency.isoCode" ng-model="currentCurrency"
        ng-click="save(lastUsedAltCurrency)">{{lastUsedAltCurrency.name}}
      </ion-radio>
    </div>
    <div class="list">
      <ion-radio ng-repeat="altCurrency in altCurrencyList" ng-value="altCurrency.isoCode" ng-model="currentCurrency"
        ng-click="save(altCurrency)">{{altCurrency.name}}
      </ion-radio>
    </div>
  </ion-content>
</ion-view>
