<ion-view show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Preferences</ion-nav-title>
  </ion-nav-bar>

  <ion-content>

    <ul ng-if="coinbaseAccount && !error" class="list">
      <div class="item item-divider">
        Account
      </div>
      <li class="item">
        <span>ID</span>
        <span class="item-note">
          {{coinbaseAccount.id}}
        </span>
      </li>
      <li class="item">
        <span>Name</span>
        <span class="item-note">
          {{coinbaseAccount.name}}
        </span>
      </li>
      <li class="item">
        <span>Balance</span>
        <span class="item-note">
          {{coinbaseAccount.balance.amount}} {{coinbaseAccount.balance.currency}}
        </span>
      </li>
      <li class="item">
        <span>Native Balance</span>
        <span class="item-note">
          {{coinbaseAccount.native_balance.amount}} {{coinbaseAccount.native_balance.currency}}
        </span>
      </li>

      <div class="item item-divider">
        User Information
      </div>
      <li class="item">
        <span>ID</span>
        <span class="item-note">
          {{coinbaseUser.id}}
        </span>
      </li>
      <li class="item">
        <span>Email</span>
        <span class="item-note">
          {{coinbaseUser.email}}
        </span>
      </li>
    </ul>

    <ul class="list">
      <div class="item item-divider"></div>
      <li class="item" ng-click="revokeToken()">
        <span class="assertive">Log out</span>
      </li>
    </ul>

  </ion-content>
</ion-view>
