<ion-view id="settings-color" class="settings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Wallet Color'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="wallet-color-count">
    <ion-radio ng-repeat="i in [] | range:colorCount" ng-value="i" ng-model="currentColorIndex" ng-click="save(i)">
      <span class="settings-color-block wallet-color-{{i}}"></span>
    </ion-radio>
  </ion-content>
</ion-view>
