<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Session Log' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="settings-button-group">
      <button class="button button-standard button-primary" copy-to-clipboard="prepare()">
        <span translate>Copy to clipboard</span>
      </button>
      <button class="button button-standard button-secondary" ng-show="isCordova" ng-click="sendLogs()">
        <span translate>Send by email</span>
      </button>
    </div>
    <div class="list">
      <div class="item item-text-wrap enable_text_select">
        <ul>
          <li ng-repeat="l in logs">
            <span ng-class="{'energized': l.level=='warn', 'dark': l.level=='debug', 'positive': l.level=='info', 'assertive': l.level=='error' }">
              {{l.msg}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
