<ion-view id="preferences-language" class="settings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Language'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <ion-radio ng-repeat="lang in availableLanguages" ng-value="lang.isoCode" ng-model="currentLanguage"
        ng-click="save(lang.isoCode)">{{lang.name}}
      </ion-radio>
    </div>
    <div class="padding">
      <span translate>We’re always looking for translation contributions! You can make corrections or help to make this app available in your native language by joining our community on Crowdin.</span>
      <button class="button button-standard button-primary" ng-click="openExternalLink(true, 'Open Translation Community', 'You can make contributions by signing up on our Crowdin community translation website. We’re looking forward to hearing from you!
', 'Open Crowdin', 'Go Back')" translate>Contribute Translations
      </button>
      <span translate>
        Don't see your language on Crowdin? Contact the Owner on Crowdin! We'd love to support your language.
      </span>
    </div>
  </ion-content>
</ion-view>
