<form name="importForm" ng-submit="importBlob(importForm)" novalidate>
  <div class="list settings-list settings-input-group">
    <label class="item item-input item-stacked-label no-border" ng-show="!isSafari && !isCordova">
      <div class="input-label" translate>Choose a backup file from your computer</div>
      <div>
        <input type="file"
          placeholder="{{'Select a backup file'|translate}}"
          ng-model="formData.backupFile" ng-file-select>
      </div>
    </label>

    <label class="item item-input item-stacked-label" ng-show="isSafari || isCordova">
      <span class="input-label" translate>Paste the backup plain text code</span>
      <textarea ng-model="formData.backupText" rows="5"></textarea>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label" translate>Password</span>
      <input type="password"
        placeholder="{{'Your password'|translate}}"
        ng-model="formData.password">
    </label>

    <div ng-include="'views/includes/cash.html'"></div>

    <div class="item item-divider"></div>

    <a class="item" ng-click="showAdvChange()">
      <span translate ng-show="!showAdv">Show advanced options</span>
      <span translate ng-show="showAdv">Hide advanced options</span>
    </a>

    <div ng-show="showAdv">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Wallet Service URL</span>
        <input type="text" ng-model="formData.bwsurl">
      </label>
    </div>
  </div>

  <button type="submit" class="button button-standard button-primary" ng-disabled="importForm.$invalid || !formData.password" translate>
    Import backup
  </button>
</form>
