<ion-view id="tab-receive">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Receive' | translate}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list card padding text-center" ng-if="!wallets[0]">
      <span translate>No Wallet</span>
    </div>
    <div id="address" ng-if="wallets[0]">
      <article class="text-center" ng-if="!wallet">
        <div class="row qr">
          <div class="text-center col center-block">
            <div style="height:225px; width:220px; margin:auto; background: white; padding-top: 25%;">
              ...
            </div>
          </div>
        </div>
        <div class="row border-top">
          <div class="col col-90 center-block bit-address text-center">
            <div class="item item-icon-left">
              <i class="icon icon-svg receive-tab-bitcoin-icon"><img src="img/icon-bitcoin-symbol.svg"></i>
              <span class="bit-address-gen-address">...</span>
            </div>
          </div>
        </div>
      </article>
      <article class="text-center" ng-if="wallet && !wallet.isComplete()">
        <div class="incomplete">
          <div class="title">
            <span translate>Incomplete wallet</span>
          </div>
          <div class="subtitle">
            <span translate>All signing devices must be added to this multisig wallet before bitcoin addresses can be created.</span>
          </div>
          <div>
            <button class="button button-standard button-primary" ng-click="goCopayers()" translate>Open wallet</button>
          </div>
        </div>
        <div class="row border-top">
          <div class="col col-90 center-block bit-address text-center">
            <div class="item item-icon-left">
              <i class="icon icon-svg receive-tab-bitcoin-icon"><img src="img/icon-bitcoin-symbol.svg"></i>
              <span class="bit-address-gen-address" ng-if="!generatingAddress" translate>address not yet available</span>
            </div>
          </div>
        </div>
      </article>
      <article ng-if="wallet && wallet.isComplete()">
        <div class="row backup" ng-show="!wallet.showBackupNeededModal && wallet.needsBackup" ng-click="goToBackupFlow()">
          <div class="text-center col center-block">
            <i class="icon ion-alert"></i><span translate>Wallet not backed up</span><i class="icon ion-ios-arrow-thin-right"></i>
          </div>
        </div>
        <div class="row qr">
          <div class="text-center col center-block" copy-to-clipboard="addr">
            <qrcode ng-if="addr" size="220" data="bitcoin:{{addr}}"></qrcode>
            <div ng-if="!addr" style="height:225px; width:220px; margin:auto; background: white; padding-top: 25%;">
              ...
            </div>
          </div>
        </div>
        <div id="qr-options" class="row text-center">
          <div class="item item-icon-left" ng-click="shareAddress(addr)" ng-show="isCordova && addr">
            <i class="icon ion-ios-upload-outline"></i>
            <span translate>Share</span>
          </div>
          <div ng-class="{'center-block': !isCordova || !addr}">
            <div class="item item-icon-left" ng-click="setAddress(true)">
              <i class="icon ion-ios-loop"></i>
              <span translate>Next Address</span>
            </div>
          </div>
          <!-- <div class="col col-50 center-block text-center share" ng-show="isCordova && addr">
            <div class="item item-icon-left" ng-click="shareAddress(addr)">
              <i class="icon ion-ios-upload-outline"></i>
              <span translate>Share</span>
            </div>
          </div>
          <div class="col" ng-class="{'center-block col-50': !isCordova || !addr}">
            <div class="item item-icon-left" ng-click="setAddress(true)">
              <i class="icon ion-ios-loop"></i>
              <span translate>Next Address</span>
            </div>
          </div> -->
        </div>
        <div id="bit-address" class="row border-top">
          <div class="col col-90 center-block bit-address text-center">
            <div class="item item-icon-left item-icon-right">
              <i class="icon icon-svg receive-tab-bitcoin-icon"><img src="img/icon-bitcoin-symbol.svg"></i>
              <span class="bit-address-gen-address" ng-if="generatingAddress">...</span>
              <span class="bit-address-gen-address" ng-if="!generatingAddress" copy-to-clipboard="addr">{{addr}}</span>
              <i id="next-address" class="icon ion-ios-arrow-right" ng-click="setAddress(true)"></i>
            </div>
          </div>
        </div>
      </article>
    </div>
    <article id="wallets" ng-if="wallets[0]">
      <div class="list">
        <wallets wallets="wallets"></wallets>
      </div>
    </article>
  </ion-content>
  <div id="first-time-tip" ng-if="firstTime">
    <i class="ion-close close"></i>
    <div class="row">
      <h3 class="col col-60 center-block">Receive bitcoin by sharing your address</h3>
    </div>
    <div class="row">
      <p class="col col-60 center-block">
        Other bitcoin users can scan this code to send you money
      </p>
    </div>
  </div>
</ion-view>
