<div class="list" ng-show="formData.supported">
  <div class="text-center m20t">
    <qrcode size="220" version="11" error-correction-level="M" data="{{formData.exportWalletInfo}}" color="#334"></qrcode>
  </div>
  <div class="text-center size-12 m20v" translate>From the destination device, go to Add wallet &gt; Import wallet and scan this QR code</div>
</div>

<div class="list" ng-show="!formData.supported">
  <div class="text-center size-12 m20v" translate>Exporting via QR not supported for this wallet</div>
</div>
