<div ng-show="!backupWalletPlainText">
  <div class="size-14" ng-show="error">
    <i class="ion-alert-circled"></i>
    <span translate>Failed to export</span>
  </div>

  <form name="exportForm" novalidate>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label" translate>Set up a password</span>
        <input type="password" placeholder="{{'Your password'|translate}}" ng-model="formData.password" ng-change="checkPassword(formData.password, formData.repeatpassword)"
          ng-class="{'correct': result == 'correct', 'incorrect': result == 'incorrect'}">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label" translate>Repeat the password</span>
        <input type="password" placeholder="{{'Repeat password'|translate}}" ng-model="formData.repeatpassword" ng-change="checkPassword(formData.repeatpassword, formData.password)"
          ng-class="{'correct': result == 'correct', 'incorrect': result == 'incorrect'}">
      </label>

      <div ng-show="canSign">
        <div class="item item-divider"></div>
        <a class="item" ng-click="showAdvChange()">
          <span translate ng-show="!showAdv">Show advanced options</span>
          <span translate ng-show="showAdv">Hide advanced options</span>
        </a>

        <ion-checkbox ng-show="showAdv" ng-model="formData.noSignEnabled" class="checkbox-positive" ng-change="noSignEnabledChange(); resizeView()">
          <span class="toggle-label" translate>Do not include private key</span>
        </ion-checkbox>
      </div>

      <div class="box-notification warning ng-hide" ng-show="!canSign">
        <span class="size-14">
          <i class="ion-alert-circled"></i>
          <span translate>
            WARNING: The private key of this wallet is not available. The export allows to check the wallet balance, transaction history, and create spend proposals from the export. However, does not allow to approve (sign) proposals, so <b>funds will not be accessible from the export</b>.
          </span>
        </span>
      </div>

      <div class="box-notification warning ng-hide warning-red" ng-show="formData.noSignEnabled">
        <span class="size-14">
          <i class="ion-alert-circled"></i>
          <span translate>
          WARNING: Not including the private key allows to check the wallet balance, transaction history, and create spend proposals from the export. However, does not allow to approve (sign) proposals, so <b>funds will not be accessible from the export</b>.
          </span>
        </span>
      </div>
    </div>

    <button
      ng-click="downloadWalletBackup()"
      class="button button-standard button-primary"
      ng-disabled="(!formData.password || formData.password != formData.repeatpassword)"
      ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color':wallet.color}"
      ng-show="!isSafari && !isCordova">
      <i class="fi-download"></i>
      <span translate>Download</span>
    </button>

    <button
      ng-click="viewWalletBackup()"
      class="button button-standard button-primary"
      ng-disabled="(!formData.password || formData.password != formData.repeatpassword)"
      ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color':wallet.color}"
      ng-show="isSafari && !isCordova">
      <i class="fi-eye"></i>
      <span translate>View</span>
    </button>

    <div ng-show="isCordova">
      <button class="button button-standard button-primary"
        ng-disabled="(!formData.password || formData.password != formData.repeatpassword)"
        ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color':wallet.color}"
        ng-click="copyWalletBackup()">
        <i class="fi-clipboard-pencil"></i>
        <span translate>Copy to clipboard</span></button>
      <button class="button button-standard button-primary" ng-disabled="(!formData.password || formData.password != formData.repeatpassword)"
        ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color':wallet.color}"
        ng-click="sendWalletBackup()"><i class="fi-mail"></i>
        <span translate>Send by email</span></button>
    </div>
  </form>
</div>

<div ng-show="backupWalletPlainText" class="text-center list">
  <label class="item item-input item-stacked-label">
    <span class="input-label" translate>Backup wallet</span>
    <textarea rows="12">{{backupWalletPlainText}}</textarea>
  </label>
  <div class="item text-gray item-icon-left">
    <i class="icon ion-compose"></i>
    <p translate>Copy this text as it is to a safe place (notepad or email)</p>
  </div>
</div>
