<form name="importForm3" ng-submit="importHW(importForm3)" novalidate>
  <div class="card" ng-show="!seedOptions[0]">
    <div class="item item-text-wrap" translate>
      No hardware wallets supported on this device
    </div>
  </div>

  <div ng-show="seedOptions[0]">
    <div class="list settings-list settings-input-group">
      <label class="item item-input item-select">
        <div class="input-label" translate>
          Wallet Type
        </div>

        <select ng-model="formData.seedSource" ng-options="seed as seed.label for seed in seedOptions"></select>
      </label>

      <label class="item item-input item-stacked-label" ng-show="formData.seedSource.id == 'trezor' || formData.seedSource.id == 'ledger' || formData.seedSource.id == 'intelTee'">
        <span class="input-label" translate>Account Number</span>
        <input type="number" ng-model="formData.account" ignore-mouse-wheel>
      </label>

      <ion-toggle ng-show="formData.seedSource.id == 'trezor'" ng-model="formData.isMultisig" toggle-class="toggle-positive">
        <span translate>Shared Wallet</span>
      </ion-toggle>

      <div class="item item-divider"></div>

      <a class="item" ng-click="showAdvChange()">
        <span translate ng-show="!showAdv">Show advanced options</span>
        <span translate ng-show="showAdv">Hide advanced options</span>
      </a>

      <div ng-show="showAdv">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Wallet Service URL</span>
          <input type="text" ng-model="formData.bwsurl">
        </label>
      </div>
    </div>

    <button translate type="submit" class="button button-standard button-primary">
      Import
    </button>
  </div> <!-- seedoptions show -->
</form>
