<ion-view id="bitpayCard" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      {{'Add funds' | translate}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="add-bottom-for-cta">
    <!-- SELL -->
    <div class="list">

      <div class="item head">
        <div class="sending-label">
          <i class="icon big-icon-svg">
            <div class="bg icon-bitpay-card"></div>
          </i>
          <span>BitPay Visa&reg; Card ({{lastFourDigits}})</span>
        </div>
        <div class="amount-label">
          <div class="amount-final">{{amountUnitStr}}</div>
          <div class="alternative" ng-show="amountUnitStr">
            <span ng-if="rate">@
              {{rate | currency:currencySymbol:2}} {{currencyIsoCode}} per NAV</span>
            <span ng-if="!rate">...</span>
          </div>
        </div>
      </div>

      <div class="info">

        <div class="item item-icon-right" ng-click="showWalletSelector()">
          <div class="label" translate>From</div>
          <div class="wallet">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg">
            </i>
            {{wallet ? wallet.name : '...'}}
          </div>
          <i class="icon bp-arrow-right"></i>
        </div>

        <div ng-show="totalAmountStr">
          <div class="item item-divider" translate>
            Details
          </div>
          <div class="item">
            <span translate>Funds to be added</span>
            <span class="item-note">
              <span ng-if="amount">{{amount | currency:currencySymbol:2}} {{currencyIsoCode}}</span>
              <span ng-if="!amount">...</span>
            </span>
          </div>
          <div class="item">
            <span translate>Invoice Fee</span>
            <span class="item-note">
              <span ng-if="invoiceFee">{{invoiceFee | currency:currencySymbol:2}} {{currencyIsoCode}}</span>
              <span ng-if="!invoiceFee">...</span>
            </span>
          </div>
          <div class="item">
            <span translate>Network Fee</span>
            <span class="item-note">
              <span ng-if="networkFee">{{networkFee | currency:currencySymbol:2}} {{currencyIsoCode}}</span>
              <span ng-if="!networkFee">...</span>
            </span>
          </div>
          <div class="item">
            <span translate>Total</span>
            <span class="item-note">
              <span ng-if="totalAmount">{{totalAmount | currency:currencySymbol:2}} {{currencyIsoCode}}</span>
              <span ng-if="totalAmountStr">({{totalAmountStr}})</span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

  <click-to-accept
    ng-click="topUpConfirm()"
    ng-if="!isCordova"
    click-send-status="sendStatus"
    is-disabled="!wallet || !totalAmountStr">
    Add funds
  </click-to-accept>
  <slide-to-accept
    ng-if="isCordova && wallet && totalAmountStr"
    slide-on-confirm="topUpConfirm()"
    slide-send-status="sendStatus"
    is-disabled="!wallet || !totalAmountStr">
    Slide to confirm
  </slide-to-accept>
  <slide-to-accept-success
    slide-success-show="sendStatus === 'success'"
    slide-success-on-confirm="goBackHome()"
    slide-success-hide-on-confirm="true">
    <span ng-if="wallet.credentials.m == 1" translate>Sent</span>
    <span ng-if="wallet.credentials.m > 1" translate>Success</span>
    <div class="m10 size-14">
      <span ng-if="wallet.credentials.m == 1" translate>Funds were added to debit card</span>
      <span ng-if="wallet.credentials.m > 1" translate>Transaction initiated</span>
    </div>
  </slide-to-accept-success>

  <wallet-selector
    wallet-selector-title="walletSelectorTitle"
    wallet-selector-wallets="wallets"
    wallet-selector-selected-wallet="wallet"
    wallet-selector-show="showWallets"
    wallet-selector-on-select="onWalletSelect">
  </wallet-selector>
</ion-view>
