coin-icon {
  .item-md [item-left] {
    margin: 0px 8px 0px 0px;
  }
  ion-icon.item-img.icon {
    margin: 9px 15px 9px 0;
    justify-content: center;
    padding: 7px;
    img {
      width: 35px;
    }
    &.rectangle {
      border-radius: 12px;
      justify-content: center;
    }
    &.background {
      &_btc {
        background-color: #f7931a;
      }
      &_bch {
        background-color: #2fcf6e;
      }
      &_eth {
        background-color: #6b71d6;
      }
      &_xrp {
        background-color: #000000;
      }
      &_usdc {
        background-color: #a9caeb;
      }
      &_pax {
        background-color: #b2d434;
      }
      &_gusd {
        background-color: #caf5fe;
      }
    }
  }
  .small-rectangle {
    width: 10px;
  }
}
