multisign-info {
    .container-multisign-info {
        padding: 24px;
        .title {
            line-height: 32px;
            margin: 0;
        }
        .sub-title {
            color: rgba(237, 239, 240, 0.6);
            span {
               color: #EDEFF0;
            }
        }
        .action-btn {
            text-align: end;
            ion-button {
                color: var(--color-primary);
            }
        }
    }
}