multisign-info {
    .container-multisign-info {
        padding: 24px;
        .title {
            line-height: 32px;
            margin: 0;
            color: #001E2E;
        }
        .sub-title {
            color: rgba(0, 30, 46, 0.6);
        }
        .action-btn {
            text-align: end;
            ion-button {
                color: #00658D;
                font-weight: 600;
            }
        }
    }
}