<ion-item [ngClass]="{'wallet-disabled': !wallet?.isComplete() || wallet?.needsBackup}">
  <ion-icon class="item-img rectangle" [ngClass]="{ 'background_btc': wallet?.coin == 'btc',
  'background_bch': wallet?.coin == 'bch',
  'background_eth': wallet?.coin == 'eth',
  'background_xrp': wallet?.coin == 'xrp',
  'testnet': wallet?.network === 'testnet' }" item-start>
    <img class="" src="assets/img/currencies/{{wallet?.coin}}.svg" />
  </ion-icon>
  <ion-label>
    <div class="main-label">{{ wallet?.name }}</div>
    <div *ngIf="wallet?.credentials?.n > 1 || (!wallet?.credentials?.n && wallet?.n > 1) || !wallet?.isComplete() || (wallet?.isComplete() && wallet?.needsBackup)" class="secondary-label">
      <span *ngIf="wallet?.credentials?.n > 1">({{ wallet?.credentials?.m }}/{{ wallet?.credentials?.n }})</span>
      <span *ngIf="!wallet?.credentials?.n && wallet?.n > 1">({{ wallet?.m }}/{{ wallet?.n }})</span>
      <span *ngIf="!wallet?.isComplete()"> - <span class="wallet-warning">{{ 'Incomplete' | translate }}</span></span>
      <span *ngIf="wallet?.isComplete() && wallet?.needsBackup" class="wallet-warning backup-msg"> {{'Needs Backup' | translate}}</span>
    </div>
  </ion-label>
  <ion-note item-end>
    <div>
      <div *ngIf="!hasZeroBalance(wallet, wallet?.coin.toUpperCase()) && !wallet?.balanceHidden">
        <div class="main-note">{{ getBalance(wallet, wallet?.coin.toUpperCase()) }}</div>
        <div class="secondary-note" *ngIf="wallet?.cachedStatus">
          {{ wallet?.cachedStatus.availableBalanceAlternative }}
          {{ wallet?.cachedStatus.alternativeIsoCode }}
        </div>
      </div>
    </div>
    <div *ngIf="hasZeroBalance(wallet, wallet?.coin.toUpperCase()) && !wallet?.balanceHidden">
      <div class="main-note">0</div>
      <div class="secondary-note" *ngIf="wallet?.cachedStatus">
        0 {{ wallet?.cachedStatus.alternativeIsoCode }}
      </div>
    </div>
    <div *ngIf="wallet?.balanceHidden">
      [<span translate>Hidden</span>]
    </div>
  </ion-note>
</ion-item>