page-pin {
  ion-content {
    background-color: color($colors, blank) !important;
    .scroll-content {
      display: flex;
      flex-direction: column;
    }
  }
  .pin-header {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    background-color: color($colors, light);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-height: 600px) {
      padding-bottom: 25px;
    }
    .close-button {
      position: absolute;
      right: 2rem;
      top: 1rem;
    }
    .title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
    }
    .icon-container {
      $app-icon-radius: 42;
      position: absolute;
      text-align: center;
      width: 100%;
      border-radius: 50%;
      line-height: 0;
      bottom: $app-icon-radius * -1px;
      .app-icon {
        width: $app-icon-radius * 2px;
        height: $app-icon-radius * 2px;
      }
    }
  }
  .content {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: color($colors, blank);
    .code-wrapper {
      display: flex;
      flex-direction: column;
      height: 60vh;
      min-height: 400px;

      @media (max-height: 500px) {
        min-height: 340px;
      }
    }
  }
}
