gift-card-item {
  button.item.item-block {
    ion-note {
      color: white;

      &.dark {
        color: $text-color;
      }
    }

    img {
      $img-x-translate: 6px;
      max-height: 25px;
      transform: translate($img-x-translate, 0);

      &.Amazon {
        transform: translate($img-x-translate, 2px);
      }

      &.CarnivalCruiseLine {
        max-height: 30px;
        margin-top: -8px;
        margin-left: -2px;
      }

      &.Delta {
        max-height: 17px;
      }

      &.HomeDepot {
        max-height: 42px;
        margin-left: -3px;
      }

      &.Hotelscom {
        margin-left: -4px;
        margin-top: -4px;
        max-height: 32px;
        height: 32px;
      }

      &.RoyalCaribbean {
        margin-left: -1px;
        margin-top: -1px;
        max-height: 37px;
      }
    }
  }
}
