gift-card-item {
  $gift-card-item-height: 73px;
  $gift-card-item-side-padding: 4%;
  border-radius: 5px;
  display: block;
  height: $gift-card-item-height;
  margin: 15px auto;

  ion-item-sliding.item-wrapper {
    background: none;
    height: $gift-card-item-height + 14px;
    padding-left: $gift-card-item-side-padding;
    padding-right: $gift-card-item-side-padding;

    ion-item-options {
      border-bottom: 0;
      padding-right: $gift-card-item-side-padding;
      height: $gift-card-item-height;

      button.button {
        border-radius: 5px;
        font-weight: 400;
        padding: 15px;

        .archive {
          &__icon {
            font-size: 20px;
            margin-top: -1px;
          }

          &__text {
            font-size: 13px;
          }
        }
      }
    }
  }

  button.item.item-block {
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.06);

    .item-inner {
      border: 0;
      height: $gift-card-item-height;

      ion-label {
        &.label-ios,
        &.label-md {
          display: flex;
          height: $gift-card-item-height;
          align-items: center;
          margin: 0;
        }
      }

      ion-note {
        color: white;

        &.dark {
          color: $text-color;
        }
      }

      img {
        $img-x-translate: 6px;
        max-height: 25px;
        transform: translate($img-x-translate, 0);

        &.Amazon {
          transform: translate($img-x-translate, 2px);
        }

        &.Delta {
          max-height: 17px;
        }

        &.Hotelscom {
          margin-left: -4px;
          margin-top: -4px;
          max-height: 32px;
          height: 32px;
        }
      }
    }
  }
}

.add-gift-card-button {
  @include center;
  border-radius: 5px;
  color: #060606;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 1px dashed rgba(109, 109, 109, 0.27);
  width: 92%;
  margin: 15px auto;
  height: 73px;
}
