page-wallet-details {
  --icon-width: 36px;

  .grid-wrapper {
    display: grid;
    grid-template-rows: max-content 2fr;
  }

  .wrapper {
    background: linear-gradient(0deg, rgba(0, 93, 141, 0.05), rgba(0, 93, 141, 0.05)), #FAFAFB !important;
  }

  .balance-card {
    overflow: hidden;
    background-color: var(--bg-color-light-theme);
  }

  .balance-header {
    position: relative;
    margin: 1rem 1rem 1px 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .balance-container {
    margin-left: 1rem;
  }

  .wallet-name {
    .name {
      font-size: 16px;
      font-weight: 600;
    }
    ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  .balance-str {
    cursor: pointer;
    font-size: 38px;
    font-weight: 500;
    display: flex;
    align-items: center;  
    img {
      margin-left: 6px;
    }
  }

  .balance-alt-str {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    line-height: 24px;
    margin-left: 29px;
  }

  .balance-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .balance-hidden {
    width: 100%;
    text-align: center;

    .title {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .balance-error {
    width: 100%;
    text-align: center;

    .title {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .balance-spendable {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;

    ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  .action-buttons {
    transform: inherit;
    opacity: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    &.two-actions {
      justify-content: space-around;
    }

    .action-btn {
      text-align: center;
      cursor: pointer;
      &.send-btn {
        padding-left: 0.5rem;
      }
      &.receive-btn {
        padding-right: 0.5rem;
      }
      ion-button {
        --border-radius: 1rem;
        font-size: 14px;
        font-weight: 600;
        ion-icon {
          margin-right: 0.5rem;
          font-size: 20px;
        }
      }
    }

    .button-standard {
      color: #000000;
      font-weight: bold;
      background-color: rgba(155, 163, 174, 0.07);
      min-height: 50px;
      width: 48%;
      max-width: none;
      margin: 0;
    }

    .button-standard.button-md.activated {
      background-color: rgba(155, 163, 174, 0.07);
      box-shadow: none;
    }
  }

  .balance-scanning {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    .title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .tx-history {
    .tx-history-header {
      height: 3rem;
      border-bottom: 0;

      .ng-star-inserted {
        font-size: 18px;
        font-weight: 600;
        color: #444444;
      }

      &--large {
        &.item {
          ion-label {
            font-size: 15px;
          }
        }
      }

      &.item {
        padding-left: 1rem;
        min-height: 26px;
        background: var(--bg-color-light-theme);
        ion-label {
          margin: 0;
          font-size: 11px;
          text-transform: uppercase;
          color: rgba(28, 55, 69, 0.6);
        }

        .item-inner {
          padding: 0 !important;
          border: none;
        }
      }

      ion-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .txps-badge {
      margin-right: 2rem;
      ion-badge {
        --background: unset;
      }
    }
    .item-wrapper {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
        }
    }

    // ion-item-group {
    //   border-bottom: 1px solid #f4f4f4;
    // }

    ion-item {
      --color-activated: none;
      --inner-padding-bottom: 1rem;
      --padding-top: 1rem;
      --padding-start: 1rem;
      --padding-end: 1rem;
      font-size: 16px;
      --inner-border-width: 0;
      border: 1px solid #f4f4f4;
      border-left: 0;
      border-right: 0;
      .item-icon {
        margin-right: 15px;
      }
    }

    img {
      width: var(--icon-width);
    }

    .action {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .memo {
        font-size: 14px;
        color: rgba(224, 228, 230, 0.6);
        margin-top: 4px;
        span {
          color: rgba(0, 30, 46, 0.6);
        }
      }
    }

    .amount {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--ion-color-dark);

      .received {
        color: #37A372;
      }

      .sent {
        color: var(--color-danger);
      }

      .immature {
        color:#CCC1E9;
      }

      .pending {
        // color: var(--color-danger);
        opacity: 0.38;
      }
    }

    .tx-action {
      font-size: 14px;
    }

    .proposal-container {
      .item .item-inner {
        padding: 0 10px 0 0;
      }

      .date {
        margin-top: 0px;
      }
    }

    .item-img {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .middle-message {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .search-button {
    padding: 0 6px 0 0;
  }

  .wallet-info {
    transform: inherit;
    opacity: inherit;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0.8rem 1.4rem;
    font-weight: 400;

    .left-buttons {
      opacity: 0.5;
    }

    img {
      float: left;
      margin-right: 3px;
    }

    .testnet {
      height: 1.5rem;
      width: 1.5rem;
      margin-top: 3px;
    }

    .testnet-text {
      color: var(--ion-color-light);
      height: 3rem;
      width: 4rem;
    }

    .read-only {
      height: 3rem;
      width: 1.8rem;
      filter: invert(1);
    }

    .encrypted {
      height: 16px;
      width: 16px;
      margin-top: 5px;
    }

    .wallet-type {
      display: block;
      float: left;
      margin: 0 5px;
      padding-top: 5px;
      font-size: 11px;
    }

    .square-border {
      vertical-align: text-top;

      span {
        border: 1px solid #000000;
        padding: 0 3px 0 3px;
        border-radius: 3px;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: -0.2px;
        white-space: nowrap;
      }
    }

    ion-spinner {
      margin: 0 1.3rem 0 0;
      width: 20px;
      height: 20px;

      * {
        stroke: var(--ion-color-primary);
      }
    }
  }

  .icon-services {
    border-radius: 50%;
    width: var(--icon-width);
    height: var(--icon-width);
    box-shadow: none;
    border: 1px solid #d7d7d7;
  }

  .locked-balance.item {
    background-color: cvar(--ion-color-warning);
    cursor: pointer;

    .item-inner {
      padding-bottom: 5px;
      padding-top: 5px;
    }

    .note {
      text-align: end;
    }
  }

  .total-locked-amount {
    color: var(--ion-color-warning);
  }

  .total-alt-locked-amount,
  .double-spend {
    text-align: end;
    font-size: 12.5px;
  }

  .white-card {
    background: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 93, 141, 0.05), rgba(0, 93, 141, 0.05)), #FAFAFB;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 2%), 0px -4px 20px rgb(0 0 0 / 10%);
    border-radius: 24px 24px 0px 0px;
  }

  .top-notification {
    cursor: pointer;
    top: 0;
    margin-bottom: 1rem;
    &.warning {
      color: var(--ion-color-warning);
    }

    ion-icon {
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .ion-ios-alert-outline:before {
    color: var(--ion-color-warning);
    font-size: 44px;
  }

  .warning-background {
    background-color: var(--ion-color-warning);
  }

  .danger-background {
    background-color: var(--ion-color-danger);
  }

  .wallet-card {
    width: 100%;
    padding: 1rem;
    border-radius: 16px;
    color: #EDEFF0;
    box-shadow: 0px 2px 6px 2px rgb(0 0 0 / 15%);
    .wallet-card-header {
      display: flex;
      justify-content: space-between;
      .wallet-icon {
        display: flex;
        img {
          width: 40px;
          height: 40px;
        }
        .wallet-name {
          margin-left: 1rem;
          max-width: 240px;
          p {
            margin: 0;
          }
          img {
            width: 20px;
            height: 20px;
          }
          .wallet-add {
            color: rgba(237, 239, 240, 0.6);
            ion-icon {
              color: #EDEFF0;
            }
          }
        }
      }
    }
    .balance-content {
      margin-top: 2rem;
      .eye {
        margin-left: 0;
        margin-right: 5px;
        width: 24px;
        height: 24px;
      }
      balance-to-show {
        font-weight: 600;
        font-size: 22px;
        .unit {
          font-size: 14px;
          font-weight: 600;
          margin-top: 0px;
        }
      }
    }
    &.bg {
      &-bch {
        background:  url(../../../assets/img/wallet-details/bg-bch.svg) no-repeat;
        background-size: cover;
      }
      &-xec {
        background: url(../../../assets/img/wallet-details/bg-xec.svg) no-repeat;
        background-size: cover;
      }
      &-xpi {
        background: url(../../../assets/img/wallet-details/bg-xpi.svg) no-repeat;
        background-size: cover;
      }
      &-doge {
        background: url(../../../assets/img/wallet-details/bg-doge.svg) no-repeat;
        background-size: cover;
      }
      &-ltc {
        background: url(../../../assets/img/wallet-details/bg-ltc.svg) no-repeat;
        background-size: cover;
      }
      &_default {
        background: #e6f8e9;
      }
    }
  }

  .donate-card {
    &::before {
      content: " ";
      position: absolute;
      background-image: url(../../../assets/img/wallet-details/bg-xpi.svg);
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      opacity: 1;
      border-radius: 1.5rem;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    margin: 1rem;
    position: relative;
    
    .donate-title {
      position: relative;
      font-size: 14px;
      width: 62%;
      display: flex;
      align-items: center;
      img {
        margin-right: 1rem;
      }
      span {
        color: #E0E4E6;
      }
    }
    .donate-info {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .header-transaction {
    box-shadow: 0px 0px 14px rgb(0 0 0 / 2%), 0px -4px 20px rgb(0 0 0 / 10%);
    padding: 1.5rem 1rem 0 1rem;
    background: var(--bg-color-light-theme);
    color: var(--color-light-on-background-theme);
    border-radius: 24px 24px 0px 0px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .tx-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 30, 46, 0.6);
    .status {
      width: 56px;
      margin-top: 0;
      font-size: 12px;
      padding: 3px;
      background: linear-gradient(0deg, rgba(0, 101, 141, 0.08), rgba(0, 101, 141, 0.08)), #FAFAFB;
      text-align: center;
    }
    .date {
      margin: 0;
      font-size: 12px;
    }
  }
}
