<ion-header class="wide-header">
  <ion-navbar [navbar-bg]="headerColor">
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        <img width="140" src="assets/img/simplex/logo-simplex-dark.png" alt="Simplex">
      </div>
    </ion-title>
    <ng-content select="[right]"></ng-content>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea [fixed-scroll-bg-color]="headerColor" [ion-content-background-color]="headerColor">
  <div class="wrapper">
    <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
      <ion-toolbar [navbar-bg]="headerColor" class="wide-header__title">
        <expandable-header-primary>
          <img margin-left width="155" src="assets/img/simplex/logo-simplex-dark.png" alt="Simplex">
        </expandable-header-primary>
        <ion-buttons end>
          <button class="buy-crypto-button" *ngIf="paymentRequests" clear (click)="continueToSimplexBuyPage()">
            Buy Crypto
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </expandable-header>

    <div class="container" *ngIf="!paymentRequests && !loading">
      <div class="center-header">
        <div>
          <h4 translate>Enabling Payments. Defeating Fraud.</h4>
          <p translate>Purchase crypto with your debit/credit card via our partner Simplex.</p>
        </div>
      </div>
    </div>

    <ion-list *ngIf="paymentRequests">
      <ion-item-divider>{{'Payment Requests' | translate}}
        <ion-spinner item-end name="crescent" *ngIf="loading"></ion-spinner>
      </ion-item-divider>
      <button ion-item *ngFor="let paymentRequest of paymentRequests | orderBy : ['-created_on']" (click)="openSimplexModal(paymentRequest)">
        <ion-label>
          <div class="ellipsis">{{paymentRequest.fiat_total_amount }} {{ paymentRequest.fiat_total_amount_currency }}</div>
          <div class="status">
            <span class="assertive" *ngIf="paymentRequest.status == 'failed'" translate>Payment request rejected</span>
            <span class="balanced" *ngIf="paymentRequest.status == 'success'" translate>Payment request approved</span>
            <span class="royal" *ngIf="paymentRequest.status == 'paymentRequestSent'" translate>Attempted payment request</span>
          </div>
        </ion-label>
        <div item-content text-end>
          <div class="text-bold">{{ paymentRequest.crypto_amount | number:'1.0-6'}} {{ paymentRequest.coin }}</div>
          <div class="date calm">{{paymentRequest.created_on | amTimeAgo}}</div>
        </div>
      </button>
    </ion-list>
  </div>
</ion-content>

<ion-footer *ngIf="!paymentRequests && !loading">
  <ion-toolbar>
    <button ion-button full class="button-footer" type="button" (click)="continueToSimplexBuyPage()">
      {{'Buy Crypto' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>