<ion-header class="wide-header">
  <ion-navbar [navbar-bg]="headerColor">
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        <img width="140" src="assets/img/simplex/logo-simplex-dark.png" alt="Simplex">
      </div>
    </ion-title>
    <ng-content select="[right]"></ng-content>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea [fixed-scroll-bg-color]="headerColor" [ion-content-background-color]="headerColor">
  <div class="wrapper">
    <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
      <ion-toolbar [navbar-bg]="headerColor" class="wide-header__title">
        <expandable-header-primary>
          <img margin-left width="155" src="assets/img/simplex/logo-simplex-dark.png" alt="Simplex">
        </expandable-header-primary>
      </ion-toolbar>
    </expandable-header>

    <div class="container">
      <div class="center-header">
        <div>
          <h4 translate>Enabling Payments. Defeating Fraud.</h4>
          <p translate>Purchase crypto with your debit/credit card via our partner Simplex.</p>
        </div>
      </div>

      <div padding>
        <div class="title">
          <span translate>Deposit to</span>
        </div>
        <div class="wallet" *ngIf="wallet" (click)="showWallets()">
          <ion-icon item-start>
            <img [ngClass]="{ testnet: wallet.network === 'testnet' }" src="assets/img/currencies/{{wallet.coin}}.svg" class="icon-wallet" />
          </ion-icon>
          <div>{{wallet.name}}</div>
          <div class="last-item" item-end>
            <button ion-button clear color="grey" icon-only>
              <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
              <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="wallet" *ngIf="!wallet" (click)="showWallets()">
          <ion-icon item-start>
            <img class="icon-wallet disabled" src="assets/img/icon-wallet.svg" />
          </ion-icon>
          <div translate>Select a wallet</div>
          <div class="last-item" item-end>
            <button ion-button clear color="grey" icon-only>
              <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
              <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
            </button>
          </div>
        </div>

        <form [formGroup]="quoteForm">
          <ion-label>{{'Amount' | translate}}</ion-label>
          <ion-item>
            <ion-input type="text" formControlName="fiatAmount" (ionChange)="fiatAmountChange()"></ion-input>
            <ion-select okText="{{okText}}" cancelText="{{cancelText}}" formControlName="fiatAltCurrency" (ionChange)="fiatAltCurrencyChange()">
              <ion-option [value]="USD">USD</ion-option>
              <ion-option [value]="EUR">EUR</ion-option>
            </ion-select>
          </ion-item>
          <label-tip type="warn" header="no-header" *ngIf="quoteForm.controls.fiatAmount.hasError('pattern')">
            <div label-tip-body>
              <div translate>The amount must be between 50 and 20000</div>
            </div>
          </label-tip>
        </form>

        <ion-spinner *ngIf="showLoading" icon="crescent"></ion-spinner>
        <ion-list *ngIf="wallet && cryptoAmount && quoteForm.valid && !showLoading">
          <ion-item>
            {{'Approximate amount' | translate}}
            <ion-note item-end>
              <span *ngIf="!wallet.coin">...</span>
              <span *ngIf="wallet.coin">
                {{ cryptoAmount }} {{ wallet.coin | uppercase }}
              </span>
            </ion-note>
          </ion-item>

          <label-tip type="warn" header="no-header">
            <div label-tip-body>
              <div translate>The final amount is based on the exchange rate when the transaction is complete</div>
            </div>
          </label-tip>
        </ion-list>
      </div>

      <form [formGroup]="formSubmission" id="formSubmission" action="https://sandbox.test-simplexcc.com/payments/new" method="post" target="_blank">
        <input type="hidden" name="version" formControlName="version">
        <input type="hidden" name="partner" formControlName="partner">
        <input type="hidden" name="payment_flow_type" formControlName="payment_flow_type">
        <input type="hidden" name="return_url_success" formControlName="return_url_success">
        <input type="hidden" name="return_url_fail" formControlName="return_url_fail">
        <input type="hidden" name="quote_id" formControlName="quote_id">
        <input type="hidden" name="payment_id" formControlName="payment_id">
        <input type="hidden" name="user_id" formControlName="user_id">
        <input type="hidden" name="destination_wallet[address]" formControlName="destination_wallet[address]">
        <input type="hidden" name="destination_wallet[currency]" formControlName="destination_wallet[currency]">
        <input type="hidden" name="fiat_total_amount[amount]" formControlName="fiat_total_amount[amount]">
        <input type="hidden" name="fiat_total_amount[currency]" formControlName="fiat_total_amount[currency]">
        <input type="hidden" name="digital_total_amount[amount]" formControlName="digital_total_amount[amount]">
        <input type="hidden" name="digital_total_amount[currency]" formControlName="digital_total_amount[currency]">
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full class="button-footer" no-low-fee type="button" [disabled]="!wallet || !quoteForm.valid || !cryptoAmount" (click)="continueToSimplex()">
      {{'Continue to Simplex' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>