<div class="recipient-header">
  <p class="recipient-header-title">RECIPIENT</p>
  <img *ngIf="isShowDelete" (click)="informDelete()" class="x-button"
    src="../../../../assets/img/recipient-component/x-{{darkThemeString}}.svg">
</div>
<div class="recipient-content-wrapper">
  <div class="recipient-content">
    <div class="transfer-to-header">
      <p class="title">Transfer to</p>
      <img (click)="openTransferToModal()" src="../../../../assets/img/recipient-component/Union-{{darkThemeString}}.svg">
    </div>
    <ion-item lines="none" class="search-address-wrapper">
      <ion-input class="transfer-to-input" [readonly]="recipient.name.length > 0"
        placeholder="Paste address here"
        [(ngModel)]="searchValue"
        [value]="recipient.name"
        (ionChange)="processInput()">
      </ion-input>
      <ion-icon src="../../../../assets/img/recipient-component/Subtract.svg" *ngIf="searchValue && searchValue.length > 0"
        slot="end" class="erase-icon" (click)="cleanSearch()">
      </ion-icon>
      <ion-icon src="../../../../assets/img/recipient-component/qr-{{darkThemeString}}.svg" *ngIf="isCordova" slot="end" class="scan-icon" (click)="openScanner()">
        </ion-icon>
    </ion-item>
    <div class="amount-header">
      <p class="title">Amount</p>
      <p class="bold-text max-text" *ngIf="isShowSendMax" (click)="sendMax()">Max</p>
    </div>
    <ion-item lines="none" class="amount-wrapper">
      <ion-input placeholder=0 type="number" [(ngModel)]="expression" (ngModelChange)="processAmount()"></ion-input>
      <span class="bold-text">{{unit}}</span>
    </ion-item>
    <p class="unit-alt-text">{{recipient.altAmountStr}} {{alternativeUnit}}</p>
  </div>

</div>