page-backup-game {
  .deleted-title {
    text-align: center;
  }
  .slide-title {
    padding: 20px;
  }
  .swiper-pagination {
    display: none;
  }
  .slide-zoom {
    height: 100%;
  }
  .password {
    background-color: color($colors, light);
    padding: 2rem;
  }
  .phrase {
    display: -webkit-box;
    background: color($colors, light);
    margin: 0 auto;
    max-width: 500px;
    min-height: 12rem;
    align-items: center;
    line-height: 170%;
    word-spacing: 10px;
  }
  .words {
    max-width: 500px;
    margin: 0 auto;
    .button {
      margin: 0.5rem;
    }
  }
  .bottom-absolute {
    ion-item-divider {
      background: none;
    }
  }
}
