page-backup-game {
  .slide-container {
    height: 100%;
    max-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-height: 550px) {
      align-items: baseline;
    }
    .slide-body {
      min-width: 80%;
    }
  }
  .deleted-title {
    text-align: center;
  }
  .slide-title {
    font-size: 14px;
    padding: 20px;
    color: color($colors, grey);
  }
  .swiper-pagination {
    display: none;
  }
  .slide-zoom {
    height: 100%;
  }
  .password {
    background-color: color($colors, light);
    padding: 2rem;
  }
  .phrase-container {
    background: white;
    margin: auto;
    border: 2px dashed #d9d9d9;
    border-radius: 3px;
    color: #192c3a;
    text-align: center;
    max-width: 500px;
    min-height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .phrase {
      padding: 2.5rem;
      font-weight: bold;
      line-height: 2;
      font-size: 16px;
      letter-spacing: 1px;
      @media (min-width: 575px) {
        font-size: 18px;
        padding: 3rem;
      }
      @media (max-height: 550px) {
        font-size: 16px;
        padding: 1rem;
      }
      .button {
        height: 3rem;
        font-size: 14px;
      }
    }
  }
  .words {
    max-width: 500px;
    margin: 0 auto;
    .button {
      height: 3rem;
      font-size: 14px;
      margin: 5px;
    }
  }
  .bottom-absolute {
    padding: 0px;
    bottom: 2rem;
    .button-footer {
      color: color($colors, primary);
      max-width: 100%;
      margin: 0;
      font-size: 1.2rem;
    }
    .footer-text {
      font-size: 12.5px;
      color: color($colors, grey);
    }
  }
}
