page-backup-game {
  .slide-container {
    height: 100%;
  }
  .deleted-title {
    text-align: center;
  }
  .slide-title {
    font-size: 16px;
    padding: 20px;
    color: color($colors, grey);
  }
  .swiper-pagination {
    display: none;
  }
  .slide-zoom {
    height: 100%;
  }
  .password {
    background-color: color($colors, light);
    padding: 2rem;
  }
  .phrase-container {
    background: white;
    margin: auto;
    border: 2px dashed #d9d9d9;
    border-radius: 3px;
    color: #192c3a;
    text-align: center;
    max-width: 500px;
    min-height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .phrase {
    padding: 1rem;
    font-weight: bold;
    line-height: 2;
    font-size: 16px;
    letter-spacing: 1px;
    }
  }
  .words {
    max-width: 500px;
    margin: 0 auto;
    .button {
      margin: 0.5rem;
    }
  }
  .bottom {
    font-size: 16px;    
    color: color($colors, grey);
    padding: 1rem;
    position: absolute;
    bottom: 2rem;
    text-align: center;
    width: 100%;
  }
}
