page-add{
  .list-button {
    padding-top: 10px;
    padding-bottom: 10px;
  
    .item-title {
      color: #001E2E;
      font-size: 16px;
      font-weight: 600;
    }
  
    .item-subtitle {
      color: rgba(0, 30, 46, 0.6);;
      font-size: 14hpx;
      white-space: normal;
    }
  
    ion-icon {
      margin-left: 3px;
      --icon-dimension: 40px;
      height: var(--icon-dimension);
      width: var(--icon-dimension);
      margin-right: 1rem;
    }
  
    ion-label{
      padding: 6px 0 !important;
    }
  }
}

