<ion-header>
  <ion-navbar>
    <ion-title>Coinbase</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'no-margin-bottom': hideSlideButton}" no-bounce>
  <ion-list *ngIf="sellRequestInfo">
    <ion-item>
      <div class="selling-label">
        <img class="selling-img" src="assets/img/sell-bitcoin.svg">
        <span>Selling</span>
      </div>
      <div class="amount-label">
        <div class="amount">{{amountUnitStr}}</div>
        <div class="alternative">
          <span *ngIf="isFiat">{{sellRequestInfo.subtotal.amount}} {{sellRequestInfo.subtotal.currency}}</span> @ ${{sellPrice.amount}} per BTC
        </div>
      </div>
    </ion-item>

    <ion-item-group class="info">
      <button ion-item detail-none (click)="showWallets()" class="wallets-list">
        <div>From</div>
        <div class="wallet">
          <ion-icon *ngIf="wallet && wallet.coin" item-start>
            <img [ngClass]="{ testnet: network === 'testnet' }" src="assets/img/currencies/{{wallet.coin}}.svg" class="icon-wallet" />
          </ion-icon>
          <div>{{wallet ? wallet.name : '...'}}</div>
          <div class="last-item" item-end>
            <button ion-button clear color="grey" icon-only>
              <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
              <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
            </button>
          </div>
        </div>
      </button>

      <ion-item>
        <ion-label stacked>Deposit into</ion-label>
        <ion-select [(ngModel)]="selectedPaymentMethodId" (ionChange)="sellRequest()">
          <ion-option *ngFor="let item of paymentMethods" [value]="item.id">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item padding-bottom>
        <ion-label stacked>At what percentage lower price would you accept to sell?</ion-label>
        <ion-select [(ngModel)]="selectedPriceSensitivity">
          <ion-option *ngFor="let item of priceSensitivity" [value]="item">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <label-tip type="info" header="no-header" *ngIf="selectedPriceSensitivity">
        <div label-tip-body>
          Coinbase has not yet implemented an immediate method to sell bitcoin from a wallet. To make this sale, funds will be sent to your Coinbase account, and sold when Coinbase accepts the transaction (usually one hour).
          <br>
          <div *ngIf="sellRequestInfo">
            Estimated sale value:
            <strong>
              {{sellRequestInfo.total.amount | currency : '' : 2}} {{sellRequestInfo.total.currency}}
            </strong>
          </div>
          <div *ngIf="sellRequestInfo">
            Still sell if price fall until:
            <strong>
              {{(sellRequestInfo.total.amount - (selectedPriceSensitivity.value / 100) * sellRequestInfo.total.amount) | currency : '' : 2}} {{sellRequestInfo.total.currency}}
            </strong>
          </div>
        </div>
      </label-tip>

      <ion-item-divider>
        Transaction details
      </ion-item-divider>
      <ion-item>
        Amount
        <ion-note item-end>
          {{sellRequestInfo.subtotal.amount}} {{sellRequestInfo.subtotal.currency}}
        </ion-note>
      </ion-item>
      <ion-item *ngIf="sellRequestInfo.fee">
        Fee
        <ion-note item-end>
          {{sellRequestInfo.fee.amount}} {{sellRequestInfo.fee.currency}}
        </ion-note>
      </ion-item>
      <ion-item *ngFor="let fee of sellRequestInfo.fees">
        <span>
          {{fee.type}} fee
        </span>
        <ion-note item-end>
          <span *ngIf="fee.amount.amount != '0.00'">-</span> {{fee.amount.amount}} {{fee.amount.currency}}
        </ion-note>
      </ion-item>
      <ion-item>
        Total to receive
        <ion-note item-end>
          {{sellRequestInfo.total.amount}} {{sellRequestInfo.total.currency}}
        </ion-note>
      </ion-item>
      <ion-item-divider></ion-item-divider>

    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <page-slide-to-accept #slideButton *ngIf="isCordova" [disabled]="!selectedPaymentMethodId || !sellRequestInfo || !wallet" buttonText="Slide to confirm" (slideDone)="sellConfirm()" [ngClass]="{'slide-confirm-fast slide-confirm-down': hideSlideButton, 'slide-confirm-slow': !hideSlideButton}"></page-slide-to-accept>
  <ion-toolbar *ngIf="!isCordova">
    <button ion-button full class="button-footer" (click)="sellConfirm()" [disabled]="!selectedPaymentMethodId || !sellRequestInfo || !wallet">Confirm sale</button>
  </ion-toolbar>
</ion-footer>