page-backup-request {
  @extend %onboarding;
  & > ion-content {
    background-image: $onboarding-background-image;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  text-align: center;
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  p {
    line-height: 1.6;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .description{
    color: rgba(255, 255, 255, 0.5);
  }
  #arrow-down {
    font-size: 4.2rem;
    color: color($colors, primary);
  }
  .cta-buttons{
    padding-bottom: 4vw;
  }
  .alert-icon {
    margin: 20px auto 5px;
    height: 10vh;
  }
}
