page-backup-request {
  & > ion-content {
    background-image: $onboarding-background-image;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  text-align: center;
  .title {
    color: color($colors, blank);
  }
  .top-description {
    font-size: 1.4rem;
    padding: 0 2rem 0 2rem;
    color: $onboarding-comment-color
  }
  .bottom-description {
    font-size: 1.4rem;
    color: color($colors, blank);
    padding: 0 2rem 0 2rem;
    margin-top: 0rem;
  }
  .arrow-down {
    font-size: 7rem;
    color: color($colors, primary);
    @media(max-height: 560px) and (max-width: 430px) {
      display: none;    
    }
  }
  .alert-icon {
    margin: 20px auto 0px;
    height: 15vh;
  }
  .primary-color {
    color: $onboarding-primary-color
  }
  .bottom-absolute {
    padding: 15px 15px 0px 15px;
  }
}
