page-backup-request {
  .buttons {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 15px 15px 4vh 15px;
  }
  .header {
    margin: 5vh 3vh;
    text-align: center;
    font-size: 3vh;
    img {
      width: 50px;
    }
  }
}
