page-backup-request {
  & > ion-content {
    background-image: $onboarding-background-image;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  text-align: center;
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  .title {
    color: color($colors, blank);
  }
  .top-description {
    font-size: 1.4rem;
    padding: 0 4rem 0 4rem;
    color: $onboarding-comment-color
  }
  .bottom-description {
    font-size: 1.4rem;
    color: color($colors, blank);
    padding: 0 4rem 0 4rem;
  }
  .arrow-down {
    font-size: 8rem;
    color: color($colors, primary);
  }
  .alert-icon {
    margin: 20px auto 5px;
    height: 10vh;
  }
  .primary-color {
    color: $onboarding-primary-color
  }
}
