.confirm-modal-header {
  background: green;
  padding: 1rem;
  border-radius: 12px 12px 0 0;
  min-height: 120px;
}
.confirm-modal-content {
  text-align: center;
  height: 65%;
  overflow-y: scroll;
  padding: 1rem;
  display: flex;
  align-items: center;
  .confirm-modal-heading {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .confirm-modal-message {
    padding: 1.5rem;
    font-size: 1.6rem;
  }
  button {
    padding-top: 2rem;
    background: none;
    font-size: 1.6rem;
  }
}

