/*
 *
 * Copay applet CSS
 *
 */

.applet-content {
  position: absolute;
	top: 0;
  left: 0;
	bottom: 0;
  width: 100%;
}

.applet-modal { 
  width: 90%;
  min-height: 0 !important;
  height: 90% !important;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.button-applet-header .icon:before, .button-applet-header.icon:before {
  font-size: 20px !important;
}

/* Start of Ionic modifications. */
/*
 * Allow the applet-content div to fill the modal space.
 * See https://forum.ionicframework.com/t/fill-content-container/605/11
 */
.scroll-content > .scroll {
  height: 100%;
}

/*
 * Allow the ion-nav-bar to be colored using ng-style.
 * See http://codepen.io/brandyshea/pen/ZGQmYP
 */
/*
.nav-bar-block, .bar {
  background: inherit !important;
  border: inherit !important;
}

.nav-bar-block, .bar, .title {
  color: inherit !important;
}

.bar .title {
  font-size: 14px;
}
*/
/*
 * Fix modal backdrop for smaller devices
 * See http://loring-dodge.azurewebsites.net/ionic-nifty-modal/
 */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
/* End of Ionic modifications. */
