@font-face {
	font-family: 'icomoon';
	src:url("../font/icomoon.eot");
	src:url("../font/icomoon.eot?#iefix") format('embedded-opentype'),
		url("../font/icomoon.woff") format('woff'),
		url("../font/icomoon.ttf") format('truetype'),
		url("../font/icomoon.svg#icomoon") format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle:before {
	content: "\e62c";
}

.icon-plus-circle:before {
	content: "\e62d";
}

.icon-close-circle:before {
	content: "\e62e";
}

.icon-checkmark-circle:before {
	content: "\e62b";
}

.icon-circle:before {
	content: "\e629";
}

.icon-circle-active:before {
	content: "\e627";
}

.icon-scan:before {
	content: "\e62a";
}

.icon-trash:before {
	content: "\e626";
}

.icon-wallet:before {
	content: "\e622";
}

.icon-history:before {
	content: "\e623";
}

.icon-reference:before {
	content: "\e621";
}

.icon-bell:before {
	content: "\e61c";
}

.icon-trash:before {
	content: "\e626";
}

.icon-wallet:before {
	content: "\e622";
}

.icon-history:before {
	content: "\e623";
}

.icon-reference:before {
	content: "\e621";
}

.icon-bell:before {
	content: "\e61c";
}

.icon-receive:before {
	content: "\e625";
}

.icon-wrench:before {
	content: "\e61d";
}

.icon-download:before {
	content: "\e61e";
}

.icon-upload:before {
	content: "\e61f";
}

.icon-power:before {
	content: "\e620";
}

.icon-forward:before {
	content: "\e624";
}

.icon-compose:before {
	content: "\e610";
}

.icon-contact:before {
	content: "\e611";
}

.icon-email:before {
	content: "\e612";
}

.icon-gear:before {
	content: "\e613";
}

.icon-home:before {
	content: "\e614";
}

.icon-locked:before {
	content: "\e615";
}

.icon-paperplane:before {
	content: "\e617";
}

.icon-people:before {
	content: "\e618";
}

.icon-person:before {
	content: "\e619";
}

.icon-pricetag:before {
	content: "\e61a";
}

.icon-pricetags:before {
	content: "\e61b";
}

.icon-bitcoin:before {
	content: "\e60f";
}

.icon-usd:before {
	content: "\e616";
}

.icon-erase:before {
	content: "\e628";
}

.icon-receive2:before {
	content: "\e62f";
}

.icon-arrow-left:before {
	content: "\e600";
}

.icon-arrow-down:before {
	content: "\e601";
}

.icon-arrow-up:before {
	content: "\e602";
}

.icon-arrow-right:before {
	content: "\e603";
}

.icon-arrow-left2:before {
	content: "\e604";
}

.icon-arrow-down2:before {
	content: "\e605";
}

.icon-arrow-up2:before {
	content: "\e606";
}

.icon-arrow-right2:before {
	content: "\e607";
}

.icon-arrow-left3:before {
	content: "\e608";
}

.icon-arrow-down3:before {
	content: "\e609";
}

.icon-arrow-up3:before {
	content: "\e60a";
}

.icon-arrow-right3:before {
	content: "\e60b";
}

.icon-arrow-left4:before {
	content: "\e60c";
}

.icon-arrow-down4:before {
	content: "\e60d";
}

.icon-arrow-up4:before {
	content: "\e60e";
}
