/*
 *
 * Ionic migration CSS
 * These styles reapply foundation.css styles AFTER iconic.css has been applied.
 * This has the effect of allowing all foundation styles be available at the same time as all Ionic styles being available.
 * Where there are conflicts between foundation and css, this file resolves the conflict with a compromise which the developer must manage.
 * This stylesheet is merged into copay.css.
 */

/* Foundation.css styles re-applied.  These styles are exactly as described in foundation.css */


/* Conflicting styles that are customized as a compromise. These styles are a merge or compromise of foundation.css and ionic.css. */

.row {
	display: inherit;
}

.behind {
	z-index: -1;
}

.bar {
 border-bottom: none;
}

.ng-hide.ng-hide-animate {
	display: none !important;
}

.bar .title {
	font-size: 14px;
	line-height: 48px;
}

.radio-label {
	text-transform: none;
	font-weight: 400;
	font-size: 14px;
}

.item-radio .radio-icon {
	font-size: 16px;
}

.popover, .popover .bar-header {
	border-radius: 10px;
}

.popover {
	height: auto;
	width: 200px;
}

.popup-container.active .popup {
	border-radius: 10px;
}

.popup-container .popup {
	width: 300px;
}

.popup-head {
	display: none;
}

.popup-body {
	padding: 0px;
}

.bct {
 	background-color: transparent !important;
  margin-bottom: 15px !important;
}

.r0 {
	right: 0px !important;
}

.item {
  margin: 0;
  border: none;
  border-bottom: 1px solid #E9E9EC;
}

.toggle-label {
	color: rgb(41, 55, 68);
	font-size: 14px;
}

.button.button-light:hover {
	background-color: #fff;
	border: 1px solid #E9E9EC;
}

.button.button-light:active {
	background-color: #ababab;
	border: 1px solid #E9E9EC;
}

.button.button-stable:hover {
	background-color: transparent;
	border: 1px solid #E9E9EC;
}

.button.button-stable:active {
	background-color: #ababab;
	border: 1px solid #E9E9EC;
}

.button-amount {
	text-transform: none;
}

button, .button {
	min-width: inherit;
  min-height: inherit;
  text-overflow: inherit;
}

.modal-open {
  pointer-events: inherit;
}

/* Defeat Ionic .row+.row in transaction history */
.last-transactions-content+.last-transactions-content, .row+.last-transactions-content {
  padding: 0.8rem 1rem;
  cursor: pointer;
  margin: inherit;
}

/* Add margins to the session log */
.row.columns.large-centered.medium-centered {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

/* Defeat Ionic .row+.row in backup failed view */
.backup .row {
  margin-top: 10px;
  padding: 0;
}

.create-tab .row {
  padding: 0;
}

/* Override the default modal size for large devices */
@media (min-width: 680px) {
  .modal {
    top: 10%;
    right: 20%;
    bottom: 10%;
    left: 20%;
    min-height: 240px;
    width: 60%;
  }
}
