/*
 *
 * Copay mobile CSS
 *
 */

@media (max-width: 1024px) {

  /* disabling text selection */
  body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }

  * {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
  }
  /* END disabling text selection */

  .inner-wrap {
    -webkit-transition-duration: 250ms; 
    transition-duration: 250ms; 
  }

  body {
    overflow: hidden;
    -ms-content-zooming: none; 
  } 

  .loading-screen {
    background-color: #2C3E50;
  }

  .logo-setup {
    margin: 0 0 1rem 0;
  }

  .sidebar {
    display: none;
  }

  .page, .main, .setup-page {
    height: 100%;
  }

  .main {
    margin-left: 0;
    padding: 60px 0 80px 0;
  }

  /* Fix IE 10 */
  .extra-margin-bottom {
    display: block
    height: 75px
    overflow: hidden
    clear: both
  }
  
  .main {
    height: 99%
    overflow: auto
  }
  
  /* Fix IE 11 */
  _:-ms-fullscreen, :root .extra-margin-bottom {
    display: block;
    height: 75px;
    overflow: hidden;
    clear: both;
  }
  
  _:-ms-fullscreen, :root .main {
    height: 99%;
    overflow: auto;
  }

  /* Fix Firefox */
  @-moz-document url-prefix() {
    .extra-margin-bottom {
      display: block;
      height: 75px;
      overflow: hidden;
      clear: both;
    }
  }

  .tab-bar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #2C3E50;
  }

  .bottom-bar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background: #2C3E50;
  }

  .home, .settings, .createProfile, .import-profile {
    overflow: hidden;
    padding: 1rem 0;
  }

  .modal-mobile {
    padding: 20px .5rem;
  }

  .reveal-modal {
    padding: 0;
  } 

  .reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
    padding: 0.8rem;
    position: relative;
    background: #E4E8EC;
    top: 0;
    right: 0;
    line-height: 0;
    color: #7A8C9E;
    border-radius: 3px;
  }

  header {
    background-color: #2C3E50;
    height: 120px;
    width: 100%;
    line-height: 110%;
    padding: 1rem;
  }

  header .photo-container {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
  }

  header h1 {
    color: #fff;
    text-align: center;
  }

  .amount {
    background-color:  #F1F3F5;
    width: 100%;
    text-align: center;
    padding: 2.4rem 1rem;
    margin-bottom: 15px;
  }

  .scroll-section {
    position: absolute;
    top: 120px;
    overflow-y: auto;
  }

  .col2 {
    width: 180px;
  }

  .col2 a.wallet-item {
    padding: 0.15rem 0 0.3rem;
  }

  .col3 a {
    height: 45px;
    padding: 12px 5px;
  }

  .status {
    bottom: 65px;
    left: 0;
  }

  .right-off-canvas-menu {
    background-color: #213140 ;
  }

  .left-off-canvas-menu {
    background: #E4E8EC;
    line-height: 24px;
  }

  .off-canvas-wrap,.inner-wrap{
    height:100%;   
  }

  .home-wallet .avatar-wallet {
    padding: 1.7rem;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -43px;
    font-size: 35px;
    border: 3px solid #fff;
  }

  .home-wallet .wallet-info {
    margin-left: 100px;
  }
  
  .copayers {
    position: relative;
    padding: 0;
    overflow-y: none;
  }

  ul.copayer-list img {
    width: 30px;
    height: 30px;
  }

  .hide-tab-bar {
    display: none;
  }

  .tab-bar h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
  }

  ul.off-canvas-list li a {
    font-size: 12px;
    vertical-align: middle;
    font-weight: 100;
    border-bottom: transparent;
    padding: 0.66667rem 1rem;
    color: #7A8C9E;
    border-top: 1px solid rgba(255,255,255,0.25);
    -moz-box-shadow: none;
    box-shadow: none;
  }

  ul.off-canvas-list li a i {
    vertical-align: middle;
  }

  ul.off-canvas-list li a.wallet-item {
    border: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
  }

  ul.off-canvas-list li a i {
    opacity: 0.6;
  }

  .buttons-sidebar {
    color: #4B6178;
  }

  .buttons-sidebar .col1 i {
    background-color: #fff;
    color: #4B6178;
  }

  .bottombar-item a {
    color: #7A8C9E;
    padding: 0.5rem 0;
    display: block;
    border-bottom: 3px solid transparent;
  }

  .bottombar-item a.active {
    color: #E4E8EC;
    background-color: #213140;
    border-bottom: 3px solid #1ABC9C;
  }

  .box-founds {
    background-color: #213140;
  }

  .left-small {
    border-right: none;
  }

  .right-small {
    border-left: none;
  }

  .right-small a, .left-small a {
    color: white;
  }

  .panel.last-transactions {
    margin-bottom: 3.25rem;
  }

  .addresses .list-addr contact {
    margin-left: 0;
    font-size: 14px;
  }
  
  a.missing-copayers {
    bottom: -34px;
    text-align: center;
    padding: .7rem;
    width: 100%;
  }

  .button, button {
    padding: 1rem 1.2rem 1.0625rem;
  }

  .box-setup {
    margin-bottom: 50px;
  }

  .footer-setup {
    margin-bottom: 50px;
  } 

  .label {
    font-size: 80%;
    padding: 0.15rem 0.2rem;
  }

  .sidebar-mobile-wallets {
    background: #E4E8EC;
  }

  .sidebar-mobile-wallets .avatar-wallet {
    margin-top: 5px;
  }

  .sidebar-mobile-wallets li {
    overflow: hidden;
    padding:.6rem 0.4rem;
    border-bottom: 1px solid #DDE2E7;
  }

  .sidebar-mobile-wallets li.nav-item.selected {
    background-color: #fff;
  } 

  /* 
   * Remove all vendors hover / shadow / fade 
   */

  .tooltip {
    display: none !important;
  }

  .move-right .exit-off-canvas,
  .move-left .exit-off-canvas {
    box-shadow: none;
  }

  ul.off-canvas-list li a:hover {
    background: none;
  }

  .side-nav li a:not(.button) {
    padding: 0;
  }

  a, button, .button, input, textarea, select, .reveal-modal {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

  .modal.fade {
    opacity: 1;
  }

  .modal.fade .modal-dialog, .modal.in .modal-dialog, .reveal-modal-bg {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .move-right .close-menu {
    cursor: pointer;
    box-shadow: none;
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
  }

  /*******************************************/

  .pin {
    margin: 0 auto;
    width: 35%;
    text-align: center;
    overflow: hidden;
  }

  .pin-box {
    color: #fff;
    font-size: 14px;
    width: 25%;
    float: left;
  }

  .pin-numbers {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 72%;
    margin-bottom: 1.5%;
  }

  .pin-button-bar {
    height: 25%;
  }

  a.pin-button {
    margin: 2.5%;
    display: inline-block;
    color: #CED5DC;
    font-size: 210%;
    font-weight: 100;
    border: 1px solid #4B6178;
    border-radius: 100%;
    width: 70px;
    padding-top: 1rem;
    height: 70px;
  }

  a.pin-button:active {
    color: #fff;
    background-color: #3E5367;
  }

  .icon-circle, .icon-circle-active {
    color:  #1ABC9C;
  }

  .tab-bar {
    position: relative;
  }

}

@media (max-width: 640px) {

  .tab-bar {
    position: absolute;
  }

  .modal-mobile {
    padding: 60px 0.5rem;
  }

  .tx-comment {
    border-top: 1px solid #eee;    
    padding-top: 10px;
    margin-top: 10px;
  }

  .reveal-modal {
    border: none;
  }

  .reveal-modal-bg {
    position: absolute;
    height: 0;
    width: 0;
    background: none;
    display: none;
    top: 0;
    left: 0;
  }

  /* notifications */

  .dr-notification {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1.5px solid #D6DBE0;
  }

  .dr-notification-container {
    width: 100%;
  }

  .dr-notification-container.top {
    top: 2.813rem;
  }

  .dr-notification-wrapper {
    width: 100%;
    margin: 0;
  }

  .dr-notification-close-btn {
    font-size: 20px;
  }

  .dr-notification-image {
    font-size: 30px;
  }

  .dr-notification-text {
    font-size: 12px;
    line-height: 120%;
  }

}

