
/*
 *
 * Copay mobile CSS
 *
 */

/* disabling text selection */
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none !important;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

* {
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.fix-modals-touch {
  -webkit-overflow-scrolling: auto;
}

.enable_text_select {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* END disabling text selection */

.inner-wrap {
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

body {
  overflow: hidden;
  -ms-content-zooming: none;
  /* removes 300ms in IE */
  -ms-touch-action: manipulation; /* IE10 */
  touch-action: manipulation; /* IE11+ */
}

/* Fix IE 10 */
.extra-margin-bottom {
  display: block
  height: 75px
  overflow: hidden
  clear: both
}

.main {
  height: 99%
  overflow: auto
}

/* Fix IE 11 */
_:-ms-fullscreen, :root .extra-margin-bottom {
  display: block;
  height: 75px;
  overflow: hidden;
  clear: both;
}

_:-ms-fullscreen, :root .main {
  height: 99%;
  overflow: auto;
}

/* Fix Firefox */
@-moz-document url-prefix() {
  .extra-margin-bottom {
    display: block;
    height: 45px;
    overflow: hidden;
    clear: both;
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@viewport {
  width:320px;
}

@-ms-viewport {
  width:320px;
  zoom-user:fixed;
  max-zoom:1;
  min-zoom:1;
}

.disable-user-behavior {
  -ms-touch-action: cross-slide-y !important;
  touch-action: cross-slide-y !important;
}
