wallet-item {
  &.sliding-container {
    height: auto;
    margin: -4px auto;
  }

  button.item {
    &.activated {
      background-color: $feather;
    }
  }

  .primary-text {
    color: black;
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .wallet-name {
    margin-bottom: 2px;
  }

  .secondary-text {
    color: #aaaeb6;
    font-size: 14px;
  }

  .testnet {
    filter: grayscale(100%);
  }

  .item-inner {
    text-align: right;
  }

  .action {
    &.button.button-default {
      padding: 0;
    }

    &--receive {
      background-color: #edf7f9;

      &.activated,
      &:hover:not(.disable-hover) {
        background-color: #e8f4f7;
      }
    }

    &--send {
      background-color: #eff1fe;

      &.activated,
      &:hover:not(.disable-hover) {
        background-color: #e9ebf9;
      }
    }

    &__icon {
      img {
        height: 35px;
      }
    }

    &__text {
      color: #434d59;
      font-size: 14px;
      font-weight: 500;
      margin-top: 3px;
    }
  }

  ion-item-sliding.item-wrapper button.item.item-block {
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.03);
  }

  label-tip {
    margin-top: 12px;
    width: calc(92% - 10px);
    left: calc(4% + 5px);
  }
}
