page-buy-mercado-libre {
  .mercado-libre-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    img {
      width: 3.5rem;
      margin-right: 1.5rem;
    }
  }
  .amount-label {
    margin-bottom: 5rem;
    .amount {
      font-size: 38px;
      margin-bottom: .5rem;
    }
  }

  .wallets-list {
    .wallet {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .icon-wallet {
        background-color: color($colors, primary);
        margin-right: 1rem;
      }
    }
  }

  .last-item{
    margin-left: auto !important;
  }
}
