expandable-header {
  margin-top: 0.5rem;
  .card-title {
    font-weight: 400;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
  }
}
ion-title {
  text-transform: uppercase;
}
.price-wraper {
  margin: 1rem;
  overflow: hidden;
  border-radius: 12px;
  background: var(--bg-color-inner-item-light-theme);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 4px 10px rgba(0, 0, 0, 0.04);
}

.total-amount-container {
  padding: 1rem;

  .section-header {
    margin: 0;
    display: none
  }

  .total-amount-value {
    transition: opacity 350ms ease 0s;
    color: #000000;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
  }

  .negative-avg {
    color: #cf2f32;
    border-radius: 50vh;
  }

  .possitive-avg {
    color: #2fcfa4;
    border-radius: 50vh;
  }

  .average {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  .percent {
    margin-left: .5rem;
    background-color: transparent;
    transition: opacity 350ms ease 0s;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}

.labels {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 0 1rem;
}


.footer-price {
  margin-top: -47px;

  ion-chip {
    padding: 4px 2rem;
  }
  .active,
  .inactive {
    ion-label {
      font-size: 12px;
    }
  }
  .active {
    ion-label {
      color: var(--color-primary);
    }
    background: linear-gradient(0deg, rgba(0, 101, 141, 0.14), rgba(0, 101, 141, 0.14)), #FAFAFB;
  }

  .inactive {
    ion-label {
      color: rgba(0, 30, 46, 0.6);
    }
    background: transparent;
  }
}

.donation-footer {
  ion-button {
    margin-top: 1rem;
  }
}