page-select-currency {
  ion-content {
    height: calc(100% - 200px) !important;
  }

  .list-button {
    --padding-start: 1rem !important;
    --padding-end: 1rem !important;
    --inner-padding-top: 1rem;
    --inner-padding-bottom: 1rem;
    --inner-padding-end: 0;
    padding: 0;
    margin-top: 0 !important;

    ion-icon {
      margin: 0;
      padding: 0;
      margin-right: 1rem;
      height: 40px;
      width: 40px;
    }

    .item-title {
      font-size: 18px;
      font-weight: 500;
      h3{
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }
      span{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 30, 46, 0.6);
      }
    }

    .item-note {
      font-size: 12.5px;
      padding-top: 4px;
      color: lightgrey;
    }
  }

  .list-subtitle {
    padding-left: 20px;
  }
}