<action-sheet>
  <ion-list class="bp-list" *ngIf="type === 'bitcoinAddress' || type === 'ethereumAddress' || type === 'rippleAddress'">
    <ion-item-divider *ngIf="coinName">{{'{coinName} Address' | translate: { coinName: coinName } }}</ion-item-divider>
    <ion-item>
      {{data}}
      <ion-icon item-start>
        <img src="assets/img/icon-{{coin}}-small.svg" alt="Coin">
      </ion-icon>
    </ion-item>
    <button ion-item (click)="close('AddressbookAddPage', data)">
      <ion-icon item-start>
        <img src="assets/img/icon-contacts.svg">
      </ion-icon>
      <span translate>Add as a contact</span>
    </button>
    <button ion-item (click)="close('AmountPage', data)">
      <ion-icon item-start>
        <img src="assets/img/icon-send-alt.svg">
      </ion-icon>
      <span translate>Send payment to this address</span>
    </button>
    <button ion-item copy-to-clipboard="{{ data }}">
      <ion-icon item-start>
        <img src="assets/img/icon-paperclip.svg">
      </ion-icon>
      <span translate>Copy to clipboard</span>
    </button>
  </ion-list>

  <ion-list class="bp-list" *ngIf="type === 'text'">
    <ion-item-divider>{{'Text' | translate}}</ion-item-divider>
    <ion-item>
      {{data}}
    </ion-item>
    <button ion-item copy-to-clipboard="{{ data }}">
      <ion-icon item-start>
        <img src="assets/img/icon-paperclip.svg">
      </ion-icon>
      <span translate>Copy to clipboard</span>
    </button>
  </ion-list>

  <ion-list class="bp-list" *ngIf="type === 'privateKey'">
    <ion-item-divider>{{'Private Key' | translate}}</ion-item-divider>
    <ion-item>{{data}}</ion-item>
    <button ion-item (click)="close('PaperWalletPage', data)">
      <ion-icon item-start>
        <img src="assets/img/icon-import.svg">
      </ion-icon>
      <span translate>Sweep paper wallet</span>
    </button>
    <button *ngIf="!fromHomeCard" ion-item copy-to-clipboard="{{ data }}">
      <ion-icon item-start>
        <img src="assets/img/icon-paperclip.svg">
      </ion-icon>
      <span translate>Copy to clipboard</span>
    </button>
  </ion-list>

  <button ion-button clear color="danger" class="button-standard" (click)="close(null, null)">
    {{'Close' | translate}}
  </button>
</action-sheet>