@mixin center-block($topBottom: 0) {
  float: none;
  margin: $topBottom auto;
}

@mixin absolute-center() {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.center-block {
  @include center-block();
}

.absolute-center{
  @include absolute-center();
}

.scroll {
  padding-top: 20px;
}

.button.disabled, .button[disabled] {
  opacity: 0.3;
}
