page-bitpay-card-topup {
  .bitpay-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    img {
      width: 3.5rem;
      margin-right: 1.5rem;
    }
    ion-note.note {
      background: #f4f5fb;
      color: #565d6d;
      font-weight: 300;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 14px;
      margin: 0 5px;
    }
  }
  .bp-list {
    .sub-title {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }
    .item {
      &.item-ios,
      &.item-md {
        padding-left: 19px;
        .item-inner {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }
  .item-img {
    &.info {
      padding-left: 10px;
    }
  }
  .amount-label {
    margin-bottom: 5rem;
    .amount {
      font-size: 38px;
      margin-bottom: 0.5rem;
    }
    .alternative {
      font-size: 12px;
      color: color($colors, grey);
    }
  }
  .line-divider {
    margin: 0px 17px;
  }
  .last-item {
    margin-left: auto !important;
  }

  .info .item-info {
    display: flex;
    align-items: center;
    ion-icon {
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .container-from {
    .wallet {
      @include row-flex;
    }
    &.not-clickable {
      pointer-events: none;
    }
  }
}
