page-bitpay-card-topup {
  ion-content {
    .fixed-content, .scroll-content {
      margin-bottom: 70px;
    }
  }
  .bitpay-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    img {
      width: 3.5rem;
      margin-right: 1.5rem;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
    }
  }
  .amount-label {
    margin-bottom: 5rem;
    .amount {
      font-size: 38px;
      margin-bottom: .5rem;
    }
    .alternative {
      font-size: 12px;
      color: color($colors, grey);
    }
  }
  .wallets-list {
    .wallet {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .icon-wallet {
        background-color: color($colors, primary);
        margin-right: 1rem;
      }
    }
  }
  
  .last-item{
    margin-left: auto !important;
  }
}
