merchant-page {
  .wrapper,
  .content {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .cover {
    height: 69px;
    background-image: linear-gradient(180deg, #ffffff 0%, #f7f8fd 97%);

    img {
      transform: translateY(32px) translateX(27px);
      height: 72px;
      width: 72px;
    }
  }

  .body {
    flex-grow: 1;
    padding: 28px;
    padding-top: 45px;

    > * {
      margin: 20px 0;
    }

    .section-divider {
      width: 100%;
      margin: 25px auto;
    }

    &__title {
      color: #000000;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.3;
    }

    &__subtitle {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
    }

    &__discount {
      font-weight: 500;
      font-size: 16px;
    }

    &__caption,
    &__instructions {
      font-size: 16px;
      color: #565d6d;
    }
  }

  .footer {
    margin-bottom: 30px;

    button {
      .button-inner {
        display: flex;

        img {
          margin-right: 12px;
          transform: translateY(-1px);
        }

        > span {
          line-height: 1.2;
        }
      }
    }
  }
}
