page-mercado-libre {
  .box-notification.warning {
    background: #ffc900;
    margin: 0rem;
  }
  .container {
    height: 100%;
  }
  .center-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .logo {
      display: inline-block;
      margin-bottom: 1em;
      img {
        max-width: 170px;
      }
    }
    .description {
      opacity: .6;
      max-width: 300px;
    }
    .button-standard{
      display: inline-block;
    }
  }

  .integration-giftCard {
    &-logo {
      width: 100%;
      display: inline-block;
      padding: 1em;
      text-align: center;
      img {
        max-width: 200px;
        margin-top: 1rem;
      }
      .subtitle {
        margin-top: 0.5rem;
        color: #bbbbbb;
      }
    }
  }

  .mercado-libre-card {
    display: flex;
    align-items: center;
    .avatar {
      width: 40px;
      border-radius: 5rem;
    }
    .card-info {
      padding-left: 1rem;
      font-size: 12px;
      width: 100%;
      .amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
