<ion-header>

  <ion-navbar>
    <ion-title>{{'Send' | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content no-bounce>
  <div *ngIf="hasBtcWallets || hasBchWallets">
    <ion-searchbar placeholder="Search or enter bitcoin address" [(ngModel)]="search" (ngModelChange)="findContact(search)"></ion-searchbar>

    <div *ngIf="filteredContactsList && filteredContactsList[0]">
      <ion-item-divider>
        <span translate>Transfer to Contact</span>
      </ion-item-divider>
      <ion-list>
        <button ion-item *ngFor="let item of filteredContactsList" (click)="goToAmount(item)">
          <ion-icon item-start>
            <gravatar [name]="item.name" [width]="30" [email]="item.email"></gravatar>
          </ion-icon>
          <h2>{{item.name}}</h2>
        </button>
        <button ion-item class="show-more" *ngIf="contactsShowMore" (click)="showMore()">
          <h2 translate>Show all</h2>
        </button>
      </ion-list>
    </div>

    <div *ngIf="walletBtcList && walletBtcList[0]">
      <ion-item-divider class="title">
        <img src="assets/img/icon-bitcoin.svg" alt="Bitcoin Wallets" width="16" />
        <span translate>Transfer to Bitcoin Wallet</span>
      </ion-item-divider>

      <ion-list>
        <button ion-item *ngFor="let wallet of walletBtcList" (click)="goToAmount(wallet)">
          <ion-icon item-start>
            <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg"
              class="icon-wallet" />
            <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg"
              class="icon-wallet" />
          </ion-icon>
          <h2>{{wallet.name}}
            <span *ngIf="wallet.m > 1">{{wallet.m}}-{{wallet.n}}</span>
          </h2>
        </button>
      </ion-list>
    </div>

    <div *ngIf="walletBchList && walletBchList[0]">
      <ion-item-divider class="title">
        <img src="assets/img/bitcoin-cash-logo.svg" alt="Bitcoin Cash Wallets" width="22" />
        <span translate>Transfer to Bitcoin Cash Wallet</span>
      </ion-item-divider>

      <ion-list>
        <button ion-item *ngFor="let wallet of walletBchList" (click)="goToAmount(wallet)">
          <ion-icon item-start>
            <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg"
              class="icon-wallet" />
            <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg"
              class="icon-wallet" />
          </ion-icon>
          <h2>{{wallet.name}}
            <span *ngIf="wallet.m > 1">{{wallet.m}}-{{wallet.n}}</span>
          </h2>
          <p></p>
        </button>
      </ion-list>
    </div>
  </div>
  <div *ngIf="!hasBtcWallets && !hasBchWallets" class="no-wallet-message">
    <span translate>To get started, you'll need to create a bitcoin wallet and get some bitcoin.</span>
  </div>
</ion-content>
