<ion-header class="wallet-details-header">
  <ion-navbar [navbar-bg]="wallet.color">
    <!-- <ion-buttons left>
      <button class="modal-close-button" (click)="close()" ion-button>
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>{{'Sending' | translate}}</ion-title>
    <ion-buttons right>
      <button class="modal-close-button" (click)="close()" ion-button>
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar [navbar-bg]="wallet.color">
    <div class="wallet-details-header__balance">{{fiatAmount || amount}} {{fiatCode || coin}}</div>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div *ngIf="hasBtcWallets || hasBchWallets">
    <div class="send-header-wrapper">
      <span class="send-heading" translate>Recipient</span>
      <ion-item class="search-wrapper">
        <ion-icon item-start class="bitcoin-icon" name="search-btc"></ion-icon>
        <ion-input placeholder="{{'Search or enter bitcoin address' | translate}}" [(ngModel)]="search" (ngModelChange)="findContact(search)"></ion-input>
        <ion-icon item-end class="scan-icon" (click)="openScanner()">
          <img src="assets/img/scan-ico.svg">
        </ion-icon>
      </ion-item>
    </div>

    <div class="card" *ngIf="filteredContactsList && filteredContactsList[0]">
      <ion-item-divider>
        <span class="title" translate>Transfer to Contact</span>
      </ion-item-divider>
      <ion-list>
        <button ion-item *ngFor="let item of filteredContactsList" (click)="goToAmount(item)">
          <ion-icon class="item-img" item-start>
            <gravatar [name]="item.name" [width]="35" [height]="35" [email]="item.email"></gravatar>
          </ion-icon>
          <div class="item-title">{{item.name}}</div>
        </button>
        <button ion-item class="show-more" *ngIf="contactsShowMore" (click)="showMore()">
          <span translate>Show all</span>
        </button>
      </ion-list>
    </div>

    <div class="card" *ngIf="walletBtcList && walletBtcList[0]">
      <ion-item-divider class="title">
        <img src="assets/img/icon-bitcoin.svg" alt="Bitcoin Wallets" width="16" />
        <span translate>Transfer to Bitcoin Wallet</span>
      </ion-item-divider>

      <ion-list>
        <button ion-item *ngFor="let wallet of walletBtcList" (click)="goToAmount(wallet)">
          <ion-icon class="item-img" item-start>
            <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg"
              class="icon-wallet" />
            <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg"
              class="icon-wallet" />
          </ion-icon>
          <span class="item-title">{{wallet.name}}</span>
          <ion-note class="wallet-warning" *ngIf="!wallet.isComplete" item-end>
            {{'Incomplete' | translate}}
          </ion-note>
          <ion-note class="wallet-warning" *ngIf="wallet.isComplete && wallet.needsBackup" item-end>
            {{'Needs backup' | translate}}
          </ion-note>
          <ion-note *ngIf="wallet.m > 1 && wallet.isComplete && !wallet.needsBackup" item-end>
            {{wallet.m}}-{{wallet.n}}
          </ion-note>
        </button>
      </ion-list>
    </div>

    <div class="card" *ngIf="walletBchList && walletBchList[0]">
      <ion-item-divider class="title">
        <img src="assets/img/bitcoin-cash-logo.svg" alt="Bitcoin Cash Wallets" width="22" />
        <span translate>Transfer to Bitcoin Cash Wallet</span>
      </ion-item-divider>

      <ion-list>
        <button ion-item *ngFor="let wallet of walletBchList" (click)="goToAmount(wallet)">
          <ion-icon class="item-img" item-start>
            <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg"
              class="icon-wallet" />
            <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg"
              class="icon-wallet" />
          </ion-icon>
          <span class="item-title">{{wallet.name}}</span>
          <ion-note class="wallet-warning" *ngIf="!wallet.isComplete" item-end>
            {{'Incomplete' | translate}}
          </ion-note>
          <ion-note class="wallet-warning" *ngIf="wallet.isComplete && wallet.needsBackup" item-end>
            {{'Needs backup' | translate}}
          </ion-note>
          <ion-note *ngIf="wallet.m > 1 && wallet.isComplete && !wallet.needsBackup" item-end>
            {{wallet.m}}-{{wallet.n}}
          </ion-note>
        </button>
      </ion-list>
    </div>
  </div>
  <div *ngIf="!hasBtcWallets && !hasBchWallets" class="no-wallet-message">
    <span translate>To get started, you'll need to create a bitcoin wallet and get some bitcoin.</span>
  </div>
</ion-content>