page-send {
  .close-container.button-default {
    color: color($colors, dark);
  }
  .title {
    font-weight: 500;
    img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .prompt-user-fullscreen-container {
    height: 82vh;
  }
  .no-wallet-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  .send-header-wrapper {
    padding: 0 17px;
    background-color: white;
  }
  .search-wrapper {
    background-color: #f2f2f2;
    display: flex;
    align-items: baseline;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    .item-inner {
      align-items: center;
      margin-left: 0rem !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .scan-icon {
      margin: 0;
      padding: 0.6rem 1rem 1rem 1rem;
      z-index: 999;
    }
    .backspace-icon {
      z-index: 999;
    }
  }
  .invalid {
    border: 1px solid color($colors, error);
    color: color($colors, error);
    background-color: #fff6f7;
  }
  .section-header {
    margin-bottom: 0px;
  }
}
