page-send {
  .show-more {
    display: flex;
    text-align: center;
  }
  .title {
    font-weight: 700;
    img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .no-wallet-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
      padding: 30px;
  }
  .wallet-warning {
    ion-label {
      white-space: inherit;
    }
  }
  .send-header-wrapper {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #cccccc;
  }
  .send-heading {
    font-size: 15px;
    color: #858585;
    padding: 0 0 16px 0;
    border: none;
  }
  .search-wrapper {
    margin-top: 15px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    .scan-icon {
      margin: 1rem;
    }
    .bitcoin-icon {
      margin-left: 1.5rem;
      margin-right: 1rem;
      // custom icons
      &[class*="search-btc"] {
          mask-image: url(../assets/img/icon-bitcoin-symbol.svg);
          mask-size: contain;
          mask-position: 50% 50%;
          mask-repeat: no-repeat;
          background: #cccccc;
          width: 2rem;
          height: 2rem;
      }
    }
    &.focus {
      background: none;
      .bitcoin-icon {
        display: none;
      }
    }
  }
}
