page-send {
  .show-more {
    display: flex;
    text-align: center;
  }
  .title {
    img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .no-wallet-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
      padding: 30px;
  }
  .wallet-warning {
    font-size: 11px;
    color: color($colors, danger);
    ion-label {
      white-space: inherit;
    }
  }
}
