<wide-header-page  [hideToolbar]="true" (back)="back()" [isCustomBack]='true'>
  <div page-content class="page-container ion-padding">
    <div>
      <div class="main-header">Verify your phrase</div>
      <div class="sub-header">Let check your wrote down the phrase correctly. Please select each word in the numbered order.</div>
      <div class="word-guess-conatiner">
        <div class="word-guess-title">
          Word #{{countWord+1}}
        </div>
        <div class="word-guess-content" *ngIf="randomListFinal && randomListFinal.length === 3">
            <ion-button *ngFor="let word of randomListFinal" (click)="checkWord(word)">
              {{word}}
            </ion-button>
        </div>
        <div>
        </div>
      </div>
    </div>
    <app-backup-word [mnemonicWords]="mnemonicWordsConverted"></app-backup-word>
  </div>
</wide-header-page> 