page-backup-game {
  ion-content.content {
    background: white;
  }

  ion-content::part(scroll) {
    padding-bottom: calc(
      var(--padding-bottom) + var(--keyboard-offset)
    ) !important;
  }

  .page-container {
    padding-top: unset;
  }

  .main-header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .sub-header {
    font-size: 14px;
    color: rgba(0, 30, 46, 0.6);
    margin-bottom: 16px;
  }

  .word-container {
    .word-title {
      font-size: 18px;
      padding: 20px;
      color: var(--color-dark);
    }
  }
  .word-guess-conatiner {
    background-color: #fafafb;
    padding: 16px;
    margin-bottom: 32px;
    .word-guess-title {
      font-weight: 600;
      font-size: 14px;
    }
    .word-guess-content {
      margin-top: 16px;
      display: flex;
      ion-button {
        height: 32px;
        margin-right: 15px;
        --background: rgba(0, 93, 141, 0.05);
        color: #1c3745;
        font-size: 12px;
        --border-width: 1px;
        --border-color: #70818a;
        --box-shadow: unset;
        --border-style: solid;
        --border-radius: 8px;
        --padding-start: 16px;
        --padding-end: 16px;
        --padding-top: 6px;
        --padding-bottom: 6px;
        font-weight: 600;
      }
    }
  }
}
