page-backup-game {
  ion-content.content {
    background: white;
  }

  .page-container{
    padding-top: unset;
  }

  .main-header{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .sub-header{
    font-size: 14px;
    color: rgba(237, 239, 240, 0.6);
    margin-bottom: 16px;
  }

  .word-container {
    .word-title {
      font-size: 18px;
      padding: 20px;
      color: var(--color-dark);
    }
  }
  .word-guess-conatiner{
    background-color: rgba(126, 208, 255, 0.11);
    padding: 16px;
    margin-bottom: 32px;
    .word-guess-title{
      font-weight: 600;
      font-size: 14px;
    }
    .word-guess-content{
      margin-top: 16px;
      ion-button{
        height: 32px;
        --background: linear-gradient(0deg, rgba(126, 208, 255, 0.05), rgba(126, 208, 255, 0.05)), #001E2E;
        margin-right: 16px;
        font-size: 12px;
      }
    }

  }
}