<div ng-controller="bitrefillController as c">

  <form name="phoneNumberForm" ng-submit="c.validatePhoneNumber()" class="columns" style="top: 63px;">
    <div class="right" ng-hide="phoneNumberForm.phone.$pristine && !phoneNumberForm.phone.$modelValue">
      <span class="has-error right size-12" ng-if="!phoneNumberForm.phone.$invalid">
        <i class="icon-close-circle size-14"></i>
        <span clas="vm" translate>Not valid</span>
      </span>
    </div>
    <label><span translate>Phone number to refill</span></label>
    <input type="text" id="phone" name="phone" ng-model="c.phoneNumber">
  </form>

  <div style="top: 63px; position: absolute; width: 100%; padding-left: 10px; padding-right: 10px;">
    <label><span translate>Operator</span>
    <select class="m10t" ng-model="operator"
      ng-options="operator as operator.label for operator in bitrefill.operators"
      ng-change="c.setOperator()">
    </select>
    </label>
  </div>

  <div class="row" style="width: 100%; position: absolute; bottom: 25px;">
    <div class="large-6 medium-6 small-6 columns" ng-show="true">
      <a ng-click="c.previousPage()" class="button expand outline dark-gray round" translate>{{c.getPagePreviousButtonText()}}</a>
    </div>
    <div class="columns" ng-class="{'small-6 medium-6 large-6':(true)}">
      <button class="button black round expand" ng-click="c.nextPage()" ng-disabled=""
        ng-style="{'background':skin.view.buttonBackground, 'color':skin.view.buttonTextColor}"  translate>
        {{c.getPageNextButtonText()}}
      </button>
    </div>
  </div>

</div>