<div ng-controller="bitrefillController as c">

  <div class="row" style="width: 100%; position: absolute; bottom: 25px;">
    <div class="large-6 medium-6 small-6 columns" ng-show="true">
      <a ng-click="c.previousPage()" class="button expand outline dark-gray round" translate>{{c.getPagePreviousButtonText()}}</a>
    </div>
    <div class="columns" ng-class="{'small-6 medium-6 large-6':(true)}">
      <button class="button black round expand" ng-click="c.nextPage()" ng-disabled=""
        ng-style="{'background':skin.view.buttonBackground, 'color':skin.view.buttonTextColor}"  translate>
        {{c.getPageNextButtonText()}}
      </button>
    </div>
  </div>

</div>