page-select-currency {
  .list-button {
    padding-top: 10px;
    padding-bottom: 10px;

    ion-icon.item-icon {
      margin-left: 3px;

      img {
        height: 40px;
      }
    }

    .item-title {
      color: black;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .list-subtitle {
    padding-left: 20px;
  }
  .import-list {
    margin-top: 32px;
  }
}
