page-select-currency {
  .send-header-wrapper {
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  }
  .search-wrapper {
    .item-inner {
      align-items: center;
      margin-left: 0rem !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .scan-icon {
      margin: 0;
      border-left: 1px solid rgba(151, 151, 151, 0.2);
      padding: 0rem 1rem 0.8rem 1.4rem;
      z-index: 999;
    }
    .backspace-icon {
      z-index: 999;
    }
  }
  .list-button {
    padding-top: 10px;
    padding-bottom: 10px;

    ion-icon.item-icon {
      margin-left: 3px;

      img {
        height: 40px;
      }
    }

    .item-title {
      color: black;
      font-size: 18px;
      font-weight: 500;
    }
    .item-note {
      font-size: 12.5px;
      padding-top: 4px;
      color: color($colors, light-grey);
    }
  }
  .list-subtitle {
    padding-left: 20px;
  }
  .create-button {
    background: white;
    color: color($colors, primary);
    margin-left: -12px;
    text-align: center;
  }
}
