page-select-currency {
  .back-button {
    color: color($colors, dark);
  }
  .wide-header {
    &__title {
      color: color($colors, dark) !important;
    }
  }
  .list-button {
    margin-top: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: none;
    .item-inner {
      border: none !important;
    }
    .item-title {
      font-weight: bold;
    }
  }
}
