page-addressbook {
  .zero-state {
    margin-top: 20vh;
    text-align: center;
    &-icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      padding: 13px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-heading {
      font-size: 22px;
      margin: 10px;
      line-height: 28px;
      font-weight: 600;
      color: #001E2E;
      margin-top: 2rem;
    }
    &-description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2rem;
      color: rgba(0, 30, 46, 0.6);
      letter-spacing: 0.5px;
    }
  }
  .add-button {
    ion-icon {
      width: 24px;
      height: 24px;
      color: rgba(0, 30, 46, 0.6);
    }
  }
  
  search-bar {
    border: 2px solid rgba(0, 30, 46, 0.38);
    margin: 0 1rem 2rem 1rem;
    border-radius: 4px;
    background: var(--bg-color-light-theme);
    padding: 0;
  }

  ion-list {
    margin-bottom: 5rem;
  }

  ion-item-divider {
    --inner-padding-start: 1rem;
    &:first-child {
      margin-top: 0 !important;
      padding: 0 !important;
    }
  }
  
  ion-item{
    --padding-bottom: 0 !important;
    coin-icon {
      ion-icon {
        padding: 0 !important;
        margin: 0 !important;
        width: 24px !important;
        height: 24px !important;
        margin-left: 1rem !important;
      }
    }
  }

  .button-standard {
    width: 45% !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  
  
}
