page-multiple-outputs {
  .output-note {
    font-size: 12.5px;
    padding-top: 4px;
    color: var(--color-light-grey);
  }
  .misunderstood-msg {
    font-size: 1.6rem;
  }
  .payment-proposal-to{
    background: unset;
    color: #001e2e;
    font-weight: 600;
    height: fit-content;
    justify-content: flex-end;
    max-width: unset;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
  .no-margin{
    margin: 0 !important;
  }
  .tx-detail-list{
    margin-top: 0px;
    margin-bottom: 0px;
    .list-content-container{
      ion-item{
        margin: 0 1rem !important;
      }
    }
  }
}
