page-shapeshift-settings {
  .wide-header__title.toolbar {
    padding-bottom: 10px;
  }
  .wide-header__title {
    color: white;
    padding-left: 0;
  }
  ion-label,
  .item-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }
  ion-spinner {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -1em;
    * {
      stroke: #0d172c !important;
    }
  }
}
