page-shapeshift-settings {
  ion-label,
  .item-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }
  ion-spinner {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
