page-wallet-settings {
  .assertive {
    color: color($colors, danger);
    ion-label {
      white-space: inherit;
    }
  }
  .item-text {
    font-size: 12.5px;
  }
  .settings-color-block {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left; 
    margin: 1rem;
    box-shadow: 0px 0px 10px;
    background-color: color($colors, primary);
  }  
}
