page-collect-email {
  @extend %onboarding;
  & > ion-content {
    background-image: $onboarding-background-image !important;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  text-align: center;
  p {
    line-height: 1.6;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .email-form {
    p, ion-item {
      color: #fff;
    }
    ion-item {
      background: none;
    }
  }
  .description {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
  }
  ion-content{
    img{
      padding-top: 32px;
    }
  }
}
