page-tour {
  .tour {
    position: relative;

    .pages {
      position: absolute;
    }
    .buttons {
      padding: 15px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 15px 15px 9vh 15px;
    }
    .slide-zoom {
      height: inherit;
      img {
        padding-top: 10%;
        width: 65%;
      }
    }
  }

  .navbarc {
    .bar-button {
      color: $v-accent-color;
    }
  }
  .header-md::after {
    background: none;
  }
}
