page-tour {
  & > ion-content {
    background-image: $onboarding-background-image !important;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  .title {
    color: color($colors, blank);
  }
  .bottom-absolute {
    padding: 15px 15px 5vh 15px;
  }
  .slide-zoom {
    height: inherit;
    img {
      height: 50%;
      min-height: 240px;
      padding: 2em;
      @media(max-height: 560px) {
        padding: 0em 4em 0em 4em;    
      }
    }
    .ticker-img {
      @media(max-height: 560px) {
        padding: 0em 2em 0em 2em;
      }
    }
  }
  .top-description {
    font-size: 1.4rem;
    padding: 0 3rem 0 3rem;
    color: $onboarding-comment-color;
  }
  .bottom-description {
    font-size: 1.4rem;
    color: color($colors, blank);
  }
  /* pagination bullets */
  .swiper-pagination-bullet-active {
    background: color($colors, primary);
  }
  p {
    margin: 0em 1em 0em 1em;
  }
  .ticker-container {
    text-align: center;
    margin-bottom: -5em;
    margin-top: 3em;
    @media(max-height: 560px) {
      margin-top: 0.5em;
      margin-bottom: -2em;
    }
    .ticker {
      display: inline-block;
      padding: 0.7em 1em;
      z-index: 1;
      border-radius: $icon-border-radius;
      position: relative;
      color: color($colors, blank);    
    }
  }
  .primary-color {
    color: $onboarding-primary-color;
  }
  .back-button-icon {
    color: $onboarding-primary-color;
  }
}
