page-tour {
  @extend %onboarding;
  & > ion-content {
    background-image: $onboarding-background-image !important;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, blank);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  .bottom-absolute {
    padding: 15px 15px 5vh 15px;
  }
  .slide-zoom {
    height: inherit;
    img {
      height: 50%;
      padding: 2em;
      min-height: 300px;
    }
  }
  .description {
    font-size: 1.4rem;
    color: color($colors, blank);
  }
  /* pagination bullets */
  .swiper-pagination-bullet-active {
    background: color($colors, primary);
  }
  p {
    line-height: 1.6;
    font-size: 18px;
    margin-left: 1em;
    margin-right: 1em;
  }
  .ticker-container {
    text-align: center;
    margin-bottom: -5em;
    margin-top: 5em;
  }
  .ticker {
    display: inline-block;
    padding: 0.7em 1em;
    z-index: 1;
    border-radius: $icon-border-radius;
    position: relative;
  }
}
