page-glidera {
  .heading{
    img {
      padding: 50px;
      width: 100%;
    }
  }
  .item-img-buy,
  .item-img-sell {
    width: 40px;
  }
  .action {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .details {
    position: absolute;
    right: 16px;
    text-align: end;
  }
}