page-glidera {
  .center-header {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    width: 100%;
  }
  .main-header {
    position: relative;
    padding: 30px 0;
    text-align: center;
    background: #475564;
    ion-spinner {
      position: absolute;
      bottom: 5px;
      right: 5px;
      * {
        stroke: color($colors, light);
      }
    }
  }
  .details {
    font-size: 12.5px;
  }
  .amount {
    font-size: 11px;
    font-weight: 400;
  }
}
