::ng-deep action-sheet {
  .action-sheet-bottom {
    border-radius: 0px !important;
    background: var(--bg-color-light-theme) !important;
    display: grid;
    padding-top: 3rem; // Fix iOS 10.3
    padding-top: calc(4px + env(safe-area-inset-top));
    .encrypt-password {
      height: 100%;
      display: grid;
      grid-template-rows: 80% 20%;
      .info-encrypt {
        padding: 1rem 2rem;
        text-align: center;
        color: rgba(0, 30, 46, 0.6);
        font-size: 14px;
        line-height: 20px;
      }
      .encrypt-password-form {
        display: grid;
        grid-template-rows: 35% max-content max-content;
        .slide-title {
          padding-top: 4rem;
          display: flex;
          flex-direction: column;
          align-self: center;
          align-items: center;
          img {
            width: 120px;
            height: 120px;
          }
          h3 {
            font-weight: 600;
            margin-top: 2rem;
            color: black;
          }
        }
        form {
          margin-top: 2rem;
          width: 90%;
          align-self: end;
          justify-self: center;
          ion-item {
            max-height: 55px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 0 1rem;
            margin-bottom: 2.7rem;
            border: 1px solid var(--color-light-outline-theme);
            --background: var(--bg-color-light-theme);
            ion-input {
              input[type='password'],
              input[type='text'] {
                color: var(--color-light-on-background-theme);
                font-size: 14px;
                margin: 0px;
                line-height: 37px;
              }
            }
            &.error-message {
              border: 0 !important;
              padding: 0;
            }
          }
          ion-button {
            ion-icon {
              &[name="eye-off"] {
                color: rgba(0, 30, 46, 0.6);
              }
              &[name="alert"] {
                color: var(--color-danger);
              }
            }
          }
        }
      }
    }
    .footer {
      height: 76px;
      align-self: end;
    }
  }
}

