<action-sheet>
  <div class="encrypt-password">
    <div class="encrypt-password-form">
      <div class="slide-title">
        <img src="assets/img/onboarding/add-cryption-{{currentTheme}}.svg" />
        <h3>
          {{'Add Encryption' | translate}}
        </h3>
      </div>
      <div class="info-encrypt">
        {{'An encrypted passphrase is an extra layer of security that can prevent hackers from accessing your cryptocurrency if this device were ever stolen or compromised by malicious software' | translate }}
      </div>
      <form [formGroup]="encryptPasswordForm">
        <ion-item lines="none" class="ion-no-margin">
          <ion-input [placeholder]="'Encrypted passphrase' | translate" [type]="passwordInputType" formControlName="password"></ion-input>
          <ion-button fill="clear" slot="end" (click)="passwordInputType = (passwordInputType === 'password') ? 'text' : 'password'">
            <ion-icon [name]="(passwordInputType == 'password') ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none" class="ion-no-margin">
          <ion-input [placeholder]="'Confirm passphrase' | translate" [type]="confirmPasswordInputType" formControlName="confirmPassword"></ion-input>
          <ion-button fill="clear" slot="end" (click)="confirmPasswordInputType = (confirmPasswordInputType === 'password') ? 'text' : 'password'">
            <ion-icon *ngIf="encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid" name="alert"></ion-icon>
            <ion-icon [name]="(confirmPasswordInputType == 'password') ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="ion-no-margin error-message" *ngIf="encryptPasswordForm.controls.confirmPassword.touched && encryptPasswordForm.hasError('mismatchedPasswords') && encryptPasswordForm.controls.password.valid" lines="none">
          <ion-text color="danger" translate>Passphrases do not match</ion-text>
        </ion-item>
      </form>
    </div>
    <div class="footer">
      <ion-button  type="submit" class="button-standard ion-no-margin-bottom" [disabled]="!encryptPasswordForm.valid" (click)="confirm(encryptPasswordForm.value.password)">
        {{'Save & Continue' | translate}}
      </ion-button>
    </div>
  </div>
</action-sheet>