.lock-method {
  height: 100%;
  &-info {
    height: 100%;
    display: grid;
    grid-template-rows: 35% 40% 25%;
    justify-content: center;
    .img-container {
      align-self: end;
      justify-self: center;
      img {
        margin: auto;
        max-height: 7rem;
        @media (max-width: 350px) {
          max-height: 5rem;
        }
      }
    }
    .info {
      align-self: start;
      display: grid;
      grid-template-rows: max-content max-content;
      height: 100%;
      padding: 0 2rem;
      .title {
        color: #060606;
        font-weight: 600;
        align-items: center;
        text-align: center;
        line-height: 34px;
        @media (max-width: 350px) {
          font-size: 17px;
          line-height: 20px;
        }
      }
      .text {
        font-size: 16px;
        text-align: center;
        color: rgb(46, 46, 46);
        font-weight: 300;
        padding-top: 15px;
        line-height: 25px;
        @media (max-width: 350px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}

ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
  .term-container {
    ion-item {
      --background: var(--color-inner-item-light-theme);
      --background-activated: transparent;
      display: flex;
      align-items: flex-start;
    }
    padding: 20px 0;
    margin: 1rem;
    border-radius: 11px;
    background-color: var(--color-inner-item-light-theme);
    .term-title {
      color: var(--color-light-on-background-theme);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 10px;
    }
    .term-note {
      color: gray;
      font-size: 14px;
    }
  }
}

.select-method {
  padding: 0 1rem;
  ion-item {
    --background: var(--color-inner-item-light-theme);
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-bottom: 6px;
    --padding-top: 6px;
    --inner-padding-end: 0;
    --border-radius: 10px;
    ion-label {
      color: var(--color-light-on-background-theme);
    }
  }
}

.button-standard {
  width: 92% !important;
  --color: white;
  &[disabled] {
    --background: rgba(0, 30, 46, 0.12);
    --color: rgba(28, 55, 69, 0.38);
    
  }
}

