page-copayers {
  .toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copayers-header {
    width: 100%;
    margin-bottom: 10px;
    &-content {
      padding: 0 2rem;
      .title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 1rem;
        @media (max-width: 370px) {
          padding-bottom: 0.5rem;
        }
      }
      .text {
        opacity: 0.7;
      }
    }
  }
 
  .account-invitaion-container{
    display: flex;
    flex-flow: column;
    background: linear-gradient(0deg, rgba(126, 208, 255, 0.11), rgba(126, 208, 255, 0.11)), #001E2E;
    border-radius: 12px;
    margin: 2rem 1rem;
    padding: 24px 16px;
    margin-top: 0px;
    
    .content{
      display: flex;
      flex-flow: row;
      .account-ivitaion-info{
        display: flex;
        flex-flow: column;
        padding-right: 16px;
        .title{
          font-weight: 600;
          font-size: 16px;
          color: rgba(237, 239, 240, 1);
        }
        .sub-title{
          margin-top: 8px;
          font-weight: 400;
          font-size: 14px;
          color: rgba(237, 239, 240, 0.6);
        }
      }
      .aclass{
        height: 125px;
        width: 125px;
      }
    }
    .button{
      margin-top: 32px;
      ion-button{
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .white-card {
    background: white;
    padding: 2rem 1rem;
    padding-top: 9px;
    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .share-button {
    margin-left: 3.5rem;
  }

  .error-msg {
    text-align: center;
  }
  .timeline-container{
    background-color: rgba(33, 51, 62, 1);
    border-radius: 12px;
  }
  // Timeline styles
  .timeline-item {
    background-color: transparent;
    border: 0;
    padding: 17px 0px;

    &:not(:nth-child(1)) {
      .timeline-content-icon {
        .line::before {
          content: '';
          background: rgba(115, 218, 165, 1);
          width: 1px;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
          height: 16px;
          top: -8px;
        }
     
      }
    }

    > * {
      padding-right: 0;
    }

    .line.no-border {
      top: 3px;
      ion-icon {
        font-size: 25px;
        color: var(--color-dark);
      }
    }
    .wait-icon{
      opacity: 0.6;
    }
    .timeline-content {
      display: flex;
      align-items: center;

      &-icon {
        display: flex;
        align-items: center;
        min-width: 40px;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 0.5rem;
        position: relative;
        z-index: 11;

        .ion-ios-checkmark {
          &::before {
            font-size: 30px;
          }
        }

        > div {
          border-radius: var(--icon-border-radius);
          display: flex;
          height: 20px;
          width: 20px;
          font-size: 20px;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          vertical-align: middle;
          color: var(--color-success);
          z-index: 10;
        }
      }

      &-label {
        flex-grow: 1;

        > .name {
          font-size: 16px;
          color: #B6C9D8;
          font-weight: 600;
          opacity: 0.6;
          @media (max-width: 330px) {
            font-size: 14px;
          }
        }
        > .copayer-name{
          opacity: 1;
        }
      }
    }
  }
}
