<ion-button *ngIf="isShowDelete" (click)="informDelete()">Delete đÊ </ion-button>
<ion-button *ngIf="isShowSendMax" class="send-max" (click)="sendMax()" clear wide-header-bar-button>
  <span translate>Send max</span>
</ion-button>
<p>To</p>
<div class="send-header-wrapper">
  <ion-item lines="none" class="search-wrapper" [ngClass]="{'invalid': invalidAddress && search != ''}">
    <ion-input readonly color="{{recipient.isValid ? 'success' : 'danger'}}" placeholder="Click to paste address" (click)="pasteFromClipboard()" [value]="recipient.name || recipient.toAddress" (ionChange)="processInput()"></ion-input>
    <ion-icon color="danger" *ngIf="recipient.name || recipient.toAddress" slot="end" class="backspace-icon" name="backspace"
      (click)="cleanSearch()"></ion-icon>
    <ion-icon src="assets/img/address-book-add.svg" slot="end" class="scan-icon" (click)="openTransferToModal()">
    </ion-icon>
    <ion-icon src="assets/img/scan-ico.svg" *ngIf="isCordova" slot="end" class="scan-icon" (click)="openScanner()">
    </ion-icon>
  </ion-item>
  <ion-text *ngIf="!recipient.isValid" color="danger"> Invalid address</ion-text>

</div>
<p>Amount</p>
<div class="send-header-wrapper">
  <ion-item lines="none" class="search-wrapper" [ngClass]="{'invalid': invalidAddress && search != ''}">
    <ion-input placeholder=0  type="number" [(ngModel)]="expression" (ngModelChange)="processAmount()"></ion-input>
    <span>{{unit}}</span>
    <ion-icon color="danger" *ngIf="invalidAddress && search != ''" slot="end" class="backspace-icon" name="backspace"
      (click)="cleanSearch()"></ion-icon>
  </ion-item>
  <p>{{recipient.altAmountStr}} {{alternativeUnit}}</p>
</div>