<?xml version='1.0' encoding='utf-8'?>
<widget id="%APP-PACKAGE-NAME%"
  version="%APP-VERSION%"
  android-versionCode="%ANDROID-VERSION-CODE%"
  ios-CFBundleVersion="%APP-VERSION%">
    <name>%APP-SHORT-NAME%</name>
    <description>
      %APP-DESCRIPTION%
    </description>
    <author email="%APP-PUBLISHER-EMAIL%" href="%APP-PUBLISHER-WEBSITE%">
      %APP-PUBLISHER%
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="ShowSplashScreenSpinner" value="false" /> 
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true" />  
    <preference name="FadeSplashScreenDuration" value="0.5" />
    <preference name="BackgroundColor" value="#FFFFFF" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="BackupWebStorage" value="none"/>
    <preference name="windows-target-version" value="8.1"/>
    <preference name="Orientation" value="portrait" />

    <platform name="android">
      <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi" />
      <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi" />
      <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi" />
      <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi" />
      <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi" />
      <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
      <splash src="resources/android/splash/drawable-hdpi-screen.png" density="hdpi" />
      <splash src="resources/android/splash/drawable-ldpi-screen.png" density="ldpi" />
      <splash src="resources/android/splash/drawable-mdpi-screen.png" density="mdpi" />
      <splash src="resources/android/splash/drawable-xhdpi-screen.png" density="xhdpi" />
      <splash src="resources/android/splash/drawable-xxhdpi-screen.png" density="xxhdpi" />
      <splash src="resources/android/splash/drawable-xxxhdpi-screen.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
      <icon src="resources/ios/icon/icon-40.png" width="40" height="40" />
      <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
      <!-- iPad Spotlight and Settings Icon -->
      <icon src="resources/ios/icon/icon-50.png" width="50" height="50" />
      <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="resources/ios/icon/icon-60.png" width="60" height="60" />
      <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
      <!-- iOS 8.0+ -->
      <!-- iPhone 6 Plus  -->
      <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
      <!-- iPad -->
      <icon src="resources/ios/icon/icon-72.png" width="72" height="72" />
      <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
      <!-- iPad -->
      <icon src="resources/ios/icon/icon-76.png" width="76" height="76" />
      <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
      <!-- iPhone Spotlight and Settings Icon -->
      <icon src="resources/ios/icon/icon-small.png" width="29" height="29" />
      <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58" />
      <icon src="resources/ios/icon/icon-small@3x.png" width="87" height="87" />
      <!-- iPhone / iPod Touch -->
      <icon src="resources/ios/icon/icon.png" width="57" height="57" />
      <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" />
      <!-- Splash -->
      <splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
      <splash src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
      <splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
      <splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
      <splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
      <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
      <splash src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>
    </platform>

    <platform name="wp8">
      <icon src="resources/wp8/Icon/ApplicationIcon.png" width="99" height="99" />
      <!-- tile image -->
      <icon src="resources/wp8/Icon/Background.png" width="159" height="159" />
      <icon src="resources/wp8/Assets/62x62@1.png" width="62" height="62" />
      <icon src="resources/wp8/Assets/62x62@2.png" width="124" height="124" />
      <icon src="resources/wp8/Assets/99x99@1.png" width="99" height="99" />
      <icon src="resources/wp8/Assets/99x99@1.png" width="198" height="198" />
      <icon src="resources/wp8/Assets/173x173@1.png" width="173" height="173" />
      <icon src="resources/wp8/Assets/173x173@2.png" width="346" height="346" />
      <icon src="resources/wp8/Assets/200x200@1.png" width="200" height="200" />
      <icon src="resources/wp8/Assets/200x200@2.png" width="400" height="400" />
      <icon src="resources/wp8/Assets/BadgeLogo.png" width="58" height="58" />
      <icon src="resources/wp8/Assets/icon-300.png" width="300" height="300" />
      <icon src="resources/wp8/Assets/icon@1.png" width="62" height="62" />
      <icon src="resources/wp8/Assets/icon@2.png" width="124" height="124" />
      <icon src="resources/wp8/Assets/icon@2x.png" width="114" height="114" />
      <icon src="resources/wp8/Assets/Logo.png" width="106" height="106" />
      <icon src="resources/wp8/Assets/SquareTile71x71.png" width="170" height="170" />
      <icon src="resources/wp8/Assets/SquareTile150x150.png" width="360" height="360" />
      <icon src="resources/wp8/Assets/StoreLogo.png" width="120" height="120" />
      <icon src="resources/wp8/Assets/WideLogo.png" width="744" height="360" />
      <!-- images are determined by width and height. The following are supported -->
      <splash src="resources/wp8/Splash/SplashScreenImage.png" width="768" height="1280"/>

    </platform>

</widget>
