[Desktop Entry]
Encoding=UTF-8
Name=DGBWallet
Exec=/opt/DGBWallet/DGBWallet
Icon=/opt/DGBWallet/resources/app/android/icon.png
Type=Application
Categories=Digibyte;
