<ion-view id="payroll-deduction">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Payroll Deduction'|translate}}
    </ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBackToSettings()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div class="item head">
        <div class="deduction-label">
          <img src="img/icon-bitcoin-small.svg">
          <span translate>Deduction</span>
        </div>
        <div class="amount-label">
          <div class="amount">{{depositAmount || '...'}} <span class="unit">{{depositDisplayUnit}}<span></div>
          <div class="right size-12">
            <div class="exchange-rate">{{exchangeRate}}</div>
            <div class="exchange-rate-info" translate>* Today's rate.</div>
            <div class="exchange-rate-info" translate>Transaction rate might be different.</div>
          </div>
          <div class="btc-estimate">&asymp; {{btcEstimate  || '...'}} {{btcDisplayUnit}}</div>
        </div>
      </div>
      <div class="info">
        <div class="item">
          <span class="label" translate>Deposit Address</span>
          <span class="deposit-to"> 
            <div class="verification" ng-class="verified ? 'verified' : (unverifiedAddressAccepted ? 'verified' : 'not-verified')" ng-click="showVerification()">
              <i class="icon ion-ios-checkmark-empty verification-icon" ng-if="verified || unverifiedAddressAccepted"></i>
              <i class="icon ion-alert-circled verification-icon" ng-if="!verified && !unverifiedAddressAccepted"></i>
              <span ng-show="!unverifiedAddressAccepted" class="certifier" translate>bitpay</span>
              <span ng-show="unverifiedAddressAccepted" class="certifier" translate>OK</span>
            </div>
            <div copy-to-clipboard="address" class="address-clipboard ellipsis">
              <span class="size-14 address ellipsis">
                {{address}}
              </span>
            </div>
          </span>
        </div>
        <div class="item item-icon-right" ng-if="wallet">
          <span class="label" translate>Wallet</span>
          <div class="wallet">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" ng-style="{'background-color': wallet.color}" class="bg"/>
            </i>
            <div>{{wallet.name}}</div>
          </div>
        </div>
        <div class="item item-icon-right" ng-if="!wallet">
          <span class="label" translate>Wallet</span>
          <div class="wallet">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet-external.svg" class="bg wallet-external"/>
            </i>
            <div>{{externalWalletName}}</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="button button-standard button-primary" ng-click="editDeduction()">
        <span translate>Change</span>
      </button>
      <button class="button button-standard button-secondary button-clear" ng-click="cancelDeduction()">
        <span translate>Cancel Payroll Deduction</span>
      </button>
    </div>
  </ion-content>
</ion-view>
