<ion-view id="payroll-deposit-address" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Deposit address' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="item item-heading deposit-address-heading" translate>Address</div>
    <div class="item item-icon-left item-icon-right input">
      <i class="icon icon-svg left"><img src="img/icon-bitcoin-symbol.svg"></i>
      <input type="text" placeholder="{{'Search or enter bitcoin address' | translate}}" ng-model="entry.value" ng-change="processInput(entry.value)" ng-model-onblur>
      <div class="qr-scan-icon">
        <qr-scanner on-scan="onAddressScan(data)"></qr-scanner>
      </div>
    </div>

    <div class="card">
      <div class="item item-icon-right item-heading">
        <span translate>Contacts</span>
        <a ui-sref="tabs.send.addressbook">
          <i class="icon ion-ios-plus-empty list-add-button"></i>
        </a>
      </div>
      <div class="list" ng-if="hasContacts">
        <a class="item item-icon-left item-icon-right" ng-repeat="item in list" ng-if="item.recipientType == 'contact'" ng-click="onItemSelect(item)">
          <i class="icon big-icon-svg">
            <img src="img/contact-placeholder.svg" class="bg" ng-if="isChromeApp">
            <gravatar class="send-gravatar" name="{{item.name}}" width="30" email="{{item.email}}" ng-if="!isChromeApp"></gravatar>
          </i>
          {{item.name}}
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>
      <div class="show-more" ng-if="contactsShowMore" ng-click="showMore()" translate>
        Show more
      </div>
    </div>

    <div class="card" ng-if="hasWallets">
      <div class="item item-heading">
        <span translate>Wallets</span>
      </div>
      <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="item in list" ng-if="item.recipientType == 'wallet'" ng-click="onItemSelect(item)">
          <i class="icon big-icon-svg">
            <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !item.color}" ng-style="{'background-color': item.color}" class="bg"/>
          </i>
          {{item.name}}
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
