<ion-view id="payroll-deposit-address" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Deposit Address' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="item item-heading deposit-address-heading" translate>Deposit to Address</div>
    <div class="item item-icon-left item-icon-right input">
      <i class="icon icon-svg left"><img src="img/icon-bitcoin-symbol.svg"></i>
      <input type="text" placeholder="{{'Enter bitcoin address' | translate}}" ng-model="formData.depositAddress" ng-model-onblur ng-change="onAddressEntry(formData.depositAddress)">
      <i class="icon icon-svg qr" on-tap="openScanner()"><img src="img/scan-ico.svg"/></i>
    </div>
    <div class="card" ng-if="hasWallets">
      <div class="list">
        <div class="item item-heading">
          <span translate>Deposit to Wallet</span>
        </div>
        <a class="item item-icon-left item-icon-right" ng-repeat="wallet in list" ng-if="hasWallets" ng-click="onWalletSelect(wallet)">
          <i class="icon big-icon-svg">
            <img src="img/icon-wallet.svg" ng-style="{'background-color': wallet.color}" class="bg"/>
          </i>
          {{wallet.name}}
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
