<ion-view id="payroll-summary">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Payroll summary' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBackToHome()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="goToPayrollIntro()">
        <i class="icon ion-ios-plus-empty"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list card" ng-repeat="record in payrollRecords">

      <!-- Eligible but not yet verified -->
      <div ng-if="record.eligibility && record.eligibility.eligible && !record.employee.verified">
        <div class="section">
          <img class="full-image" ng-src="{{record.employer.imageUrl}}">
        </div>
        <div class="section">
          <div class="centered">
            <i class="icon ion-ios-email-outline eligible"></i>
            <div class="description" translate>
              An email has been sent to<br/>{{record.eligibility.qualifyingData.email}}<br/><br/>Please check and follow the directions in your email to continue payroll setup.
            </div>
          </div>
        </div>
        <div class="section footer">
          <div class="action" ng-click="recheckEligibility(record)" translate>Resend email</div>
          <div class="action" ng-click="stopPayroll(record)" translate>Cancel</div>
          <div class="action" ng-click="goToPayrollAbout(record)" translate>About</div>
        </div>
      </div>

      <!-- Verified but not yet setup -->
      <div ng-if="record.eligibility && record.eligibility.eligible && record.employee.verified">
        <div class="section">
          <img class="full-image" ng-src="{{record.employer.imageUrl}}">
        </div>
        <div class="section">
          <div class="centered">
            <i class="icon ion-checkmark-circled verified"></i>
            <div class="description" translate>
              Your information has been verified.<br/>Time to setup bitcoin payroll!
            </div>
          </div>
        </div>
        <div class="section footer">
          <div class="action" ng-click="setupPayroll(record)" translate>Setup</div>
          <div class="action" ng-click="stopPayroll(record)" translate>Cancel</div>
          <div class="action" ng-click="goToPayrollAbout(record)" translate>About</div>
        </div>
      </div>

      <!-- Completed payroll record -->
      <div ng-if="record.deduction">
        <div class="section">
          <img class="full-image" ng-src="{{record.employer.imageUrl}}">
        </div>
        <div class="section">
          <div class="amount">
            {{record.deduction.amount.toFixed(2)}} 
            <span class="unit">
              {{record.deduction.currency}}
            </span>
            <div class="cycle">
              <i class="icon ion-record status-dot status-active" ng-class="record.deduction.active ? 'status-active' : 'status-paused'"></i>
              <span translate>each pay period</span>
            </div>
          </div>
        </div>

        <div ng-if="!record.deduction.wallet.isExternal">
          <a class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet" ng-click="openWallet(record.deduction.wallet)">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !record.deduction.wallet.color}"
                ng-style="{'background-color': record.deduction.wallet.color}" class="bg wallet"/>
            </i>
            <span>
              {{record.deduction.wallet.name || record.deduction.wallet.id}}
            </span>
            <p>
            <span>
              <span ng-if="!record.deduction.wallet.balanceHidden">{{record.deduction.wallet.status.totalBalanceStr}}</span>
              <span ng-if="record.deduction.wallet.balanceHidden" translate>[Balance Hidden]</span>
              <span class="tab-home__wallet__multisig-number" ng-if="record.deduction.wallet.n > 1">
                {{record.deduction.wallet.m}}-of-{{record.deduction.wallet.n}}
              </span>
              <span class="assertive" ng-if="record.deduction.wallet.error">{{record.deduction.wallet.error}}</span>
            </span>
            &nbsp;
            </p>
            <i class="icon bp-arrow-right"></i>
          </a>
        </div>

        <div ng-if="record.deduction.wallet.isExternal">
          <a class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet" ng-click="viewOnBlockchain(record.deduction.address)">
            <i class="icon big-icon-svg">
              <img src="img/icon-wallet-external.svg" class="bg wallet wallet-external"/>
            </i>
            <span>
              {{record.deduction.wallet.name}}
            </span>
            <p>
            <span>
              <span>{{record.deduction.wallet.status.totalBalanceStr}}</span>
            </span>
            &nbsp;
            </p>
            <i class="icon big-icon-svg">
              <img src="img/icon-link.svg" class="just-a-hint"/>
            </i>
          </a>
        </div>

        <div class="section footer">
          <div class="action" ng-click="viewPayrollDetails(record)" translate>Details</div>
          <div class="action" ng-click="viewPayrollTransactions(record)" translate>History</div>
          <div class="action" ng-click="goToPayrollAbout(record)" translate>About</div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
