page-feedback {
  text-align: center;
  .skip-rating {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 15px;
  }
  .icon-svg > img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
  }
  .feedback-title {
    font-size: 20px;
    font-weight: bold;
    margin: 80px 50px 10px;
  }
  .share-the-love-illustration {
    width: 5rem;
    margin: 1rem;
  }
  .subtitle {
    padding: 10px 30px 20px 40px;
  }
  .sub-subtitle {
    padding: 10px 30px 20px 40px;
    font-weight: bold;
  }
}