page-bitcoin-cash {
  .label {
    white-space: normal;
  }
  .duplicate {
    color: color($colors, primary);
    border: 1px solid color($colors, primary);
    border-radius: 3px;
    padding: 1.2rem;
    font-size: 13px;
  }
  a {
    cursor: pointer;
  }
}