<ion-header class="bp-header">
  <ion-navbar (click)="enableCard()">
    <ion-title>{{'Cards' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="section-header" *ngIf="showBitPayCard && bitpayCardItems?.length" translate>Debit Cards</div>

  <bitpay-card-home *ngIf="showBitPayCard"></bitpay-card-home>

  <div class="section-header" *ngIf="showGiftCards && activeCards?.length" translate>Gift Cards</div>

  <gift-cards *ngIf="showGiftCards" [scrollArea]="scrollArea"></gift-cards>
</ion-content>