page-buy-coinbase {
    .buying-label {
      display: flex;
      align-items: center;
      .buying-img {
        margin-right: 2rem;
      }
      span {
        font-size: 1.8rem;
      }
    }
    .amount-label {
      padding-top: 2rem;
      .amount {
        font-size: 3.5rem;
        .unit {
          font-weight: 400;
        }
      }
      .alternative {
        margin-top: 1rem;
        color: color($colors, light);
      }
    }
    .wallets-list {
      .wallet {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        .icon-wallet {
          background-color: color($colors, primary);
          margin-right: 1rem;
        }
      }
    }

    .last-item{
      margin-left: auto !important;
    }
}
