<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bitpay.*NAMENOSPACE*"
  version="*VERSION*"
  android-versionCode="*ANDROIDVERSION*"
  ios-CFBundleVersion="*VERSION*">
    <name>*NAMECASENOSPACE*</name>
    <description>
      *APPDESCRIPTION*
    </description>
    <author email="support@bitpay.com" href="*URL*">
        BitPay Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="SplashScreen" value="copayscreen" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1" />
    <preference name="BackgroundColor" value="#2C3E50" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#2C3E50" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="BackupWebStorage" value="none"/>
    <preference name="windows-target-version" value="8.1"/>
    <preference name="Orientation" value="default" />

    <platform name="android">
      <hook type="after_run" src="scripts/afterRun.js" />
    </platform>

    <platform name="ios">
      <!-- iOS 8.0+ -->
      <!-- iPad Pro  -->
      <icon src="../ios/icons/icon-83.5@2x.png" width="167" height="167" />
      <!-- iPhone 6 Plus  -->
      <icon src="../ios/icons/icon-60@3x.png" width="180" height="180" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="../ios/icons/icon-60@2x.png" width="120" height="120" />
      <!-- iPad -->
      <icon src="../ios/icons/icon-76.png" width="76" height="76" />
      <icon src="../ios/icons/icon-76@2x.png" width="152" height="152" />
      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
      <icon src="../ios/icons/icon-40.png" width="40" height="40" />
      <icon src="../ios/icons/icon-40@2x.png" width="80" height="80" />
      <!-- iPhone / iPod Touch -->
      <icon src="../ios/icons/icon.png" width="57" height="57" />
      <icon src="../ios/icons/icon@2x.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="../ios/icons/icon-72.png" width="72" height="72" />
      <icon src="../ios/icons/icon-72@2x.png" width="144" height="144" />
      <!-- iPhone Spotlight and Settings Icon -->
      <icon src="../ios/icons/icon-small.png" width="29" height="29" />
      <icon src="../ios/icons/icon-small@2x.png" width="58" height="58" />
      <icon src="../ios/icons/icon-small@3x.png" width="87" height="87" />
      <!-- iPad Spotlight and Settings Icon -->
      <icon src="../ios/icons/icon-50.png" width="50" height="50" />
      <icon src="../ios/icons/icon-50@2x.png" width="100" height="100" />

      <!-- Splash -->
      <splash src="../ios/splash/Default~iphone.png" width="320" height="480"/>
      <splash src="../ios/splash/Default@2x~iphone.png" width="640" height="960"/>
      <splash src="../ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
      <splash src="../ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
      <splash src="../ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
      <splash src="../ios/splash/Default-667h.png" width="750" height="1334"/>
      <splash src="../ios/splash/Default-736h.png" width="1242" height="2208"/>
    </platform>
  </widget>
