<div id="fee-warning-modal" class="popup-modal">
  <div class="popup-modal-header popup-modal-header-warning">
    <div class="popup-modal-header-img-warning-2 popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content popup-modal-content-warning">
      <div class="popup-modal-heading" translate>Terracoin miner fees unusually high</div>
      <div class="popup-modal-message" translate>Terracoin (TRC) miner fees are high due to record demand for limited space on the Terracoin network. Terracoin does not receive and does not control terracoin miner fees.</div>
      <button class="button button-clear" ng-click="close()" translate>I understand</button>
  </div>
</div>
