<div id="fee-warning-modal" class="popup-modal">
  <div class="popup-modal-header popup-modal-header-warning">
    <div class="popup-modal-header-img-warning-2 popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content popup-modal-content-warning">
      <div class="popup-modal-heading" translate>Bitcoin miner fees unusually high</div>
      <div class="popup-modal-message" translate>Bitcoin (BTC) miner fees are high due to record demand for limited space on the Bitcoin network. BitPay does not receive and does not control bitcoin miner fees.</div>
      <button class="button button-clear" ng-click="close()" translate>I understand</button>
  </div>
</div>
