<div id="password-warning-modal" class="popup-modal">
  <div class="popup-modal-header popup-modal-header-warning">
    <div class="popup-modal-header-img-warning-2 popup-modal-header-img"></div>
  </div>
  <div class="popup-modal-content popup-modal-content-warning">
    <div class="popup-modal-heading" translate>Are you sure?</div>
    <div class="popup-modal-message" translate>Your wallet keys will be stored in plan text in this device, if an other app access the store it will be able to access
      your Bitcoin</div>
    <button class="button button-clear" ng-click="close()" translate>Yes</button>
    <button class="button button-clear" ng-click="encrypt()" translate>No</button>
  </div>
</div>