<ion-modal-view id="pin-code" ng-controller="pincodeController">
  <div ng-if="from == 'settings'" ng-click="close()" class="close" translate>Close</div>
  <div class="content">
    <div class="block-code">
      <div class="row">
        <div class="col">
            {{pincode.substring(0, 1)}}
        </div>
        <div class="col">
            {{pincode.substring(1, 2)}}
        </div>
        <div class="col">
            {{pincode.substring(2, 3)}}
        </div>
        <div class="col">
            {{pincode.substring(3, 4)}}
        </div>
      </div>
    </div>
    <div class="block-buttons">
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('1')">1</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('2')">2</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('3')">3</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('4')">4</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('5')">5</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('6')">6</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('7')">7</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('8')">8</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('9')">9</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-light button-stretch icon ion-checkmark" ng-click="save()" ng-disabled=""></button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch" ng-click="add('0')">0</button>
        </div>
        <div class="col">
          <button class="button button-light button-stretch icon ion-arrow-left-a" ng-click="delete()"></button>
        </div>
      </div>
    </div>
  </div>
</ion-modal-view>
