<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-royal" ng-style="{'background-color':color, 'border-color': color}">
    <button class="button button-clear" ng-click="close()" translate>
      Close
    </button>
    <div class="title" translate>
      Search Transactions
    </div>
  </ion-header-bar>

  <ion-content ng-controller="searchController" ng-init="search = ''">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="search" ng-init="search = ''" ng-change="updateSearchInput(search)"
          placeholder="{{'Search transactions' | translate}}">
      </label>
    </div>

    <div class="list">
      <div class="wallet-details__list" ng-show="txHistory[0]">
        <div ng-repeat="btx in txHistorySearchResults track by $index" ng-click="openTx(btx)">
          <span ng-include="'views/includes/walletHistory.html'"></span>
        </div>
      </div>
      <div class="text-gray text-center size-12 p10t" ng-if="txHistoryShowMore">
        <span class="size-12">{{filteredTxHistory.length - txHistorySearchResults.length}} more</span>
        &nbsp;
        <i class="icon-arrow-down4"></i>
      </div>
      <ion-infinite-scroll
        ng-if="txHistoryShowMore"
        on-infinite="moreSearchResults()"
        distance="1%">
      </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-modal-view>
