<ion-modal-view id="terms-of-use">
  <ion-nav-bar class="bar-ligt">
    <ion-nav-title>{{'Terms of Use' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button no-border" ng-click="termsModal.hide()">
        <i class="ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" scroll="false">
    <ion-scroll ng-include="'views/includes/terms.html'" direction="y" ng-style="{'height': '60%'}"></ion-scroll>
    <div id="agree-to-terms">
      <a ng-click="openExternalLink('https://copay.io/disclaimer', 'BitPay terms and conditions')" ng-show="lang != 'en'" translate>Official English Disclaimer</a>
      <ion-checkbox ng-model="terms.accept3"></ion-checkbox>
      <p translate>I have read, understood, and agree with the Terms of use.</p>
      <button ng-disabled="!terms.accept3" class="button button-block button-positive" ng-click="termsModal.hide(); confirm()" translate>Confirm & Finish</button>
    </div>
  </ion-content>
</ion-modal-view>
