<ion-modal-view id="terms-of-use">
  <ion-nav-bar>
    <ion-nav-title>{{'Terms of Use' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button no-border" ng-click="termsModal.hide()">
        <i class="ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div ng-include="'views/includes/terms.html'" direction="y"></div>
  </ion-content>
  <div id="agree-to-terms">
    <div class="text-center">
      <a ng-click="openExternalLink()" ng-show="lang != 'en'" translate>Official English Disclaimer</a>
    </div>
    <div class="row">
      <div class="col col-20">
        <ion-checkbox ng-model="terms.accept3"></ion-checkbox>
      </div>
      <div class="col col-80">
        <p translate>I have read, understood, and agree with the Terms of use.</p>
      </div>
    </div>
    <div class="text-center">
      <button ng-disabled="!terms.accept3" class="button button-block button-primary" ng-click="termsModal.hide(); confirm()" translate>Confirm &amp; Finish</button>
    </div>
  </div>
</ion-modal-view>
