<ion-modal-view id="tx-status" ng-controller="txStatusController">
  <div ng-if="type == 'broadcasted'">
    <div class="popup-txsent text-center m30tp">
        <i class="icon ion-checkmark-round"></i>
        <div ng-show="tx.amountStr" class="m20t size-36">
        {{tx.amountStr}}
        </div>
        <div class="size-24 text-gray m20v">
        <span ng-if="!fromBitPayCard" translate>Sent</span>
        <span ng-if="fromBitPayCard" translate>Funds sent</span>
        </div>
        <div class="text-center m20t" ng-if="entryExist || !fromSendTab || fromPayPro">
        <a class="button button-positive" ng-click="cancel()" translate>OKAY</a>
        </div>
    </div>
    <div class="collect-address" ng-if="!entryExist && fromSendTab && !fromPayPro">
      <div class="row">
        <p translate class="col">Would you like to add this address to your address book?</p>
      </div>
      <div class="row">
        <div class="col">
          <span class="address">
            <i class="icon ion-social-bitcoin"></i>
            <contact class="enable_text_select ellipsis" address="{{tx.toAddress}}"></contact>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <button class="button button-block button-stable" ng-click="cancel()">
            {{'Skip' | translate}}
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-stable" ng-click="save(tx.toAddress)">
            {{'Add Address' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>


  <div ng-if="type == 'created'" class="popup-txsigned text-center m30tp">
    <i class="icon ion-checkmark-round"></i>
    <div class="text-center size-24 tu text-bold m20v">
      <span translate>Payment Proposal Created</span>
    </div>
    <div class="text-center">
      <a class="button button-positive" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>



  <div ng-if="type == 'accepted'" class="popup-txsigned text-center m30tp">
    <i class="icon ion-checkmark-round"></i>
    <div class="text-center size-24 tu text-bold m20v">
      <span translate>Payment Accepted</span>
    </div>
    <div class="text-center">
      <a class="button button-positive" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>

  <div ng-if="type=='rejected'" class="popup-txrejected text-center m30tp">
    <i class="icon ion-close-round"></i>
    <div class="text-center size-24 tu text-bold m20v">
      <span translate>Payment Rejected</span>
    </div>
    <div class="text-center">
      <a class="button button-positive" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>
</ion-modal-view>
