<ion-modal-view id="wallet-balance">
  <ion-header-bar align-title="center" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}">
    <button class="button button-clear" ng-click="close()" translate>
      Close
    </button>
    <div class="title">
      {{wallet.name}}
    </div>
    <div class="buttons buttons-right header-item">
      <span class="secondary-buttons">
        <button class="button button-clear" ng-click="updateAll(true)">
          <i class="icon ion-ios-refresh-empty"></i>
        </button>
    </span>
  </div>
  </ion-header-bar>
  <ion-content>
    <div class="wallet-balance__heading" translate>All of your bitcoin wallet balance may not be available for immediate spending.</div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <img class="wallet-balance__icon" src="img/icon-sigma.svg" height="18" width="18"\>
        <div class="wallet-balance__content no-border">
          <div class="wallet-balance__title" translate>Total</div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total">
              {{status.totalBalanceStr}}
            </span>
            <div>
              <span class="wallet-balance__amount--alternative ng-binding">
                {{status.totalBalanceAlternative}} {{status.alternativeIsoCode}}
              </span>
            </div>
          </span>
        </div>
      </div>
      <div class="wallet-balance__description" translate>The total amount of bitcoin stored in this wallet.</div>
    </div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <i class="wallet-balance__icon icon ion-ios-checkmark-outline"></i>
        <div class="wallet-balance__content no-border">
          <div class="wallet-balance__title" translate>Available</div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--available">
              {{status.spendableBalanceStr}}
            </span>
            <div>
              <span class="wallet-balance__amount--alternative ng-binding">
                {{status.spendableBalanceAlternative}} {{status.alternativeIsoCode}}
              </span>
            </div>
          </span>
        </div>
      </div>
      <div class="wallet-balance__description" translate>The amount of bitcoin immediately spendable from this wallet.</div>
    </div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <img class="wallet-balance__icon" src="img/icon-confirming-clear.svg" width="18"\>
        <div class="wallet-balance__content no-border">
          <div class="wallet-balance__title" translate>Confirming</div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--confirming">
              {{status.pendingBalanceStr}}
            </span>
            <div>
              <span class="wallet-balance__amount--alternative ng-binding">
                {{status.pendingBalanceAlternative}} {{status.alternativeIsoCode}}
              </span>
            </div>
          </span>
        </div>
      </div>
      <div class="wallet-balance__description" translate>The amount of bitcoin stored in this wallet with less than 1 blockchain confirmation.</div>
    </div>
    <div class="wallet-balance__list list card" ng-show="status.lockedBalanceSat!=0">
      <div class="wallet-balance__item item">
        <img class="wallet-balance__icon" src="img/icon-lock.svg" width="18"\>
        <div class="wallet-balance__content no-border">
          <div class="wallet-balance__title" translate>Locked</div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--locked">
              {{status.lockedBalanceStr}}
            </span>
            <div>
              <span class="wallet-balance__amount--alternative ng-binding">
                {{status.lockedBalanceAlternative}} {{status.alternativeIsoCode}}
              </span>
            </div>
          </span>
        </div>
      </div>
      <div class="wallet-balance__description" translate>The amount of bitcoin stored in this wallet that is allocated as inputs to your pending transaction proposals. The amount is determined using unspent transaction outputs associated with this wallet and may be more than the actual amounts associated with your pending transaction proposals.</div>
    </div>
  </ion-content>
</ion-modal-view>
