<ion-modal-view ng-controller="walletsController">
  <ion-header-bar align-title="center" class="tab-bar">
    <div class="left-small">
      <a ng-click="cancel()" class="p10">
        <span class="text-close" translate>Close</span>
      </a>
    </div>
    <h1 class="title ellipsis">
      <span ng-show="type == 'BUY' || type == 'RECEIVE'" translate>Choose your destination wallet</span>
      <span ng-show="type == 'SELL' || type == 'SEND'" translate>Choose your source wallet</span>
    </h1>
  </ion-header-bar>

  <ion-content ng-style="{'background-color': '#F6F7F9'}">

    <div>
      <div class="box-notification text-center size-12 text-warning m10t" ng-show="error">
        <i class="fi-error"></i> {{error}}
      </div>
      <div ng-show="type == 'SELL'">
        <h4 class="title m0 oh">
          <div class="left">
            <i class="fi-info size-18 m10r"></i>
          </div>
          <div class="size-10 m5t" translate>
            Notice: only 1-1 (single signature) wallets can be used for sell bitcoin
          </div>
        </h4>
      </div>
      <div ng-show="type != 'SELL'">
        <h4 class="title m0 oh">
        </h4>
      </div>
      <ul class="no-bullet">
        <li class="line-b" ng-repeat="w in wallets">
        <a ng-click="selectWallet(w.id)" class="db oh">
          <div class="avatar-wallet"
            ng-class="{'wallet-background-color-default': !w.color}" ng-style="{'background-color':w.color}">
            <i class="icon-wallet size-21"></i>
          </div>
          <div class="ellipsis name-wallet text-bold">
            {{w.name || w.id}}
            <span class="has-error right text-light size-12" ng-show="errorSelectedWallet[w.id]">
              <i class="icon-close-circle size-14"></i>
              <span class="vm">{{errorSelectedWallet[w.id]}}</span>
            </span>
          </div>
          <div class="size-12">{{w.m}} of {{w.n}}
            <span ng-show="w.network=='testnet'">[Testnet]</span>
          </div>
        </a>
        </li>
      </ul>
      <div class="extra-margin-bottom"></div>
    </div>
  </ion-content>
</ion-modal-view>
