<action-sheet>
  <div *ngIf="wallet && wallet.isComplete() && !wallet.needsBackup && (!newAddressError || address)">
    <ion-row class="addr-header ion-align-items-center">
      <ion-col class="ion-text-left">
        <span class="addr-title" translate>
          Address
        </span>
      </ion-col>
      <div class="addr-buttons">
        <ion-button fill="clear" *ngIf="!(wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet.singleAddress)" color="primary" class="addr-update" (click)="setAddress(true)">
          <ion-text color="primary">
            <span translate>
              <ion-icon slot="icon-only" *ngIf="!loading" class="spin-icon" [ngClass]="{'spin-backwards': playAnimation}" src="assets/img/right.svg" width="12"></ion-icon>
              <div *ngIf="loading" [ngClass]="{'spin-fast': loading}" class="spinner"></div>
            </span>
          </ion-text>
        </ion-button>
      </div>
    </ion-row>
    <div *ngIf="wallet.coin === 'bch'" class="ion-padding-bottom ion-padding-left ion-padding-right">
      <ion-segment [(ngModel)]="bchAddrFormat" (ionChange)="setQrAddress()">
        <ion-segment-button value="cashAddress">
          Cash Address
        </ion-segment-button>
        <ion-segment-button value="legacy">
          Legacy
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="addr-content" [ngClass]="{'blur': showingWarning || (bchAddrFormat === 'legacy' && !disclaimerAccepted)}">
      <div class="addr-container">
        <div class="text-address ellipsis">
          <img *ngIf="address" class="copy-to-clip" copy-to-clipboard="{{ address }}" src="assets/img/paste-clipboard.svg" width="18" />
          <div *ngIf="!address" [ngClass]="{'fade-in-out': playAnimation}" class="address-text">
            <span class="address-placeholder" translate>Generating new address...</span>
          </div>
          <div *ngIf="address" [ngClass]="{'fade-in-out': playAnimation}" class="address-text ellipsis">
            <span copy-to-clipboard="{{ address }}">{{ address }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="qr-container" *ngIf="wallet && wallet?.isComplete() && !wallet?.needsBackup" [ngClass]="{'blur': showingWarning || bchAddrFormat === 'legacy' && !disclaimerAccepted}">
      <div class="prompt-user" *ngIf="newAddressError && !address">
        <div class="title-icon larger-icon">
          <img src="assets/img/ghost-straight-face.svg" />
        </div>
        <div class="title-info">
          <span translate>Something goes wrong...</span>
        </div>
        <ion-button class="button-standard" (click)="setAddress(true)">
          {{'Generate New Address' | translate}}
        </ion-button>
      </div>
      <div *ngIf="address" class="card qr-card" copy-to-clipboard="{{ address }}">
        <ngx-qrcode hide-toast="true" value="{{ address }}" cssClass="aclass" [errorCorrectionLevel]="typeErrorQr.MEDIUM"></ngx-qrcode>
      </div>
    </div>
    <div class="line-divider"></div>
    <div class="ion-text-center">
      <ion-button fill="clear" class="safe-area" (click)="dismiss()">
        {{ 'CLOSE' | translate }}
      </ion-button>
    </div>
  </div>
</action-sheet>