<action-sheet>
  <div *ngIf="wallet && wallet.isComplete() && !wallet.needsBackup && (!newAddressError || address)">
    <ion-row class="addr-header ion-align-items-center">
      <ion-col class="ion-text-left ion-no-padding">
        <span class="addr-title" translate>
          Address
        </span>
      </ion-col>
    </ion-row>

    <div class="addr-sub-title">
      <img width="20" height="12" src="assets/img/icon-warning-circled.svg" />
      {{' Depositing any other crypto asset besides {coin} to this address may result in the total loss of your funds. AbcPay is not responsible for any funds loss due to the deposit of a different asset, wallet or network. ' | translate: {coin: wallet.coin.toUpperCase() } }}
    </div>

    <div class="qr-container" *ngIf="wallet && wallet?.isComplete() && !wallet?.needsBackup" [ngClass]="{'blur': showingWarning || bchAddrFormat === 'legacy' && !disclaimerAccepted}">
      <div class="prompt-user" *ngIf="newAddressError && !address">
        <div class="title-icon larger-icon">
          <img src="assets/img/ghost-straight-face.svg" />
        </div>
        <div class="title-info">
          <span translate>Something goes wrong...</span>
        </div>
        <ion-button class="button-standard" (click)="setAddress(true)">
          {{'Generate New Address' | translate}}
        </ion-button>
      </div>
      <div *ngIf="address" class="card qr-card">

        <ion-button fill="clear" *ngIf="!(wallet?.cachedStatus && wallet?.cachedStatus.wallet && wallet?.cachedStatus.wallet.singleAddress)" class="addr-update" (click)="setAddress(true)">
          <ion-icon slot="icon-only" src="assets/img/add-refresh-light.svg"></ion-icon>
        </ion-button>
        <p copy-to-clipboard="{{ address }}">{{ address }}</p>
        <ngx-qrcode hide-toast="true" value="{{ address }}" cssClass="aclass" [errorCorrectionLevel]="typeErrorQr.MEDIUM"></ngx-qrcode>
      </div>
      <div class="action-buttons">
        <div class="action-button">
          <ion-button copy-to-clipboard="{{ address }}">
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
          <div class="ellipsis">{{ 'Copy' | translate }}</div> 
        </div>
        <div class="action-button share-button">
          <ion-button>
            <ion-icon name="share-outline"></ion-icon>
          </ion-button>
          <div class="ellipsis">{{ 'Share' | translate }}</div> 
        </div>
      </div>
    </div>
  </div>
</action-sheet>