
wallet-receive,
page-choose-fee-level {
  padding-bottom: calc(env(safe-area-inset-bottom));
  .error {
    color: var(--colors-danger);
  }
  .title {
    font-weight: 500;
    > img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .back-button {
    background-color: var(--background-color);
    display: inline-block;
    width: 100%;
    ion-icon {
      padding: 1.5rem 20px 1.5rem 20px;
      cursor: pointer;
    }
  }
  .addr-sub-title {
    font-size: 14px;
    color: rgba(28, 55, 69, 0.6);
    padding: 0 1.5rem;
    margin: 1rem 0;
    letter-spacing: 0.25px;
  }
  .addr-header {
    margin: 1rem 0;
    padding: 0 1.5rem;
    .addr-title {
      height: 30px;
      width: 86px;
      font-size: 23px;
      font-weight: 500;
      line-height: 30px;
      color: black;
    }

    .addr-update {
      height: 31px;
      width: 32px;
      background-color: #edf0fe;
      border-radius: 50%;
      margin-top: 0;
      .spin-backwards {
        animation: spin-backwards 0.5s ease-out 1;
      }
      @keyframes spin-backwards {
        from {
          transform: rotate(210deg);
        }
        to {
          transform: rotate(-360deg);
        }
      }
      .fade-in-out {
        opacity: 0.1;
      }
      @keyframes bounce-down {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(15%);
        }
        100% {
          transform: translateY(0);
        }
      }
      
      .spin-icon {
        height: 18px;
      }
      .spinner {
        float: right;
        padding-bottom: 0px;
        border: 1px solid orange;
        border-top: 1px solid red;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin: 2px;
        color: red;
        background-color: red;
      }
      .spin-fast {
        animation: spin-fast 0.3s linear infinite;
      }
      @keyframes spin-fast {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
  .addr-content {
    margin: 0 15px 15px 15px;
    .addr-container {
      text-align: center;
      font-size: 15px;
      .text-address {
        background-color: #f8f8f8;
        color: var(--color-light-grey);
        padding: 1.3rem 1rem;
        border-radius: 6px;
        position: relative;
        .address-text {
          width: 100%;
          vertical-align: middle;
          display: inline-block;
          opacity: 1;
          transition: opacity 500ms ease;
          padding-left: 30px;
          .address-placeholder {
            font-size: 14px;
            @media (max-height: 530px) {
              font-size: 11.5px;
            }
          }
        }
        .copy-to-clip {
          position: absolute;
          left: 10px;
          margin-top: 2px;
        }
      }
    }
  }
  .blur {
    filter: blur(10px);
  }
  .segment-button {
    color: black;
  }
  .safe-area {
    margin-bottom: calc(1.5rem + env(safe-area-inset-bottom));
    margin-bottom: -webkit-calc(1.5rem + env(safe-area-inset-bottom));
  }
  .qr-container {
    padding: 0 1.5rem;
    .qr-card {
      position: relative;
      border-radius: 1rem;
      padding: 1rem 2rem 0 2rem;
      .addr-update {
        --padding-start: 0;
        --padding-end: 0;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      p {
        margin: 0;
        font-size: 12px;
        text-align: center;
        color: rgba(0, 30, 46, 0.6);
      }
    }
    .action-buttons {
      margin-left: 1.5rem;
      .action-button {
        text-align: center;
        ion-button {
          --background: #D2E5F4;
          min-width: 56px;
          min-height: 56px;
          ion-icon {
            color: #0B1D28;
          }
        }
        &.share-button {
          margin-top: 2rem;
        }
        .ellipsis {
          color: #0B1D28;
        }
      }
    }
  }
  
  .loading-address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    p {
      margin: 2rem !important;
    }
  }

  ion-segment-button {
    min-height: 32px;
    &::part(indicator-background) {
      background: none !important;
      border-bottom: 2px solid var(--color-primary);
      box-shadow: none !important;
      border-radius: 0 !important;
    }
  }
}