page-wallet-details {
  .received {
    color: color($colors, primary) !important;
  }
  .balance-card {
    background: color($colors, primary);
  }
  .balance-header {
    position: relative;
    color: color($colors, light);
    height: 15rem;
    text-align: center;
  }
  .balance-str {
    cursor: pointer;
    padding-top: 5rem;
    font-size: 35px;
    font-weight: 600;
  }
  .balance-alt-str {
    font-size: 20px;
    font-weight: 500;
  }
  .balance-hidden {
    cursor: pointer;
    padding-top: 5rem;
    font-size: 20px;
    font-weight: 500;
  }
  .balance-error {
    padding: 15% 1rem 0 1rem;
  }
  .balance-spendable {
    cursor: pointer;
    ion-icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .balance-scanning {
    padding-top: 5rem;
  }
  .tx-history {
    img {
      width: 35px;
    }
    .action {
    }
    .amount {
      color: color($colors, dark);
    }
    .date {
      font-size: 12.5px;
    }
  }

  .middle-message {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .wallet-info {
    font-weight: 500;
    color: color($colors, light);
    height: 30px;
    img {
      float: left;
      margin-right: 4px;
    }
    .testnet {
      height: 2.5rem;
      width: 2.5rem;
      margin-top: 3px;
    }
    .testnet-text {
      color: color($colors, light);
      height: 3rem;
      width: 5rem;
    }
    .read-only {
      height: 3rem;
      width: 2rem;
    }
    .read-only-text {
      height: 3rem;
      width: 6rem;
    }
    .auditable-text {
      height: 3rem;
      width: 5rem;
    }
    .custom-bws {
      height: 3.2rem;
      width: 3.2rem;
    }
    .wallet-type {
      display: block;
      float: left;
      margin: 0 3px;
      padding-top: 5px;
    }
    ion-spinner {
      float: right;
      width: 20px;
      height: 20px;
      margin: 5px 5px 0 0;
      * {
        stroke: color($colors, light);
      }
    }
  }

  .total-locked-amount {
    color: color($colors, dark);
  }
  .total-alt-locked-amount {
    font-size: 12.5px;
  }
}
