page-wallet-details {
  .card.balance-card {
    background: color($colors, primary);
  }
  .balance-header {
    position: relative;
    color: color($colors, light);
    height: 13rem;
    text-align: center;
  }
  .balance-str {
    cursor: pointer;
    padding-top: 4rem;
    font-size: 35px;
    font-weight: 600;
  }
  .balance-alt-str {
    font-size: 20px;
    font-weight: 500;
  }
  .balance-hidden {
    padding-top: 5rem;
    font-size: 20px;
    font-weight: 500;
  }
  .error {
    padding: 10% 1rem 0 1rem;
  }
  .balance-spendable {
    cursor: pointer;
    ion-icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .tx-history {
    img {
      width: 40px;
    }
    .label {
      display: -webkit-inline-box;
    }
    .action {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .detail {
      position: absolute;
      right: 16px;
      text-align: end;
      .amount {
      }
      .date {
        color: color($colors, grey);
        font-size: 12.5px;
      }
    }
  }
}
