page-wallet-details {
  .header {
    color: color($colors, light);
    background-color: color($colors, primary);
  }
  .toolbar {
    background: transparent;
  }
  .bar-button {
    color: color($colors, light);
  }
  .toolbar-title {
    color: color($colors, light);
  }
  .balance-header {
    color: color($colors, light);
    background-color: color($colors, primary);
    height: 22%;
    text-align: center;
  }
  .balance-str {
   padding-top: 10%;
    font-size: 35px;
    font-weight: 600;
  }
  .balance-alt-str {
    font-size: 25px;
    font-weight: 500;
  }
  .label {
    display: -webkit-inline-box !important;
  }
  .action {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail {
    position: absolute;
    right: 40px;
    .amount {
      color: color($colors, primary);
      font-size: 16px;
    }
    .date {
      font-size: 12.5px;
    }
  }
}