page-wallet-details {
  .balance-card {
    background: color($colors, primary);
  }
  .balance-header {
    position: relative;
    color: color($colors, light);
    height: 15rem;
    text-align: center;
  }
  .balance-str {
    cursor: pointer;
    padding-top: 5rem;
    font-size: 35px;
    font-weight: 600;
  }
  .balance-alt-str {
    font-size: 18px;
    font-weight: 500;
  }
  .balance-hidden {
    cursor: pointer;
    padding-top: 5rem;
    font-size: 20px;
    font-weight: 500;
  }
  .balance-error {
    padding: 15% 1rem 0 1rem;
  }
  .balance-spendable {
    cursor: pointer;
    ion-icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .balance-scanning {
    padding-top: 5rem;
  }
  .tx-history {
    img {
      width: 35px;
    }
    .action {
    }
    ion-note {
      text-align: end;
    }
    .amount {
      color: color($colors, dark);
      .received {
        color: color($colors, primary);
      }
    }
    .date {
      font-size: 12.5px;
    }
  }

  .middle-message {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .wallet-info {
    font-weight: 500;
    color: color($colors, light);
    height: 2.5rem;
    padding-left: 0.5rem;
    span {
      margin: 0 3px;
      padding-top: 2px;
      float: left;
    }
    img {
      float: left;
    }
    .testnet {
      height: 2.5rem;
      width: 2.5rem;
    }
    .testnet-text {
      height: 2.5rem;
      width: 4.5rem;
      margin-right: 5px;
    }
    .read-only {
      height: 2.5rem;
      width: 1.5rem;
      margin-right: 5px;
    }
    .read-only-text {
      height: 2.5rem;
      width: 5rem;
      margin-right: 5px;
    }
    .auditable-text {
      height: 2.5rem;
      width: 5rem;
    }
    ion-spinner {
      float: right;
      width: 20px;
      height: 20px;
      * {
        stroke: color($colors, light);
      }
    }
  }

  .total-locked-amount {
    color: color($colors, dark);
  }
  .total-alt-locked-amount {
    font-size: 12.5px;
  }
}
