exchange-rates {
  .average-container {
    text-align: center;
    height: 21px;
    float: right;
    &.negative-avg {
      color: #BA1B1B;
      border-radius: 50vh;
    }
    &.possitive-avg {
      color: #37A372;
      border-radius: 50vh;
    }
    .average {
      font-size: 12px;
      line-height: 19px;
      height: 21px;
      font-weight: 500;
    }
  }
  
  .estimate-product {
    margin: 0;
    text-align: right;
    padding-right: 20px;
    font-style: italic;
    font-size: smaller;
    color: #bd9452;
  }
  
  .estimate-sign {
    font-size: smaller;
    color: #bd9452;
  }
  .bp-list {
    padding-top: 0;
    padding-bottom: 0;
    ion-item:not(.align-with-button){
      --padding-start: 0.5rem !important;
      --padding-end: 0 !important;
      --inner-padding-end: 1rem;
      padding-left: 0;
      img {
        width: 40px;
        height: 40px;
        margin: 1rem 1rem 1rem 0.5rem;
      }
      ion-note {
        margin: 0;
      }
      .main-label {
        letter-spacing: 0.1px;
      }
      .secondary-label {
        margin-top: 4px;
        letter-spacing: 0.4px;
      }
    }
  }
}


