#view-add {
  .item {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top:2rem;
    padding-bottom: 2rem;
    border:none;
    padding-left:90px;

    &:first-child {
      margin-top: 25px;
    }
  }
  .add-type {
    color: $v-dark-gray;
  }
  .bg{
    background-color: $v-icon-color;
    height: 50px;
    width: 50px;
    padding:4px;
    &.join{
      padding:10px;
    }
  }
}
