#add-address {
  .zero-state-cta {
    padding-bottom: 3vh;
  }
  .list {
    background-color: #fff;
  }
  .qr-scan-icon a {
    z-index: 10;
    display: block;
    position: absolute;
    top: 164px;
    right: 0;
    padding: 0 10px;
    font-size: 24px;
    cursor: pointer;
    line-height: 155px;
  }
  .icon {
    &.valid {
      padding-top: 3px;
      color: #13E5B6;
    }
    &.invalid {
      padding-top: 3px;
      color: #DF2121;
    }
  }
  .add-address-input-group {
    background-color: #fff;
    .item-stacked-label {
      padding: 1rem;
    }
    .input-label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .add-address-list {
    .item {
      color: $dark-gray;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      &.item-divider {
        color: $mid-gray;
        padding-bottom: .5rem;
        font-size: .9rem;
      }
    }
    .item-note {
      color: $light-gray;
    }
  }
}
#view-address-book {
  @extend .deflash-blue;
  .scroll {
    height:100%;
  }
  .list {
    .item {
      color: #444;
      border-top: none;
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-divider {
        color: rgba(74, 74, 74, .8);
      }
      &.item-heading {
        &:before {
          top: 99%
        }
      }
      &.item-icon-left{
        padding-left:80px;
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
      .item-note {
        color: rgb(58, 58, 58);
      }
      .big-icon-svg {
        padding: 0 7px;
        > .bg {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          box-shadow: none;
          background-repeat: no-repeat;
          background-clip: padding-box;
          background-size: 103%;
          &.green {
            background: rgb(1, 209, 162);
          }
        }
      }
    }
  }
}

#address-book-view {
  .bar.bar-royal {
    border: 0 transparent;
  }
  .gravatar-content {
    position: relative;
    height: 70px;
    border-color: $royal;
    background-color: $royal;
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .address-book-field-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: block;
    color: $mid-gray;
  }
}
