#view-amount {
  .recipient-label {
    font-size: 14px;
    padding-bottom: 0;
    color: $v-mid-gray;
  }
  .item-no-bottom-border + .item {
      border-top: 0;
  }
  .icon-bitpay-card {
    background-image: url("../img/icon-bitpay.svg");
  }
  .icon-amazon {
    background-image: url("../img/icon-amazon.svg");
  }
  @media(max-width: 480px) {
    .bitcoin-address {
      .icon {
        left: 8px;
        font-size: 24px;
      }
      .big-icon-svg {
        left:5px;
        & > .bg{
          width:30px;
          height:30px;
          box-shadow: none;
        }
      }
      font-size: 13px;
      padding-left: 48px;
    }
  }
  @media(max-width: 320px) {
    .bitcoin-address {
      & > span:last-child {
        margin-left: -2px;
      }
    }
  }
  .send-gravatar {
    left: 11px;
    position: absolute;
    top: 10px;
  }
  .amount-pane-recipient {
    position: absolute;
    top: 95px;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 16px;

    .amount-bar {
      padding: 24px 0;
      font-size: 18px;
      @media(max-height: 480px) {
        padding: 0px;
      }
      @media(max-width: 320px) {
        padding: 0px;
      }
      .title {
        float: left;
        padding-top: 10px;
        color: $v-dark-gray;
        font-weight: bold;
        @media(max-height: 480px) {
          padding: 0px;
        }
      }
      @media(max-height: 480px) {
        padding-top: 3px;
      }
    }
    .amount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      position: absolute;
      bottom: 254px;
      top: 66px;
      .light {
        color: $v-light-gray;
      }
      @media(max-height: 480px) {
        top: 45px;
      }
      @media(max-width: 320px) {
        bottom: 276px;
        top: 60px;
        & > div {
          display: inline-block;
        }
        & > div:first-child {
          display: inherit;
        }
      }
    }
  }
  .amount-pane-no-recipient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 16px;

    .amount-bar {
      padding: 24px 0;
      font-size: 18px;
      .title {
        padding-top: 10px;
        color: $v-dark-gray;
        font-weight: bold;
        .limits {
          margin-top: 10px;
          color: $v-light-gray;
          font-size: 12px;
        }
        .select {
          margin: 10px 1px;
        }
      }
    }
    .amount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      position: absolute;
      bottom: 254px;
      top: 66px;
      .light {
        color: $v-light-gray;
      }
    }
  }
  .amount {
    .icon-toggle {
      font-size: 1.2em;
      width: auto;
      margin: 0.8em auto;
      border: 1px solid $v-subtle-gray;
      color: $v-dark-gray;
      border-radius: 3px;
      padding: 0 10px;
      cursor: pointer;
      @media(max-height: 280px) {
        margin: 0.1em auto;
      }
    }
    &__editable {
      &--minimize {
        font-size: 22px;
      }
      &--standard {
        font-size: 42px;
        @media(max-height: 480px) {
          font-size: 26px;
          padding-top: 10px;
        }
      }
      &--placeholder {
        color: $v-light-gray;
      }
    }
    &__number {
      color: $v-dark-gray;
    }
    &__currency-toggle {
      border: 1px solid $v-subtle-gray;
      color: $v-dark-gray;
      border-radius: 3px;
      padding: 0 10px;
      cursor: pointer;
      font-size: .6em;
      position: relative;
      top: -3px;
      line-height: 1;
      @media(max-width: 320px) {
        line-height: 30px;
        height: 30px;
      }
    }
    &__results {
      &--minimize {
        font-size: 12px;
      }
      &--standard {
        font-size: 18px;
        padding: 10px 0;
      }
      &--placeholder {
        color: $v-light-gray;
      }
    }
    &__result {
      color: $v-light-gray;
      font-size: .9em;
      //margin-bottom: -.9em;  TODO matias
      line-height: 1;
      @media(max-height: 480px) {
        margin-bottom: 0;
      }
    }
    &__result-equiv {
      color: $v-mid-gray;
      font-size: 1.2em;
      @media(max-height: 480px) {
        margin-top: 0;
        font-size: 16px;
      }
    }
  }
  .keypad {
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $v-mid-gray;

    .row {
      padding: 0 !important;
      margin: 0 !important;
    }

    .col {
      line-height: 45px;
    }

    .operator {
      background-color: $v-subtle-gray;
      font-weight: normal;
      cursor: pointer;

      &:active {
        background-color: $v-light-gray;
      }
    }

    .operator-send {
      font-weight: bolder;
      color: #fff;
      background-color: $positive;
      font-size: 36px;
      cursor: pointer;

      &:active {
        background-color: #eaeaea;
      }
    }

    .digit{
      cursor: pointer;
      border-top: 1px solid $v-subtle-gray;
      border-left: 1px solid $v-subtle-gray;
      &:active {
        background-color: $v-subtle-gray;
      }
    }

    @media(max-height: 480px) {
      font-size: 12px;

    }
  }
}
