#bitpayCardPreferences {
  .item {
	  .item-title {
	    display: block;
	  }
	  .item-subtitle {
	  	display: block;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
	  	color: $light-gray;
	  	font-size: 14px;
	  }
	  &.item-icon-right {
		  .icon-hotspot {
				right: 0px;
				padding-left: 11px;
				padding-right: 11px;
		  }
	  }
  }
}
