#buy-and-sell {
  .explain {
    text-align: center;
    margin-top: 1em;
  }
  .buy-and-sell-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: $v-icon-border-radius;
    box-shadow: $v-subtle-box-shadow;
    background-color: #fa912b;
    img {
      height: 100%;
      width: 100%;
      content: $v-bitcoin-icon;
      background-color: $v-bitcoin-orange;
      border-radius: $v-icon-border-radius;
    }
  }
  .explain {
    &-heading {
      font-size: 20px;
      margin: 1rem;
    }
    &-description {
      margin-left: auto;
      margin-right: auto;
      opacity: .6;
      max-width: 300px;
      padding: 0 1em;
      font-size: 0.9em;
    }
  }
  .item-note {
    color: $v-light-gray;
  }
}
