#changelly-iframe {
  overflow-y: hidden;
  border: none;
  width: 100%;
  height: 500px;
  position: relative;
  @media (max-width: 600px) {
    width: 600px;
    height: 500px;
    margin-bottom: 20px;
    -webkit-transform: scale(0.8);
    left: -30%;
    margin-top: -13.2%;
    margin-bottom: -12%;
  }
  @media (min-width: 461px) and (max-width: 599px) { //iphone landscape
    width: 600px;
    height: 460px;
    margin-bottom: 20px;
    -webkit-transform: scale(0.88);
    left: -7%;
    margin-top: -4.4%;
    margin-bottom: -6%;
  }
  @media(min-width: 391px) and (max-width: 460px) { //nexus 5/6p
    width: 600px;
    height: 500px;
    margin-bottom: 20px;
    -webkit-transform: scale(0.78);
    left: -29%;
    margin-top: -15.6%;
    margin-bottom: -16%;
  }
  @media(min-width: 360px) and (max-width: 390px) { // samsung s5
    width: 600px;
    height: 500px;
    margin-bottom: 20px;
    -webkit-transform: scale(0.68);
    left: -40%;
    margin-top: -25.6%;
    margin-bottom: -26%;
  }

  @media(min-width: 320px) and (max-width:359px) { //iphone
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
    -webkit-transform: scale(0.63);
    left: -55%;
    margin-top: -27.2%;
    margin-bottom: -31%;
  }
}

#changelly-loader {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

#home-changelly {
  margin-bottom: 20px;
}

#tab-changelly{
  @extend .deflash-blue;

  .icon-create-wallet {
    background-color: #4A90E2; // default wallet color
  }
  .icon-buy-bitcoin {
    background-image: $v-bitcoin-icon;
    background-color: $v-bitcoin-orange;
  }
  .bg {
    &.wallet {
      padding: .25rem
    }
  }
  .card {
    .item {
      color: #444;
      border-top:none;
      padding-bottom: 1rem;
      padding-top:1rem;
      &.item-extra-padding {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
    .item-sub {
      &:first-child:before {
        width: 95%
      }
      &:before {
        display: block;
        position: absolute;
        width: 75%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top:0;
        right:0;
        content:'';
        @media (min-width: 450px){
          &{
            width:90%;
          }
        }
      }
    }
  }
  .wallet-details__item.item {
    padding-top: 0;
    padding-bottom: 0;

    .wallet-details__tx-icon {
      background: #fff;
      border-radius: 50px;
    }
  }
  .next-step.item {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .homeTip {
    text-align: center;
    & > .item-heading {
      margin-top: 10px;
      background: 0 none;
    }
    .item {
      border-style: none;
    }
    & > .title {
      font-size: 20px;
      font-weight: bold;
      color: $v-dark-gray;
      margin: 20px 10px;
    }
    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      color: $v-dark-gray;
      margin: 20px 3em 1.5em;
    }
    .big-icon-svg{
      .bg.green{
        padding: 0 10px;
        box-shadow: none;
      }
    }
  }
  .icon.close-home-tip {
    color: #666;
    font-size: 38px;
  }
  .tab-home {
    &__logo {
      height: 18px;
      position: relative;
      top: 3px;
    }
    &__wallet {
      &__multisig-number {
        font-size: .8rem;
        font-weight: 300;
        color: $v-light-gray;
      }
      &__status-icon {
        font-size: 18px;
        margin-left: 5px;
        position: relative;
        top: 1px;
        color: $v-light-gray;
      }
    }
  }
  .release {
    text-align: center;
    .item {
      width: 100%;
    }
    .title {
      font-weight: 700;
      color: #444;
    }
    .button {
      width: 100%;
      border: none;
    }
    .big-icon-svg {
      > .bg {
        box-shadow: none;
      }
      padding-top: 2rem;
      padding-bottom: 0;
    }
  }

  .badge {
    top:11px;
  }

  //
  //  Receive tab scss
  //

  .incoming-data-menu__url {
      background: rgba(203, 203, 203, 0.13);
      padding: 0.5rem 2rem;
      border-radius: 30px;
      align-items: center;
      margin-bottom: .5rem;
      width: 90%;
      margin-left: 5%;
  }
  .incoming-data-menu__url__icon {
    width: 20px;
    vertical-align: middle;
  }
  .button-share {
    color: #fff;
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 0 10px;
    .icon:before {
      font-size: 26px;
    }
  }
  .button-request {
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 12px;
    color: $v-text-accent-color;
    i.icon {
      vertical-align: middle;
      padding-left: 5px;
    }
  }
  .button-address {
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 12px;
    color: $v-text-accent-color;
  }
  .address {
    background: #fff;
    overflow: auto;
    height: 100%;
    &-info {
      // padding-top: 22vh;
      // padding-bottom: 17vh;
      padding-top: 20px;
      padding-bottom: 15px;
      // @media(max-height: 800px) {
      //   padding-top: 17vh;
      // }
      // @media(max-height: 700px) {
      //   padding-top: 14vh;
      // }
      // @media(max-height: 600px) {
      //   padding-top: 7vh;
      // }
      text-align: center;
      .address-label {
        margin-top: 5%;
        font-size: 13px;
      }
    }
    .incomplete {
      .title {
        padding-top: 10%;
        font-size: 25px;
        color: #444;
        text-align: center;
      }
      .subtitle {
        padding: 20px;
        color: #444;
        margin-top: 10%;
        text-align: center;
      }
    }
  }
  .backup {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    background-color: $wallet-backup-warning-color;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    i {
      margin: 0 10px;
    }
  }
  .wallet-selector {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}
