// #view-confirm {
//   .icon-bitpay-card {
//     background-image: url("../img/icon-bitpay.svg");
//   }
//   .slide-to-pay{
//     bottom: 92px;
//   }
//   .send-gravatar {
//     left: 11px;
//     position: absolute;
//     top: 10px;
//   }
//   .accept-slide {
//      position: fixed;
//      bottom: 0;
//      width: 100%;
//      height: 100px;
//      background-color: #647CE8;
//      color: #ffffff;
//      font-size: 25px;
//      text-align: center;
//      padding-top: 34px;
//      line-height: 32px;
//   }
//   .accept-slide i {
//     float: right;
//     font-size: 32px;
//     margin-right: 20px;
//   }
// }

#view-confirm {
  $border-color: #EFEFEF;
  height: auto;
  .wallet-selector {
    .wallet {
      border: 0;
      padding-right: 0;
      padding-top: 0;
      padding-left: 65px;
      padding-bottom: 0;
      margin-bottom: 1px;

      > i {
        padding: 0;
        margin-left: -5px;

        > img {
          height: 39px;
          width: 39px;
          padding: 4px;
        }
      }
    }
    .wallet-details {
      position: relative;
      padding-top: 16px;
      padding-bottom: 16px;

      .wallet-name {
        padding-bottom: 5px;
      }

      .wallet-balance {
        color: #3A3A3A;
        font-family: "Roboto-Light";
      }

      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: $border-color;
        bottom: 0;
        right: 0;
        content: '';
      }
    }
  }
}
