#view-confirm {
  background-color: #ffffff;
  @extend .deflash-blue;
  .icon-amazon {
    background-image: url("../img/icon-amazon.svg");
  }
  .tx-details-content > .scroll {
    padding-bottom: .25rem;
  }
  .gravatar-contact {
    display: flex;
    margin-left: -3px;
    span {
      margin: 5px 0 0 8px;
    }
  }
  .wallet-name {
    margin-top: -3px;
  }
}
