#dead-view {
  @mixin img-frame {
    height: 60px;
    width: 60px;
    box-shadow: none;
    margin: auto;
  }
  .img-container-copay {
    padding: 20%;
    .big-icon-svg {
      > .bg {
        @include img-frame;
        background-image: url("../img/icon-fingerprint-copay.svg");
      }
    }
  }
  .img-container-bitpay {
    padding: 20%;
    .big-icon-svg {
      > .bg {
        @include img-frame;
        background-image: url("../img/icon-fingerprint-bitpay.svg");
      }
    }
  }
  .comments {
    text-align: center;
    .header {
      font-size: 20px;
    }
    .text-content {
      width: 90%;
      margin: 5% auto;
    }
  }
}
