#import {
  .top-tabs.row {
    padding: 0;
  }
  .top-tabs .col {
    font-size: 14px;
    cursor: pointer;
    padding: 10px 5px;
    border-bottom-width: 2px;
    border-bottom-color: $v-top-tabs-color;
  }
  .qr-scan-icon a {
    z-index: 10;
    display: block;
    position: absolute;
    top: 14px;
    right: 0;
    padding: 0 10px;
    font-size: 24px;
    cursor: pointer;
  }
  .qr-icon {
    line-height: 45px;
  }
}
