#join {
  .qr-scan-icon a {
    z-index: 10;
    display: block;
    position: absolute;
    top: 115px;
    right: 0;
    padding: 0 10px;
    font-size: 24px;
    cursor: pointer;
    line-height: 45px;
  }
  .item-stacked-label .icon {
    padding: 0px;
    margin: 0px;
  }
  .icon {
    &.valid {
      padding-top: 3px;
      color: $v-success-color;
    }
    &.invalid {
      padding-top: 3px;
      color: #DF2121;
    }
  }
}
