#pin-code {
  background-color: #FAFAFA;
  .bar.bar-clear {
    background-color: transparent;
    border: none;
    .back-button .icon:before {
      color: #2d3f50;
    }
  }
  .content {
    text-align: center;
    width: 100%;
    height: 100%;
    .row .col {
      margin: 10px;
      height: 25px;
    }
    .app-icon {
      margin-top: -55px;
      .big-icon-svg {
        > .bg {
          background-image: url("../img/app/icon.png");
          height: 60px;
          width: 60px;
          margin: auto;
        }
      }
    }
    .block-text {
      align-items: center;
      background-color: #F1F1F1;
      text-align: center;
      height: 30%;
      border-bottom: 1px solid #c5c5c5;
      span {
        width: 60%;
        margin: 10% auto;
      }
    }
    .block-code {
      width: 300px;
      margin: auto;
      padding: 0 50px 0 50px;
    }
    .block-buttons {
      .row {
        padding: 3%;
      }
      @media (max-height: 480px) {
        .row {
          padding: 2%;
        }
      }
      cursor: pointer;
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 100%;
    }
  }
  .circle {
  	border: 1px solid #666666;
  	border-radius: 50%;
  	opacity: 0.6;
  	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  	width: 5px;
  	height: 5px;
  	transition: background-color .1s ease-in-out;
  }
  .filled {
  	background-color: #666666;
  }
}
