#tab-receive {
  .button-share {
    color: #fff;
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 0 10px;
    .icon:before {
      font-size: 26px;
    }
  }
  .button-request {
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 12px;
    color: $v-text-accent-color;
    i.icon {
      vertical-align: middle;
      padding-left: 5px;
    }
  }
  .button-address {
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 12px;
    color: $v-text-accent-color;
  }
  .address {
    background: #fff;
    overflow: auto;
    height: 100%;
    &-info {
      padding-top: 22vh;
      padding-bottom: 17vh;
      @media(max-height: 800px) {
        padding-top: 17vh;
      }
      @media(max-height: 700px) {
        padding-top: 14vh;
      }
      @media(max-height: 600px) {
        padding-top: 7vh;
      }
      text-align: center;
      .address-label {
        margin-top: 5%;
        font-size: 13px;
      }
    }
    .incomplete {
      .title {
        padding-top: 10%;
        font-size: 25px;
        color: #444;
        text-align: center;
      }
      .subtitle {
        padding: 20px;
        color: #444;
        margin-top: 10%;
        text-align: center;
      }
    }
  }
  .backup {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    i {
      margin: 0 10px;
    }
  }
  .wallet-selector {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
