.settings {
  @extend .deflash-blue;
  .icon-bitpay {
    background-image: url("../img/icon-bitpay.svg");
  }
  .warning {
    color: $v-warning-color;
  }
  .centered {
    width: 100%;
    text-align: center;
  }
  .disabled {
    color: $v-light-gray;
  }
  .item {
    color: $v-dark-gray;
    border-color: rgba(221, 221, 221, 0.3);
  }
  .has-comment {
    border-bottom: 0 none;
  }
  .comment {
    padding: 15px;
    background-color: #fff;
    font-size:0.9em;
    color: $v-mid-gray;
    .text {
      padding-left: 25px;
    }
    .icon {
      position: absolute;
      img {
        width: 20px;
      }
    }
  }
  &-explanation, &-button-group {
    padding: 0 1rem;
    margin: 1rem 0;
  }
  &-heading {
    font-size: 17px;
    color: $v-dark-gray;
    margin: 1rem 0;
  }
  &-description {
    color: $v-mid-gray;
    margin: 1rem 0;
    font-size: 0.9em;
  }
  &-description-disabled {
    font-size: 0.9em;
    color: cadetblue;
    text-decoration: none;
  }
  .setting-title, .setting-value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .setting-value {
    color: $v-light-gray;
    font-size: 14px;
  }
  .settings-input-group {
    background-color: #fff;
    .item-stacked-label {
      padding: 1rem;
    }
    .input-label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }
 .settings-list {
    .item {
      color: $v-dark-gray;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      &.has-setting-value {
        padding-top: .65rem;
        padding-bottom: .65rem;
      }
      &.item-divider {
        color: $v-mid-gray;
        padding-bottom: .5rem;
        font-size: .9rem;
      }
      .icon {
        color: $v-light-gray;
      }
    }
    .item-note {
      color: $v-light-gray;
    }
    .item-toggle .toggle,
    .item-button-right > .button {
      top: 16px;
    }
    .item-button-right > .button {
      font-size: 16px;
    }
 }
 input[type="password"] {
   border: none;
   margin-left: -5px;
   padding-left: 4px;
   &.incorrect {
    margin-right: 10px;
    border: 1px solid;
    color: #C90505;
   }
   &.correct {
    margin-right: 10px;
    border: 1px solid;
    color: #00901B;
   }
 }
}

#tab-settings {
  .list {
    .item {
      .big-icon-svg {
       & > .bg{
        width:20px;
        height:20px;
        border-radius: 0;
        box-shadow: none;
       }
       &.circle{
          left:8px;
          .bg {
            border-radius: $v-icon-border-radius;
            width: 25px;
            height: 25px;
            padding:.1rem;
            box-shadow: 0px 1px 5px rgba($v-mid-gray, .1);
          }
        }
      }
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-heading {
        &:before {
          top: 99%
        }
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
    }
  }
  .item-radio .radio-icon {
    font-size: 18px;
  }
}

#settings-fee {
  .estimates {
    min-height: 6rem;
    font-size: 15px;
    color: $v-dark-gray;
    margin-bottom: .5rem;
  }
  .fee-minutes, .fee-rate {
    font-weight: bold;
  }
  .fee-policies {
    border-color: #fff;
    border-style: solid;
  }
}
.settings-color-name {
  margin-left: 1rem;
}
.settings-color-block {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  float: left; // we don't want these indicators to affect their container's sizing
}

#settings-tos {
  p {
    margin-bottom: 1rem;
  }
}
