.settings {
  .item {
    color: #444;
    border-color: rgba(221, 221, 221, 0.3);
  }
}

#tab-settings {
  .setting-title, .setting-value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .setting-value {
    color: $light-gray;
    font-size: 14px;
  }
  .list {
    .item {
      color: #444;
      border-top: none;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      .big-icon-svg {
       & > .bg{
        width:20px;
        height:20px;
        border-radius: 0;
        box-shadow: none;
       }
       &.circle{
          left:8px;
          .bg {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding:.1rem;
          }
        }
      }
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-divider {
        color: $mid-gray;
        padding-bottom: .5rem;
        font-size: .9rem;
      }
      &.item-heading {
        &:before {
          top: 99%
        }
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
    }
  }
  .item-radio .radio-icon {
    font-size: 18px;
  }
}
