.settings {
  .item {
    color: $dark-gray;
    border-color: rgba(221, 221, 221, 0.3);
  }
  &-explaination, &-button-group {
    padding: 0 1rem;
    margin: 1rem 0;
  }
  &-heading {
    font-size: 17px;
    color: $dark-gray;
    margin: 1rem 0;
  }
  &-description {
    font-size: 15px;
    color: $mid-gray;
    margin: 1rem 0;
  }
  &-description-disabled {
    color: cadetblue;
  }
  .setting-title, .setting-value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .setting-value {
    color: $light-gray;
    font-size: 14px;
  }
  .settings-input-group {
    background-color: #fff;
    .item-stacked-label {
      padding: 1rem;
    }
    .input-label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }
 .settings-list {
    .item {
      color: $dark-gray;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      &.item-divider {
        color: $mid-gray;
        padding-bottom: .5rem;
        font-size: .9rem;
      }
    }
 }
}

#tab-settings {
  .list {
    .item {
      .big-icon-svg {
       & > .bg{
        width:20px;
        height:20px;
        border-radius: 0;
        box-shadow: none;
       }
       &.circle{
          left:8px;
          .bg {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding:.1rem;
            box-shadow: 0px 1px 5px rgba($mid-gray, .1);
          }
        }
      }
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-heading {
        &:before {
          top: 99%
        }
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
    }
  }
  .item-radio .radio-icon {
    font-size: 18px;
  }
}

#settings-fee {
  .estimates {
    font-size: 15px;
    color: $dark-gray;
  }
  .fee-minutes, .fee-rate {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
  }
  .fee-policies {
    border-color: #fff;
    border-width: 2px 0;
    border-style: solid;
  }
}
.settings-color-name {
  margin-left: 1rem;
}
.settings-color-block {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  float: left; // we don't want these indicators to affect their container's sizing
}

#settings-tos {
  p {
    margin-bottom: 1rem;
  }
}
