#tab-receive {
  .address {
    background: #fff;
    height: 65vh;
    @media(max-height: 600px) and (max-width: 320px) {
      height: 70vh;
      .button {
        min-height: 50px;
      }
    }
    &-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      .address-label {
        margin-top: 5%;
        font-size: 13px;
      }
      .qr {
        position: relative;
        top: 15%;
      }
      .backup {
        background-color: orange;
        color: #fff;
        position: absolute;
        z-index: 2;
        i {
          padding: 10px;
        }
      }
      .request-button {
        padding-top: 20px;
      }
    }
    .incomplete {
      height: 100%;
      .title {
        margin-top: 10%;
        font-size: 25px;
        color: #444;
        text-align: center;
      }
      .subtitle {
        padding: 20px;
        color: #444;
        margin-top: 20%;
        text-align: center;
      }
      .button {
        margin-top: 20%;
      }
    }
  }
}
