#tab-send {
  .bitcoin-address {
    @media(max-width: 480px) {
      input {
        font-size: 12px;
      }
    }
    .icon {
      line-height: 31px;
        padding-top: 2px;
        padding-bottom: 1px;
    }
  }
  .send-gravatar {
    left: 11px;
    position: absolute;
    top: 10px;
  }
  .show-more {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #387ef5;
    font-weight: bold;
  }
}
