#tab-send {
  @extend .deflash-blue;
  .input {
    input {
      width: 100%;
      height: auto;
    }
    &.item {
      height: 55px;
    }
    i {
      &.left {
        padding-left: 15px;
      }
      &.qr {
        cursor: pointer;
        cursor: hand;
        padding-right: 5px;
      }
    }
  }
  .qr-scan-icon {
    cursor: pointer;
    cursor: hand;
    border-left: 1px solid rgb(228, 228, 228);
    padding-left: 10px;
  }
  .qr-icon {
    line-height: 20px;
  }
  .zero-state-cta {
    padding-bottom: 3vh;
    left: 0;
  }
  .send-heading {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 16px 0;
    border: none;
  }
  .send-header-wrapper {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #cccccc;
  }
  .send-private-toggle, .send-next-button {
    margin-top: 10px;
  }
  .search-wrapper {
    background-color: #f2f2f2;
    border-radius: 3px;
    border: none;
    .svg#Bitcoin_Symbol {
      width: 14px;
      .st0 {
        fill: #cccccc;
      }
    }
    &.focus {
      background: none;
      .svg#Bitcoin_Symbol {
        display: none;
      }
      .search-input {
        padding-left: 0;
        &:focus::-webkit-input-placeholder {
          opacity: 0;
        }
      }
    }
  }
  .abs-v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   }
  .search-input {
    background-color: transparent;
    padding-left: 30px;
  }
  .separator-left {
    border-left: 1px solid #d9d9df;
    padding-left: 10px;
    height: 70%;
  }
  .bitcoin-address {
    border-top: none;
    padding-bottom: .5rem;
    @media(max-width: 480px) {
      input {
        font-size: 14px;
      }
    }
    .icon {
      line-height: 31px;
        padding-top: 2px;
        padding-bottom: 1px;
    }
  }
  .show-more {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #387ef5;
    font-weight: bold;
  }
  .sendTip {
    text-align: center;
    & > .item-heading {
      margin-top: 10px;
      background: 0 none;
    }
    img {
      content: $v-tab-send-selected-icon;
    }
    .item {
      border-style: none;
    }
    & > .title {
      font-size: 20px;
      font-weight: bold;
      color: $v-dark-gray;
      margin: 20px 10px;
    }
    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      color: $v-dark-gray;
      margin: 20px 1em 2.5em;
    }
    .big-icon-svg{
      .bg.green{
        padding: 0 10px;
        box-shadow: none;
      }
    }
  }
  .list {
    .item {
      color: #444;
      border-top: none;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      .big-icon-svg {
        left:5px;
       & > .bg{
        width:30px;
        height:30px;
        box-shadow: none;
       }
      }
      &:before {
        display: block;
        position: absolute;
        width: 80%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
      }
      &.item-divider {
        color: rgba(74, 74, 74, .8);
      }
      &.item-heading {
        &:before {
          top: 99%;
          width:100%;
        }
      }
      &:nth-child(2) {
        &:before {
          width: 0;
        }
      }
      .item-note {
        color: rgb(58, 58, 58);
      }
    }
  }
  .scroll{height: 100%;}
}
