#tab-home {
  .icon-create-wallet {
    background-image: url("../img/icon-wallet.svg");
    background-color: #4A90E2; // default wallet color
  }
  .icon-buy-bitcoin {
    background-image: url("../img/icon-bitcoin.svg");
  }
  .icon-bitpay-card {
    background-image: url("../img/icon-card.svg");
    background-color: #1e3186;
  }
  .icon-gift {
    background-image: url("../img/icon-gift.svg");
  }
  .card{
    .item {
      color: #444;
      border-top:none;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      &:before {
        display: block;
        position: absolute;
        width: 86%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top:0;
        right:0;
        content:'';
        @media (min-width: 450px){
          &{
            width:90%;
          }
        }
      }
      &.item-heading{
        &:before{
          width:100% !important;
          top:99%
        }
      }
      &:nth-child(1){
        &:before{
          width:0;
        }
      }
      &:nth-child(2):last-child{
        &:before{
          width:0;
        }
      }
    }
  }

  .next-step {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .homeTip {
    .item {
      border-style: none;
    }
    div {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .subtitle{
      margin-left: 25px;
      margin-right: 25px;
      font-size: 18px;
      font-weight: 100;
    }
    .big-icon-svg{
      .bg.green{
        padding: 0 10px;
      }
    }
  }
}
