#tab-home {
  .icon-create-wallet {
    background-color: #4A90E2; // default wallet color
  }
  .icon-buy-bitcoin {
    background-image: $v-bitcoin-icon;
    background-color: $v-bitcoin-orange;
  }
  .icon-bitpay-card {
    background-image: url("../img/icon-card.svg");
    background-color: #1e3186;
  }
  .icon-gift {
    background-image: url("../img/icon-gift.svg");
  }
  .icon-amazon {
    background-image: url("../img/icon-amazon.svg");
  }
  .icon-shapeshift {
    background-image: url("../img/icon-shapeshift.svg");
  }
  .icon-ml {
    background-image: url("../img/mercado-libre/icon-ml.svg");
    background-position: center;
    background-size: 85%;
  }
  .bg {
    &.wallet {
      padding: .25rem
    }
  }
  .card {
    .item {
      color: #444;
      border-top:none;
      padding-bottom: 1rem;
      padding-top:1rem;
      &.item-extra-padding {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
    .item-sub {
      &:first-child:before {
        width: 95%
      }
      &:before {
        display: block;
        position: absolute;
        width: 75%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top:0;
        right:0;
        content:'';
        @media (min-width: 450px){
          &{
            width:90%;
          }
        }
      }
    }
  }
  .wallet-coin-logo {
    vertical-align: middle;
    margin-right: 5px;
  }
  .wallet-details__item.item {
    padding-top: 0;
    padding-bottom: 0;

    .wallet-details__tx-icon {
      background: #fff;
      border-radius: 50px;
    }
  }
  .next-step.item {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .homeTip {
    text-align: center;
    & > .item-heading {
      margin-top: 10px;
      background: 0 none;
    }
    .item {
      border-style: none;
    }
    & > .title {
      font-size: 20px;
      font-weight: bold;
      color: $v-dark-gray;
      margin: 20px 10px;
    }
    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      color: $v-dark-gray;
      margin: 20px 3em 2.5em;
    }
    .big-icon-svg{
      .bg.green{
        padding: 0 10px;
        box-shadow: none;
      }
    }
  }
  .icon.close-home-tip {
    color: #666;
    font-size: 38px;
  }
  .tab-home {
    &__logo {
      height: 18px;
      position: relative;
      top: 3px;
    }
    &__wallet {
      &__multisig-number {
        font-size: .8rem;
        font-weight: 300;
        color: $v-light-gray;
      }
      &__status-icon {
        font-size: 18px;
        margin-left: 5px;
        position: relative;
        top: 1px;
        color: $v-light-gray;
      }
    }
  }
  .important-message {
    text-align: center;
    .item {
      width: 100%;
    }
    .title {
      font-weight: 700;
      color: #444;
    }
    .alert {
      font-weight: 900;
      font-size: 22px;
      color: #f5a623;
    }
    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 20px;
      z-index: 10;
      cursor: pointer;
      .icon {
        font-size: 32px;
        color: gray;
      }
    }
    .button {
      width: 100%;
      border: none;
    }
    .big-icon-svg {
      > .bg {
        box-shadow: none;
      }
      padding-top: 2rem;
      padding-bottom: 0;
    }
  }

  .badge {
    top:11px;
  }
}
