.tabs .tab-item {
  .icon {
    background-repeat: no-repeat;
    background-position: center;
    margin: 6px 0 2px;
    &.ico-home {
      background-image: $v-tab-home-icon;
    }
    &.ico-home-selected {
      background-image: $v-tab-home-selected-icon;
    }
    &.ico-receive {
      background-image: $v-tab-receive-icon;
    }
    &.ico-receive-selected {
      background-image: $v-tab-receive-selected-icon;
    }
    &.ico-settings {
      background-image: $v-tab-settings-icon;
    }
    &.ico-settings-selected {
      background-image: $v-tab-settings-selected-icon;
    }
    &.ico-scan {
      background-image: $v-tab-scan-icon;
    }
    &.ico-scan-selected {
      background-image: $v-tab-scan-selected-icon;
    }
    &.ico-send {
      background-image: $v-tab-send-icon;
    }
    &.ico-send-selected {
      background-image: $v-tab-send-selected-icon;
    }
  }
}

#tab-home, #tab-send {
  .card, .list {
    & > .item-heading {
      font-weight: 700;
      .icon {
        color: $v-mid-gray;
      }
    }
  }
}
