.tabs .tab-item {
    .icon {
        background-repeat: no-repeat;
        background-position: center;
        margin: 6px 0 2px;
        &.ico-home {
            background-image: $v-tab-home-icon;
            background-size: contain;
        }
        &.ico-home-selected {
            background-image: $v-tab-home-selected-icon;
            background-size: contain;
        }
        &.ico-receive {
            background-image: $v-tab-receive-icon;
            background-size: contain;
        }
        &.ico-receive-selected {
            background-image: $v-tab-receive-selected-icon;
            background-size: contain;
        }
        &.ico-settings {
            background-image: $v-tab-settings-icon;
            background-size: contain;
        }
        &.ico-settings-selected {
            background-image: $v-tab-settings-selected-icon;
            background-size: contain;
        }
        &.ico-scan {
            background-image: $v-tab-scan-icon;
            background-size: contain;
        }
        &.ico-scan-selected {
            background-image: $v-tab-scan-selected-icon;
            background-size: contain;
        }
        &.ico-send {
            background-image: $v-tab-send-icon;
            background-size: contain;
        }
        &.ico-send-selected {
            background-image: $v-tab-send-selected-icon;
            background-size: contain;
        }
    }
}

#tab-home,
#tab-send {
    .card,
    .list {
        &>.item-heading {
            font-weight: 700;
            .icon {
                color: $v-mid-gray;
            }
        }
    }
}