.wallet-details {
  &__tx-amount {
    font-size: 16px;
    &--recent {
      color: $v-mid-gray;
      font-weight: bold;
    }
    &--received {
      color: #09C286;
    }
    &--sent {
      color: $v-dark-gray;
    }
  }
  &__tx-time {
    white-space: nowrap;
    color: $v-light-gray;
    font-size: 12.5px;
  }
  &__tx-title {
    flex-grow: 1;
    color: $v-dark-gray;
    overflow: hidden;
  }
  &__tx-icon {
    float: left;
    margin-right: 25px;
  }
  &__tx-message {
    margin-right: 1rem;
  }

  &__list {

  }

  .item {
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    padding-left: 1rem;

    &.proposal {
      position: relative;
    }

    &__marker {
      position: absolute;
      height: 100%;
      width: 3px;
      background: #F5A623;
      left: 0;
    }
  }

  &__tx-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1rem 0;
    padding-right: 1rem;
    border-bottom: 1px solid rgb(245, 245, 245);
    overflow: hidden;

    &.no-border {
      border: 0;
    }
  }

  &__tx-amount {
    white-space: nowrap;
  }

  &__group-label {
    font-size: 14px;
    font-weight: 300;
    color: #727272;
    padding: 1rem;
    background: #f8f8f9;
  }
}

#walletDetails {
  background: #F8F8F9;

  .scroll-refresher {
    z-index: 1;
    margin-top: 3.5rem;
  }

  .ionic-refresher-content {
    color: white !important;

    .spinner svg {
      stroke: white;
      fill: white;
    }
  }

  .bp-content {
    position: relative;
    height: 100%;

    &.status-bar {
      margin-top: 20px;
    }
  }
  .bar-header {
    border: 0;
    background: none;
    .title, .button {
      color: #fff;
    }
    .button {
      background-color: transparent;
    }
  }
  .nav-bar-block, .bar {
  background-color: inherit !important;
  }
  ion-content {

    &.collapsible {
      margin-top: 210px;
    }

    padding-top: 0;
    top: 0;
    .scroll {
      background: rgb(248, 248, 249);
      min-height: 300px;
    }
  }
  .amount-wrapper {
    position: relative;
    overflow: visible;

    .amount-bg {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 500px;
      -webkit-transform: translateY(-499px);
      transform: translateY(-499px);

      &.collapsible {
        top: initial;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 200px;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
    }
  }
  .amount {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 210px;
    padding-top: 40px;
    display: block;
    align-items: center;
    justify-content: center;

    &.collapsible {
      margin-bottom: 10px;
    }

    &__balance {
      -webkit-transform: scale3d(1, 1, 1) translateY(45px);
      transform: scale3d(1, 1, 1) translateY(45px);
    }

    &__updating {
      z-index: 999;
      margin-top: -2.1rem;
    }

    &-alternative {
      line-height: 36px;
    }

    &__button-balance {
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.25);
    }

  }
  .item.item-footer {
    font-weight: lighter;
  }
  .tx-search:before {
    font-size: 22px !important;
  }
  .description {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 13px;
    color: $v-mid-gray;
  }
  .low-fees {
    .comment {
      color: $v-mid-gray;
      font-size: 12.5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 25px;
    }
    img {
      position: absolute;
      margin-top: 3px;
    }
  }
}

.wallet-details-wallet-info {
  position: absolute;
  top: inherit;
  left: 10px;
  bottom: 5px;
  font-size: 20px;
  color: #fff;
  width:95%;
}

.wallet-not-backed-up-warning {
  background: $wallet-backup-warning-color;
  text-align: center;
  color: white;
  font-size: 14px;
  display: block;
  text-decoration: none;
  z-index: 9999;
  position: relative;
  padding: 2px 5px;
}

a.item {
  cursor: pointer;
}

.recent svg {
  margin-left:5px;
  width:0.7em;
  height:0.7em;
  stroke: #eee;
}

.updatingHistory {
  color: $v-dark-gray;
  font-size:0.9em;
}
