.wallet-details {
  &__tx-amount {
    font-size: 16px;
    &--recent {
      color: $mid-gray;
      font-weight: bold;
    }
    &--received {
      color: #30af6c;
    }
    &--sent {
      color: $dark-gray;
    }
  }
  &__tx-time {
    color: $light-gray;
  }
  &__tx-title {
    padding-top: 10px;
    color: $dark-gray;
  }
  &__tx-icon {
    float: left;
    margin-right: 10px;
  }
}

#walletDetails {
  .bar-header {
    border: 0;
    background: none;
    .title, .button {
      color: #fff;
    }
    .button {
      background-color: transparent;
    }
  }
  .nav-bar-block, .bar {
  background-color: inherit !important;
  }
  .amount {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem 1.5rem 1rem;
    color: #fff;
    height: 140px;
    margin-bottom: 10px;

    &-alternative {
      line-height: 36px;
    }

    strong {
      line-height: 100%;
    }
  }
  .item.item-footer {
    font-weight: lighter;
  }
  .tx-search:before {
    font-size: 22px !important;
  }
}

.wallet-details-wallet-info {
  position: absolute;
  top: inherit;
  left: 10px;
  bottom: 15px;
  font-size: 20px;
  color: #fff;
}
