#wallet-backup-phrase {
  h3 {
    padding: 15px;
  }
  .button-confirm {
    margin-top: 1rem;
  }
  .password-required {
    padding: 1rem;
  }
  .password-prompt {
    background-color: $subtle-gray;
    padding: 2rem;
    .explanation {
      padding: 0 1rem;
      margin: 1rem 0;
    }
    .description {
      text-align: center;
      font-size: 15px;
      color: #000;
      margin: 1rem 0;
    }
    input {
      width: 100%;
      padding: 1rem;
    }
  }
  .bar.bar-royal .title {
      font-size: 1rem;
  }
  background: #fff;
  text-align: center;
  .backup-phrase {
    background-color: $subtle-gray;
    margin: auto;
    border: 2px dashed darken($subtle-gray, 10%);
    border-radius: $subtle-radius;
    color: #2b2b2b;
    text-align: center;
    max-width: 500px;
    min-height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-content {
      font-weight: bold;
      line-height: 2;
      font-size: 16px;
      letter-spacing: 1px;
      @media (min-width: 575px) {
        font-size: 18px;
        padding: 3rem;
      }
      &-word-readonly {
        padding: 0 1px;
        @media (min-width: 575px) {
          padding: 0 6px;
        }
      }
    }
  }
  &-step-1 {
    height: 70%;
    color: $dark-gray;
    .initial-prompt {
      padding: 2.3rem;
      @media(max-height: 480px) {
        padding: 2rem;
      }
    }
    .tldr-prompt {
      padding-bottom: 3rem;
      @media(max-height: 480px) {
        height: 30%;
        padding-bottom: 1rem;
        font-size: 14px;
      }
      @media(max-height: 550px) {
        padding-bottom: 1rem;
      }
    }
  }
  &-step-2 {
    display: block;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    .confirmation-prompt {
      padding: 3rem;
      @media(max-height: 480px) {
        padding: 1rem;
      }
    }
    #select-phrase {
      background: $subtle-gray;
      .select-word {
        &.button[disabled] {
          background: transparent !important;
          box-shadow: none !important;
          color: transparent;
          border: 1px solid rgb(211, 211, 211);
        }
      }
      &-content {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        .tldr-prompt {
          font-weight: bold;
          padding: 1rem;
          @media(max-height: 480px) {
            padding: 0.5rem;
            font-size: 14px;
          }
        }
      }
      .cta-buttons {
        padding-bottom: 0;
      }
    }
    .select-word {
      background: #fff;
      box-shadow: $subtle-box-shadow;
      display: inline-block;
      margin: 3px 0;
      min-height: 35px;
      line-height: 33px;
      padding: 0 8px;
      @media (min-width: 400px) {
        margin: 4px 3px;
        padding: 0 16px;
      }
      @media(max-height: 480px) {
        font-size: 14px;
      }
    }
    .tldr-prompt {
      padding-bottom: 3rem;
      @media(max-height: 480px) {
        height: 30%;
        padding-bottom: 1rem;
        font-size: 14px;
      }
    }
  }
  &-step-3 {

  }
  .cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 5vh;
    @media(max-height: 480px) {
      padding-bottom: 3vh;
    }
  }
  ion-content.has-tabs{
    // TODO: review
    .cta-buttons{
      bottom:110px;
    }
    .cta-buttons, #select-phrase{
      bottom:110px;
    }
  }
}
