#walletDetails {
  .bar-header {
    border: 0;
    .title, .button {
      color: #fff;
    }
    .button {
      background-color: transparent;
    }
  }

  .amount {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem 1.5rem 1rem;
    color: #fff;
    min-height: 115px;
    margin-bottom: 10px;

    &-alternative {
      line-height: 36px;
    }

    strong {
      line-height: 100%;
    }
  }
}
