page-fingerprint {
  ion-content {
    height: 100%;
    .fingerprint-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      background: url(../../../assets/img/bg-lock-screen-light.svg) no-repeat;
      background-size: cover;
      .fingerprint-button {
        width: 100%;
        .button-standard  {
          font-weight: 600 !important;
          font-size: 14px !important;
          line-height: 20px;
          letter-spacing: 0.1px;
          background: #00658D !important;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
          border-radius: 100px;
          color: #FFF;
        }
      }
      &.fingerprint-bg-dark {
        background: url(../../../assets/img/bg-lock-screen-dark.svg) no-repeat !important;
        background-size: cover !important;
      }
    }
  }
}