page-fingerprint {
  ion-content {
    height: 100%;
    .fingerprint-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      background: url(../../../assets/img/bg-lock-screen-light.svg) no-repeat;
      background-size: cover;
      .fingerprint-button {
        width: 100%;
        text-align: center;
        margin-bottom: 7rem;
        .unlock-btn {
          margin-top: 2rem;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1px;
          color: #001E2E;
        }
      }
      &.fingerprint-bg-dark {
        background: url(../../../assets/img/bg-lock-screen-dark.svg) no-repeat !important;
        background-size: cover !important;
      }
    }
  }
}