/*
 * Copay Distribution SCSS overrides
 */

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1abb9b,
  secondary:  #31465b,
  warning:    #EBA133,
  danger:     #bb331a,
  success:    #7BC94D,
  light:      #f4f4f4,
  dark:       #222,
);

