/*
 * Copay Distribution SCSS overrides
 */

/* Colors */
$v-primary-color:                                    #192c3a;
$v-secondary-color:                                  #31465b;
$v-accent-color:                                     #1abb9b;

$v-text-primary-color:                               #192c3a;
$v-text-secondary-color:                             #c2c9d1;
$v-text-accent-color:                                #1abb9b;

$v-success-color:                                    #1abb9b;
$v-warning-color:                                    #bb331a;

/* Theme */ 
$v-default-wallet-color-index:                       6;
$v-top-tabs-color:                                   $v-accent-color;
$v-wallet-backup-phrase-color:                       $v-text-primary-color;
$v-wallet-backup-select-phrase-color:                $v-secondary-color;
$v-wallet-backup-select-word-bg:                     $v-accent-color;
$v-wallet-backup-select-word-color:                  $v-text-primary-color;
$v-wallet-backup-select-word-disabled-color:         $v-accent-color;
$v-tou-bg:                                           $v-secondary-color;
$v-tou-color:                                        $v-text-secondary-color;
$v-icon-border-radius:                               3px;
$v-bitcoin-icon:                                     url('../img/app/icon-bitcoin.svg');

$v-button-primary-outline-active-color:              $v-text-primary-color;

$v-button-secondary-bg:                              $v-secondary-color;
$v-button-secondary-color:                           $v-accent-color;
$v-button-secondary-active-bg:                       darken($v-secondary-color, 10%);
$v-button-secondary-clear-color:                     $v-accent-color;
$v-button-secondary-outline-border:                  $v-accent-color;
$v-button-secondary-outline-color:                   $v-accent-color;
$v-button-secondary-outline-active-bg:               darken($v-accent-color, 10%);
$v-button-secondary-outline-active-color:            $v-accent-color;

/* Slide */

$v-slide-bg-color:                                   $v-accent-color;
$v-slider-bg-color:                                  #069074;
$v-slide-text-color:                                 #FFFFFF;

/* Onboarding */
$v-onboarding-welcome-bg:                            none;
$v-onboarding-color:                                 $v-text-secondary-color;
$v-onboarding-bar-header-color:                      $v-text-primary-color;
$v-onboarding-bar-header-button-color:               $v-accent-color;

$v-onboarding-tour-phone-bg:                         url(../img/app/onboarding/tour-phone.svg);
$v-onboarding-tour-currency-bg:                      url(../img/app/onboarding/tour-currency.svg);
$v-onboarding-tour-control-bg:                       url(../img/app/onboarding/tour-control.svg);
$v-onboarding-push-notification-bg:                  url(../img/app/onboarding/push-notifications.svg);
$v-onboarding-backup-warning-bg:                     url(../img/app/backup-warning.svg);

$v-onboarding-button-back-color:                     $v-accent-color;

$v-onboarding-button-secondary-bg:                   $v-secondary-color;
$v-onboarding-button-secondary-color:                $v-accent-color;
$v-onboarding-button-secondary-active-bg:            darken($v-secondary-color, 10%);
$v-onboarding-button-secondary-clear-color:          $v-accent-color;
$v-onboarding-button-secondary-outline-border:       $v-accent-color;
$v-onboarding-button-secondary-outline-color:        $v-accent-color;
$v-onboarding-button-secondary-outline-active-bg:    darken($v-accent-color, 10%);
$v-onboarding-button-secondary-outline-active-color: $v-accent-color;

/* Main tabs */
$v-tab-home-selected-icon:                           url('../img/app/tab-icons/ico-home-selected.svg');
$v-tab-receive-selected-icon:                        url('../img/app/tab-icons/ico-receive-selected.svg');
$v-tab-settings-selected-icon:                       url('../img/app/tab-icons/ico-settings-selected.svg');
$v-tab-scan-selected-icon:                           url('../img/app/tab-icons/ico-scan-selected.svg');
$v-tab-send-selected-icon:                           url('../img/app/tab-icons/ico-send-selected.svg');
