page-join-wallet {
  .line-divider {
    margin: 0 !important;
  }
  .mat-form-field {
    padding: unset !important;
  }
  .toolbar-title {
    color: #edeff0;
  }
  form {
    margin: 18px;
    margin-bottom: 120px;
    .wallet-info-container {
      background: #fafafb;
      padding: 23px 1rem 36px 1rem;
      border-radius: 12px;
      .wallet-invitation-mat-form-field {
        margin-top: 43px;
      }
    }
    ion-item {
      margin-left: 0px;
    }
    .advance-button {
      width: 100%;
      --background: #fafafb;
      --background-activated: none;
      color: #001e2e;
      margin: 0px;
      margin-top: 32px;
      --border-radius: 8px;
      --padding-top: 16px;
      --padding-bottom: 16px;
      --padding-start: 16px;
      --box-shadow: none !important;
      span {
        text-align: left;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
      }
      ion-icon {
        width: 12px;
      }
    }
    .open-advance {
      --border-radius: 8px 8px 0px 0px;
    }
    .show-advance-option {
      padding: 0px 16px;
      background: #fafafb;
      border-radius: 0px 0px 8px 8px;

      ion-item {
        padding-top: 23px;
      }
      .wallet-key-ion-item {
        --background: transparent;
        --padding-start: 0;
        padding-bottom: 28px;
      }
      .wallet-service-url-mat-form-field {
        padding-top: 23px !important;
      }
      .mat-form-field {
        padding-bottom: 28px !important;
      }
    }
  }

  .scanner-icon {
    z-index: 99;
    font-size: 20px;
    color: var(--color-primary);
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .erase-icon {
    padding-bottom: 3px;
  }

  .check {
    font-size: 22px;
    display: flex;
    height: 100%;
    width: 22px;
    height: 22px;
    padding-left: 10px;
    padding-bottom: 4px;
    &.success {
      color: var(--color-success);
    }
    &.fail {
      color: var(--color-danger);
    }
  }

  .linked-wallet {
    .item-inner {
      border-bottom: 0px !important;
    }
  }
  .last-item {
    margin-left: auto !important;
  }
}
