page-wallet-balance {
  .balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    .title {
      display: flex;
      align-items: center;
      img,
      > ion-icon {
        height: 18px;
        width: 18px;
        margin-right: 1.5rem;
      }
    }
    .balance {
      text-align: end;
      .available {
        color: color($colors, success);
      }
      .confirming,
      .locked {
        color: color($colors, warning);
      }
      .fiat {
        color: color($colors, light-grey);
        font-size: 12.5px;
      }
    }
  }
}
