page-wallet-group-settings {
  .item-text {
    font-size: 12.5px;
  }

  ion-item-divider.item.item-divider {
    padding-left: 16px;
  }

  .settings-color-block {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 1rem;
    background-color: color($colors, primary);
  }

  .item-without-title {
    margin-top: 0;
  }

  .settings-list {
    .item {
      border: 0;
    }

    ion-item.item,
    button.item {
      padding: 12px 0 12px 22px;
      border-bottom: 0;

      .item-inner {
        margin-left: 8px;

        ion-note.note {
          background: #f4f5fb;
          color: #565d6d;
          font-weight: 300;
          padding: 6px 10px;
          border-radius: 4px;
        }
        ion-note.note.wallet-warning {
          background: none;
          color: #e56c7b;
        }
      }

      &:last-child {
        &:after {
          width: 100%;
        }
      }
    }

    .add-account-button {
      @include center;
      background: #f4f5fb;
      color: #5f7bf7;
      border-radius: 7px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      width: 92%;
      margin: 15px auto;
      margin-top: 0;
      height: 73px;
    }
  }
}
