page-wallet-group-settings {
  .wide-header {
    .toolbar-background {
      background: white;
    }

    ion-title .toolbar-title {
      font-weight: 400;
    }

    &__title {
      color: black;
      font-size: 25px;
      font-weight: 500;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 20px;

      .subtitle {
        font-size: 16px;
        padding: 0;
        margin-top: 10px;
        font-weight: 100;
      }
    }

    ion-navbar {
      .ios & {
        padding-top: 3rem; // Fix iOS 10.3
        padding-top: calc(6px + env(safe-area-inset-top));

        ion-title {
          padding-top: 3rem; // Fix iOS 10.3
          padding-top: env(safe-area-inset-top);
        }
      }
    }

    &.cordova {
      ion-navbar {
        .ios & {
          padding-bottom: 7px;
        }
      }
    }
  }

  .item-text {
    font-size: 12.5px;
  }

  ion-item-divider.item.item-divider {
    padding-left: 16px;
  }

  .settings-color-block {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 1rem;
    background-color: color($colors, primary);
  }

  .item-without-title {
    margin-top: 0;
  }

  .icon-wallet {
    margin-right: 0px;
  }

  ion-icon.item-img {
    min-width: 36px !important;
  }

  .bp-list {
    ion-item-divider {
      margin-top: 0px;
      padding: 12.5px 0px 12.5px 20px;
      background: #f8f8f9;
      &.bp-list-title {
        padding: 2px 0 2px 16px;
      }
    }
  }
}
