wallet-mnemonic-recover {

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .mnemonicPhraseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

.mnemonic-title {
  display: block;
  align-self: center;
  font-size: 20px;
  text-align: center;
}

.mnemonic-word-container {
  display: block;
  text-align: justify;
  margin: 10px;
}